<ul class="edit-page-nav">
    <li *ngFor="let item of model | async" data-testId="menuListItems">
        <div *ngIf="!item.needsEntepriseLicense; then basic; else enterprise"></div>
        <ng-template #basic>
            <a
                (click)="item.action ? item.action(pageState.page.inode) : ''"
                [ngClass]="{
                    'edit-page-nav__item--disabled': item.disabled,
                    'edit-page-nav__item--active': item.link
                        ? item.link.startsWith(this.route.snapshot.firstChild.url[0].path)
                        : null
                }"
                [queryParams]="route.queryParams | async"
                [routerLink]="!item.disabled && item.link ? ['./' + item.link] : null"
                class="edit-page-nav__item"
                pTooltip="{{ item.tooltip }}">
                <dot-icon [name]="item.icon" size="32"></dot-icon>
                <span class="edit-page-nav__item-text" data-testId="menuListItemText">
                    {{ item.label }}
                </span>
            </a>
        </ng-template>
        <ng-template #enterprise>
            <span
                [pTooltip]="'editpage.toolbar.nav.license.enterprise.only' | dm"
                class="edit-page-nav__item edit-page-nav__item--disabled"
                tooltipPosition="left">
                <dot-icon [name]="item.icon" size="32"></dot-icon>
                <span class="edit-page-nav__item-text" data-testId="menuListItemText">
                    {{ item.label }}
                </span>
            </span>
        </ng-template>
    </li>
</ul>
<dot-page-tools-seo [currentPageUrlParams]="currentUrlParams" #pageTools></dot-page-tools-seo>
