@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

$nav-size: 80px;

:host {
    background-color: colors.$color-palette-gray-200;
    border-left: solid 1px colors.$color-palette-gray-300;
    display: flex;
    flex-shrink: 0;
    order: 2;
    width: $nav-size;
    transition: background-color $basic-speed ease-in;

    &.portlet-content,
    &.portlet-layout,
    &.portlet-rules,
    &.portlet-experiments {
        top: $toolbar-height + $dot-secondary-toolbar-main-height;
    }

    &.edit-page-variant-mode {
        background-color: colors.$color-palette-primary-200;

        a:hover {
            background-color: colors.$color-palette-primary-100;
        }
    }
}

.edit-page-nav {
    @include mixins.naked-list;
    width: 100%;
}

.edit-page-nav__item {
    align-items: center;
    color: colors.$color-palette-gray-800;
    display: flex;
    flex-direction: column;
    font-size: fonts.$font-size-xs;
    height: $nav-size;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $basic-speed ease-in;

    dot-icon {
        margin-bottom: spacing.$spacing-1;
    }

    &:hover {
        background-color: colors.$color-palette-gray-200;
    }

    & > .fa {
        font-size: fonts.$font-size-sm;
        margin-bottom: 8px;
    }

    &--disabled,
    &--disabled:hover {
        background-color: transparent;
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.edit-page-nav__item--active {
    background-color: colors.$white;
    color: colors.$black;
    pointer-events: none;
    border-bottom: 1px solid colors.$color-palette-gray-300;
    border-top: 1px solid transparent;
}

.edit-page-nav li:not(:first-child) .edit-page-nav__item--active {
    border-color: colors.$color-palette-gray-300;
}
