@if ($moreThanOneSite() || asField()) {
    <p-select
        #select
        [ngModel]="$currentSite()"
        (ngModelChange)="updateCurrentSite($event)"
        [options]="$sitesList()"
        (onChange)="onSiteChange($event)"
        (onShow)="onSelectShow()"
        (onHide)="hide.emit()"
        [filter]="true"
        [checkmark]="true"
        [virtualScroll]="true"
        [virtualScrollItemSize]="34"
        [virtualScrollOptions]="$virtualScrollOptions()"
        optionLabel="hostname"
        [style]="{ width: width() }"
        [styleClass]="'site-selector__field ' + (cssClass() || '')"
        appendTo="body"
        class="site-selector__select"></p-select>
} @else {
    <span class="site-selector__title">{{ $currentSite()?.hostname }}</span>
}
