@use "variables" as *;
@import "mixins";

.site-selector__title {
    font-size: $font-size-lmd;
}

.site-selector__modal {
    @include box_shadow(2);
    background-color: $white;
    color: $black;
    display: block;
    left: 50%;
    padding: 40px 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
