@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";

.site-selector__title {
    font-size: fonts.$font-size-lmd;
}

.site-selector__modal {
    @include mixins.box_shadow(2);
    background-color: colors.$white;
    color: colors.$black;
    display: block;
    left: 50%;
    padding: 40px 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
