@use "variables" as *;

:host {
    cursor: move;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-3;
    position: relative;

    dot-icon-button-tooltip {
        position: absolute;
        right: 0;
        top: $spacing-1;
    }

    hr {
        background: $gray;
        border: 0;
        bottom: 0;
        height: 1px;
        margin: 0;
        position: absolute;
        width: 100%;
    }
}

$tab-name-height: 32px;

.tab__label {
    border-color: $gray $gray $gray-bg $gray;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    cursor: text;
    font-size: $font-size-small;
    height: $tab-name-height;
    line-height: $tab-name-height;
    min-width: 100px;
    padding: 0 $spacing-1;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-right: $spacing-9;
    overflow: hidden;
    word-wrap: break-word;

    &:focus {
        outline-width: 0;
    }
}
