@use "variables" as *;

@import "dotcms-theme/utils/theme-variables";
@import "mixins";

:host {
    position: relative;

    &.d-secondary {
        .p-button {
            border: none;

            &:hover,
            &:active,
            &:focus {
                border: none;
                box-shadow: none;
                background: $bg-hover;
            }

            &::ng-deep {
                .p-button-label {
                    margin-right: 0;
                }
            }
        }
    }

    .p-button {
        border: 1px solid $input-border-color;
        padding-left: $spacing-2;
        padding-right: $spacing-2;
        border-radius: 2px;
        background: none;
        text-align: left;

        .p-fluid & {
            /*
            We have to use important because in the component we have a 300px default value for
            the element as inline styles, but when the parent have .fluid we need to enforce 100%
            */
            width: 100% !important;
        }

        &:hover,
        &:focus,
        &:active {
            border-color: $input-border-color-hover;
            background: none;
        }

        &:focus,
        &:active {
            box-shadow: $input-inset-shadow;
        }

        &::ng-deep {
            .p-button-label {
                margin-right: 2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .p-button-label,
            .p-button-icon {
                font-weight: normal;
                color: $black;
                text-transform: none;
            }
        }
    }
}

::ng-deep {
    .p-overlaypanel.paginator {
        .p-dataview-content {
            margin-bottom: $spacing-9;
        }

        .p-paginator-bottom {
            @include paginator-bottom-absolute;
        }
    }

    .searchable-dropdown .p-overlaypanel-content {
        padding: $spacing-3 0;
    }
}

.searchable-dropdown__data-list ::ng-deep {
    .p-dataview {
        position: unset;
    }

    .p-dataview-content {
        width: 100%;

        .searchable-dropdown__data-list-item {
            cursor: pointer;
            display: block;
            line-height: normal;
            padding: $spacing-1 $spacing-3;
            transition: background-color $basic-speed ease-in;
            width: 100%;

            @include truncate-text;

            &.selected {
                font-weight: bold;
            }

            &:hover {
                background-color: $bg-hover;
            }
        }
    }

    .p-dataview-emptymessage {
        padding: 1em;
    }
}

.searchable-dropdown__search-section {
    flex-grow: 1;
    position: relative;

    input.searchable-dropdown__search-inputfield {
        width: 100%;
    }
}

.searchable-dropdown__search {
    display: flex;
    margin: 0 $spacing-3;
    position: relative;
}

.searchable-dropdown__search-icon {
    color: $gray;
    position: absolute;
    right: $spacing-1;
    top: 9px;
}

.searchable-dropdown__search-action {
    margin-left: $spacing-3;
}
