@import url("Grid.css");

.blank .dojoxGrid {
	background-color: #e9e9e9;
	font-size: 0.85em; /* inherit font-family from dojo.css */
}

/* master messages */

.blank .dojoxGridMasterMessages {
	background-color: #fefefe;
}

.blank .dojoxGridLoading, 
.blank .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}

.dijitRtl .blank .dojoxGridLoading, 
.dijitRtl .blank .dojoxGridError,
.dijitRtl .blank .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}

.blank .dojoxGridLoading {
	background-image: url('../../../dijit/themes/tundra/images/loading.gif');
}

.blank .dojoxGridError {
	background-image: url('../../../dijit/themes/tundra/images/warning.png');
}

/* header */

.blank .dojoxGridHeader {
	background-color:  #e9e9e9;
}

.blank .dojoxGridHeader .dojoxGridCell { 
	border-width: 1px;
	padding-bottom: 0px;
	border-color: transparent #ACA899 #919191 transparent;
	background:  #ECECEC repeat-x top;
	color: #555 !important;
}

.blank .dojoxGridHeader .dojoxGridCellOver {
/* 	background: url(../../../dijit/themes/tundra/images/tabHover.png) #e9e9e9 repeat-x top; */
	color: #000 !important;
}
.blank .dojoxGridHeader .dojoxGridCellFocus {
	border-color: #ACA899 #919191;
	border-style: dashed;
}
.blank .dojoxGridArrowButtonChar {
	float: right;
	display: none;
}
.blank .dojoxGridArrowButtonNode {
	display: block !important;
	padding-left: 0px;
	float: right;
	background:url("../../../dijit/themes/tundra/images/spriteArrows.png") no-repeat left center;
	width: 7px;
	height: 1em;
	margin: 2px 4px 0px 5px;
}
.dj_ie6 .blank .dojoxGridArrowButtonNode {
	background-image:url("../../../dijit/themes/tundra/images/spriteArrows.gif");
	margin-left: 0px;
}

.blank .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .blank .dojoxGridArrowButtonNode {
	display: none !important;
}

/* content */

.blank .dojoxGridScrollbox {
background-color: #fefefe;
}

/* rowbar */

.blank .dojoxGridRowbar { 
	border: none;
	background: url(images/tabEnabled_rotated.png) #e9e9e9 repeat-y right;
	border-right: 1px solid #ccc;
	padding: 0px;
}

.blank .dojoxGridRowbarInner {
	border: none;
	border-bottom: 1px solid #ccc;
}

.blank .dojoxGridRowbarOver {
	background: url(images/tabHover_rotated.png) #e9e9e9 repeat-y right;
}

.blank .dojoxGridRowbarSelected {
	background: url(../../../dijit/themes/tundra/images/tabDisabled.png) #D8E8F9 no-repeat center;
	border-right: 1px solid #ccc;
}

/* rows */

.blank .dojoxGridRow {
	border: none;
	background-color: white;
}

.blank .dojoxGridRowOver {
}

.blank .dojoxGridRowOver .dojoxGridCell {
	background-color: #E0E9F6; 
}

.blank .dojoxGridRowOver .dojoxGridCell .dijit {
	color: #000;
}

.blank .dojoxGridRowOver .dojoxGridCell .dijitDisabled {
	color: gray;
}

.blank .dojoxGridRowOdd {
	background-color: #fff;
}

.blank .dojoxGridRowSelected {
	background-color: #aec7e3 !important;
}

.dijit_a11y .blank .dojoxGridRowSelected { 
    background-color: #aec7e3;     
    border-style: solid;     
}   

/* cells */

.blank .dojoxGridCell {
	border: 0px;
}

.dj_ff2 .blank .dojoxGridCell {
	border-left-width: 0px;
	border-top-width: 0px;
}

.dj_ie6 .blank .dojoxGridCell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.blank .dojoxGridCellFocus {
	border: 1px dashed darkblue !important;
}

.blank .dojoxGridCellOver {
	border: 1px dotted #a6a6a6;
}

.blank .dojoxGridCellFocus .dojoxGridCellOver {
	border: 1px dashed darkblue !important;
}

/* editing */

/* FIXME: these colors are off! */
.blank .dojoxGridRowEditing td {
	/* background-color: #F4FFF4; */
	background-color: #60a1ea; 
	/* padding: 0px 3px 0px 3px; */
}

.blank .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.blank .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.blank .dojoxGridRow-error td {
	background-color: #F8B8B6;
}

/* Drag and Drop */

.blank .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.blank .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}

/* Tree Grid */
.blank .dojoxGridExpando {
	float: left;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-top: -3px;
}
.dijitRtl .blank .dojoxGridExpando {
	float: right;
}
.blank .dojoxGridExpandoCell {
	padding-top: 5px;
}
.blank .dojoxGridExpandoNode {
	height: 18px;
	background-image: url('../../../dijit/themes/tundra/images/treeExpand_plus.gif');
}
.blank .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background-image: url('../../../dijit/themes/tundra/images/treeExpand_minus.gif');		
}
.blank .dojoxGridExpandoLoading .dojoxGridExpandoNode {
	background-image: url('../../../dijit/themes/tundra/images/treeExpand_loading.gif');		
}
.blank .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpando {
	visibility: visible !important;
	width: 18px !important;
}
.blank .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode {
	background-image: url('../../../dijit/themes/tundra/images/treeExpand_leaf.gif');
	background-position: -3px;
}
.blank .dojoxGridExpandoNodeInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridExpandoNodeInner {
	visibility: visible;
}
		
.blank .dojoxGridSummaryRow .dojoxGridCell {
	border-top-color: #999;
	border-top-style: solid;
}
.blank .dojoxGridSpacerCell,
.blank .dojoxGridExpandoCell,
.blank .dojoxGridSummaryRow .dojoxGridSpacerCell {
	border-color: transparent;
	border-right-color: #D5CDB5;
}
.blank .dojoxGridSummaryRow .dojoxGridTotalCell,
.blank .dojoxGridRowCollapsed .dojoxGridExpandoCell,
.blank .dojoxGridTreeModel .dojoxGridExpandoCell {
	border-bottom-color: #D5CDB5;
}
.blank .dojoxGridSubRowAlt {
	background-color: #F8F8F8;
}
.blank .dojoxGridRowOdd .dojoxGridSubRowAlt {
	background-color: white;
}
