<p-multiSelect
    (onChange)="handleChange($event.value)"
    [(ngModel)]="value"
    [defaultLabel]="messagesKey['dot.common.select.workflows']"
    [disabled]="disabled"
    [maxSelectedLabels]="3"
    [options]="options$ | async"
    appendTo="body"
    optionLabel="name"
    dataKey="id"
>
    <ng-template let-workflow pTemplate="item">
        <span class="workflow__label" [class.workflow__archive-label]="workflow.value.archived">{{
            workflow.label
        }}</span>
        <span *ngIf="workflow.value.archived" class="workflow__archive-message"
            >({{ messagesKey['dot.common.archived'] }})</span
        >
    </ng-template>
</p-multiSelect>
