<p-multiSelect [options]="options | async" [defaultLabel]="dotMessageService.get('dot.common.select.workflows')" [maxSelectedLabels]="1" (onChange)="handleChange($event)" [(ngModel)]="value" [disabled]="disabled">
    <ng-template let-item pTemplate="item">
        <span class="workflow__label" [class.workflow__archive-label]="isWorkflowArchive(item.value)">{{item.label}}</span>
        <span *ngIf="isWorkflowArchive(item.value)" class="workflow__archive-message">({{dotMessageService.get('dot.common.archived')}})</span>
    </ng-template>
</p-multiSelect>