<div class="dot-service-integration-configuration__container">
    <div class="dot-service-integration-configuration__header">
        <dot-avatar
            [size]="112"
            [url]="serviceIntegration.iconUrl"
            [label]="serviceIntegration.name"
        ></dot-avatar>
        <div class="dot-service-integration-configuration__data">
            <span class="dot-service-integration-configuration__service-name">
                {{ serviceIntegration.name }}
            </span>
            <div class="dot-service-integration-configuration__service-key">
                {{ messagesKey['service.integration.key'] }}
                <dot-copy-button
                    [copy]="serviceIntegration.key"
                    [label]="serviceIntegration.key"
                ></dot-copy-button>
            </div>
            <span class="dot-service-integration-configuration__configurations"
                >{{
                    serviceIntegration.configurationsCount
                        ? serviceIntegration.configurationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
            <div
                class="dot-service-integration-configuration__description"
                [ngClass]="{
                    'dot-service-integration-configuration__description__show-more': showMore
                }"
            >
                {{ serviceIntegration.description }}
                <a
                    class="dot-service-integration-configuration__description__link_show-more"
                    *ngIf="serviceIntegration.description.length > 220"
                    (click)="showMore = !showMore"
                    >{{
                        showMore
                            ? messagesKey['service.integration.confirmation.description.show.less']
                            : messagesKey['service.integration.confirmation.description.show.more']
                    }}</a
                >
            </div>
        </div>
    </div>
    <div class="dot-service-integration-configuration__body">
        <div>
            <div class="dot-service-integration-configuration__action_header">
                <input
                    pInputText
                    #searchInput
                    type="text"
                    [placeholder]="messagesKey['service.integration.search.placeholder']"
                />
                <button
                    pButton
                    link
                    [label]="messagesKey['service.integration.confirmation.delete.all.button']"
                    icon="fa fa-trash-o"
                    (click)="deleteAllConfigurations()"
                ></button>
            </div>
            <dot-service-integration-configuration-list
                [siteConfigurations]="serviceIntegration.sites"
                [disabledLoadDataButton]="disabledLoadDataButton"
                [itemsPerPage]="paginationPerPage"
                (loadData)="loadData($event)"
                (edit)="gotoConfiguration($event)"
                (delete)="deleteConfiguration($event)"
            ></dot-service-integration-configuration-list>
        </div>
    </div>
</div>
