@use "variables" as *;

.text-muted {
    color: $color-palette-gray-600;
}

:host ::ng-deep {
    .p-disabled,
    .p-component:disabled {
        opacity: 0.8;
    }

    p-inplace .p-inplace {
        .p-inplace-display {
            padding: 0;
            white-space: pre-wrap;

            i {
                margin-left: $spacing-1;
                margin-right: $spacing-1;
                font-size: 0.85rem;
            }

            &.p-disabled {
                color: $color-palette-gray-800;
            }

            &:not(.p-disabled):hover {
                background: transparent;
                text-decoration: underline;
            }
        }

        .p-inplace-content {
            display: flex;
            gap: $spacing-1;
            flex-direction: column;
        }
    }
}
