@if (vm$ | async; as vm) {
    @if ($showMask()) {
        <div (click)="toggleMenu($event)" class="dot-mask" data-testId="dot-mask"></div>
    }
    <p-avatar
        size="normal"
        (click)="toggleMenu($event)"
        [email]="vm.userData.email"
        data-testId="avatar"
        shape="circle"
        class="cursor-pointer"
        dotGravatar />
    <p-menu
        [model]="vm.items"
        [popup]="true"
        #menu
        (onHide)="hideMask()"
        appendTo="body"
        styleClass="toolbar-user__menu" />

    @defer (when vm.showMyAccount) {
        <dot-my-account (shutdown)="store.showMyAccount(false)" [visible]="vm.showMyAccount" />
    }

    @if (vm.showLoginAs) {
        @defer (when vm.showLoginAs) {
            <dot-login-as (cancel)="store.showLoginAs(false)" [visible]="vm.showLoginAs" />
        }
    }
}
