@use "variables" as *;
@import "mixins";

:host {
    display: block;
}

p-avatar {
    cursor: pointer;
}

::ng-deep #toolbar-header:hover {
    cursor: default;
    background-color: white;
}

::ng-deep .p-menuitem-text {
    .toolbar-user__header {
        display: flex;
        align-items: center;
        gap: $spacing-1;
    }
    .toolbar-user__user-name {
        margin: 0;
        white-space: nowrap;
        font-size: $font-size-lg;
        color: $black;
    }

    //Gravatar styles were taken from dot-avatar component
    .gravatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    .gravatar-placeholder {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: calc(35px - (35px * 25px) / 100px);

        border-radius: 50%;
        background-color: $color-palette-secondary;
        color: $white;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-align: center;
    }
}
