@use "variables" as *;
@import "mixins";

:host {
    display: block;

    ::ng-deep .toolbar-user__user-name {
        margin: 0;
        white-space: nowrap;
        font-size: $font-size-large;
        color: $color-gray-600;
    }

    //Gravatar styles were taken from dot-avatar component

    ::ng-deep .gravatar {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    ::ng-deep .gravatar-placeholder {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: calc(35px - (35px * 25px) / 100px);

        border-radius: 50%;
        background-color: $brand-secondary;
        color: $white;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-align: center;
    }

    ::ng-deep #toolbar-header:hover {
        cursor: default;
        background-color: white;
    }

    ::ng-deep .toolbar-user__header {
        display: flex;
        align-items: center;
        gap: $spacing-1;
    }
}
