@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

p-avatar {
    cursor: pointer;
    padding: spacing.$spacing-2 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

::ng-deep #toolbar-header:hover {
    cursor: default;
    background-color: white;
}

::ng-deep .p-menuitem-text {
    .toolbar-user__header {
        display: flex;
        align-items: center;
        gap: spacing.$spacing-1;
    }
    .toolbar-user__user-name {
        margin: 0;
        white-space: nowrap;
        font-size: fonts.$font-size-lmd;
        color: colors.$black;
    }
}

::ng-deep {
    .toolbar-user__menu.p-menu {
        margin-top: spacing.$spacing-0;
        &.p-menu-overlay {
            width: 17rem;
        }
    }
}

:host::ng-deep {
    display: block;

    .p-menu {
        margin-top: spacing.$spacing-0;
    }

    .p-menu .p-menu-separator {
        margin: spacing.$spacing-1;
    }

    .toolbar-user__logout .p-menuitem-link .p-menuitem-text {
        color: colors.$color-palette-gray-700;
    }

    .toolbar-user__logout .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: colors.$color-palette-gray-700;
    }

    .toolbar-user__logout .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
        color: colors.$color-palette-gray-700;
    }
}
