<ng-container *ngIf="vm$ | async as vm">
    <div
        class="dot-mask"
        *ngIf="showMask()"
        (click)="toogleMenu($event)"
        data-testId="dot-mask"></div>
    <p-avatar
        [email]="vm.userData.email"
        (click)="toogleMenu($event)"
        data-testId="avatar"
        dotGravatar></p-avatar>
    <p-menu
        #menu
        [model]="vm.items"
        [popup]="true"
        appendTo="body"
        styleClass="toolbar-user__menu"></p-menu>

    <dot-my-account
        *ngIf="vm.showMyAccount"
        [visible]="vm.showMyAccount"
        (shutdown)="store.showMyAccount(false)"></dot-my-account>

    <dot-login-as
        *ngIf="vm.showLoginAs"
        [visible]="vm.showLoginAs"
        (cancel)="store.showLoginAs(false)"></dot-login-as>
</ng-container>
