<dot-dropdown-component
    id="dot-toolbar-user"
    *ngIf="auth.user"
    [gravatar]="auth.loginAsUser === null ? auth.user.emailAddress : auth.loginAsUser.emailAddress"
    (wasOpen)="iframeOverlayService.show()"
    (shutdown)="iframeOverlayService.hide()"
    inverted="true"
    position="right"
>
    <div class="toolbar-user__content">
        <header class="toolbar-user__header">
            <dot-gravatar
                class="toolbar-user__header-gravatar"
                [email]="
                    auth.loginAsUser === null
                        ? auth.user.emailAddress
                        : auth.loginAsUser.emailAddress
                "
                size="40"
            ></dot-gravatar>
            <div class="toolbar-user__header-info">
                <h5 class="toolbar-user__user-name" id="dot-toolbar-user-name">
                    {{
                        auth.loginAsUser
                            ? auth.loginAsUser.name || auth.loginAsUser.fullName
                            : auth.user.name || auth.user.fullName
                    }}
                </h5>
            </div>
        </header>
        <p-menu [model]="items" appendTo="body"></p-menu>
    </div>
</dot-dropdown-component>

<dot-login-as
    *ngIf="showLoginAs"
    [visible]="showLoginAs"
    (cancel)="tooggleLoginAs($event)"
></dot-login-as>
<dot-my-account
    *ngIf="showMyAccount"
    [visible]="showMyAccount"
    (shutdown)="toggleMyAccount()"
></dot-my-account>
