@import "variables";

:host {
    display: block;
    width: 500px;
}

::ng-deep {
    .ui-datatable {
        .ui-datatable-thead tr {
            th {
                padding: .5em;
                text-align: left;

                &.content-type-fields__variables-actions {
                    width: 88px;
                }
            }
        }
        .ui-datatable-data tr {
            td {
                padding-left: 0;
                padding-right: 0;

                &:first-child {
                    .ui-cell-editor {
                        padding: 0 $basic-padding * 3;
                    }
                }

                &.content-type-fields__variables-actions {
                    padding-right: 0;
                    width: 88px;
                }

                .ui-cell-editor {
                    padding: 0 0.5em;
                }
            }
        }
    }
}
