<ng-template #warningIcon let-field="field">
    <dot-icon
        *ngIf="field.warnings && field.warnings.length"
        name="warning"
        pTooltip="{{ field.warnings.length ? field.warnings.join('. ') : '' }}"
        size="18"
    ></dot-icon>
</ng-template>

<ng-template #labelField let-field="field">
    <label
        [for]="field.name"
        class="form__label"
        [ngClass]="{
            required: field.required
        }"
        >{{ field.label }}</label
    >
</ng-template>

<form #form="ngForm" [formGroup]="myFormGroup" class="form__group" novalidate>
    <div #formContainer class="dot-apps-configuration-detail__form">
        <div
            class="dot-apps-configuration-detail__form-row"
            *ngFor="let field of formFields"
            [ngSwitch]="field.type"
        >
            <ng-container *ngSwitchCase="'STRING'">
                <div *ngIf="field.hidden; then password; else textarea"></div>
                <ng-template #password>
                    <ng-container
                        *ngTemplateOutlet="labelField; context: { field: field }"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="warningIcon; context: { field: field }"
                    ></ng-container>
                    <input
                        pInputText
                        type="password"
                        (click)="$event.target.select()"
                        [id]="field.name"
                        [formControlName]="field.name"
                    />
                    <span class="form__group-hint">{{ field.hint }}</span>
                </ng-template>
                <ng-template #textarea>
                    <ng-container
                        *ngTemplateOutlet="labelField; context: { field: field }"
                    ></ng-container>
                    <ng-container
                        *ngTemplateOutlet="warningIcon; context: { field: field }"
                    ></ng-container>
                    <textarea
                        #inputTextarea
                        pInputTextarea
                        autoResize="autoResize"
                        [id]="field.name"
                        [formControlName]="field.name"
                    ></textarea>
                    <span class="form__group-hint">{{ field.hint }}</span>
                </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="'BOOL'">
                <p-checkbox
                    binary="true"
                    [ngClass]="{
                        required: field.required
                    }"
                    [id]="field.name"
                    [label]="field.label"
                    [formControlName]="field.name"
                    [value]="field.value"
                ></p-checkbox>
                <ng-container
                    *ngTemplateOutlet="warningIcon; context: { field: field }"
                ></ng-container>
                <span class="form__group-hint">{{ field.hint }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'SELECT'">
                <ng-container
                    *ngTemplateOutlet="labelField; context: { field: field }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="warningIcon; context: { field: field }"
                ></ng-container>
                <p-dropdown
                    [id]="field.name"
                    [formControlName]="field.name"
                    [ngClass]="{
                        required: field.required
                    }"
                    [options]="field.options"
                ></p-dropdown>
                <span class="form__group-hint">{{ field.hint }}</span>
            </ng-container>
        </div>
    </div>
</form>
