@import "variables";

:host {
    form {
        display: flex;
        max-width: 900px;
        width: 100%;
    }

    textarea {
        font-family: $code-text;
        font-size: $font-size-medium;
        height: 36px;
        min-height: 36px;
        max-height: 400px;
        min-width: 200px;
        max-width: 900px;
    }
}

.dot-apps-configuration-detail__form {
    flex-grow: 1;
}

.dot-apps-configuration-detail__form-row {
    margin-bottom: $basic-padding * 3;

    input,
    textarea {
        width: 100%;
    }

    dot-icon {
        color: $brand-primary;
        margin-left: $basic-padding;
        vertical-align: middle;
    }

    ::ng-deep p-dropdown .ui-dropdown {
        min-width: 200px;
    }

    ::ng-deep p-checkbox.required label:before,
    label.required:before {
        color: $red;
        content: "* ";
    }
}
