@import "variables";

:host {
    form {
        display: flex;
        max-width: 900px;
        width: 100%;
    }

    textarea {
        font-family: $code-text;
        height: 36px;
        max-height: 300px;
        overflow: auto !important;
    }
}

.dot-apps-configuration-detail__form {
    flex-grow: 1;
}

.dot-apps-configuration-detail__form-row {
    margin-bottom: $basic-padding * 3;

    input,
    textarea {
        font-size: $font-size-large;
        width: 100%;
    }

    .form__label {
        font-size: $font-size-medium;
        font-weight: $font-weight-semi-bold;
    }

    dot-icon {
        color: $brand-primary;
        margin-left: $basic-padding;
        vertical-align: middle;
    }

    ::ng-deep {
        p-dropdown .ui-dropdown {
            min-width: 200px;
            margin-bottom: $basic-padding;
        }

        p-checkbox label {
            font-size: $font-size-large;
        }

        p-checkbox.required label:before,
        label.required:before {
            color: $red;
            content: "* ";
        }

        ngx-md p {
            margin: 0;
        }
    }
}
