<div *ngIf="radioInputs" [formGroup]="group" class="field">
    <label [for]="property.name" [checkIsRequiredControl]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.data_type.label' | dm }}
    </label>

    <div class="formgroup-inline">
        <div *ngFor="let radio of radioInputs" class="field-checkbox">
            <p-radioButton
                [label]="radio.text | dm"
                [name]="property.name"
                [value]="radio.value"
                [formControlName]="property.name"></p-radioButton>
        </div>
    </div>
</div>
