<div *ngIf="radioInputs" [formGroup]="group" class="field">
    <label [for]="property.name" [checkIsRequiredControl]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.data_type.label' | dm }}
    </label>

    <div class="formgroup-inline">
        <div *ngFor="let radio of radioInputs; let i = index" class="field-checkbox">
            <div class="flex items-center">
                <p-radioButton
                    [name]="property.name"
                    [value]="radio.value"
                    [formControlName]="property.name"
                    [inputId]="property.name + i">
                </p-radioButton>
                <label [for]="property.name + i" class="ml-2">{{radio.text | dm}}</label>
            </div>
        </div>
    </div>
</div>
