<div class="field" *ngIf="radioInputs" [formGroup]="group">
    <label class="form__label">{{ 'contenttypes.field.properties.data_type.label' | dm }}</label>

    <div class="formgroup-inline">
        <div class="field-checkbox" *ngFor="let radio of radioInputs">
            <p-radioButton
                [label]="radio.text | dm"
                [name]="property.name"
                [value]="radio.value"
                [formControlName]="property.name"
            >
            </p-radioButton>
        </div>
    </div>
</div>
