<form [formGroup]="form" (ngSubmit)="addVariableForm($event)" #formEl="ngForm" (keydown.enter)="addVariableForm($event)" novalidate>
    <div>
        <label class="form__label">{{ messages['contenttypes.field.variables.key_header.label'] }}</label>
        <input pInputText type="text" formControlName="key" #key/>
    </div>
    <div>
        <label class="form__label">{{ messages['contenttypes.field.variables.value_header.label'] }}</label>
        <input pInputText type="text" formControlName="value"/>
    </div>
    <button type="submit" pButton secondary tiny [label]="messages['contenttypes.field.variables.add_button.label']" [disabled]="!form.valid"></button>
</form>
