<div class="dot-loop-editor__pre-post-loop">
    @if (!isEditorVisible) {
        <div class="dot-loop-editor__pre-post-loop-inplace">
            <button
                (click)="handleClick()"
                [label]="'message.containers.create.add_pre_post' | dm"
                class="p-button-outlined p-button-secondary"
                data-testId="showEditorBtn"
                pButton
                type="button"></button>
        </div>
    }
    @if (isEditorVisible) {
        <div class="field mb-0" [@enterAnimation]>
            <label class="block" data-testId="label">
                {{ 'message.containers.create.' + label | dm }}
            </label>
            <dot-textarea-content
                (blur)="onTouched()"
                (input)="onTouched()"
                [formControl]="loopControl"
                [show]="['code']"
                [customStyles]="{ height: '140px' }"
                language="html"></dot-textarea-content>
        </div>
    }
</div>
