<div class="dot-loop-editor__pre-post-loop">
    <div class="dot-loop-editor__pre-post-loop-inplace" *ngIf="!isEditorVisible">
        <button
            class="p-button-outlined p-button-secondary"
            [label]="'message.containers.create.add_pre_post' | dm"
            (click)="handleClick()"
            pButton
            type="button"
        ></button>
    </div>
    <div *ngIf="isEditorVisible">
        <label>{{ 'message.containers.create.pre_loop' | dm }}</label>
        <dot-textarea-content
            #preLoop
            [show]="['code']"
            formControlName="preLoop"
            language="html"
        ></dot-textarea-content>
    </div>
</div>
