@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    .dot-loop-editor__pre-post-loop {
        margin: spacing.$spacing-4;
    }

    .dot-loop-editor__pre-post-loop-inplace {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e9ebfc;
        height: 167px;
    }
}
