<dot-icon [name]="unlicenseData.icon" [size]="120"></dot-icon>
<h4>{{ unlicenseData.titleKey | dm }}</h4>
<p>{{ unlicenseData.titleKey | dm }} {{ 'only-available-in-enterprise' | dm }}</p>
<ul>
    <li>
        <a target="_blank" href="https://dotcms.com/product/features/feature-list">{{
            'Learn-more-about-dotCMS-Enterprise' | dm
        }}</a>
    </li>
    <li>
        <a target="_blank" href="https://dotcms.com/contact-us/">{{
            'Contact-Us-for-more-Information' | dm
        }}</a>
    </li>
</ul>
<p>
    <a
        class="ui-link"
        href="https://dotcms.com/licensing/request-a-license-3/index"
        [innerText]="'request.a.trial.license' | dm"
    ></a>
</p>
