@use "variables" as *;

.dot-categories-properties__button-categories {
    padding-top: $spacing-3;

    button:first-child {
        margin-right: $spacing-3;
    }
}

.dot-categories-properties__description-input {
    width: 20rem;
}

:host ::ng-deep {
    .tab-panel-btn {
        background: $brand-background;

        a.p-tabview-nav-link {
            padding: 0;
        }

        i {
            color: $white;
            padding: 1.2rem $spacing-6 1.35rem;
        }
    }

    .p-tabview-panel {
        padding: 0;
        padding-top: $spacing-1;
    }
}

.dot-categories-properties__form {
    margin-left: $spacing-4;
}
