<form class="dot-categories-properties__form" [formGroup]="form">
    <div class="field">
        <label class="block p-label-input-required" for="name">{{
            'message.categories.create.name' | dm
        }}</label>
        <input
            class="dot-categories-properties__description-input"
            id="name"
            type="text"
            formControlName="categoryName"
            pInputText
        />
    </div>
    <div class="field">
        <label class="block" for="variable">{{ 'message.categories.create.variable' | dm }}</label>
        <input
            class="dot-categories-properties__description-input"
            id="variable"
            type="text"
            formControlName="categoryVelocityVarName"
            pInputText
        />
    </div>
    <div class="field">
        <label class="block" for="categoryUniqueKey">{{
            'message.categories.create.categoryUniqueKey' | dm
        }}</label>
        <input
            class="dot-categories-properties__description-input"
            id="categoryUniqueKey"
            type="text"
            formControlName="key"
            pInputText
        />
    </div>
    <div class="field">
        <label class="block" for="keywords">{{ 'message.categories.create.keywords' | dm }}</label>
        <input
            class="dot-categories-properties__description-input"
            id="keywords"
            type="text"
            formControlName="keywords"
            pInputText
        />
    </div>
    <div class="dot-categories-properties__button-categories">
        <button
            class="p-button-secondary p-button-sm"
            [label]="'Cancel' | dm"
            (click)="cancel()"
            pButton
            type="button"
        ></button>
        <button
            class="p-button-primary p-button-sm"
            [disabled]="form.pristine || !form.valid"
            [label]="'Save' | dm"
            (click)="save()"
            pButton
            type="submit"
        ></button>
    </div>
</form>
