@use "variables" as *;

header {
    // max-width: 70ch;
    margin-block-end: $spacing-5;

    h1 {
        font-weight: $font-weight-medium-bold;
        font-size: $font-size-xxxl;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-block-end: $spacing-1;
        color: var(--Color-Neutrals-Black, #14151a);
        font-style: normal;
        line-height: normal;
    }

    p {
        margin: 0;
        padding: 0;
        color: #000;
        text-align: center;
        font-size: $font-size-md;
        font-style: normal;
        font-weight: $font-weight-regular-bold;
        line-height: 1.5;
    }
}

h2 {
    margin: 0;
    font-size: $font-size-md;
    font-weight: $font-weight-medium-bold;
}

.dot-onboarding {
    padding-block-start: $spacing-4;
    flex: 1;
    overflow: auto;
    position: relative;
}

.button-link {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #515667;
}

.framework-container {
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding: 10.5px 17.5px;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.titleFramework {
    color: var(--table-body-row-color, #4b5563);
    font-size: 17.5px;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: normal;
}

.paragraphFramework {
    //display: flex;
    text-align: start;
    width: 360px;
    //padding: var(--Spacing-Small, 4px) var(--spacing-medium-default, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Small, 4px);
    font-size: $font-size-md;
    font-style: normal;
    font-weight: $font-weight-regular-bold;
    line-height: normal;
}

.commandClass {
    display: flex;
    text-align: justify;
    white-space: nowrap;
    width: 360px;
    text-overflow: ellipsis;
    margin-top: 7px;
    padding: var(--Spacing-Small, 4px) var(--spacing-medium-default, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Small, 4px);
    font-size: $font-size-lmd;
    font-style: normal;
    font-weight: $font-weight-regular-bold;
    border-radius: var(--Radius-Small, 4px);
    background: var(--Color-GrayScale-200, #f4f4f6);
    line-height: normal;
}
