<div
    style="background: linear-gradient(135deg, #d8e9ff 0%, #ffffff 70%, #faf5ff 100%); height: 100%"
    class="dot-onboarding relative">
    <button class="button-link flex items-center" (click)="resetUserProfile()">
        <img src="dotAdmin/assets/logos/sync.svg" alt="" />
        <span class="mx-1 underline">Not a developer?</span>
    </button>
    <header>
        <h1>Start with dotCMS headless development in minutes</h1>
        <p>Seamlessly integrate dotCMS into your favorite technology stack.</p>
    </header>

    <main>
        @for (framework of frameworks; track framework.id) {
            <div class="framework-container">
                <img
                    [src]="framework.logo"
                    [alt]="framework.label"
                    width="40"
                    height="40"
                    style="object-fit: contain" />
                <div class="flex-column">
                    <h3>{{ framework.label }}</h3>
                    @if (framework.cliCommand !== '') {
                        <p class="command-text">{{ framework.cliCommand }}</p>
                    } @else {
                        <p class="paragraph-text">
                            Our interactive guide is coming soon. Try the fully configured
                            <a
                                target="_blank"
                                style="text-decoration: none"
                                href="{{ framework.githubUrl }}">
                                {{ framework.label }} starter kit
                            </a>
                        </p>
                    }
                </div>
                @if (framework.cliCommand !== '') {
                    <dot-copy-button [copy]="framework.cliCommand" />
                } @else {
                    <p-button
                        icon="pi pi-external-link"
                        styleClass="p-button-text p-button-sm"
                        (click)="openExternalLink(framework.githubUrl)" />
                }
            </div>
        }
    </main>
</div>
