<dot-dialog
    [(visible)]="dialogShow"
    [actions]="dialogActions"
    [header]="'generate.secure.password' | dm"
    (hide)="close()"
    width="34.25rem"
>
    <p>{{ 'generate.secure.password.description' | dm }}</p>
    <div class="dot-generate-secure-password__password-container">
        <input
            class="dot-generate-secure-password__password-input"
            [type]="typeInput"
            [value]="value"
            disabled
        />
        <button
            pButton
            class="p-button-primary"
            (click)="copyToClipboard()"
            data-testid="copyBtn"
            [label]="'Copy' | dm"
        ></button>
    </div>
    <a
        href="#"
        class="dot-generate-secure-password__reveal-link"
        (click)="revealPassword($event)"
        >{{ 'generate.secure.password.reveal' | dm }}</a
    >
</dot-dialog>
