<!-- Block Editor Settings -->
<form [formGroup]="form" class="wrapper">
    <div *ngFor="let setting of settings" class="field">
        <label [checkIsRequiredControl]="setting.key" [for]="setting.key" dotFieldRequired>
            {{ setting.label }}
        </label>
        <p-multiSelect
            [id]="setting.key"
            [placeholder]="setting.placeholder"
            [formControlName]="setting.key"
            [options]="setting.options"
            [style]="{ width: '100%' }"
            appendTo="body"
            display="chip"
            optionLabel="label"
            optionValue="code"></p-multiSelect>
    </div>
</form>
