<ng-container *ngIf="isEnterpriseLicense$ | async as isEnterpriseLicense; else language">
    <dot-device-selector
        [pTooltip]="pageState.viewAs.device?.name || ('editpage.viewas.default.device' | dm)"
        [value]="pageState.viewAs.device"
        (selected)="changeDeviceHandler($event)"
        appendTo="body"
        tooltipPosition="bottom"
        tooltipStyleClass="dot-device-selector__dialog"
    ></dot-device-selector>

    <dot-language-selector
        [pTooltip]="pageState.viewAs.language.language"
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"
        appendTo="body"
        tooltipPosition="bottom"
        tooltipStyleClass="dot-language-selector__dialog"
    ></dot-language-selector>

    <dot-persona-selector
        [disabled]="(dotPageStateService.haveContent$ | async) === false"
        [pageState]="pageState"
        (delete)="deletePersonalization($event)"
        (selected)="changePersonaHandler($event)"
    ></dot-persona-selector>
</ng-container>

<ng-template #language>
    <dot-language-selector
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"
    ></dot-language-selector>
</ng-template>
