Dear [$USER_NAME$],

You have configured [$COMPANY_NAME$] to track [$ADDRESS_NAME$] at [$ADDRESS_URL$].

The requested resource was not available when the system checked its status on [$ADDRESS_MODIFIED_DATE$].

Sincerely,
[$ADMIN_NAME$]