Dear [$USER_NAME$],

You have configured [$COMPANY_NAME$] to track [$ADDRESS_NAME$] at [$ADDRESS_URL$].

The requested resource became available as of [$ADDRESS_MODIFIED_DATE$].

Sincerely,
[$ADMIN_NAME$]