Dear [$USER_NAME$],

This email is to inform you about your new account at http://[$PORTAL_URL$]

Your login is [$USER_EMAIL_ADDRESS$] and your password is [$USER_PASSWORD$].

This web site is a personalized portal designed to give many useful portlets to persons related to [$COMPANY_NAME$]. Change and personalize these portlets to your own preferences. Some of the available portlets are: Mail, Directory, Message Boards, and Document Library.

Here is a breakdown and explanation of some of these portlets:

Mail -- Don't like your Bob123@some.strange.company.com account? Get a more familiar email address with a @[$COMPANY_MX$] extension! You can create your own email address with a @[$COMPANY_MX$] extension and check email from anywhere online. You can also forward all email from your @[$COMPANY_MX$] account to an outside email address.

Directory -- Need someone's email address? Need their phone number? Forgot what they looked like? Find it in at the online directory. This directory requires each user to update their own information, but once that happens, your contact information changes are made available to the everyone. There is no longer a need to have to tell everyone every time you get a new cell phone number.

Message Boards -- Want to discuss issues with your peers? Use the message boards to keep a log of your discussion so everyone can participate.

Please contact me at [$ADMIN_EMAIL_ADDRESS$] if there are any problems accessing the portal.

Sincerely,
[$ADMIN_NAME$]