<div class="dot-apps-configuration-list__name">
    {{ site.name }}
</div>

<div class="dot-apps-configuration-list__host-key">
    {{ 'apps.key' | dm }}
    <dot-copy-link
        (click)="$event.stopPropagation()"
        [copy]="site.id"
        [label]="site.id"></dot-copy-link>
</div>

<ng-container *ngIf="site.configured; else noConfigurations">
    <div class="dot-apps-configuration-list__host-configured">
        <i
            *ngIf="site.secretsWithWarnings"
            class="pi pi-exclamation-triangle host-configured__warning-icon"
            pTooltip="{{ site.secretsWithWarnings + ' ' + ('apps.invalid.secrets' | dm) }}"
            data-testId="warning"></i>

        <p-button
            (click)="exportConfiguration($event, site)"
            styleClass="p-button-text p-button-rounded p-button-sm"
            icon="pi pi-download"
            data-testId="export"></p-button>
        <p-button
            (click)="editConfigurationSite($event, site)"
            styleClass="p-button-text p-button-rounded p-button-sm"
            icon="pi pi-pencil"
            data-testId="edit"></p-button>
        <p-button
            (click)="confirmDelete($event, site)"
            styleClass="p-button-text p-button-rounded p-button-danger p-button-sm"
            icon="pi pi-trash"
            data-testId="delete"></p-button>
    </div>
</ng-container>

<ng-template #noConfigurations>
    <p-button
        (click)="editConfigurationSite($event, site)"
        styleClass="p-button-text p-button-rounded p-button-sm"
        icon="pi pi-plus"
        data-testId="add"></p-button>
</ng-template>
