<div class="dot-apps-configuration-list__name">
    {{ site.name }}
</div>

<div class="dot-apps-configuration-list__host-key">
    <dot-copy-link
        [copy]="site.id"
        [label]="('apps.key' | dm) + ' ' + site.id"
        (click)="$event.stopPropagation()"
    ></dot-copy-link>
</div>

<ng-container *ngIf="site.configured; else noConfigurations">
    <div class="dot-apps-configuration-list__host-configured">
        <dot-icon
            *ngIf="site.secretsWithWarnings"
            data-testId="warning"
            name="warning"
            pTooltip="{{ site.secretsWithWarnings + ' ' + ('apps.invalid.secrets' | dm) }}"
            size="18"
        ></dot-icon>
        <dot-icon-button
            (click)="exportConfiguration($event, site)"
            icon="vertical_align_bottom"
        ></dot-icon-button>
        <dot-icon-button
            (click)="confirmDelete($event, site)"
            icon="delete_outline"
        ></dot-icon-button>
        <dot-icon-button
            (click)="editConfigurationSite($event, site)"
            icon="edit"
        ></dot-icon-button>
    </div>
</ng-container>

<ng-template #noConfigurations>
    <dot-icon-button
        (click)="editConfigurationSite($event, site)"
        icon="add_circle"
    ></dot-icon-button>
</ng-template>
