<div class="dot-apps-configuration-list__name">
    {{ site.name }}
</div>

<div class="dot-apps-configuration-list__host-key">
    {{ 'apps.key' | dm }}
    <dot-copy-link
        (click)="$event.stopPropagation()"
        [copy]="site.id"
        [label]="site.id"
    ></dot-copy-link>
</div>

<ng-container *ngIf="site.configured; else noConfigurations">
    <div class="dot-apps-configuration-list__host-configured">
        <dot-icon
            data-testId="warning"
            *ngIf="site.secretsWithWarnings"
            name="warning"
            pTooltip="{{ site.secretsWithWarnings + ' ' + ('apps.invalid.secrets' | dm) }}"
            size="18"
        ></dot-icon>
        <dot-icon-button
            icon="vertical_align_bottom"
            (click)="exportConfiguration($event, site)"
        ></dot-icon-button>
        <dot-icon-button
            icon="delete_outline"
            (click)="confirmDelete($event, site)"
        ></dot-icon-button>
        <dot-icon-button
            icon="edit"
            (click)="editConfigurationSite($event, site)"
        ></dot-icon-button>
    </div>
</ng-container>

<ng-template #noConfigurations>
    <dot-icon-button
        icon="add_circle"
        (click)="editConfigurationSite($event, site)"
    ></dot-icon-button>
</ng-template>
