.loader,
.loader:after {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.loader {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 6.4px solid rgba(14, 128, 203, 0.2);
  border-right: 6.4px solid rgba(14, 128, 203, 0.2);
  border-bottom: 6.4px solid rgba(14, 128, 203, 0.2);
  border-left: 6.4px solid #0E80CB;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader__overlay {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.loader__overlay .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
