.container,
.container-fluid {
    padding: 0 $gutter-border;
}

.container {
    margin: 0 auto;

    @media (min-width: $screen-md-min) {
        width: $container-md;
    }

    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }

    @media (min-width: $screen-xl-min) {
        width: $container-xl;
    }
}

.ui-g {
    margin: 0 -#{$gutter-border}
}

#clear-form-groups-items {
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
    padding: 0 $gutter-border;

    .form__group & {
        @extend #clear-form-groups-items;
    }
}

.ui-sm-1,
.ui-sm-2,
.ui-sm-3,
.ui-sm-4,
.ui-sm-5,
.ui-sm-6,
.ui-sm-7,
.ui-sm-8,
.ui-sm-9,
.ui-sm-10,
.ui-sm-11,
.ui-sm-12 {
    @include small {
        padding: 0 $gutter-border;
    }
}

.ui-md-1,
.ui-md-2,
.ui-md-3,
.ui-md-4,
.ui-md-5,
.ui-md-6,
.ui-md-7,
.ui-md-8,
.ui-md-9,
.ui-md-10,
.ui-md-11,
.ui-md-12 {
    @include medium {
        padding: 0 $gutter-border;
    }
}

.ui-lg-1,
.ui-lg-2,
.ui-lg-3,
.ui-lg-4,
.ui-lg-5,
.ui-lg-6,
.ui-lg-7,
.ui-lg-8,
.ui-lg-9,
.ui-lg-10,
.ui-lg-11,
.ui-lg-12 {
    @include large {
        padding: 0 $gutter-border;
    }
}

.ui-xl-1,
.ui-xl-2,
.ui-xl-3,
.ui-xl-4,
.ui-xl-5,
.ui-xl-6,
.ui-xl-7,
.ui-xl-8,
.ui-xl-9,
.ui-xl-10,
.ui-xl-11,
.ui-xl-12 {
    @include x-large {
        padding: 0 $gutter-border;
    }
}

.ui-g-nopad {
    padding: 0;
}

// Responsive utilities
@media (max-width: $screen-sm-max) {
    @include responsive-hide('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-hide('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-hide('.hidden-md');
}

@media (min-width: $screen-lg-min) {
    @include responsive-hide('.hidden-lg');
}