@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color
  }

  &:-moz-placeholder {
    color: $color
  }

  &::-moz-placeholder {
    color: $color
  }

  &:-ms-input-placeholder {
    color: $color
  }
}

// BUTTONS & SPLIT BUTTONS

@mixin button-state($props) {
    background: map-get($props, background);
    border: map-get($props, border);
    box-shadow: map-get($props, shadow);

    .ui-button-text,
    .ui-c {
        color: map-get($props, color);
    }

    .ui-button {
        .ui-button-text,
        .ui-c {
            color: map-get($props, color);
        }
    }
}

@mixin button-properties($label, $props) {
    @if ($label == "default") {
        @include button-state($props)
    } @else {
        @if ($label == "disabled") {
            &[#{$label}] {
                @include button-state($props)
            }
        } @else {
            &:#{$label} {
                @include button-state($props)
            }
        } 
    }
}


// GRID MIXINS

@mixin small {
    @media (max-width: $screen-sm-max) {
      @content;
    }
}

@mixin medium {
  @media screen and (min-width: $screen-md-min) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin x-large {
  @media screen and (min-width: $screen-xl-min) {
    @content;
  }
}

@mixin responsive-hide($clas) {
  #{$clas} {
    display: none !important;
  }
}