@import "../../variables";

// Common
$field-animation-speed: $basic-speed;
$field-bgcolor: transparent;
$field-border-color: $gray-light;
$field-border-radius: $border-radius;
$field-border-size: 1px;
$field-padding: $basic-padding;
$field-placeholder-color: rgba($gray-dark, .4);


// Fields
$field-normal-bgcolor: $field-bgcolor;
$field-normal-color: $body-font-color;
$field-normal-border-size: $field-border-size;
$field-normal-border-color: $field-border-color;

$field-hover-bgcolor: $field-bgcolor;
$field-hover-color: $body-font-color;
$field-hover-border-size: $field-border-size;
$field-hover-border-color: $field-border-color;

$field-active-bgcolor: $field-bgcolor;
$field-active-color: $body-font-color;
$field-active-border-size: 2px;
$field-active-border-color: $brand-primary;

$field-disabled-bgcolor: $field-bgcolor;
$field-disabled-color: $gray-light;
$field-disabled-border-size: $field-border-size;
$field-disabled-border-color: $gray-lighter;

// BUTTONS
$button-border: 0;
$button-padding: $field-padding * 2;
$button-height: $field-height;
$button-disabled-color: $body-font-color;
$button-radius: $field-border-radius;
$button-inverted-color: $white;

$buttons-map: (
    basic: (
        default: (
            background: $white,
            color: $field-normal-color,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        hover: (
            background: $white,
            color: $field-hover-color,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        focus: (
            background: $white,
            color: $field-hover-color,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        active: (
            background: $white,
            color: $field-normal-color,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        disabled: (
            background: $gray-lighter,
            color: $field-disabled-color,
            border: $button-border,
            shadow: none
        )
    ),
    flat: (
        default: (
            background: transparent,
            color: $brand-primary,
            border: $button-border,
            shadow: none
        ),
        hover: (
            background: rgba($black, 0.1),
            color: $body-font-color,
            border: $button-border,
            shadow: none
        ),
        focus: (
            background: $gray-lighter,
            color: $body-font-color,
            border: $button-border,
            shadow: none
        ),
        active: (
            background: transparent,
            color: $field-active-color,
            border: $button-border,
            shadow: none
        ),
        disabled: (
            background: transparent,
            color: $field-disabled-color,
            border: $button-border,
            shadow: none
        ),
    ),
    primary: (
        default: (
            background: $brand-primary,
            color: $white,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        hover: (
            background: darken($brand-primary, 10%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        focus: (
            background: darken($brand-primary, 10%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        active: (
            background: darken($brand-primary, 20%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        disabled: (
            background: lighten($brand-primary, 50%),
            color: lighten($brand-primary, 30%),
            border: $button-border,
            shadow: none
        ),
    ),
    secondary: (
        default: (
            background: $brand-secondary,
            color: $white,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        hover: (
            background: darken($brand-secondary, 10%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        focus: (
            background: darken($brand-secondary, 10%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-2
        ),
        active: (
            background: darken($brand-secondary, 20%),
            color: $white,
            border: $button-border,
            shadow: $md-shadow-1
        ),
        disabled: (
            background: lighten($brand-secondary, 50%),
            color: lighten($brand-secondary, 30%),
            border: $button-border,
            shadow: none
        ),
    )
);

// FLOATING ACTION BUTTON
$floating-action-button-height: 56px;
$floating-action-button-icon-size: $font-size-large;
$floating-action-button-color: $white;
$floating-action-button-bg-hover: darken($blue, 10%);
$floating-action-button-bg-active: darken($blue, 20%);
$floating-action-button-bg-focus: darken($blue, 10%);

// DROPDOWN
$dropdown-active-color: $field-active-color;
$dropdown-disabled-color: $field-disabled-color;
$dropdown-height: $field-height;

// AUTOCOMPLETE
$autocomplete-height: $field-height;

// CHECKBOX AND RADIO BUTTON
$check-border-width: 1px;
$check-radius: 2px;
$check-size: 14px;

$check-checked-bgcolor: $brand-primary;
$check-checked-border: solid $check-border-width $black;
$check-checked-color: $white;

$check-disabled-border: solid $check-border-width $gray-light;
$check-disabled-bgcolor: $gray-lighter;
$check-disabled-color: $gray-light;
$check-disabled-label-color: $gray-light;

$check-normal-bgcolor: $white;
$check-normal-border: solid $field-border-size $black;

$check-hover-bgcolor: $white;
$check-hover-border: $check-checked-border;

$radio-size: $check-size;

$radio-checked-bgcolor: $white;
$radio-checked-border: solid $check-border-width $brand-primary;
$radio-checked-color: $brand-primary;

$radio-disabled-border: solid $check-border-width $gray-light;
$radio-disabled-bgcolor: $gray-lighter;
$radio-disabled-color: $gray-light;
$radio-disabled-label-color: $gray-light;

$radio-normal-bgcolor: $white;
$radio-normal-border: solid $field-border-size $black;

$radio-hover-bgcolor: $white;
$radio-hover-border: $check-checked-border;

// DATATABLE
$datatable-cell-padding: $basic-padding * 2 $basic-padding;
$datatable-cell-border: 1px solid $gray-lighter;
$datatable-head-active-bgcolor: $gray-light;
$datatable-head-active-color: $gray-dark;
$datatable-selected-row-bgcolor: $gray-lighter;
$datatable-row-color: $gray-dark;
$datatable-row-bgcolor: $white;

// PAGINATOR
$paginator-page-selected-bgcolor: $blue;
$paginator-page-selected-border-color: $blue;
$paginator-page-hover-bgcolor: $gray-light;
$paginator-page-border-radius: 10px;
$paginator-page-size: 21px;

// TOOLBAR
$toolbar-background: $brand-primary;
$toolbar-color: $white;