@import "../../variables";

// COMMON
$field-animation-speed: $basic-speed;
$field-bgcolor: transparent;
$field-border-color: $gray;
$field-border-radius: $border-radius;
$field-border-size: 1px;
$field-padding: $basic-padding;
$field-placeholder-color: $label-color;
$ui-trigger-width: $basic-padding * 3;

// FIELDS
$field-normal-bgcolor: $field-bgcolor;
$field-normal-color: $body-font-color;
$field-normal-border-size: $field-border-size;
$field-normal-border-color: $gray-light;

$field-hover-bgcolor: $field-bgcolor;
$field-hover-color: $body-font-color;
$field-hover-border-size: $field-border-size;
$field-hover-border-color: $field-border-color;

$field-active-bgcolor: $field-bgcolor;
$field-active-color: $body-font-color;
$field-active-border-size: 2px;
$field-active-border-color: $brand-primary;

$field-disabled-bgcolor: #dedee1;
$field-disabled-color: $gray-light;
$field-disabled-border-size: $field-border-size;
$field-disabled-border-color: $gray-bg;

// BUTTONS
$button-border: solid 1px transparent;
$button-padding: $field-padding * 3;
$button-height: $field-height;
$button-tiny-height: $field-tiny-height;
$button-disabled-color: $body-font-color;
$button-radius: $field-border-radius;
$button-inverted-color: $white;
$button-hover-background-opacity: 0.12;
$button-text-size: 13px;
$button-tiny-text-size: 11px;

$button-main: (
    normal: (
        background: $brand-primary,
        color: $white,
        border: $button-border
    ),
    hover: (
        background: $brand-primary_mod,
        color: $white,
        border: $button-border
    ),
    focus: (
        background: $brand-primary_mod,
        color: $white,
        border: $button-border
    ),
    active: (
        background: $brand-primary_mod,
        color: $white,
        border: $button-border
    ),
    disabled: (
        background: $field-disabled-bgcolor,
        color: $field-disabled-color,
        border: $button-border
    )
);

$button-sec: (
    normal: (
        background: $white,
        color: $brand-secondary,
        border: solid 1px $brand-secondary
    ),
    hover: (
        background: $white,
        color: $brand-primary,
        border: solid 1px $brand-primary
    ),
    focus: (
        background: rgba($brand-primary_rgb, $button-hover-background-opacity),
        color: $brand-primary,
        border: $button-border
    ),
    active: (
        background: rgba($brand-primary_rgb, 0.26),
        color: $brand-primary,
        border: $button-border
    ),
    disabled: (
        background: $white,
        color: $field-disabled-bgcolor,
        border: solid 1px $field-disabled-bgcolor
    )
);

// SELECT BUTTON
$select-button-color: $gray;
$selectbutton-normal-bgcolor: $white;
$selectbutton-normal-border: $button-border;
$selectbutton-normal-shadow: 0;

$selectbutton-hover-bgcolor: $white;
$selectbutton-hover-border: $button-border;
$selectbutton-hover-shadow: $md-shadow-2;

$selectbutton-button-hover-bgcolor: rgba($brand-secondary_rgb, 0.1);
$selectbutton-button-active-bgcolor: transparent;
$selectbutton-button-active-color: $gray-dark;

// DROPDOWN
$dropdown-active-color: $field-active-color;
$dropdown-disabled-color: $field-disabled-color;
$dropdown-tiny-height: $field-tiny-height;

// MULTISELECT
$multiselect-active-color: $dropdown-active-color;
$multiselect-disabled-color: $dropdown-disabled-color;

// AUTOCOMPLETE
$autocomplete-height: $field-height;

// CHECKBOX AND RADIO BUTTON
$check-border-width: 1px;
$check-radius: 2px;
$check-size: 14px;

$check-checked-bgcolor: $brand-primary;
$check-checked-border: solid $check-border-width $brand-primary;
$check-checked-color: $white;

$check-disabled-border: solid $check-border-width $gray-light;
$check-disabled-bgcolor: $gray-bg;
$check-disabled-color: $field-disabled-color;
$check-disabled-label-color: $field-disabled-color;

$check-normal-bgcolor: $white;
$check-normal-border: solid $field-border-size $black;

$radio-size: $check-size;

$radio-checked-bgcolor: $white;
$radio-checked-border: solid $check-border-width $brand-primary;
$radio-checked-color: $brand-primary;

$radio-disabled-border: solid $check-border-width $gray-light;
$radio-disabled-bgcolor: $field-disabled-bgcolor;
$radio-disabled-color: $field-disabled-color;
$radio-disabled-label-color: $field-disabled-color;

$radio-normal-bgcolor: $white;
$radio-normal-border: solid $field-border-size $black;

// DATATABLE
$datatable-cell-padding: 18px $basic-padding * 2; // We need to have 40px min height in the cell
$datatable-header-cell-padding: 10px $basic-padding * 2;
$datatable-cell-border: 1px solid $gray-bg;
$datatable-highlight-row-bgcolor: $gray-bg;
$datatable-row-color: $black;
$datatable-row-bgcolor: $white;
$datatable-head-bgcolor: $gray-bg;
$datatable-head-color: $gray;

// TABLE
$table-cell-padding: 18px $basic-padding * 2; // We need to have 40px min height in the cell
$table-header-cell-padding: 10px $basic-padding * 2;
$table-cell-border: 1px solid $gray-bg;
$table-highlight-row-bgcolor: $gray-bg;
$table-row-color: $black;
$table-row-bgcolor: $white;
$table-head-bgcolor: $gray-bg;
$table-head-color: $gray;

// PAGINATOR
$paginator-page-selected-bgcolor: $brand-primary;
$paginator-page-selected-border-color: $brand-primary;
$paginator-page-hover-bgcolor: $gray;
$paginator-page-border-radius: 10px;
$paginator-page-size: 21px;

// TABVIEW
$tabview-item-hover-bgcolor: $selectbutton-button-hover-bgcolor;
$tabview-item-color: $gray;
$tabview-item-selected-color: $brand-secondary;
$tabview-item-padding: $basic-padding * 2 $basic-padding * 3 10px; // To match the 48px height
$tabview-item-border: 3px solid $white;
$tabview-item-selected-border: 5px solid $brand-secondary;
$tabview-item-disabled-color: rgba($black, 0.2);
$tabview-nav-height: 48px;

// MENU
$menu-link-color: $black;

// DIALOG
$dialog-padding: $basic-padding * 3;
$dialog-padding-footer: $basic-padding * 2;
$dialog-title-font-size: $font-size-xx-large;
$dialog-message-line-height: $line-height;
$dialog-message-warning-color: $red;
$dialog-close-button-normal-color: rgba($black, 0.7);
$dialog-close-button-hover-color: $black;

// INPUTSWITCH
$inputswitch-normal-track-color: rgba($black, 0.1);
$inputswitch-checked-track-color: rgba($brand-primary_rgb, 0.38);

$inputswitch-normal-thumb-color: $white;
$inputswitch-checked-thumb-color: $brand-primary;

$inputswitch-warn-normal-track-color: rgba($orange, 0.38);
$inputswitch-warn-checked-track-color: rgba($orange, 0.38);
$inputswitch-warn-hecked-thumb-color: $orange;

$inputswitch-disabled-track-color: $gray-light;
$inputswitch-disabled-thumb-color: $gray;


// TOAST
$toast-padding: $basic-padding * 2;
$toast-bgcolor: $white;
$toast-border-radius: $border-radius;
