:host {
  font-size: 13px;
}

:host .toolbar-user__content {
  min-width: 250px;
}

:host .toolbar-user__email {
  margin: 0;
}

:host .toolbar-user__header {
  background: #FAFAFA;
  padding: 8px 16px;
}

:host .toolbar-user__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 16px;
  white-space: nowrap;
}

:host .toolbar-user__user-name {
  margin: 0;
  white-space: nowrap;
}
