@use "variables" as *;
@import "mixins";

:host {
    display: block;

    .toolbar-user__content {
        min-width: 250px;
    }

    .toolbar-user__email {
        margin: 0;
    }

    .toolbar-user__header {
        background: $gray-bg;
        padding: $spacing-1 $spacing-3;
        display: flex;
        align-items: center;
    }

    .toolbar-user__header-gravatar {
        margin-right: $spacing-1;
    }

    .toolbar-user__menu {
        @include naked-list();
        margin: $spacing-3;
        white-space: nowrap;
    }

    .toolbar-user__user-name {
        margin: 0;
        white-space: nowrap;
    }

    .user-menu__item {
        display: block;
        padding: 0.25rem 0;
    }
}
