@use "variables" as *;
@use "dotcms-theme/utils/theme-variables";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    align-items: center;
    border-right: solid 1px colors.$color-palette-gray-200;
    display: flex;
    opacity: 0;
    padding-right: spacing.$spacing-4;
    transition: $basic-speed * 2;

    i,
    dot-spinner {
        margin-right: spacing.$spacing-1;
        align-self: center;
    }

    &.loading {
        .dot-global-message__text {
            color: colors.$color-palette-primary;
        }
    }

    &.success {
        i {
            color: colors.$color-accessible-text-green;
        }
    }

    &.warning {
        i {
            color: colors.$color-alert-yellow;
        }
    }

    &.error {
        i {
            color: colors.$color-accessible-text-red;
        }
    }
}

:host(.dot-global-message--visible) {
    opacity: 1;
}

.dot-global-message__text {
    color: colors.$color-palette-gray-700;
}

.edit-page-variant-mode :host {
    .dot-global-message__text {
        color: colors.$white;
    }

    &.loading {
        .dot-global-message__text {
            color: colors.$white;
        }
    }

    &.success,
    &.warning,
    &.error {
        i {
            color: colors.$white;
        }
    }
}
