:host {
  display: block;
}

:host custom-time {
  color: #8A8A8A;
  display: block;
}

:host a {
  color: #161616;
}

:host .notification-item {
  border-top: solid 1px #ECEDEE;
  position: relative;
}

:host .notification-item__content {
  margin-left: 0.38462rem;
}

:host .notification-item__close {
  color: #C5C5C5;
  height: 16px;
  position: absolute;
  right: 0;
  top: 1rem;
  width: 16px;
}

:host .notification-item__close.ui-state-hover {
  background: none;
}

:host .notification-item__icon {
  font-size: 1.38462rem;
  width: 16px;
}

:host .notification-item__title {
  font-size: 1rem;
}

:host .notification-item__title,
:host .notification-item__message {
  margin: 0;
}

:host .notification-item__message {
  line-height: 1.5rem;
}

:host .notification-item__wrapper {
  display: flex;
  padding: 1rem 0;
}

:host .warning .notification-item__icon,
:host .warning .notification-item__link,
:host .warning .notification-item__title,
:host .warning .notification-item__title a {
  color: #0E80CB;
}

:host .error .notification-item__icon,
:host .error .notification-item__link,
:host .error .notification-item__title,
:host .error .notification-item__title a {
  color: #CB3927;
}
