<button [attr.md-icon-button]="icon ? true : null"
        [attr.md-button]="title ? true : null"
        (click)="onToggle()"
        [disabled]="disabled">
    <i *ngIf="icon" class="material-icons">{{icon}}</i>
    <span *ngIf="title"><label>{{title}}</label><i class="material-icons">keyboard_arrow_down</i></span>
    <ng-content select="extra-content"></ng-content>
</button>

<div class="dropdown-content" *ngIf="show" [ngClass]="{'dropdown-content_align-right': alignRight, 'dropdown-content_align-left': !alignRight}">
    <ng-content></ng-content>
</div>
