@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    main > div {
        @apply my-8;
    }
}

/* ROW CLASSES */
.uncontained .container {
    @apply max-w-none;
}

.vertical-fill,
.vertical-fill [data-dot-object="container"] {
    @apply grid gap-4 h-full;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}

.spacing-y-md,
.spacing-y-md [data-dot-object="container"] {
    @apply space-y-4;
}

.row-gradient {
    @apply relative
}

.row-gradient::after {
    @apply absolute left-0 top-40 z-0 w-full h-4/5 bg-gradient-to-t from-lime-50 to-lime-200 border-t-8 border-lime-300 origin-top-right skew-y-3;
    content: "";
}

.row-gradient .container {
    @apply relative z-10;
}
