@if (vm$ | async; as vm) {
    <p-panel
        (onAfterToggle)="toggleFavoritePagesPanel($event)"
        [ngClass]="{
            'dot-pages-panel__empty-state': vm.favoritePages?.items?.length === 0
        }"
        [toggleable]="true"
        [collapsed]="vm.isFavoritePanelCollaped"
        toggler="header"
        iconPos="end"
        expandIcon="pi pi-angle-down"
        collapseIcon="pi pi-angle-up">
        <ng-template pTemplate="header">
            <span class="dot-pages-panel__header">
                <i class="pi pi-star-fill" data-testId="bookmarksIcon"></i>
                <span>{{ 'favoritePage.panel.header' | dm }}</span>
            </span>
        </ng-template>
        @if (vm.favoritePages?.items?.length !== 0) {
            @for (item of vm.favoritePages.items; track $index) {
                <dot-pages-card
                    (edit)="editFavoritePage(item)"
                    (goTo)="goToUrl.emit(item.url)"
                    (showActionMenu)="
                        showActionsMenu.emit({
                            event: $event,
                            actionMenuDomId: 'favoritePageActionButton-' + i,
                            item
                        })
                    "
                    [actionButtonId]="'favoritePageActionButton-' + i"
                    [imageUri]="
                        item.screenshot
                            ? item.screenshot + '?language_id=' + item.languageId + '&' + timeStamp
                            : ''
                    "
                    [title]="item.title"
                    [url]="item.url"
                    [ownerPage]="item.owner === vm.loggedUser.id"></dot-pages-card>
            }
        } @else {
            <div class="dot-pages-empty__container">
                <i class="pi pi-star"></i>
                <div class="dot-pages-empty__header">
                    {{ 'favoritePage.listing.empty.header' | dm }}
                </div>
                <p
                    class="dot-pages-empty__content"
                    data-testid="dot-pages-empty__content"
                    innerHTML="{{ 'favoritePage.listing.empty.content' | dm }}"></p>
            </div>
        }
    </p-panel>
}
