@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

::ng-deep {
    button.dot-pages-panel-action__button {
        display: none;
        position: absolute;
        right: spacing.$spacing-8;
        top: spacing.$spacing-1;
        text-transform: none;

        .p-button-label {
            text-transform: none;
        }

        span.p-button-label {
            font-size: fonts.$font-size-md;
        }
    }

    .p-panel-expanded .dot-pages-panel-action__button {
        display: block;
        position: absolute;
        background: colors.$white;
    }

    .p-toggleable-content .p-panel-content {
        column-gap: spacing.$spacing-4;
        row-gap: spacing.$spacing-4;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        height: 100%;
        overflow: hidden;
        position: relative;
        padding-left: spacing.$spacing-3;
        padding-right: spacing.$spacing-3;
        padding-bottom: spacing.$spacing-4;
    }

    .dot-pages-panel__empty-state .p-toggleable-content .p-panel-content {
        height: 250px;
    }

    dot-pages-card,
    dot-pages-card-empty {
        p-card {
            cursor: pointer;
        }
    }

    .dot-pages-empty__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        right: 0;
        top: 45px;
        width: max-content;

        i.pi {
            color: colors.$color-palette-primary;
            font-size: fonts.$font-size-xl;
            margin-bottom: spacing.$spacing-3;
        }
    }

    .pi-star-fill {
        color: colors.$color-palette-primary;
        margin-right: spacing.$spacing-1;
    }

    .dot-pages-panel__header {
        display: flex;
        align-items: center;
        margin-left: spacing.$spacing-3;
    }

    .p-panel-header-icon {
        .pi {
            border: 1px solid;
            border-radius: 100px;
            height: spacing.$spacing-5;
            width: spacing.$spacing-5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pi:before {
            font-size: spacing.$spacing-2;
        }
    }
}

.dot-pages-empty__header {
    font-size: large;
}

.dot-pages-empty__content {
    color: colors.$color-palette-gray-700;
    text-align: center;
}
