<p-panel
    *ngIf="vm$ | async as vm"
    [ngClass]="{
        'dot-pages-panel__expanded': vm.favoritePages.total === vm.favoritePages.items.length,
        'dot-pages-panel__hide-panel-actions': !vm.favoritePages.showLoadMoreButton,
        'dot-pages-panel__empty-state': vm.favoritePages?.items?.length === 0
    }"
    [toggleable]="true"
    [header]="'favoritePage.panel.header' | dm"
    [collapsed]="vm.favoritePages.total === 0"
    toggler="header"
    iconPos="start"
    expandIcon="pi pi-angle-down"
    collapseIcon="pi pi-angle-up"
>
    <ng-template *ngIf="vm.favoritePages.showLoadMoreButton" pTemplate="icons">
        <button
            class="p-button-secondary dot-pages-panel-action__button"
            [label]="
                vm.favoritePages.total > vm.favoritePages.items.length
                    ? ('see.all' | dm)
                    : ('see.less' | dm)
            "
            (click)="
                toggleFavoritePagesData(
                    $event,
                    vm.favoritePages.total === vm.favoritePages.items.length,
                    vm.favoritePages.total
                )
            "
            pButton
            type="button"
            data-testid="seeAllBtn"
        ></button>
    </ng-template>

    <ng-template [ngIf]="vm.favoritePages?.items?.length !== 0" [ngIfElse]="emptyState">
        <dot-pages-card
            *ngFor="let item of vm.favoritePages.items; let i = index"
            [actionButtonId]="'favoritePageActionButton-' + i"
            [imageUri]="
                item.screenshot
                    ? item.screenshot + '?language_id=' + item.languageId + '&' + timeStamp
                    : ''
            "
            [title]="item.title"
            [url]="item.url"
            [ownerPage]="item.owner === vm.loggedUser.id"
            (edit)="editFavoritePage(item)"
            (goTo)="goToUrl.emit(item.url)"
            (showActionMenu)="
                showActionsMenu.emit({
                    event: $event,
                    actionMenuDomId: 'favoritePageActionButton-' + i,
                    item
                })
            "
        ></dot-pages-card>
    </ng-template>

    <ng-template #emptyState>
        <div class="dot-pages-empty__container">
            <i class="pi pi-star"></i>
            <div class="dot-pages-empty__header">
                {{ 'favoritePage.listing.empty.header' | dm }}
            </div>
            <p
                class="dot-pages-empty__content"
                data-testid="dot-pages-empty__content"
                innerHTML="{{ 'favoritePage.listing.empty.content' | dm }}"
            ></p>
        </div>
    </ng-template>
</p-panel>
