@let pageState = $pageState();

@if (pageState.status !== "idle") {
  <div class="flex flex-col gap-6 min-h-screen bg-neutral-50">
    @if (pageState.pageResponse?.pageAsset?.layout?.header) {
      <app-header>
        @if (pageState.pageResponse?.content?.navigation?.children) {
          <app-navigation
            [items]="
              pageState.pageResponse?.content?.navigation?.children || []
            "
          />
        }
      </app-header>
    }

    <main class="container m-auto">
      @if (pageState.status === "loading") {
        <app-loading />
      } @else if (pageState.status === "error" && pageState.error) {
        <app-error [$error]="pageState.error" />
      } @else if (pageState.status === "success" && pageState.pageResponse) {
        <dotcms-layout-body
          [page]="pageState.pageResponse.pageAsset"
          [components]="components"
        />
      } @else {
        <!-- Add a fallback for unexpected states -->
        <p>Unexpected state encountered.</p>
      }
    </main>

    @if (pageState.pageResponse?.pageAsset?.layout?.footer) {
      <app-footer [content]="pageState.pageResponse?.content" />
    }
  </div>
}
