<p-toolbar>
    <div class="ui-toolbar-group-left">
        <div class="edit-page-toolbar__header">
            <div class="edit-page-toolbar__page-url-wrapper">
                <h2 class="edit-page-toolbar__page-url">{{ page.pageURI }}</h2>
                <button pButton icon="fa-clone" class="edit-page-toolbar__copy-url" (click)="copyUrlToClipboard($event)"></button>
            </div>
            <h3 class="edit-page-toolbar__page-title">{{ page.title }}</h3>
        </div>
    </div>

    <div class="ui-toolbar-group-center">
        <p-inputSwitch class="edit-page-toolbar__locker" [(ngModel)]="page.locked" (onChange)="lockPageHandler($event)"></p-inputSwitch>
        <p-selectButton flat class="edit-page-toolbar__state-selector" [(ngModel)]="stateSelected" (onChange)="stateSelectorHandler($event.value)" [options]="states"></p-selectButton>
    </div>

    <div class="ui-toolbar-group-right">
        <!-- Only show the button in edit mode -->
        <button pButton flat class="edit-page-toolbar__save" *ngIf="stateSelected === 0" [disabled]="!canSave" [label]="dotMessageService.get('editpage.toolbar.primary.action')" (click)="save.emit($event)"></button>
        <p-splitButton flat *ngIf="workflowsActions.length" class="edit-page-toolbar__actions" [label]="dotMessageService.get('editpage.toolbar.primary.workflow.actions')" [model]="workflowsActions" #actionsButton></p-splitButton>
    </div>
</p-toolbar>
