$black: #384046;
$gray: #68757E;
$gray-dark: #3e484f;
$gray-light: #8c9ca8;
$gray-lightest: #f2f2f2;
$text-color: #8c9ca8;
$white: #fff;

html, body {
  background-color: $gray-dark;
  color: $text-color;
}

hr {
  border-top-color: $gray;
}

.action-item {
  h4.separator {
    line-height: 34px;
    margin: 0;
    text-align: center;
  }
}

.clause {
  border: none;
  margin: 0;

  h4.separator {
    text-align: center;
  }

  .clause-option {
    width: 410px;
  }

  &:nth-child(2n-2) {
    background-color: $gray-lightest;
    border-radius: 0;
  }

  &:nth-child(2n-2) {
    .clause-selector {
      background-color: $gray-lightest;
    }
  }
}

.clause-group {

  .panel-title {
    color: $gray-lightest;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  & > .panel-body {
    padding: 0;
  }

}

.clause-group-separator {
  margin-bottom: 20px;
}

.form-control {
  color: $gray-dark;
}

.panel-default {
  border: none;

  & > .panel-heading {
    border: none;
    background-color: $gray;
  }
}

.operations {
  text-align: left;
}


.page-title-search {
  margin-top: 40px;

  h1 {
    margin: 0;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.rule {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: $black;
  //border: solid 1px $gray;
}

.rule-operations {

  label {
    color: $white;
    font-weight: normal;
    margin-right: 5px;
  }

  .separator {
    display: inline-block;
    width: 1px;
    border-right: solid 1px $gray-light;
    height: 34px;
    vertical-align: top;
    margin: 0 10px;
  }
}

.rule-title {
  font-size: 18px;
  font-weight: bold;
  border-color: rgba(0, 0, 0, .1);
  box-shadow: none;
  background-color: rgba($white, 0.25);

  &:hover {
    background-color: #ffffcc;
  }

  &:focus {
    background-color: #fff;
  }
}

.section-separator {
  position: relative;
  text-align: center;

  h2 {
    background-color: $black;
    display: inline-block;
    margin-top: 0;
    padding: 0 20px;
    position: relative;
    text-align: center;
    z-index: 2;
  }

  hr {
    margin: 0;
    position: relative;
    top: -27px;
  }
}