PUBLIC_DOTCMS_AUTH_TOKEN=YOUR_API_TOKEN
PUBLIC_DOTCMS_HOST=http://localhost:8080
PUBLIC_DOTCMS_SITE_ID=your-dotcms-site-id
PUBLIC_EXPERIMENTS_API_KEY=analytic-api-key-from-dotcms-portlet
PUBLIC_EXPERIMENTS_DEBUG=true
# If your local dotcms instance is running in https, this setting allows Node.js to connect to servers with invalid SSL certificates.
# For testing purposes only.
NODE_TLS_REJECT_UNAUTHORIZED=0



