<!--
TODO: labels for defaultLabel and selectedItemsLabel in p-multiselect need to be changed after refactor of Message Service. https://github.com/primefaces/primeng/issues/2857

Also there is a problem here, when the field is invalid this multiselect should have the invalid class
-->
<p-multiSelect
    (onChange)="valueChange($event, selectedEnvironments)"
    [(ngModel)]="selectedEnvironments"
    [options]="pushEnvironments"
    [defaultLabel]="'contenttypes.content.push_publish.select_environment' | dm"
    appendTo="body"
    optionLabel="name"></p-multiSelect>

@if (showList) {
    <ul class="environment-selector__list">
        @for (environment of selectedEnvironments; track environment) {
            <li class="environment-selector__list-item">
                <button
                    (click)="removeEnvironmentItem(environment)"
                    pButton
                    icon="pi pi-trash"></button>
                {{ environment.name }}
            </li>
        }
    </ul>
}
