@import "variables";
@import "mixins";

:host {
    align-items: center;
    display: flex;
}

.page-info {
    &__title {
        margin: 0 $basic-padding / 2 0 0;
        align-self: center;
        color: $body-font-color;
        font-size: $font-size-xx-large;
        font-weight: normal;
    }
}
