@use "variables" as *;

:host {
    display: flex;
    cursor: pointer;
    align-content: center;
    padding: $spacing-1 $spacing-3;

    &:hover {
        background-color: $gray-bg;
    }

    &.property-item__footer {
        svg {
            transform: rotate(90deg);
        }
    }

    &.property-item__sidebar-left {
        svg {
            transform: rotate(180deg);
        }
    }

    &.property-item__header {
        svg {
            transform: rotate(270deg);
        }
    }
}

.property-item__icon--selected {
    rect {
        stroke: $brand-primary;
        fill: rgba($brand-primary_rgb, 0.2);
    }

    path {
        fill: $brand-primary;
    }
}

.property-item__label {
    padding-left: $spacing-1;
    align-self: center;
}
