<dot-searchable-dropdown
    *ngIf="totalRecords > 1"
    #searchableDropdown
    (change)="siteChange($event)"
    (filterChange)="handleFilterChange($event)"
    (hide)="hide.emit()"
    (pageChange)="handlePageChange($event)"
    (show)="show.emit()"
    [data]="sitesCurrentPage"
    [ngModel]="currentSite | async"
    [pageLinkSize]="3"
    [rows]="10"
    [totalRecords]="paginationService.totalRecords"
    class="site-selector__field"
    labelPropertyName="hostname"
>
</dot-searchable-dropdown>

<span *ngIf="totalRecords == 1" class="site-selector__title">{{
    (currentSite | async)?.hostname
}}</span>
