<div class="login">
    <div class="container">
        <div class="row">

            <!--LOGIN FORM-->
            <div class="login__container" *ngIf="!isLoginCardHidden">
                <div class="col-sm-5 cms-info">
                    <div class="cms-info__inner">
                        <img src="{{dotcmscompanyLogo}}" class="cms-info__logo" />
                        <p class="cms-info__message">You are currently using the free Community Editon of dotCMS Content Management Platform. If you would like to <b>upgrade to the Enterprise Edition</b> please
                            <a href="#">contact us</a>.</p>
                        <!--<p>{{serverLabel}}: {{dotcmsServerId}}</p>-->
                        <!--<p>{{dotcmslicenceLevel}} {{dotcmsVersion}}</p>-->
                        <!--<p>( {{dotcmsBuildDateString}} )</p>-->
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="signin">
                        <h2 class="login__title" [innerHTML]="loginLabel"></h2>
                        <div class="error-message" [innerHTML]="message"></div>
                        <md-input (keyup.enter)="logInUser()" placeholder="{{userIdOrEmailLabel}}" [(ngModel)]="myAccountLogin" floatingPlaceholder="false" ></md-input>
                        <md-input (keyup.enter)="logInUser()" placeholder="{{passwordLabel}}" [(ngModel)]="password" type="password" floatingPlaceholder="false"></md-input>
                        <div class="row login__form-line">
                            <div class="col-sm-6">
                                <md-checkbox [(ngModel)]="myAccountRememberMe" id="myAccountRememberMe">{{rememberMeLabel}}</md-checkbox>
                            </div>
                            <div class="col-sm-6">
                                <select class="singin__language" id="language" [(ngModel)]="language" (change)="changeLanguage($event.target.value)">
                                    <option *ngFor="let lang of languages" value="{{lang.value}}">{{lang.label | capitalize}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row login__form-line">
                            <div class="col-sm-12">
                                <button md-button md-raised-button (click)="logInUser()">{{loginButton}}</button>
                                <button md-button md-flat-button (click)="showForgotPassword()">{{forgotPasswordButton}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--FORGOT PASSWORD FORM-->
            <div class="login__container forgot-password__container" *ngIf="!isForgotPasswordCardHidden">
                <div class="col-sm-12">
                    <h2 class="login__title">{{forgotPasswordLabel}}</h2>
                    <md-input (keyup.enter)="recoverPassword()" placeholder="{{emailAddressLabel}}" [(ngModel)]="forgotPasswordEmail" id="forgotPasswordEmail" floatingPlaceholder="false"></md-input>
                    <div class="row login__form-line">
                        <div class="col-sm-12">
                            <button md-button md-raised-button (click)="recoverPassword()">{{forgotPasswordButton}}</button>
                            <button md-button md-flat-button (click)="cancelRecoverPassword()">{{cancelButton}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>