@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.content-type {
    .ui-tabview-nav {
        box-shadow: 0 2px 2px $gray-light; 
    }

    & > p-tabview {
        .ui-tabview-nav {
            position: relative;
            z-index: 1;
        }
    }
}