<div class="content-type" id="content-type">
  <p-tabView>
      <p-tabPanel header="{{i18nMessages['fields']}}">
        <content-types-form [data]="contentTypeItem | async"></content-types-form>
      </p-tabPanel>
      <p-tabPanel header="{{i18nMessages['Permissions']}}">
        <div class="container-fluid">
          Content 2
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{i18nMessages['publisher_push_history']}}">
        <div class="container-fluid">
          Content 3
        </div>
      </p-tabPanel>
  </p-tabView>
</div>