@use "variables" as *;

:host ::ng-deep {
    .p-tabs-nav {
        padding: 0 $spacing-4;
        background: $white;
    }

    .p-tabs-panel {
        padding: 0 $spacing-4;
        padding-top: $spacing-4;
    }
}

dot-portlet-base {
    overflow-x: auto;
}
