<dot-portlet-base *ngIf="vm$ | async as vm" [boxed]="false">
    <p-tabView class="categories-create__tabs">
        <p-tabPanel [header]="'message.categories.tab.properties' | dm">
            <ng-template pTemplate="content">
                <dot-categories-properties></dot-categories-properties>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel [header]="'message.categories.tab.permissions' | dm">
            <ng-template pTemplate="content">
                <dot-categories-permissions
                    [categoryId]="vm.category.id || ''"
                ></dot-categories-permissions>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</dot-portlet-base>
