@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host ::ng-deep {
    .p-tabview-nav {
        padding: 0 spacing.$spacing-4;
        background: colors.$white;
    }

    .p-tabview-panel {
        padding: 0 spacing.$spacing-4;
        padding-top: spacing.$spacing-4;
    }
}

dot-portlet-base {
    overflow-x: auto;
}
