@if (vm$ | async; as vm) {
    <dot-portlet-base [boxed]="false">
        <p-tabs class="categories-create__tabs">
            <p-tab>
                <ng-template pTemplate="header">
                    {{ 'message.categories.tab.childrens' | dm }}
                </ng-template>
                <ng-template pTemplate="content">
                    <dot-categories-list
                        (updateCategory)="updateCategory($event)"></dot-categories-list>
                </ng-template>
            </p-tab>
            <p-tab>
                <ng-template pTemplate="header">
                    {{ 'message.categories.tab.properties' | dm }}
                </ng-template>
                Properties works
            </p-tab>
            <p-tab>
                <ng-template pTemplate="header">
                    {{ 'message.categories.tab.permissions' | dm }}
                </ng-template>
                <ng-template pTemplate="content">
                    <dot-categories-permissions
                        [categoryId]="vm.category.id || ''"></dot-categories-permissions>
                </ng-template>
            </p-tab>
        </p-tabs>
    </dot-portlet-base>
}
