@use "variables" as *;
@import "mixins";

:host {
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-weight: normal;
    overflow: hidden;
}

.label {
    @include truncate-text;
    align-items: center;
    background-color: transparent;
    border-radius: $border-radius;
    border: solid 1px $brand-secondary;
    color: $brand-secondary;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.75rem;
    line-height: 1em;
    padding: 0.25rem 6px 0.25rem $spacing-1;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $basic-speed ease, color $basic-speed ease;
    &:hover {
        background-color: $brand-secondary;
        color: $white;
    }
}
