[submodule "dotCMS/src/main/enterprise"]
	path = dotCMS/src/main/enterprise
	url = git@github.com:dotCMS/enterprise.git
	branch = master
	ignore = dirty
[submodule "core-web/src/main/node"]
	path = core-web/src/main/node
	url = git@github.com:dotCMS/core-web.git
	branch = master
	ignore = dirty
