.cicd/**/*.*
.github/**/*.*
bin/**/*.*
cicd/**/*.*
docker/**/*.*
docs/**/*.*
dotCMS/**/*.*
tools/**/*.*

core-web/package.json
core-web/package-lock.json
core-web/dist
core-web/dist-lib
core-web/dist-doc
core-web/node_modules
core-web/.angulardoc.json
core-web/.vscode/*
core-web/.storybook
core-web/karma_html
core-web/docs
core-web/.angular
core-web/**/*.md
core-web/**/*.d.ts
core-web/decorate-angular-cli.js
