<form
    (ngSubmit)="saveFieldProperties()"
    [formGroup]="form"
    class="content-type-fields__properties-form p-fluid"
    novalidate>
    <div *ngFor="let property of fieldProperties" #properties>
        <ng-container
            [propertyName]="property"
            [field]="formFieldData"
            [group]="form"
            dotDynamicFieldProperty></ng-container>
    </div>
    <dot-relationship-tree
        *ngIf="formFieldData?.relationships"
        [contentType]="contentType"
        [isParentField]="formFieldData.relationships.isParentField"
        [velocityVar]="formFieldData.relationships.velocityVar"></dot-relationship-tree>
</form>
