<form
    (ngSubmit)="saveFieldProperties()"
    [formGroup]="form"
    class="content-type-fields__properties-form p-fluid"
    novalidate>
    @for (property of fieldProperties; track property) {
        <div #properties>
            <ng-container
                [propertyName]="property"
                [field]="formFieldData"
                [group]="form"
                dotDynamicFieldProperty />
        </div>
    }
    @if (formFieldData?.relationships) {
        <dot-relationship-tree
            [contentType]="contentType"
            [isParentField]="formFieldData.relationships.isParentField"
            [velocityVar]="formFieldData.relationships.velocityVar" />
    }
</form>
