<p-toolbar>
    <ng-template pTemplate="start">
        <dot-crumbtrail class="toolbar__crumbtrail w-full" />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex gap-1 items-center">
            <div class="px-2">
                <dot-site [value]="$currentSite()?.identifier" [placeholder]="'Select a site'" class="w-64"
                    (onChange)="siteChange($event)" (onShow)="iframeOverlayService.show()"
                    (onHide)="iframeOverlayService.hide()" />
            </div>
            <ng-container *dotShowHideFeature="featureFlagAnnouncements">
                <dot-toolbar-announcements />
            </ng-container>
            <dot-toolbar-notifications />
        </div>
        <div class="flex items-center gap-0">
            <div class="h-8">
                <p-divider layout="vertical" styleClass="ml-0 text-gray-500" />
            </div>
            <dot-toolbar-user />
        </div>
    </ng-template>
</p-toolbar>
