<p-toolbar>
    <ng-template pTemplate="start">
        <dot-crumbtrail class="toolbar__crumbtrail" />
    </ng-template>
    <ng-template pTemplate="end">
        <dot-site-selector
            (switch)="siteChange($event)"
            (hide)="iframeOverlayService.hide()"
            (display)="iframeOverlayService.show()"
            [archive]="false"
            class="toolbar__site-selector w-12rem"
            #siteSelector
            cssClass="d-secondary"/>
        <div class="flex gap-1">
            <ng-container *dotShowHideFeature="featureFlagAnnouncements">
                <dot-toolbar-announcements />
            </ng-container>
            <dot-toolbar-notifications />
        </div>
        <dot-toolbar-user />
    </ng-template>
</p-toolbar>
