/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: $border-radius;
  -webkit-border-top-left-radius: $border-radius;
  -khtml-border-top-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: $border-radius;
  -webkit-border-top-right-radius: $border-radius;
  -khtml-border-top-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: $border-radius;
  -webkit-border-bottom-left-radius: $border-radius;
  -khtml-border-bottom-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: $border-radius;
  -webkit-border-bottom-right-radius: $border-radius;
  -khtml-border-bottom-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

/* Shadows */

.ui-shadow {
  box-shadow: $md-shadow-1;
}