@import "variables";
@import "mixins";

:host {
    display: contents;

    input {
        width: 100%;
    }

    p-celleditor {
        cursor: pointer;
    }

    .field-variable-row td,
    .field-variable-row .content-type-fields__variables-actions {
        padding: 0;
        height: $basic-padding * 8;
        vertical-align: middle;

        &:first-child {
            padding-left: $basic-padding * 3;
        }

        &:last-child {
            padding-right: $basic-padding * 3;
        }
    }

    .field-variable-row .content-type-fields__variables-actions {
        text-align: right;

        & > * {
            margin-left: $basic-padding;
        }

    }
}
