<form [formGroup]="form" class="p-fluid">
    <div class="field">
        <label dotFieldRequired for="content-type-form-host">{{ 'modes.persona.host' | dm }}</label>
        <dot-site-selector-field
            [system]="true"
            id="content-type-form-host"
            width="100%"
            formControlName="hostFolder"></dot-site-selector-field>
    </div>

    <div class="field">
        <label dotFieldRequired for="persona-name">{{ 'modes.persona.name' | dm }}</label>
        <input
            (keyup)="setKeyTag()"
            id="persona-name"
            dotAutofocus
            type="text"
            formControlName="name"
            name="name"
            pInputText />
        <dot-field-validation-message
            [message]="'modes.persona.name.error.required' | dm"
            [field]="form.get('name')"></dot-field-validation-message>
    </div>

    <div class="field">
        <label dotFieldRequired for="persona-keyTag">{{ 'modes.persona.key.tag' | dm }}</label>
        <input id="persona-keyTag" type="text" formControlName="keyTag" name="keyTag" pInputText />
    </div>

    <div class="field">
        <label for="persona-image">{{ 'modes.persona.upload.file' | dm }}</label>
        @if (!tempUploadedFile) {
            <p-fileUpload
                (onUpload)="onFileUpload($event)"
                (onBeforeUpload)="isValid.emit(false)"
                [chooseLabel]="'dot.common.choose' | dm"
                id="persona-image"
                url="/api/v1/temp"
                accept="image/*,.webp"
                auto="true"
                mode="basic"></p-fileUpload>
        }
        @if (tempUploadedFile) {
            <div class="form__file-detail">
                <img [src]="tempUploadedFile.thumbnailUrl" />
                <span>{{ tempUploadedFile.fileName }}</span>
                <button
                    (click)="removeImage()"
                    [label]="'dot.common.remove' | dm"
                    class="p-button-outlined p-button-sm"
                    pButton></button>
            </div>
        }
    </div>
    <div class="field">
        <label for="persona-other-tags">{{ 'modes.persona.other.tags' | dm }}</label>
        <dot-autocomplete-tags
            [placeholder]="'modes.persona.select.tags.placeholder' | dm"
            id="persona-other-tags"
            formControlName="tags"></dot-autocomplete-tags>
    </div>
</form>
