.cms-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cms-info__message {
  color: #5B5B5B;
  font-size: 0.92308rem;
}

.cms-info__logo {
  width: 200px;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.login input.ui-inputtext {
  display: block;
  width: 100%;
}

.login md-input {
  overflow: inherit;
  width: 100%;
}

.login__container {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-radius: 2px;
  padding: 32px 32px 64px;
}

.login__container .row {
  display: flex;
}

.login__container.forgot-password__container {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 500px;
}

.login__title {
  color: #0E80CB;
  font-size: 2.46154rem;
  font-weight: 100;
  line-height: 1em;
  margin: 0 0 1.23077rem;
}

.signin {
  position: relative;
}

@media (min-width: 992px) {
  .signin {
    border-left: solid 1px #C5C5C5;
    padding-left: 56px;
  }
  .signin:before {
    background-color: #fff;
    border: solid #C5C5C5;
    border-width: 1px 1px 0 0;
    content: '';
    height: 14px;
    left: -7px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 14px;
  }
}
