<nav [class.collapsed]="dotNavigationService.collapsed$ | async" role="navigation">
    <ul class="dot-nav">
        <li
            *ngFor="let item of menu$ | async"
            [class.dot-nav__list-item--active]="item.isOpen"
            class="dot-nav__list-item">
            <dot-nav-item
                (menuClick)="onMenuClick($event)"
                (itemClick)="onItemClick($event)"
                [data]="item"
                [collapsed]="dotNavigationService.collapsed$ | async"></dot-nav-item>
        </li>
    </ul>
</nav>
