@use "variables" as *;
@import "mixins";
@import "dotcms-theme/utils/theme-variables";

:host {
    color: $white;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 1.5;

    ::ng-deep {
        .dot-nav__button-wrapper {
            .p-button-icon-only.p-button {
                .p-button-icon.pi {
                    color: $white;
                }
                &:hover {
                    background-color: $color-palette-white-op-30;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

dot-nav-item {
    cursor: pointer;
}

nav {
    transition: width $basic-speed ease;
    width: $navigation-width;

    .dot-nav__list-item--active {
        background-color: $color-palette-white-op-10;
    }

    &.collapsed {
        width: $navigation-width-collased;
    }
}

ul {
    @include naked-list;
}
