@let isCollapsed = $isCollapsed();

<nav [class.collapsed]="isCollapsed" role="navigation">
    <dot-nav-header [isCollapsed]="isCollapsed" (toggle)="handleCollapseButtonClick()" />
    <ul class="dot-nav">
        @for (item of $menu(); track item.id) {
            <li [class.dot-nav__list-item--active]="item.isOpen" class="dot-nav__list-item">
                <dot-nav-item
                    (menuClick)="onMenuClick($event)"
                    (itemClick)="onItemClick($event)"
                    [data]="item"
                    [collapsed]="isCollapsed" />
            </li>
        }
    </ul>
</nav>
