@use "variables" as *;
@use "mixins";
@use "dotcms-theme/utils/theme-variables";
@use "../../../../../../../libs/dotcms-scss/shared/colors";

:host {
    color: colors.$white;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 1.5;
}

dot-nav-item {
    cursor: pointer;
}

nav {
    transition: width $basic-speed ease;
    width: $navigation-width;

    .dot-nav__list-item--active {
        background-color: colors.$color-palette-white-op-10;
    }

    &.collapsed {
        width: $navigation-width-collased;
    }
}

ul {
    @include mixins.naked-list;
}
