@use "variables" as *;
@import "mixins";

:host {
    display: block;
    width: 100%;

    ::ng-deep {
        dot-container-selector {
            height: auto;
            margin-left: $basic-padding * 2;
            margin-right: $basic-padding * 2;

            dot-searchable-dropdown button {
                margin: $basic-padding 0;
            }

            dot-searchable-dropdown button,
            dot-searchable-dropdown button:hover {
                box-shadow: none;
            }

            .container-selector__list {
                height: 140px;
                margin-top: $basic-padding;
            }
        }
    }
}

$box-header-height: 56px;
$box-height: 206px;

.grid {
    position: relative;
}

.box {
    background: linear-gradient(
        to bottom,
        $gray-bg 0,
        $gray-bg $box-header-height,
        $white $box-header-height,
        $white 100%
    );
    border: 1px solid $gray-light;
    display: flex;
    height: $box-height;
    justify-content: space-between;
}

.box__actions {
    align-items: center;
    display: flex;
    height: $box-header-height;
    position: absolute;
    right: $spacing-1;
}

.box__add-row-class-button {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    height: $box-height;
    padding: 0;
    position: absolute;
    right: -23px;
    width: 32px;
    z-index: 1;
}
