<div class="grid" [ngGrid]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()">
    <div
        class="box__add-row-class-button"
        *ngFor="let rowClass of rowClass; let i = index"
        [ngStyle]="{ 'top.px': i ? (206 + 8) * i : 0 }"
    >
        <dot-icon-button-tooltip
            [tooltipText]="'editpage.layout.css.class.add.to.row' | dm"
            (click)="addRowClass(i)"
            icon="more_horiz"
        >
        </dot-icon-button-tooltip>
    </div>

    <div
        class="box"
        *ngFor="let gridBox of grid.boxes; let i = index"
        [(ngGridItem)]="gridBox.config"
    >
        <dot-container-selector
            (change)="propagateGridLayoutChange($event)"
            (remove)="onRemoveContainer(i)"
            [data]="gridBox.containers"
            [multiple]="true"
        >
        </dot-container-selector>
        <div class="box__actions">
            <dot-icon-button-tooltip
                class="box__add-box-class-button"
                icon="more_horiz"
                (click)="addColumnClass(i)"
                [tooltipText]="'editpage.layout.css.class.add.to.box' | dm"
            ></dot-icon-button-tooltip>
            <dot-icon-button-tooltip
                [tooltipText]="'editpage.action.delete' | dm"
                icon="close"
                (click)="onRemoveContainer(i)"
            ></dot-icon-button-tooltip>
        </div>
    </div>
</div>

<dot-dialog
    #dialog
    (hide)="onAddClassDialogHide()"
    [actions]="addClassDialogActions"
    [header]="addClassDialogHeader"
    [(visible)]="addClassDialogShow"
    [width]="400"
>
    <form *ngIf="addClassDialogShow" [formGroup]="form" novalidate>
        <div class="form__group">
            <span dotMdInputtext [label]="'editpage.layout.css.class.names' | dm">
                <input
                    class="box__add-class-text"
                    dotAutofocus
                    formControlName="classToAdd"
                    pInputText
                    type="text"
                />
            </span>
        </div>
    </form>
</dot-dialog>
