<div [ngGrid]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()">
    <div class="box" *ngFor="let gridBox of grid; let i = index" [(ngGridItem)]="gridBox.config">
        <button class="box__remove" type="button" pButton icon="fa-close" (click)="onRemoveContainer(i)"></button>
        <dot-container-selector (change)="updateContainers($event)" (remove)="onRemoveContainer(i)" [data]="gridBox.containers"
            [multiple]="true">
        </dot-container-selector>
    </div>
</div>