<p-drawer
    (onHide)="sidebar.destroyModal(); closeSidebar()"
    [blockScroll]="true"
    [closeOnEscape]="false"
    [dismissible]="false"
    [showCloseIcon]="false"
    [visible]="!!blockEditorInput"
    #sidebar
    data-testid="sidebar"
    position="right">
    @if (blockEditorInput) {
        <div class="container">
            <dot-block-editor
                [contentletIdentifier]="blockEditorInput.contentletIdentifier"
                [field]="blockEditorInput.field"
                [languageId]="blockEditorInput.languageId"
                [showVideoThumbnail]="showVideoThumbnail"
                [value]="blockEditorInput.content"
                #blockEditor></dot-block-editor>
            <footer>
                <button
                    (click)="closeSidebar()"
                    [label]="'Cancel' | dm"
                    class="p-button-outlined"
                    data-testid="cancelBtn"
                    pButton
                    type="button"></button>
                <button
                    (click)="saveEditorChanges()"
                    [disabled]="saving"
                    [label]="'Update' | dm"
                    [loading]="saving"
                    data-testid="updateBtn"
                    pButton
                    type="button"></button>
            </footer>
        </div>
    }
</p-drawer>
