<p-sidebar
    #sidebar
    [blockScroll]="true"
    [closeOnEscape]="false"
    [dismissible]="false"
    [showCloseIcon]="false"
    [visible]="!!blockEditorInput"
    (onHide)="sidebar.destroyModal(); closeSidebar()"
    data-testid="sidebar"
    position="right">
    <div class="container" *ngIf="blockEditorInput">
        <dot-block-editor
            #blockEditor
            [contentletIdentifier]="blockEditorInput.contentletIdentifier"
            [field]="blockEditorInput.field"
            [languageId]="blockEditorInput.languageId"
            [showVideoThumbnail]="showVideoThumbnail"
            [value]="blockEditorInput.content">
        </dot-block-editor>
        <footer>
            <button
                class="p-button-outlined"
                [label]="'Cancel' | dm"
                (click)="closeSidebar()"
                data-testid="cancelBtn"
                pButton
                type="button"></button>
            <button
                [disabled]="saving"
                [label]="'Update' | dm"
                [loading]="saving"
                (click)="saveEditorChanges()"
                data-testid="updateBtn"
                pButton
                type="button"></button>
        </footer>
    </div>
</p-sidebar>
