<div [formGroup]="group">
    <dot-field-helper *ngIf="helpText && isValidHelperClass()" [message]="helpText"></dot-field-helper>
    <label class="form__label">{{ 'contenttypes.field.properties.value.label' | dm }}*</label>
    <dot-textarea-content #value [formControlName]="property.name" [show]="['code']" height="90px"></dot-textarea-content>
    <dot-field-validation-message
        message="Values is required"
        [field]="group.controls[property.name]">
    </dot-field-validation-message>
</div>
