<nav [class.collapsed]="dotNavigationService.collapsed$ | async" role="navigation">
    <ul class="dot-nav">
        <li *ngFor="let item of menu$ | async" class="dot-nav__list-item" [class.dot-nav__list-item--active]="item.isOpen">
            <dot-nav-item
                [data]="item"
                [class.collapsed]="dotNavigationService.collapsed$ | async"
                (menuClick)="onMenuClick($event)"
                (itemClick)="onItemClick($event)"
                [pTooltip]="item.tabName"
                [tooltipDisabled]="!dotNavigationService.collapsed"
                tooltipStyleClass="dot-nav__tooltip" >
            </dot-nav-item>
        </li>
    </ul>
</nav>
