@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

:host {
    color: $white;
    text-decoration: none;
}

nav {
    transition: width $basic-speed ease;
    width: 200px;
}

ul {
    @include naked-list;
}

.dot-nav {
    &__list-item {
        &--active {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.collapsed {
    width: 70px;
}
