@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

:host {
    color: $white;
    text-decoration: none;
}

dot-nav-item {
    cursor: pointer;
}

nav {
    transition: width $basic-speed ease;
    width: $navigation-width;

    .dot-nav__list-item--active {
        background-color: rgba(var(--color-white_rgb), 0.1);
    }

    &.collapsed {
        width: $navigation-width-collased;
    }
}

ul {
    @include naked-list;
}
