@import "../../../../../styles/variables";

:host {
    box-shadow: $md-shadow-1;
    border-radius: $border-radius;
    display: block;
    margin-bottom: $basic-padding * 2;
    padding: $basic-padding * 2;
    position: relative;
    transition: box-shadow $basic-speed;

    &:hover {
        box-shadow: $md-shadow-2;

        .row-header {
            opacity: 1;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.row-columns {
    display: flex;
}

.row-columns__item {
    margin: 0 $basic-padding / 2;

    &.empty {
        border: solid 1px $gray-lighter;
        color: $gray-light;
        min-height: $basic-padding * 4;
        position: relative;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.row-columns__item-empty-message {
    margin-top: -7px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.row-header {
    margin-bottom: $basic-padding * 2;
    opacity: 0.25;
    text-align: center;
    transition: opacity $basic-speed;
}

.row-header__drag {
    cursor: move;
}

.row-header__remove {
    cursor: pointer;
    position: absolute;
    right: $basic-padding * 2;
}