<div class="header">
    <a class="row-drag-button">Drag row ({{fieldRow.columns.length}})</a>
    <a class="row-remove">[x]</a>
</div>
<div>
    <span
        *ngFor="let column of fieldRow.columns"
        [dragulaModel]="column.fields"
        [style.width]="getColumnWidth()"
        class="fields-container"
        data-drag-type="target"
        dragula="fields-bag">
       
        <content-type-field-dragabble-item 
            *ngFor="let field of column.fields"
            [field]="field"
            (remove)="removeField($event)"
            (edit)="this.editField.emit(field)">
        </content-type-field-dragabble-item>
    </span>
</div>