<div class="row-header">
    <span class="row-header__drag"><i class="fa fa-bars"></i></span>
    <icon-button-tooltip 
        class="row-header__remove"
        icon="fa-trash"
        [tooltipText]="i18nMessages['contenttypes.action.delete']"
        (click)="onRemoveFieldRow()">
    </icon-button-tooltip>
</div>
<div class="row-columns">
    <span
        *ngFor="let column of fieldRow.columns"
        [class.empty]="!column.fields.length"
        [dragulaModel]="column.fields"
        [style.width]="getColumnWidth()"
        class="row-columns__item"
        data-drag-type="target"
        dragula="fields-bag">

        <span class="row-columns__item-empty-message" *ngIf="!column.fields.length">
            {{i18nMessages['contenttypes.dropzone.rows.empty.message']}}
        </span>
       
        <content-type-field-dragabble-item 
            *ngFor="let field of column.fields"
            [field]="field"
            (remove)="onRemoveField($event)"
            (edit)="this.editField.emit(field)">
        </content-type-field-dragabble-item>
    </span>
</div>