@import 'variables';

:host {
    // box-shadow: $md-shadow-1;
    border-radius: $border-radius;
    display: block;
    margin-bottom: $basic-padding * 2;
    padding:  0 $basic-padding * 2 $basic-padding * 2;
    position: relative;
    transition: box-shadow $basic-speed;
    background: $white;

    &:last-child {
        margin-bottom: 0;
    }
}

.row-columns {
    display: flex;
    background: $gray-bg;
}

.row-columns__item {
    margin: 0 $basic-padding / 2;
    display: flex;
    flex-direction: column;
    padding: $basic-padding;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.empty {
        background: $gray-bg;

        .row-columns__item-empty-message {
            min-height: 150px;
        }
    }
}

.row-columns__item-empty-message {
    text-align: center;
    width: 100%;
    border: dashed 1px $gray;
    color: $gray;
    min-height: 68px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: $font-size-small;
}

.row-header {
    opacity: 0.25;
    text-align: center;
    transition: opacity $basic-speed;
    margin: 0 -#{$basic-padding * 2}
}

.row-header__drag {
    cursor: move;
    display: block;
    height: $basic-padding * 2;
    width: 100%;
}

.row-header__remove {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
}
