<div class="dot-add-rows__container">
    <div class="dot-add-rows-button__container" 
        [ngClass]="{'dot-add-rows__add': rowState === 'add'}">    
        <button type="button" pButton flat 
            label="{{i18nMessages['contenttypes.dropzone.rows.add']}}" (click)="setColumnSelect()" 
            icon="fa-plus"
            [disabled]="disabled">
        </button>  
    </div>
    
    <ul #colContainer class="dot-add-rows-columns-list__container" 
        [ngClass]="{'dot-add-rows__select': rowState === 'select'}">
        <li *ngFor="let colNum of columns; let i = index" 
            [ngClass]="{'active': i == selectedColumnIndex}" class="dot-add-rows-columns-list__item"
            pTooltip="{{setTooltipValue(i)}}" tooltipPosition="bottom" tabindex="-1" tooltipEvent="focus"
            (mouseenter)="onMouseEnter(i, $event)" (mouseleave)="onMouseLeave($event)"
            (click)="emitColumnNumber()">
            <div class="dot-add-rows-columns-list__item-col" *ngFor="let i of numberOfCols(colNum)"></div>
        </li>
    </ul>      
</div>
