@use "variables" as *;
@use "mixins";
@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;
}

.container-selector__list {
    @include mixins.naked-list;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.container-selector__list-item {
    display: flex;
    align-items: center;
    border-top: 1px solid colors.$color-palette-gray-200;
    color: colors.$black;
    font-size: fonts.$font-size-md;
    overflow: hidden;
    padding: spacing.$spacing-1 0;

    dot-icon-button {
        margin-right: spacing.$spacing-1;
    }

    &:first-child {
        border-top: none;
    }
}

.container-selector__list-item-text {
    @include mixins.truncate-text;
}
