<dot-form-dialog
    *ngIf="vm$ | async as vm"
    [saveButtonDisabled]="(isFormValid$ | async) === false"
    (cancel)="onCancel()"
    (save)="onSave()"
    data-testId="dialogForm"
>
    <form class="p-fluid" *ngIf="form" [formGroup]="form" data-testId="form">
        <div class="fields-col">
            <div class="field" data-testId="thumbnailField">
                <label class="p-label-input-required" for="previewThumbnail">{{
                    'preview' | dm
                }}</label>
                <dot-html-to-image
                    [value]="vm.pageRenderedHtml"
                    [width]="vm.imgWidth"
                    [height]="vm.imgHeight"
                ></dot-html-to-image>
            </div>
        </div>
        <div class="fields-col">
            <div class="field" data-testId="titleField">
                <label class="p-label-input-required" for="title">{{ 'title' | dm }}</label>
                <input
                    id="title"
                    pInputText
                    formControlName="title"
                    autofocus
                    data-testId="favoritePageTitleField"
                />
                <dot-field-validation-message
                    [field]="form.get('title')"
                ></dot-field-validation-message>
            </div>
            <div class="field" data-testId="urlField">
                <label class="p-label-input-required" for="url">{{ 'url' | dm }}</label>
                <input
                    id="url"
                    pInputText
                    formControlName="url"
                    data-testId="favoritePageUrlField"
                />
                <dot-field-validation-message
                    [field]="form.get('url')"
                ></dot-field-validation-message>
            </div>
            <div class="field" data-testId="orderField">
                <label class="p-label-input-required" for="order">{{ 'order' | dm }}</label>
                <input
                    id="order"
                    pInputText
                    formControlName="order"
                    data-testId="favoritePageOrderField"
                />
                <dot-field-validation-message
                    [field]="form.get('order')"
                ></dot-field-validation-message>
            </div>
            <div class="field" *ngIf="vm.isAdmin" data-testId="shareWithField">
                <label for="permissions">{{ 'favoritePage.dialog.field.shareWith' | dm }}</label>
                <p-multiSelect
                    id="permissions"
                    [options]="vm.roleOptions"
                    formControlName="permissions"
                    optionLabel="name"
                    appendTo="body"
                ></p-multiSelect>
            </div>
        </div>
    </form>

    <button
        class="p-button-secondary dot-favorite-dialog-footer__delete-button"
        [disabled]="!vm.inodeStored"
        [label]="'favoritePage.dialog.delete.button' | dm"
        (click)="onDelete(vm.inodeStored)"
        footerActions
        data-testid="dotFavoriteDialogDeleteButton"
        pButton
    ></button>
</dot-form-dialog>
