@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;

    & ::ng-deep .p-selectbutton {
        box-shadow: none;
        border-bottom: 0;

        .p-button {
            &:first-child {
                border-bottom-left-radius: 0;
            }

            &:last-child {
                border-bottom-right-radius: 0;
            }
        }
    }
}

.textarea-content__code-field,
.textarea-content__plain-field {
    border: 1px solid $input-border-color;
    display: block;
}

.textarea-content__plain-field {
    display: block;
    height: 300px;
    outline: none;
    padding: spacing.$spacing-1;
    resize: none;
    width: 100%;
}
