@if (selectOptions.length > 1) {
    <p-selectButton [(ngModel)]="selected"
        [options]="selectOptions"
        class="textarea-content__select-field" />
}
@if (selected === 'plain') {
    <textarea
        (keydown.enter)="onKeyEnter($event)"
        (ngModelChange)="onModelChange($event)"
        [ngModel]="value"
        [ngStyle]="styles"
        class="textarea-content__plain-field"></textarea>
}
@if (selected === 'code') {
    <ngx-monaco-editor (ngModelChange)="onModelChange($event)"
        (keydown.enter)="onKeyEnter($event)"
        (init)="onInit($event)"
        [(ngModel)]="value"
        [ngStyle]="styles"
        [options]="editorOptions"
        class="textarea-content__code-field" />
}
