@use "variables" as *;
@use "dotcms-theme/utils/theme-variables";
@use "mixins";
@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    padding: spacing.$spacing-1;
    cursor: pointer;

    dot-icon {
        bottom: 0;
        position: absolute;
        right: 0;
    }

    &::ng-deep {
        .material-icons {
            color: colors.$color-palette-gray-700;
            transform: scale(1.2);
        }
    }

    &.disabled {
        &::ng-deep {
            .avatar__placeholder {
                background-color: theme-variables.$field-disabled-color;
            }

            .material-icons {
                color: theme-variables.$field-disabled-color;
            }
        }

        .dot-persona-selector__label,
        .dot-persona-selector__name {
            color: theme-variables.$field-disabled-color;
        }
    }

    @media only screen and (max-width: $screen-device-container-max) {
        & {
            width: unset;
        }
    }
}

.dot-persona-selector__label-container {
    @include mixins.truncate-text;

    span {
        display: block;
    }
}

.dot-persona-selector__label {
    color: colors.$color-palette-gray-700;
    flex: 1;
    font-size: fonts.$font-size-sm;
    line-height: spacing.$spacing-3;
}

.dot-persona-selector__label--edit {
    color: colors.$color-palette-primary;
}

.dot-persona-selector__name {
    color: colors.$black;
    font-size: fonts.$font-size-md;

    @include mixins.truncate-text;
}

@media only screen and (max-width: $screen-lg-max) {
    .dot-persona-selector__name {
        display: none;
    }

    .dot-persona-selector__container.gap-3 {
        gap: 0.75rem !important;
    }
}
