<div
    class="dot-persona-selector__container h-full flex-auto flex align-items-center gap-3"
    [pTooltip]="disabled ? ('editpage.personalization.content.add.message' | dm) : null"
    [tooltipPosition]="disabled ? 'bottom' : null"
>
    <dot-avatar
        [label]="persona?.name || ('modes.persona.no.persona' | dm)"
        [showDot]="persona?.personalized || false"
        [size]="24"
        [url]="persona?.photo || ''"
    ></dot-avatar>
    <span class="dot-persona-selector__name">{{
        persona?.name || ('modes.persona.no.persona' | dm)
    }}</span>
    <i class="pi pi-chevron-down"></i>
</div>
