<div
    [pTooltip]="disabled ? ('editpage.personalization.content.add.message' | dm) : null"
    [tooltipPosition]="disabled ? 'bottom' : null"
    class="dot-persona-selector__container h-full flex-auto flex items-center gap-4">
    @if (persona) {
        <p-avatar
            [text]="persona?.name"
            [image]="persona?.photo"
            [badgeDisabled]="!persona?.personalized"
            pBadge
            dotAvatar></p-avatar>
    }

    @if (!persona) {
        <p-avatar [text]="'modes.persona.no.persona' | dm" dotAvatar></p-avatar>
    }

    <span class="dot-persona-selector__name">
        {{ persona?.name || ('modes.persona.no.persona' | dm) }}
    </span>

    @if (!readonly) {
        <i class="pi pi-chevron-down"></i>
    }
</div>
