<div
    class="dot-persona-selector__container h-full flex-auto flex align-items-center gap-3"
    [pTooltip]="disabled ? ('editpage.personalization.content.add.message' | dm) : null"
    [tooltipPosition]="disabled ? 'bottom' : null"
>
    <p-avatar
        *ngIf="persona?.personalized"
        [label]="persona?.name || ('modes.persona.no.persona' | dm)"
        [image]="persona?.photo"
        pBadge
        dotAvatar
    ></p-avatar>
    <p-avatar
        *ngIf="!persona?.personalized"
        [label]="persona?.name || ('modes.persona.no.persona' | dm)"
        [image]="persona?.photo"
        dotAvatar
    ></p-avatar>

    <span class="dot-persona-selector__name">{{
        persona?.name || ('modes.persona.no.persona' | dm)
    }}</span>

    <ng-container *ngIf="!readonly">
        <i class="pi pi-chevron-down"></i>
    </ng-container>
</div>
