<form
    [formGroup]="form"
    (ngSubmit)="saveFieldProperties()"
    class="content-type-fields__properties-form"
    novalidate
>
    <div
        [ngClass]="{
            'form__group': checkboxFields.indexOf(property) == -1 && property !== 'relationships'
        }"
        *ngFor="let property of fieldProperties"
        #properties>
        <ng-container
            dotDynamicFieldProperty
            [propertyName]="property"
            [field]="formFieldData"
            [group]="form"
        >
        </ng-container>
    </div>
</form>
