<div class="forgot-password__container" *ngIf="(loginInfo$ | async)  as loginInfo">
    <h3>{{ loginInfo.i18nMessagesMap['forgot-password'] }}</h3>
    <div class="error-message" [innerHTML]="message"></div>
    <form [formGroup]="forgotPasswordForm">
        <div class="form__group form__group--validation">
            <span dotMdInputtext label="{{ loginInfo.i18nMessagesMap['emailAddressLabel'] }}">
                <input pInputText type="text" dotAutofocus
                       formControlName="login"
                       autocomplete="username"/>
                <dot-field-validation-message
                    [message]="loginInfo?.i18nMessagesMap['error.form.mandatory'].replace( '{0}', loginInfo.i18nMessagesMap['emailAddressLabel'])"
                    [field]="forgotPasswordForm.get('login')">
                </dot-field-validation-message>
            </span>
        </div>
        <div class="form__group">
            <button pButton secondary (click)="goToLogin()" type="button" [label]="loginInfo.i18nMessagesMap['cancel']"></button>
            <button pButton (click)="submit()" type="submit"
                    [disabled]="!forgotPasswordForm.valid" [label]="loginInfo.i18nMessagesMap['get-new-password']"></button>
        </div>
    </form>
</div>
