<p-toolbar>
    <div class="ui-toolbar-group-left">
        <div class="toolbar__button-wrapper">
            <dot-icon-button big [icon]="(dotNavigationService.collapsed$ | async) ? 'menu' : 'arrow_back'" inverted (click)="handleMainButtonClick($event)"></dot-icon-button>
        </div>
        <div class="toolbar__logo-wrapper" [class.toolbar__logo-wrapper--collapsed]="dotNavigationService.collapsed$ | async">
            <span class="toolbar__logo"></span>
            <span class="toolbar__logo-bg"></span>
        </div>
        <dot-crumbtrail class="toolbar__crumbtrail"></dot-crumbtrail>
    </div>
    <div class="ui-toolbar-group-right">
        <dot-site-selector
            #siteSelector
            (change)="siteChange($event)"
            (hide)="iframeOverlayService.hide()"
            (show)="iframeOverlayService.show()"
            [archive]="false"
            class="toolbar__site-selector">
        </dot-site-selector>
        <span class="toolbar__sep"></span>
        <dot-toolbar-notifications></dot-toolbar-notifications>
        <dot-toolbar-user></dot-toolbar-user>
    </div>
</p-toolbar>
