<div [formGroup]="group.control" class="dot-layout-designer">
    @if (group.control.get('header').value) {
        <div class="dot-layout-designer__header">
            {{ 'editpage.layout.designer.header' | dm }}
        </div>
    }
    <div class="dot-layout-designer__main">
        @if (group.control.get('sidebar')?.value?.location === 'left') {
            <div
                [ngClass]="
                    'dot-layout-designer__sidebar--' + group.control.get('sidebar')?.value['width']
                "
                class="dot-layout-designer__sidebar--left">
                <dot-edit-layout-sidebar formControlName="sidebar"></dot-edit-layout-sidebar>
            </div>
        }
        <div class="dot-layout-designer__body">
            <div class="dot-layout-designer__grid-guides">
                <dot-edit-layout-grid formControlName="body"></dot-edit-layout-grid>
            </div>
        </div>
        @if (group.control.get('sidebar')?.value?.location === 'right') {
            <div
                [ngClass]="
                    'dot-layout-designer__sidebar--' + group.control.get('sidebar')?.value['width']
                "
                class="dot-layout-designer__sidebar--right">
                <dot-edit-layout-sidebar formControlName="sidebar"></dot-edit-layout-sidebar>
            </div>
        }
    </div>
    @if (group.control.get('footer').value) {
        <div class="dot-layout-designer__footer">
            {{ 'editpage.layout.designer.footer' | dm }}
        </div>
    }
</div>
