<tr class="dot-key-value-table-input-row">
    <td>
        <input
            #keyCell
            pInputText
            class="field-key-input"
            type="text"
            autocomplete="false"
            [placeholder]="'keyValue.key_input.placeholder' | dm"
            (blur)="editFieldInit($event)"
            (focus)="editFieldInit($event)"
            (keyup)="editFieldInit($event)"
            (keydown.escape)="onCancel($event)"
            (keydown.enter)="onPressEnter($event)"
            [(ngModel)]="variable.key"
        />
    </td>
    <td>
        <input
            #valueCell
            pInputText
            class="field-value-input"
            autocomplete="false"
            [type]="variable.hidden ? 'password' : 'text'"
            [placeholder]="'keyValue.value_input.placeholder' | dm"
            (focus)="editFieldInit($event)"
            (keyup)="editFieldInit($event)"
            (keydown.escape)="onCancel($event)"
            (keydown.enter)="onPressEnter($event)"
            [(ngModel)]="variable.value"
        />
    </td>
    <td *ngIf="showHiddenField" class="dot-key-value-table-input-row__variables-hidden">
        <p-inputSwitch [(ngModel)]="variable.hidden" (click)="editFieldInit()"></p-inputSwitch>
    </td>
    <td class="dot-key-value-table-input-row__variables-actions">
        <button
            pButton
            secondary
            tiny
            class="dot-key-value-table-input-row__variables-actions-edit-cancel"
            [label]="'Cancel' | dm"
            (click)="onCancel($event)"
        ></button>
        <button
            #saveButton
            pButton
            tiny
            class="dot-key-value-table-input-row__variables-actions-edit-save"
            [label]="'Save' | dm"
            [disabled]="saveDisabled"
            (click)="saveVariable()"
        ></button>
    </td>
</tr>
