@let displayedApps = state.displayedApps;

<dot-portlet-base>
    <div class="dot-apps__container">
        <div class="dot-apps__header">
            <input
                [placeholder]="('apps.search.placeholder' | dm) || ''"
                #searchInput
                pInputText
                type="text" />
            <div class="dot-apps__header-actions">
                <div class="dot-apps__header-info">
                    <i class="pi pi-question-circle text-lg"></i>
                    <a href="https://dotcms.com/docs/latest/apps-integrations" target="_blank">
                        {{ 'apps.link.info' | dm }}
                    </a>
                </div>
                <button
                    (click)="openImportDialog()"
                    [label]="'apps.confirmation.import.button' | dm"
                    class="dot-apps-configuration__action_import_button"
                    pButton
                    link
                    icon="pi pi-upload"></button>
                <button
                    (click)="openExportDialog()"
                    [label]="'apps.confirmation.export.all.button' | dm"
                    [disabled]="!isExportButtonDisabled()"
                    class="dot-apps-configuration__action_export_button"
                    pButton
                    link
                    icon="pi pi-download"></button>
            </div>
        </div>
        <div class="dot-apps__body">
            @for (app of displayedApps(); track app.key) {
                <dot-apps-card (actionFired)="goToApp($event)" [app]="app" />
            }
        </div>
    </div>

    <!-- Dialog is now managed by store, no inputs needed -->
    <dot-apps-import-export-dialog />
</dot-portlet-base>
