<dot-portlet-base>
    <dot-not-license *ngIf="!canAccessPortlet; else licensed" />
    <ng-template #licensed
        ><div class="dot-apps__container">
            <div class="dot-apps__header">
                <input
                    #searchInput
                    [placeholder]="('apps.search.placeholder' | dm) || ''"
                    pInputText
                    type="text" />
                <div class="dot-apps__header-actions">
                    <div class="dot-apps__header-info">
                        <dot-icon name="help" size="18"></dot-icon>
                        <a
                            href="https://dotcms.com/docs/latest/apps-integrations"
                            target="_blank"
                            >{{ 'apps.link.info' | dm }}</a
                        >
                    </div>
                    <button
                        class="dot-apps-configuration__action_import_button"
                        [label]="'apps.confirmation.import.button' | dm"
                        (click)="confirmImportExport('Import')"
                        pButton
                        link
                        icon="pi pi-upload"></button>
                    <button
                        class="dot-apps-configuration__action_export_button"
                        [label]="'apps.confirmation.export.all.button' | dm"
                        [disabled]="!isExportButtonDisabled()"
                        (click)="confirmImportExport('Export')"
                        pButton
                        link
                        icon="pi pi-download"></button>
                </div>
            </div>
            <div class="dot-apps__body">
                <dot-apps-card
                    *ngFor="let app of appsCopy"
                    [app]="app"
                    (actionFired)="goToApp($event)"></dot-apps-card>
            </div>
        </div>
    </ng-template>

    <dot-apps-import-export-dialog
        #importExportDialog
        [action]="importExportDialogAction"
        [show]="showDialog"
        (resolved)="reloadAppsData()"
        (shutdown)="onClosedDialog()"></dot-apps-import-export-dialog>
</dot-portlet-base>
