<p-dialog
    [(visible)]="isVisibleDialog"
    [header]="dialogTitle"
    [modal]="true"
    [style]="{ width: '600px' }"
    styleClass="no-overflow"
    (visibleChange)="closeDialog()">
    <form [formGroup]="form" class="p-fluid" #formEl="ngForm" novalidate>
        <div class="field form__group--validation">
            <label dotFieldRequired for="content-type-form-name">{{ inputNameWithType }}</label>
            <input
                [tabindex]="1"
                id="content-type-form-name"
                dotAutofocus
                formControlName="name"
                name="name"
                pInputText
                type="text" />
            <dot-field-validation-message
                [field]="nameControl"
                [message]="
                    'dot.common.message.field.required' | dm: [inputNameWithType]
                "></dot-field-validation-message>
        </div>

        <div class="field form__group--validation">
            <label for="content-type-form-variable-name">
                {{ 'contenttypes.form.label.variable_name' | dm }}
            </label>
            <input
                [tabindex]="2"
                id="content-type-form-variable-name"
                formControlName="variable"
                name="variable"
                pInputText
                placeholder="{{ 'contentType.form.variable.placeholder' | dm }}"
                type="text" />
            <dot-field-validation-message
                [field]="this.variableControl"></dot-field-validation-message>
        </div>

        <div class="field">
            <label for="content-type-form-icon">{{ 'contenttypes.form.label.icon' | dm }}</label>
            <dot-md-icon-selector
                [tabindex]="3"
                id="content-type-form-icon"
                formControlName="icon"></dot-md-icon-selector>
        </div>

        <div class="field">
            <label for="content-type-form-host">
                {{ 'contenttypes.form.field.host_folder.label' | dm }}
            </label>
            <dot-site-selector-field
                [system]="true"
                [tabindex]="4"
                id="content-type-form-host"
                formControlName="host"></dot-site-selector-field>
        </div>
    </form>
    @if (dialogActions$ | async; as actions) {
        <ng-template pTemplate="footer">
            @if (actions.cancel) {
                <p-button
                    [label]="actions.cancel.label"
                    [disabled]="actions.cancel.disabled"
                    severity="secondary"
                    (click)="actions.cancel.action()"
                    data-testId="dotDialogCancelAction"></p-button>
            }
            @if (actions.accept) {
                <p-button
                    [label]="actions.accept.label"
                    [disabled]="actions.accept.disabled"
                    [loading]="isSaving$ | async"
                    (click)="actions.accept.action()"
                    data-testId="dotDialogAcceptAction"></p-button>
            }
        </ng-template>
    }
</p-dialog>
