@use "variables" as *;

.edit-page-toolbar__cancel {
    margin-right: $basic-padding;
}

.dot-edit__what-changed-button {
    margin-left: $basic-padding * 2;
}

.main-toolbar-right {
    align-items: center;
    display: flex;
}
