@import 'variables';
@import 'mixins';

:host {
    background-color: $white;
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .ui-toolbar {
            box-shadow: $md-shadow-1;
            height: 48px;
        }
    }
}

.edit-page-toolbar__message-separator {
    font-weight: bold;
    margin: 0 $basic-padding / 4;
}

.edit-page-toolbar__locked-by-message {
    color: $red;

    &--blink {
        animation: blinker 500ms linear 1;
    }
}

::ng-deep [flat] .ui-selectbutton {
    .edit-page-toolbar__state-selector-item--disabled,
    .edit-page-toolbar__state-selector-item--disabled:hover {
        background: none;
        pointer-events: none;

        .ui-button-text {
            color: $gray-light;
        }
    }
}

.edit-page-toolbar__page-url,
.edit-page-toolbar__page-title {
    margin: 0;
}

.edit-page-toolbar__page-url {
    align-self: center;
    color: $body-font-color;
    font-size: $font-size-x-large;
    font-weight: normal;
    margin-right: $basic-padding / 2;
}

.edit-page-toolbar__page-title {
    color: $gray-light;
    font-size: $font-size-medium;
    font-weight: normal;
    margin-top: -3px;
}

.edit-page-toolbar__page-url-wrapper {
    display: flex;
}

.edit-page-toolbar__copy-url {
    width: 25px;
    height: 25px;
}

.ui-toolbar-group-center {
    display: flex;
    justify-content: center;
}

.edit-page-toolbar__state-selector {
    display: flex;
    flex-direction: column;

    ::ng-deep {
        .ui-selectbutton {
            align-items: center;
            background-color: transparent;
            display: flex;
            flex-grow: 1;

            .ui-button {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
                justify-content: center;
                padding: 0 $basic-padding;

                &.ui-state-active {
                    background-color: rgba($brand-primary, 0.1);
                    pointer-events: none;

                    .ui-button-text {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
}

.edit-page-toolbar__locker {
    ::ng-deep {
        align-self: center;
        margin-right: $basic-padding * 2;

        .ui-inputswitch-handle {
            position: relative;

            &:after {
                content: "\F023";
                display: inline-block;
                font-size: inherit;
                font: normal normal normal 14px / 1 FontAwesome;
                left: 5px;
                position: absolute;
                text-rendering: auto;
                top: 3px;
            }
        }

        &.ui-inputswitch-checked .ui-inputswitch-handle {
            color: $white;
        }

        .ui-state-disabled {
            .ui-inputswitch-handle {
                &:after {
                    color: rgba($black, 0.2);
                }
            }
        }
    }

    &.warn ::ng-deep {
        .ui-inputswitch-handle {
            &:after {
                color: $orange;
            }
        }

        &.ui-inputswitch-checked .ui-inputswitch-handle {
            &:after {
                color: $white;
            }
        }
    }
}

.edit-page-toolbar__save {
    margin-right: $basic-padding;
}

@keyframes blinker {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
