<dot-secondary-toolbar>
    <div class="main-toolbar-left">
        <dot-edit-page-info [pageState]="pageState"></dot-edit-page-info>
    </div>

    <div class="main-toolbar-right">
        <dot-global-message></dot-global-message>
        <button
            pButton
            secondary
            tiny
            type="button"
            class="edit-page-toolbar__cancel"
            [label]="'dot.common.cancel' | dm"
            (click)="cancel.emit($event)"
        ></button>
        <dot-edit-page-workflows-actions
            [page]="pageState.page"
            (fired)="actionFired.emit($event)"
        ></dot-edit-page-workflows-actions>
    </div>

    <div class="lower-toolbar-left">
        <dot-edit-page-state-controller (modeChange)="stateChange()" [pageState]="pageState"></dot-edit-page-state-controller>

        <p-checkbox
            class="dot-edit__what-changed-button"
            [label]="'dot.common.whats.changed' | dm"
            *ngIf="showWhatsChanged && isEnterpriseLicense$ | async"
            (onChange)="whatschange.emit($event)"
        ></p-checkbox>
    </div>

    <div class="lower-toolbar-right">
        <dot-edit-page-view-as-controller [pageState]="pageState">
        </dot-edit-page-view-as-controller>
    </div>
</dot-secondary-toolbar>
