@import "variables";
@import "mixins";

$toolbar-height: 48px;

:host {
    background-color: $white;
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .ui-toolbar {
            border-bottom: solid 1px $gray-lighter;
            height: $toolbar-height;
            padding-left: 0;
        }
    }
}

::ng-deep [secondary] .ui-selectbutton {
    .edit-page-toolbar__state-selector-item--disabled,
    .edit-page-toolbar__state-selector-item--disabled:hover {
        background: none;
        pointer-events: none;

        .ui-button-text {
            color: $gray-light;
        }
    }
}

.ui-toolbar-group-left {
    display: flex;
}

.edit-page-toolbar__state-selector {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: $basic-padding * 3;

    ::ng-deep {
        .ui-button {
            height: $toolbar-height;
            display: inline-flex;
            align-items: center;
        }
    }
}

.edit-page-toolbar__locker {
    ::ng-deep {
        align-self: center;
        margin-right: $basic-padding * 2;

        .ui-inputswitch-handle {
            position: relative;

            &:after {
                content: "\F023";
                color: $brand-primary;
                display: inline-block;
                font-size: inherit;
                font: normal normal normal 14px / 1 FontAwesome;
                left: 5px;
                position: absolute;
                text-rendering: auto;
                top: 3px;
            }
        }

        &.ui-inputswitch-checked .ui-inputswitch-handle:after {
            color: $white;
        }

        .ui-state-disabled {
            .ui-inputswitch-handle {
                &:after {
                    color: rgba($black, 0.2);
                }
            }
        }
    }

    &.warn ::ng-deep {
        .ui-inputswitch-handle {
            &:after {
                color: $orange;
            }
        }

        &.ui-inputswitch-checked .ui-inputswitch-handle {
            &:after {
                color: $white;
            }
        }
    }
}

.edit-page-toolbar__cancel {
    margin-right: $basic-padding;
}
