@import "variables";
@import "mixins";

:host {
    display: inline-flex;

    i {
        color: $gray;
        font-size: $md-icon-size-normal;
        user-select: none;

        &[tiny] & {
            font-size: $md-icon-size-tiny;
        }

        &[big] & {
            font-size: $md-icon-size-big;
        }

        &[inverted] & {
            @include dot_icon_inverted;
        }
    }
}
