<div [class.selected]="selectedItems.length" class="action-header">
    @if (options && options.primary) {
        <dot-action-button
            (press)="handlePrimaryAction()"
            [model]="options.primary.model"
            class="action-header__primary-button" />
    }
    <div [style.overflow]="dynamicOverflow" class="action-header__container">
        <div class="action-header__global-search">
            <ng-content />
        </div>
        @if ((options && options.secondary) || selectedItems.length) {
            <div class="action-header__group-actions">
                <span class="action-header__selected-items-counter">
                    {{ selectedItems.length }} {{ 'selected' | dm }}
                </span>
                @if (options && options.secondary) {
                    @for (action of options.secondary; track action) {
                        <p-splitButton
                            [model]="action.model"
                            class="action-header__secondary-button"
                            secondary
                            label="{{ action.label }}"
                            class="inverted" />
                    }
                }
            </div>
        }
    </div>
</div>
