@use "variables" as *;
@import "dotcms-theme/extends/inputtext.extends";

:host {
    min-height: $basic-padding * 12;
    display: flex;
    position: relative;

    .autocomplete-helper {
        font-size: $font-size-small;
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        right: $basic-padding;
        color: $gray;
        display: flex;
        align-items: baseline;

        dot-icon {
            border: 1px solid;
            padding: 2px;
            margin-left: $basic-padding / 2;
            vertical-align: middle;
        }
    }

    ::ng-deep {
        p-autocomplete {
            width: 100%;
        }

        .p-autocomplete {
            display: flex;

            &.p-autocomplete-multiple {
                .p-autocomplete-multiple-container {
                    position: absolute;
                    top: $basic-padding * 5;
                    left: 0;
                    right: $basic-padding * 4;
                    overflow: visible;
                    height: 0;
                    padding: 0;
                    width: 100%;
                    border: 0;
                    box-shadow: none;
                    display: block;

                    .p-autocomplete-input-token {
                        display: flex;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: -$basic-padding * 5;

                        input {
                            width: 100%;
                            text-overflow: ellipsis;
                            @extend #p-inputtext-extend;
                        }
                    }
                }

                .p-autocomplete-token {
                    border-radius: $border-radius;
                    border: solid 1px $gray-light;
                    margin: $basic-padding $basic-padding 0 0;
                    padding: $basic-padding / 2 $basic-padding;
                    max-width: 100%;
                    background: none;
                    color: $black;

                    span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span:last-child {
                        margin-right: $basic-padding;
                    }
                }
            }
        }

        .p-autocomplete-dropdown {
            margin-left: auto;
            width: $basic-padding * 2;
            border: 0;

            .p-button-icon-left {
                right: 0;
                left: auto;
                width: 12px;
            }
        }

        .p-autocomplete-loader {
            display: none;
        }
    }
}
