<p-tabs [value]="0" styleClass="dot-template-builder__new-template-builder">
    <p-tablist>
        <p-tab [value]="0" data-testId="builder">
            {{ item.type === 'advanced' ? ('code' | dm) : ('design' | dm) }}
        </p-tab>
        <p-tab [value]="1">
            {{ 'Permissions' | dm }}
        </p-tab>
        <p-tab [value]="2">
            {{ 'History' | dm }}
        </p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel [value]="0" data-testId="builder">
            @switch (item.type) {
                @case ('advanced') {
                    <dot-template-advanced
                        (updateTemplate)="updateTemplate.emit($event)"
                        (save)="save.emit($event)"
                        (cancel)="cancel.emit()"
                        [didTemplateChanged]="didTemplateChanged"
                        [body]="item.body"></dot-template-advanced>
                }
                @case ('design') {
                    <dotcms-template-builder-lib
                        (templateChange)="onTemplateItemChange($event)"
                        [layout]="item.layout"
                        [template]="{
                            themeId: item.theme ?? item.themeId,
                            identifier: item.identifier
                        }"
                        [containerMap]="item.containers"
                        data-testId="new-template-builder">
                        <dot-global-message toolbar-left></dot-global-message>
                    </dotcms-template-builder-lib>
                }
            }
        </p-tabpanel>
        <p-tabpanel [value]="1">
            <dot-portlet-box>
                <dot-iframe [src]="permissionsUrl" data-testId="permissionsIframe"></dot-iframe>
            </dot-portlet-box>
        </p-tabpanel>
        <p-tabpanel [value]="2">
            <dot-portlet-box>
                <dot-iframe
                    (custom)="custom.emit($event)"
                    [src]="historyUrl"
                    #historyIframe
                    data-testId="historyIframe"></dot-iframe>
            </dot-portlet-box>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
