<p-tabView>
    <p-tabPanel
        [header]="item.type === 'advanced' ? ('code' | dm) : ('design' | dm)"
        data-testId="builder"
    >
        <ng-container *ngIf="item.type === 'advanced'; else elseBlock">
            <dot-template-advanced
                [didTemplateChanged]="didTemplateChanged"
                [body]="item.body"
                (updateTemplate)="updateTemplate.emit($event)"
                (save)="save.emit($event)"
                (cancel)="cancel.emit()"
            ></dot-template-advanced>
        </ng-container>
        <ng-template #elseBlock>
            <ng-container *ngIf="enableNewBuilder$ | async as context">
                <h1 *ngIf="context.enableNewBuilder" data-testId="new-template-builder">
                    New Template Builder
                </h1>
                <dot-edit-layout-designer
                    *ngIf="!context.enableNewBuilder"
                    [theme]="item.theme"
                    [disablePublish]="item.live"
                    [layout]="item.layout"
                    (saveAndPublish)="saveAndPublish.emit($event)"
                    (updateTemplate)="updateTemplate.emit($event)"
                    (save)="save.emit($event)"
                ></dot-edit-layout-designer>
            </ng-container>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'Permissions' | dm">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe [src]="permissionsUrl" data-testId="permissionsIframe"></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'History' | dm">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe
                    #historyIframe
                    [src]="historyUrl"
                    (custom)="custom.emit($event)"
                    data-testId="historyIframe"
                ></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
</p-tabView>
