<p-tabView
    [styleClass]="(featureFlagIsOn$ | async) && 'dot-template-builder__new-template-builder'">
    <p-tabPanel
        [header]="item.type === 'advanced' ? ('code' | dm) : ('design' | dm)"
        data-testId="builder">
        <ng-container *ngIf="item.type === 'advanced'; else elseBlock">
            <dot-template-advanced
                [didTemplateChanged]="didTemplateChanged"
                [body]="item.body"
                (updateTemplate)="updateTemplate.emit($event)"
                (save)="save.emit($event)"
                (cancel)="cancel.emit()"></dot-template-advanced>
        </ng-container>
        <ng-template #elseBlock>
            <ng-template #enabledComponent>
                <dotcms-template-builder-lib
                    [layout]="item.layout"
                    [template]="{ themeId: item.theme }"
                    [containerMap]="item.containers"
                    (templateChange)="onTemplateItemChange($event)"
                    data-testId="new-template-builder">
                    <dot-global-message toolbar-left></dot-global-message>
                </dotcms-template-builder-lib>
            </ng-template>
            <ng-template #disabledComponent>
                <dot-edit-layout-designer
                    [theme]="item.theme"
                    [disablePublish]="item.live"
                    [layout]="item.layout"
                    (saveAndPublish)="saveAndPublish.emit($event)"
                    (updateTemplate)="onTemplateItemChange($event)"
                    (save)="save.emit($event)"></dot-edit-layout-designer>
            </ng-template>
            <ng-container
                *dotShowHideFeature="featureFlag; alternate: disabledComponent"
                [ngTemplateOutlet]="enabledComponent"></ng-container>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'Permissions' | dm">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe [src]="permissionsUrl" data-testId="permissionsIframe"></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'History' | dm">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe
                    #historyIframe
                    [src]="historyUrl"
                    (custom)="custom.emit($event)"
                    data-testId="historyIframe"></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
</p-tabView>
