@use "variables" as *;

:host,
:host ::ng-deep .p-tabview-panels {
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
}

:host {
    & ::ng-deep {
        .p-tabview {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .p-tabview-panel:not([hidden]) {
            height: 100%;
        }
    }
}

dot-portlet-box {
    height: 100%;
    padding: $spacing-3;
}
