@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host,
:host ::ng-deep .p-tabview-panels {
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
}

:host {
    & ::ng-deep {
        .p-tabview {
            display: flex;
            flex-direction: column;
            height: 100%;

            form {
                margin-right: 0;
            }
        }

        .p-tabview-panel:not([hidden]) {
            height: 100%;
        }

        dotcms-template-builder-lib {
            display: block;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .dot-template-builder__new-template-builder {
            .p-tabview-nav {
                padding: 0 spacing.$spacing-5;
            }
        }
    }
}

dot-portlet-box {
    height: 100%;
    padding: spacing.$spacing-3;
}
