<div class="dot-apps-configuration-detail__container">
    <div class="dot-apps-configuration-detail__header">
        <dot-apps-configuration-header *ngIf="apps" [app]="apps"></dot-apps-configuration-header>
        <div class="dot-apps-configuration-detail__host-name">
            <span>{{ apps.sites[0].name }}</span>
            <div class="dot-apps-configuration-detail-actions">
                <button
                    pButton
                    secondary
                    type="button"
                    [label]="'Cancel' | dm"
                    (click)="goToApps(apps.key)"
                ></button>
                <button
                    pButton
                    type="button"
                    (click)="onSubmit()"
                    [label]="'Save' | dm"
                    [disabled]="!formValid"
                ></button>
            </div>
        </div>
    </div>
    <div class="dot-apps-configuration-detail__body">
        <div class="dot-apps-configuration-detail__form-content">
            <dot-apps-configuration-detail-form
                [formFields]="formFields"
                (data)="formData = $event"
                (valid)="formValid = $event"
            ></dot-apps-configuration-detail-form>
            <div *ngIf="apps.allowExtraParams">
                <h5>{{ 'apps.custom.properties' | dm }}</h5>
                <dot-key-value-ng
                    [autoFocus]="false"
                    [showHiddenField]="true"
                    [variables]="dynamicVariables"
                    (delete)="deleteDynamicVariable($event)"
                    (save)="saveDynamicVariable($event)"
                ></dot-key-value-ng>
            </div>
        </div>
    </div>
</div>
