<div class="wrapper">
    <div class="options">
        <label data-testId="designer">
            <input
                id="designer"
                [(ngModel)]="value"
                type="radio"
                value="designer"
                name="template"
            />
            <div class="item">
                <dot-icon size="60" name="web"></dot-icon>
                <span>{{ 'templates.template.selector.label.designer' | dm }}</span>
            </div>
        </label>
        <label data-testId="advanced">
            <input
                id="advanced"
                [(ngModel)]="value"
                type="radio"
                value="advanced"
                name="template"
            />
            <div class="item">
                <dot-icon size="60" name="settings_applications"></dot-icon>
                <span>{{ 'templates.template.selector.label.advanced' | dm }}</span>
            </div>
        </label>
    </div>

    <p [innerHTML]="map[value]" data-testId="description"></p>
</div>

<button
    [autofocus]="true"
    [label]="'next' | dm"
    (click)="onClick()"
    pAutoFocus
    pAutoFocus
    pButton
    data-testId="button"
></button>
