@use "variables" as *;

:host {
    display: block;
    max-width: 40rem;
    text-align: right;
}

.wrapper {
    display: block;
    max-width: 24rem;
    margin: 1rem auto 3rem;
    text-align: left;
}

.options {
    display: flex;
    justify-content: space-between;
}

p {
    line-height: 1.5;
    color: $color-palette-gray-800;
}

.item {
    align-items: center;
    background-color: $color-palette-gray-200;
    border: solid 2px $color-palette-gray-200;
    border-radius: $border-radius-xs;
    color: $color-palette-gray-500;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: $spacing-5 $spacing-6;
    transition: border-color $basic-speed ease, color $basic-speed ease;

    &:hover {
        color: $color-palette-gray-700;
    }

    span {
        font-size: $font-size-lg;
    }
}

input[type="radio"] {
    appearance: none;
    position: absolute;

    &:checked + .item {
        border-color: $color-palette-primary;
        color: $color-palette-primary;
        background-color: rgba($color-palette-secondary, 0.1);
    }
}
