<dot-edit-page-toolbar
    (changeState)="statePageHandler($event)"
    (save)="saveContent()"
    [pageState]="pageState"
    [canSave]="isModelUpdated"
    class="dot-edit__toolbar"
    #toolbar>
</dot-edit-page-toolbar>
<dot-edit-content-view-as-toolbar
    (changeViewAs)="changeViewAsHandler($event)"
    [value]="pageState.viewAs">
</dot-edit-content-view-as-toolbar>
<div class="dot-edit__page-wrapper" [ngStyle]="{'width': pageState.viewAs.device?.cssWidth, 'height': pageState.viewAs.device?.cssHeight}">
    <dot-loading-indicator fullscreen="true"></dot-loading-indicator>
    <iframe #iframe width="100%" height="100%" frameborder="0" class="dot-edit__iframe" (load)="onLoad($event)"></iframe>

    <p-dialog class="dot-edit__page-dialog"
        (onHide)="onHideDialog($event)"
        [closable]="true"
        [closeOnEscape]="true"
        [dismissableMask]="true"
        [header]="dialogTitle"
        [height]="dialogSize.height"
        [modal]="true"
        [visible]="!!dialogTitle"
        [width]="dialogSize.width">
        <iframe class="dot-edit__contentlet-iframe" *ngIf="contentletActionsUrl" #contentletActionsIframe [src]="contentletActionsUrl" frameborder="0"></iframe>
    </p-dialog>
</div>
