@import "mixins";
@import "variables";

:host {
    background-color: $gray-bg;
    display: flex;
    flex-direction: column;
    width: 100%;
}

dot-whats-changed,
.dot-edit__iframe {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $md-shadow-4;
    flex-grow: 1;
    overflow: hidden;
}

.dot-edit__page-wrapper {
    height: 100%;
    max-width: 100%;
    overflow: scroll;
    min-width: 100%;
    width: 100%;
    padding: 0 $basic-padding * 2 $basic-padding * 2;
    width: 100%;
    &.dot-edit__page-wrapper--deviced {
        padding: $basic-padding * 4;
    }
}

.device-info {
    align-self: center;
    padding: $basic-padding 0;
}

.dot-edit__page-wrapper:after {
    content: "";
    display: block;
    height: 1px;
    width: 66.5rem;
}

.dot-edit__device-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .dot-edit__page-wrapper--deviced & {
        flex-grow: 0;
        border-radius: 10px;
        border: 2px solid #ddd;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 1);
        background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1);
        margin: 0 auto;
        padding: 0 10px;
        
        &:before {
            content: "";
            display: block;
            height: 5px;
            width: 70px;
            border: 1px solid #ddd;
            background-color: #e6e6e6;
            border-radius: 3px;
            margin: 35px auto;
        }

        &:after {
            content: "";
            display: block;
            height: 45px;
            width: 45px;
            border: 1px solid #ddd;
            background-color: #e6e6e6;
            border-radius: 45px;
            margin: 15px auto 20px auto;
            background: rgba(242, 239, 242, 1);
            background: linear-gradient(
                135deg,
                rgba(242, 239, 242, 1) 0%,
                rgba(242, 239, 242, 1) 9%,
                rgba(255, 255, 255, 1) 76%,
                rgba(255, 255, 255, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2eff2', endColorstr='#ffffff', GradientType=1);
        }
    }

    .dot-edit__iframe-wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
    }
}

/*
    When the primeng dialog components resize it adds .ui-unselectable-text to the <body>, we beed to disable
    pointer events in the iframe during the resize of the dialog otherwise resize breaks.
*/
::ng-deep .ui-unselectable-text .dot-edit__contentlet-iframe {
    pointer-events: none;
}
