<dot-action-header [options]="actionHeaderOptions">
    <input
        #gf
        (input)="dataTable.filterGlobal($event.target.value, 'contains')"
        (keydown.arrowdown)="focusFirstRow()"
        [(ngModel)]="filter"
        pInputText
        placeholder="{{ 'global-search' | dm }}"
        type="text"
    />
    <ng-content></ng-content>
</dot-action-header>
<p-table
    #dataTable
    (onContextMenuSelect)="contextMenuSelect.emit($event.data)"
    (onFilter)="handleFilter()"
    (onHeaderCheckboxToggle)="handleRowCheck()"
    (onLazyLoad)="loadDataPaginationEvent($event)"
    (onRowSelect)="handleRowCheck()"
    (onRowUnselect)="handleRowCheck()"
    [(selection)]="selected"
    [columns]="columns"
    [contextMenu]="contextMenu ? cm : null"
    [dataKey]="dataKey"
    [lazy]="true"
    [loading]="loading"
    [pageLinks]="maxLinksPage"
    [paginator]="true"
    [responsiveLayout]="'scroll'"
    [rows]="paginationPerPage"
    [selectionMode]="checkbox ? 'multiple' : 'single'"
    [sortOrder]="sortOrder && sortOrder.toLowerCase() === 'desc' ? -1 : 1"
    [totalRecords]="totalRecords"
    [value]="items"
    loadingIcon="fa fa-circle-o-notch fa-spin"
>
    <ng-template let-columns pTemplate="header">
        <tr *ngIf="items?.length" data-testClass="testHeadTableRow">
            <th *ngIf="checkbox" style="width: 5%">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container
                [ngTemplateOutletContext]="{ columns: columns }"
                [ngTemplateOutlet]="headerTemplate || defaultHeaderTemplate"
            ></ng-container>
        </tr>
    </ng-template>

    <ng-template let-columns="columns" let-rowData pTemplate="body">
        <tr
            (click)="handleRowClick(rowData)"
            (keyup.enter)="handleRowClick(rowData)"
            [ngClass]="{ 'disabled-row': rowData?.owner === 'system' }"
            [pSelectableRowDisabled]="rowData?.owner === 'system'"
            [pContextMenuRowDisabled]="rowData.disableInteraction"
            [attr.data-testRowId]="rowData.identifier"
            [pContextMenuRow]="rowData"
            [pSelectableRow]="rowData"
            data-testClass="testTableRow"
        >
            <td *ngIf="checkbox">
                <p-tableCheckbox
                    (click)="$event.stopPropagation()"
                    *ngIf="!rowData.disableInteraction"
                    [value]="rowData"
                    [attr.test-id]="rowData.friendlyName"
                ></p-tableCheckbox>
            </td>
            <ng-container
                [ngTemplateOutletContext]="{ rowData: rowData }"
                [ngTemplateOutlet]="rowTemplate || defaultRowTemplate"
            ></ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div
            *ngIf="isContentFiltered; else emptyState"
            class="listing-datatable__empty"
            data-testId="listing-datatable__empty"
        >
            {{ 'No-Results-Found' | dm }}
        </div>
        <ng-template #emptyState>
            <ng-content select="dot-empty-state"></ng-content>
        </ng-template>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>
<ng-template #defaultHeaderTemplate let-columns="columns" pTemplate="header">
    <th
        *ngFor="let col of columns"
        [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }"
        [pSortableColumnDisabled]="!col.sortable"
        [pSortableColumn]="col.fieldName"
    >
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.fieldName"></p-sortIcon>
    </th>
    <th style="width: 5%"></th>
</ng-template>

<ng-template #defaultRowTemplate let-rowData="rowData">
    <td *ngFor="let col of columns" [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }">
        <div *ngIf="col.icon" class="listing-datatable__column-icon">
            <dot-icon name="{{ col.icon(rowData) }}"></dot-icon>
            <span>{{ col.textContent || rowData[col.fieldName] }}</span>
        </div>
        <span *ngIf="!col.icon && col.fieldName !== 'nEntries'">
            {{ rowData[col.fieldName] }}
        </span>
        <a
            (click)="$event.stopPropagation()"
            *ngIf="col.fieldName === 'nEntries'"
            [queryParams]="rowData.variable === 'Host' ? {} : { filter: rowData.variable }"
            [routerLink]="rowData.variable === 'Host' ? '/c/sites' : '/c/content'"
        >
            {{
                col.textContent
                    ? (col.textContent | dotStringFormat: [rowData[col.fieldName]])
                    : rowData[col.fieldName]
            }}
        </a>
    </td>
    <td class="listing-datatable__action-column" style="width: 5%">
        <dot-action-menu-button
            [actions]="actions"
            [item]="rowData"
            class="listing-datatable__action-button"
        >
        </dot-action-menu-button>
    </td>
</ng-template>
