@import "../../../scss/mixins";
@import "../../../scss/variables";

// TODO: overlay have to go when we use the digalog material 2 component
.my-account-overlay {
  background-color: rgba($black, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.my-account {
  @include box_shadow(2);
  background-color: $white;
  color: $black;
  display: block;
  left: 50%;
  padding: 40px 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  md-input {
    width: 100%;
  }

}

.my-account__actions {
  text-align: center;
}