<tr class="dot-key-value-table-input-row">
    <td>
        <input
            class="field-key-input"
            #keyCell
            [(ngModel)]="variable.key"
            [placeholder]="'keyValue.key_input.placeholder' | dm"
            (blur)="editFieldInit($event)"
            (focus)="editFieldInit($event)"
            (keyup)="editFieldInit($event)"
            (keydown.escape)="onCancel($event)"
            (keydown.enter)="onPressEnter($event)"
            pInputText
            type="text"
            autocomplete="false"
        />
    </td>
    <td>
        <input
            class="field-value-input"
            #valueCell
            [(ngModel)]="variable.value"
            [type]="variable.hidden ? 'password' : 'text'"
            [placeholder]="'keyValue.value_input.placeholder' | dm"
            (focus)="editFieldInit($event)"
            (keyup)="editFieldInit($event)"
            (keydown.escape)="onCancel($event)"
            (keydown.enter)="onPressEnter($event)"
            pInputText
            autocomplete="false"
        />
    </td>
    <td class="dot-key-value-table-input-row__variables-hidden" *ngIf="showHiddenField">
        <p-inputSwitch [(ngModel)]="variable.hidden" (click)="editFieldInit()"></p-inputSwitch>
    </td>
    <td class="dot-key-value-table-input-row__variables-actions">
        <button
            class="dot-key-value-table-input-row__variables-actions-edit-cancel p-button-outlined p-button-sm"
            [label]="'Cancel' | dm"
            (click)="onCancel($event)"
            pButton
        ></button>
        <button
            class="dot-key-value-table-input-row__variables-actions-edit-save p-button-sm"
            #saveButton
            [label]="'Save' | dm"
            [disabled]="saveDisabled"
            (click)="saveVariable()"
            pButton
        ></button>
    </td>
</tr>
