<div class="forgot-password__container" *ngIf="loginInfo$ | async as loginInfo">
    <h3 data-testId="header">{{ loginInfo.i18nMessagesMap['forgot-password'] }}</h3>
    <p class="p-invalid" data-testId="errorMessage" [innerHTML]="message"></p>
    <form [formGroup]="forgotPasswordForm" class="p-fluid">
        <div class="p-field form__group--validation">
            <label data-testId="usernameLabel" for="username">{{
                loginInfo.i18nMessagesMap['emailAddressLabel']
            }}</label>
            <input
                id="username"
                pInputText
                type="text"
                dotAutofocus
                formControlName="login"
                autocomplete="username"
                data-testId="input"
            />
            <dot-field-validation-message
                [message]="
                    loginInfo?.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['emailAddressLabel']
                    )
                "
                [field]="forgotPasswordForm.get('login')"
            >
            </dot-field-validation-message>
        </div>
        <div class="p-field">
            <button
                pButton
                class="p-button-secondary"
                data-testId="cancelButton"
                (click)="goToLogin()"
                type="button"
                [label]="loginInfo.i18nMessagesMap['cancel']"
            ></button>
            <button
                pButton
                (click)="submit()"
                type="submit"
                data-testId="submitButton"
                [disabled]="!forgotPasswordForm.valid"
                [label]="loginInfo.i18nMessagesMap['get-new-password']"
            ></button>
        </div>
    </form>
</div>
