<dot-dialog
    (hide)="close()"
    [(visible)]="contentType"
    [actions]="dialogActions"
    [header]="'contenttypes.content.add_to_menu.header' | dm: [contentType?.name]"
    width="592px">
    <form (ngSubmit)="submit()" [formGroup]="form" class="p-fluid" novalidate>
        <div class="field">
            <label dotFieldRequired for="title" data-testId="titleMenuLabel">
                {{ 'contenttypes.content.add_to_menu.name' | dm }}
            </label>
            <input
                id="title"
                #titleName
                dotAutofocus
                pInputText
                formControlName="title"
                data-testId="titleMenu" />
            <dot-field-validation-message
                [field]="form.get('title')"
                message="{{
                    'contenttypes.field.properties.name.error.required' | dm
                }}"></dot-field-validation-message>
        </div>
        <div class="field">
            <label dotFieldRequired for="menu" data-testId="menuOptionLabel">
                {{ 'contenttypes.content.add_to_menu.show_under' | dm }}
            </label>
            <p-dropdown
                [options]="menu$ | async"
                id="menu"
                data-testId="menuOption"
                appendTo="body"
                formControlName="menuOption"
                optionLabel="name"
                optionValue="id"></p-dropdown>
        </div>
        <div class="field">
            <label dotFieldRequired for="cardViewMode" data-testId="ViewModeLabel">
                {{ 'contenttypes.content.add_to_menu.default_view' | dm }}
            </label>
            <div class="field">
                <p-radioButton
                    [label]="'custom.content.portlet.dataViewMode.card' | dm"
                    id="cardViewMode"
                    data-testId="cardViewMode"
                    name="defaultView"
                    value="card"
                    formControlName="defaultView"></p-radioButton>
            </div>
            <div class="field">
                <p-radioButton
                    [label]="'custom.content.portlet.dataViewMode.list' | dm"
                    data-testId="listViewMode"
                    name="defaultView"
                    value="list"
                    formControlName="defaultView"></p-radioButton>
            </div>
        </div>
    </form>
</dot-dialog>
