<dot-content-type-layout
    [contentType]="data"
    (openEditDialog)="startFormDialog()"
    *ngIf="isEditMode()"
>
    <dot-content-type-fields-drop-zone
        #fieldsDropZone
        *ngIf="data.id"
        [layout]="layout"
        [loading]="loadingFields"
        [contentType]="data"
        (saveFields)="saveFields($event)"
        (removeFields)="removeFields($event)"
        (editField)="editField($event)"
    >
    </dot-content-type-fields-drop-zone>
</dot-content-type-layout>

<dot-dialog
    (hide)="onDialogHide()"
    [actions]="dialogActions"
    [closeable]="dialogCloseable"
    [header]="templateInfo.header"
    [(visible)]="show"
>
    <dot-content-types-form
        *ngIf="show"
        #form
        [layout]="layout"
        [data]="data"
        (valid)="setDialogOkButtonState($event)"
        (onSubmit)="handleFormSubmit($event)"
    >
    </dot-content-types-form>
</dot-dialog>
