<ng-container *ngIf="socialMedia; else deviceBlock">
    <div class="dot-select-seo-tool__item" *ngIf="socialMedia; else deviceBlock">
        <i class="dot-select-seo-tool__icon" [ngClass]="socialMediaIconClass"></i>
        <h5 class="dot-select-seo-tool__title">{{ socialMediaTiles[socialMedia]?.label }}</h5>
        <span class="dot-select-seo-tool__details">Social Media Preview Tile</span>
    </div>
</ng-container>
<ng-template #deviceBlock>
    <div class="dot-select-seo-tool__item">
        <i class="dot-select-seo-tool__icon" [ngClass]="device?.icon"></i>
        <h5 class="dot-select-seo-tool__title">{{ device?.name }}</h5>
        <span class="dot-select-seo-tool__details">
            {{ device?.cssHeight | number }} x {{ device?.cssWidth | number }}
        </span>
    </div>
</ng-template>
