@import "variables";
@import "mixins";

:host {
    display: contents;

    input {
        width: 100%;
    }

    p-celleditor {
        cursor: pointer;
    }

    p-inputSwitch {
        display: inline-block;
    }
}

.dot-key-value-table-row td:nth-child(-n + 2) {
    padding-right: $basic-padding * 3;
}

.dot-key-value-table-row td,
.dot-key-value-table-row__variables-actions {
    padding: 0;
    height: $basic-padding * 8;
    vertical-align: middle;

    &:first-child {
        padding-left: $basic-padding * 3;
    }

    &:last-child {
        padding-right: $basic-padding * 3;
    }
}

.dot-key-value-table-row__variables-actions {
    text-align: right;

    & > * {
        margin-left: $basic-padding;
    }
}

.dot-key-value-table-row__variables-hidden {
    text-align: center;
}
