@if (context(); as vm) {
    @if (vm.error){
        <app-error [error]="vm.error" />
    } 
    @if (vm.status === 'loading') {
        <app-loading />
    }
    @if (vm.page) {
        <div class="flex flex-col gap-6 min-h-screen bg-neutral-50">
            @if (vm.page.layout.header){
                <app-header>
                    @if (vm.nav?.children) {
                        <app-navigation [items]="vm.nav?.children || []" />
                    }
                </app-header>
            }

            <main class="container flex flex-col gap-8 m-auto">
                <dotcms-layout
                    [pageAsset]="vm.page"
                    [components]="components()"
                    [editor]="editorCofig" />
            </main>

            @if (vm.page.layout.footer) {
                <app-footer />
            }
        </div>
    }
}