key-value-form form {
    display: flex;
    align-items: center;

    button {
        margin: 0;
    }

    input {
        margin: 0 1rem 0 0.5rem;
    }

    label {
        align-items: center;
        display: flex;
        flex-grow: 1;

        input {
            flex-grow: 1;
        }
    }
}
