@use "variables" as *;

:host {
    display: block;
    max-height: 600px;
    overflow-x: hidden;

    .dot-notifications-list {
        list-style: none;
        margin: 0;
        padding: 0 $basic-padding * 2 0 0;
    }
}
