<dot-dialog
    [(visible)]="showDialog"
    [header]="'download.bundle.header' | dm"
    [actions]="dialogActions"
    (hide)="close()"
>
    <form
        class="p-fluid"
        *ngIf="showDialog"
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
        (keyup.enter)="handleSubmit()"
    >
        <div class="field">
            <label dotFieldRequired for="download-btn">{{ 'download.bundle.i.want' | dm }}</label>
            <p-selectButton
                class="p-button-tabbed"
                id="download-btn"
                [options]="downloadOptions"
                formControlName="downloadOptionSelected"
            >
            </p-selectButton>
        </div>
        <div class="field">
            <label for="filterKey">{{ 'download.bundle.filter' | dm }}</label>
            <p-dropdown
                id="filterKey"
                [options]="filterOptions"
                formControlName="filterKey"
                appendTo="body"
            ></p-dropdown>
        </div>
    </form>
    <span class="download-bundle__error" *ngIf="errorMessage">{{ errorMessage }}</span>
</dot-dialog>
