// COLORS
$primary: #0E80CB;
$secondary: #EE5C4A;
$black: #444444; // 100%
$gray: #A1A1A1; // 50%
$gray-dark: #737373; // 75%
$gray-light: #D0D0D0; //  25%
$gray-lighter: #EEE; //  10%
$gray-lightest: #FAFAFA;
$white: #FFF;

// TYPOGRAPHY
$font-small: 11px;
$font-medium: 13px;
$font-large: 16px;

$base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-size-base: $font-medium;
$body-font-color: $black;

// ANIMATION
$basic-speed: 250ms;

// LAYOUT
$basic-padding: 8px;
$toolbar-height: 60px;