<dot-searchable-dropdown
    [data]="currentPage | async"
    [pageLinkSize]="relationshipPaginatorService.maxLinksPage"
    [rows]="relationshipPaginatorService.paginationPerPage"
    [totalRecords]="relationshipPaginatorService.totalRecords"
    [placeholder]="i18nMessages['contenttypes.field.properties.relationship.existing.placeholder']"
    labelPropertyName="label"
    (change)="triggerChanged($event.relationship)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)">
</dot-searchable-dropdown>*
