.portlet-toolbar__actions-secondary .dijitComboButton {
    display: block;
}

.portlet-toolbar__actions-secondary .dijitComboButton .dijitButtonNode {
    border-bottom: 0;
    padding: 0 0 0 16px;
}

.portlet-toolbar__actions-secondary .dijitComboButton .dijitButtonNode.dijitArrowButton {
    padding: 0;
}

.listingTable {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

.listingTable td:first-child {
    padding-left: 0;
}

.listingTable th {
    color: #7E7A86;
    font-size: 12px;
    font-weight: normal;
}

.listingTable th:first-child,
.listingTable > tbody > tr > td:first-child {
    height: 57px;
    padding-left: 30px;
}

.relationLanguageFlag table {
    border: 0;
    width: 110px;
}

.relationLanguageFlag div.dijitButtonText {
    text-transform: none;
}

.relationLanguageFlag .dijitSelect .dijitArrowButton {
    border: none;
}

.dijitPopup.dijitMenuPopup .dijitMenu {
    width: 300px!important;
}

.dijitPopup.dijitMenuPopup .dijitMenu .dijitMenuTable tr.dijitMenuItem {
    display: inline-block!important;
    padding-top: 8px;
    width: 100px;
}
.listingTitleImg {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 3px; 
    width: 64px; 
    cursor: pointer;
    max-height:70px;
    overflow:hidden;
}
