<dot-dialog [(visible)]="show" [contentStyle]="{'padding': '0'}" (hide)="close.emit($event)" [header]="messages['modes.Add-Form']">
    <p-dataTable
        (onLazyLoad)="loadData($event)"
        [lazy]="true"
        [pageLinks]="paginatorService.maxLinksPage"
        [paginator]="true"
        [rows]="paginatorService.paginationPerPage"
        [totalRecords]="paginatorService.totalRecords"
        [value]="items">
        <p-column [header]="messages['contenttypes.form.name']" field="name"></p-column>
        <p-column [style]="{'text-align': 'right'}">
            <ng-template let-item="rowData" pTemplate="body">
                <button
                    pButton
                    flat
                    class="form-selector__button"
                    [label]="messages['Select']"
                    (click)="select.emit(item)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</dot-dialog>
