<dot-dialog
    #dialog
    [(visible)]="show"
    [contentStyle]="{ padding: '0' }"
    [cssClass]="paginatorService.totalRecords > paginatorService.paginationPerPage ? 'paginator' : ''"
    (hide)="close.emit($event)"
    [header]="'modes.Add-Form' | dm"
>
    <p-dataTable
        #datatable
        (onLazyLoad)="loadData($event)"
        [lazy]="true"
        [style]="{ 'height': contentMinHeight } "
        [pageLinks]="paginatorService.maxLinksPage"
        [paginator]="paginatorService.totalRecords > paginatorService.paginationPerPage"
        [rows]="paginatorService.paginationPerPage"
        [totalRecords]="paginatorService.totalRecords"
        [value]="items"
    >
        <p-column [header]="'contenttypes.form.name' | dm" field="name"></p-column>
        <p-column [style]="{ 'text-align': 'right' }">
            <ng-template let-item="rowData" pTemplate="body">
                <button
                    pButton
                    flat
                    class="form-selector__button"
                    [label]="'Select' | dm"
                    (click)="select.emit(item)"
                ></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</dot-dialog>
