<div [formGroup]="fg" class="dot-container-code__content-tab-container">
    <div class="field mb-0">
        <label class="block" dotFieldRequired>
            {{ 'message.containers.create.content_type_code' | dm }}
        </label>
    </div>
    <p-tabView
        (onChange)="handleTabClick($event, $event.index)"
        (onClose)="removeItem($event.index)"
        [(activeIndex)]="activeTabIndex"
        [controlClose]="true"
        [scrollable]="true"
        [@contentCodeAnimation]>
        <p-tabPanel headerStyleClass="tab-panel-btn">
            <ng-template pTemplate="header">
                @if (contentTypes.length > 0) {
                    <i
                        (click)="handleTabClick($event); actionsMenu.toggle($event)"
                        class="pi pi-plus add-tab-icon"></i>
                } @else {
                    <p-skeleton borderRadius="0px" height="3.9rem" width="4rem" />
                }

                <p-menu [model]="menuItems"
                    [popup]="true"
                    [style]="{
                        'max-height': '300px',
                        overflow: 'auto'
                    }"
                    #actionsMenu
                    appendTo="body" />
            </ng-template>
            <ng-template pTemplate="content">
                <div
                    class="dot-container-code__empty-content flex justify-content-center align-items-center flex-column">
                    <dot-icon data-testId="code" name="code" size="100" />
                    <div
                        class="dot-container-code__empty-content-title"
                        data-testId="empty-content-title">
                        {{ 'message.containers.empty.content_type_message' | dm }}
                    </div>
                    <div class="dot-container-code__empty-content-subtitle mb-1">
                        <span data-testId="empty-content-subtitle">
                            {{ 'message.containers.empty.content_type_need_help' | dm }}?
                        </span>
                        <a
                            data-testId="empty-content-link"
                            href="https://www.dotcms.com/docs/latest/containers"
                            target="_blank">
                            {{ 'message.containers.empty.content_type_go_to_documentation' | dm }}
                        </a>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        @for (
            containerContent of getcontainerStructures.controls;
            track containerContent;
            let i = $index
        ) {
            <p-tabPanel [closable]="true" formArrayName="containerStructures">
                <ng-template pTemplate="header">
                    {{ contentTypeNamesById[containerContent.value.structureId] }}
                </ng-template>
                <div [formGroupName]="i">
                    <button
                        (click)="handleAddVariable(containerContent.value)"
                        [disabled]="contentTypes.length === 0"
                        [label]="'add-variable' | dm"
                        class="p-button-outlined dot-container-code__variable-btn ml-3 mb-2 mt-2 p-button-sm"
                        pButton></button>
                    <dot-textarea-content (monacoInit)="monacoInit($event)"
                        [attr.data-testid]="containerContent.value.structureId"
                        [customStyles]="{ border: 'none', height: '500px' }"
                        [editorName]="containerContent.value.structureId"
                        [show]="['code']"
                        [value]="containerContent.value.code"
                        #body
                        formControlName="code"
                        language="html" />
                </div>
            </p-tabPanel>
        }
    </p-tabView>
</div>
