<div [formGroup]="fg" class="px-4">
    <div class="field mb-1">
        <label dotFieldRequired>
            {{ 'message.containers.create.content_type_code' | dm }}
        </label>
    </div>
    <p-tabs
        class="border border-gray-200"
        [value]="activeTabIndex"
        (valueChange)="handleTabChange($event)"
        [scrollable]="true"
        [@contentCodeAnimation]>
        <p-tablist>
            <div class="flex">
                <button
                    pButton
                    icon="pi pi-plus"
                    (click)="handleTabClick($event, 0); actionsMenu.toggle($event)"></button>
                <p-menu
                    [model]="menuItems"
                    [popup]="true"
                    styleClass="max-h-64 overflow-auto"
                    #actionsMenu
                    appendTo="body" />
            </div>

            @for (
                containerContent of getcontainerStructures.controls;
                track containerContent;
                let i = $index
            ) {
                <p-tab [value]="i + 1">
                    <span>{{ contentTypeNamesById[containerContent.value.structureId] }}</span>
                    <i
                        (click)="removeItem(i + 1); $event.stopPropagation()"
                        class="pi pi-times p-tab-close-icon"
                        style="margin-left: 0.5rem"></i>
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">
                <div class="h-[500px] flex justify-center items-center flex-col">
                    <i data-testId="code" class="pi pi-code text-[100px] text-primary"></i>
                    <div class="text-base" data-testId="empty-content-title">
                        {{ 'message.containers.empty.content_type_message' | dm }}
                    </div>
                    <div class="text-sm mb-1">
                        <span data-testId="empty-content-subtitle">
                            {{ 'message.containers.empty.content_type_need_help' | dm }}?
                        </span>
                        <a
                            data-testId="empty-content-link"
                            href="https://www.dotcms.com/docs/latest/containers"
                            target="_blank">
                            {{ 'message.containers.empty.content_type_go_to_documentation' | dm }}
                        </a>
                    </div>
                </div>
            </p-tabpanel>
            <ng-container formArrayName="containerStructures">
                @for (
                    containerContent of getcontainerStructures.controls;
                    track containerContent;
                    let i = $index
                ) {
                    <p-tabpanel [value]="i + 1">
                        <div [formGroupName]="i">
                            <button
                                (click)="handleAddVariable(containerContent.value)"
                                [disabled]="contentTypes.length === 0"
                                [label]="'add-variable' | dm"
                                class="p-button-outlined ml-4 mb-2 mt-2 p-button-sm"
                                pButton></button>
                            <dot-textarea-content
                                (monacoInit)="monacoInit($event)"
                                [attr.data-testid]="containerContent.value.structureId"
                                [customStyles]="{ border: 'none', height: '500px' }"
                                [editorName]="containerContent.value.structureId"
                                [show]="['code']"
                                [value]="containerContent.value.code"
                                #body
                                formControlName="code"
                                language="html"></dot-textarea-content>
                        </div>
                    </p-tabpanel>
                }
            </ng-container>
        </p-tabpanels>
    </p-tabs>
</div>
