@import "mixins";
@import "variables";

.dialog ::ng-deep {
    .ui-dialog {

        .ui-dialog-content {
            overflow: auto;
        }

        p-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

    }
}
