<p-dialog
    #dialog
    class="dialog"
    (onHide)="closeDialog()"
    [draggable]="false"
    [visible]="show"
    [dismissableMask]="true"
    [closable]="false"
    [responsive]="true"
    [modal]="true">

    <p-header>
        {{ header }}
        <dot-icon-button big icon="close" (click)="closeDialog()"></dot-icon-button>
    </p-header>

    <ng-content></ng-content>

    <p-footer *ngIf="ok || cancel">
        <button
            *ngIf="cancel"
            pButton
            id="button-sec"
            class="dot-dialog__cancel"
            type="button"
            [disabled]="cancel.disabled"
            [label]="cancel.label"
            (click)="cancelAction()"></button>
        <button
            *ngIf="ok"
            pButton
            class="dot-dialog__ok"
            type="button"
            [disabled]="ok.disabled"
            [label]="ok.label"
            (click)="ok.action(this)"></button>
    </p-footer>
</p-dialog>
