@use "variables" as *;

@import "dotcms-theme/utils/theme-variables";;
@import "mixins";

:host {
    display: block;
    position: relative;

    .p-button-text {
        padding-left: $spacing-2;
        padding-right: $spacing-2;
        text-align: left;

        &::ng-deep {
            .p-button-label,
            .p-button-icon {
                color: $black;
                text-transform: none;
            }
        }
    }

}

::ng-deep {
    .p-overlaypanel.paginator {
        .p-dataview-content {
            margin-bottom: $basic-padding * 4;
        }
        .p-paginator-bottom {
            @include paginator-bottom-absolute;
        }
    }

    .searchable-dropdown .p-overlaypanel-content {
        padding: $basic-padding * 2 0;
    }
}


.searchable-dropdown__data-list ::ng-deep {
    .p-dataview {
        position: unset;
    }

    .p-dataview-content {
        width: 100%;

        .searchable-dropdown__data-list-item {
            cursor: pointer;
            display: block;
            line-height: normal;
            padding: $basic-padding $basic-padding * 2;
            transition: background-color $basic-speed ease-in;
            width: 100%;
            @include truncate-text;

            &.selected {
                font-weight: bold;
            }

            &:hover {
                background-color: $gray-bg;
            }
        }
    }

    .p-dataview-emptymessage {
        padding: 1em;
    }
}

.searchable-dropdown__search-section {
    flex-grow: 1;
    position: relative;

    input.searchable-dropdown__search-inputfield {
        width: 100%;
    }
}

.searchable-dropdown__search {
    display: flex;
    margin: 0 $basic-padding * 2;
    position: relative;
}

.searchable-dropdown__search-icon {
    color: $gray;
    position: absolute;
    right: $basic-padding;
    top: 9px;
}

.searchable-dropdown__search-action {
    margin-left: $basic-padding * 2;
}
