<p-overlayPanel 
    #searchPanel
    appendTo="body"
    (onAfterShow)="show.emit()"
    (onAfterHide)="hideDialogHandler()">
    <header class="searchable-dropdown__search">
        <i class="fa fa-search searchable-dropdown__search-icon"></i>
        <input #searchInput pInputText placeholder="{{i18nMessages['search']}}" type="text" class="searchable-dropdown__search-field"/>
        
    </header>
    <p-dataList
        (onLazyLoad)="paginate($event)"
        [lazy]="true"
        [pageLinks]="pageLinkSize"
        [paginator]="totalRecords > rows" 
        [rows]="rows"
        [totalRecords]="totalRecords"
        [value]="data"
        class="searchable-dropdown__data-list">
        <ng-template let-item pTemplate="item">
            <span [class.selected]="item[labelPropertyName] === valueString" (click)="handleClick(item)">{{ getLabel(item) }}</span>
        </ng-template>
    </p-dataList>
</p-overlayPanel>

<button ripple pButton
    (click)="searchPanel.toggle($event)"
    [label]="persistentPlaceholder ? placeholder : valueString"
    icon="fa-caret-down" 
    iconPos="right" 
    type="button" 
    [ngStyle]="{ 'width': width }">
</button>