<p-overlayPanel appendTo="body" #searchPanel>

    <input #searchInput pInputText type="text"/>

    <p-dataList [value]="data"
                [pageLinks]="pageLinkSize"
                [totalRecords]="totalRecords"
                [paginator]="true" 
                [lazy]="true"
                [rows]="rows"
                (onLazyLoad)="paginate($event)">
        <ng-template let-item pTemplate="item">
            <span (click)="handleClick(item)">{{item[labelPropertyName]}}</span>
        </ng-template>
    </p-dataList>
</p-overlayPanel>

<button ripple pButton type="button" 
        icon="fa-sort-desc" 
        iconPos="right" 
        [label]="valueString"
        (click)="searchPanel.toggle($event)">
</button>