@use "variables" as *;


.p-breadcrumb ul > .p-breadcrumb-chevron.pi {
    color: $gray;

    &:not(:nth-child(2)) {
        font-size: $font-size-x-small;
    }
}

.p-breadcrumb ul li:first-child {
    font-size: $font-size-large;
}

.p-breadcrumb ul li:nth-child(2)::before {
    content: "";
    width: 1px;
    height: 20px;
    background: $gray-light;
    display: block;
}

.p-breadcrumb ul li .p-menuitem-link {
    transition: none;
    border-radius: $border-radius;
}

.p-breadcrumb ul li .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-breadcrumb ul li .p-menuitem-link[href] .p-menuitem-text {
    &:hover {
        color: $brand-primary;
        text-decoration: underline;
    }
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: $gray;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    color: $black;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 $spacing-1 0 $spacing-1;
    color: $black;
}

.p-breadcrumb ul li:last-child .p-menuitem-icon {
    color: $black;
}
