@use "variables" as *;

.p-button {
    background: $brand-primary;
    border-radius: $border-radius;
    border: 0 none;
    border: solid 1px transparent;
    color: $white;
    font-size: $font-size-medium;
    font-weight: $font-weight-semi-bold;
    line-height: normal;
    padding: $spacing-2 $spacing-5;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s,
        background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-button:enabled:hover,
.p-button:enabled:active,
.p-button:enabled:focus {
    background: rgba($brand-primary_rgb, 0.72);
    border-color: transparent;
}

.p-button.p-button-text {
    background-color: transparent;
    color: $brand-primary;
    border-color: transparent;
}

.p-button.p-button-text:enabled:hover,
.p-button.p-button-text:enabled:focus {
    background: $bg-hover;
    color: $brand-primary;
    border-color: transparent;
}

.p-button.p-button-text.p-button-plain {
    color: $black;
}

.p-button.p-button-text.p-button-plain:enabled:hover {
    background: rgba(0, 0, 0, 0.04);
    color: $black;
}

.p-button.p-button-text.p-button-plain:enabled:active {
    background: rgba(0, 0, 0, 0.16);
    color: $black;
}

.p-button.p-button-vertical {
    font-size: $font-size-medium;
    padding: $spacing-1 $spacing-2;
    color: $brand-secondary;

    &:enabled:hover, &:enabled:focus{
        color: $brand-secondary;
    }

    .p-button-icon{
        margin: 0 0 $spacing-1 / 2;
        font-size: $font-size-x-large;
    }

}

.p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-button .p-button-icon-left {
    margin-right: $spacing-1;
}

.p-button .p-button-icon-right {
    margin-left: $spacing-1;
}

.p-button .p-button-icon-bottom {
    margin-top: $spacing-1;
}

.p-button .p-button-icon-top {
    margin-bottom: $spacing-1;
}

.p-button .p-badge {
    margin-left: $spacing-1;
    min-width: $spacing-3;
    height: $spacing-3;
    line-height: $spacing-3;
    color: $brand-primary;
    background-color: $white;
}

.p-button.p-button-raised {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-button.p-button-rounded {
    border-radius: $spacing-5;
}

.p-button-rounded.p-button.p-button-icon-only {
    color: $gray-dark;
    padding: 0.571rem;
    min-width: auto;

    &:enabled {
        &:hover {
            color: $gray-dark;
        }
    }

    &:enabled {
        &:active,
        &:focus {
            color: $brand-primary;
            background: $focus-bg;
        }
    }
}

.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
    margin: 0;
}

.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: $spacing-7;
    width: $spacing-7;
}

.p-button.p-button-sm {
    font-size: $font-size-small;
    padding: $spacing-1 $spacing-2;
}

.p-button.p-button-sm .p-button-icon {
    font-size: $font-size-small;
}

.p-button.p-button-lg {
    font-size: $font-size-x-large;
    padding: $spacing-2 $spacing-5;
}

.p-button.p-button-lg .p-button-icon {
    font-size: $font-size-x-large;
}

.p-fluid .p-button-icon-only {
    width: $spacing-7;
}

.p-fluid .p-buttonset {
    display: flex;
}

.p-fluid .p-buttonset .p-button {
    flex: 1;
}

.p-button.p-button-disabled,
.p-buttonset.p-button-disabled > .p-button,
.p-splitbutton.p-button-disabled > .p-button {
    color: $button-text-color-disabled;
    background: rgba(0, 0, 0, 0.12);
    border: none;
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
    color: $brand-secondary;
    border-top: 1px solid $brand-secondary;
    border-left: 1px solid $brand-secondary;
    border-bottom: 1px solid $brand-secondary;
    background: none;
}

.p-button.p-button-secondary {
    border-right: 1px solid $brand-secondary;

    &:hover {
        background: none;
        border-right: 1px solid;
    }

    &:disabled {
        border: none;
    }
}

.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
    border-top: 1px solid $brand-primary;
    border-left: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    color: $brand-primary;

    ~ .p-splitbutton-menubutton {
        border-left: 1px solid $brand-primary;
    }
}

.p-button-secondary.p-confirm-dialog-reject {
    border-right: 1px solid $brand-secondary;

    &:hover {
        border-color: $brand-primary;
        background: none;
    }
}

.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
    box-shadow: none;
}

.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active,
.p-button.p-button-secondary:enabled:focus {
    background: none;
    border-color: transparent;
    color: $brand-secondary;
}

.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
    color: $white;
    background: #2196f3;
    border: 0 none;
}

.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info > .p-button:enabled:hover,
.p-splitbutton.p-button-info > .p-button:enabled:hover {
    background: rgba(33, 150, 243, 0.92);
    color: $white;
    border-color: transparent;
}

.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
    box-shadow: none;
}

.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
    background: rgba(33, 150, 243, 0.68);
    color: $white;
    border-color: transparent;
}

.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
    color: $white;
    background: #d32f2f;
    border: 0 none;
}

.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
    background: rgba(211, 47, 47, 0.92);
    color: $white;
    border-color: transparent;
}

.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
    box-shadow: none;
}

.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
    background: rgba(211, 47, 47, 0.68);
    color: $white;
    border-color: transparent;
}

.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
    background-color: transparent;
    color: #d32f2f;
    border-color: transparent;
}

.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
    background: rgba(211, 47, 47, 0.04);
    border-color: transparent;
    color: #d32f2f;
}

.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
    background: rgba(211, 47, 47, 0.16);
    border-color: transparent;
    color: #d32f2f;
}

.p-button.p-button-link {
    color: transparent;
    background: transparent;
    border: transparent;
}

.p-button-label {
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
}

.p-button.p-button-link:enabled:hover {
    background: transparent;
    color: transparent;
    border-color: transparent;
}

.p-button.p-button-link:enabled:hover .p-button-label {
    text-decoration: underline;
}

.p-button.p-button-link:enabled:focus {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
}

.p-button.p-button-link:enabled:active {
    background: transparent;
    color: transparent;
    border-color: transparent;
}

.p-button .p-ink {
    background-color: rgba($white_rgb, 0.32);
}

.p-button:disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: $button-text-color-disabled !important;
    opacity: 1;
}

.p-button:disabled.p-button-text {
    background-color: transparent !important;
    color: $button-text-color-disabled !important;
}

.p-button.p-button-raised:enabled:focus {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
    border: 1px solid $brand-secondary;
}

.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
    border: 1px solid $brand-secondary;
}

.p-button.p-button-secondary.p-button-text:enabled:focus,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:focus {
    background: rgba(255, 64, 129, 0.12);
}

.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
    background: rgba(255, 64, 129, 0.16);
}

.p-button.p-button-secondary.p-button-text .p-ink,
.p-buttonset.p-button-secondary > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-secondary > .p-button.p-button-text .p-ink {
    background-color: rgba(255, 64, 129, 0.16);
}

.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
    background: rgba(211, 47, 47, 0.76);
}

.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
    background: rgba(211, 47, 47, 0.68);
}

.p-button.p-button-danger.p-button-text:enabled:focus,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:focus,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:focus {
    background: rgba(211, 47, 47, 0.12);
}

.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
    background: rgba(211, 47, 47, 0.16);
}

.p-button.p-button-danger.p-button-text .p-ink,
.p-buttonset.p-button-danger > .p-button.p-button-text .p-ink,
.p-splitbutton.p-button-danger > .p-button.p-button-text .p-ink {
    background-color: rgba(211, 47, 47, 0.16);
}
