@use "variables" as *;

.p-dropdown {
    background: $white;
    border: 1px solid $input-border-color;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    border-radius: $border-radius;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: $input-border-color-hover;
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $brand-primary;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: $spacing-6;
}

.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    color: $black;
}

.p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0 none;
    box-shadow: none;
}

.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: $black;
    width: 2.357rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.p-dropdown .p-dropdown-clear-icon {
    color: $black;
    right: 2.357rem;
}

.p-dropdown-panel {
    background: $white;
    color: $black;
    border: 0 none;
    border-radius: $border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.p-dropdown-panel .p-dropdown-header {
    padding: $spacing-2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: $black;
    background: $white;
    margin: 0;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: $spacing-7;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    right: $spacing-2;
    color: $black;
}

.p-dropdown-panel .p-dropdown-items {
    padding: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: $spacing-2 $spacing-2;
    border: 0 none;
    color: $black;
    background: transparent;
    transition: none;
    border-radius: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: $bg-highlight;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: $text-color-hover;
    background: $bg-hover;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    padding: $spacing-2 $spacing-2;
    color: $black;
    background: transparent;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    margin: 0;
    padding: $spacing-2;
    color: $black;
    background: $white;
    font-weight: 400;
}

.p-dropdown-panel.p-error, .p-dropdown-panel.p-invalid {
    border-color: $error;
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
    border-color: $error;
}

.p-dropdown .p-inputtext, .p-dropdown .p-dropdown-trigger {
    background-image: none;
    background: transparent;
}

.p-dropdown .p-inputtext {
    border: 0 none;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: $input-inset-shadow;
}

.p-dropdown-item .p-ink {
    background-color: rgba(63, 81, 181, 0.16);
}

.p-dropdown-sm .p-dropdown .p-dropdown-label {
    font-size: $font-size-small;
    padding: $spacing-1 $spacing-2;
}
