@use "variables" as *;

.p-multiselect {
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.38);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    border-radius: 4px;
    min-width: 13rem;
}

.p-multiselect:not(.p-multiselect-open):hover {
    border-color: $input-border-hover;
}

.p-multiselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $brand-primary;
}

.p-multiselect .p-multiselect-label {
    padding: $spacing-2 $spacing-2;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-multiselect .p-multiselect-label.p-placeholder {
    color: $black;
}

.p-multiselect .p-multiselect-trigger {
    background: transparent;
    color: $black;
    width: 2.357rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.p-multiselect-panel {
    background: $white;
    color: $black;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.p-multiselect-panel .p-multiselect-header {
    padding: $spacing-2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: $black;
    background: $white;
    margin: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: $spacing-6;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    right: $spacing-2;
    color: $black;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: $spacing-1;
}

.p-multiselect.p-multiselect-open {
    border-color: $input-border-hover;
    box-shadow: $input-inset-shadow;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-left: $spacing-1;
    width: $spacing-5;
    height: $spacing-5;
    color: $black;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
    color: $hover-text-color;
    border-color: transparent;
    background: $hover-bg;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-multiselect-panel .p-multiselect-items {
    padding: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: $spacing-2 $spacing-2;
    border: 0 none;
    color: $black;
    background: transparent;
    transition: none;
    border-radius: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: $highlight-text-color;
    background: $highlight-bg;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: $hover-text-color;
    background: $hover-bg;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: $spacing-1;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    padding: $spacing-2 $spacing-2;
    color: $black;
    background: transparent;
}

.p-multiselect .p-multiselect-label, .p-multiselect .p-multiselect-trigger {
    background-image: none;
    background: transparent;
}

.p-multiselect .p-multiselect-label {
    border: 0 none;
}

.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: $input-inset-shadow;
}

.p-multiselect-item .p-ink {
    background-color: rgba(63, 81, 181, 0.16);
}
