@use "variables" as *;

.p-radiobutton {
    width: 20px;
    height: 20px;
}

.p-radiobutton .p-radiobutton-box {
    border: 2px solid $gray;
    background: $white;
    width: 20px;
    height: 20px;
    color: $black;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $brand-primary;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 10px;
    height: 10px;
    transition-duration: 0.2s;
    background-color: $brand-primary;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: $brand-primary;
    background: $white;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: $brand-primary;
    background: $white;
    color: $brand-primary;
}

.p-radiobutton-label {
    margin-left: $spacing-1;
}

.p-radiobutton {
    border-radius: 50%;
    transition: box-shadow 0.2s;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border: 2px solid $border-color-highlight;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled).p-focus {
    border-color: $brand-primary;
}

.p-radiobutton:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px $bg-highlight;
}

.p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: 0 0 1px 10px $bg-highlight;
}

.p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px $bg-highlight;
}

.p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled).p-radiobutton-focused {
    box-shadow: 0 0 1px 10px $bg-highlight;
}
