@use "variables" as *;

.p-toast .p-toast-message {
    line-height: 1.5;
    background-color: $white;
    margin: 0 0 $spacing-3 0;
    box-shadow: $md-shadow-1;
    border-radius: $border-radius;
}

.p-toast .p-toast-message .p-toast-message-content {
    padding: $spacing-4;
    border-width: 0 0 0 0;
    align-items: center;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 $spacing-3;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: $font-size-x-large;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: $spacing-1 0 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
    width: $spacing-5;
    height: $spacing-5;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
    background: rgba($white_rgb, 0.3);
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

.p-toast .p-toast-message {
    border: solid transparent;
    border-width: 0 0 0 0;
    color: $body-font-color;
}

.p-toast .p-toast-message .p-toast-message-icon {
    color: $white;
    background: $brand-secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    align-self: center;
}

.p-toast .p-toast-message .p-toast-icon-close {
    color: $gray-dark;
    position: absolute;
    top: $spacing-2;
    right: $spacing-2;
}
