@use "variables" as *;
@import "mixins";

:host {
    display: contents;

    input {
        width: 100%;
    }

    p-inputSwitch {
        display: inline-block;
    }
}

.dot-key-value-table-input-row {
    border-bottom: 1px solid $gray-bg;

    &:hover {
        background-color: $gray-bg;
    }

    td:nth-child(-n + 2) {
        padding-right: $spacing-4;
    }
}

.dot-key-value-table-input-row td,
.dot-key-value-table-input-row__variables-actions {
    padding: 0;
    height: 4rem;
    vertical-align: middle;

    &:first-child {
        padding-left: $spacing-4;
    }

    &:last-child {
        padding-right: $spacing-4;
    }
}

.dot-key-value-table-input-row__variables-actions {
    text-align: right;

    button {
        margin-left: $spacing-1;
    }
}

.dot-key-value-table-input-row__variables-hidden {
    text-align: center;
}
