@use "variables" as *;

:host {
    margin-top: $spacing-6;
    display: block;
    border: solid 1px $color-palette-gray-500;
    padding: $spacing-2 $spacing-4;
    border-radius: $border-radius-xs;
}

h3 {
    font-size: $font-size-lg;
    margin: $spacing-2 0;
}

h4 {
    font-size: $font-size-lmd;
    margin: $spacing-2 0;
}

p {
    line-height: 1.5;
}
