<h3 data-testId="infoHeader">
    {{ 'contenttypes.field.properties.wysiwyg.convert.info.header' | dm }}
</h3>
<p
    [innerHTML]="'contenttypes.field.properties.wysiwyg.convert.info.content' | dm"
    data-testId="infoContent"></p>

<h4 data-testId="header">
    {{ 'contenttypes.field.properties.wysiwyg.convert.header' | dm }}
</h4>

<p
    [innerHTML]="'contenttypes.field.properties.wysiwyg.convert.content' | dm"
    data-testId="content"></p>

<div class="field-checkbox">
    <p-checkbox [(ngModel)]="accept" [binary]="true" inputId="agreed"></p-checkbox>
    <label for="agreed" data-testId="iUnderstand">
        {{ 'contenttypes.field.properties.wysiwyg.convert.iunderstand' | dm }}
    </label>
</div>

<p>
    <button (click)="convert.emit($event)" [disabled]="!accept" pButton data-testId="buttonConvert">
        {{ 'contenttypes.field.properties.wysiwyg.convert.button' | dm }}
    </button>
</p>
