<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
            </layout>
    </appender>

	<appender name="ASYNC" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
       	<param name="BufferSize" value="500" />
		<param name="FailToSync" value="false" />
		<appender-ref ref="FILE" />
       	<appender-ref ref="CONSOLE" />
    </appender>

    <appender name="ASYNC-TEST" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
        <param name="BufferSize" value="500" />
        <param name="FailToSync" value="false" />
        <appender-ref ref="TEST" />
        <appender-ref ref="CONSOLE" />
    </appender>

    <appender name="ASYNC-SECURITY" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
       	<param name="BufferSize" value="500" />
		<param name="FailToSync" value="false" />
		<appender-ref ref="SECURITY"/>
       	<appender-ref ref="CONSOLE"/>
    </appender>
    
    <appender name="ASYNC-SITESEARCH" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
       	<param name="BufferSize" value="500" />
		<param name="FailToSync" value="false" />
		<appender-ref ref="SITESEARCH"/>
       	<appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="ASYNC-ADMINAUDIT" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
       	<param name="BufferSize" value="500" />
		<param name="FailToSync" value="false" />
       	<appender-ref ref="ADMINAUDIT"/>
       	<appender-ref ref="CONSOLE"/>
    </appender>
    
    <appender name="ASYNC-USERACTIVITY" class="org.apache.log4j.appender.ActiveAsynchronousAppender">
       	<param name="BufferSize" value="500" />
		<param name="FailToSync" value="false" />
       	<appender-ref ref="USERS_ACTIVITY"/>
    </appender>
    
<!--
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
       	<appender-ref ref="FILE"/>
    </appender>
 
    <appender name="ASYNC-SECURITY" class="org.apache.log4j.AsyncAppender">
       	<appender-ref ref="SECURITY"/>
    </appender>
    
    <appender name="ASYNC-SITESEARCH" class="org.apache.log4j.AsyncAppender">
       	<appender-ref ref="SITESEARCH"/>
    </appender>

    <appender name="ASYNC-ADMINAUDIT" class="org.apache.log4j.AsyncAppender">
       	<appender-ref ref="ADMINAUDIT"/>
    </appender>
-->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="${catalina.home}/logs/dotcms.log"/>
            <param name="MaxFileSize" value="20MB"/>
            <param name="MaxBackupIndex" value="10"/>
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern"
                            value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
            </layout>
    </appender>

    <appender name="TEST" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/dotcms-testing.log"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="SECURITY" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="${catalina.home}/logs/dotcms-security.log"/>
            <param name="MaxFileSize" value="20MB"/>
            <param name="MaxBackupIndex" value="10"/>
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern"
                            value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
            </layout>
    </appender>
    
    <appender name="SITESEARCH" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="${catalina.home}/logs/dotcms-sitesearch.log"/>
            <param name="MaxFileSize" value="20MB"/>
            <param name="MaxBackupIndex" value="10"/>
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern"
                            value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
            </layout>
    </appender>
    
    <appender name="ADMINAUDIT" class="org.apache.log4j.RollingFileAppender">
            <param name="File" value="${catalina.home}/logs/dotcms-adminaudit.log"/>
            <param name="MaxFileSize" value="20MB"/>
            <param name="MaxBackupIndex" value="10"/>
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern"
                            value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
            </layout>
    </appender>    
    
    <appender name="USERS_ACTIVITY" class="org.apache.log4j.appender.RollingNewFileAppender">
            <param name="File" value="${catalina.home}/logs/dotcms-userActivity.log"/>
            <param name="MaxFileSize" value="20MB"/>
            <param name="MaxBackupIndex" value="10"/>
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern"
                            value="[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n" />
            </layout>
    </appender>

    <logger name="org.directwebremoting">
	  <level value="warn"/> 
	</logger>
	<logger name="org.apache.velocity">
	  <level value="warn"/> 
	</logger>
	<logger name="com.dotmarketing.portlets.contentlet.business.ReindexThread">
		<level value="debug"/>
	</logger>
	<logger name="com.bradmcevoy.http">
		<level value="info"/>
	</logger>
	<logger name="org.apache.tomcat.util.http.Parameters">
		<level value="fatal"/>
	</logger>
	<logger name="org.directwebremoting.impl.DefaultConverterManager">
		<level value="fatal"/>
	</logger>
	<logger name="com.liferay.portal.action.LoginAction" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SECURITY" />
	</logger>

	<logger name="com.liferay.portal.action.LogoutAction" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SECURITY" />
	</logger>
	
	<logger name="com.liferay.portal.action.LoginAsAction" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SECURITY" />
	</logger>
	
	<logger name="com.liferay.portal.action.LogoutAsAction" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SECURITY" />
	</logger>
	
    <logger name="org.apache.nutch" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SITESEARCH" />
	</logger>
	
	<logger name="org.apache.hadoop" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SITESEARCH" />
	</logger>
	
	<logger name="com.dotmarketing.util.SecurityLogger" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-SECURITY" />
	</logger>
	
	<logger name="com.dotmarketing.util.AdminLogger	" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-ADMINAUDIT" />
	</logger>	
		
	<logger name="com.dotmarketing.util.ActivityLogger" additivity="false">
		<level value="info"/>
		<appender-ref ref="ASYNC-USERACTIVITY" />
	</logger>

    <logger name="com.dotmarketing.servlets.test.ServletTestRunner" additivity="false">
        <level value="info"/>
        <appender-ref ref="ASYNC-TEST" />
    </logger>
	
    <root>
            <priority value="info"/>
            <appender-ref ref="ASYNC"/>          
    </root>
    
</log4j:configuration>
