@let app = $app();

<p-card
    (click)="actionFired.emit(app.key)"
    class="h-full"
    [ngClass]="{
        'dot-apps-card__disabled': !app.configurationsCount
    }">
    <ng-template #header>
        <div class="dot-apps-card__header-container">
            <p-avatar [image]="app.iconUrl" [label]="app.name" size="large" dotAvatar />
            <div class="dot-apps-card__label-container">
                <span class="dot-apps-card__name">{{ app.name }}</span>
                <span class="dot-apps-card__configurations">
                    {{
                        app.configurationsCount
                            ? app.configurationsCount + ' ' + ('apps.configurations' | dm)
                            : ('apps.no.configurations' | dm)
                    }}
                </span>
                @if (app.sitesWithWarnings) {
                    <i
                        class="pi pi-exclamation-triangle text-lg"
                        [pTooltip]="
                            app.sitesWithWarnings + ' ' + ('apps.invalid.configurations' | dm)
                        "></i>
                }
            </div>
        </div>
    </ng-template>
    <p>
        <markdown>{{ app.description }}</markdown>
    </p>
</p-card>
