{
    "useTabs": false,
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-attributes"],
    "attributeGroups": [
        "$ANGULAR_STRUCTURAL_DIRECTIVE",
        "$ANGULAR_OUTPUT",
        "$ANGULAR_TWO_WAY_BINDING",
        "$ANGULAR_INPUT"
    ]
}
