@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
    font-size: $body-font-size-base;

    .user-menu {
        @include naked-list();
        margin: 20px;
        white-space: nowrap;
    }
}

