<dot-portlet-base>
    <dot-portlet-toolbar [actions]="actions$ | async">
        <dot-global-message right></dot-global-message>
    </dot-portlet-toolbar>

    <form [formGroup]="form">
        <dot-container-selector (change)="containerChange($event)"> </dot-container-selector>
        <dot-textarea-content
            formControlName="body"
            #value
            height="100%"
            formControlName="body"
            [show]="['code']"
            language="html"
            (monacoInit)="initEditor($event)"
        ></dot-textarea-content>
    </form>
</dot-portlet-base>
