@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

::ng-deep {
    p-sidebar {
        background: red;
        .p-sidebar-right {
            width: 50%;
            max-width: 875px;
        }

        .p-sidebar-content {
            .container {
                height: 100%;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    .p-button-secondary {
        margin-right: 1rem;
    }
}
