
<tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>

<!--<footer-->

<!--        class="dialog__footer"-->
<!--&gt;-->
<!--    <button-->
<!--            label="Cancel"-->
<!--            class="dialog__button-cancel p-button-secondary"-->
<!--            data-testId="dotDialogCancelAction"-->
<!--            pButton-->
<!--    ></button>-->
<!--    <button-->
<!--            label="Update"-->
<!--            loading="isSaving"-->
<!--            class="dialog__button-accept"-->
<!--            data-testId="dotDialogAcceptAction"-->
<!--            pButton-->
<!--    ></button>-->
<!--</footer>-->
