<p-dialog
    [(visible)]="dialogShow"
    [header]="'generate.secure.password' | dm"
    [modal]="true"
    [style]="{ width: '34.25rem' }"
    (visibleChange)="close()">
    <p>{{ 'generate.secure.password.description' | dm }}</p>
    <div class="dot-generate-secure-password__password-container">
        <input
            [type]="typeInput"
            [value]="value"
            class="dot-generate-secure-password__password-input"
            disabled />
        <button
            (click)="copyToClipboard()"
            [label]="copyBtnLabel"
            pButton
            class="p-button-primary"
            data-testid="copyBtn"></button>
    </div>
    <a (click)="revealPassword($event)" href="#" class="dot-generate-secure-password__reveal-link">
        {{ revealBtnLabel }}
    </a>
    @if (dialogActions) {
        <ng-template pTemplate="footer">
            @if (dialogActions.cancel) {
                <p-button
                    [label]="dialogActions.cancel.label"
                    [disabled]="dialogActions.cancel.disabled"
                    severity="secondary"
                    (click)="dialogActions.cancel.action()"
                    data-testId="dotDialogCancelAction"></p-button>
            }
            @if (dialogActions.accept) {
                <p-button
                    [label]="dialogActions.accept.label"
                    [disabled]="dialogActions.accept.disabled"
                    (click)="dialogActions.accept.action()"
                    data-testId="dotDialogAcceptAction"></p-button>
            }
        </ng-template>
    }
</p-dialog>
