@use "variables" as *;

.dot-generate-secure-password__password-container {
    display: flex;
    justify-content: center;
    background-color: $color-palette-gray-200;
    border: solid 1px $color-palette-gray-300;
    padding: $spacing-1;
}

.dot-generate-secure-password__password-input {
    border: 0;
    background-color: transparent;
    color: $black;
    font-size: $font-size-lg;
    font-weight: bold;
    text-align: center;
}

.dot-generate-secure-password__reveal-link {
    display: inline-block;
    margin-top: $spacing-1;
    text-decoration: none;
}
