@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

.dot-generate-secure-password__password-container {
    display: flex;
    justify-content: center;
    background-color: colors.$color-palette-gray-200;
    border: solid 1px colors.$color-palette-gray-300;
    padding: spacing.$spacing-1;
}

.dot-generate-secure-password__password-input {
    border: 0;
    background-color: transparent;
    color: colors.$black;
    font-size: fonts.$font-size-lg;
    font-weight: bold;
    text-align: center;
}

.dot-generate-secure-password__reveal-link {
    display: inline-block;
    margin-top: spacing.$spacing-1;
    text-decoration: none;
}
