@use "variables" as *;

:host {
    background: $gray-bg;
    box-shadow: $md-shadow-4;
    display: flex;
    height: 100%;
    overflow: auto;
    padding: $spacing-4;

    &::ng-deep listing-data-table tr {
        cursor: pointer;
    }
}

dot-base-type-selector {
    margin-left: $spacing-2;
}
