@import "variables";

:host {
    background: $gray-bg;
    box-shadow: $md-shadow-4;
    display: flex;
    height: 100%;
    overflow: auto;
    padding: $basic-padding * 3;

    &::ng-deep listing-data-table tr {
        cursor: pointer;
    }
}

dot-base-type-selector {
    margin-left: $basic-padding * 3;
}
