<dot-listing-data-table
    #listing
    (rowWasClicked)="editContentType($event)"
    [actionHeaderOptions]="actionHeaderOptions"
    [columns]="contentTypeColumns"
    [paginationPerPage]="40"
    sortField="modDate"
    sortOrder="DESC"
    url="v1/contenttype"
    [actions]="rowActions"
>
    <dot-base-type-selector
        *ngIf="!filterBy"
        (selected)="changeBaseTypeSelector($event)"
    ></dot-base-type-selector>
</dot-listing-data-table>

<dot-add-to-bundle
    *ngIf="addToBundleIdentifier"
    [assetIdentifier]="addToBundleIdentifier"
    (cancel)="addToBundleIdentifier = null"
></dot-add-to-bundle>
