<div id="${fieldAux.velocityVarName}DateFieldWrapper" class="dateFieldWrapper">
	<input dojoType="dijit.form.DateTextBox" type="text" class="dateField" name="${fieldAux.velocityVarName}" id="${fieldAux.velocityVarName}Date"  value="$UtilMethods.dateToHTMLDate($fieldDefaultValue,'yyyy-MM-dd')" size="10" maxlenght="10" />
	<div style="clear: both;"></div><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
</div>