#*
<textarea dojoType="dijit.form.Textarea" cols="30" rows="12" name="$fieldAux.velocityVarName" id="$fieldAux.velocityVarName" class="textAreaField">$!fieldDefaultValue</textarea><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
*#

<textarea dojoType="dijit.form.Textarea" name="$fieldAux.velocityVarName"  style="min-height: 50px;" id="$fieldAux.velocityVarName" class="textAreaField">$!fieldDefaultValue</textarea><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>