<textarea dojoType="dijit.form.Textarea" name="$fieldAux.velocityVarName" id="$fieldAux.velocityVarName" class="textAreaField">$!fieldDefaultValue</textarea><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
<script type="text/javascript">
	enableWYSIWYG("$fieldAux.velocityVarName");
</script>