---
const { error } = Astro.props;
---

{
  (
    <div class="bg-slate-100 min-h-dvh w-full flex justify-center items-center">
      <section>
        <div class="py-8 px-4 mx-auto max-w-5xl lg:py-16 lg:px-6">
          <div class="mx-auto max-w-2xl text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">
              {error.status}
            </h1>
            <p class="mb-4 text-lg font-light text-gray-500">{error.message}</p>
          </div>
        </div>
      </section>
    </div>
  )
}
