<dot-palette-input-filter
    #filterInput
    (filter)="filterContentTypes($event)"
></dot-palette-input-filter>
<div
    class="dot-content-palette__items"
    *ngIf="itemsFiltered === undefined || itemsFiltered?.length; else noResults"
>
    <div
        *ngFor="let item of itemsFiltered"
        draggable="true"
        data-testId="paletteItem"
        (dragstart)="dragStart(item)"
    >
        <dot-icon size="30" [name]="item.icon"></dot-icon>
        <p>{{ item.name }}</p>
        <button (click)="showContentTypesList(item.variable)">
            <dot-icon name="keyboard_arrow_right"></dot-icon>
        </button>
    </div>
</div>

<ng-template #noResults>
    <span data-testId="emptyState" class="dot-content-palette__empty">{{ 'No-Results' | dm }}</span>
</ng-template>
