<div [formGroup]="group">
    <label class="form__label">
        {{ i18nMessages['contenttypes.field.properties.name.label'] }}*
    </label>
    <input
        dotAutofocus
        #name
        pInputText
        type="text"
        [formControlName]="property.name">
    <dot-field-validation-message
        [message]="i18nMessages['contenttypes.field.properties.name.error.required']"
        [field]="group.controls[property.name]">
    </dot-field-validation-message>
    <div class="form__field-variable" *ngIf="property.field.variable">
        <span>{{ i18nMessages['contenttypes.field.properties.name.variable'] }}: </span>{{ property.field.variable }}
    </div>
</div>
