<ng-template #externalFilterTemplate>
    <div class="theme-selector__filters">
        <dot-site-selector
            (switch)="siteChange($event)"
            [system]="true"
            #siteSelector
            width="12.8rem"
            data-testId="siteSelector"></dot-site-selector>
        <div class="searchable-dropdown__search-section">
            <dot-icon class="searchable-dropdown__search-icon" name="search"></dot-icon>
            <input
                (click)="$event.stopPropagation()"
                [placeholder]="'search' | dm"
                class="searchable-dropdown__search-inputfield"
                #searchInput
                data-testId="searchInput"
                pInputText
                type="text" />
        </div>
    </div>
</ng-template>

<ng-template #externalItemListTemplate let-data="data">
    @for (item of data; track $index) {
        <span
            (click)="onChange(item)"
            [class.selected]="value && value.identifier === item.identifier"
            [class.highlight]="item.name === selectedOptionValue"
            class="theme-selector__data-list-item">
            @if (item?.themeThumbnail) {
                <img
                    [src]="
                        item.identifier === 'SYSTEM_THEME'
                            ? item.themeThumbnail
                            : '/dA/' + item.themeThumbnail + '/titleImage/500w/50q/thumbnail.png'
                    "
                    [alt]="item.name"
                    class="dot-theme-item__image" />
            } @else {
                <div class="dot-theme-item__image--fallback">
                    <span>{{ item.label.charAt(0) }}</span>
                </div>
            }

            <span class="dot-theme-item__meta">
                <span class="dot-theme-item__label">{{ item.label }}</span>
                <span class="dot-theme-item__date">
                    {{ 'Last-Updated' | dm }}: {{ item.modDate | date: 'MM/dd/yy' }}
                </span>
            </span>
        </span>
    }
</ng-template>

<dot-searchable-dropdown
    (hide)="onHide()"
    (display)="onShow()"
    (switch)="onChange($event)"
    (pageChange)="handlePageChange($event)"
    [(ngModel)]="value"
    [placeholder]="'dot.common.select.themes' | dm"
    [data]="themes"
    [totalRecords]="totalRecords"
    [rows]="paginatorService.paginationPerPage"
    [externalFilterTemplate]="externalFilterTemplate"
    [externalItemListTemplate]="externalItemListTemplate"
    #searchableDropdown
    labelPropertyName="name"
    overlayWidth="490px"
    valuePropertyName="name"
    width="100%" />
