@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/common";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: flex;
}

.theme-selector__data-list-item {
    cursor: pointer;
    display: flex;
    line-height: normal;
    padding: spacing.$spacing-3 spacing.$spacing-3;
    transition: background-color 150ms ease-in;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover,
    &.highlight {
        background: $bg-highlight;
    }
    &.selected {
        font-weight: bold;
    }

    .dot-theme-item__image,
    .dot-theme-item__image--fallback {
        border-radius: common.$border-radius-xs;
        width: 3.43rem;
        height: 3.43rem;
    }
    .dot-theme-item__image--fallback {
        background: $bg-highlight;
        width: 3.43rem;
        height: 3.43rem;
        font-size: fonts.$font-size-xl;
        color: colors.$color-palette-primary-400;
        text-transform: uppercase;
        text-align: center;
        line-height: 3.21rem;
        > span {
            line-height: 1;
            vertical-align: middle;
        }
    }
    .dot-theme-item__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: spacing.$spacing-2;
        .dot-theme-item__label {
            display: inline-block;
            margin-bottom: spacing.$spacing-1;
        }
        .dot-theme-item__date {
            color: colors.$color-palette-gray-800;
            font-size: fonts.$font-size-sm;
        }
        & > span {
            display: block;
        }
    }
}

dot-searchable-dropdown {
    width: 100%;
    display: block;
}

.theme-selector__filters {
    display: flex;
    margin: 0 spacing.$spacing-2;
    position: relative;

    dot-site-selector {
        margin-right: spacing.$spacing-2;
        display: block;

        // Required for shadow piercing. Required to force a style down to child components
        ::ng-deep {
            .site-selector__title {
                display: block;
                background: colors.$color-palette-gray-300;
                border: 1px solid colors.$color-palette-gray-500;
                border-radius: common.$border-radius-xs;
                padding: spacing.$spacing-2;
                font-size: fonts.$font-size-md;
                color: colors.$color-palette-gray-800;
                text-overflow: ellipsis;
                min-width: 10rem;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.searchable-dropdown__search-section {
    flex-grow: 1;
    position: relative;

    input.searchable-dropdown__search-inputfield {
        width: 100%;
    }
}

.searchable-dropdown__search-icon {
    color: colors.$color-palette-gray-700;
    position: absolute;
    right: spacing.$spacing-1;
    top: 9px;
}
