<router-outlet></router-outlet>
<p-dialog
    class="page-tools-dialog"
    [(visible)]="visible"
    [position]="'right'"
    [closable]="false"
    [draggable]="false"
    header="Page Tools"
>
    <div class="page-tools">
        <ul class="page-tools-list">
            <li class="page-tools-list__item">
                <a
                    class="page-tools-list__link"
                    href="https://wave.webaim.org/report#/dotcms.com"
                    target="_blank"
                >
                    <img class="logo" src="assets/wave.png" alt="seo" />
                    <div class="page-tools-list__content">
                        <span class="page-tools-list__title">Wave</span>
                        <p>
                            Identifies barriers and issues that may prevent individuals with
                            disabilities from accessing and using web content effectively.
                        </p>
                        <div class="page-tools-list__tags">
                            <div class="page-tools-list__tag">Marketing and Sales</div>
                            <div class="page-tools-list__tag">Productivity</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="page-tools-list__item">
                <a
                    class="page-tools-list__link"
                    href="https://wave.webaim.org/report#/dotcms.com"
                    target="_blank"
                >
                    <img class="logo" src="assets/mozilla.png" alt="seo" />
                    <div class="page-tools-list__content">
                        <span class="page-tools-list__title">Mozilla Observatory</span>
                        <p>
                            Assesses and improve the security posture of websites by scanning them
                            for various security-related issues and vulnerabilities.
                        </p>
                        <div class="page-tools-list__tags">
                            <div class="page-tools-list__tag">Marketing and Sales</div>
                            <div class="page-tools-list__tag">Productivity</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="page-tools-list__item">
                <a
                    class="page-tools-list__link"
                    href="https://wave.webaim.org/report#/dotcms.com"
                    target="_blank"
                >
                    <img class="logo" src="assets/security_headers.png" alt="seo" />
                    <div class="page-tools-list__content">
                        <span class="page-tools-list__title">Security Headers</span>
                        <p>
                            Enhances the security of websites by providing instructions to web
                            browsers.
                        </p>
                        <div class="page-tools-list__tags">
                            <div class="page-tools-list__tag">Marketing and Sales</div>
                            <div class="page-tools-list__tag">Productivity</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</p-dialog>
<dot-edit-page-nav
    [pageState]="pageState$ | async"
    (openOverlayPanel)="showPageTools()"
    dotExperimentClass
    dotNavbar
></dot-edit-page-nav>
<dot-edit-contentlet (custom)="onCustomEvent($event)"></dot-edit-contentlet>
<dot-block-editor-sidebar></dot-block-editor-sidebar>
