@use "variables" as *;
@import "mixins";

:host {
    display: flex;
    min-height: 100%;
    height: 100%;

    & > dot-edit-page-nav {
        position: fixed;
        height: 100%;
        right: 0;
        z-index: 1;
    }
}

.logo {
    width: 2.6rem;
    height: 2.6rem;
}

.page-tools {
    width: 26.3rem;
}

.page-tools-list {
    list-style: none;
    padding: 0;
}

.page-tools-list__item {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;

    &:hover {
        background-color: $color-palette-gray-100;
    }
}

.page-tools-list__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    line-height: 1.225rem;
}

.page-tools-list__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}

.page-tools-list__tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.page-tools-list__tag {
    background-color: $color-palette-gray-300;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.page-tools-list__link {
    color: $black;
    text-decoration: none;
    display: flex;
}

::ng-deep {
    .page-tools-dialog {
        .p-dialog-right {
            .p-dialog {
                margin-right: 5rem;
            }
        }
        .p-dialog {
            .p-dialog-header {
                padding: 1rem;
                border-bottom: 1px solid $color-palette-gray-300;
            }

            .p-dialog-content {
                padding: 0;
            }
        }
    }
}
