<dot-portlet-base>
    <dot-listing-data-table
        *ngIf="showTable"
        (rowWasClicked)="editContentType($event)"
        [actionHeaderOptions]="actionHeaderOptions"
        [actions]="rowActions"
        [columns]="contentTypeColumns"
        [paginatorExtraParams]="paginatorExtraParams"
        #listing
        sortField="modDate"
        sortOrder="DESC"
        url="v1/contenttype">
        <dot-base-type-selector
            *ngIf="!filterBy"
            (selected)="changeBaseTypeSelector($event)"></dot-base-type-selector>
    </dot-listing-data-table>

    <dot-add-to-bundle
        *ngIf="addToBundleIdentifier"
        (cancel)="addToBundleIdentifier = null"
        [assetIdentifier]="addToBundleIdentifier"></dot-add-to-bundle>

    <dot-add-to-menu
        *ngIf="addToMenuContentType"
        (cancel)="addToMenuContentType = null"
        [contentType]="addToMenuContentType"></dot-add-to-menu>

    <ng-template #dotDynamicDialog></ng-template>
</dot-portlet-base>
