@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: flex;
    height: 100%;
    overflow: auto;
}

::ng-deep listing-data-table tr {
    cursor: pointer;
}

dot-base-type-selector {
    margin-left: spacing.$spacing-2;
}
