<dot-portlet-base>
    @if (showTable) {
        <dot-listing-data-table
            (rowWasClicked)="editContentType($event)"
            [actionHeaderOptions]="actionHeaderOptions"
            [actions]="rowActions"
            [columns]="contentTypeColumns"
            [paginatorExtraParams]="paginatorExtraParams"
            #listing
            sortField="modDate"
            sortOrder="DESC"
            url="v1/contenttype">
            @if (!filterBy) {
                <dot-base-type-selector (selected)="changeBaseTypeSelector($event)" />
            }
        </dot-listing-data-table>
    }

    @if (addToBundleIdentifier) {
        <dot-add-to-bundle
            (cancel)="addToBundleIdentifier = null"
            [assetIdentifier]="addToBundleIdentifier" />
    }

    @if (addToMenuContentType) {
        <dot-add-to-menu
            (cancel)="addToMenuContentType = null"
            [contentType]="addToMenuContentType" />
    }

    <ng-template #dotDynamicDialog></ng-template>
</dot-portlet-base>
