<div class="panel panel-default clause">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-1">
        <button *ng-if="index !== 0" type="button"class="btn btn-default" (click)="toggleOperator()">
          {{condition.operator}}
        </button>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control clause-selector" [value]="condition.conditionlet" (change)="setConditionlet($event.target.value)">
              <option value="{{conditionlet.id}}"  *ng-for="var conditionlet of conditionlets; var i=index">{{conditionlet.id}} - {{conditionlet.name}}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <h4 class="separator"></h4>
          </div>
          <conditionlet class="row col-sm-7" [condition]="condition" [conditionlet]="conditionlet"
                        [value]="conditionValue"
                        (value-change)="setComparisonValue($event.isNow)"
                        (comparison-change)="setComparison($event.isNow)">
            <users-country *ng-if="conditionlet.id == 'UsersCountryConditionlet'"></users-country>
            <users-page-visits *ng-if="conditionlet.id == 'UsersPageVisitsConditionlet'" ></users-page-visits>

          </conditionlet>



          <!--
                 <single-value-input>
            <bob></bob>
          </single-value-input>
          <!--<users-country class="conditionlet users-country" [value]="conditionValue" (change)="setComparisonValue($event)"></users-country>-->
          <div class="col-sm-1">
            <div class="operations clause-operations">
              <button type="button" class="btn btn-default btn-md btn-danger" aria-label="Delete Clause" (click)="removeCondition()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>