<div class="panel panel-default clause">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-1">
        <button *ng-if="index !== 0" type="button"class="btn btn-default" (click)="toggleOperator()">
          {{condition.operator}}
        </button>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control clause-selector" [value]="condition.conditionlet" (change)="setConditionlet($event.target.value)">
              <option value="{{conditionlet.id}}"  *ng-for="var conditionlet of conditionlets; var i=index">{{conditionlet.id}} - {{conditionlet.name}}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <h4 class="separator"></h4>
          </div>
          <cw-conditionlet class="row col-sm-7"
                        [condition]="condition"
                        [conditionlet]="conditionlet"
                        [value]="conditionValue"
                        (value-change)="setComparisonValue($event.isNow)"
                        (comparison-change)="setComparison($event.isNow)">
            <cw-request-header-conditionlet *ng-if="conditionlet.id == 'UsersBrowserHeaderConditionlet'" ></cw-request-header-conditionlet>
            <cw-browser-conditionlet *ng-if="conditionlet.id == 'UsersBrowserConditionlet'"></cw-browser-conditionlet>
            <users-visited-url-conditionlet *ng-if="conditionlet.id == 'UsersVisitedUrlConditionlet'"></users-visited-url-conditionlet>
            <users-ip-address-conditionlet *ng-if="conditionlet.id == 'UsersIpAddressConditionlet'"></users-ip-address-conditionlet>
            <users-city-conditionlet *ng-if="conditionlet.id == 'UsersCityConditionlet'"></users-city-conditionlet>
            <users-time-conditionlet *ng-if="conditionlet.id == 'UsersTimeConditionlet'"></users-time-conditionlet>
            <users-landing-page-url-conditionlet *ng-if="conditionlet.id == 'UsersLandingPageUrlConditionlet'"></users-landing-page-url-conditionlet>
            <users-platform-conditionlet *ng-if="conditionlet.id == 'UsersPlatformConditionlet'"></users-platform-conditionlet>
            <users-language-conditionlet *ng-if="conditionlet.id == 'UsersLanguageConditionlet'"></users-language-conditionlet>
            <users-page-visits-conditionlet *ng-if="conditionlet.id == 'UsersPageVisitsConditionlet'"></users-page-visits-conditionlet>
            <users-country-conditionlet *ng-if="conditionlet.id == 'UsersCountryConditionlet'"></users-country-conditionlet>
            <mock-true-conditionlet *ng-if="conditionlet.id == 'MockTrueConditionlet'"></mock-true-conditionlet>
            <users-url-parameter-conditionlet *ng-if="conditionlet.id == 'UsersUrlParameterConditionlet'"></users-url-parameter-conditionlet>
            <users-referring-url-conditionlet *ng-if="conditionlet.id == 'UsersReferringUrlConditionlet'"></users-referring-url-conditionlet>
            <users-current-url-conditionlet *ng-if="conditionlet.id == 'UsersCurrentUrlConditionlet'"></users-current-url-conditionlet>
            <users-host-conditionlet *ng-if="conditionlet.id == 'UsersHostConditionlet'"></users-host-conditionlet>
            <users-state-conditionlet *ng-if="conditionlet.id == 'UsersStateConditionlet'"></users-state-conditionlet>
            <users-site-visits-conditionlet *ng-if="conditionlet.id == 'UsersSiteVisitsConditionlet'"></users-site-visits-conditionlet>
            <users-date-time-conditionlet *ng-if="conditionlet.id == 'UsersDateTimeConditionlet'"></users-date-time-conditionlet>
            <users-operating-system-conditionlet *ng-if="conditionlet.id == 'UsersOperatingSystemConditionlet'"></users-operating-system-conditionlet>
            <users-log-in-conditionlet *ng-if="conditionlet.id == 'UsersLogInConditionlet'"></users-log-in-conditionlet>
          </cw-conditionlet>




          <!--
                 <single-value-input>
            <bob></bob>
          </single-value-input>
          <!--<users-country class="conditionlet users-country" [value]="conditionValue" (change)="setComparisonValue($event)"></users-country>-->
          <div class="col-sm-1">
            <div class="operations clause-operations">
              <button type="button" class="btn btn-default btn-md btn-danger" aria-label="Delete Clause" (click)="removeCondition()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>