@import "variables";

:host {
    display: block;
}

.action-header {
    align-items: flex-start;
    display: flex;
    height: 85px;
    position: relative;
    z-index: 1;

    &.selected {
        .action-header__primary-button {
            opacity: 0;
            transform: translateY(-20px);
        }

        .action-header__global-search {
            transform: translateY(-60px);
            visibility: hidden;
        }

        .action-header__group-actions {
            transform: translateY(-60px);
            visibility: visible;
        }
    }
}

.action-header__container {
    flex: 1;
    height: 61px;
    overflow: hidden;
}

.action-header__primary-button {
    opacity: 1;
    position: absolute;
    right: $basic-padding * 3;
    top: $basic-padding;
    transform: translateY(0);
    transition: background-color 100ms, transform 0.2s ease, opacity 0.2s ease;
    z-index: 1;
}

.action-header__global-search {
    align-items: center;
    background: $white;
    display: flex;
    height: 60px;
    padding-left: $basic-padding * 3;
    transform: translateY(0px);
    transition: transform 0.2s ease;

    & > input {
        width: 300px;
    }
}

.action-header__group-actions {
    align-items: center;
    background: $brand-primary;
    color: $white;
    display: flex;
    height: 60px;
    transform: translateY(0px);
    transition: transform 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
}

.action-header__selected-items-counter {
    border-right: 1px solid $white;
    margin-right: $basic-padding * 2;
    padding: $basic-padding $basic-padding * 2;
}
