@use "variables" as *;

.wrapper {
    gap: $spacing-4;
}

.field {
    //gap: $spacing-1;
    margin: $spacing-0;

    //label {
    //    font-weight: $font-weight-semi-bold;
    //    margin-bottom: $spacing-0;
    //    font-size: $font-size-medium;
    //}

    p {
        margin: $spacing-0;
        color: $color-gray-500;
    }

    h3 {
        font-size: $font-size-medium;
        margin: $spacing-0;
        margin-bottom: $spacing-1;
        font-weight: $font-weight-semi-bold;
    }
}

.condition {
    gap: $spacing-3;

    //label {
    //    font-weight: $font-weight-regular-bold;
    //}
}
