@use "variables" as *;
@import "dotcms-theme/utils/theme-variables";
@import "dotcms-theme/utils/extends";

:host {
    padding: $spacing-1;
    min-width: 150px;

    &::ng-deep {
        .p-dropdown {
            border: 0;
            background: none;
            width: 100%;

            .p-dropdown-label {
                color: $black;
                font-size: $font-size-md;
            }
        }

        .p-dropdown-sm .p-dropdown .p-dropdown-label {
            padding-left: 0;
        }

        .p-dropdown:not(.p-disabled).p-focus {
            box-shadow: none;
        }
    }

    &.disabled {
        &::ng-deep dot-icon i,
        label {
            color: $field-disabled-color;
        }
    }

    @media only screen and (max-width: $screen-lg-max) {
        .dot-language-selector.gap-3 {
            gap: $spacing-1 !important;
        }
        ::ng-deep {
            p-dropdown.p-dropdown-sm .p-dropdown {
                padding-left: 0;
                .p-dropdown-label {
                    display: none;
                    padding: 0;
                }
            }
        }
    }
}
