<div class="dot-language-selector h-full flex-auto flex align-items-center gap-3">
    <span class="icon-lg"><i class="pi pi-globe"></i></span>
    <div class="device-selector__field flex-grow-1 flex">
        @if (!readonly){
        <p-dropdown
            class="p-dropdown-sm w-full"
            [(ngModel)]="value"
            [disabled]="disabled"
            [options]="languagesList()"
            (onChange)="change($event.value)"
            dataKey="id"
            lazy="true"
            optionLabel="language" />
        }@else{
        <div class="h-full w-full flex align-items-center gap-3">
            <span>
                {{ value.language }}
                <ng-container *ngIf="value.countryCode"> ({{ value.countryCode }}) </ng-container>
            </span>
        </div>
        }
    </div>
</div>
