<div class="dot-language-selector h-full flex-auto flex items-center gap-2">
    <span class="icon-lg"><i class="pi pi-globe"></i></span>
    <div class="language-selector__field grow flex">
        @if (!readonly) {
            <p-select
                (onChange)="selectedItem($event.value)"
                [(ngModel)]="value"
                [disabled]="disabled || languagesList().length === 0"
                [options]="languagesList()"
                class="p-dropdown-sm w-full"
                data-testId="language-selector"
                dataKey="id"
                optionLabel="language" />
        } @else {
            <div class="h-full w-full flex items-center gap-4">
                <span>
                    {{ value.language }}
                    @if (value.countryCode) {
                        ({{ value.countryCode }})
                    }
                </span>
            </div>
        }
    </div>
</div>
