<dot-listing-data-table
    #listing
    (rowWasClicked)="editContentType($event)"
    *ngIf="showTable"
    [actionHeaderOptions]="actionHeaderOptions"
    [actions]="rowActions"
    [columns]="contentTypeColumns"
    [paginatorExtraParams]="paginatorExtraParams"
    sortField="modDate"
    sortOrder="DESC"
    url="v1/contenttype"
>
    <dot-base-type-selector
        (selected)="changeBaseTypeSelector($event)"
        *ngIf="!filterBy"
    ></dot-base-type-selector>
</dot-listing-data-table>

<dot-add-to-bundle
    (cancel)="addToBundleIdentifier = null"
    *ngIf="addToBundleIdentifier"
    [assetIdentifier]="addToBundleIdentifier"
></dot-add-to-bundle>

<dot-add-to-menu
    *ngIf="addToMenuContentType"
    [contentType]="addToMenuContentType"
    (cancel)="addToMenuContentType = null"
></dot-add-to-menu>

<ng-template #dotDynamicDialog></ng-template>
