@use "variables" as *;

.dot-pages-card-empty {
    border: 1px solid $gray-lighter;
    border-radius: 4px;
}

.dot-pages-card-empty__header {
    display: flex;
    width: 100%;
    height: 170px;
    border-bottom: 1px solid $gray-lighter;
}

.dot-pages-card-empty__body {
    display: flex;
    margin: $spacing-3 $spacing-4 $spacing-3 $spacing-3;

    ::ng-deep dot-icon {
        margin-right: $spacing-1;
        i {
            color: $gray-lighter;
        }
    }
}

.dot-pages-card-empty__content {
    width: 100%;

    ::ng-deep p-skeleton:first-child {
        display: block;
        margin-bottom: $spacing-1;
    }
}
