<div class="dot-pages-card-empty custom-skeleton p-p-4">
    <div class="dot-pages-card-empty__header" data-testId="favoriteCardEmptyHeader"></div>

    <div class="p-d-flex p-mb-3 dot-pages-card-empty__body">
        <dot-icon name="star" size="24"></dot-icon>

        <div class="dot-pages-card-empty__content">
            <p-skeleton width="100%" styleClass="p-mb-2" borderRadius="16px"></p-skeleton>
            <p-skeleton width="100%" styleClass="p-mb-2" borderRadius="16px"></p-skeleton>
        </div>
    </div>
</div>
