@let collapsedBreadcrumbs = $collapsedBreadcrumbs();
@let lastBreadcrumb = $lastBreadcrumb();

<div class="flex flex-column mt-2 gap-2">
    <div data-testid="breadcrumb-crumbs">
        <dot-collapse-breadcrumb [model]="collapsedBreadcrumbs" />
    </div>

    @if (lastBreadcrumb) {
        <div
            data-testid="breadcrumb-title"
            class="text-black text-2xl font-extrabold tracking-tight leading-tight">
            {{ lastBreadcrumb }}
        </div>
    }
</div>

<button (click)="addBreadcrumb()">Add Breadcrumb</button>
