@use "variables" as *;

::ng-deep .p-breadcrumb {
    ul li {
        &:first-child a span.p-menuitem-text {
            color: $black;
            font-size: $font-size-lg;
            font-weight: $font-weight-regular-bold;
        }

        &:last-child a {
            pointer-events: none;
        }
        &:nth-child(2) .p-icon-wrapper {
            display: none;
        }
    }
}
