<dot-not-licensed-component *ngIf="!canAccessPortlet; else licensed"></dot-not-licensed-component>
<ng-template #licensed
    ><div class="dot-apps__container">
        <div class="dot-apps__header">
            <input
                pInputText
                #searchInput
                type="text"
                [placeholder]="('apps.search.placeholder' | dm) || ''"
            />
            <div>
                <button
                    pButton
                    link
                    icon="pi pi-upload"
                    class="dot-apps-configuration__action_import_button"
                    [label]="'apps.confirmation.import.button' | dm"
                    (click)="confirmImportExport('Import')"
                ></button>
                <button
                    pButton
                    link
                    icon="pi pi-download"
                    class="dot-apps-configuration__action_export_button"
                    [label]="'apps.confirmation.export.all.button' | dm"
                    [disabled]="!isExportButtonDisabled()"
                    (click)="confirmImportExport('Export')"
                ></button>
            </div>
        </div>
        <div class="dot-apps__body">
            <dot-apps-card
                *ngFor="let app of appsCopy"
                [app]="app"
                (actionFired)="goToApp($event)"
            ></dot-apps-card>
        </div>
    </div>
</ng-template>

<dot-apps-import-export-dialog
    #importExportDialog
    [action]="importExportDialogAction"
    [show]="showDialog"
    (resolved)="reloadAppsData()"
    (onClose)="onClosedDialog()"
></dot-apps-import-export-dialog>
