<p-dialog
    [(visible)]="show"
    [header]="'modes.Add-Form' | dm"
    [modal]="true"
    [contentStyle]="{ padding: '0' }"
    [styleClass]="
        paginatorService.totalRecords > paginatorService.paginationPerPage ? 'paginator' : ''
    "
    (visibleChange)="shutdown.emit($event)"
    #dialog>
    <p-table
        (onLazyLoad)="loadData($event)"
        [lazy]="true"
        [style]="{ height: contentMinHeight }"
        [pageLinks]="paginatorService.maxLinksPage"
        [paginator]="paginatorService.totalRecords > paginatorService.paginationPerPage"
        [rows]="paginatorService.paginationPerPage"
        [totalRecords]="paginatorService.totalRecords"
        [value]="items"
        #datatable>
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'contenttypes.form.name' | dm }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <div class="dot-form-selector-list-row">
                        {{ item.name }}
                        <button
                            (click)="pick.emit(item)"
                            [label]="'Select' | dm"
                            pButton
                            flat
                            class="form-selector__button"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
