@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    dot-dialog ::ng-deep {
        th {
            text-align: left;
        }

        .dialog .p-dialog {
            width: 800px;

            .p-dialog-content {
                height: 665px !important;
            }
        }

        .dot-form-selector-list-row {
            align-items: baseline;
            display: flex;
            justify-content: space-between;

            button {
                margin-left: spacing.$spacing-5;
            }
        }

        .p-paginator-bottom {
            @include mixins.paginator-bottom-absolute;
        }
    }
}
