@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    font-size: fonts.$font-size-sm;
    color: colors.$color-palette-gray-700;
}

.page-info {
    &__locked-by-message {
        color: colors.$red;
        padding: spacing.$spacing-3;
    }

    &__locked-by-message--blink {
        animation: blinker 500ms linear 1;
    }
}

@keyframes blinker {
    0% {
        opacity: 0.25;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
