<dot-dialog
    *ngIf="show"
    [(visible)]="show"
    [actions]="dialogActions"
    [bindEvents]="false"
    [header]="'modes.Edit-Content' | dm"
    (hide)="hide.emit()"
    width="500px"
>
    <div class="dialog__message">
        <strong>{{ 'editpage.content.contentlet.several.pages' | dm }}</strong>
        {{ 'editpage.content.contentlet.edit.in.page.or.all' | dm }}
    </div>

    <div class="dialog__container">
        <div
            class="dialog__container__options"
            [ngClass]="{ active: selected === options.CURRENT }"
            (click)="changeSelection(options.CURRENT)"
        >
            <span class="material-icons"> article </span>
            <span>{{ 'editpage.content.contentlet.edit.this.page' | dm }}</span>
        </div>

        <div
            class="dialog__container__options"
            [ngClass]="{ active: selected === options.ALL }"
            (click)="changeSelection(options.ALL)"
        >
            <span class="material-icons"> dynamic_feed </span>
            <span>{{ 'editpage.content.contentlet.edit.all.pages' | dm }}</span>
        </div>
    </div>
</dot-dialog>
