<dot-searchable-dropdown
    #searchableDropdown
    (change)="personaChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [(ngModel)]="value"
    [action]="addAction"
    [data]="personas"
    [optionsWidth]="448"
    [rows]="paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    labelPropertyName="name"
    [disabled]="disabled"
    (hide)="iframeOverlayService.hide()"
    (show)="iframeOverlayService.show()"
>
    <ng-template let-persona="item" pTemplate="select">
        <dot-persona-selected-item
            [disabled]="disabled"
            [isEditMode]="isEditMode"
            [persona]="persona"
            [pTooltip]="!disabled ? persona?.name || ('modes.persona.no.persona' | dm) : ''"
            tooltipPosition="bottom"
            appendTo="target"
            (click)="!disabled && searchableDropdown.toggleOverlayPanel($event)"
        ></dot-persona-selected-item>
    </ng-template>
    <ng-template let-personaData="item" pTemplate="listItem">
        <dot-persona-selector-option
            [canDespersonalize]="canDespersonalize"
            [persona]="value && value.identifier === personaData.identifier ? value : personaData"
            [selected]="value && value.identifier === personaData.identifier"
            (change)="personaChange($event)"
            (delete)="delete.emit(personaData)"
        ></dot-persona-selector-option>
    </ng-template>
</dot-searchable-dropdown>

<dot-add-persona-dialog
    #personaDialog
    (createdPersona)="handleNewPersona($event)"
></dot-add-persona-dialog>
