<div class="flex items-center">
    @if (rowState === 'add') {
        <div
            [ngClass]="{ 'dot-add-rows__add': rowState === 'add' }"
            class="flex w-full items-baseline justify-center h-49.5">
            <p-splitButton
                (onClick)="setColumnSelect()"
                [disabled]="$disabled()"
                [model]="actions"
                icon="pi pi-plus"
                label="{{ 'contenttypes.dropzone.rows.add' | dm }}" />
        </div>
    }

    @if (rowState === 'select') {
        <div class="bg-white block h-49.5 p-3 relative w-full">
            <div class="flex justify-between items-center mb-4">
                <div class="text-lg">
                    {{ 'contenttypes.content.add_column_title' | dm }}
                </div>
                <p-button
                    (click)="showAddView()"
                    icon="pi pi-times"
                    [text]="true"
                    [rounded]="true"
                    size="small" />
            </div>
            <ul
                [ngClass]="{ 'dot-add-rows__select': rowState === 'select' }"
                class="flex p-0 w-full list-none m-0"
                #colContainer>
                @for (colNum of $columns(); track colNum; let i = $index) {
                    <li
                        (mouseenter)="onMouseEnter(i, $event)"
                        (mouseleave)="onMouseLeave($event)"
                        (click)="emitColumnNumber()"
                        [class.active]="i === selectedColumnIndex"
                        [ngClass]="{
                            'bg-primary-50 ring-2 ring-primary-200': i === selectedColumnIndex,
                            'bg-gray-200': i !== selectedColumnIndex
                        }"
                        class="cursor-pointer block grow mr-3 outline-none p-3 last:mr-0 transition-colors duration-200 rounded-md"
                        tabindex="-1">
                        <span class="text-gray-700 text-sm mb-2 block font-semibold">
                            {{ setColumnValue(i) }}
                        </span>
                        <div class="flex">
                            @for (col of numberOfCols(colNum); track $index) {
                                <div
                                    class="bg-gray-800 grow h-15 mx-1 first:ml-0 last:mr-0 rounded"></div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>
