<span *ngIf="actions.length > 1 && filteredActions.length">
    <p-menu #menu appendTo="body" popup="popup" [model]="filteredActions" class="action-menu__list"></p-menu>
    <button type="button" pButton [icon]="icon" (click)="menu.toggle($event)"></button>
</span>

<icon-button-tooltip *ngIf="actions.length === 1 && filteredActions.length === 1"
    [icon]="filteredActions[0].icon"
    [tooltipText]="filteredActions[0].label"
    (click)="handleActionCommand(item, $event)">
</icon-button-tooltip>