:host {
  position: relative;
}

:host .badge {
  background-color: #CB3927;
  border-radius: 2px;
  font-size: 0.92308rem;
  line-height: 0.92308rem;
  padding: 2px 5px;
  position: absolute;
  left: 16px;
  top: -3px;
}

:host .toolbar-notifications {
  padding: 16px;
  width: 350px;
}

:host .toolbar-notifications:before {
  background: #fff;
  content: "";
  height: 10px;
  position: absolute;
  right: 15px;
  top: -5px;
  transform: rotate(45deg);
  width: 10px;
}

:host .toolbar-notifications__heading {
  display: flex;
  margin-bottom: 0.76923rem;
  justify-content: space-between;
}

:host .toolbar-notifications__title {
  align-self: center;
  font-size: 1.38462rem;
  margin: 0;
}
