@import "../../../../styles/mixins";
@import "../../../../styles/variables";

:host {
    position: relative;

    .badge {
        background-color: $brand-secondary;
        border-radius: 2px;
        font-size: rem-cal(12px);
        line-height: rem-cal(12px);
        padding: 2px 5px;
        position: absolute;
        left: 16px;
        top: -3px;
    }

    .toolbar-notifications {
        padding: $basic-padding * 2;
        width: 350px;

        &:before {
            background: $white;
            content: "";
            height: 10px;
            position: absolute;
            right: 15px;
            top: -5px;
            transform: rotate(45deg);
            width: 10px;
        }
    }

    .toolbar-notifications__heading {
        display: flex;
        margin-bottom: rem-cal(10px);
        justify-content: space-between;
    }

    .toolbar-notifications__title {
        align-self: center;
        font-size: rem-cal(18px);
        margin: 0;
    }
}