@import "variables";

:host {
    display: flex;

    & > * {
        margin-left: $basic-padding * 6;

        &:first-child {
            margin-left: 0;
        }
    }

    dot-language-selector,
    dot-device-selector,
    dot-persona-selector {
        ::ng-deep .p-tooltip {
            display: none !important;
        }
    }

    @media only screen and (max-width: $screen-device-container-max) {
        dot-language-selector,
        dot-device-selector,
        dot-persona-selector {
            margin-left: $basic-padding * 2;

            ::ng-deep .p-tooltip {
                display: inline-block !important;
            }
        }
    }

    ::ng-deep {
        .p-dropdown {
            &:not(.p-state-disabled) {
                .p-dropdown-label,
                .p-dropdown-trigger {
                    color: $gray;
                }
            }
        }

        .p-chkbox:not(.p-state-disabled) {
            .p-chkbox-box.p-state-default {
                border-color: $gray;
            }
        }

        .p-chkbox-label {
            color: $gray;
        }
    }
}


