<ng-container *ngIf="isEnterpriseLicense$ | async as isEnterpriseLicense; else language">
    <ng-template [ngIf]="isEnterpriseLicense">
        <div class="device-info" *ngIf="pageState.viewAs.device">
            <span class="device-info__label">{{ 'editpage.viewas.previewing' | dm }}:</span>
            <span class="device-info__content">
                {{ pageState.viewAs.device.name }} - {{ pageState.viewAs.device.cssWidth }} x
                {{ pageState.viewAs.device.cssHeight }}
            </span>
        </div>
    </ng-template>

    <dot-language-selector
        (selected)="changeLanguageHandler($event)"
        [value]="pageState.viewAs.language"
    ></dot-language-selector>

    <ng-template [ngIf]="isEnterpriseLicense">
        <dot-device-selector
            (selected)="changeDeviceHandler($event)"
            [value]="pageState.viewAs.device"
        ></dot-device-selector>
        <dot-persona-selector
            (delete)="deletePersonalization($event)"
            [disabled]="!(dotPageStateService.haveContent$ | async)"
            (selected)="changePersonaHandler($event)"
            [pageState]="pageState"
        ></dot-persona-selector>
    </ng-template>
</ng-container>

<ng-template #language>
    <dot-language-selector
        (selected)="changeLanguageHandler($event)"
        [value]="pageState.viewAs.language"
    ></dot-language-selector>
</ng-template>
