<ng-container *ngIf="isEnterpriseLicense$ | async as isEnterpriseLicense; else language">
    <dot-language-selector
        [pTooltip]="pageState.viewAs.language.language"
        tooltipPosition="bottom"
        appendTo="target"
        (selected)="changeLanguageHandler($event)"
        [value]="pageState.viewAs.language"
    ></dot-language-selector>

    <ng-template [ngIf]="isEnterpriseLicense">
        <dot-device-selector
            [pTooltip]="pageState.viewAs.device?.name || ('editpage.viewas.default.device' | dm)"
            tooltipPosition="bottom"
            appendTo="target"
            (selected)="changeDeviceHandler($event)"
            [value]="pageState.viewAs.device"
        ></dot-device-selector>
        <dot-persona-selector
            (delete)="deletePersonalization($event)"
            [disabled]="!(dotPageStateService.haveContent$ | async)"
            (selected)="changePersonaHandler($event)"
            [pageState]="pageState"
        ></dot-persona-selector>
    </ng-template>
</ng-container>

<ng-template #language>
    <dot-language-selector
        (selected)="changeLanguageHandler($event)"
        [value]="pageState.viewAs.language"
    ></dot-language-selector>
</ng-template>
