@import "variables";

:host {
    display: flex;

    & > * {
        margin-left: $basic-padding * 6;

        &:first-child {
            margin-left: 0;
        }
    }

    dot-language-selector,
    dot-device-selector,
    dot-persona-selector {
        ::ng-deep .ui-tooltip {
            display: none !important;
        }
    }

    @media only screen and (max-width: $screen-device-container-max) {
        dot-language-selector,
        dot-device-selector,
        dot-persona-selector {
            margin-left: $basic-padding * 2;

            ::ng-deep .ui-tooltip {
                display: inline-block !important;
            }
        }
    }
}

::ng-deep {
    .ui-dropdown {
        &:not(.ui-state-disabled) {
            .ui-dropdown-label,
            .ui-dropdown-trigger {
                color: $gray;
            }
        }
    }

    .ui-chkbox:not(.ui-state-disabled) {
        .ui-chkbox-box.ui-state-default {
            border-color: $gray;
        }
    }

    .ui-chkbox-label {
        color: $gray;
    }
}
