@use "variables" as *;

:host {
    background: $color-palette-gray-200;
    box-shadow: $shadow-m;
    display: flex;
    height: 100%;
    padding: $spacing-4;
}

.dot-apps-configuration__body {
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing-3;
}

.dot-apps-configuration__action_header {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-1;
    justify-content: space-between;
    width: 100%;

    input {
        flex-grow: 1;
    }

    button {
        &:first-child {
            margin-right: $spacing-1;
        }
    }
}

.dot-apps-configuration__add-configurations {
    margin-top: 10rem;
    text-align: center;
    width: 100%;
}

.dot-apps-configuration__add-configurations-title {
    font-size: $font-size-xl;
    font-weight: bold;
}

.dot-apps-configuration__add-configurations-description {
    font-size: $font-size-lmd;
    margin-bottom: $spacing-9;
    margin-top: $spacing-4;
}

.dot-apps-configuration__container {
    background-color: $white;
    box-shadow: $shadow-m;
    overflow-y: auto;
    width: 100%;
    font-size: $font-size-md;
}
