<ng-container *ngIf="pageState$ | async as pageState">
    <dot-form-selector
        [show]="editForm"
        (pick)="onFormSelected($event)"
        (shutdown)="editForm = false"
    ></dot-form-selector>
    <dot-add-contentlet (custom)="onCustomEvent($event)"></dot-add-contentlet>
    <dot-create-contentlet
        (custom)="onCustomEvent($event)"
        (shutdown)="handleCloseAction()"
    ></dot-create-contentlet>
    <dot-edit-contentlet (custom)="onCustomEvent($event)"></dot-edit-contentlet>
    <dot-reorder-menu [url]="reorderMenuUrl" (shutdown)="onCloseReorderDialog()"></dot-reorder-menu>

    <ng-template #enabledComponent>
        <dot-edit-page-toolbar-seo
            class="dot-edit__toolbar"
            [pageState]="pageState"
            [variant]="variantData | async"
            [runningExperiment]="pageState.state.runningExperiment"
            (actionFired)="reload($event)"
            (backToExperiment)="backToExperiment()"
            (cancel)="onCancelToolbar()"
            (favoritePage)="showFavoritePageDialog($event)"
            (whatschange)="showWhatsChanged = $event"
        ></dot-edit-page-toolbar-seo>
    </ng-template>

    <ng-template #disabledComponent>
        <dot-edit-page-toolbar
            class="dot-edit__toolbar"
            [pageState]="pageState"
            [variant]="variantData | async"
            [runningExperiment]="pageState.state.runningExperiment"
            (actionFired)="reload($event)"
            (backToExperiment)="backToExperiment()"
            (cancel)="onCancelToolbar()"
            (favoritePage)="showFavoritePageDialog($event)"
            (whatschange)="showWhatsChanged = $event"
        ></dot-edit-page-toolbar>
    </ng-template>

    <ng-container
        *dotShowHideFeature="featureFlagSeo; alternate: disabledComponent"
        [ngTemplateOutlet]="enabledComponent"
    ></ng-container>

    <div class="dot-edit-content__wrapper">
        <dot-loading-indicator fullscreen="true"></dot-loading-indicator>
        <div class="og-container" *ngIf="pageState.seoTile !== null">
            <div class="seo-card-container">
                <div class="seo-card">
                    <p-card>
                        <div class="container-g">
                            <span class="version">Desktop Version</span>
                            <div class="seo-result">
                                <div class="seo-title">
                                    <img
                                        class="seo-favicon"
                                        [src]="seoOGTags.favicon"
                                        alt="favicon"
                                    />
                                    <span>{{ pageState.page.hostName }}</span>
                                </div>
                                <a class="og-title" href="#">
                                    {{ seoOGTags['og:title'] }}
                                </a>
                                <p class="og-description">
                                    {{ seoOGTags.description }}
                                </p>
                            </div>

                            <span class="version">Mobile Version</span>
                            <div class="seo-result google-mobile">
                                <div class="seo-title">
                                    <img
                                        class="seo-favicon"
                                        [src]="seoOGTags.favicon"
                                        alt="favicon"
                                    />
                                    <span>{{ pageState.page.hostName }}</span>
                                </div>
                                <a class="og-title" href="#">
                                    {{ seoOGTags['og:title'] }}
                                </a>
                                <p class="og-description">
                                    {{ seoOGTags.description }}
                                </p>
                            </div>
                        </div>
                    </p-card>
                </div>
                <p-card class="seo-og-result" *ngFor="let result of seoOGTagsResults">
                    <ng-template class="seo-og-header" pTemplate="header">
                        <div class="seo-og-header-item">
                            <i class="pi {{ result.keyIcon }}" [style.color]="result.keyColor"></i>
                            <span>{{ result.key }}</span>
                        </div>
                    </ng-template>
                    <ul class="seo-og-list">
                        <li *ngFor="let item of result.items">
                            <i class="pi {{ item.itemIcon }}" [style.color]="item.color"> </i>
                            <span>{{ item.message }}</span>
                        </li>
                    </ul>
                </p-card>

                <p-card class="seo-og-result">
                    <ng-template class="seo-og-header" pTemplate="header">
                        <div class="seo-og-header-item">
                            <i class="pi pi-info-circle" style="color: '#426BF0'"></i>
                            <span>Read More</span>
                        </div>
                    </ng-template>
                    <ul class="seo-og-list">
                        <li>
                            <i class="pi pi-external-link" style="color: '#426BF0'"></i>
                            <span
                                >The Open Graph protocol
                                <a target="_blank" href="https://ogp.me/">https://ogp.me/</a></span
                            >
                        </li>
                        <li>
                            <i class="pi pi-external-link" style="color: '#426BF0'"></i>
                            <span
                                >Sharing Debugger - Meta for Developers
                                <a
                                    target="_blank"
                                    href="https://developers.facebook.com/tools/debug/"
                                    >https://developers.facebook.com/tools/debug/</a
                                >
                            </span>
                        </li>
                    </ul>
                </p-card>
            </div>
        </div>

        <div
            class="dot-edit__page-wrapper"
            *ngIf="pageState.seoTile === null"
            [class.dot-edit__page-wrapper--deviced]="pageState.viewAs.device"
        >
            <div
                class="dot-edit__device-wrapper"
                [ngStyle]="{
                    width: pageState.viewAs.device
                        ? pageState.viewAs.device.cssWidth + 'px'
                        : '100%',
                    height: pageState.viewAs.device
                        ? pageState.viewAs.device.cssHeight + 'px'
                        : '100%'
                }"
            >
                <div class="dot-edit__iframe-wrapper">
                    <dot-overlay-mask
                        *ngIf="showOverlay"
                        (click)="iframeOverlayService.hide()"
                    ></dot-overlay-mask>
                    <dot-whats-changed
                        *ngIf="showWhatsChanged"
                        [languageId]="pageState.viewAs.language.id"
                        [pageId]="pageState.page.identifier"
                    ></dot-whats-changed>
                    <iframe
                        class="dot-edit__iframe"
                        #iframe
                        *ngIf="showIframe"
                        [ngStyle]="{
                            visibility: showWhatsChanged ? 'hidden' : '',
                            position: showWhatsChanged ? 'absolute' : ''
                        }"
                        (load)="onLoad($event)"
                        frameborder="0"
                        height="100%"
                        width="100%"
                    ></iframe>
                </div>
            </div>
        </div>
        <div
            class="dot-edit-content__palette"
            *ngIf="(isEnterpriseLicense$ | async) && isEditMode && allowedContent"
            [class.collapsed]="paletteCollapsed"
            [class.editMode]="isEditMode"
        >
            <dot-palette
                [allowedContent]="allowedContent"
                [languageId]="pageStateInternal.page?.languageId"
            >
            </dot-palette>
            <div
                class="dot-edit-content__palette-visibility"
                (click)="paletteCollapsed = !paletteCollapsed"
                data-testId="palette-visibility"
            >
                <dot-icon
                    [name]="paletteCollapsed ? 'chevron_left' : 'chevron_right'"
                    size="22"
                ></dot-icon>
            </div>
        </div>
    </div>
</ng-container>
