@if (pageState$ | async; as pageState) {
    <dot-form-selector (pick)="onFormSelected($event)"
        (shutdown)="editForm = false"
        [show]="editForm" />
    <dot-add-contentlet (custom)="onCustomEvent($event)" />
    <dot-create-contentlet (custom)="onCustomEvent($event)"
        (shutdown)="handleCloseAction()" />
    <dot-edit-contentlet (custom)="onCustomEvent($event)" />
    <dot-reorder-menu (shutdown)="onCloseReorderDialog()" [url]="reorderMenuUrl" />
    <ng-template #enabledComponent>
        <dot-edit-page-toolbar-seo (actionFired)="reload($event)"
            (backToExperiment)="backToExperiment()"
            (cancel)="onCancelToolbar()"
            (favoritePage)="showFavoritePageDialog($event)"
            (whatschange)="showWhatsChanged = $event"
            [pageState]="pageState"
            [runningExperiment]="pageState.state.runningExperiment"
            [variant]="variantData | async"
            class="dot-edit__toolbar" />
    </ng-template>
    <ng-template #disabledComponent>
        <dot-edit-page-toolbar (actionFired)="reload($event)"
            (backToExperiment)="backToExperiment()"
            (cancel)="onCancelToolbar()"
            (favoritePage)="showFavoritePageDialog($event)"
            (whatschange)="showWhatsChanged = $event"
            [pageState]="pageState"
            [runningExperiment]="pageState.state.runningExperiment"
            [variant]="variantData | async"
            class="dot-edit__toolbar" />
    </ng-template>
    <ng-container *dotShowHideFeature="featureFlagSeo; alternate: disabledComponent"
        [ngTemplateOutlet]="enabledComponent" />
    <div
        [class.dot-edit-content__preview]="!isEditMode"
        class="dot-edit-content__wrapper"
        data-testId="edit-content-wrapper">
        <dot-loading-indicator fullscreen="true" />
        @if (pageState.seoMedia) {
            <dot-results-seo-tool [device]="pageState.viewAs.device"
                [hostName]="pageState.page.hostName"
                [seoMedia]="pageState.seoMedia"
                [seoOGTagsResults]="seoOGTagsResults"
                [seoOGTags]="seoOGTags" />
        } @else {
            @if (pageState.viewAs.device) {
                <dot-select-seo-tool [device]="pageState.viewAs.device" />
            }
            <div
                [class.dot-edit__page-wrapper--deviced]="pageState.viewAs.device"
                class="dot-edit__page-wrapper">
                <div class="dot-edit__device-wrapper">
                    <div
                        [ngStyle]="{
                            width: pageState.viewAs.device
                                ? pageState.viewAs.device.cssWidth + 'px'
                                : '100%',
                            height: pageState.viewAs.device
                                ? pageState.viewAs.device.cssHeight + 'px'
                                : '100%'
                        }"
                        class="dot-edit__iframe-wrapper">
                        @if (showOverlay) {
                            <dot-overlay-mask (click)="iframeOverlayService.hide()" />
                        }
                        @if (showWhatsChanged) {
                            <dot-whats-changed [languageId]="pageState.viewAs.language.id"
                                [pageId]="pageState.page.identifier" />
                        }
                        @if (showIframe) {
                            <iframe
                                (load)="onLoad($event)"
                                [ngStyle]="{
                                    visibility: showWhatsChanged ? 'hidden' : '',
                                    position: showWhatsChanged ? 'absolute' : ''
                                }"
                                #iframe
                                class="dot-edit__iframe"
                                frameborder="0"
                                height="100%"
                                title="Edit Content"
                                width="100%"></iframe>
                        }
                    </div>
                </div>
            </div>
        }
        @if ((isEnterpriseLicense$ | async) && isEditMode && allowedContent) {
            <div
                [class.collapsed]="paletteCollapsed"
                [class.editMode]="isEditMode"
                class="dot-edit-content__palette">
                <dot-palette [allowedContent]="allowedContent"
                    [languageId]="pageLanguageId" />
                <div
                    (click)="paletteCollapsed = !paletteCollapsed"
                    class="dot-edit-content__palette-visibility"
                    data-testId="palette-visibility">
                    <dot-icon [name]="paletteCollapsed ? 'chevron_left' : 'chevron_right'"
                        size="22" />
                </div>
            </div>
        }
    </div>
}
