<div class="login__container p-fluid" *ngIf="loginInfo$ | async as loginInfo">
    <form [formGroup]="loginForm">
        <div class="login__header">
            <div class="login__logo">
                <img src="{{ loginInfo.entity.logo }}" alt="DotCMS - Hybrid CMS" />
            </div>
            <p-dropdown
                data-testId="language"
                class="p-dropdown-sm"
                [options]="languages"
                formControlName="language"
                #languageDropdown
                [style]="{ width: '185px' }"
                (onChange)="onLanguageChange($event.value)"
            >
            </p-dropdown>
        </div>

        <h3 data-testId="header" class="login__title">
            {{ loginInfo.i18nMessagesMap['welcome-login'] }}
        </h3>

        <p
            [ngClass]="{ 'p-invalid': isError, success: !isError }"
            class="login__message"
            data-testId="message"
            [innerHTML]="message"
        ></p>
        <div class="p-field form__group--validation">
            <label data-testId="emailLabel" for="inputtext">{{
                loginInfo.i18nMessagesMap['emailAddressLabel']
            }}</label>

            <input
                type="text"
                id="inputtext"
                pInputText
                type="text"
                dotAutofocus
                formControlName="login"
                autocomplete="username"
                data-testId="userNameInput"
            />

            <dot-field-validation-message
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['emailAddressLabel']
                    )
                "
                [field]="loginForm.get('login')"
            >
            </dot-field-validation-message>
        </div>
        <div class="p-field form__group--validation">
            <label data-testId="passwordLabel" for="inputtext">{{
                loginInfo.i18nMessagesMap['password']
            }}</label>

            <input
                pInputText
                type="password"
                formControlName="password"
                autocomplete="current-password"
                data-testId="password"
            />

            <dot-field-validation-message
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['password']
                    )
                "
                [field]="loginForm.get('password')"
            >
            </dot-field-validation-message>
        </div>
        <div class="login__password-settings p-field">
            <p-checkbox
                formControlName="rememberMe"
                data-testId="rememberMe"
                binary="true"
                [label]="loginInfo.i18nMessagesMap['remember-me']"
            ></p-checkbox>
            <a
                actionLink
                data-testId="actionLink"
                *ngIf="!isLoginInProgress"
                (click)="goToForgotPassword()"
                >{{ loginInfo.i18nMessagesMap['get-new-password'] }}</a
            >
        </div>
        <div class="p-field">
            <dot-loading-indicator></dot-loading-indicator>
            <button
                [disabled]="!loginForm.valid"
                pButton
                *ngIf="loginForm.enabled"
                (click)="logInUser()"
                [label]="loginInfo.i18nMessagesMap['sign-in']"
                data-testId="submitButton"
                class="login__button"
            ></button>
        </div>
        <div class="login__footer">
            <span data-testId="server"
                >{{ loginInfo.i18nMessagesMap['Server'] }}: {{ loginInfo.entity.serverId }}</span
            >
            |
            <span data-testId="version"
                >{{ loginInfo.entity.levelName }}: {{ loginInfo.entity.version }} -
                {{ loginInfo.entity.buildDateString }}</span
            >
            <span
                data-testId="license"
                *ngIf="loginInfo.entity.levelName.indexOf('COMMUNITY') !== -1"
                [innerHTML]="
                    ' - ' +
                    loginInfo.i18nMessagesMap['angular.login.component.community.licence.message']
                "
            >
            </span>
        </div>
    </form>
</div>
