@use "variables" as *;
@import "mixins";

$placeholder-color: $color-palette-white-op-50;

:host {
    flex: 1;
    margin: 0 50px;

    .global-search__textbox {
        background-color: $color-palette-white-op-20;
        border: none;
        color: $white;
        font-size: $font-size-lmd;
        height: 36px;
        padding: 0 10px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: $placeholder-color;
        }

        &:-moz-placeholder {
            color: $placeholder-color;
        }

        &::-moz-placeholder {
            color: $placeholder-color;
        }

        &:-ms-input-placeholder {
            color: $placeholder-color;
        }
    }
}
