@use "variables" as *;
@use "mixins";
@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";

$placeholder-color: colors.$color-palette-white-op-50;

:host {
    flex: 1;
    margin: 0 50px;

    .global-search__textbox {
        background-color: colors.$color-palette-white-op-20;
        border: none;
        color: colors.$white;
        font-size: fonts.$font-size-lmd;
        height: 36px;
        padding: 0 10px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: $placeholder-color;
        }

        &:-moz-placeholder {
            color: $placeholder-color;
        }

        &::-moz-placeholder {
            color: $placeholder-color;
        }

        &:-ms-input-placeholder {
            color: $placeholder-color;
        }
    }
}
