@import "../../../../scss/variables";
@import "../../../../scss/mixins";

:host {
    flex: 7;
    margin: 0 rem-cal(50px);

    md-input {
        width: 100%;
        display: block;

        .md-input-placeholder {
            color: rgba($white, 0.5);
        }

        .md-input-table {
            background-color: rgba($white, 0.2);
            border-radius: 3px;
            padding: rem-cal(5px) rem-cal(10px);
        }

        .md-input-underline {
            display: none;
        }

        .md-input-wrapper {
            margin: 0;
        }
    }
}