<div class="flex flex-col gap-8 m-auto items-center max-w-fit">
  <h1 class="text-4xl font-bold">{{ post().title }}</h1>

  @if (post().image) {
    <div class="relative w-full h-80 overflow-hidden">
      <img
        [ngSrc]="post().image.identifier"
        alt="Blog Post Image"
        class="object-cover"
        fill
      />
    </div>
  }

  <div (click)="editPost()">
    <dotcms-block-editor-renderer
      [blocks]="postContent()"
      [customRenderers]="customRenderers"
      [class]="blockEditorClasses()"
    />
  </div>
</div>
