<div class="dot-pages-create-page-dialog__search-container p-input-icon-right">
    <dot-icon data-testid="dot-pages-create-page-filter-icon" name="search" size="24"></dot-icon>
    <input
        [placeholder]="'Search' | dm"
        #searchInput
        data-testid="dot-pages-create-page-dialog__keyword-input"
        type="text"
        pInputText
        dotAutofocus />
</div>

<div class="dot-pages-create-page-dialog__page-types-container">
    @for (item of pageTypes$ | async; track item) {
        <div
            (click)="goToCreatePage(item.variable)"
            class="dot-pages-create-page-dialog__page-item">
            <dot-icon [name]="item.icon" size="18"></dot-icon>
            {{ item.name }}
        </div>
    }
</div>
