:host {
    dotcms-template-builder-lib {
        display: block;
        height: 100%;
        overflow: auto;
        padding-right: 5rem;
        overflow-y: hidden;
    }
}

::ng-deep {
    dotcms-template-builder-lib {
        .layout-toolbar.p-toolbar {
            padding-right: 0;
        }
    }
}
