@mixin button-state($props) {
    background: map-get($props, background);
    color:  map-get($props, color);
    border: map-get($props, border);
    box-shadow: map-get($props, shadow);
}

.ui-button {
    height: $field-height;
    margin-right: 0;
    outline: none;

    @each $button, $states in $buttons-map {
        @if ($button == "basic") {

            @each $label, $props in $states {
                @if ($label == "hover" or $label == "active" or $label == "disabled") {
                    &:not(.ui-state-disabled):#{$label} {
                        @include button-state($props)
                    }
                } @else {
                    &:not(.ui-state-disabled).ui-state-#{$label} {
                        @include button-state($props)
                    }
                }
            }

        } @else {

            &[#{$button}] {
                @each $label, $props in $states {
                    @if ($label == "hover" or $label == "active" or $label == "disabled") {
                        &:#{$label} {
                            @include button-state($props)
                        }
                    } @else {
                        &.ui-state-#{$label} {
                            @include button-state($props)
                        }
                    }
                }
            }

        }
    }

    &[iconButton] {
        border-radius: $field-height / 2;
        border: none;
        transition: background-color $basic-speed;
        width: $field-height;

        &.inverse {
            color: $white;
        }

        &.ui-state-default {
            background: none;
            box-shadow: none;
        }

        &:not([disabled]):hover {
            background: rgba($black, 0.1);
        }

        &[disabled] {
            color: $body-font-color;
            opacity: 0.25;
        }
    }
}

.ui-button-text {

    .ui-button-text-only & {
        padding: 0 $button-padding;
    }

    .ui-button-text-icon-left & {
        padding: 0 $button-padding 0 $basic-padding * 3.5;
    }

    .ui-button-text-icon-right & {
        padding: 0 $basic-padding * 3.5 0 $button-padding;
    }

}

