/* DropDown */

.ui-dropdown {

    &:not(.ui-state-disabled) {
        &:hover,
        &:active {
            @extend #field-hover-state;

            .ui-dropdown-trigger {
                border-color: $field-hover-border-color;
            }
        }
    }

    &.ui-state-disabled {
        .ui-dropdown-trigger {
            border-left: $field-disabled-border;
            color: $field-disabled-textcolor;
        }

        .ui-dropdown-label {
            &:hover {
                color: $field-disabled-textcolor;
            }
        }
    }

    .ui-dropdown-trigger {
        align-items: center;
        display: flex;
        justify-content: center;
        width: $field-height;

        .fa {
            margin: 0;
        }

        &.ui-state-hover,
        &.ui-state-focus {
            background-color: $white;
            border-color: $field-hover-border-color;

            .fa {
                color: $field-hover-border-color;
            }
        }
    }

    .ui-dropdown-label {
        border: 0;
        line-height: $field-height;
        padding-right: $field-height + $basic-padding;
    }
}

.ui-dropdown-panel {
    .ui-dropdown-filter-container .fa {
        top: 14px;
    }

    .ui-dropdown-list {
        padding: 0;
    }

    .ui-dropdown-item {
        margin: 0;
        padding: $basic-padding;

        &:hover {
            @extend #ui-hover-state;
        }

        &.ui-corner-all {
            border-radius: 0;
        }
    }
}