@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../../libs/dotcms-scss/shared/common";
@use "../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../libs/dotcms-scss/shared/shadows";
@use "../../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    background: colors.$white;
    cursor: move;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: spacing.$spacing-1;
    height: $content-type-field-height;
    transition: box-shadow $basic-speed;
    border-radius: common.$border-radius-md;
    border: 1px solid colors.$color-palette-gray-400;
    margin-bottom: spacing.$spacing-1;

    &:hover {
        box-shadow: shadows.$shadow-m;
        z-index: 1;
    }

    &.gu-transit {
        opacity: 0.4;
    }

    .field-drag {
        color: colors.$color-palette-gray-400;
    }

    .field-icon {
        height: spacing.$spacing-7;
        min-width: spacing.$spacing-7;
        background-color: colors.$color-palette-secondary-200;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        ::ng-deep {
            i {
                color: colors.$color-palette-secondary-500;
            }
        }
    }
}

.field-properties {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-right: spacing.$spacing-1;
    flex-grow: 1;

    .field-properties__info-container,
    .field-properties__actions-container {
        height: spacing.$spacing-4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .field-properties__info-container {
        .info-container__name {
            @include mixins.truncate-text;
            color: #000;
            font-size: fonts.$font-size-md;
        }
    }

    .field-properties__actions-container {
        p-button.open {
            ::ng-deep .p-button {
                background-color: colors.$color-palette-primary-200;
            }
        }

        .field-properties__attributes-container {
            display: flex;
            gap: spacing.$spacing-3;
            font-size: fonts.$font-size-sm;

            .attributes-container__field-name {
                color: colors.$color-palette-gray-900;
            }
            .attributes-container__attribute {
                color: colors.$color-palette-gray-700;
            }
        }
    }
}

::ng-deep .contentType__overlayPanel {
    height: fit-content;
    width: fit-content;
    max-height: 3.875rem;
    border-radius: common.$border-radius-md;
    box-shadow: shadows.$shadow-s;

    .p-overlaypanel-content {
        padding: spacing.$spacing-1 spacing.$spacing-3;

        .field-properties__overlay-attributes-container {
            display: flex;
            flex-direction: column;
            color: colors.$black;

            p {
                margin: 0;
            }

            .overlay-attributes-container__field-name {
                font-weight: 700;
                line-height: 1.125rem;
            }

            .overlay-attributes-container__attributes-text {
                margin-top: spacing.$spacing-1;
            }
        }
    }
}

::ng-deep {
    .p-button .p-button-label {
        text-transform: none;
    }
}
