<dot-icon class="drag" name="drag_indicator"></dot-icon>

<dot-icon class="field__icon" name="{{ icon }}"></dot-icon>
<div class="field__properties">
    <div class="field__name__container">
        <span class="field__name"> {{ field.name }}</span>
        <p-button
            id="field__actions__delete"
            *ngIf="!field.fixed"
            (click)="removeItem($event)"
            styleClass="p-button-text p-button-sm p-button-danger p-button-rounded"
            icon="pi pi-trash"
        >
        </p-button>
    </div>
    <div class="field__copy__container">
        <dot-copy-link
            *ngIf="field.variable"
            [label]="field.variable"
            [copy]="field.variable"
        ></dot-copy-link>

        <div *ngIf="isSmall; else attributes">
            <p-button
                *ngIf="true"
                [class.open]="open"
                (click)="openAttr($event)"
                data-testid="field-info-button"
                styleClass="p-button-text p-button-sm  p-button-rounded"
                icon="pi pi-info-circle"
            >
            </p-button>
        </div>
    </div>
</div>

<p-overlayPanel
    #op
    (onShow)="setOpen(true)"
    (onHide)="setOpen(false)"
    appendTo="body"
    styleClass="contentType__overlayPanel"
>
    <div class="overlay__attributes__container">
        <p class="field__name">{{ fieldTypeLabel }}</p>
        <p class="attributes__text" *ngIf="fieldAttributesString.length">
            {{ fieldAttributesString }}
        </p>
    </div>
</p-overlayPanel>

<ng-template #attributes>
    <div class="attributes__container">
        <p class="field__name">{{ fieldTypeLabel }}</p>
        <p class="attribute" *ngFor="let field of fieldAttributesArray; let index = index">
            {{ field }}
        </p>
    </div>
</ng-template>
