<i class="material-symbols-outlined ml-1 text-xl text-gray-400">drag_indicator</i>

<div
    class="ml-1 flex h-7 min-h-12 min-w-12 items-center justify-center rounded-full bg-(--color-palette-secondary-200)">
    <i class="material-symbols-outlined text-lg text-(--color-palette-secondary-500)">{{ icon }}</i>
</div>

<div class="flex grow flex-col gap-2 overflow-hidden py-3 pr-1">
    <div class="mb-1 flex h-4 items-center justify-between">
        <span class="block truncate text-sm font-semibold text-black">{{ field.name }}</span>
        @if (!field.fixed) {
            <p-button
                (click)="removeItem($event)"
                id="info-container__delete"
                [text]="true"
                [rounded]="true"
                severity="danger"
                size="small"
                icon="pi pi-trash" />
        }
    </div>
    <div class="flex h-4 items-center justify-between">
        @if (variableToShow) {
            <dot-copy-link [label]="variableToShow" [copy]="variableToShow" />
        }

        @if ($isSmall()) {
            <div>
                @if (true) {
                    <p-button
                        (click)="openAttr($event)"
                        [class.open]="open"
                        data-testid="field-info-button"
                        [text]="true"
                        [rounded]="true"
                        size="small"
                        [ngClass]="{ 'bg-primary-200': open }"
                        icon="pi pi-info-circle" />
                }
            </div>
        } @else {
            <div class="flex gap-3 text-xs">
                <p class="m-0 font-bold text-gray-900">{{ fieldTypeLabel }}</p>
                @for (field of fieldAttributesArray; track field; let index = $index) {
                    <p class="m-0 text-gray-700">
                        {{ field }}
                    </p>
                }
            </div>
        }
    </div>
</div>

<p-popover
    (onShow)="setOpen(true)"
    (onHide)="setOpen(false)"
    #op
    appendTo="body"
    styleClass="contentType__overlayPanel shadow-lg rounded-md border border-gray-200">
    <div class="flex min-w-50 flex-col text-black">
        <p class="m-0 text-sm font-bold">{{ fieldTypeLabel }}</p>
        @if (fieldAttributesString.length) {
            <p class="m-0 mt-1 text-sm">
                {{ fieldAttributesString }}
            </p>
        }
    </div>
</p-popover>
