@use "variables" as *;

.dot-content-compare-table__controls {
    display: flex;
    align-items: center;

    p-dropdown {
        margin-right: $spacing-3;
    }

    button {
        margin-left: auto;
    }
}

.dot-content-compare-table__title {
    color: $black;
    font-size: $font-size-lg;
}

:host ::ng-deep .p-datatable {
    table {
        border-collapse: separate;
        border-spacing: 0;

        th {
            border-top: 1px solid $color-palette-gray-300;
            border-bottom: 1px solid $color-palette-gray-300;
            border-right: 1px solid $color-palette-gray-300;
        }

        td {
            border-bottom: 1px solid $color-palette-gray-300;
            border-right: 1px solid $color-palette-gray-300;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        th:first-child,
        td:first-child {
            border-left: 1px solid $color-palette-gray-300;
        }

        thead th {
            position: sticky;
            top: 0;
            z-index: 1;

            &:not(:first-of-type) {
                width: 45%;
            }
        }
    }

    .thumbnail {
        &.cover {
            width: 94px;
            height: 94px;
        }
    }

    .p-card {
        &.p-component {
            border: 0;
            background: #ffffff;
            color: #14151a;
            display: flex;
        }

        .p-card-body {
            .p-card-title {
                h3 {
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 1.5rem;
                }
            }
        }
    }
}






