@import "mixins";
@import "variables";

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1, h2, h3 {
    color: $brand-primary;
    font-weight: normal;
}

h1 {
    font-size: rem-cal(36px);
}

h2 {
    font-size: rem-cal(30px);
}

h3 {
    font-size: rem-cal(24px);
}

h4 {
    font-size: rem-cal(18px);
}

h5 {
    font-size: rem-cal(14px);
}

h6 {
    font-size: rem-cal(12px);
}