// COLORS
$black: #0a0725;
$gray-dark: #524e5c;
$gray: #7e7a86;
$gray-light: #b3b1b8;
$gray-lighter: #a8a7aa;
$gray-bg: #f1f3f4;

$brand-primary: var(--color-main);
$brand-primary_mod: var(--color-main_mod);
$brand-primary_rgb: var(--color-main_rgb);
$brand-secondary: var(--color-sec);
$brand-secondary_rgb: var(--color-sec_rgb);
$brand-background: var(--color-background);

$orange: #f3762a;
$white: #fff;
$red: #cb3927;
$green: #29c175;

$error: #d0021b;
$warn: $orange;
$info: $brand-secondary;
$success: $green;

// Basic stuffs
$border-radius: 2px;
$basic-padding: 8px;
$field-height: 36px;
$field-tiny-height: 28px;
$field-disabled-opacity: 0.7;
$icon-button-size: 32px;
$line-height: 1.5em;

// TYPOGRAPHY
$font-size-xx-large: 24px;
$font-size-x-large: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-x-small: 10px;
$font-weight-semi-bold: 500;

$body-text: Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-size-base: $font-size-medium;
$body-font-color: $black;

// ICONS
$md-icon-size-normal: 18px;
$md-icon-size-tiny: 14px;
$md-icon-size-big: 24px;

// ANIMATION
$basic-speed: 150ms;

// LAYOUT
$basic-padding: 8px;
$toolbar-height: 60px;
$toolbar-background: $white;
$toolbar-color: $black;
$navigation-item-height: 48px;
$navigation-width: 200px;
$navigation-width-collased: 70px;

//Dot Secondary Toolbar
$dot-secondary-toolbar-height: 52px;
$dot-secondary-toolbar-main-height: 70px;

// GRIDS
$gutter-width: $basic-padding * 4;
$gutter-border: $gutter-width / 2;

$screen-sm: 40em; // 640px
$screen-md: 40.063em; // 641px;
$screen-lg: 64.063em; // 1025px
$screen-xl: 90.063em; // 1441px;

// Breakpoints min
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

// Breakpoints max
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// .container size
$container-md: (680px + $gutter-width);
$container-lg: (975px + $gutter-width);
$container-xl: (1381px + $gutter-width);

// MATERIAL DESIGN
$md-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$md-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$md-shadow-3: 0 10px 24px 0 rgba(0, 0, 0, 0.2);
$md-shadow-4: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$md-shadow-5: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

// FORMS
$label-color: rgba($gray-dark, 0.6);
$label-font-size: $font-size-small;
$form-field-spacing: $basic-padding * 2;

// CONTENT TYPES
$content-type-field-height: 74px;
