:root {
    --color-background: #3A3847;
    --color-main: #C336E5;
    --color-main_mod: #D369EC;
    --color-main_rgb: 195, 54, 229;
    --color-sec: #54428E;
    --color-sec_rgb: 84, 66, 142;
}

// COLORS
$black: #0A0725;
$gray-dark: #5b5b5b;
$gray-darker: #444444;
$gray: #8a8a8a;
$gray-light: #c5c5c5;
$gray-lighter: #ecedee;
$gray-lightest: #fafafa;
$green-ligth: #e7e7e7;
$gray-lightest-x: #f2f2f2;
$green: #4a9d51;
$orange: #f3762a;
$white: #fff;
$error: #d0021b;
$red: #cb3927;

$brand-primary: var(--color-main);
$brand-primary_mod: var(--color-main_mod);
$brand-primary_rgb: var(--color-main_rgb);
$brand-secondary: var(--color-sec);
$brand-secondary_rgb: var(--color-sec_rgb);
$brand-background: var(--color-background);

// Basic stuffs
$border-radius: 2px;
$icon-size: 16px;
$basic-padding: 8px;
$field-height: 36px;
$field-tiny-height: 28px;
$field-disabled-opacity: 0.7;

// TYPOGRAPHY
$font-size-xx-large: 24px;
$font-size-x-large: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;

$body-text: Roboto, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$body-font-size-base: $font-size-medium;
$body-font-color: $black;

// ANIMATION
$basic-speed: 100ms;

// LAYOUT
$basic-padding: 8px;
$toolbar-height: 60px;
$toolbar-background: $white;
$toolbar-color: $black;

// GRIDS
$gutter-width: $basic-padding * 4;
$gutter-border: $gutter-width / 2;

$screen-sm: 40em; // 640px
$screen-md: 40.063em; // 641px;
$screen-lg: 64.063em; // 1025px
$screen-xl: 90.063em; // 1441px;

// Breakpoints min
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

// Breakpoints max
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// .container size
$container-md: (680px + $gutter-width);
$container-lg: (975px + $gutter-width);
$container-xl: (1381px + $gutter-width);

// MATERIAL DESIGN SHADOWS
$md-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$md-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$md-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$md-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$md-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// FORMS
$label-color: rgba($gray-dark, 0.6);
$label-font-size: $font-size-small;
