@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: $navigation-item-height;
    width: 100%;

    &:hover {
        background-color: $bg-hover;
    }

    &.highlight {
        background-color: $bg-highlight;
    }

    p-avatar {
        margin: 0 spacing.$spacing-3;
    }

    .dot-persona-selector-option__label {
        display: -webkit-box;
        display: -moz-box;
        flex: 1;
        max-height: 42px;
        -webkit-line-clamp: 2;
        overflow: hidden;

        &.dot-persona-selector-option__personalized {
            color: fonts.$font-color-base;
        }

        &.dot-persona-selector-option__selected {
            color: colors.$black;
            font-weight: fonts.$font-weight-semi-bold;
        }
    }

    button {
        margin-left: spacing.$spacing-4;
        margin-right: spacing.$spacing-3;
    }
}
