<p-avatar
    *ngIf="persona.personalized"
    [label]="persona.name"
    [image]="persona.photo"
    pBadge
    shape="circle"
></p-avatar>
<p-avatar
    *ngIf="!persona.personalized"
    [label]="persona.name"
    [image]="persona.photo"
    shape="circle"
></p-avatar>

<!-- Inline CSS code added to allow ellipsis on 2nd line, if this is moved to the SCCS file the pre-compiler cries -->
<span
    class="dot-persona-selector-option__label"
    [ngClass]="{
        'dot-persona-selector-option__personalized': persona.personalized,
        'dot-persona-selector-option__selected': selected
    }"
    style="-webkit-box-orient: vertical; -moz-box-orient: vertical"
    >{{ persona.name }}
</span>

<button
    class="p-button-secondary p-button-sm"
    *ngIf="canDespersonalize && persona.personalized"
    (click)="deletePersonalized($event)"
    icon="pi pi-times"
    iconPos="right"
    label="{{ 'modes.persona.personalized' | dm }}"
    pButton
></button>
