@if (persona.personalized) {
    <p-avatar [text]="persona.name" [image]="persona.photo" pBadge dotAvatar />
}
@if (!persona.personalized) {
    <p-avatar [text]="persona.name" [image]="persona.photo" dotAvatar />
}

<!-- Inline CSS code added to allow ellipsis on 2nd line, if this is moved to the SCCS file the pre-compiler cries -->
<span
    [ngClass]="{
        'dot-persona-selector-option__personalized': persona.personalized,
        'dot-persona-selector-option__selected': selected
    }"
    class="dot-persona-selector-option__label"
    style="-webkit-box-orient: vertical; -moz-box-orient: vertical">
    {{ persona.name }}
</span>

@if (canDespersonalize && persona.personalized) {
    <button
        (click)="deletePersonalized($event)"
        class="p-button-outlined p-button-sm"
        icon="pi pi-times"
        iconPos="right"
        label="{{ 'modes.persona.personalized' | dm }}"
        pButton></button>
}
