@import 'variables';

:host {
    background-color: $gray-darker;
    height: 35px;
    padding: 0 0 0 $basic-padding * 2;
    display: flex;
    align-items: center;

    ::ng-deep {
        .ui-dropdown,
        .ui-dropdown-ui-state-focus {
            box-shadow: none;
        }

        p-dropdown {
            margin-right: $basic-padding;
        }
    }
}
