@use "variables" as *;
@import "mixins";

:host {
    display: block;
    width: 100%;

    ::ng-deep {
        dot-container-selector {
            height: auto;
            margin-left: $spacing-3;
            margin-right: $spacing-3;

            dot-searchable-dropdown button {
                margin: $spacing-1 0;
            }

            dot-searchable-dropdown button,
            dot-searchable-dropdown button:hover {
                box-shadow: none;
            }

            .container-selector__list {
                height: 140px;
                margin-top: $spacing-1;
            }
        }
    }
}

$box-header-height: 52px;
$box-height: 206px;

.box {
    background: linear-gradient(
        to bottom,
        $color-palette-gray-200 0,
        $color-palette-gray-200 $box-header-height,
        $white $box-header-height,
        $white 100%
    );
    border-radius: $border-radius-xs;
    border: 1px solid $color-palette-gray-300;
    display: flex;
    height: $box-height;
    justify-content: space-between;
}

.box__actions {
    align-items: center;
    display: flex;
    height: $box-header-height;
    position: absolute;
    right: $spacing-1;
}

.box__add-row-class-button {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    height: $box-height;
    padding: 0;
    position: absolute;
    right: -$spacing-8;
    width: $spacing-8;
    z-index: 1;

    &::ng-deep .dot-icon-button {
        background-color: $color-palette-gray-200;

        &:hover {
            background-color: $color-palette-primary-op-20;
            color: $color-palette-primary;
        }
    }
}
