<div [config]="gridConfig" (onDragStop)="updateModel()" (onResizeStop)="updateModel()" ngGrid>
    <div
        class="box__add-row-class-button"
        *ngFor="let rowClass of rowClass; let i = index"
        [ngStyle]="{ 'top.px': i ? (206 + 8) * i : 0 }"
    >
        <dot-icon-button-tooltip
            [tooltipText]="'editpage.layout.css.class.add.to.row' | dm"
            (click)="addRowClass(i)"
            tooltipPosition="left"
            icon="more_horiz"
        >
        </dot-icon-button-tooltip>
    </div>

    <div
        class="box"
        *ngFor="let gridBox of grid.boxes; let i = index"
        [(ngGridItem)]="gridBox.config"
    >
        <dot-container-selector-layout
            [data]="gridBox.containers"
            [multiple]="true"
            (switch)="propagateGridLayoutChange()"
            (remove)="onRemoveContainer(i)"
        >
        </dot-container-selector-layout>
        <div class="box__actions">
            <dot-icon-button-tooltip
                class="box__add-box-class-button"
                [tooltipText]="'editpage.layout.css.class.add.to.box' | dm"
                (click)="addColumnClass(i)"
                icon="more_horiz"
            ></dot-icon-button-tooltip>
            <dot-icon-button-tooltip
                [tooltipText]="'editpage.action.delete' | dm"
                (click)="onRemoveContainer(i)"
                icon="close"
            ></dot-icon-button-tooltip>
        </div>
    </div>
</div>

<dot-dialog
    #dialog
    [(visible)]="addClassDialogShow"
    [actions]="addClassDialogActions"
    [header]="addClassDialogHeader"
    [width]="400"
    (hide)="onAddClassDialogHide()"
>
    <form class="p-fluid" *ngIf="addClassDialogShow" [formGroup]="form" novalidate>
        <div class="field">
            <label dotFieldRequired for="classToAdd">{{
                'editpage.layout.css.class.names' | dm
            }}</label>
            <input
                class="box__add-class-text"
                id="classToAdd"
                dotAutofocus
                formControlName="classToAdd"
                pInputText
                type="text"
            />
        </div>
    </form>
</dot-dialog>
