<div class="dot-apps-configuration-list__results">
    <dot-apps-configuration-item
        *ngFor="let site of siteConfigurations; let i = index"
        (edit)="edit.emit($event)"
        (export)="export.emit($event)"
        (delete)="delete.emit($event)"
        [ngClass]="{
            'dot-apps-configuration-item__not-configured': !site.configured
        }"
        [site]="site"></dot-apps-configuration-item>
</div>

<button
    *ngIf="!hideLoadDataButton"
    (click)="loadNext()"
    [label]="'apps.configurations.show.more' | dm"
    class="dot-apps-configuration-list__show-more p-button-outlined"
    pButton></button>
