<dot-dialog
    [actions]="dialogActions"
    (hide)="close()"
    [header]="'contenttypes.content.add_to_bundle' | dm"
    [(visible)]="dialogShow">

    <form [formGroup]="form" (ngSubmit)="submitBundle($event)" (keyup.enter)="submitBundle($event)" novalidate #formEl="ngForm">
        <div class="form__group">
            <p-dropdown #addBundleDropdown appendTo="body" [options]="bundle$ | async" editable="true" [autoWidth]="false" formControlName="addBundle" [placeholder]="placeholder" optionLabel="name" ></p-dropdown>
            <dot-field-validation-message message="{{ 'contenttypes.content.add_to_bundle.errormsg' | dm }}" [field]="form.get('addBundle')"></dot-field-validation-message>
        </div>
    </form>
</dot-dialog>
