<p-dialog
    modal="modal"
    width="500"
    [dismissableMask]="true"
    [visible]="true"
    [responsive]="true"
    [resizable]="false"
    [draggable]="false"
    (onHide)="close($event)"> 

    <p-header>
        {{ dotMessageService.get('contenttypes.content.add_to_bundle') }}
    </p-header>

    <form [formGroup]="form" (ngSubmit)="submitBundle($event)" novalidate #formEl="ngForm">
        <div class="form__group">
            <p-dropdown [options]="bundle$ | async" editable="true" [autoWidth]="false" formControlName="addBundle" [placeholder]="placeholder" optionLabel="name"></p-dropdown>
            <dot-field-validation-message message="{{ dotMessageService.get('contenttypes.content.add_to_bundle.errormsg') }}" [field]="form.get('addBundle')"></dot-field-validation-message>
        </div>
    </form>

    <p-footer>
        <button pButton type="button" (click)="close($event)" label="{{ dotMessageService.get('contenttypes.content.add_to_bundle.form.cancel') }}" class="add-to-bundle__form-cancel"></button>
        <button pButton type="submit" (click)="submitForm()" label="{{ dotMessageService.get('contenttypes.content.add_to_bundle.form.add') }}" [disabled]="!form.valid"></button>
    </p-footer>
</p-dialog>