<dot-dialog
    (hide)="close()"
    (keydown.escape)="close()"
    [visible]="!!data"
    [bindEvents]="false"
    [actions]="dialogActions"
    [header]="data?.title"
    #dialog>
    <div *ngIf="data?.steps?.length" class="dot-wizard__view">
        <div
            (keydown.tab)="handleTab($event)"
            (keydown.enter)="handleEnter($event)"
            [ngStyle]="{ transform: transform }"
            class="dot-wizard__container">
            <div *ngFor="let step of data.steps" class="dot-wizard__step">
                <ng-template dotContainerReference></ng-template>
            </div>
        </div>
    </div>
</dot-dialog>
