@let data = $data();

<p-dialog
    #dialog
    (visibleChange)="close()"
    [visible]="!!data"
    [header]="data?.title"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="false"
    [modal]="true"
    [baseZIndex]="100"
    appendTo="body"
    data-testId="dot-wizard">
    @if (data?.steps?.length) {
        <div class="dot-wizard__view">
            <div
                [ngStyle]="{ transform: transform }"
                class="dot-wizard__container"
                (keydown.tab)="handleTab($event)">
                @for (step of data.steps; track $index) {
                    <div
                        class="dot-wizard__step"
                        [class.dot-wizard__step--visible]="$stepsVisible()">
                        <ng-template dotContainerReference />
                    </div>
                }
            </div>

            @if ($dialogActions() && $stepsVisible()) {
                <footer class="dot-wizard__footer mt-5">
                    @if ($dialogActions().cancel) {
                        <button
                            (click)="$dialogActions().cancel?.action()"
                            [disabled]="$dialogActions().cancel?.disabled"
                            [label]="$dialogActions().cancel?.label"
                            class="dialog__button-cancel p-button-outlined"
                            data-testId="dialog-close-button"
                            pButton></button>
                    }
                    @if ($dialogActions().accept) {
                        <button
                            (click)="$dialogActions().accept?.action()"
                            [disabled]="$dialogActions().accept?.disabled"
                            [label]="$dialogActions().accept?.label"
                            [loading]="isSaving"
                            class="dialog__button-accept"
                            data-testId="dialog-accept-button"
                            pButton></button>
                    }
                </footer>
            }
        </div>
    }
</p-dialog>
