@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: block;
}

.dot-wizard__step {
    width: $form-width;
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
    transition: all $basic-speed ease-in-out;

    &--visible {
        opacity: 1;
        visibility: visible;
    }
}

.dot-wizard__view {
    width: $form-width;
}

.dot-wizard__container {
    display: flex;
}

.dot-wizard__footer {
    display: flex;
    justify-content: flex-end;
    gap: spacing.$spacing-1;
}
