.form__validation-input-container {
    display: flex;

    .p-inputtext {
        max-width: 70%;
        margin-right: 5%;
    }

    p-dropdown {
        .p-dropdown {
            width: auto;
        }
    }
}
