<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
    <display-name>dotCMS</display-name>
	
	<servlet>
		<description>custom DWR controller servlet</description>
		<servlet-name>custom_dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>classes</param-name>
			<param-value>
				org.mainco.subco.organization.service.StateServiceImpl
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>compressor</param-name>
			<param-value>none</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>custom_dwr-invoker</servlet-name>
		<url-pattern>/app/custom_dwr/*</url-pattern>
	</servlet-mapping>

</web-app>
