@use "variables" as *;
@import "mixins";

.workflow__archive-label {
    color: $gray;
    text-decoration: line-through;
}

.workflow__archive-message {
    color: $gray;
    font-size: $font-size-small;
    margin-left: $spacing-1;
}
