// Define colors ONLY

$primary-50: #FAFAFA;
$primary-100: #F5F5F5;
$primary-200: #EEEEEE;
$primary-400: #BDBDBD;
$primary-500: #9E9E9E;
$primary-900: #212121;

.buttonRow-left a:hover{background:#e5f4fa;}
.workflowActionLink:hover{background:#e5f4fa;}
.account-flyout a:hover{background:#e5f4fa;}
tr.alternate_2:hover, tr.alternate_1:hover, .divalt_1:hover, .divalt_1:hover div{background:#e5f4fa !important;}
.listingTable tr.selected {background-color: #e5f4fa;}
.actionTable tr.active {background-color: #e5f4fa;}