$background-primary: #f2f2f2;
$background-secondary: #dff1f9;
$background-secondary-alternate: #d4efd5;
$background-tertiary: #fd7b1d;
$foreground-tertiary: #ffffff;
$foreground-disabled: #a4a4a4;
$foreground-active: #848484;


$text-emphasis: #fc7e1c;
$warn: #c85a6a;
$primary-one: #209021;


input.ng-valid.required, input.ng-valid[required], .ui.input input.ng-valid[required], .required.ui.dropdown.ng-valid {
  border-left: 5px solid $primary-one;
}
.ng-invalid, .ui.input input.ng-invalid {
  border-left: 5px solid $warn
}

.cw-rule-engine {
  > .cw-header {
    padding: 1em 2em 2em 2em;
    .cw-button-add {
      background-color: $background-tertiary;
      color: $foreground-tertiary;
    }
  }
}

.cw-hidden {
  display: none !important;
}

.cw-button-link.ui.basic.black.button {
    box-shadow: none !important;
}

.cw-button-link.ui.basic.black.button {
  &:focus, &:hover, &:active {
    box-shadow: none !important;
    background-color: inherit;
  }
}

.cw-filter-links {
    font-size: .8em;
    color: $foreground-disabled;
}

.cw-filter-link{
    &.active{
        &:hover{
        	color: $foreground-active;
        }
        font-weight: bold;
        color: $foreground-active;
    }
    &:hover{
        color: $foreground-disabled;
    }
    color: $foreground-disabled;
}


.cw-rule {
  margin: 0 2em 2em 2em;
  border: 1px solid $background-primary;
  border-radius: .5em;

  .cw-header-actions {
    margin-right: .5em;
  }

  .cw-input,
  &.cw-last {
    margin-right: 1em;
  }

  .cw-rule-name-input {
    margin-right: 1em;
  }

  > .cw-header {
    background-color: $background-primary;
    padding: .35em 0;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }

  .cw-rule-caret {
    min-width: 1.25em;
    max-width: 1.25em;
    margin-left: .5em;
  }

  .cw-fire-on-label {
    font-weight: bold;
    margin-right: .5em;
    min-width: 4em;
    max-width: 4em;
  }

  .cw-fire-on-dropdown {
    min-width: 12em;
    max-width: 12em;
  }

  .cw-btn-group {
    .ui.basic {
      background-color: white;
    }
  }

  .cw-accordion-body {
    margin: 1em;
  }

  .cw-action-separator {
    background-color: $background-secondary-alternate;
  }

  .cw-add-action-button {
    width: 2em;
    height: 2em;
  }

  .cw-comparator-selector {
    min-width: 10em;
    max-width: 10em;
  }

  .cw-condition-component-body {
    margin-left: 1em;
  }

  cw-toggle-input.cw-input {
    margin-top: .75em;
  }

  .cw-condition-row, .cw-action-row {
    margin-bottom: .5em;
  }

  .cw-action-row {
    // This is the width + margin of the condition toggle button
    padding-left: 6em;
  }

}

.cw-condition-group-separator, .cw-action-separator {
  padding: .5em 1em;
  background-color: $background-secondary;
  border-radius: .5em;
  width:100%;
}

.cw-action-group {
  margin-top: 1em;
}

.cw-rule-group {

  .cw-header-text {
    width: 200em;
    margin-left: 2em;
  }

  .cw-group-operator {
    color: $text-emphasis;
    background-color: $background-primary;
    opacity: 50;
    height: 1.25em;
    width: 4em;
    vertical-align: middle;
    div {
      margin-top: -.5em;
    }
    &.ui.button:hover {
      background-color: $background-primary !important;
    }

  }
}

.cw-last {
  margin-right:0;
}

.ui.basic.button.cw-button-toggle-operator {
  width: 100%;
  margin: 0;
}

.cw-rule-actions, .cw-conditions {
  padding: .5em 2em 0 2em;

  .cw-entry {
    > div.buttons {
      width: 100%;
    }
  }
  .cw-btn-group {
    .ui.basic.buttons {
      border: none;
    }

  }

  .cw-add-btn {
    min-width: 39px;
    height: 36px;
  }

  .cw-delete-btn {
    margin-right: .5em;
  }

  .trash {
    color: $warn;
  }
}

.cw-button-add-item i {
  color: $primary-one;
}

.cw-spacer.cw-condition-operator {
  width: 4em
}

.cw-spacer.cw-add-condition {
  width: 2.25em;
}

.basic button.ui.cw-button-add-item:hover {
  font-weight: bolder;
}

.cw-condition-toggle {
  min-width: 5em;
  margin-right: 1em;
}

.cw-condition-buttons {
  width: 3em;
  max-width: 3em;
}

.cw-name-field {
  margin: .5em 2em .5em 2em;
}

.cw-spacer {
  &.cw-4em {
    width: 4em;
  }

  &.cw-3em {
    width: 3em;
  }
  &.cw-2em {
    width: 2em;
  }

}
