<p-card (click)="goTo.emit(true)" data-testid="pageCard">
    <ng-template pTemplate="header">
        <div
            class="dot-pages-favorite-card-content__image"
            *ngIf="imageUri"
            [ngStyle]="{ 'background-image': 'url(' + imageUri + ')' }"
            data-testId="favoriteCardImageContainer"
        >
            <img [alt]="title" [src]="imageUri" />
        </div>
        <dot-pages-favorite-page-empty-skeleton *ngIf="!imageUri" />
    </ng-template>

    <dot-icon-button
        [icon]="ownerPage ? 'grade' : 'star_outline'"
        [ngClass]="{
            'dot-favorite-page-highlight': ownerPage
        }"
        [pTooltip]="'favoritePage.listing.star.icon.tooltip' | dm"
        (click)="$event.stopPropagation(); edit.emit(true)"
        size="18"
        data-testId="favoriteCardIconButton"
        tooltipPosition="bottom"
    ></dot-icon-button>

    <div class="dot-pages-favorite-card-content__container">
        <div class="dot-pages-favorite-card-content__title">{{ title }}</div>
        <div
            class="dot-pages-favorite-card-content__subtitle"
            [pTooltip]="url"
            [innerHTML]="url"
            tooltipPosition="bottom"
        ></div>
    </div>

    <dot-icon-button
        id="{{ actionButtonId }}"
        (click)="showActionMenu.emit($event)"
        icon="more_vert"
        size="32"
    ></dot-icon-button>
</p-card>
