<p-card (click)="goTo.emit(true)" data-testid="pageCard">
    <ng-template pTemplate="header">
        @if (!imageUri) {
            <dot-pages-favorite-page-empty-skeleton />
        } @else {
            <div
                [ngStyle]="{ 'background-image': 'url(' + imageUri + ')' }"
                class="dot-pages-favorite-card-content__image"
                data-testId="favoriteCardImageContainer">
                <img [alt]="title" [src]="imageUri" />
            </div>
        }
    </ng-template>

    <div class="dot-pages-favorite-card-content__container">
        <div class="dot-pages-favorite-card-content__title">{{ title }}</div>
        <div
            [pTooltip]="url"
            [innerHTML]="url"
            class="dot-pages-favorite-card-content__subtitle"
            tooltipPosition="bottom"></div>
    </div>
    <p-button (click)="showActionMenu.emit($event)"
        id="{{ actionButtonId }}"
        icon="pi pi-ellipsis-v"
        styleClass="p-button-rounded p-button-text p-button-sm" />
</p-card>
