@use "variables" as *;

$iframe-width: 1440px;
$iframe-height: 900px;
$container-width: 248px;
$container-height: 186.62px;
$sx: $container-width / $iframe-width;
$sy: $container-height / $iframe-height;

iframe {
    border: none;
    width: $iframe-width;
    height: $iframe-height;
    transform: scale($sx, $sy);
    transform-origin: left top;
    position: absolute;
}

:host {
    &:hover {
        box-shadow: $shadow-m;
        transition: box-shadow 0.35s ease-in-out;
    }

    ::ng-deep {
        .p-card .p-card-header {
            padding: 0;
            position: relative;
            display: inline-block;
            overflow: hidden;
            height: $container-height;
            width: $container-width;

            // This prevents the iframe from being clickable and hoverable
            &::after {
                content: "";
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
        }

        .p-card-content {
            display: flex;
        }

        .dot-pages-favorite-card-content__image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-bottom: 75.25%;
            display: block;

            img {
                height: 0;
                position: absolute;
                width: 0;
            }
        }

        .dot-pages-favorite-card-content__container {
            margin: 0 $spacing-1;
            min-width: 0;
        }

        .dot-pages-favorite-card-content__title {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .dot-pages-favorite-card-content__subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .p-card .p-card-body {
            box-shadow: 0px -15px 20px -20px $color-palette-black-op-30;
            padding: $spacing-3 $spacing-1 $spacing-3 $spacing-3;
        }
    }
}
