<p-overlayPanel #op>
    <div [formGroup]="group">
        <dot-layout-properties-item [label]="messageService.get('editpage.layout.properties.header')" 
                                    class="property-item__header"
                                    formControlName="header">
        </dot-layout-properties-item>
        
        <dot-layout-properties-item [label]="messageService.get('editpage.layout.properties.footer')" 
                                    class="property-item__footer"
                                    formControlName="footer">
        </dot-layout-properties-item>
        <div [formGroup]="group.get('sidebar')">
            <dot-layout-property-sidebar formControlName="location"></dot-layout-property-sidebar>
        </div>
    </div>
</p-overlayPanel>

<button pButton type="button" icon="fa-th-large" (click)="op.toggle($event)"></button>