@if (pushActions && !eventData.customCode) {
    <form
        (ngSubmit)="emitValues()"
        (keyup.enter)="emitValues()"
        [formGroup]="form"
        class="form"
        #formEl="ngForm"
        novalidate>
        <div class="field">
            <label dotFieldRequired for="pushActionSelected">
                {{ 'contenttypes.content.push_publish.I_want_To' | dm }}:
            </label>
            <p-selectButton
                [options]="pushActions"
                id="pushActionSelected"
                formControlName="pushActionSelected" />
        </div>
        <div class="field">
            <label for="filterKey">{{ 'contenttypes.content.push_publish.filters' | dm }}:</label>
            <p-select
                [autofocus]="true"
                [options]="filterOptions"
                id="filterKey"
                pAutoFocus
                formControlName="filterKey"
                appendTo="body"></p-select>
        </div>
        <div class="flex flex-col gap-1">
            <div class="flex gap-2">
                <div class="field flex-1">
                    <label dotFieldRequired for="publishDate">
                        {{ 'contenttypes.content.push_publish.publish_date' | dm }}:
                    </label>
                    <p-datePicker
                        [minDate]="dateFieldMinDate"
                        inputStyleClass="w-full"
                        id="publishDate"
                        appendTo="body"
                        data-testid="publishDateInputCalendar"
                        formControlName="publishDate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd hh:mm"
                        showTime="true"></p-datePicker>
                    <dot-field-validation-message
                        [field]="form.get('publishDate')"
                        message="{{
                            'contenttypes.content.push_publish.publish_date_errormsg' | dm
                        }}"></dot-field-validation-message>
                </div>
                <div class="field flex-1">
                    <label dotFieldRequired for="expireDate">
                        {{ 'contenttypes.content.push_publish.expire_date' | dm }}:
                    </label>
                    <p-datePicker
                        [minDate]="dateFieldMinDate"
                        inputStyleClass="w-full"
                        id="expireDate"
                        appendTo="body"
                        formControlName="expireDate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd hh:mm"
                        showTime="true"></p-datePicker>
                    <dot-field-validation-message
                        [field]="form.get('expireDate')"
                        message="{{
                            'contenttypes.content.push_publish.expire_date_errormsg' | dm
                        }}"></dot-field-validation-message>
                </div>
            </div>
            <p class="text-sm text-gray-500">
                {{ localTimezone }} -
                <a (click)="toggleTimezonePicker($event)" href="#">
                    {{ changeTimezoneActionLabel }}
                </a>
            </p>
        </div>

        <div [hidden]="!showTimezonePicker" class="field" data-testid="timeZoneSelectContainer">
            <label for="timezoneId">{{ 'time-zone' | dm }}:</label>
            <p-select
                (onChange)="updateTimezoneLabel($event.value)"
                [options]="timeZoneOptions"
                [filter]="true"
                id="timezoneId"
                data-testid="timeZoneSelect"
                formControlName="timezoneId"
                filterBy="label"
                appendTo="body"></p-select>
        </div>
        <div class="field">
            <label dotFieldRequired for="environment">
                {{ 'contenttypes.content.push_publish.push_to' | dm }}:
            </label>
            <dot-push-publish-env-selector
                [assetIdentifier]="assetIdentifier"
                id="environment"
                formControlName="environment" />
            <dot-field-validation-message
                [field]="form.get('environment')"
                message="{{ 'contenttypes.content.push_publish.push_to_errormsg' | dm }}" />
        </div>
    </form>
}
<div [ngClass]="{ hidden: !eventData.customCode }" class="custom-code" #customCode></div>
