<form
    class="p-fluid"
    #formEl="ngForm"
    *ngIf="pushActions && !eventData.customCode"
    [formGroup]="form"
    (ngSubmit)="emitValues()"
    (keyup.enter)="emitValues()"
    novalidate
>
    <div class="field">
        <label class="form__label"
            >{{ 'contenttypes.content.push_publish.I_want_To' | dm }}:
        </label>
        <p-selectButton
            class="push-publish-dialog__action-select p-button-tabbed"
            [options]="pushActions"
            formControlName="pushActionSelected"
        >
        </p-selectButton>
    </div>

    <div class="field">
        <label class="form__label">{{ 'contenttypes.content.push_publish.filters' | dm }}: </label>
        <p-dropdown
            [autofocus]="true"
            [options]="filterOptions"
            pAutoFocus
            formControlName="filterKey"
            appendTo="body"
        ></p-dropdown>
    </div>

    <div class="field form-group__two-cols push-publish-dialog__publish-dates-container">
        <div class="field push-publish-dialog__publish-date">
            <label class="form__label"
                >{{ 'contenttypes.content.push_publish.publish_date' | dm }}:
            </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar
                    class="push-publish-dialog__calendar-date"
                    [minDate]="dateFieldMinDate"
                    appendTo="body"
                    data-testid="publishDateInputCalendar"
                    formControlName="publishDate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    placeholder="yyyy-mm-dd hh:mm"
                    showTime="true"
                ></p-calendar>
            </div>
            <dot-field-validation-message
                [field]="form.get('publishDate')"
                message="{{ 'contenttypes.content.push_publish.publish_date_errormsg' | dm }}"
            ></dot-field-validation-message>
        </div>
        <div class="field push-publish-dialog__expire-date">
            <label class="form__label"
                >{{ 'contenttypes.content.push_publish.expire_date' | dm }}:
            </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar
                    class="push-publish-dialog__calendar-date"
                    [minDate]="dateFieldMinDate"
                    appendTo="body"
                    formControlName="expireDate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    placeholder="yyyy-mm-dd hh:mm"
                    showTime="true"
                ></p-calendar>
            </div>
            <dot-field-validation-message
                [field]="form.get('expireDate')"
                message="{{ 'contenttypes.content.push_publish.expire_date_errormsg' | dm }}"
            ></dot-field-validation-message>
        </div>
    </div>
    <div class="field push-publish-dialog__timezone-label">
        <span>{{ localTimezone }}</span> -
        <a (click)="toggleTimezonePicker($event)" href="#"> {{ changeTimezoneActionLabel }}</a>
    </div>
    <div class="field" [hidden]="!showTimezonePicker" data-testid="timeZoneSelectContainer">
        <label class="form__label">{{ 'time-zone' | dm }}: </label>
        <p-dropdown
            [options]="timeZoneOptions"
            [filter]="true"
            (onChange)="updateTimezoneLabel($event.value)"
            data-testid="timeZoneSelect"
            formControlName="timezoneId"
            filterBy="label"
            appendTo="body"
        ></p-dropdown>
    </div>
    <div class="field">
        <label class="form__label">{{ 'contenttypes.content.push_publish.push_to' | dm }}: </label>
        <dot-push-publish-env-selector
            [assetIdentifier]="assetIdentifier"
            formControlName="environment"
        ></dot-push-publish-env-selector>
        <dot-field-validation-message
            [field]="form.get('environment')"
            message="{{ 'contenttypes.content.push_publish.push_to_errormsg' | dm }}"
        ></dot-field-validation-message>
    </div>
</form>
<div class="custom-code" #customCode [ngClass]="{ hidden: !eventData.customCode }"></div>
