@use "variables" as *;

form,
.custom-code {
    width: $form-width;
}

.custom-code {
    margin-bottom: $spacing-9;

    &.hidden {
        display: none;
    }
}

.p-inputtext {
    width: 100%;
}

.push-publish-dialog__error-message {
    color: $error;
}

.push-publish-dialog__action-select {
    display: block;
    border-bottom: solid 1px $color-palette-gray-500;
}

.push-publish-dialog__publish-dates-container {
    margin-bottom: 0;

    .push-publish-dialog__publish-date,
    .push-publish-dialog__expire-date {
        margin-bottom: 0.5rem;
    }
}

.push-publish-dialog__timezone-label {
    font-size: $font-size-sm;
}
