@if (pushActions && !eventData.customCode) {
    <form
        (ngSubmit)="emitValues()"
        (keyup.enter)="emitValues()"
        [formGroup]="form"
        class="p-fluid"
        #formEl="ngForm"
        novalidate>
        <div class="field">
            <label dotFieldRequired for="pushActionSelected">
                {{ 'contenttypes.content.push_publish.I_want_To' | dm }}:
            </label>
            <p-selectButton [options]="pushActions"
                class="push-publish-dialog__action-select p-button-tabbed"
                id="pushActionSelected"
                formControlName="pushActionSelected" />
        </div>
        <div class="field">
            <label for="filterKey">{{ 'contenttypes.content.push_publish.filters' | dm }}:</label>
            <p-dropdown [autofocus]="true"
                [options]="filterOptions"
                id="filterKey"
                pAutoFocus
                formControlName="filterKey"
                appendTo="body" />
        </div>
        <div class="field form-group__two-cols push-publish-dialog__publish-dates-container">
            <div class="field push-publish-dialog__publish-date">
                <label dotFieldRequired for="publishDate">
                    {{ 'contenttypes.content.push_publish.publish_date' | dm }}:
                </label>
                <div class="push-publish-dialog__calendar">
                    <p-calendar [minDate]="dateFieldMinDate"
                        class="push-publish-dialog__calendar-date"
                        id="publishDate"
                        appendTo="body"
                        data-testid="publishDateInputCalendar"
                        formControlName="publishDate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd hh:mm"
                        showTime="true" />
                </div>
                <dot-field-validation-message [field]="form.get('publishDate')"
                    message="{{
                        'contenttypes.content.push_publish.publish_date_errormsg' | dm
                    }}" />
            </div>
            <div class="field push-publish-dialog__expire-date">
                <label dotFieldRequired for="expireDate">
                    {{ 'contenttypes.content.push_publish.expire_date' | dm }}:
                </label>
                <div class="push-publish-dialog__calendar">
                    <p-calendar [minDate]="dateFieldMinDate"
                        class="push-publish-dialog__calendar-date"
                        id="expireDate"
                        appendTo="body"
                        formControlName="expireDate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yyyy-mm-dd hh:mm"
                        showTime="true" />
                </div>
                <dot-field-validation-message [field]="form.get('expireDate')"
                    message="{{
                        'contenttypes.content.push_publish.expire_date_errormsg' | dm
                    }}" />
            </div>
        </div>
        <div class="field push-publish-dialog__timezone-label">
            <span>{{ localTimezone }}</span>
            -
            <a (click)="toggleTimezonePicker($event)" href="#">{{ changeTimezoneActionLabel }}</a>
        </div>
        <div [hidden]="!showTimezonePicker" class="field" data-testid="timeZoneSelectContainer">
            <label for="timezoneId">{{ 'time-zone' | dm }}:</label>
            <p-dropdown (onChange)="updateTimezoneLabel($event.value)"
                [options]="timeZoneOptions"
                [filter]="true"
                id="timezoneId"
                data-testid="timeZoneSelect"
                formControlName="timezoneId"
                filterBy="label"
                appendTo="body" />
        </div>
        <div class="field">
            <label dotFieldRequired for="environment">
                {{ 'contenttypes.content.push_publish.push_to' | dm }}:
            </label>
            <dot-push-publish-env-selector [assetIdentifier]="assetIdentifier"
                id="environment"
                formControlName="environment" />
            <dot-field-validation-message [field]="form.get('environment')"
                message="{{
                    'contenttypes.content.push_publish.push_to_errormsg' | dm
                }}" />
        </div>
    </form>
}
<div [ngClass]="{ hidden: !eventData.customCode }" class="custom-code" #customCode></div>
