@import "mixins";
@import "variables";

dot-toolbar-add-contentlet-body {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: $basic-padding * 2 0 $basic-padding * 2;
}

.toolbar-add-contentlet-body {
    display: flex;
}

.toolbar-add-contentlet-body__title {
    font-weight: normal;
    margin: 0 0 $basic-padding;
}

.toolbar-add-contentlet-body__list {
    @include naked-list;
}

.toolbar-add-contentlet-body__list--split {
    display: flex;
    flex-wrap: wrap;

    .toolbar-add-contentlet-body__list-item {
        width: 50%;
    }
}

.toolbar-add-contentlet-body__list-item {
    margin: $basic-padding / 2 0;

    a {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.toolbar-add-contentlet-body__more-panel {
    background: $gray-lightest;
    margin-top: $basic-padding * 2;
    padding: $basic-padding;
    text-align: center;
    text-decoration: none;
    margin-bottom: -$basic-padding * 2;
}

.toolbar-add-contentlet-body__section {
    padding: 0 $basic-padding * 2;
    white-space: nowrap;
    flex: 1;
}