<dot-dropdown-component
    icon="fa-plus"
    alignRight="true"
    inverse="true"
    [disabled]="!types"
    (open)="iframeOverlayService.show()"
    (close)="iframeOverlayService.hide()">
    <div class="toolbar-add-contentlet__head">
        <span class="toolbar-add-contentlet__head-button" *ngFor="let structureTypeView of types">
            <button pButton iconButton (click)="select(structureTypeView)" [icon]="typesIcons[structureTypeView.label]" [class.toolbar-add-contentlet__head-selected]="selectedName === structureTypeView.name"></button>
            <label>{{structureTypeView.label}}</label>
        </span>
    </div>

    <toolbar-add-contentlet-body
            [structureTypeViews]="structureTypeViewSelected"
            [showMore]="showMore"
            (select)="close()"
            (more)="nextRecent()">
    </toolbar-add-contentlet-body>
</dot-dropdown-component>
