<div class="toolbar-add-contentlet-body">
    <div class="toolbar-add-contentlet-body__section" *ngFor="let structureTypeView of structureTypeViews">
        <h4 class="toolbar-add-contentlet-body__title">{{structureTypeView && structureTypeView.label}}</h4>

        <ul class="toolbar-add-contentlet-body__list" *ngIf="structureTypeView.types">
            <li class="toolbar-add-contentlet-body__list-item" *ngFor="let type of structureTypeView.types">
                <a (click)="goToAddContent(type)">{{type.name}}</a>
            </li>
        </ul>
    </div>
</div>
<a href="" *ngIf="showMore" class="toolbar-add-contentlet-body__more-panel" (click)="clickMore($event)" messagekey>more</a>