<div class="dot-mask" *ngIf="show" (click)="onToggle()"></div>
<button
    class="p-button-rounded p-button-text"
    *ngIf="icon"
    [disabled]="disabled"
    [icon]="icon"
    (click)="onToggle()"
    pButton
    data-testid="icon-button"></button>

<button
    *ngIf="title"
    [label]="title"
    [disabled]="disabled"
    (click)="onToggle()"
    pButton
    icon="pi pi-chevron-down"
    iconPos="right"
    data-testid="title-button"></button>

<div class="dropdown-content" *ngIf="show" [@enterAnimation]="show" [ngStyle]="positionStyle">
    <ng-content></ng-content>
</div>
