@use "variables" as *;
@import "mixins";

:host {
    display: block;
    position: relative;

    .dropdown-content {
        box-shadow: $shadow-m;
        border-radius: $border-radius-md;
        background-color: $white;
        color: $black;
        overflow: hidden;
        position: absolute;
        top: $spacing-7;
        z-index: 100;
    }
}
