@let show = $show();
@let icon = $icon();
@let title = $title();

@if (show) {
    <div (click)="onToggle()" class="dot-mask"></div>
}
@if (icon) {
    <button
        (click)="onToggle()"
        [disabled]="$disabledIcon()"
        [icon]="icon"
        class="p-button-rounded p-button-text"
        pButton
        data-testid="icon-button"></button>
}

@if (title) {
    <button
        (click)="onToggle()"
        [label]="title"
        [disabled]="$disabled()"
        pButton
        icon="pi pi-chevron-down"
        iconPos="right"
        data-testid="title-button"></button>
}

@if (show) {
    <div [style]="$style()" class="dropdown-content" [@enterAnimation]="show">
        <ng-content />
    </div>
}