@use "variables" as *;

.edit-page-toolbar__cancel {
    margin-right: $spacing-1;
}

.dot-edit__what-changed-button {
    margin-left: $spacing-3;
}

.main-toolbar-right {
    align-items: center;
    display: flex;
}
