@use "variables" as *;

.edit-page-toolbar__cancel {
    margin-right: $spacing-1;
}

.dot-edit__what-changed-button {
    margin-left: $spacing-3;
}

.main-toolbar-right {
    align-items: center;
    display: flex;
}

.dot-edit__experiments-results-button {
    padding: $spacing-1 $spacing-2;
    text-decoration: none;
    display: flex;
    gap: $spacing-1;
    align-items: center;

    span {
        color: $black;
    }
}

::ng-deep {
    .dot-favorite-page-highlight i {
        color: $color-palette-primary;
    }
}
