<div class="dot-apps-configuration-detail__container">
    <div class="dot-apps-configuration-detail__header">
        @if (apps) {
            <dot-apps-configuration-header [app]="apps" />
        }
        <div class="dot-apps-configuration-detail__host-name">
            <span>{{ apps.sites[0].name }}</span>
            <div class="dot-apps-configuration-detail-actions">
                <button
                    (click)="goToApps(apps.key)"
                    [label]="'Cancel' | dm"
                    class="p-button-outlined"
                    pButton
                    data-testid="cancelBtn"
                    type="button"></button>
                <button
                    (click)="onSubmit()"
                    [label]="'Save' | dm"
                    [disabled]="!formValid"
                    pButton
                    data-testid="saveBtn"
                    type="button"></button>
            </div>
        </div>
    </div>
    <div class="dot-apps-configuration-detail__body">
        <div class="dot-apps-configuration-detail__form-content">
            <dot-apps-configuration-detail-form (data)="formData = $event"
                (valid)="formValid = $event"
                [appConfigured]="apps.sites[0].configured"
                [formFields]="formFields" />
            @if (apps.allowExtraParams) {
                <div>
                    <h5>{{ 'apps.custom.properties' | dm }}</h5>
                    <dot-key-value-ng
                        (updatedList)="updateVariables($event)"
                        [autoFocus]="false"
                        [showHiddenField]="true"
                        [variables]="dynamicVariables" />
                </div>
            }
        </div>
    </div>
</div>
