@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

.workflow__archive-label {
    color: colors.$color-palette-gray-700;
    text-decoration: line-through;
}

.workflow__archive-message {
    color: colors.$color-palette-gray-700;
    font-size: fonts.$font-size-sm;
    margin-left: spacing.$spacing-1;
}
