:host {
  display: block;
  margin: 0 3.07692rem;
}

:host article {
  margin-bottom: 1.53846rem;
}

:host .section-buttons article {
  margin-bottom: 3.07692rem;
}

:host .section_desc {
  font-size: 1rem;
}

:host .section-headings .section_desc, :host .section-paragraph .section_desc {
  border-bottom: solid 1px #C5C5C5;
  text-align: right;
}

:host .section-headings h1, :host .section-headings h2, :host .section-headings h3, :host .section-headings h4, :host .section-headings h5, :host .section-headings h6 {
  margin-bottom: 0;
}

:host .section-headings .section_desc {
  margin: 0 0 1.53846rem;
}

:host .section-headings .section_desc:last-child {
  margin-bottom: 0;
}

:host .section__subtitle {
  color: #5B5B5B;
  font-size: 0.92308rem;
  margin: 1.23077rem 0;
  text-transform: uppercase;
}

:host .section__title {
  color: #161616;
}
