
<div class="pl__forms">
    <p-dropdown [options]="dropdownOptions"></p-dropdown>
    <p-dropdown tiny [options]="dropdownOptions"></p-dropdown>
    <p-multiSelect [options]="selectButtonStates" [maxSelectedLabels]="2"></p-multiSelect>
    <p-multiSelect [options]="selectButtonStates" [maxSelectedLabels]="2" [disabled]="true"></p-multiSelect>
    <input type="text" pInputText value="Hello World"/>
    <textarea pInputTextarea>Hello World</textarea>
    <div class="pl__buttons">
        <div class="pl__buttons-row">
            <button pButton label="Value"></button>
            <button pButton label="Disabled" disabled="true"></button>
            <button pButton label="Value" icon="fa-heart"></button>
            <button pButton label="Disabled" disabled="true" icon="fa-heart"></button>
            <button pButton tiny label="Value"></button>
            <button pButton tiny label="Disabled" disabled="true"></button>

            <button pButton link label="Value"></button>
            <button pButton link label="Disabled" disabled="true"></button>
            <button pButton link label="Value" icon="fa-heart"></button>
            <button pButton link label="Disabled" disabled="true" icon="fa-heart"></button>
            <button pButton link tiny label="Value"></button>
            <button pButton link tiny label="Disabled" disabled="true"></button>

            <button pButton secondary label="Value"></button>
            <button pButton secondary label="Disabled" disabled="true"></button>
            <button pButton secondary label="Value" icon="fa-heart"></button>
            <button pButton secondary label="Disabled" disabled="true" icon="fa-heart"></button>
            <button pButton secondary tiny label="Value" icon="fa-heart"></button>
            <button pButton secondary tiny label="Disabled" disabled="true" icon="fa-heart"></button>

            <dot-icon-button icon="notifications"></dot-icon-button>
            <dot-icon-button icon="notifications" disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted"><dot-icon-button icon="notifications" inverted></dot-icon-button></div>

            <dot-icon-button icon="add" tiny></dot-icon-button>
            <dot-icon-button icon="add" tiny disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted"><dot-icon-button icon="add" tiny inverted></dot-icon-button></div>
        </div>
    </div>

    <p-selectButton [(ngModel)]="selectButtonValue" [options]="selectButtonStates"></p-selectButton>
    <p-selectButton secondary  [(ngModel)]="selectButtonValue" [options]="selectButtonStates"></p-selectButton>
    <p-tabView>
        <p-tabPanel header="Value 1">
            Content 1
        </p-tabPanel>
        <p-tabPanel header="Value 2">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Value 3">
            Content 3
        </p-tabPanel>
    </p-tabView>
</div>
