
<div class="pl__forms">
    <p-dropdown [options]="dropdownOptions"></p-dropdown>
    <p-dropdown tiny [options]="dropdownOptions"></p-dropdown>
    <p-multiSelect [options]="selectButtonStates" [maxSelectedLabels]="2"></p-multiSelect>
    <p-multiSelect [options]="selectButtonStates" [maxSelectedLabels]="2" [disabled]="true"></p-multiSelect>
    <input type="text" pInputText value="Hello World"/>
    <textarea pInputTextarea>Hello World</textarea>
    <div class="pl__buttons">
        <div class="pl__buttons-row">
            <button pButton label="Value"></button>
            <button pButton label="Disabled" disabled="true"></button>
            <button pButton label="Value" icon="fa fa-star"></button>
            <button pButton label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton tiny label="Value"></button>
            <button pButton tiny label="Disabled" disabled="true"></button>

            <button pButton link label="Value"></button>
            <button pButton link label="Disabled" disabled="true"></button>
            <button pButton link label="Value" icon="fa fa-star"></button>
            <button pButton link label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton link tiny label="Value"></button>
            <button pButton link tiny label="Disabled" disabled="true"></button>

            <button pButton secondary label="Value"></button>
            <button pButton secondary label="Disabled" disabled="true"></button>
            <button pButton secondary label="Value" icon="fa fa-star"></button>
            <button pButton secondary label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton secondary tiny label="Value" icon="fa fa-star"></button>
            <button pButton secondary tiny label="Disabled" disabled="true" icon="fa fa-star"></button>

            <dot-icon-button icon="notifications"></dot-icon-button>
            <dot-icon-button icon="notifications" disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted"><dot-icon-button icon="notifications" inverted></dot-icon-button></div>

            <dot-icon-button icon="add" tiny></dot-icon-button>
            <dot-icon-button icon="add" tiny disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted"><dot-icon-button icon="add" tiny inverted></dot-icon-button></div>
        </div>
    </div>

    <p-selectButton [(ngModel)]="selectButtonValue" [options]="selectButtonStates"></p-selectButton>
    <p-selectButton secondary  [(ngModel)]="selectButtonValue" [options]="selectButtonStates"></p-selectButton>
    <p-tabView>
        <p-tabPanel header="Value 1">
            Content 1
        </p-tabPanel>
        <p-tabPanel header="Value 2">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Value 3">
            Content 3
        </p-tabPanel>
    </p-tabView>

    <p-inputSwitch [(ngModel)]="lockerModel"></p-inputSwitch>
    <p-inputSwitch [(ngModel)]="lockerModel" [disabled]="true"></p-inputSwitch>

    <div class="pl__radio">
        <p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="radioVal1" inputId="opt1"></p-radioButton>
        <p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="radioVal1" inputId="opt2" [disabled]="true"></p-radioButton>
        <p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="radioVal1" inputId="opt3"></p-radioButton>
        <p-radioButton name="group1" value="Option 4" label="Option 4" [(ngModel)]="radioVal1" inputId="opt4" [disabled]="true"></p-radioButton>
    </div>


    <div class="pl__checkbox">
        <p-checkbox name="group1" value="Option 1" label="Option 1" [(ngModel)]="checkboxVal1" inputId="ny"></p-checkbox>
        <p-checkbox name="group1" value="Option 2" label="Option 2" [(ngModel)]="checkboxVal1" inputId="sf" [disabled]="true"></p-checkbox>
        <p-checkbox name="group1" value="Option 3" label="Option 3" [(ngModel)]="checkboxVal1" inputId="la"></p-checkbox>
        <p-checkbox name="group1" value="Option 4" label="Option 4" [(ngModel)]="checkboxVal1" inputId="la" [disabled]="true"></p-checkbox>
    </div>
</div>
