<div class="container-fluid">
    <h1 class="page-title">Pattern Library</h1>
    <section class="row">

        <div class="col-sm-5 section-headings">
            <h3 class="section__title">Headings</h3>
            <article>
                <h1>Heading 1</h1>
                <p class="section_desc">36px / 52px - Regular</p>
                <h2>Heading 2</h2>
                <p class="section_desc">30px / 45px - Regular</p>
                <h3>Heading 3</h3>
                <p class="section_desc">24px / 36px - Regular</p>
                <h4>Heading 4</h4>
                <p class="section_desc">18px / 27px - Regular</p>
                <h5>Heading 5</h5>
                <p class="section_desc">14px / 21px - Regular</p>
                <h6>Heading 6</h6>
                <p class="section_desc">12px / 18px - Regular</p>
            </article>
            <div class="section-paragraph">
                <h3 class="section__title">Paragraphs</h3>
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus dolor eius eos error et.</p>
                    <p class="section_desc">16px / 24px - Regular</p>
                </article>

                <h3 class="section__title">Links</h3>
                <article>
                    <p><a href="#">Link Normal</a></p>
                    <p><a href="#" class="link-secondary">Link Secondary</a></p>
                    <p class="section_desc">16px / 24px - Regular</p>
                </article>
            </div>
            <h3 class="section__title">Data Table</h3>
            <article>
                <p-dataTable [value]="dataTableDummyData" [rows]="6" [paginator]="true" [pageLinks]="5">
                    <p-column selectionMode="multiple"></p-column>
                    <p-column field="vin" header="Vin" [sortable]="true"></p-column>
                    <p-column field="year" header="Year" [sortable]="true"></p-column>
                    <p-column field="brand" header="Brand" [sortable]="true"></p-column>
                    <p-column field="color" header="Color" [sortable]="true"></p-column>
                </p-dataTable>
            </article>
            <h3 class="section__title">Tab View</h3>
            <article>
                <p-tabView>
                    <p-tabPanel header="Header 1" rightIcon="fa-bookmark-o">
                    </p-tabPanel>
                    <p-tabPanel header="Header 2" [closable]="true" [selected]="true">
                    </p-tabPanel>
                    <p-tabPanel header="Header 3">
                    </p-tabPanel>
                </p-tabView>
            </article>
        </div>

        <div class="col-sm-6 col-md-offset-1 section-fields">
            <div class="section-buttons">
                <h3 class="section__title">Buttons & SplitButtons</h3>
                <article>
                    <h4 class="section__subtitle">Normal buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <p>
                        <button pButton label="Normal"></button>
                        <button pButton disabled label="Disabled"></button>
                    </p>
                    <p>
                        <p-splitButton label="Normal" [model]="splitButtonItems"></p-splitButton>
                        <p-splitButton disabled="true" label="Disabled" [model]="splitButtonItems"></p-splitButton>
                    </p>
                </article>
                <article>
                    <h4 class="section__subtitle">Icon and label buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <p>
                        <button pButton label="Left" icon="fa-check" iconPos="left"></button>
                        <button pButton label="Right" icon="fa-check" iconPos="right"></button>
                    </p>
                    <p>
                        <p-splitButton label="Normal" icon="fa-check" [model]="splitButtonItems"></p-splitButton>
                    </p>
                </article>
                <article>
                    <h4 class="section__subtitle">Flat buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <p>
                        <button pButton flat label="Flat"></button>
                        <button pButton flat disabled label="Disabled"></button>
                    </p>
                    <p>
                        <p-splitButton flat label="Flat" [model]="splitButtonItems"></p-splitButton>
                        <p-splitButton flat disabled="true" label="Disabled" [model]="splitButtonItems"></p-splitButton>
                    </p>

                    <p style="background-color: #0E80CB; padding: 8px">
                        <p-splitButton flat label="Flat" class="inverted" [model]="splitButtonItems"></p-splitButton>
                    </p>
                </article>
                <article>
                    <h4 class="section__subtitle">Primary Button</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <p>
                        <button pButton primary label="Primary"></button>
                        <button pButton primary disabled label="Disabled"></button>
                    </p>
                    <p>
                        <p-splitButton primary label="Primary" [model]="splitButtonItems"></p-splitButton>
                        <p-splitButton primary disabled="true" label="Disabled" [model]="splitButtonItems"></p-splitButton>
                    </p>
                </article>
                <article>
                    <h4 class="section__subtitle">Negative Button</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <p>
                        <button pButton secondary label="Secondary"></button>
                        <button pButton secondary disabled label="Disabled"></button>
                    </p>
                    <p>
                        <p-splitButton secondary label="Secondary" [model]="splitButtonItems"></p-splitButton>
                        <p-splitButton secondary disabled="true" label="Disabled" [model]="splitButtonItems"></p-splitButton>
                    </p>
                </article>
                <article>
                    <h4 class="section__subtitle">Normal icon buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton iconButton icon="fa-bell"></button>
                    <button pButton iconButton icon="fa-user"></button>
                    <button pButton iconButton icon="fa-plus"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Disabled icon buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton iconButton disabled="disabled" icon="fa-bell"></button>
                    <button pButton iconButton disabled="disabled" icon="fa-user"></button>
                    <button pButton iconButton disabled="disabled" icon="fa-plus"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Action buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton actionButton icon="fa-plus"></button>
                    <button pButton actionButton disabled="disabled" icon="fa-plus"></button>
                </article>
            </div>
            <div class="section-fields">
                <form #formExample="ngForm" novalidate>
                    <h3 class="section__title">Form</h3>
                    <div class="form-group">
                        <span md-inputtext label="Placeholder">
                            <input pInputText type="text" id="inputTextFloatingLabel" name="inputTextFloatingLabel" #inputTextFloatingLabel="ngModel" [(ngModel)]="model.inputTextFloatingLabel" required />
                        </span>
                        <field-validation-message message="InputText is required" [form]="formExample" [field]="inputTextFloatingLabel"></field-validation-message>
                    </div>

                    <div class="form-group">
                        <input pInputText type="text" id="inputTextRegularField" name="inputTextRegularField" placeholder="Placeholder" #inputTextRegularField="ngModel" [(ngModel)]="model.inputTextRegularField" required />
                        <field-validation-message message="InputText is required" [form]="formExample" [field]="inputTextRegularField"></field-validation-message>
                    </div>

                    <div class="form-group">
                        <input pInputText type="text" placeholder="Disabled" disabled />
                    </div>

                    <div class="form-group">
                        <span md-inputtext label="Placeholder">
                            <textarea pInputTextarea name="textareaFloatingLabel" #textareaFloatingLabel="ngModel" [(ngModel)]="model.textareaFloatingLabel" required></textarea>
                        </span>
                        <field-validation-message message="TextArea is required" [form]="formExample" [field]="textareaFloatingLabel"></field-validation-message>
                    </div>

                    <div class="form-group">
                        <textarea pInputTextarea name="textareaRegularField" #textareaRegularField="ngModel" [(ngModel)]="model.textareaRegularField" required></textarea>
                        <field-validation-message message="TextArea is required" [form]="formExample" [field]="textareaRegularField"></field-validation-message>
                    </div>

                    <div class="form-group">
                        <textarea pInputTextarea disabled></textarea>
                    </div>

                    <div class="form-group">
                        <div class="inline">
                            <p-dropdown [options]="cities" name="dropdownNormal" #dropdownNormal="ngModel" [(ngModel)]="model.dropdownNormal" required></p-dropdown>
                            <p-dropdown disabled="true" [options]="cities" ></p-dropdown>
                        </div>
                        <field-validation-message message="Dropdown is required" [form]="formExample" [field]="dropdownNormal"></field-validation-message>
                    </div>

                    <div class="form-group">
                        <p-dropdown filter="filter" [options]="cities" name="dropdownWithFilter" #dropdownWithFilter="ngModel" [(ngModel)]="model.dropdownWithFilter" required></p-dropdown>
                    </div>

                    <div class="form-group">
                        <p-checkbox label="Checkbox" name="checkboxNormal" value="Checkbox Normal" #checkboxNormal="ngModel" [(ngModel)]="model.checkboxValues" required></p-checkbox>
                        <p-checkbox name="checkboxDisabled" label="Disabled" disabled="true"></p-checkbox>
                        <p-checkbox name="checkboxDisabledChecked" label="Disabled/Checked" disabled="true"></p-checkbox>
                    </div>

                    <div class="form-group">
                        <p-radioButton label="RadioButton" name="radiobuttonNormal" value="Radio Button Normal" #radioButtonNormal="ngModel" [(ngModel)]="model.radioBoxValues" required></p-radioButton>
                        <p-radioButton name="radioDisabled" value="val2" label="Disabled" disabled="true" [(ngModel)]="radioBoxValues"></p-radioButton>
                        <p-radioButton name="radioDisabled" value="val" label="Disabled/Selected" disabled="true" [(ngModel)]="radioBoxDisabledValues"></p-radioButton>
                    </div>
                    <div class="form-group">
                        <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
                        <p-autoComplete
                            let autoComplete
                            [dropdown]="true"
                            [suggestions]="autocompleteResults"
                            (completeMethod)="autocompleteComplete($event)"
                            (onDropdownClick)="autocompleteCompleteDropdownClick($event)">
                        </p-autoComplete>
                    </div>

                    <div class="form-group">
                        <button pButton type="submit" label="Submit"></button>
                    </div>
                </form>

                <h3 class="section__title">Dialog</h3>
                <article>
                    <p-dialog header="Godfather I" [(visible)]="displayDialog" modal="modal" width="300" responsive="true">
                        <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect,
                            but given to ruthless violence whenever anything stands against the good of the family.</p>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton icon="fa-check" (click)="display=false" label="Accept"></button>
                                <button flat type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                            </div>
                        </footer>
                    </p-dialog>

                    <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>
                </article>

                <h3 class="section__title">Dropdown Buttons</h3>
                <article>
                    <h4 class="section__subtitle">Right aligned</h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <dot-dropdown-component title="Dropdowns example" alignRight="true">
                                <div style="width:500px">
                                    <p>Here you can add any HTML</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                        <div class="col-sm-5">
                            <dot-dropdown-component icon="add_circle" alignRight="true">
                                <div style="width:200px">
                                    <p>Here you can add any HTML</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                    </div>

                </article>

                <article>
                    <h4 class="section__subtitle">Left aligned</h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <dot-dropdown-component title="Dropdowns example">
                                <div>
                                    <div style="width:500px">
                                        <p>Here you can add any HTML</p>
                                        <br/>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                            dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                        </p>
                                    </div>
                                </div>
                            </dot-dropdown-component>
                        </div>
                        <div class="col-sm-5">
                            <dot-dropdown-component icon="add_circle">
                                <div style="width:200px">
                                    <p>Here you can add any HTML</p>
                                    <br/>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

