@import 'mixins';
@import 'variables';

:host {
    display: block;
    padding: $basic-padding * 3;
}

.pl__forms {
    display: inline-grid;
    grid-gap: $basic-padding * 2;
}

.pl__buttons-row {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: flex-start;

    .pl__buttons-row-inverted {
        background-color: var(--color-main);
    }
}

hr {
    margin: $basic-padding * 3 0;
    border: 0;
    height: 1px;
    background: $gray-bg;
}
