<h3>Custom Components</h3>
<p>
    <button pButton (click)="dialogShow = true" label="Open Dialog"></button>
</p>

<p>
    <button pButton (click)="dialog2Show = true" label="Open Dialog with beforeUnload"></button>
</p>

<dot-dialog [(visible)]="dialogShow" header="Hello Dialog">
    <h1>Hello World</h1>
</dot-dialog>

<dot-dialog [(visible)]="dialog2Show" header="Hello Dialog" (beforeClose)="onBeforeClose($event)">
    <h1>Hello World</h1>
</dot-dialog>

<dot-persona-selector pageId="c12fe7e6-d338-49d5-973b-2d974d57015b"></dot-persona-selector>

<h3>Form Fields</h3>
<div class="pl__forms">
    <p-dropdown [options]="dropdownOptions"></p-dropdown>
    <p-dropdown tiny [options]="dropdownOptions"></p-dropdown>
    <p-multiSelect [options]="selectButtonStates" [maxSelectedLabels]="2"></p-multiSelect>
    <p-multiSelect
        [options]="selectButtonStates"
        [maxSelectedLabels]="2"
        [disabled]="true"
    ></p-multiSelect>
    <input type="text" pInputText value="Hello World" />
    <textarea pInputTextarea>Hello World</textarea>

    <span dotMdInputtext label="Floating Label">
        <input pInputText type="text" />
    </span>
    <div class="pl__buttons">
        <div class="pl__buttons-row">
            <button pButton label="Value"></button>
            <button pButton label="Disabled" disabled="true"></button>
            <button pButton label="Value" icon="fa fa-star"></button>
            <button pButton label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton tiny label="Value"></button>
            <button pButton tiny label="Disabled" disabled="true"></button>

            <button pButton link label="Value"></button>
            <button pButton link label="Disabled" disabled="true"></button>
            <button pButton link label="Value" icon="fa fa-star"></button>
            <button pButton link label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton link tiny label="Value"></button>
            <button pButton link tiny label="Disabled" disabled="true"></button>

            <button pButton secondary label="Value"></button>
            <button pButton secondary label="Disabled" disabled="true"></button>
            <button pButton secondary label="Value" icon="fa fa-star"></button>
            <button pButton secondary label="Disabled" disabled="true" icon="fa fa-star"></button>
            <button pButton secondary tiny label="Value" icon="fa fa-star"></button>
            <button
                pButton
                secondary
                tiny
                label="Disabled"
                disabled="true"
                icon="fa fa-star"
            ></button>

            <dot-icon-button secondary square icon="add"></dot-icon-button>
            <dot-icon-button secondary square icon="add" disabled></dot-icon-button>

            <dot-icon-button icon="notifications"></dot-icon-button>
            <dot-icon-button icon="notifications" disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted">
                <dot-icon-button icon="notifications" inverted></dot-icon-button>
            </div>

            <dot-icon-button icon="notifications" big></dot-icon-button>
            <dot-icon-button icon="notifications" big disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted">
                <dot-icon-button icon="notifications" big inverted></dot-icon-button>
            </div>

            <dot-icon-button icon="notifications" tiny></dot-icon-button>
            <dot-icon-button icon="notifications" tiny disabled></dot-icon-button>
            <div class="pl__buttons-row-inverted">
                <dot-icon-button icon="notifications" tiny inverted></dot-icon-button>
            </div>
        </div>
    </div>

    <p-selectButton [(ngModel)]="selectButtonValue" [options]="selectButtonStates"></p-selectButton>
    <p-selectButton
        secondary
        [(ngModel)]="selectButtonValue"
        [options]="selectButtonStates"
    ></p-selectButton>
    <p-selectButton
        border
        [(ngModel)]="selectButtonValue"
        [options]="selectButtonStates"
    ></p-selectButton>
    <p-tabView>
        <p-tabPanel header="Value 1">
            Content 1
        </p-tabPanel>
        <p-tabPanel header="Value 2">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Value 3" disabled="true">
            Content 3
        </p-tabPanel>
    </p-tabView>

    <p-inputSwitch [(ngModel)]="lockerModel"></p-inputSwitch>
    <p-inputSwitch [(ngModel)]="lockerModel" [disabled]="true"></p-inputSwitch>

    <div class="pl__radio">
        <p-radioButton
            name="group1"
            value="Option 1"
            label="Option 1"
            [(ngModel)]="radioVal1"
            inputId="opt1"
        ></p-radioButton>
        <p-radioButton
            name="group1"
            value="Option 2"
            label="Option 2"
            [(ngModel)]="radioVal1"
            inputId="opt2"
            [disabled]="true"
        ></p-radioButton>
        <p-radioButton
            name="group1"
            value="Option 3"
            label="Option 3"
            [(ngModel)]="radioVal1"
            inputId="opt3"
        ></p-radioButton>
        <p-radioButton
            name="group1"
            value="Option 4"
            label="Option 4"
            [(ngModel)]="radioVal1"
            inputId="opt4"
            [disabled]="true"
        ></p-radioButton>
    </div>

    <div class="pl__checkbox">
        <p-checkbox
            name="group1"
            value="Option 1"
            label="Option 1"
            [(ngModel)]="checkboxVal1"
            inputId="ny"
        ></p-checkbox>
        <p-checkbox
            name="group1"
            value="Option 2"
            label="Option 2"
            [(ngModel)]="checkboxVal1"
            inputId="sf"
            [disabled]="true"
        ></p-checkbox>
        <p-checkbox
            name="group1"
            value="Option 3"
            label="Option 3"
            [(ngModel)]="checkboxVal1"
            inputId="la"
        ></p-checkbox>
        <p-checkbox
            name="group1"
            value="Option 4"
            label="Option 4"
            [(ngModel)]="checkboxVal1"
            inputId="la"
            [disabled]="true"
        ></p-checkbox>
    </div>

    <p-calendar
        class="push-publish-dialog__calendar-date"
        dataType="string"
        dateFormat="yy-mm-dd"
        placeholder="yy-mm-dd"
        showTime="true"
        [minDate]="dateFieldMinDate"
        readonlyInput="true"
    ></p-calendar>
</div>

<h3 class="first">Single Row Selection - P-Table</h3>
<p-table
    [columns]="cols2"
    [value]="cars"
    selectionMode="single"
    [(selection)]="selectedCar1"
    dataKey="vin"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align: left">
            Selected Car:
            {{
                selectedCar1
                    ? selectedCar1.vin +
                      ' - ' +
                      selectedCar1.brand +
                      ' - ' +
                      selectedCar1.year +
                      ' - ' +
                      selectedCar1.color
                    : 'none'
            }}
        </div>
    </ng-template>
</p-table>

<h3>Dot Listing Data Table</h3>
<dot-listing-data-table
    #listing
    [actionHeaderOptions]="actionHeaderOptions"
    placeholder="Placeholder"
    [columns]="contentTypeColumns"
    [paginationPerPage]="10"
    sortField="modDate"
    sortOrder="DESC"
    url="v1/contenttype"
    [actions]="rowActions"
>
</dot-listing-data-table>
