<div class="container-fluid">
    <h1 class="page-title">Pattern Library</h1>
    <section class="row">

        <div class="col-sm-5 section-headings">
            <h3 class="section__title">Headings</h3>
            <article>
                <h1>Heading 1</h1>
                <p class="section_desc">36px / 52px - Regular</p>
                <h2>Heading 2</h2>
                <p class="section_desc">30px / 45px - Regular</p>
                <h3>Heading 3</h3>
                <p class="section_desc">24px / 36px - Regular</p>
                <h4>Heading 4</h4>
                <p class="section_desc">18px / 27px - Regular</p>
                <h5>Heading 5</h5>
                <p class="section_desc">14px / 21px - Regular</p>
                <h6>Heading 6</h6>
                <p class="section_desc">12px / 18px - Regular</p>
            </article>
            <div class="section-paragraph">
                <h3 class="section__title">Paragraphs</h3>
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus dolor eius eos error et.</p>
                    <p class="section_desc">16px / 24px - Regular</p>
                </article>

                <h3 class="section__title">Links</h3>
                <article>
                    <p><a href="#">Link Normal</a></p>
                    <p><a href="#" class="link-secondary">Link Secondary</a></p>
                    <p class="section_desc">16px / 24px - Regular</p>
                </article>
            </div>
        </div>

        <div class="col-sm-6 col-md-offset-1 section-fields">
            <div class="section-buttons">
                <h3 class="section__title">Buttons</h3>
                <article>
                    <h4 class="section__subtitle">Normal buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton label="Normal"></button>
                    <button pButton disabled label="Disabled"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Icon and label buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton label="Left" icon="fa-check" iconPos="left"></button>
                    <button pButton label="Right" icon="fa-check" iconPos="right"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Normal icon buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton iconButton icon="fa-bell"></button>
                    <button pButton iconButton icon="fa-user"></button>
                    <button pButton iconButton icon="fa-plus"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Disabled icon buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton iconButton disabled="disabled" icon="fa-bell"></button>
                    <button pButton iconButton disabled="disabled" icon="fa-user"></button>
                    <button pButton iconButton disabled="disabled" icon="fa-plus"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Flat buttons</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton flat label="Flat"></button>
                    <button pButton flat disabled label="Disabled"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Primary Button</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton primary label="Primary"></button>
                    <button pButton primary disabled label="Disabled"></button>
                </article>
                <article>
                    <h4 class="section__subtitle">Negative Button</h4>
                    <p class="section_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dignissimos dolores incidunt laborum nulla odit?</p>
                    <button pButton secondary label="Secondary"></button>
                    <button pButton secondary disabled label="Disabled"></button>
                </article>
            </div>
            <div class="section-fields">
                <h3 class="section__title">TextFields</h3>
                <article>
                    <span md-inputtext label="Placeholder">
                        <input pInputText type="text" />
                    </span>
                </article>
                <article>
                    <input pInputText type="text" placeholder="Placeholder" />
                    <input pInputText type="text" placeholder="Disabled" disabled />
                </article>
                
                <h3 class="section__title">TextArea</h3>
                <article>
                    <span md-inputtext label="Placeholder">
                        <textarea pInputTextarea></textarea>
                    </span>
                </article>
                <article>
                    <textarea pInputTextarea></textarea>
                </article>

                <h3 class="section__title">DropDown</h3>
                <article>
                    <h4 class="section__subtitle">Normal</h4>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                    <p-dropdown disabled="true" [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                </article>

                <article>
                    <h4 class="section__subtitle">With Filter</h4>
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" filter="filter"></p-dropdown>
                </article>

                <h3 class="section__title">Checkbox</h3>
                <article>
                    <p><p-checkbox name="checkboxNormal" value="val1" label="Checkbox" [(ngModel)]="checkBoxValues"></p-checkbox></p>
                    <p><p-checkbox name="checkboxDisabled" value="val2" label="Disabled" disabled="true" [(ngModel)]="checkBoxValues"></p-checkbox></p>
                    <p><p-checkbox name="checkboxDisabledChecked" value="val3" label="Disabled/Checked" disabled="true" [(ngModel)]="checkBoxValues"></p-checkbox></p>
                </article>

                <h3 class="section__title">Radio Buttons</h3>
                <article>
                    <p><p-radioButton name="s" value="val1" label="RadioButton" [(ngModel)]="radioBoxValues"></p-radioButton></p>
                    <p><p-radioButton name="radioDisabled" value="val2" label="Disabled" disabled="true" [(ngModel)]="radioBoxValues"></p-radioButton></p>
                    <p><p-radioButton name="radioDisabled" value="val" label="Disabled/Selected" disabled="true" [(ngModel)]="radioBoxDisabledValues"></p-radioButton></p>
                </article>

                <h3 class="section__title">Autocomplete</h3>
                <article>
                    <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
                    <p-autoComplete
                        let autoComplete
                        [dropdown]="true"
                        [suggestions]="autocompleteResults"
                        (completeMethod)="autocompleteComplete($event)"
                        (onDropdownClick)="autocompleteCompleteDropdownClick($event)">
                    </p-autoComplete>
                </article>

                <h3 class="section__title">Dialog</h3>
                <article>
                    <p-dialog header="Godfather I" [(visible)]="displayDialog" modal="modal" width="300" responsive="true">
                        <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
                            His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
                            Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
                            kind and benevolent to those who give respect,
                            but given to ruthless violence whenever anything stands against the good of the family.</p>
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button type="button" pButton icon="fa-check" (click)="display=false" label="Accept"></button>
                                <button flat type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                            </div>
                        </footer>
                    </p-dialog>

                    <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show"></button>
                </article>

                <h3 class="section__title">Dropdown Buttons</h3>
                <article>
                    <h4 class="section__subtitle">Right aligned</h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <dot-dropdown-component title="Dropdowns example" alignRight="true">
                                <div style="width:500px">
                                    <p>Here you can add any HTML</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                        <div class="col-sm-5">
                            <dot-dropdown-component icon="add_circle" alignRight="true">
                                <div style="width:200px">
                                    <p>Here you can add any HTML</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                    </div>

                </article>

                <article>
                    <h4 class="section__subtitle">Left aligned</h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <dot-dropdown-component title="Dropdowns example">
                                <div>
                                    <div style="width:500px">
                                        <p>Here you can add any HTML</p>
                                        <br/>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                            dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                        </p>
                                    </div>
                                </div>
                            </dot-dropdown-component>
                        </div>
                        <div class="col-sm-5">
                            <dot-dropdown-component icon="add_circle">
                                <div style="width:200px">
                                    <p>Here you can add any HTML</p>
                                    <br/>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto, corporis, delectus
                                        dolor eius eos error et ipsum labore laudantium libero magnam maiores nihil perspiciatis quas reprehenderit unde vel vitae!
                                    </p>
                                </div>
                            </dot-dropdown-component>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

