@use "variables" as *;

$number-link-icon-size: 2.28rem;

:host {
    display: block;
    font-size: $font-size-md;
    height: 100%;
    overflow: auto;
    background-color: $white;

    hr {
        border-top: 1px solid $color-palette-gray-300;
    }

    a {
        text-decoration: none;
    }

    .dot-starter-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        p-checkbox {
            margin-top: $spacing-5;
        }
    }

    .dot-starter-title {
        color: $black;
        font-size: $font-size-lg;
        margin: $spacing-5 $spacing-3 $spacing-1;
    }

    .dot-starter-description {
        color: $black;
        margin: 0 $spacing-3;
    }

    .dot-starter-top-content,
    .dot-starter-bottom-content {
        display: flex;
        margin: 0 auto;
        max-width: 77.42rem;
        flex-grow: 1;
    }

    .dot-starter-top-main__section {
        background-color: $white;
        counter-reset: css-counter 0;
        flex-grow: 1;
        margin-left: 0;
        margin-bottom: $spacing-4;
        margin-right: $spacing-1;
        display: flex;
    }

    .dot-starter-offset {
        margin-left: $spacing-5;
    }

    .dot-starter-top-main__block {
        border-radius: $border-radius-md;
        box-shadow: $shadow-l;

        align-content: space-between;
        border-bottom: 1px solid $color-palette-gray-300;
        display: flex;
        flex-direction: column;
        margin: $spacing-3;
        padding: $spacing-5 $spacing-3;

        transition: background-color $basic-speed ease-in;
        width: 25%;

        &:hover {
            background-color: $bg-hover;
        }
    }

    .dot-starter-top-main__link-number {
        align-self: center;
        margin: 0 $spacing-4 $spacing-1;
        text-align: center;

        span {
            align-items: center;
            color: $color-palette-primary;
            counter-increment: css-counter 1;
            display: inline-flex;
            font-size: $md-icon-size-extra-big;
            height: $number-link-icon-size;
            justify-content: center;
            width: $number-link-icon-size;

            &::before {
                content: counter(css-counter);
            }
        }
    }

    .dot-starter-top-main__link-data {
        align-self: center;
        flex-grow: 1;
        text-align: center;

        h4 {
            color: $black;
            font-size: $font-size-lmd;
            font-weight: $font-weight-semi-bold;
            margin: 0;
        }
        p {
            color: $color-palette-gray-700;
            margin: 0;
            font-size: $font-size-md;
        }
    }

    .dot-starter-top-main__link-arrow {
        align-self: center;

        i {
            color: $color-palette-gray-500;
            font-size: $font-size-lg;
            margin-right: $spacing-3;
        }
    }

    .dot-starter-top-main__title {
        font-size: $font-size-lmd;
        font-weight: $font-weight-semi-bold;
        margin: 0;
        border-bottom: 1px solid $color-palette-gray-300;
        padding-bottom: $spacing-3;
    }
    .dot-starter-top-secondary__block {
        display: flex;
        padding-bottom: $spacing-8;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .dot-starter-top-secondary__link-icon {
        padding-top: 0;

        span {
            color: $color-palette-primary;
            fill: $color-palette-primary;
            display: inline-flex;
            width: $number-link-icon-size;
        }

        svg {
            fill: $color-palette-primary;
            height: 1.71rem;
            width: $md-icon-size-normal;
        }
    }

    .dot-starter-top-secondary__link-data {
        padding: 0;

        h4 {
            color: $black;
            font-size: $font-size-lmd;
            margin: 0;
        }
        p {
            color: $color-palette-gray-700;
            margin: 0;
        }
    }

    .dot-starter-top-secondary__link-data-apis {
        padding: 0;

        h4 {
            color: $color-palette-primary;
            font-size: $font-size-lmd;
            font-weight: 500;
            margin: 0;
            padding-bottom: $spacing-1;
        }
        p {
            color: $color-palette-gray-700;
            margin: 0;
        }
    }

    .dot-starter-bottom-content {
        flex-wrap: wrap;
        padding: $spacing-1 0 $spacing-5 $spacing-5;
    }

    .dot-starter-bottom__block {
        background-color: $white;
        border-bottom: 1px solid $color-palette-gray-300;
        box-shadow: $shadow-m;
        display: flex;
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
        transition: background-color $basic-speed ease-in;
        border-radius: $border-radius-md;
        gap: $spacing-1;
        padding: $spacing-3;

        &:hover {
            background-color: $bg-hover;
        }
    }

    .dot-starter-bottom__link-icon {
        padding-top: $spacing-0;
        span {
            color: $color-palette-primary;
            display: inline-flex;
        }
    }

    .dot-starter-bottom__link-data {
        margin-right: $spacing-5;
        padding: 0;

        h4 {
            color: $black;
            font-size: $font-size-lmd;
            margin: 0;
        }
        p {
            color: $color-palette-gray-700;
            margin: 0;
        }
    }
}
.button-link {
    cursor: pointer;
    color: #515667;
    position: absolute;
    top: 20px;
    right: 20px;
}
