<!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
<p-autoComplete let autoComplete *ngIf="sitesCounter > 1"
                (completeMethod)="filterSites($event)"
                (onDropdownClick)="handleSitesDropdownClick($event)"
                (onSelect)="switchSite($event)"
                [(ngModel)]="currentSite"
                [dropdown]="true"
                [minLength]="1"
                [suggestions]="filteredSitesResults"
                class="site-selector__field"
                field="label"
                id="selectedSite"
                name="selectedSite">
</p-autoComplete>

<h1 *ngIf="sitesCounter == 1" class="site-selector__title">{{currentSite ? currentSite.label : ''}}</h1>