<!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
<p-autoComplete let autoComplete *ngIf="sitesCounter > 1"  id="selectedSite" name="selectedSite" [(ngModel)]="currentSite"
                [suggestions]="filteredSitesResults" (completeMethod)="filterSites($event)"
                (onSelect)="switchSite($event)" field="label" [minLength]="1"
                [dropdown]="true" (onDropdownClick)="handleSitesDropdownClick($event)"
                class="site-selector__field">
</p-autoComplete>

<h1 *ngIf="sitesCounter == 1" class="site-selector__title">{{currentSite ? currentSite.label : ''}}</h1>