@import "mixins";
@import "variables";
$sidebar-width: 190px;

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.layout__content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.layout__main,
.layout__sidebar {
    overflow: auto;
}

.layout__main {
    flex-grow: 1;
}

.layout__sidebar {
    background-color: $white;
    border-right: solid 1px $gray-lighter;
    flex-shrink: 0;
    transition: width $basic-speed * 2 cubic-bezier(0.25, 0.8, 0.25, 1);
    width: $sidebar-width;

    .collapsed & {
        overflow: hidden;
        width: 0;
    }
}