<!-- TODO: Move this to iframe-portlet-legacy -->
<dot-create-contentlet (close)="onCloseContentletEditor()" (custom)="onCustomEvent($event)"></dot-create-contentlet>
<dot-message-display></dot-message-display>

<div class="layout">
    <header class="layout__header">
        <dot-toolbar></dot-toolbar>
    </header>
    <div class="layout__content">
        <aside class="layout__sidebar">
            <dot-main-nav></dot-main-nav>
        </aside>
        <main class="layout__main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<!-- After the router-outlet to make sure always shows up on top of any other dialog in the system -->
<dot-large-message-display></dot-large-message-display>
<dot-alert-confirm></dot-alert-confirm>
<dot-push-publish-dialog></dot-push-publish-dialog>
<dot-dot-download-bundle-dialog></dot-dot-download-bundle-dialog>
<dot-wizard></dot-wizard>
