@import "mixins";
@import "../../../../styles/primeng-theme/utils/_mixins.scss";
@import "variables";
$sidebar-width: 190px;

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.layout__content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.layout__main,
.layout__sidebar {
    overflow: auto;
}

.layout__main {
    flex-grow: 1;

    &.layout__main--tablet-only {
        &::after {
            background-color: $black;
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.3;
            z-index: 9;
            transition: opacity 2s ease-in;
        }
    
        .collapsed & {
            &::after { 
                position: static;
                transition: opacity 2s ease-out;
            }
        }
    }
}

.layout__sidebar {
    background-color: $white;
    border-right: solid 1px $gray-lighter;
    flex-shrink: 0;
    transition: width $basic-speed * 2 cubic-bezier(0.25, 0.8, 0.25, 1);
    width: $sidebar-width;
    position: absolute;
    z-index: 10;
    height: 100%;
    box-shadow: $md-shadow-2;

    @include large {
        position: static;
        height: auto;
        box-shadow: none;
    }

    .collapsed & {
        overflow: hidden;
        width: 0;
    }
}