<dot-form-dialog
    (cancel)="onCancel()"
    (save)="onSave()"
    [saveButtonDisabled]="(isFormValid$ | async) === false"
    data-testId="dialogForm">
    @if (form) {
        <form [formGroup]="form" class="p-fluid" data-testId="form">
            <div class="field" data-testId="titleField">
                <label for="title" dotFieldRequired>
                    {{ 'templates.properties.form.label.title' | dm }}
                </label>
                <input
                    id="title"
                    pInputText
                    formControlName="title"
                    autofocus
                    data-testId="templatePropsTitleField" />
                <dot-field-validation-message [field]="form.get('title')" />
            </div>
            <div class="field" data-testId="descriptionField">
                <label for="description">
                    {{ 'templates.properties.form.label.description' | dm }}
                </label>
                <textarea id="description" pInputTextarea formControlName="friendlyName"></textarea>
            </div>
            @if (form.get('theme')) {
                <div class="field" data-testId="themeField">
                    <label for="theme">{{ 'templates.properties.form.label.theme' | dm }}</label>
                    <dot-theme-selector-dropdown id="theme"
                        formControlName="theme"
                        data-testId="templatePropsThemeField" />
                </div>
            }
            <div class="field" data-testId="thumbnailField">
                <label for="thumbnail">
                    {{ 'templates.properties.form.label.thumbnail' | dm }}
                </label>
                <dot-template-thumbnail-field formControlName="image" />
            </div>
        </form>
    }
</dot-form-dialog>
