@use "variables" as *;
@import "mixins";

:host {
    display: flex;
}

.dot-layout-designer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dot-layout-designer__main {
    display: flex;
    flex-grow: 1;
}

.dot-layout-designer__footer,
.dot-layout-designer__header,
[class^="dot-layout-designer__sidebar"] {
    align-items: center;
    background: $gray-bg;
    color: $gray;
    display: flex;
    flex-shrink: 0;
    font-size: $font-size-xx-large;
    justify-content: center;
}

[class^="dot-layout-designer__sidebar"] {
    align-items: normal;

    dot-container-selector {
        width: 100%;
    }
}

.dot-layout-designer__sidebar--left,
.dot-layout-designer__sidebar--right {
    border: 1px solid $gray-light;
}

.dot-layout-designer__sidebar {
    &--small {
        width: 200px;
    }

    &--medium {
        width: 250px;
    }

    &--large {
        width: 300px;
    }

    &--left {
        margin-right: $basic-padding * 2;
    }

    &--right {
        margin-left: $basic-padding * 4;
    }
}

.dot-layout-designer__footer,
.dot-layout-designer__header {
    height: 80px;
}

.dot-layout-designer__header,
.dot-layout-designer__main {
    margin-bottom: $basic-padding * 2;
}

.dot-layout-designer__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &::ng-deep .action-button--no-label .p-button.p-button-icon-only {
        height: $field-height;
        width: $field-height;
        font-size: $font-size-small;
    }
}

.dot-layout-designer__toolbar-add {
    align-self: flex-end;
    margin-bottom: $basic-padding;
}

.dot-layout-designer__grid-guides {
    background: repeating-linear-gradient(
        -90deg,
        transparent,
        transparent $basic-padding,
        $gray-bg $basic-padding,
        $gray-bg calc(100% / 12)
    );
    flex-grow: 1;
    margin-right: -$basic-padding;
}
