@use "variables" as *;
@import "mixins";

.p-multiselect {
    width: 100%;
}

.environment-selector__list {
    height: 140px;
    margin: $basic-padding 0;
    overflow-x: hidden;
    border: 1px solid $gray;
    padding: 0;
}

.environment-selector__list-item {
    @include naked-list;
    border-top: 1px solid $gray-bg;
    padding: $basic-padding / 2 0;

    &:first-child {
        border-top: none;
    }
}
