@use "variables" as *;
@import "mixins";

:host {
    min-width: 750px;
}

dot-layout-properties {
    margin-right: $spacing-1;
}

dot-layout-designer {
    background-color: $white;
    box-shadow: $md-shadow-1;
    flex-grow: 1;
    margin: 0 $spacing-3;
    padding: $spacing-6;
    // This canculating the space of the layout editor
    // based on the toolbars and required margin
    height: calc(100vh - 60px - 68px - 48px - 16px);
    overflow: auto;
}

.dot-edit-layout__actions {
    display: flex;
    height: $dot-secondary-toolbar-height;
    justify-content: flex-end;
    padding: $spacing-3;
}

.dot-edit-layout__toolbar {
    background-color: $white;
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .p-toolbar {
            border-bottom: solid 1px $gray-light;
            padding: $spacing-3;
        }
    }
}

.dot-edit-layout__toolbar-action-cancel {
    margin-right: $spacing-1;
}

.dot-edit__layout-actions-right {
    display: flex;
    align-items: center;

    .dot-edit__layout-actions-themes {
        display: inline;
    }
}
