@import "mixins";
@import "variables";

$toolbar-height: 48px;

:host {
    background-color: $gray-bg;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    min-height: 100%;
    min-width: 750px;
    width: 100%;
}

dot-layout-designer {
    background-color: $white;
    box-shadow: $md-shadow-1;
    flex-grow: 1;
    margin: 0 $basic-padding * 2 $basic-padding * 2;
    padding: $basic-padding * 2;
}

.dot-edit-layout__actions {
    display: flex;
    justify-content: space-between;
    padding: $basic-padding * 2;
}

.dot-edit-layout__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dot-edit-layout__toolbar {
    background-color: $white;
    display: block;
    position: relative;
    z-index: 1;

    ::ng-deep {
        .ui-toolbar {
            border-bottom: solid 1px $gray-bg;
            height: $toolbar-height;
            padding-left: 0;
        }
    }
}

.dot-edit-layout__toolbar-action-cancel {
    margin-right: $basic-padding;
}

.dot-edit__layout-actions-right .dot-edit__layout-actions-themes {
    display: inline;
}
