<dot-theme-selector
    *ngIf="themeDialogVisibility"
    [value]="currentTheme"
    (selected)="changeThemeHandler($event)"
    (close)="closeThemeDialog()"
>
</dot-theme-selector>
<dot-secondary-toolbar>
    <div class="main-toolbar-left">
        <dot-edit-page-info *ngIf="newPageState" [pageState]="newPageState"></dot-edit-page-info>
    </div>

    <div class="main-toolbar-right">
        <dot-global-message></dot-global-message>
        <div *ngIf="!currentTheme; then permission; else noPermission"></div>
        <ng-template #permission>
            <div
                class="dot-edit__layout-actions-themes"
                pTooltip="{{ 'org.dotcms.frontend.content.submission.not.proper.permissions' | dm }}"
                tooltipPosition="left"
            >
                <button
                    pButton
                    type="button"
                    class="dot-edit-layout__toolbar-action-themes p-button-text p-button-vertical"
                    label="{{'editpage.layout.theme.button.label' | dm }}"
                    (click)="themeDialogVisibility = !themeDialogVisibility"
                    disabled="false">
                    <span class="p-button-icon material-icons">brush</span>
                </button>
            </div>
        </ng-template>
        <ng-template #noPermission>
            <button
                pButton
                type="button"
                class="dot-edit-layout__toolbar-action-themes p-button-text p-button-vertical"
                label="{{ currentTheme?.name || 'Themes' }}"
                (click)="themeDialogVisibility = !themeDialogVisibility">
                <span class="p-button-icon material-icons">brush</span>
            </button>
        </ng-template>
        <dot-layout-properties [group]="form.get('layout')"></dot-layout-properties>
        <dot-icon-button [size]="32" float icon="add" (click)="addGridBox()"></dot-icon-button>
        <span class="toolbar__sep"></span>
        <form [formGroup]="form" (ngSubmit)="saveLayout()" novalidate>
            <input
                #templateName
                pInputText
                type="text"
                class="dot-edit-layout__toolbar-template-name"
                placeholder="{{ 'editpage.layout.toolbar.template.name' | dm }} *"
                *ngIf="saveAsTemplate"
                formControlName="title"
            />
            <p-checkbox
                class="dot-edit-layout__toolbar-save-template"
                label="{{ 'editpage.layout.toolbar.save.template' | dm }}"
                *ngIf="editTemplate && isLayout() && pageState.canCreateTemplate"
                binary="true"
                (onChange)="saveAsTemplateHandleChange($event)"
            ></p-checkbox>
            <button
                pButton
                type="button"
                (click)="onCancel()"
                label="{{ 'dot.common.cancel' | dm }}"
                class="dot-edit-layout__toolbar-action-cancel p-button-secondary p-button-sm"
            ></button>
            <button
                pButton
                type="submit"
                [disabled]="!isModelUpdated || !form.valid"
                label="{{ 'editpage.layout.toolbar.action.save' | dm }}"
                class="dot-edit-layout__toolbar-save p-button-sm"
            ></button>
            <dot-template-addtional-actions-menu
                *ngIf="!isLayout()"
                [inode]="pageState.template.inode"
            ></dot-template-addtional-actions-menu>
        </form>
    </div>
</dot-secondary-toolbar>
<dot-layout-designer [group]="form.get('layout')"></dot-layout-designer>

