@import "variables";

:host {
    display: inline-block;
    position: relative;
}

.avatar__img {
    border-radius: 50%;
    display: block;
    object-fit: scale-down;
}

.avatar__placeholder {
    border-radius: 50%;
    background-color: $brand-secondary;
    color: $white;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.2em;
    text-align: center;
}

.avatar__dot {
    background-color: $brand-primary;
    bottom: -2px;
    border: 1px solid $white;
    border-radius: 50%;
    display: inline-block;
    height: 9px;
    position: absolute;
    right: -1px;
    width: 9px;
}
