<p-dialog
    modal="modal"
    width="500"
    [dismissableMask]="true"
    [visible]="true"
    [responsive]="true"
    [resizable]="false"
    [draggable]="false"
    (onHide)="close($event)">

    <p-header>
        {{dotMessageService.get('contenttypes.content.push_publish')}}
    </p-header>

    <form [formGroup]="form" (ngSubmit)="submitPushAction($event)" novalidate #formEl="ngForm">
        <div class="form__group">
            <label class="form__label">{{dotMessageService.get('contenttypes.content.push_publish.I_want_To')}}: </label>
            <p-dropdown [style]="{'width':'100%'}" [options]="pushActions" formControlName="pushActionSelected"></p-dropdown>
        </div>

        <div class="form__group" *ngIf="form.get('pushActionSelected').value === 'publish' || form.get('pushActionSelected').value === 'publishexpire'">
            <p-checkbox formControlName="forcePush" label="{{dotMessageService.get('contenttypes.content.push_publish.force_push')}}" binary="true"></p-checkbox>
        </div>

        <div class="form__group push-publish-dialog__publish-date" *ngIf="form.get('pushActionSelected').value === 'publish' || form.get('pushActionSelected').value === 'publishexpire'">
            <label class="form__label">{{dotMessageService.get('contenttypes.content.push_publish.publish_date')}}: </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar class="push-publish-dialog__calendar-date" formControlName="publishdate" dataType="string" dateFormat="yy-mm-dd" placeholder="yy-mm-dd" showTime="true" readonlyInput="true" [minDate]="dateFieldMinDate" ></p-calendar>
            </div>
            <field-validation-message message="{{dotMessageService.get('contenttypes.content.push_publish.publish_date_errormsg')}}" [field]="form.get('publishdate')"></field-validation-message>
        </div>

        <div class="form__group push-publish-dialog__expire-date" *ngIf="form.get('pushActionSelected').value === 'expire' || form.get('pushActionSelected').value === 'publishexpire'">
            <label class="form__label">{{dotMessageService.get('contenttypes.content.push_publish.expire_date')}}: </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar class="push-publish-dialog__calendar-date" formControlName="expiredate" dataType="string" dateFormat="yy-mm-dd" placeholder="yy-mm-dd" showTime="true" readonlyInput="true" [minDate]="dateFieldMinDate" ></p-calendar>
            </div>
            <field-validation-message message="{{dotMessageService.get('contenttypes.content.push_publish.expire_date_errormsg')}}" [field]="form.get('expiredate')"></field-validation-message>
        </div>

        <div class="form__group">
            <label class="form__label">{{dotMessageService.get('contenttypes.content.push_publish.push_to')}}: </label>
            <dot-push-publish-env-selector [assetIdentifier]="assetIdentifier" formControlName="environment"></dot-push-publish-env-selector>
            <field-validation-message message="{{dotMessageService.get('contenttypes.content.push_publish.push_to_errormsg')}}" [field]="form.get('environment')"></field-validation-message>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" (click)="close($event)" label="{{dotMessageService.get('contenttypes.content.push_publish.form.cancel')}}" class="push-publish-dialog__form-cancel"></button>
        <button pButton type="submit" (click)="submitForm()" label="{{dotMessageService.get('contenttypes.content.push_publish.form.push')}}" [disabled]="!form.valid"></button>
    </p-footer>
</p-dialog>
