@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/common";
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

.announcements__main-container {
    width: 24rem;
}

.announcements__list {
    list-style: none;
    padding: 0;
}

.announcements__container {
    display: flex;
    justify-content: flex-end;
}

.announcements__link-container {
    display: flex;
    padding: spacing.$spacing-1;
    gap: spacing.$spacing-1;
    border-radius: common.$border-radius-lg;
    &:hover {
        background-color: colors.$color-palette-primary-100;
    }

    i {
        color: colors.$color-palette-primary-500;
    }
}

.announcements__badge {
    background-color: colors.$color-accessible-text-fuchsia;
    border-radius: 50%;
    color: colors.$white;
    font-size: fonts.$font-size-sm;
    line-height: fonts.$font-size-sm;
    width: 0.625rem;
    height: 0.625rem;
    position: absolute;
    left: 39px;
    top: 14px;
}

.announcements__about-link {
    padding: spacing.$spacing-1;
    &:hover {
        background-color: colors.$color-palette-primary-100;
    }
}

.announcements__list-item {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: spacing.$spacing-3;
    padding: spacing.$spacing-2 spacing.$spacing-1;
    margin-bottom: spacing.$spacing-1;
    border-radius: common.$border-radius-md;
    &:hover {
        background-color: colors.$color-palette-primary-100;
    }
}

.announcements__list-item--active {
    background-color: colors.$color-palette-secondary-100;
}

.announcements__title {
    margin: 0;
    padding-bottom: spacing.$spacing-1;
    border-bottom: 1px solid colors.$color-palette-gray-300;
    font-size: fonts.$font-size-lmd;
}

.announcements__content {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-0;
}

.announcements__date {
    color: colors.$color-palette-gray-800;
    font-size: fonts.$font-size-sm;
}

.announcements__image {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--color-palette-secondary-200);
    color: var(--color-palette-secondary-500);
    border-radius: 50%;
    font-size: fonts.$font-size-lmd;
}

.announcements__label {
    font-weight: fonts.$font-weight-semi-bold;
}

.announcements__about {
    display: grid;
    flex-direction: column;
    gap: spacing.$spacing-0;
    margin: spacing.$spacing-3;
    grid-template-columns: 1fr 1fr;
}

.announcements__link {
    color: colors.$color-palette-primary;
    &:hover {
        background-color: colors.$color-palette-primary-100;
    }
}

.announcements__url {
    text-decoration: none;
    color: colors.$black;
    width: 100%;
}

::ng-deep {
    .toolbar-announcements__container {
        &.p-overlaypanel {
            max-height: 80vh;
            overflow: auto;
        }
    }
}
