<h5 class="announcements__title">{{ 'announcements' | dm }}</h5>
<ul class="announcements__list">
    @for (item of announcements(); track item.identifier;) {
    <li
        class="announcements__list-item"
        [class.announcements__list-item--active]="showUnreadAnnouncement">
        <span class="announcements__badge" *ngIf="showUnreadAnnouncement"></span>
        <span class="announcements__image pi" [ngClass]="typesIcons[item.type]"></span>
        <a
            class="announcements__url"
            [href]="item.url"
            target="_blank"
            rel="noopener noreferrer"
            aria-labelledby="announcement-label date-label">
            <div class="announcements__content">
                <span class="announcements__label">{{ item.title }}</span>
                <span class="announcements__date">{{ item.announcementDateAsISO8601 | date }}</span>
            </div>
        </a>
    </li>
    }
</ul>

<div class="announcements__container">
    <i class="pi pi-external-link"></i>
    <a class="announcements__link" [href]="linkToDotCms" data-testId="announcement_link">{{
        'announcements_show_all' | dm
    }}</a>
</div>

<h5 class="announcements__title">{{ 'announcements_knowledge_center' | dm }}</h5>
<div class="announcements__about">
    <a *ngFor="let link of knowledgeCenterLinks" [href]="link.url" target="_blank">{{
        link.label
    }}</a>
</div>

<h5 class="announcements__title">{{ 'announcements_knowledge_contact_us' | dm }}</h5>
<div class="announcements__about">
    <a *ngFor="let link of contactLinks" [href]="link.url" target="_blank">{{ link.label }}</a>
</div>
