:host {
  display: block;
  margin: 3.07692rem;
}

:host article {
  margin-bottom: 1.53846rem;
}

:host md-input {
  display: block;
}

:host .section-buttons article {
  margin-bottom: 3.07692rem;
}

:host .section_desc {
  font-size: 1rem;
}

:host .section-headings .section_desc, :host .section-paragraph .section_desc {
  border-bottom: solid 1px #D0D0D0;
  text-align: right;
}

:host .section-headings h1, :host .section-headings h2, :host .section-headings h3, :host .section-headings h4, :host .section-headings h5, :host .section-headings h6 {
  margin-bottom: 0;
}

:host .section-headings .section_desc {
  margin: 0 0 1.53846rem;
}

:host .section-headings .section_desc:last-child {
  margin-bottom: 0;
}

:host .section__subtitle {
  margin: 0;
  font-size: 0.92308rem;
  text-transform: uppercase;
  color: #737373;
}

:host .section__title {
  color: #444444;
}
