<header class="layout__toolbar">
    <p-toolbar>
        <div class="layout__toolbar-inner">
            <div class="toolbar__host">
                <button pButton iconButton icon="fa-bars" class="inverse" (click)="handleMainButtonClick($event)"></button>
                <dot-site-selector
                    #siteSelector
                    class="toolbar__site-selector"
                    (change)="siteChange($event)"
                    (hide)="iframeOverlayService.hide()"
                    (show)="iframeOverlayService.show()"
                    [archive]="false"
                    [live]="true"
                    [system]="false">
                </dot-site-selector>
            </div>
            <div class="toolbar__actions">
                <dot-toolbar-notifications></dot-toolbar-notifications>
                <toolbar-user></toolbar-user>
                <dot-toolbar-add-contentlet></dot-toolbar-add-contentlet>
            </div>
        </div>
    </p-toolbar>
</header>