@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.layout__toolbar {
    z-index: 1004; // Menu and dropdown options in primeng use 1003.
}

.layout__toolbar-inner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.toolbar__actions,
.toolbar__host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar__actions {
    toolbar-user {
        margin: 0 $basic-padding;
    }
}

.toolbar__host {
    // TODO: should we add a param for not hover state in the dot-select?
    .dot-select.is-active .dot-select__icon {
        color: $white;
    }

    site-selector-component {
        .ui-button-text,
        .site-selector__title {
            color: $white;
            font-size: $font-size-large;
            text-overflow: ellipsis;
        }

        .ui-button {
            &:focus,
            &:hover {
                background-color: rgba($white, 0.1);

                .ui-button-text {
                    color: $white;
                }

                .ui-button-icon-right {
                    color: $white;
                }
            }
        }

        .ui-button-icon-right{
            color: $white;
            font-size: $font-size-large;
        }

        .site-selector__field {
            .ui-button,
            .ui-button:hover,
            .ui-button:active,
            .ui-button:focus {
                box-shadow: none;
            }

            .ui-button {
                background-color: transparent;
            }
        }
    }
}