<header class="layout__toolbar">
    <p-toolbar>
        <div class="layout__toolbar-inner">
            <div class="toolbar__host">
                <button pButton iconButton icon="fa-bars" class="inverse" (click)="handleMainButtonClick($event)"></button>
                <site-selector-component
                    #siteSelector
                    (change)="siteChange($event)"
                    (hide)="iframeOverlayService.hide()"
                    (show)="iframeOverlayService.show()"
                    [archive]="false"
                    [live]="false"
                ></site-selector-component>
            </div>
            <div class="toolbar__actions">
                <dot-toolbar-notifications></dot-toolbar-notifications>
                <toolbar-user></toolbar-user>
                <toolbar-add-contentlet></toolbar-add-contentlet>
            </div>
        </div>
    </p-toolbar>
</header>