<header>
    <p-toolbar class="toolbar">
        <div class="ui-toolbar-group-left">
            <div class="toolbar__button-wrapper">
                <div class="toolbar__button" [class.toolbar__button--hide]="collapsed">
                    <button pButton iconButton icon="fa-arrow-left" class="inverse" (click)="handleMainButtonClick($event)"></button>
                </div>
                <div class="toolbar__button" [class.toolbar__button--hide]="!collapsed">
                    <button pButton iconButton icon="fa-bars" class="inverse" (click)="handleMainButtonClick($event)"></button>
                </div>
            </div>
            <div class="toolbar__host">
                <dot-site-selector #siteSelector class="toolbar__site-selector" (change)="siteChange($event)" (hide)="iframeOverlayService.hide()"
                    (show)="iframeOverlayService.show()" [archive]="false" [live]="true" [system]="false">
                </dot-site-selector>
            </div>
        </div>
        <div class="ui-toolbar-group-right">
            <div class="toolbar__actions">
                <dot-toolbar-notifications></dot-toolbar-notifications>
                <toolbar-user></toolbar-user>
                <dot-toolbar-add-contentlet></dot-toolbar-add-contentlet>
            </div>
        </div>
    </p-toolbar>
</header>