@import "mixins";
@import "variables";

.toolbar {
    z-index: 1004; // Menu and dropdown options in primeng use 1003.

    .ui-toolbar {
        padding-left: 0;
    }
}

.toolbar__button {
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $basic-speed ease-in;
    z-index: 2;
}

.toolbar__button--hide {
    opacity: 0;
    z-index: 1;
}

.toolbar__button-wrapper {
    align-items: center;
    border-right: solid 1px rgba($white, 0.2);
    display: flex;
    height: $toolbar-height;
    margin-right: $basic-padding * 2;
    position: relative;
    width: $toolbar-height;
}

.toolbar__host {
    // TODO: should we add a param for not hover state in the dot-select?
    .dot-select.is-active .dot-select__icon {
        color: $white;
    }
}

.toolbar__host,
.toolbar__secondary-actions {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.toolbar__inner {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.toolbar__main-actions {
    display: flex;
}

.toolbar__secondary-actions {
    toolbar-user {
        margin: 0 $basic-padding;
    }
}

.toolbar__site-selector {
    .site-selector__title,
    .ui-button-text {
        color: $white;
        font-size: $font-size-large;
        text-overflow: ellipsis;
    }

    .ui-button {
        &:focus,
        &:hover {
            background-color: rgba($white, 0.1);

            .ui-button-text {
                color: $white;
            }

            .ui-button-icon-right {
                color: $white;
            }
        }
    }

    .ui-button-icon-right{
        color: $white;
        font-size: $font-size-large;
    }

    .site-selector__field {
        .ui-button,
        .ui-button:hover,
        .ui-button:active,
        .ui-button:focus {
            box-shadow: none;
        }

        .ui-button {
            background-color: transparent;
        }
    }
}
