@if (isEnterpriseLicense$ | async; as isEnterpriseLicense) {
    <dot-language-selector
        (selected)="changeLanguageHandler($event)"
        [pTooltip]="pageState.viewAs.language.language"
        [pageId]="pageState.page.identifier"
        [value]="pageState.viewAs.language"
        appendTo="body"
        tooltipPosition="bottom"
        tooltipStyleClass="dot-language-selector__dialog" />
    <dot-persona-selector
        (delete)="deletePersonalization($event)"
        (selected)="changePersonaHandler($event)"
        [disabled]="(dotPageStateService.haveContent$ | async) === false"
        [pageState]="pageState" />
    @if (showWhatsChanged && isEnterpriseLicense$ | async) {
        <div class="flex items-center">
            <p-checkbox
                (onChange)="whatschange.emit($event.checked)"
                [inputId]="'whats-changed-seo'"
                [binary]="true"
                class="flex dot-edit__what-changed-button" />
            <label [for]="'whats-changed-seo'">
                {{ 'dot.common.whats.changed' | dm }}
            </label>
        </div>
    }
} @else {
    <dot-language-selector
        (selected)="changeLanguageHandler($event)"
        [pageId]="pageState.page.identifier"
        [readonly]="!!variant"
        [value]="pageState.viewAs.language" />
}

<p-confirmDialog
    [acceptIcon]="null"
    [rejectIcon]="null"
    [style]="{ width: '500px' }"
    key="lang-confirm-dialog"
    rejectButtonStyleClass="p-button-outlined" />

@if (showEditJSPDialog()) {
    <dot-iframe-dialog
        (custom)="customIframeDialog($event)"
        (shutdown)="removeEditJSPDialog()"
        [header]="pageState.page.title"
        [url]="urlEditPageIframeDialog()" />
}
