<ng-container *ngIf="isEnterpriseLicense$ | async as isEnterpriseLicense; else language">
    <dot-language-selector
        [pTooltip]="pageState.viewAs.language.language"
        [pageId]="pageState.page.identifier"
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"
        appendTo="body"
        tooltipPosition="bottom"
        tooltipStyleClass="dot-language-selector__dialog" />

    <dot-persona-selector
        [disabled]="(dotPageStateService.haveContent$ | async) === false"
        [pageState]="pageState"
        (delete)="deletePersonalization($event)"
        (selected)="changePersonaHandler($event)"></dot-persona-selector>

    <p-checkbox
        class="flex dot-edit__what-changed-button"
        *ngIf="showWhatsChanged && isEnterpriseLicense$ | async"
        [binary]="true"
        [label]="'dot.common.whats.changed' | dm"
        (onChange)="whatschange.emit($event.checked)"></p-checkbox>
</ng-container>

<ng-template #language>
    <dot-language-selector
        [pageId]="pageState.page.identifier"
        [readonly]="!!variant"
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"></dot-language-selector>
</ng-template>

<p-confirmDialog
    [acceptIcon]="null"
    [rejectIcon]="null"
    [style]="{ width: '500px' }"
    key="lang-confirm-dialog"
    rejectButtonStyleClass="p-button-outlined" />

@if (showEditJSPDialog()){
<dot-iframe-dialog
    [header]="pageState.page.title"
    [url]="urlEditPageIframeDialog()"
    (custom)="customIframeDialog($event)"
    (shutdown)="removeEditJSPDialog()" />
}
