<ng-container *ngIf="isEnterpriseLicense$ | async as isEnterpriseLicense; else language">
    <dot-language-selector
        [pTooltip]="pageState.viewAs.language.language"
        [readonly]="!!variant"
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"
        appendTo="body"
        tooltipPosition="bottom"
        tooltipStyleClass="dot-language-selector__dialog"
    ></dot-language-selector>

    <dot-persona-selector
        [disabled]="(dotPageStateService.haveContent$ | async) === false"
        [pageState]="pageState"
        [readonly]="!!variant"
        (delete)="deletePersonalization($event)"
        (selected)="changePersonaHandler($event)"
    ></dot-persona-selector>

    <p-checkbox
        class="flex w-7 dot-edit__what-changed-button"
        *ngIf="showWhatsChanged && isEnterpriseLicense$ | async"
        [binary]="true"
        [label]="'dot.common.whats.changed' | dm"
        (onChange)="whatschange.emit($event.checked)"
    ></p-checkbox>
</ng-container>

<ng-template #language>
    <dot-language-selector
        [readonly]="!!variant"
        [value]="pageState.viewAs.language"
        (selected)="changeLanguageHandler($event)"
    ></dot-language-selector>
</ng-template>
