@import "variables";
form {
    width: 400px;
}

p-selectbutton {
    display: block;
    border-bottom: solid 1px $gray-light;
}

.download-bundle__error {
    display: flex;
    justify-content: flex-end;
    color: $error;
}
