<div class="dot-apps-configuration-list__results">
    <dot-apps-configuration-item
        *ngFor="let site of siteConfigurations; let i = index"
        [site]="site"
        (edit)="edit.emit($event)"
        (delete)="delete.emit($event)"
    ></dot-apps-configuration-item>
</div>

<button
    pButton
    secondary
    class="dot-apps-configuration-list__show-more"
    [label]="messagesKey['apps.configurations.show.more']"
    (click)="loadNext()"
    [disabled]="disabledLoadDataButton"
></button>
