@use "../../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;
$icon-size: 24px;

:host {
    overflow: auto;
    margin-bottom: 1.5rem;
}
.content-types-fields-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-types-fields-list__item {
    align-items: center;
    cursor: move;
    display: flex;
    line-height: spacing.$spacing-5;
    padding: spacing.$spacing-1 spacing.$spacing-3;
    touch-action: none;
    transition: background-color $basic-speed;

    dot-icon {
        color: colors.$color-palette-gray-700;
        margin-right: spacing.$spacing-3;
        transition: color $basic-speed;
    }

    &:hover {
        background-color: $bg-hover;

        dot-icon {
            color: fonts.$font-color-base;
        }
    }

    &:nth-child(2) {
        border-bottom: solid 1px colors.$color-palette-gray-300;
    }
}
