@use "variables" as *;

:host {
    display: flex;
    flex-direction: column;

    dot-iframe {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        ::ng-deep iframe {
            flex-grow: 1;
        }
    }

    .whats-changed__empty-state {
        text-align: center;
        margin-top: $spacing-9;
        font-size: $font-size-xl;
    }
}
