@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: flex;
    flex-direction: column;

    dot-iframe {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        ::ng-deep iframe {
            flex-grow: 1;
        }
    }

    .whats-changed__empty-state {
        text-align: center;
        margin-top: spacing.$spacing-9;
        font-size: fonts.$font-size-xl;
    }
}
