<div class="h-full flex">
    <dot-searchable-dropdown
        class="h-full flex-auto flex"
        #searchableDropdown
        [(ngModel)]="value"
        [action]="addAction"
        [data]="personas"
        [disabled]="disabled"
        [rows]="paginationPerPage"
        [totalRecords]="paginationService.totalRecords"
        (display)="iframeOverlayService.show()"
        (filterChange)="handleFilterChange($event)"
        (hide)="iframeOverlayService.hide()"
        (pageChange)="handlePageChange($event)"
        (switch)="personaChange($event)"
        labelPropertyName="name"
        width="448px"
    >
        <ng-template let-persona="item" pTemplate="select">
            <dot-persona-selected-item
                [disabled]="disabled"
                [isEditMode]="isEditMode"
                [pTooltip]="!disabled ? persona?.name || ('modes.persona.no.persona' | dm) : ''"
                [persona]="persona"
                (click)="!disabled && searchableDropdown.toggleOverlayPanel($event)"
                appendTo="target"
                tooltipPosition="bottom"
            ></dot-persona-selected-item>
        </ng-template>
        <ng-template
            let-personaData="item"
            let-selectedOptionValue="selectedOptionValue"
            pTemplate="listItem"
        >
            <dot-persona-selector-option
                [canDespersonalize]="canDespersonalize"
                [class.highlight]="personaData.name === selectedOptionValue"
                [persona]="
                    value && value.identifier === personaData.identifier ? value : personaData
                "
                [selected]="value && value.identifier === personaData.identifier"
                (delete)="delete.emit(personaData)"
                (switch)="personaChange($event)"
            ></dot-persona-selector-option>
        </ng-template>
    </dot-searchable-dropdown>
</div>

<dot-add-persona-dialog
    #personaDialog
    (createdPersona)="handleNewPersona($event)"
></dot-add-persona-dialog>
