<div class="h-full flex">
    <dot-searchable-dropdown
        (display)="iframeOverlayService.show()"
        (filterChange)="handleFilterChange($event)"
        (hide)="iframeOverlayService.hide()"
        (pageChange)="handlePageChange($event)"
        (switch)="personaChange($event)"
        [(ngModel)]="value"
        [action]="addAction"
        [data]="personas"
        [disabled]="disabled"
        [rows]="paginationPerPage"
        [totalRecords]="paginationService.totalRecords"
        class="h-full flex-auto flex"
        #searchableDropdown
        labelPropertyName="name"
        width="448px">
        <ng-template let-data="data" pTemplate="list">
            @for (personaData of data; track $index) {
                <dot-persona-selector-option
                    (delete)="delete.emit(personaData)"
                    (switch)="personaChange($event)"
                    [canDespersonalize]="canDespersonalize"
                    [class.highlight]="
                        value?.identifier === personaData?.identifier ||
                        (!value && personaData?.identifier === defaultPersonaIdentifier)
                    "
                    [persona]="value?.identifier === personaData?.identifier ? value : personaData"
                    [selected]="
                        value?.identifier === personaData?.identifier ||
                        (!value && personaData?.identifier === defaultPersonaIdentifier)
                    " />
            }
        </ng-template>
        <ng-template let-persona="item" pTemplate="select">
            <dot-persona-selected-item
                (click)="!disabled && !readonly && searchableDropdown.toggleOverlayPanel($event)"
                [class.readonly]="readonly"
                [disabled]="disabled"
                [isEditMode]="isEditMode"
                [pTooltip]="!disabled ? persona?.name || ('modes.persona.no.persona' | dm) : ''"
                [persona]="persona"
                [readonly]="readonly"
                appendTo="target"
                tooltipPosition="bottom" />
        </ng-template>
    </dot-searchable-dropdown>
</div>

<dot-add-persona-dialog (createdPersona)="handleNewPersona($event)" #personaDialog />
