<dot-dialog
    (hide)="closeDialog()"
    [actions]="dialogActions$ | async"
    [header]="dialogTitle"
    [isSaving]="isSaving$ | async"
    [visible]="isVisibleDialog"
    class="no-overflow"
    width="600px"
>

    <form
        #formEl="ngForm"
        (keyup.enter)="submitForm()"
        (ngSubmit)="submitForm()"
        [formGroup]="form"
        class="p-fluid"
        novalidate
    >

        <div class="field form__group--validation">
            <label for="content-type-form-name">{{ inputNameWithType }} *</label>
            <input
                [tabindex]="1"
                dotAutofocus
                formControlName="name"
                id="content-type-form-name"
                name="name"
                pInputText
                type="text"
            />
            <dot-field-validation-message
                [field]="nameControl"
                [message]="'dot.common.message.field.required' | dm: [inputNameWithType]"
            ></dot-field-validation-message>
        </div>

        <div class="field form__group--validation">
            <label for="content-type-form-variable-name">{{ 'contenttypes.form.label.variable_name' | dm }} </label>
            <input
                [tabindex]="2"
                formControlName="variable"
                id="content-type-form-variable-name"
                name="variable"
                pInputText
                placeholder="{{'contentType.form.variable.placeholder' | dm}}"
                type="text"
            />
            <dot-field-validation-message
                [field]="this.variableControl"
            ></dot-field-validation-message>
        </div>

        <div class="field">
            <label for="content-type-form-icon">{{ 'contenttypes.form.label.icon' | dm }}</label>
            <dot-md-icon-selector
                formControlName="icon"
                id="content-type-form-icon"
            ></dot-md-icon-selector>
        </div>

        <div class="field">
            <label for="content-type-form-host">{{
                'contenttypes.form.field.host_folder.label' | dm
                }}</label>
            <dot-site-selector-field
                [system]="true"
                [tabindex]="3"
                formControlName="host"
                id="content-type-form-host"
            ></dot-site-selector-field>
        </div>

    </form>

</dot-dialog>

