<dot-dialog
    (hide)="shutdown.emit()"
    [(visible)]="visible"
    [header]="'my-account' | dm"
    [actions]="dialogActions"
    [isSaving]="isSaving$ | async">
    <form class="my-account p-fluid" #myAccountForm="ngForm">
        <div class="field">
            <label dotFieldRequired for="dot-my-account-first-name-input">
                {{ 'First-Name' | dm }}
            </label>
            <input
                [(ngModel)]="dotAccountUser.givenName"
                id="dot-my-account-first-name-input"
                #firstNameInput="ngModel"
                pInputText
                name="givenName"
                required />
            <small [hidden]="firstNameInput.valid || firstNameInput.pristine" class="p-invalid">
                {{ getRequiredMessage('First-Name' | dm) }}
            </small>
        </div>

        <div class="field">
            <label dotFieldRequired for="dot-my-account-first-name-input">
                {{ 'Last-Name' | dm }}
            </label>
            <input
                [(ngModel)]="dotAccountUser.surname"
                id="dot-my-account-last-name-input"
                #lastNameInput="ngModel"
                pInputText
                name="surname"
                required />
            <small [hidden]="lastNameInput.valid || lastNameInput.pristine" class="p-invalid">
                {{ getRequiredMessage('Last-Name' | dm) }}
            </small>
        </div>

        <div class="field">
            <label dotFieldRequired for="dot-my-account-email-input">
                {{ 'email-address' | dm }}
            </label>
            <input
                [(ngModel)]="dotAccountUser.email"
                [pattern]="emailRegex"
                id="dot-my-account-email-input"
                #emailInput="ngModel"
                pInputText
                name="email"
                type="email"
                required />
            <small [hidden]="emailInput.valid || emailInput.pristine" class="p-invalid">
                @if (emailInput.errors && emailInput.errors.required) {
                    <span>
                        {{ getRequiredMessage('email-address' | dm) }}
                    </span>
                }
                @if (emailInput.errors && emailInput.errors.pattern) {
                    <span>
                        {{ 'errors.email' | dm: ['email-address' | dm] }}
                    </span>
                }
            </small>
        </div>

        <div class="field">
            <p-checkbox
                [(ngModel)]="showStarter"
                [ngModelOptions]="{ standalone: true }"
                #showStarterCheckbox
                data-testid="showStarterBtn"
                binary="true"
                label="{{ 'starter.show.getting.started' | dm }}"></p-checkbox>
        </div>

        <div class="field">
            <label dotFieldRequired for="dot-my-account-current-password-input">
                {{ 'current-password' | dm }}
            </label>
            <input
                [(ngModel)]="dotAccountUser.currentPassword"
                [feedback]="false"
                id="dot-my-account-current-password-input"
                #currentPasswordInput="ngModel"
                pPassword
                name="password"
                type="password"
                required />

            @if (confirmPasswordFailedMsg) {
                <small class="p-invalid" data-testId="dotCurrrentPasswordFailedMsg">
                    {{ confirmPasswordFailedMsg }}
                </small>
            }
        </div>
        <div class="field">
            <p-checkbox
                (onChange)="toggleChangePasswordOption()"
                id="dot-my-account-change-password-option"
                binary="true"
                label="{{ 'change-password' | dm }}"></p-checkbox>
        </div>
        <div class="field">
            <label for="dot-my-account-new-password-input">{{ 'new-password' | dm }}</label>
            <input
                (keyup)="checkPasswords()"
                [(ngModel)]="dotAccountUser.newPassword"
                [disabled]="!changePasswordOption"
                id="dot-my-account-new-password-input"
                #passwordInput="ngModel"
                pPassword
                name="newPassword"
                type="password" />

            @if (newPasswordFailedMsg) {
                <small class="p-invalid" data-testId="dotSavePasswordFailedMsg">
                    {{ newPasswordFailedMsg }}
                </small>
            }
        </div>
        <div class="field">
            <label for="dot-my-account-confirm-new-password-input">
                {{ 're-enter-new-password' | dm }}
            </label>
            <input
                (keyup)="checkPasswords()"
                [(ngModel)]="passwordConfirm"
                [feedback]="false"
                [disabled]="!changePasswordOption"
                id="dot-my-account-confirm-new-password-input"
                #confirmPasswordInput="ngModel"
                pPassword
                name="confirmPassword"
                type="password" />
            <small
                [hidden]="!(passwordInput.dirty && confirmPasswordInput.dirty) || passwordMatch"
                class="p-invalid">
                {{ 'error.forgot.password.passwords.dont.match' | dm }}
            </small>
        </div>
    </form>
</dot-dialog>
