<div [formGroup]="group" class="field">
    <label [for]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.newRenderMode.label' | dm }}
    </label>
    <div class="flex gap-3 mt-2">
        @for (renderMode of $renderModes(); track renderMode.value) {
            <p-card
                class="cursor-pointer border"
                [class.border-primary-500]="value === renderMode.value"
                [class.bg-primary-100]="value === renderMode.value"
                [class.border-gray-300]="value !== renderMode.value"
                [class.hover:border-primary-400]="value !== renderMode.value"
                tabindex="0"
                (click)="choose(renderMode.value)">
                <div class="flex gap-3 items-center">
                    <p-radioButton
                        name="newRenderMode"
                        [value]="renderMode.value"
                        [formControlName]="property.name"
                        [inputId]="renderMode.value" />
                    <div class="flex flex-col gap-1 flex-1">
                        <div class="font-bold">
                            {{ renderMode.label | dm }}
                        </div>
                        <div class="text-sm">
                            {{ renderMode.tooltip | dm }}
                        </div>
                    </div>
                </div>
            </p-card>
        }
    </div>
</div>
