<dot-dialog
    [header]="i18nMessages['login-as']"
    [(visible)]="visible"
    [actions]="dialogActions"
    (hide)="close()"
>
    <!--TODO: manage errors on required fields and errors messages -->
    <span class="error-message">{{ errorMessage }}</span>
    <form [formGroup]="form" (ngSubmit)="doLoginAs()" id="login-as-form" #formEl="ngForm" novalidate>
        <div class="form__group">
            <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
            <dot-searchable-dropdown #searchableDropdown
                (change)="userSelectedHandler($event)"
                (filterChange)="handleFilterChange($event)"
                (pageChange)="handlePageChange($event)"
                [data]="userCurrentPage"
                [pageLinkSize]="paginationService.maxLinksPage"
                [rows]="paginationService.paginationPerPage"
                [totalRecords]="paginationService.totalRecords"
                placeholder="{{ i18nMessages['loginas.select.loginas.user'] }}"
                formControlName="loginAsUser"
                labelPropertyName="fullName"
                width="100%">
            </dot-searchable-dropdown>
        </div>
        <div class="form__group" *ngIf="needPassword">
            <input pPassword #password [feedback]="false" formControlName="password" id="dot-login-as-password" type="password" placeholder="{{ i18nMessages['loginas.input.loginas.password'] }}" floatingPlaceholder="false"/>
        </div>
    </form>
</dot-dialog>
