<p-dialog header="{{i18nMessages['login-as']}}" [(visible)]="visible" appendTo="body" modal="modal" resizable class="login-as" [width]="250">
    <!--TODO: manage errors on required fields and errors messages -->
    <form [formGroup]="form" (ngSubmit)="doLoginAs($event)" id="login-as-form" novalidate>    
        <div class="form__group">
            <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
            <searchable-dropdown #searchableDropdown
                (change)="userSelectedHandler($event)"
                (filterChange)="handleFilterChange($event)"
                (pageChange)="handlePageChange($event)"
                [data]="userCurrentPage"
                [pageLinkSize]="paginationService.maxLinksPage"
                [rows]="paginationService.paginationPerPage"
                [totalRecords]="paginationService.totalRecords"
                placeholder="{{i18nMessages['loginas.select.loginas.user']}}"
                formControlName="loginAsUser"
                labelPropertyName="fullName"
                width="100%">
            </searchable-dropdown>
        </div>
        <div class="form__group" *ngIf="needPassword">
            <input pPassword formControlName="password" id="dot-login-as-password" type="password" placeholder="{{i18nMessages['password']}}" floatingPlaceholder="false"/>
        </div>
    
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="submit" id="dot-login-as-button-change" [disabled]="!form.valid" label="{{i18nMessages['Change']}}"></button>
                <button pButton flat id="dot-login-as-button-cancel" (click)="close($event)" label="{{i18nMessages['cancel']}}"></button>
            </div>
        </footer>
    </form>
</p-dialog>


