<p-dialog header="{{ i18nMessages['login-as'] }}" [(visible)]="visible" appendTo="body" modal="modal" resizable class="login-as" [width]="250">
    <!--TODO: manage errors on required fields and errors messages -->
    <span class="error-message">{{ errorMessage }}</span>
    <form [formGroup]="form" (ngSubmit)="doLoginAs($event)" id="login-as-form" #formEl="ngForm" novalidate>    
        <div class="form__group">
            <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
            <dot-searchable-dropdown #searchableDropdown
                (change)="userSelectedHandler($event)"
                (filterChange)="handleFilterChange($event)"
                (pageChange)="handlePageChange($event)"
                [data]="userCurrentPage"
                [pageLinkSize]="paginationService.maxLinksPage"
                [rows]="paginationService.paginationPerPage"
                [totalRecords]="paginationService.totalRecords"
                placeholder="{{ i18nMessages['loginas.select.loginas.user'] }}"
                formControlName="loginAsUser"
                labelPropertyName="fullName"
                width="100%">
            </dot-searchable-dropdown>
        </div>
        <div class="form__group" *ngIf="needPassword">
            <input pPassword #password [feedback]="false" formControlName="password" id="dot-login-as-password" type="password" placeholder="{{ i18nMessages['loginas.select.loginas.password'] }}" floatingPlaceholder="false"/>
        </div>
    </form>
    <p-footer>
        <button pButton class="cancel" id="dot-login-as-button-cancel" (click)="close($event)" label="{{ i18nMessages['cancel'] }}"></button>
        <button pButton (click)="formEl.ngSubmit.emit()" id="dot-login-as-button-change" [disabled]="!form.valid || (needPassword && !this.form.value.password)" label="{{ i18nMessages['Change'] }}"></button>
    </p-footer>
</p-dialog>


