@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/shadows";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

.bulk-information__success-message {
    color: colors.$color-palette-gray-700;
    font-size: fonts.$font-size-lmd;
    text-align: center;
    padding-top: spacing.$spacing-3;
    padding-bottom: spacing.$spacing-5;
}

.bulk-information__fail-container {
    display: flex;
    flex-direction: column;

    > .bulk-information__fail-item + * {
        margin-top: spacing.$spacing-3;
    }
}

.bulk-information__fail-message {
    background: hsl(7, 68%, 96%);
    color: colors.$red;
    padding: 0.2rem spacing.$spacing-3; // 0.2rem hard coded as $spacing-1 is a bit too much
    border-radius: 1.8rem;
    display: inline-block;
    text-align: center;
    align-self: center;

    > span {
        vertical-align: middle;
        margin: 0 0.25rem;
    }
}

.bulk-information__fail-item {
    h5,
    p {
        margin: 0;
        padding: 0;
    }
    h5 {
        padding-bottom: spacing.$spacing-1;
        font-size: fonts.$font-size-lmd;
    }
    padding: spacing.$spacing-3;
    box-shadow: shadows.$shadow-xs;
}
