<p data-testId="successful" class="bulk-information__success-message">
    {{ data.action }}: {{ data.successCount }}
</p>

<div class="bulk-information__fail-container">
    <p class="bulk-information__fail-message">
        <span class="material-icons">error_outline</span>
        <span data-testId="fails">{{ data.fails?.length }} {{ 'failed' | dm }}</span>
    </p>
    @for (item of data.fails; track item) {
        <div class="bulk-information__fail-item">
            <h5>{{ item.description }}</h5>
            <p>{{ item.errorMessage }}</p>
        </div>
    }
</div>
