@use "variables" as *;

.bulk-information__success-message {
    color: $color-palette-gray-700;
    font-size: $font-size-lmd;
    text-align: center;
    padding-top: $spacing-3;
    padding-bottom: $spacing-5;
}

.bulk-information__fail-container {
    display: flex;
    flex-direction: column;

    > .bulk-information__fail-item + * {
        margin-top: $spacing-3;
    }
}

.bulk-information__fail-message {
    background: hsl(7, 68%, 96%);
    color: $red;
    padding: 0.2rem $spacing-3; // 0.2rem hard coded as $spacing-1 is a bit too much
    border-radius: 1.8rem;
    display: inline-block;
    text-align: center;
    align-self: center;

    > span {
        vertical-align: middle;
        margin: 0 0.25rem;
    }
}

.bulk-information__fail-item {
    h5,
    p {
        margin: 0;
        padding: 0;
    }
    h5 {
        padding-bottom: $spacing-1;
        font-size: $font-size-lmd;
    }
    padding: $spacing-3;
    box-shadow: $shadow-xs;
}
