<?xml version="1.0" encoding="UTF-8"?>

<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Service name="Catalina">
    <Executor
        name="tomcatConnectorThreadPool"
        namePrefix="ConnectorThreadPool-"
        maxThreads="${CMS_CONNECTOR_THREADS}"
        minSpareThreads="25"
    />

    <!-- HTTP Connector, no proxy
     client <-HTTP-> dotCMS:8080
    -->
    <Connector
        port="8080"
        scheme="http"
        redirectPort="8443"
        executor="tomcatConnectorThreadPool"
        protocol="org.apache.coyote.http11.Http11Nio2Protocol"
        connectionTimeout="3000"
        enableLookups="false"
        URIEncoding="UTF-8"
        bindOnInit="true"
        compression="${CMS_COMPRESSION}"
        compressibleMimeType="${CMS_COMPRESSIBLEMIMETYPE}"
        noCompressionStrongETag="${CMS_NOCOMPRESSIONSTRONGETAG}"
        compressionMinSize="128"
        useSendfile="false"
    />

    <!-- HTTP Connector from upstream proxy 
         client <-HTTP-> proxy:80 <-HTTP-> dotCMS:8081
    -->
    <Connector 
        port="8081"
        proxyPort="80"
        scheme="http"
        redirectPort="443"
        executor="tomcatConnectorThreadPool" 
        protocol="org.apache.coyote.http11.Http11Nio2Protocol"
        connectionTimeout="3000"
        enableLookups="false"
        URIEncoding="UTF-8"
        bindOnInit="true"
        compression="${CMS_COMPRESSION}"
        compressibleMimeType="${CMS_COMPRESSIBLEMIMETYPE}"
        noCompressionStrongETag="${CMS_NOCOMPRESSIONSTRONGETAG}"
        compressionMinSize="128"
        useSendfile="false"
    />

    <!-- HTTPS (SSL) Connector from upstream proxy
         client <-HTTPS-> proxy:443 <-HTTP-> dotCMS:8082
     -->
    <Connector 
        port="8082"
        proxyPort="443"
        scheme="https"
        redirectPort="443"
        executor="tomcatConnectorThreadPool"
        protocol="org.apache.coyote.http11.Http11Nio2Protocol"
        connectionTimeout="3000"
        enableLookups="false"
        URIEncoding="UTF-8"
        bindOnInit="true"
        secure="true" 
        compression="${CMS_COMPRESSION}"
        compressibleMimeType="${CMS_COMPRESSIBLEMIMETYPE}"
        noCompressionStrongETag="${CMS_NOCOMPRESSIONSTRONGETAG}"
        compressionMinSize="128"
        useSendfile="false"
    />


    <!-- HTTPS (SSL) Connector
         client <-HTTPS-> proxy:443 <-HTTPS-> dotCMS:8443
         To use APR and native openssl for https, add:
         sslImplementationName="org.apache.tomcat.util.net.openssl.OpenSSLImplementation"
    -->
    <Connector
        port="8443"
        proxyPort="443"
        scheme="https"
        redirectPort="8443"
        protocol="org.apache.coyote.http11.Http11Nio2Protocol"
        executor="tomcatConnectorThreadPool"
        connectionTimeout="3000"
        enableLookups="false"
        URIEncoding="UTF-8"
        bindOnInit="true"
        secure="true"
        compression="${CMS_COMPRESSION}"
        compressibleMimeType="${CMS_COMPRESSIBLEMIMETYPE}"
        noCompressionStrongETag="${CMS_NOCOMPRESSIONSTRONGETAG}"
        compressionMinSize="128"
        useSendfile="false"
        SSLEnabled="true"
        SSLCertificateFile="conf/local.dotcms.site.pem"
        keystorePass="dotcms"
    />


    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost"  appBase="webapps">
      <!-- The remote IP valve picks up the X-FORWARDED-FOR header (by default) and uses it as the source ip 
           remoteIpHeader and internalProxies may need to change when behind some WAF or proxy servers
      -->
        <Valve 
            className="org.apache.catalina.valves.RemoteIpValve" 
             remoteIpHeader="${CMS_REMOTEIP_REMOTEIPHEADER}" 
             internalProxies="${CMS_REMOTEIP_INTERNALPROXIES}" 
        />

        <!-- Do not show server details up on BadRequest -->
        <Valve className="org.apache.catalina.valves.ErrorReportValve"
             showReport="false"
             showServerInfo="false"
        />

        <!-- Access log processes all example.  Documentation at: /docs/config/valve.html -->
        <Valve
            className="org.apache.catalina.valves.AccessLogValve" 
            directory="${CMS_ACCESSLOG_DIRECTORY}"
            prefix="dotcms_access" 
            suffix=".log"
            pattern="${CMS_ACCESSLOG_PATTERN}" 
            fileDateFormat="${CMS_ACCESSLOG_FILEDATEFORMAT}"
            maxDays="${CMS_ACCESSLOG_MAXDAYS}"
            renameOnRotate="${CMS_ACCESSLOG_RENAMEONROTATE}"
            rotatable="${CMS_ACCESSLOG_ROTATABLE}"
        />

      </Host>
    </Engine>
  </Service>
</Server>
