@let data = $data();
@let collapsed = $collapsed();
<div class="dot-nav__title">
    <div
        (mouseenter)="setSubMenuPosition()"
        [class.dot-nav__item--active]="data.isOpen"
        class="dot-nav__item"
        data-testid="nav-item"
        appendTo="target">
        <div
            class="dot-nav__item-main"
            data-testid="nav-item-main"
            (click)="clickHandler($event, data)">
            <dot-nav-icon
                [icon]="data.icon === labelImportantIcon ? (data.label | dotRandomIcon) : data.icon"
                aria-hidden="true"></dot-nav-icon>
            <span class="dot-nav__item-label" data-testid="nav-item-label">{{ data.label }}</span>
        </div>
        <div
            class="dot-nav__item-toggle"
            data-testid="nav-item-toggle"
            (click)="toggleHandler($event, data)">
            <i
                class="dot-nav__item-arrow pi"
                [ngClass]="data.isOpen ? 'pi-chevron-up' : 'pi-chevron-down'"
                aria-hidden="true"></i>
        </div>
    </div>
</div>
<dot-sub-nav
    (itemClick)="handleItemClick($event)"
    [ngStyle]="customStyles"
    [data]="data"
    [collapsed]="collapsed"
    #subnav></dot-sub-nav>
