@use "variables" as *;
@use "mixins";
@use "dotcms-theme/utils/theme-variables";
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/shadows";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;
    font-size: fonts.$font-size-md;

    &.dot-nav-item__collapsed {
        position: relative;
        transition: background-color $basic-speed ease;

        &:hover {
            background-color: colors.$color-palette-white-op-10;

            dot-sub-nav {
                height: auto !important;
                left: $navigation-width-collased;
                opacity: 1;
                pointer-events: all;
                position: absolute;
                top: 0;
                transform: translateY(0);
                transition:
                    opacity $basic-speed ease,
                    transform $basic-speed ease;
                z-index: 9999;
            }
        }

        dot-sub-nav,
        .dot-nav__item-label,
        .dot-nav__item-arrow {
            pointer-events: none;
            opacity: 0;
        }

        dot-sub-nav {
            background: var(--color-palette-primary-800);
            border-bottom-right-radius: 0.1875rem;
            border-top-right-radius: 0.1875rem;
            box-shadow: shadows.$shadow-s;
            transform: translateY(1rem);
        }

        dot-icon {
            opacity: 0;
        }

        .dot-nav__title {
            width: $navigation-width-collased;
        }

        .dot-nav__item {
            height: $navigation-item-height;
        }

        .dot-nav__item--active {
            background-color: colors.$color-palette-primary;
        }
    }
}

.dot-nav__title {
    overflow: hidden;
    transition: width $basic-speed ease;
    width: $navigation-width;
}

.dot-nav__item {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: $navigation-item-height;
    position: relative;
    transition: background-color $basic-speed ease;
    width: $navigation-width;
}

.dot-nav__item-main {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: spacing.$spacing-3 0 spacing.$spacing-2 spacing.$spacing-4;
}

.dot-nav__item-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: spacing.$spacing-3 spacing.$spacing-4 spacing.$spacing-2 0;
    position: relative;
}

.dot-nav__item-label {
    flex: 1;
    margin-left: spacing.$spacing-3;
    word-break: break-word;
    transition: opacity $basic-speed ease;
}

.dot-nav__item-arrow {
    opacity: 1;
    position: absolute;
    right: spacing.$spacing-2;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity $basic-speed ease;
    font-size: fonts.$font-size-sm;
}

dot-nav-icon {
    flex-shrink: 0;
    pointer-events: none;
}
