<div class="dot-nav__title">
    <div
        (click)="clickHandler($event, data)"
        (mouseenter)="setSubMenuPosition()"
        [class.dot-nav__item--active]="data.active"
        class="dot-nav__item"
        appendTo="target">
        <dot-nav-icon
            [icon]="
                data.tabIcon === labelImportantIcon ? (data.tabName | dotRandomIcon) : data.tabIcon
            "
            aria-hidden="true"></dot-nav-icon>
        <span class="dot-nav__item-label">{{ data.tabName }}</span>
        <dot-icon
            class="dot-nav__item-arrow"
            aria-hidden="true"
            name="{{ data.isOpen ? 'arrow_drop_down' : 'arrow_drop_up' }}"></dot-icon>
    </div>
</div>
<dot-sub-nav
    (itemClick)="handleItemClick($event)"
    [ngStyle]="customStyles"
    [data]="data"
    [collapsed]="collapsed"
    #subnav></dot-sub-nav>
