@if (loginInfo$ | async; as loginInfo) {
    <div class="forgot-password__container">
        <h3 data-testId="header">{{ loginInfo.i18nMessagesMap['forgot-password'] }}</h3>
        <p [innerHTML]="message" class="p-invalid" data-testId="errorMessage"></p>
        <form [formGroup]="forgotPasswordForm" class="p-fluid">
            <div class="field form__group--validation">
                <label dotFieldRequired data-testId="usernameLabel" for="username">
                    {{ loginInfo.i18nMessagesMap['emailAddressLabel'] }}
                </label>
                <input
                    id="username"
                    pInputText
                    type="text"
                    dotAutofocus
                    formControlName="login"
                    autocomplete="username"
                    data-testId="input" />
                <dot-field-validation-message
                    [message]="
                        loginInfo?.i18nMessagesMap['error.form.mandatory'].replace(
                            '{0}',
                            loginInfo.i18nMessagesMap['emailAddressLabel']
                        )
                    "
                    [field]="forgotPasswordForm.get('login')" />
            </div>
            <div class="field">
                <button
                    (click)="goToLogin()"
                    [label]="loginInfo.i18nMessagesMap['cancel']"
                    class="p-button-outlined"
                    pButton
                    data-testId="cancelButton"
                    type="button"></button>
                <button
                    (click)="submit()"
                    [disabled]="!forgotPasswordForm.valid"
                    [label]="loginInfo.i18nMessagesMap['get-new-password']"
                    pButton
                    type="submit"
                    data-testId="submitButton"></button>
            </div>
        </form>
    </div>
}
