<dot-portlet-base>
    <dot-portlet-toolbar [actions]="actions"> </dot-portlet-toolbar>
    <form class="p-fluid" [formGroup]="group">
        <div class="p-field">
            <label for="title" class="p-label-input-required">Title</label>
            <input id="title" formControlName="title" type="text" placeholder="Title" pInputText />
            <dot-field-validation-message
                [field]="group.controls['title']"
                message="This field is required"
            >
            </dot-field-validation-message>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <input
                id="description"
                formControlName="friendlyName"
                type="text"
                placeholder="Description"
                pInputText
            />
        </div>
        <div class="p-field">
            <label for="button">Template</label> <br />
            <dot-container-selector (change)="containerChange($event)"> </dot-container-selector>
            <dot-textarea-content
                #value
                height="30rem"
                formControlName="body"
                [show]="['code']"
                (monacoInit)="initEditor($event)"
            ></dot-textarea-content>
        </div>
    </form>
</dot-portlet-base>
