<li class="notification-item {{ data.level | lowercase }}">
    <div class="notification-item__wrapper">
        <i [class]="getIconName(data.level)"></i>
        <div class="notification-item__content">
            <p class="notification-item__message" id="{{ 'notification-item-message-' + data.id }}">
                {{ data.notificationData.message }}
                @if (showLinkAction) {
                    <a
                        [href]="data.notificationData.actions[0].action"
                        class="notification-item__link"
                        id="{{ 'notification-item-link-action' + data.id }}">
                        {{ data.notificationData.actions[0].text }}
                    </a>
                }
                <dot-custom-time
                    id="{{ 'notification-item-date-' + data.id }}"
                    time="{{ data.timeSent }}"></dot-custom-time>
            </p>
            <!--TODO: handle more than one action-->
        </div>
        <p-button
            (click)="onClear()"
            class="notification-item__close"
            id="{{ 'notification-item-button-close-' + data.id }}"
            icon="pi pi-times"
            title="{{ 'notifications_dismiss' | dm }}"
            styleClass="p-button-rounded p-button-text p-button-sm p-button-primary"></p-button>
    </div>
</li>
