:host {
  flex: 1;
  margin: 0 50px;
}

:host .global-search__textbox {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 18px;
  height: 36px;
  padding: 0 10px;
  width: 100%;
}

:host .global-search__textbox::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:host .global-search__textbox:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:host .global-search__textbox::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

:host .global-search__textbox:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
