<p-overlayPanel #op styleClass="dotDeviceSelector__overlayPanel">
    <div class="dotDeviceSelector__column">
        <div class="dotDeviceSelector__panel">
            <div class="dotDeviceSelector__header">
                <h3 class="dotDeviceSelector__header__title">Devices</h3>
            </div>
            <div class="dotDeviceSelector__content">
                <ul class="device-list">
                    <li class="device-list__item" *ngFor="let option of defaultOptions">
                        <i [class]="option.icon" style="font-size: 1rem"></i>
                        <div class="device-list__item--content">
                            <span>{{ option.name }}</span>
                            <span class="device-list__item--dimensions"
                                >{{ option.cssHeight }} x {{ option.cssWidth }}</span
                            >
                        </div>
                    </li>
                </ul>
                <p-divider layout="vertical"></p-divider>
                <ul class="device-list">
                    <li class="device-list__item" *ngFor="let option of options">
                        <div class="device-list__item--content">
                            <span>{{ option.name }}</span>
                            <span class="device-list__item--dimensions"
                                >{{ option.cssHeight }} x {{ option.cssWidth }}</span
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dotDeviceSelector__column">
        <div class="dotDeviceSelector__panel">
            <div class="dotDeviceSelector__header">
                <h3 class="dotDeviceSelector__header__title">Social Media Tiles</h3>
            </div>
            <div class="dotDeviceSelector__content">
                <ul class="device-list">
                    <li class="device-list__item">
                        <i class="pi pi-facebook" style="font-size: 1rem"></i>
                        Facebook
                    </li>
                    <li class="device-list__item">
                        <i class="pi pi-twitter" style="font-size: 1rem"></i>
                        Twitter
                    </li>
                    <li class="device-list__item">
                        <i class="pi pi-linkedin" style="font-size: 1rem"></i>
                        Linkedin
                    </li>
                </ul>
            </div>
        </div>

        <div class="dotDeviceSelector__panel">
            <div class="dotDeviceSelector__header">
                <h3 class="dotDeviceSelector__header__title">Search Engine Results Pages</h3>
            </div>
            <div class="dotDeviceSelector__content">
                <ul class="device-list">
                    <li class="device-list__item">
                        <i class="pi pi-google" style="font-size: 1rem"></i>
                        Google
                    </li>
                </ul>
            </div>
        </div>
    </div>
</p-overlayPanel>
<p-button
    (click)="op.toggle($event)"
    icon="pi pi-angle-down"
    styleClass=" p-button-text"
></p-button>
