@if (visible()) {
    <p-dialog
        [visible]="visible()"
        [header]="dialogHeaderKey() | dm"
        [modal]="true"
        [style]="{ width: '26rem' }"
        [appendTo]="'body'"
        class="p-fluid"
        (visibleChange)="closeDialog()">
        @if (form) {
            <form class="form" [formGroup]="form" novalidate>
                @switch (action()) {
                    @case ('Export') {
                        <div class="field">
                            <label dotFieldRequired for="export-password">
                                {{ 'Password' | dm }}
                            </label>
                            <p-password
                                [placeholder]="'apps.confirmation.export.password.label' | dm"
                                inputId="export-password"
                                dotAutofocus
                                autocomplete="new-password"
                                formControlName="password"
                                [feedback]="false"
                                class="w-full"
                                inputStyleClass="w-full" />
                        </div>
                    }
                    @case ('Import') {
                        <div class="field">
                            <label dotFieldRequired for="import-file">
                                {{ 'Upload-File' | dm }}
                            </label>
                            <p-fileupload
                                mode="basic"
                                [chooseLabel]="'dot.common.choose' | dm"
                                chooseIcon="pi pi-upload"
                                accept=".tar.gz,.export"
                                (onSelect)="onFileSelect($event)"
                                (onClear)="onFileClear()" />
                        </div>
                        <div class="field">
                            <label dotFieldRequired for="import-password">
                                {{ 'Password' | dm }}
                            </label>
                            <p-password
                                [placeholder]="'apps.confirmation.import.password.label' | dm"
                                inputId="import-password"
                                autocomplete="new-password"
                                formControlName="password"
                                [feedback]="false"
                                class="w-full"
                                inputStyleClass="w-full" />
                        </div>
                        <input type="hidden" name="importFile" formControlName="importFile" />
                    }
                }

                <!-- Error Message Display -->
                @if (errorMessage()) {
                    <span class="text-red-500">{{ errorMessage() }}</span>
                }
            </form>
        }
        @if (dialogActions) {
            <ng-template #footer>
                @if (dialogActions.cancel) {
                    <p-button
                        [label]="dialogActions.cancel.label"
                        [disabled]="dialogActions.cancel.disabled"
                        severity="secondary"
                        (click)="dialogActions.cancel.action()"
                        data-testId="dotDialogCancelAction" />
                }
                @if (dialogActions.accept) {
                    <p-button
                        [label]="dialogActions.accept.label"
                        [disabled]="dialogActions.accept.disabled"
                        [loading]="isLoading()"
                        (click)="dialogActions.accept.action()"
                        data-testId="dotDialogAcceptAction" />
                }
            </ng-template>
        }
    </p-dialog>
}
