@if (show) {
    <p-dialog
        [(visible)]="show"
        [header]="dialogHeaderKey | dm"
        [modal]="true"
        [style]="{ width: '26rem' }"
        styleClass="p-fluid"
        appendTo="body"
        (visibleChange)="closeExportDialog()">
        <form class="form" [formGroup]="form" novalidate>
            @switch (action) {
                @case ('Export') {
                    <div class="field">
                        <label dotFieldRequired for="export-password">{{ 'Password' | dm }}</label>
                        <input
                            [placeholder]="'apps.confirmation.export.password.label' | dm"
                            id="export-password"
                            dotAutofocus
                            pPassword
                            autocomplete="new-password"
                            formControlName="password"
                            name="export-password"
                            type="password" />
                    </div>
                }
                @case ('Import') {
                    <div class="field">
                        <label dotFieldRequired for="import-file">{{ 'Upload-File' | dm }}</label>
                        <input
                            (change)="onFileChange($event.target.files)"
                            id="import-file"
                            #importFile
                            type="file"
                            dotAutofocus />
                    </div>
                    <div class="field">
                        <label dotFieldRequired for="import-password">{{ 'Password' | dm }}</label>
                        <input
                            [placeholder]="'apps.confirmation.import.password.label' | dm"
                            id="import-password"
                            autocomplete="new-password"
                            formControlName="password"
                            name="import-password"
                            pInputText
                            type="password" />
                    </div>
                    <input type="hidden" name="fileHidden" formControlName="importFile" />
                    <!-- Validation Field -->
                }
            }

            <!-- Error Message Display -->
            <span>{{ errorMessage }}</span>
        </form>
        @if (dialogActions) {
            <ng-template pTemplate="footer">
                @if (dialogActions.cancel) {
                    <p-button
                        [label]="dialogActions.cancel.label"
                        [disabled]="dialogActions.cancel.disabled"
                        severity="secondary"
                        (click)="dialogActions.cancel.action()"
                        data-testId="dotDialogCancelAction"></p-button>
                }
                @if (dialogActions.accept) {
                    <p-button
                        [label]="dialogActions.accept.label"
                        [disabled]="dialogActions.accept.disabled"
                        (click)="dialogActions.accept.action()"
                        data-testId="dotDialogAcceptAction"></p-button>
                }
            </ng-template>
        }
    </p-dialog>
}
