<dot-palette-input-filter
    (filter)="filterContentTypes($event)"
    #filterInput></dot-palette-input-filter>
<div *ngIf="items?.length && !loading" class="dot-content-palette__items">
    <div
        *ngFor="let item of items"
        (dragstart)="dragStart(item)"
        (click)="showContentTypesList(item.variable)"
        draggable="true"
        data-testId="paletteItem">
        <dot-icon [name]="item.icon" size="30"></dot-icon>
        <p>{{ item.name }}</p>
        <dot-icon name="keyboard_arrow_right" class="arrow"></dot-icon>
    </div>
</div>

<dot-spinner
    *ngIf="loading && viewContentlet === 'contentlet:out'"
    [size]="'40px'"
    [borderSize]="'8px'"></dot-spinner>

<span
    *ngIf="!items?.length && !loading"
    data-testId="emptyState"
    class="dot-content-palette__empty">
    {{ 'No-Results' | dm }}
</span>
