<dot-palette-input-filter (filter)="filterContentTypes($event)"
    #filterInput />
@if (items?.length && !loading) {
    <div class="dot-content-palette__items">
        @for (item of items; track item) {
            <div
                (dragstart)="dragStart(item)"
                (click)="showContentTypesList(item.variable)"
                draggable="true"
                data-testId="paletteItem">
                <dot-icon [name]="item.icon" size="30" />
                <p>{{ item.name }}</p>
                <dot-icon name="keyboard_arrow_right" class="arrow" />
            </div>
        }
    </div>
}

@if (loading && viewContentlet === 'contentlet:out') {
    <dot-spinner [size]="'40px'" [borderSize]="'8px'" />
}

@if (!items?.length && !loading) {
    <span data-testId="emptyState" class="dot-content-palette__empty">
        {{ 'No-Results' | dm }}
    </span>
}
