<dot-palette-input-filter
    #filterInput
    (filter)="filterContentTypes($event)"
></dot-palette-input-filter>
<div class="dot-content-palette__items" *ngIf="items?.length && !loading">
    <div
        *ngFor="let item of items"
        draggable="true"
        data-testId="paletteItem"
        (dragstart)="dragStart(item)"
        (click)="showContentTypesList(item.variable)"
    >
        <dot-icon size="30" [name]="item.icon"></dot-icon>
        <p>{{ item.name }}</p>
        <dot-icon name="keyboard_arrow_right" class="arrow"></dot-icon>
    </div>
</div>

<dot-spinner *ngIf="loading && viewContentlet === 'contentlet:out'" [size]="'40px'" [borderSize]="'8px'"></dot-spinner>

<span
    *ngIf="!items?.length && !loading"
    data-testId="emptyState"
    class="dot-content-palette__empty"
>
    {{ 'No-Results' | dm }}
</span>
