<ul class="dot-tree">
    <li>
        <div class="dot-tree__content">
            <dot-icon
                [class.dot-tree--active]="parent === contentType?.name"
                name="face"></dot-icon>
            <span data-testId="dot-tree-upper-text">{{ parent }}</span>
        </div>
        <ul class="dot-tree--child">
            <li>
                <div class="dot-tree__content">
                    <dot-icon
                        [class.dot-tree--active]="child === contentType?.name"
                        name="child_care"></dot-icon>
                    <span data-testId="dot-tree-nested-text">{{ child }}</span>
                </div>
            </li>
        </ul>
    </li>
</ul>
