@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/common";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    border: 1px solid colors.$color-palette-gray-500;
    display: block;
    border-radius: common.$border-radius-xs;
    padding: spacing.$spacing-3;

    ::ng-deep {
        .dot-tree--active {
            position: relative;
            &::after {
                background: colors.$color-palette-primary;
                width: spacing.$spacing-1;
                height: spacing.$spacing-1;
                position: absolute;
                content: "";
                border-radius: 50%;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.dot-tree {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;

    & > li::after {
        background: colors.$color-palette-gray-500;
        width: 1px;
        height: 1.3rem;
        content: "•";
        position: absolute;
        top: 1.4rem;
        left: 0.8rem;
        color: colors.$color-palette-gray-500;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        font-size: fonts.$font-size-lg;
        line-height: 1px;
    }
}
.dot-tree--child {
    position: relative;

    li {
        padding-top: 0.3rem;
    }

    & > li::after {
        background: colors.$color-palette-gray-500;
        width: 1.3rem;
        height: 1px;
        content: "";
        position: absolute;
        left: 0.8rem;
        top: spacing.$spacing-3;
    }
}

.dot-tree-query {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        padding: 0;
        margin-bottom: spacing.$spacing-1;
        font-size: fonts.$font-size-md;
        font-weight: bold;
    }

    code {
        color: colors.$color-palette-gray-700;
    }
}

ul {
    list-style: none;
    padding-left: spacing.$spacing-5;

    li {
        span {
            margin-left: spacing.$spacing-1;
        }

        .dot-tree__content {
            display: flex;
            align-items: center;
        }
    }
}
