@use "variables" as *;
@import "dotcms-theme/utils/theme-variables";

:host(.action-button--no-label) ::ng-deep {
    display: inline-block;

    dot-icon-button button {
        .material-icons {
            color: $white;
        }

        &:not([disabled]) {
            background-color: $color-palette-primary;
            box-shadow: $shadow-xs;
            opacity: 1;

            &:hover {
                background: $color-palette-primary-400;
                box-shadow: $shadow-s;
            }

            &:active,
            &:focus {
                background: $color-palette-primary-400;
            }
        }
    }
}

:host ::ng-deep {
    align-items: center;
    display: inline-flex;
    flex-direction: column;

    .p-button.p-button-icon-only.action-button--selected {
        background: $color-palette-black-op-10;
    }
}

.action-button__label {
    margin: 0;
    text-align: center;
}

.action-button__label--disabled {
    color: $field-disabled-color;
}
