@if ($isHaveOptions()) {
    <p-menu [model]="model()" #menu appendTo="body" [popup]="true" />
}

<p-button
    (click)="buttonOnClick($event)"
    [disabled]="disabled()"
    [icon]="icon()"
    [rounded]="true"
    data-testid="dot-action-button" />

@if (label()) {
    <p
        data-testid="dot-action-button-label"
        class="mt-1 text-center text-xs text-gray-700 font-medium"
        [class.text-gray-400]="disabled()"
        [class.cursor-not-allowed]="disabled()">
        {{ label() }}
    </p>
}
