@use "variables" as *;
@use "dotcms-theme/utils/theme-variables";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/shadows";

:host(.action-button--no-label) ::ng-deep {
    display: inline-block;

    dot-icon-button button {
        .material-icons {
            color: colors.$white;
        }

        &:not([disabled]) {
            background-color: colors.$color-palette-primary;
            box-shadow: shadows.$shadow-xs;
            opacity: 1;

            &:hover {
                background: colors.$color-palette-primary-400;
                box-shadow: shadows.$shadow-s;
            }

            &:active,
            &:focus {
                background: colors.$color-palette-primary-400;
            }
        }
    }
}

:host ::ng-deep {
    align-items: center;
    display: inline-flex;
    flex-direction: column;

    .p-button.p-button-icon-only.action-button--selected {
        background: colors.$color-palette-black-op-10;
    }
}

.action-button__label {
    margin: 0;
    text-align: center;
}

.action-button__label--disabled {
    color: theme-variables.$field-disabled-color;
}
