@import 'mixins';
@import 'variables';

.dialog ::ng-deep {
    .ui-dialog {
        max-width: 1200px;
        width: 95vw;

        .ui-dialog-content {
            overflow: hidden;
            height: 80vh !important;
            padding: 0;
        }

        .ui-dialog-titlebar {
            background-color: $gray-lightest;
            border-bottom: solid 1px $gray-lighter;
        }
    }
}

.dialog__iframe {
    width: 100%;
    height: 80vh;
}
