<p-dialog
    #dialog
    class="dialog"
    [dismissableMask]="false"
    [closable]="false"
    [header]="header"
    [draggable]="false"
    [visible]="show"
    [dismissableMask]="true"
    [responsive]="true"
    [modal]="true"
    [styleClass]="header?.length > 0 ? 'ui-dialog-titlebar-animate' : ''">

    <a href="#" (click)="onClose($event)" role="button" class="ui-dialog-titlebar-icon ui-dialog-titlebar-close dialog__close">
        <dot-icon name="clear"></dot-icon>
    </a>
    <dot-iframe
        class="dialog__iframe"
        [src]="url"
        *ngIf="show"
        (load)="onLoad($event)"
        (keydown)="onKeyDown($event)"
        (custom)="onCustomEvents($event)">
    </dot-iframe>
</p-dialog>
