@import "mixins";
@import "variables";

.dialog ::ng-deep {
    .ui-dialog.ui-dialog-titlebar-animate {
        .ui-dialog-titlebar {
            transition: opacity $basic-speed ease-in;
            opacity: 1;
        }
    }
    .ui-dialog {
        width: 85vw;

        .ui-dialog-content {
            overflow: visible;
            height: 80vh !important;
            padding: 0;
        }

        .ui-dialog-titlebar {
            background-color: $gray-bg;
            border-bottom: solid 1px $gray-bg;
            height: 70px;
            opacity: 0;
        }
    }
}

.dialog__iframe {
    width: 100%;
    height: 80vh;
}

.dialog__close {
    position: absolute;
    right: $basic-padding * 2;
    top: -44px;
}
