<p-dialog
    #dialog
    class="dialog"
    [dismissableMask]="false"
    [closable]="false"
    [draggable]="false"
    [visible]="show"
    [dismissableMask]="true"
    [responsive]="true"
    [modal]="true"
    [styleClass]="header?.length > 0 ? 'ui-dialog-titlebar-animate' : ''">

    <p-header>
        {{ header }}
        <dot-icon-button big icon="close" (click)="onClose($event)" class="dialog__close"></dot-icon-button>
    </p-header>

    <dot-iframe
        class="dialog__iframe"
        [src]="url"
        *ngIf="show"
        (load)="onLoad($event)"
        (keydown)="onKeyDown($event)"
        (custom)="onCustomEvents($event)">
    </dot-iframe>
</p-dialog>
