@import "mixins";
@import "variables";

.dialog ::ng-deep {
    .ui-dialog.ui-dialog-titlebar-animate {
        .ui-dialog-titlebar {
            transition: opacity $basic-speed ease-in;
            opacity: 1;
        }
    }
    .ui-dialog {
        width: 85vw;

        .ui-dialog-content {
            overflow: visible;
            height: 80vh !important;
            padding: 0;
        }

        .ui-dialog-titlebar {
            background-color: $gray-bg;
            border-bottom: solid 1px $gray-bg;
            opacity: 0;
        }
    }

    p-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.dialog__iframe {
    width: 100%;
    height: 80vh;
}
