@import "variables";
@import "mixins";

:host {
    width: 200px;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;

    dot-icon {
        bottom: 0;
        position: absolute;
        right: 0;
    }

    &::ng-deep {
        .material-icons {
            color: $gray;
            transform: scale(1.2);
        }
    }
}

dot-avatar {
    margin-right: $basic-padding;
}

.dot-persona-selector__label-container {
    @include truncate-text;

    span {
        display: block;
    }
}

.dot-persona-selector__label {
    color: $gray;
    font-size: $font-size-small;
    line-height: $basic-padding * 2;
}

.dot-persona-selector__label--edit {
    color: $brand-primary;
}

.dot-persona-selector__name {
    color: $black;
    font-weight: $font-weight-semi-bold;
    line-height: $basic-padding * 2;
    margin-right: $basic-padding * 2;
    @include truncate-text;
}
