<div
    class="dot-persona-selector__container"
    [pTooltip]="disabled ? ('editpage.personalization.content.add.message' | dm) : null"
    [tooltipPosition]="disabled ? 'bottom' : null"
>

    <dot-avatar
        [label]="persona?.name || ('modes.persona.no.persona' | dm)"
        [showDot]="persona?.personalized || false"
        [size]="32"
        [url]="persona?.photo || ''"
    ></dot-avatar>
    <div class="dot-persona-selector__label-container">
        <span
            class="dot-persona-selector__label"
            [ngClass]="{ 'dot-persona-selector__label--edit': isEditMode }"
        >
            {{
                isEditMode
                    ? ('modes.persona.selector.title.edit' | dm)
                    : ('modes.persona.selector.title.preview' | dm)
            }}
        </span>
        <span class="dot-persona-selector__name">{{
            persona?.name || ('modes.persona.no.persona' | dm)
        }}</span>

    </div>
    <dot-icon name="arrow_drop_down"></dot-icon>
</div>
