<dot-dialog
    (hide)="close()"
    [(visible)]="visible"
    [header]="'login-as' | dm"
    [actions]="dialogActions">
    <div class="login-as">
        <!--TODO: manage errors on required fields and errors messages -->
        @if (errorMessage) {
            <p class="login-as__error-message">{{ errorMessage }}</p>
        }
        <form
            (ngSubmit)="doLoginAs()"
            [formGroup]="form"
            id="login-as-form"
            #formEl="ngForm"
            novalidate
            class="p-fluid">
            <div class="field">
                <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
                <dot-searchable-dropdown
                    (switch)="userSelectedHandler($event)"
                    (filterChange)="handleFilterChange($event)"
                    (pageChange)="handlePageChange($event)"
                    [data]="userCurrentPage"
                    [pageLinkSize]="paginationService.maxLinksPage"
                    [rows]="paginationService.paginationPerPage"
                    [totalRecords]="paginationService.totalRecords"
                    #searchableDropdown
                    placeholder="{{ 'loginas.select.loginas.user' | dm }}"
                    formControlName="loginAsUser"
                    labelPropertyName="fullName"
                    overlayWidth="300px" />
            </div>
            @if (needPassword) {
                <div class="field">
                    <input
                        [feedback]="false"
                        pPassword
                        #password
                        formControlName="password"
                        id="dot-login-as-password"
                        type="password"
                        placeholder="{{ 'loginas.input.loginas.password' | dm }}"
                        floatingPlaceholder="false" />
                </div>
            }
        </form>
    </div>
</dot-dialog>
