@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;
}

.login-as {
    &__error-message {
        color: colors.$error;
        margin-bottom: spacing.$spacing-3;
    }
}
