<p-dialog
    [(visible)]="visible"
    [header]="'login-as' | dm"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '400px' }"
    [baseZIndex]="10000"
    appendTo="body"
    styleClass="dot-login-as-dialog"
    (onHide)="close()">
    <div class="login-as">
        @if (errorMessage) {
            <p class="login-as__error-message">{{ errorMessage }}</p>
        }
        <form
            (ngSubmit)="doLoginAs()"
            [formGroup]="form"
            id="login-as-form"
            #formEl="ngForm"
            novalidate
            class="p-fluid">
            <div class="field">
                <p-dropdown
                    #dropdown
                    formControlName="loginAsUser"
                    [options]="userCurrentPage"
                    [filter]="true"
                    [filterBy]="'fullName'"
                    [placeholder]="'loginas.select.loginas.user' | dm"
                    optionLabel="fullName"
                    (onChange)="userSelectedHandler($event.value)"
                    (onFilter)="handleFilterChange($event)"
                    (onClear)="clearSelection()"
                    appendTo="body">
                    <ng-template pTemplate="selectedItem" let-user>
                        <div class="user-item selected" *ngIf="user">
                            {{ user.fullName }}
                        </div>
                    </ng-template>
                    <ng-template let-user pTemplate="item">
                        <div class="user-item">
                            {{ user.fullName }}
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            @if (needPassword) {
                <div class="field">
                    <input
                        [feedback]="false"
                        pPassword
                        #password
                        formControlName="password"
                        id="dot-login-as-password"
                        type="password"
                        placeholder="{{ 'loginas.input.loginas.password' | dm }}"
                        floatingPlaceholder="false" />
                </div>
            }
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            class="p-button-outlined"
            [label]="'cancel' | dm"
            (click)="close()"></button>
        <button
            pButton
            [label]="'Change' | dm"
            [disabled]="!form.valid"
            (click)="doLoginAs()"></button>
    </ng-template>
</p-dialog>
