<p-dialog
    [(visible)]="visible"
    [header]="'login-as' | dm"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [style.width]="'400px'"
    appendTo="body"
    styleClass="dot-login-as-dialog"
    data-testid="dot-login-as-dialog"
    (onHide)="close()">
    <div class="login-as" data-testid="dot-login-as-container">
        @if (errorMessage()) {
            <p class="login-as__error-message" data-testid="dot-login-as-error-message">
                {{ errorMessage() }}
            </p>
        }
        <form
            (ngSubmit)="doLoginAs()"
            [formGroup]="form"
            id="login-as-form"
            #formEl="ngForm"
            novalidate
            data-testid="dot-login-as-form"
            class="p-fluid">
            <div class="field">
                <p-select
                    #dropdown
                    formControlName="loginAsUser"
                    [options]="userCurrentPage()"
                    [filter]="true"
                    [filterBy]="'fullName'"
                    [placeholder]="'loginas.select.loginas.user' | dm"
                    optionLabel="fullName"
                    (onChange)="userSelectedHandler($event.value)"
                    (onFilter)="handleFilterChange($event)"
                    (onClear)="clearSelection()"
                    data-testid="dot-login-as-user-dropdown"
                    appendTo="body">
                    <ng-template pTemplate="selectedItem" let-user>
                        @if (user) {
                            <div
                                class="user-item selected"
                                data-testid="dot-login-as-selected-user">
                                {{ user.fullName }}
                            </div>
                        }
                    </ng-template>
                    <ng-template let-user pTemplate="item">
                        <div class="user-item" data-testid="dot-login-as-user-item">
                            {{ user.fullName }}
                        </div>
                    </ng-template>
                </p-select>
            </div>
            @if (needPassword()) {
                <div class="field">
                    <input
                        [feedback]="false"
                        pPassword
                        #password
                        formControlName="password"
                        id="dot-login-as-password"
                        data-testid="dot-login-as-password-input"
                        type="password"
                        placeholder="{{ 'loginas.input.loginas.password' | dm }}"
                        floatingPlaceholder="false" />
                </div>
            }
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            class="p-button-outlined"
            [label]="'cancel' | dm"
            [disabled]="loading()"
            data-testid="dot-login-as-cancel-button"
            (click)="close()"></button>
        <button
            pButton
            [label]="'Change' | dm"
            [loading]="loading()"
            [disabled]="!form.valid || loading()"
            data-testid="dot-login-as-submit-button"
            (click)="doLoginAs()"></button>
    </ng-template>
</p-dialog>
