{{ if isTrue .Env.HAPROXY_REDIRECT_HTTPS_ALL }}
# HTTP backend disabled by HAPROXY_REDIRECT_HTTPS_ALL=true
{{ else }}

{{ $http_port := .Env.CMS_PORT_HTTP }}
backend dotcms_http
    balance roundrobin
    http-reuse aggressive
    option http-server-close
    option forceclose
    cookie BACKENDID insert indirect nocache
{{ with .Env.CMS_BACKEND_SERVERS }}{{ range $index, $server := split . "," }}    server dotcms_{{ $server }}_{{ $http_port }} {{ $server }}:{{ $http_port }} cookie {{ $server }} check
{{ end }}{{ end }}

    {{ if .Env.HAPROXY_MAINTENANCE_PAGE }}
    errorfile 503 {{ .Env.HAPROXY_MAINTENANCE_PAGE }}  
    {{ end }}
{{ end }}
