@import 'variables';

:host {
    padding: $basic-padding * 3;
    display: flex;
    background: $gray-bg;

    &::ng-deep listing-data-table tr {
        cursor: pointer;
    }
}

dot-base-type-selector {
    margin-left: $basic-padding * 3;
}
