<div class="dot-cdn__container">
    <p-tabView>
        <p-tabPanel header="Overview">
            <div class="dot-cdn__tab-content">
                <p-dropdown [options]="values" optionLabel="name" optionValue="code"></p-dropdown>

                <div class="dot-cdn__stats">
                    <div class="dot-cdn__col">
                        <span class="dot-cdn__stats-label">Bandwidth Used</span>
                        <h3 class="dot-cdn__stats-value">1.1GB</h3>
                        <dot-icon name="insert_chart_outlined" size="32"></dot-icon>
                    </div>
                    <div class="dot-cdn__col">
                        <span class="dot-cdn__stats-label">Request Served</span>
                        <h3 class="dot-cdn__stats-value">53,393</h3>
                        <dot-icon name="file_download" size="32"></dot-icon>
                    </div>
                    <div class="dot-cdn__col">
                        <span class="dot-cdn__stats-label">Cache Hit Rate</span>
                        <h3 class="dot-cdn__stats-value">83.13%</h3>
                        <dot-icon name="file_download" size="32"></dot-icon>
                    </div>
                </div>

                <div class="dot-cdn__chart">
                    <h3 class="dot-cdn__tab-content-label">Bandwidth Served</h3>
                    <p-chart #chart type="line" [data]="data" width="100%" height="50vh"></p-chart>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Flush Cache">
            <div class="dot-cdn__tab-content--contained">
                <div class="dot-cdn__tab-content__row">
                    <h3 class="dot-cdn__tab-content-label">Purge URL List</h3>
                    <p>
                        Purging an url list will remove the file from the CDN cache and re-download
                        it from your server. Please enter the exact CDN URL of each individual file.
                        Wildcard values are not supported.
                    </p>
                    <textarea [rows]="5" pInputTextarea></textarea>
                    <button pButton label="Purge URL" disabled="true"></button>
                </div>
                <div class="dot-cdn__tab-content__row">
                    <h3 class="dot-cdn__tab-content-label">Purge Pull Zone</h3>
                    <p>
                        Purging a pull zone will remove completely remove all of its files from
                        cache and foce everything to be re-downloaded from your origin. If your zone
                        uses a lot of storage, this ight send a large amount of traffic back to your
                        server, so use with caution.
                    </p>
                    <button
                        pButton
                        label="Purge Pull Zone"
                        class="p-button-danger p-button-outlined"
                    ></button>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
