@import 'primeng-theme/utils/theme-variables';

:host {
    display: flex;
    opacity: 0;
    transition: $basic-speed * 2;
}

:host(.dot-global-message--visible) {
    opacity: 1;
}

.dot-global-message__icon {
    margin: 0 $basic-padding / 2;
    font-size: 19px;
}

.dot-global-message__text {
    line-height: 19px;
    vertical-align: top;
}
