<dot-searchable-dropdown
    *ngIf="paginationService.totalRecords > 1; else hostName"
    #searchableDropdown
    (change)="siteChange($event)"
    (filterChange)="handleFilterChange($event)"
    (hide)="hide.emit()"
    (pageChange)="handlePageChange($event)"
    (show)="show.emit()"
    [data]="sitesCurrentPage"
    [ngModel]="currentSite$ | async"
    [pageLinkSize]="3"
    [rows]="pageSize"
    [totalRecords]="paginationService.totalRecords"
    [class]="'site-selector__field ' + cssClass"
    [width]="width"
    labelPropertyName="hostname"
>
</dot-searchable-dropdown>

<ng-template #hostName>
    <span class="site-selector__title">
        {{ (currentSite$ | async)?.hostname }}
    </span>
</ng-template>
