@import "variables";

form, .custom-code {
    width: 400px;
}

.custom-code {
    margin-bottom: $basic-padding * 4;

    &.hidden {
        display: none;
    }
}

.ui-inputtext {
    width: 100%;
}

.push-publish-dialog__error-message {
    color: $error;
}
