<dot-dialog
    [(visible)]="dialogShow"
    [actions]="dialogActions"
    [header]="dotMessageService.get('contenttypes.content.push_publish')"
    (hide)="close()"
>
    <form
        *ngIf="pushActions && dialogShow"
        [formGroup]="form"
        (ngSubmit)="submitPushAction($event)"
        (keyup.enter)="submitPushAction($event)"
        novalidate
        #formEl="ngForm"
    >
        <div class="form__group">
            <label class="form__label"
                >{{ dotMessageService.get('contenttypes.content.push_publish.I_want_To') }}:
            </label>
            <p-dropdown
                [style]="{ width: '100%' }"
                [options]="pushActions"
                formControlName="pushActionSelected"
                autofocus="true"
                appendTo="body"
            ></p-dropdown>
        </div>

        <div class="form__group">
            <label class="form__label"
                >{{ dotMessageService.get('contenttypes.content.push_publish.filters') }}:
            </label>
            <p-dropdown
                [style]="{ width: '100%' }"
                [options]="filterOptions"
                formControlName="filterKey"
                appendTo="body"
            ></p-dropdown>
        </div>

        <div
            class="form__group push-publish-dialog__publish-date"
            *ngIf="isPushActionPublish$ | async"
        >
            <label class="form__label"
                >{{ dotMessageService.get('contenttypes.content.push_publish.publish_date') }}:
            </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar
                    appendTo="body"
                    class="push-publish-dialog__calendar-date"
                    formControlName="publishdate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    placeholder="yy-mm-dd"
                    showTime="true"
                    readonlyInput="true"
                    [minDate]="dateFieldMinDate"
                ></p-calendar>
            </div>
            <dot-field-validation-message
                message="{{
                    dotMessageService.get('contenttypes.content.push_publish.publish_date_errormsg')
                }}"
                [field]="form.get('publishdate')"
            ></dot-field-validation-message>
        </div>

        <div
            class="form__group push-publish-dialog__expire-date"
            *ngIf="isPushActionExpire$ | async"
        >
            <label class="form__label"
                >{{ dotMessageService.get('contenttypes.content.push_publish.expire_date') }}:
            </label>
            <div class="push-publish-dialog__calendar">
                <p-calendar
                    class="push-publish-dialog__calendar-date"
                    formControlName="expiredate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    placeholder="yy-mm-dd"
                    showTime="true"
                    readonlyInput="true"
                    [minDate]="dateFieldMinDate"
                ></p-calendar>
            </div>
            <dot-field-validation-message
                message="{{
                    dotMessageService.get('contenttypes.content.push_publish.expire_date_errormsg')
                }}"
                [field]="form.get('expiredate')"
            ></dot-field-validation-message>
        </div>

        <div class="form__group">
            <label class="form__label"
                >{{ dotMessageService.get('contenttypes.content.push_publish.push_to') }}:
            </label>
            <dot-push-publish-env-selector
                [assetIdentifier]="assetIdentifier"
                formControlName="environment"
            ></dot-push-publish-env-selector>
            <dot-field-validation-message
                message="{{
                    dotMessageService.get('contenttypes.content.push_publish.push_to_errormsg')
                }}"
                [field]="form.get('environment')"
            ></dot-field-validation-message>
        </div>
    </form>
</dot-dialog>
