<dot-dialog
    [(visible)]="dialogShow"
    [actions]="dialogActions"
    [header]="eventData.title"
    [hideButtons]="eventData.customCode"
    (hide)="close()"
>
    <div #customCode [ngClass]="{ hidden: !eventData.customCode }" class="custom-code"></div>
    <form
        *ngIf="pushActions && dialogShow && !eventData.customCode"
        [formGroup]="form"
        (ngSubmit)="submitPushAction($event)"
        (keyup.enter)="submitPushAction($event)"
        novalidate
        #formEl="ngForm"
    >
        <div class="form__group">
            <label class="form__label"
                >{{ 'contenttypes.content.push_publish.I_want_To' | dm }}:
            </label>
            <p-selectButton border [options]="pushActions" formControlName="pushActionSelected">
            </p-selectButton>
        </div>

        <div class="form__group">
            <label class="form__label"
                >{{ 'contenttypes.content.push_publish.filters' | dm }}:
            </label>
            <p-dropdown
                [style]="{ width: '100%' }"
                [options]="filterOptions"
                formControlName="filterKey"
                appendTo="body"
            ></p-dropdown>
        </div>

        <div class="form__group form-group__two-cols">
            <div class="form__group push-publish-dialog__publish-date">
                <label class="form__label"
                    >{{ 'contenttypes.content.push_publish.publish_date' | dm }}:
                </label>
                <div class="push-publish-dialog__calendar">
                    <p-calendar
                        appendTo="body"
                        class="push-publish-dialog__calendar-date"
                        formControlName="publishdate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yy-mm-dd"
                        showTime="true"
                        readonlyInput="true"
                        [minDate]="dateFieldMinDate"
                    ></p-calendar>
                </div>
                <dot-field-validation-message
                    message="{{ 'contenttypes.content.push_publish.publish_date_errormsg' | dm }}"
                    [field]="form.get('publishdate')"
                ></dot-field-validation-message>
            </div>
            <div class="form__group push-publish-dialog__expire-date">
                <label class="form__label"
                    >{{ 'contenttypes.content.push_publish.expire_date' | dm }}:
                </label>
                <div class="push-publish-dialog__calendar">
                    <p-calendar
                        appendTo="body"
                        class="push-publish-dialog__calendar-date"
                        formControlName="expiredate"
                        dataType="string"
                        dateFormat="yy-mm-dd"
                        placeholder="yy-mm-dd"
                        showTime="true"
                        readonlyInput="true"
                        [minDate]="dateFieldMinDate"
                    ></p-calendar>
                </div>
                <dot-field-validation-message
                    message="{{ 'contenttypes.content.push_publish.expire_date_errormsg' | dm}}"
                    [field]="form.get('expiredate')"
                ></dot-field-validation-message>
            </div>
        </div>
        <div class="form__group">
            <label class="form__label"
                >{{ 'contenttypes.content.push_publish.push_to' | dm }}:
            </label>
            <dot-push-publish-env-selector
                [assetIdentifier]="assetIdentifier"
                formControlName="environment"
            ></dot-push-publish-env-selector>
            <dot-field-validation-message
                message="{{ 'contenttypes.content.push_publish.push_to_errormsg' | dm }}"
                [field]="form.get('environment')"
            ></dot-field-validation-message>
        </div>
    </form>
</dot-dialog>
