<div [formGroup]="group" class="field">
    <label [for]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.name.label' | dm }}
    </label>
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
            <p-radioButton
                name="newRenderMode"
                value="true"
                [formControlName]="property.name"
                inputId="ingredient1" />
            <label for="ingredient1" class="ml-2">Recommended</label>
        </div>

        <div class="flex align-items-center">
            <p-radioButton
                name="newRenderMode"
                value="false"
                [formControlName]="property.name"
                inputId="ingredient2" />
            <label for="ingredient2" class="ml-2">Deprecated</label>
        </div>
    </div>
    +
</div>
