<div [formGroup]="group" class="field">
    <label [for]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.newRenderMode.label' | dm }}
    </label>
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
            <p-radioButton
                name="newRenderMode"
                [value]="'true'"
                [formControlName]="property.name"
                inputId="recommended" />
            <label
                for="recommended"
                class="ml-2"
                [pTooltip]="'contenttypes.field.properties.newRenderMode.component.tooltip' | dm">
                {{ 'contenttypes.field.properties.newRenderMode.component.label ' | dm }}
            </label>
        </div>

        <div class="flex align-items-center">
            <p-radioButton
                name="newRenderMode"
                [value]="'false'"
                [formControlName]="property.name"
                inputId="deprecated" />
            <label
                for="deprecated"
                class="ml-2"
                [pTooltip]="'contenttypes.field.properties.newRenderMode.iframe.tooltip' | dm">
                {{ 'contenttypes.field.properties.newRenderMode.iframe.label' | dm }}
            </label>
        </div>
    </div>
</div>
