@if (vm$ | async; as vm) {
    <dot-portlet-base>
        <div class="h-full flex flex-col justify-between">
            <dot-action-header [options]="vm.actionHeaderOptions">
                <dot-content-type-selector
                    class="mr-3"
                    (selected)="changeContentTypeSelector($event)"></dot-content-type-selector>
                <input
                    (keydown.arrowdown)="focusFirstRow()"
                    #gf
                    (input)="handleQueryFilter(gf.value)"
                    pInputText
                    placeholder="{{ 'Type-to-filter' | dm }}"
                    type="text"
                    data-testId="query-input" />
                <div class="w-full flex items-center justify-between mx-3">
                    <div class="flex gap-3">
                        <div class="flex items-center gap-2">
                            <p-checkbox
                                (onChange)="handleArchivedFilter($event.checked)"
                                [inputId]="'show-archived-containers'"
                                [binary]="true"
                                data-testId="archiveCheckbox"></p-checkbox>
                            <label [for]="'show-archived-containers'">
                                {{ 'Show-Archived' | dm }}
                            </label>
                        </div>
                    </div>
                    <div>
                        <p-button
                            (click)="handleActionMenuOpen($event)"
                            [label]="'Actions' | dm"
                            [disabled]="!selectedContainers.length"
                            type="button"
                            icon="pi pi-ellipsis-v"
                            data-testId="bulkActions"
                            variant="outlined" />
                        <p-menu
                            [popup]="true"
                            [model]="vm.containerBulkActions"
                            #actionsMenu
                            appendTo="body" />
                    </div>
                </div>
            </dot-action-header>
            @if (vm.tableColumns && vm.actionHeaderOptions) {
                <p-table
                    (onPage)="loadDataPaginationEvent($event)"
                    (selectionChange)="handleSelectionChange()"
                    [(selection)]="selectedContainers"
                    [columns]="vm.tableColumns"
                    [value]="vm.containers"
                    [rows]="40"
                    [paginator]="true"
                    [pageLinks]="vm.maxPageLinks"
                    [totalRecords]="vm.totalRecords"
                    [responsiveLayout]="'scroll'"
                    [lazy]="true"
                    class="flex-1 flex flex-col justify-between"
                    selectionMode="multiple"
                    loadingIcon="pi pi-spin pi-spinner"
                    dataKey="inode"
                    data-testId="container-list-table">
                    <ng-template let-columns pTemplate="header">
                        @if (vm.containers?.length) {
                            <tr>
                                <th style="width: 5%">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                @for (col of columns; track col) {
                                    <th
                                        [ngStyle]="{
                                            width: col.width,
                                            'text-align': col.textAlign
                                        }"
                                        [pSortableColumnDisabled]="!col.sortable"
                                        [pSortableColumn]="col.fieldName">
                                        {{ col.header }}
                                        @if (col.sortable) {
                                            <p-sortIcon [field]="col.fieldName"></p-sortIcon>
                                        }
                                    </th>
                                }
                                <th style="width: 5%"></th>
                            </tr>
                        }
                    </ng-template>
                    <ng-template let-columns="columns" let-rowData pTemplate="body">
                        <tr
                            (click)="handleRowClick(rowData)"
                            (keyup.enter)="handleRowClick(rowData)"
                            [class]="
                                rowData.disableInteraction
                                    ? 'bg-gray-200! text-gray-500! pointer-events-none'
                                    : ''
                            "
                            [pSelectableRowDisabled]="rowData.disableInteraction"
                            [pContextMenuRowDisabled]="rowData.disableInteraction"
                            [attr.data-testRowId]="rowData.identifier"
                            [pContextMenuRow]="rowData"
                            [pSelectableRow]="rowData"
                            [attr.data-testId]="
                                rowData?.variable ? 'row-' + rowData.variable : null
                            "
                            [attr.data-disabled]="rowData.disableInteraction"
                            #tableRow
                            data-testClass="testTableRow">
                            <td (click)="$event.stopPropagation()">
                                @if (!rowData.disableInteraction) {
                                    <p-tableCheckbox
                                        (click)="$event.stopPropagation()"
                                        [value]="rowData"
                                        [attr.test-id]="rowData.friendlyName"></p-tableCheckbox>
                                }
                            </td>
                            <td [ngStyle]="{ 'text-align': vm.tableColumns[0].textAlign }">
                                {{ rowData.name }}
                                @if (rowData.path) {
                                    -
                                    <span class="text-gray-400">{{ rowData.path }}</span>
                                }
                            </td>
                            <td [ngStyle]="{ 'text-align': vm.tableColumns[1].textAlign }">
                                <dot-contentlet-status-chip [state]="getContainerState(rowData)" />
                            </td>
                            <td [ngStyle]="{ 'text-align': vm.tableColumns[2].textAlign }">
                                {{ rowData.friendlyName }}
                            </td>
                            <td [ngStyle]="{ 'text-align': vm.tableColumns[3].textAlign }">
                                {{ rowData.modDate | dotRelativeDate }}
                            </td>
                            <td style="width: 5%">
                                @if (!rowData.disableInteraction) {
                                    <dot-action-menu-button
                                        [attr.data-testid]="rowData.identifier"
                                        [actions]="setContainerActions(rowData)"
                                        [item]="rowData"
                                        class="listing-datatable__action-button"></dot-action-menu-button>
                                }
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <div
                            class="flex justify-center text-xl mt-4"
                            data-testId="listing-datatable__empty">
                            {{ 'No-Results-Found' | dm }}
                        </div>
                    </ng-template>
                </p-table>
            }
            @if (vm.addToBundleIdentifier) {
                <dot-add-to-bundle
                    (cancel)="resetBundleIdentifier()"
                    [assetIdentifier]="vm.addToBundleIdentifier"></dot-add-to-bundle>
            }
        </div>
    </dot-portlet-base>
}
