@import "variables";
@import "primeng-theme/utils/theme-variables";
@import "primeng-theme/utils/extends";

:host {
    display: flex;
    align-items: center;

    &::ng-deep {
        .ui-dropdown {
            box-shadow: none;
            width: 120px !important;
        }
    }

    &.disabled {
        &::ng-deep dot-icon i,
        label {
            color: $field-disabled-color;
        }
    }

    @media only screen and (max-width: $screen-device-container-max) {
        ::ng-deep {
            p-dropdown .ui-dropdown {
                width: 10px !important;

                label {
                    display: none;
                }
            }
            label {
                display: none;
            }
        }
    }
}

dot-icon {
    margin-right: $basic-padding;
}

label {
    @extend #edit-page-selector-label;
}

.device-selector__field {
    @extend #edit-page-selector-field;
}
