@if (featureFlagEditURLContentMapIsOn) {
    <p-menu (onHide)="dotTabButtons.resetDropdownById(dotPageMode.EDIT)"
        [model]="menuItems"
        [popup]="true"
        #menu
        appendTo="body" />
    <dot-tab-buttons (openMenu)="handleMenuOpen($event)"
        (clickOption)="stateSelectorHandler($event)"
        [activeId]="mode"
        [options]="options"
        #dotTabButtons
        data-testId="dot-tabs-buttons" />
} @else {
    <p-selectButton (onChange)="stateSelectorHandler({ optionId: $event.value })"
        [(ngModel)]="mode"
        [options]="options"
        class="p-button-tabbed"
        optionValue="value.id"
        data-testId="selectButton" />
}
@if (!variant) {
    <p-inputSwitch (click)="onLockerClick()"
        (onChange)="lockPageHandler()"
        [(ngModel)]="lock"
        [class.warn]="lockWarn"
        [disabled]="!pageState.page.canLock"
        [pTooltip]="
            pageState.state.lockedByAnotherUser && pageState.page.canEdit
                ? ('editpage.toolbar.page.locked.by.user' | dm: [pageState.page.lockedByName])
                : null
        "
        [tooltipPosition]="pageState.page.lockedByName ? 'top' : null"
        #locker
        appendTo="target" />
    <dot-edit-page-lock-info [pageState]="pageState"
        #pageLockInfo
        data-testId="lockInfo" />
}
