<ng-container *ngIf="featureFlagEditURLContentMapIsOn; else defaultTabs">
    <p-menu
        #menu
        [model]="menuItems"
        [popup]="true"
        (onHide)="dotTabButtons.resetDropdownById(dotPageMode.EDIT)"
        appendTo="body">
    </p-menu>
    <dot-tab-buttons
        #dotTabButtons
        [activeId]="mode"
        [options]="options"
        (openMenu)="handleMenuOpen($event)"
        (clickOption)="stateSelectorHandler($event)"
        data-testId="dot-tabs-buttons"></dot-tab-buttons>
</ng-container>
<ng-template #defaultTabs>
    <p-selectButton
        class="p-button-tabbed"
        [(ngModel)]="mode"
        [options]="options"
        (onChange)="stateSelectorHandler({ optionId: $event.value })"
        optionValue="value.id"
        data-testId="selectButton"></p-selectButton>
</ng-template>
<ng-container *ngIf="!variant">
    <p-inputSwitch
        #locker
        [(ngModel)]="lock"
        [class.warn]="lockWarn"
        [disabled]="!pageState.page.canLock"
        [pTooltip]="
            pageState.state.lockedByAnotherUser && pageState.page.canEdit
                ? ('editpage.toolbar.page.locked.by.user' | dm : [pageState.page.lockedByName])
                : null
        "
        [tooltipPosition]="pageState.page.lockedByName ? 'top' : null"
        (click)="onLockerClick()"
        (onChange)="lockPageHandler()"
        appendTo="target"></p-inputSwitch>

    <dot-edit-page-lock-info
        #pageLockInfo
        [pageState]="pageState"
        data-testId="lockInfo"></dot-edit-page-lock-info>
</ng-container>
