@use "variables" as *;
$icon-size: $basic-padding * 3;

.content-types-fields-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-types-fields-list__item {
    align-items: center;
    cursor: move;
    display: flex;
    line-height: $basic-padding * 4;
    padding: $basic-padding $basic-padding * 2;
    touch-action: none;
    transition: background-color $basic-speed;

    dot-icon {
        color: $gray;
        margin-right: $basic-padding * 2;
        transition: color $basic-speed;
    }

    &:hover {
        background-color: $gray-bg;

        dot-icon {
            color: $body-font-color;
        }
    }

    &:nth-child(2) {
        border-bottom: solid 1px $gray-light;
    }
}
