@use "variables" as *;

.dot-container-properties__button-container {
    position: absolute;
    top: 5rem;
    right: $spacing-4;

    button {
        margin: 0 calc($spacing-1 / 2);
    }
}

.dot-container-properties__title-container {
    display: flex;
    flex-direction: row;
    gap: $spacing-2;
    padding: $spacing-2 0;

    ::ng-deep .p-inplace-display {
        padding-left: 0.8rem;
    }

    dot-api-link {
        ::ng-deep a {
            padding: 0 $spacing-3;
        }
    }
}

.dot-container-properties__title-text {
    display: inline-block;
    padding-right: $spacing-2;
    padding-bottom: $spacing-2;
    padding-top: calc($spacing-1 + 0.1rem);
    font-size: $font-size-large;
}

.dot-container-properties__title-input {
    width: 20rem;
}

.dot-container-properties__description-input {
    width: 20rem;
}

.dot-container-properties__max-contents-input {
    width: 7rem;
    margin-right: $spacing-2;
}

.dot-container-properties__button-clear,
dot-container-properties__button-clear:hover {
    background-color: $gray;
    color: $white;
    border: none;
}

.dot-container-properties__code-container-outer {
    display: flex;
    flex-direction: column;

    dot-textarea-content {
        height: 40vh;
    }
}

.dot-container-properties__code-loop-container {
    background: $white;
    border: 1px solid $input-border-color;
}

:host ::ng-deep {
    .tab-panel-btn {
        background: $brand-background;

        a.p-tabview-nav-link {
            padding: 0;
        }

        i {
            color: $white;
            padding: 1.2rem $spacing-6 1.35rem;
        }
    }

    .p-tabview-panel {
        padding: 0;
        padding-top: $spacing-1;
    }
}
