<ng-container *ngIf="vm$ | async as vm">
    <div class="dot-container-properties__title-container">
        <p-inplace #editText>
            <ng-template pTemplate="content">
                <span class="p-input-icon-right">
                    <i class="pi pi-times" (click)="editText.deactivate()"></i>
                    <input type="text" pInputText />
                </span>
            </ng-template>
            <ng-template pTemplate="display">
                {{ 'message.containers.create.click_to_edit' | dm }}
                <i class="pi pi-pencil"></i>
            </ng-template>
        </p-inplace>
    </div>
    <div class="field">
        <label for="description" class="block">{{
            'message.containers.create.description' | dm
        }}</label>
        <input id="description" type="text" pInputText />
    </div>
    <div class="field">
        <label for="max-contents" class="block">{{
            'message.containers.create.max_contents' | dm
        }}</label>
        <input id="max-contents" type="text" pInputText />
        <button
            pButton
            class="p-button-secondary"
            type="button"
            [label]="'message.containers.create.clear' | dm"
        ></button>
        <button
            pButton
            type="button"
            [label]="'message.containers.create.content_type_code' | dm"
        ></button>
    </div>

    <div class="dot-container-properties__code-container-outer">
        <form [formGroup]="form">
            <div class="dot-container-properties__pre-post-loop">
                <div
                    class="dot-container-properties__pre-post-loop-inplace"
                    *ngIf="!vm.showPrePostLoopInput"
                >
                    <button
                        pButton
                        class="p-button-outlined p-button-secondary"
                        type="button"
                        [label]="'message.containers.create.add_pre_post' | dm"
                        (click)="showLoopInput()"
                    ></button>
                </div>
                <div *ngIf="vm.showPrePostLoopInput">
                    <label>{{ 'message.containers.create.pre_loop' | dm }}</label>
                    <dot-textarea-content
                        formControlName="preLoop"
                        #preLoop
                        [show]="['code']"
                        language="html"
                        (monacoInit)="initEditor($event)"
                    ></dot-textarea-content>
                </div>
            </div>
            <div class="dot-container-properties__content-tab-container">
                <label>{{ 'message.containers.create.content_type_code' | dm }}</label>
                <p-tabView
                    [scrollable]="true"
                    (onChange)="handleChange($event, $event.index)"
                    [activeIndex]="vm.activeTabIndex"
                >
                    <p-tabPanel headerStyleClass="tab-panel-btn">
                        <ng-template pTemplate="header">
                            <i
                                class="pi pi-plus"
                                (click)="handleChange($event); actionsMenu.toggle($event)"
                            ></i>
                            <p-menu
                                #actionsMenu
                                [popup]="true"
                                [model]="vm.contentTypes"
                                appendTo="body"
                            ></p-menu>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel closable="true" header="Content (Generic)">
                        <dot-textarea-content
                            #body
                            formControlName="body"
                            [show]="['code']"
                            language="html"
                            (monacoInit)="initEditor($event)"
                        ></dot-textarea-content>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="dot-container-properties__pre-post-loop">
                <div
                    class="dot-container-properties__pre-post-loop-inplace"
                    *ngIf="!vm.showPrePostLoopInput"
                >
                    <button
                        pButton
                        class="p-button-outlined p-button-secondary"
                        type="button"
                        [label]="'message.containers.create.add_pre_post' | dm"
                    ></button>
                </div>
                <div *ngIf="vm.showPrePostLoopInput">
                    <label>{{ 'message.containers.create.post_loop' | dm }}</label>
                    <dot-textarea-content
                        formControlName="postLoop"
                        #postLoop
                        [show]="['code']"
                        language="html"
                        (monacoInit)="initEditor($event)"
                    ></dot-textarea-content>
                </div>
            </div>
        </form>
    </div>
</ng-container>
