@use "variables" as *;

.dot-container-properties__button-container {
    position: absolute;
    top: 4.8rem;
    right: $spacing-7;

    button {
        margin: 0 calc($spacing-1 / 2);
    }
}

.dot-container-properties__title-container {
    padding: $spacing-4 0;
}

.dot-container-properties__title-text {
    display: inline-block;
    padding-right: $spacing-2;
}

.dot-container-properties__code-container-outer {
    background: $white;
    display: flex;
    flex-direction: column;

    form {
        margin: $spacing-3;
        margin-bottom: 50px;
    }

    dot-textarea-content {
        height: 40vh;
    }
}

:host ::ng-deep {
    .tab-panel-btn {
        background: #1b3359;

        a.p-tabview-nav-link {
            padding: 0;
        }

        i {
            color: $white;
            padding: 1.2rem 2.5rem 1.35rem;
        }
    }

    .p-tabview-panel {
        padding: 0 !important;
        padding-top: $spacing-1 !important;
    }
}
