@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


dotcms-block-editor {
    display: block;
    height: 100%;
    width: 100%;

    .ProseMirror {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px;
        display: block;
        height: 100%;
        min-height: 500px;
        outline: $gray-light solid 1px;
        padding: $spacing-5 $spacing-8;
    }

    .ProseMirror-focused {
        outline-color: $brand-primary;
    }
}

.highlighted {
    background: #ACCEF7;
    border-radius: $border-radius;
}
