@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


dotcms-block-editor {
    border-radius: 4px;
    display: block;
    height: 500px;
    overflow-y: hidden;
    position: relative;
    outline: $gray-light solid 1px;

    // If a child is focused, set this style to the parent
    &:focus-within {
        outline-color: $brand-primary;
    }

    tiptap-editor {
        display: block;
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }

    .ProseMirror {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        min-height: 100%;
        outline: none;
        padding: $spacing-5 $spacing-8;

        pre {
            background: #0d0d0d;
            border-radius: 0.5rem;
            color: #fff;
            padding: 0.75rem 1rem;

            code {
                font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                background: none;
                color: inherit;
                font-size: 0.8rem;
                padding: 0;
            }
        }

        blockquote {
            border-left: 3px solid rgba(#0d0d0d, 0.1);
            padding-left: 1rem;
        }
    }

}

.highlighted {
    background: #ACCEF7;
    border-radius: $border-radius;
}
