<form [formGroup]="form" class="content-type__form" id="content-type-form" novalidate>
    <div class="form__group">
        <span dotMdInputtext [label]="nameFieldLabel">
            <input
                pInputText
                type="text"
                id="content-type-form-name"
                name="name"
                formControlName="name"
                tabindex="1"
                #name
                dotAutofocus
            />
        </span>
        <dot-field-validation-message
            [message]="
                dotMessageService.get('dot.common.message.field.required', nameFieldLabel)
            "
            [field]="form.get('name')"
        ></dot-field-validation-message>
    </div>
    <div class="form__group">
        <span dotMdInputtext [label]="'contenttypes.form.label.description' | dm">
            <input
                pInputText
                type="text"
                id="content-type-form-description"
                name="description"
                formControlName="description"
                tabindex="2"
            />
        </span>
    </div>
    <div class="form__group">
        <label for="content-type-form-host" class="form__label">{{
            'contenttypes.form.field.host_folder.label' | dm
        }}</label>
        <dot-site-selector-field
            id="content-type-form-host"
            formControlName="host"
            [system]="true"
            tabindex="3"
        ></dot-site-selector-field>
    </div>
    <div class="form__group">
        <label for="content-type-form-workflow" class="form__label">{{
            'contenttypes.form.label.workflow' | dm
        }}</label>
        <dot-workflows-selector-field
            id="content-type-form-workflow"
            formControlName="workflows"
        ></dot-workflows-selector-field>
    </div>
    <div class="form__group" formGroupName="systemActionMappings">
        <label for="content-type-form-workflow" class="form__label">{{
            'contenttypes.form.label.workflow.actions' | dm
        }}</label>
        <dot-workflows-actions-selector-field
            formControlName="NEW"
            [workflows]="workflowsSelected$ | async"
        ></dot-workflows-actions-selector-field>
    </div>
    <span
        id="field-workflow-hint"
        class="form__group-hint"
        *ngIf="form.get('workflows').disabled"
        >{{
            'contenttypes.form.hint.error.only.default.scheme.available.in.Community' | dm
        }}</span
    >
    <div class="form__group">
        <div class="ui-g-6">
            <label for="content-type-form-publish-date-field" class="form__label">{{
                'contenttypes.form.label.publish.date.field' | dm
            }}</label>
            <p-dropdown
                appendTo="body"
                [options]="dateVarOptions"
                id="content-type-form-publish-date-field"
                name="publishDateVar"
                formControlName="publishDateVar"
                (onChange)="handleDateVarChange($event, 'publishDateVar')"
                [style]="{ 'min-width': '90px' }"
                tabindex="5"
            ></p-dropdown>
        </div>
        <div class="ui-g-6">
            <label for="content-type-form-expire-date-field" class="form__label">{{
                'contenttypes.form.field.expire.date.field' | dm
            }}</label>
            <p-dropdown
                appendTo="body"
                [options]="dateVarOptions"
                id="content-type-form-expire-date-field"
                name="expireDateVar"
                formControlName="expireDateVar"
                (onChange)="handleDateVarChange($event, 'expireDateVar')"
                [style]="{ 'min-width': '90px' }"
                tabindex="6"
            ></p-dropdown>
        </div>
    </div>
    <span class="form__group-hint" *ngIf="!dateVarOptions.length" id="field-dates-hint">{{
        'contenttypes.form.message.no.date.fields.defined' | dm
    }}</span>
    <div class="form__group" *ngIf="form.get('detailPage')">
        <dot-page-selector
            id="content-type-form-detail-page"
            formControlName="detailPage"
            [floatingLabel]="true"
            tabindex="7"
            [style]="{ width: '100%' }"
            [label]="'contenttypes.form.field.detail.page' | dm"
        ></dot-page-selector>
    </div>
    <div class="form__group form__group--helper" *ngIf="form.get('urlMapPattern')">
        <dot-field-helper
            [message]="messagesKey['contenttypes.hint.URL.map.pattern.hint1']"
        ></dot-field-helper>
        <span dotMdInputtext [label]="'contenttypes.form.label.URL.pattern' | dm">
            <input
                pInputText
                type="text"
                id="content-type-form-url-map-pattern"
                name="urlMapPattern"
                formControlName="urlMapPattern"
                tabindex="8"
            />
        </span>
    </div>
</form>
