@import "variables";
@import "mixins";

:host {
    display: block;

    ::ng-deep {
        .p-multiselect,
        searchable-dropdown .p-button {
            width: 100%;
        }
    }
}

.content-type__form {
    width: 380px;
}
