@use "variables" as *;
@use "mixins";
@use "dotcms-theme/utils/theme-variables";
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;
}

ul {
    @include mixins.naked-list;
    position: relative;
}

a {
    color: colors.$white;
    text-decoration: none;
}

.dot-nav-sub__link {
    display: block;
    padding: spacing.$spacing-1 spacing.$spacing-1 spacing.$spacing-1 56px;
    transition: background-color $basic-speed ease;
    width: $navigation-width;

    &:hover {
        background-color: colors.$color-palette-white-op-10;
    }

    &--active,
    &--active:hover {
        background-color: colors.$color-palette-primary;
    }
}

.dot-nav-sub__item {
    width: $navigation-width;
    overflow: hidden;
    transition: width $basic-speed ease;
}

.dot-nav-sub__collapsed {
    background-color: colors.$color-palette-white-op-10;
    padding: 0 0 spacing.$spacing-1 0;
    min-width: $navigation-width;

    .dot-nav-sub__link {
        padding: spacing.$spacing-1 spacing.$spacing-4;
    }
}

.dot-nav-sub__group-header {
    padding: spacing.$spacing-3 spacing.$spacing-4;
    border-bottom: 1px solid colors.$color-palette-white-op-20;
    margin-bottom: spacing.$spacing-1;
    cursor: default;
}

.dot-nav-sub__group-name {
    color: colors.$white;
    font-weight: fonts.$font-weight-medium-bold;
    font-size: fonts.$font-size-md;
    display: block;
    user-select: none;
    line-height: 1.1;
}
