<ul [class.dot-nav-sub__collapsed]="collapsed" #ul class="dot-nav-sub">
    @for (subItem of data.menuItems; track $index) {
        <li class="dot-nav-sub__item">
            <a
                (click)="onItemClick($event, subItem)"
                [class.dot-nav-sub__link--active]="subItem.active"
                [routerLink]="subItem.menuLink"
                [state]="{ menuId: data.id }"
                class="dot-nav-sub__link">
                {{ subItem.label }}
            </a>
        </li>
    }
</ul>
