@use "variables" as *;
@import "mixins";
@import "dotcms-theme/utils/theme-variables";

:host {
    display: block;
}

ul {
    @include naked-list;
    position: relative;
}

a {
    color: $white;
    text-decoration: none;
}

.dot-nav-sub__link {
    display: block;
    padding: $spacing-1 $spacing-1 $spacing-1 56px;
    transition: background-color $basic-speed ease;
    width: $navigation-width;

    &:hover {
        background-color: $color-palette-white-op-10;
    }

    &--active,
    &--active:hover {
        background-color: $color-palette-primary;
    }
}

.dot-nav-sub__item {
    width: $navigation-width;
    overflow: hidden;
    transition: width $basic-speed ease;
}

.dot-nav-sub__collapsed {
    background-color: $color-palette-white-op-10;
    padding: 0 0 $spacing-1 0;
    min-width: $navigation-width;

    .dot-nav-sub__link {
        padding: $spacing-1 $spacing-4;
    }
}

.dot-nav-sub__group-header {
    padding: $spacing-3 $spacing-4;
    border-bottom: 1px solid $color-palette-white-op-20;
    margin-bottom: $spacing-1;
    cursor: default;
}

.dot-nav-sub__group-name {
    color: $white;
    font-weight: $font-weight-medium-bold;
    font-size: $font-size-md;
    display: block;
    user-select: none;
    line-height: 1;
}
