<Context path="" docBase="../../dotCMS" reloadable="false" crossContext="true">

    <!--
    The class loader behaviour changed on recent tomcat versions, with the new default behaviour
     we are unable to set a -javaagent and with that we won't be able to use instrumentation, setting the
     delegate to true will restored the loader behaviour.

        "Set to true if you want the class loader to follow the standard Java2 delegation model,
        and attempt to load classes from parent class loaders before looking inside the web
        application.
        Set to false (the default) to have the class loader look inside the web application
        first, before asking parent class loaders to find requested classes or resources."
            -http://tomcat.apache.org/tomcat-7.0-doc/config/loader.html
    -->
    <Loader delegate="true"/><!--https://issues.apache.org/bugzilla/show_bug.cgi?id=55943#c13-->

    <Resource name="mail/MailSession" auth="Container" type="javax.mail.Session" mail.smtp.host="localhost" />

    <!--
        IMPORTANT your maxActive number of connections should be higher than the number of server threads you
        configured in your server.xml, if not on heavy loads you will start getting db connections errors.
        Your number of server threads should be the sum of threads for every connector (http, https, AJP, etc)
        in your server.xml file.
        We recommend you set your number of connections to be your max server threads + 10
     -->

    <!-- H2 -->
    <Resource name="jdbc/dotCMSPool" auth="Container"
              type="javax.sql.DataSource"
              driverClassName="org.h2.Driver"
              url="jdbc:h2:WEB-INF/H2_DATABASE/h2_dotcms_data;MVCC=TRUE;LOCK_TIMEOUT=15000"
              username="sa" password="sa" maxActive="60" maxIdle="10" maxWait="60000"
              removeAbandoned="true" removeAbandonedTimeout="60" logAbandoned="true"
              validationQuery="SELECT 1" testOnBorrow="true" />

    <!-- POSTGRESQL
    <Resource name="jdbc/dotCMSPool" auth="Container"
          type="javax.sql.DataSource"
          driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://localhost/dotcms"
          username="{your db user}" password="{your db password}" maxActive="60" maxIdle="10" maxWait="60000"
          removeAbandoned="true" removeAbandonedTimeout="60" logAbandoned="true"
          validationQuery="SELECT 1" testOnBorrow="true" />
    -->
    <!-- MYSQL UTF8
    <Resource name="jdbc/dotCMSPool" auth="Container"
          type="javax.sql.DataSource" driverClassName="com.mysql.jdbc.Driver"
          url="jdbc:mysql://localhost/dotcms2?characterEncoding=UTF-8"
          username="{your db user}" password="{your db password}" maxActive="60" maxIdle="10" maxWait="60000"
          removeAbandoned="true" removeAbandonedTimeout="60" logAbandoned="true"
          validationQuery="SELECT 1" testOnBorrow="true"/>
    -->
    <!-- Oracle
    <Resource name="jdbc/dotCMSPool" auth="Container"
          type="javax.sql.DataSource" driverClassName="oracle.jdbc.OracleDriver"
          url="jdbc:oracle:thin:@localhost:1521:XE"
          username="{your db user}" password="{your db password}" maxActive="60" maxIdle="10" maxWait="60000"
          removeAbandoned="true" removeAbandonedTimeout="60" logAbandoned="true"
          testOnBorrow="true" validationQuery="SELECT 1 from DUAL"/>
    -->
    <!-- MSSQL
    <Resource name="jdbc/dotCMSPool" auth="Container"
          type="javax.sql.DataSource" driverClassName="net.sourceforge.jtds.jdbc.Driver"
          url="jdbc:jtds:sqlserver://localhost:1433/dotcms"
          username="{your db user}" password="{your db password}" maxActive="60" maxIdle="10" maxWait="60000"
          removeAbandoned="true" removeAbandonedTimeout="60" logAbandoned="true"
          testOnBorrow="true" validationQuery="SELECT 1" defaultTransactionIsolation="READ_COMMITTED"/>
    -->


</Context>
