@use "../../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    form {
        max-width: 64.25rem;
    }

    textarea {
        font-family: fonts.$font-code;
        max-height: 21.5rem;
        overflow: auto !important;
    }

    ::ng-deep {
        .p-field-hint {
            markdown pre {
                background-color: colors.$color-palette-secondary-100;
            }
        }
    }
}

.p-field {
    margin-bottom: spacing.$spacing-4;

    label {
        display: block;
    }

    input,
    textarea {
        font-size: fonts.$font-size-lmd;
        width: 100%;
    }

    dot-icon {
        color: colors.$color-palette-primary;
        margin-left: spacing.$spacing-1;
        vertical-align: middle;
    }

    ::ng-deep {
        p-dropdown .p-dropdown {
            min-width: 14.28rem;
            margin-bottom: spacing.$spacing-1;
        }

        p-checkbox label {
            font-size: fonts.$font-size-lmd;
        }

        p-checkbox.required label:before,
        label.required:before {
            color: colors.$red;
            content: "* ";
        }

        markdown p {
            margin: 0;
        }
    }
}
