<div class="dot-content-editor__content-tab-container" *ngIf="vm$ | async as vm">
    <label>{{ 'message.containers.create.content_type_code' | dm }}</label>
    <p-tabView
        [scrollable]="true"
        [activeIndex]="vm.activeTabIndex"
        [controlClose]="true"
        (onChange)="handleChange($event, $event.index)"
        (onClose)="handleClose($event.index, $event.close)"
    >
        <p-tabPanel headerStyleClass="tab-panel-btn">
            <ng-template pTemplate="header">
                <i
                    class="pi pi-plus"
                    (click)="handleChange($event); actionsMenu.toggle($event)"
                ></i>
                <p-menu
                    #actionsMenu
                    [popup]="true"
                    [model]="vm.contentTypes"
                    appendTo="body"
                ></p-menu>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel
            *ngFor="let contentType of vm.selectedContentTypes; let i = index"
            [header]="contentType.label"
            [selected]="vm.activeTabIndex === i + 1"
            closable="true"
        >
            <button
                class="p-button-secondary dot-content-editor__variable-btn"
                [label]="'add-variable' | dm"
                (click)="handleAddVariable(contentType.state.contentType, i)"
                pButton
            ></button>
            <dot-textarea-content
                #body
                [show]="['code']"
                (monacoInit)="monacoInit($event)"
                (valueChange)="updateContentTypeText($event)"
                language="html"
            ></dot-textarea-content>
        </p-tabPanel>
    </p-tabView>
</div>
