<!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
<searchable-dropdown *ngIf="sitesCounter > 1"
                            #searchableDropdown    
                            [data]="sitesCurrentPage"
                            [totalRecords]="sitesCounter"
                            [rows]="10"
                            [pageLinkSize] = "3"
                            labelPropertyName = "name"
                            (filterChange)="handleFilterChange($event)"
                            (pageChange)="handlePageChange($event)"
                            (change)="siteChange($event)"
                            [(ngModel)]="currentSite"
                            class="site-selector__field">
</searchable-dropdown>

<h1 *ngIf="sitesCounter == 1" class="site-selector__title">{{currentSite ? currentSite.label : ''}}</h1>