.site-selector__field.ui-inputwrapper-focus .ui-autocomplete {
  background-color: rgba(255, 255, 255, 0.1);
}

.site-selector__field .ui-autocomplete {
  background: none;
  border: none;
}

.site-selector__field .ui-autocomplete:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.site-selector__field .ui-inputtext {
  background: none;
  color: #fff;
  font-size: 18px;
  text-overflow: ellipsis;
}

.site-selector__field .fa {
  color: #fff;
}

.site-selector__title {
  color: #fff;
  font-size: 20px;
  margin: 0 0 0 10px;
  align-self: center;
}

.site-selector__modal {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  color: #161616;
  display: block;
  left: 50%;
  padding: 40px 50px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
