<searchable-dropdown        *ngIf="totalRecords > 1"
                            #searchableDropdown    
                            [data]="sitesCurrentPage"
                            [totalRecords]="paginationService.totalRecords"
                            [rows]="10"
                            [pageLinkSize] = "3"
                            labelPropertyName = "name"
                            (filterChange)="handleFilterChange($event)"
                            (pageChange)="handlePageChange($event)"
                            (change)="siteChange($event)"
                            [(ngModel)]="currentSite"
                            class="site-selector__field">
</searchable-dropdown>

<span *ngIf="totalRecords == 1" class="site-selector__title">{{currentSite ? currentSite.name : ''}}</span>