<content-type-layout [contentTypeId]="contentTypeId">
    <content-types-form #form
        [data]="data"
        [type]="contentTypeType"
        [name]="contentTypeName | async"
        [icon]="contentTypeIcon"
        (onSubmit)="handleFormSubmit($event)">
    </content-types-form>

    <content-type-fields-drop-zone *ngIf="contentTypeId"
        [fields]="data.fields"
        (saveFields)="saveFields($event)"
        (removeFields)="removeFields($event)">

    </content-type-fields-drop-zone>
</content-type-layout>
