@if (vm$ | async; as vm) {
    @if (vm.working.identifier) {
        <dot-portlet-base [boxed]="false">
            <dot-portlet-toolbar [title]="vm.working.title">
                @if (vm.working.title) {
                    <ng-container left>
                        <button
                            (click)="editTemplateProps()"
                            [label]="'templates.edit' | dm"
                            class="p-button-text"
                            data-testId="editTemplateButton"
                            pButton
                            icon="pi pi-pencil"></button>
                        <dot-api-link [href]="vm.apiLink"></dot-api-link>
                    </ng-container>
                }
            </dot-portlet-toolbar>
            <!-- The observable returns a boolen, therefore we can not use  *ngIf="obs$ | async as obs" to subscribe to it -->
            @if ({ value: didTemplateChanged$ | async }; as didTemplateChanged) {
                <dot-template-builder
                    (updateTemplate)="updateWorkingTemplate($event)"
                    (saveAndPublish)="saveAndPublishTemplate($event)"
                    (save)="saveTemplate($event)"
                    (cancel)="cancelTemplate()"
                    (custom)="onCustomEvent($event)"
                    [didTemplateChanged]="didTemplateChanged.value"
                    [item]="vm.working"></dot-template-builder>
            }
        </dot-portlet-base>
    }
}
