<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>company_id</param-name>
		<param-value>[$COMPANY_ID$]</param-value>
	</context-param>
	<filter>
		<filter-name>Compression Filter</filter-name>
		<filter-class>com.liferay.filters.compression.CompressionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Secure MainServlet Filter</filter-name>
		<filter-class>com.liferay.filters.secure.SecureFilter</filter-class>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>main.servlet.</param-value>
		</init-param>
		<!--<init-param>
			<param-name>hosts.allowed</param-name>
			<param-value>127.0.0.1,SERVER_IP</param-value>
		</init-param>
		<init-param>
			<param-name>https.required</param-name>
			<param-value>false</param-value>
		</init-param>-->
	</filter>
	<filter>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<filter-class>com.liferay.filters.secure.SecureFilter</filter-class>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>axis.servlet.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>/c/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure MainServlet Filter</filter-name>
		<url-pattern>/c/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.servlet.PortalSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<display-name>InitServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<display-name>MainServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>ctx_path</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>stxxInit</param-name>
			<param-value>/stxx.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<display-name>CaptchaServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.CaptchaServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<display-name>ImageServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.ImageServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LuceneServlet</servlet-name>
		<display-name>LuceneServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.LuceneServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceProxyServlet</servlet-name>
		<servlet-class>com.liferay.portal.wsrp.servlet.ResourceProxyServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BlogsServlet</servlet-name>
		<display-name>BlogsServlet</display-name>
		<servlet-class>com.liferay.portlet.blogs.servlet.BlogsServlet</servlet-class>
		<init-param>
			<param-name>ctx_path</param-name>
			<param-value>/</param-value>
		</init-param>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ChatServlet</servlet-name>
		<display-name>ChatServlet</display-name>
		<servlet-class>com.liferay.portlet.chat.servlet.ChatServlet</servlet-class>
		<init-param>
			<param-name>chatServerClass</param-name>
			<param-value>com.liferay.portlet.chat.util.ChatServer</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>nfc/nfc.conf</param-value>
		</init-param>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HttpService</servlet-name>
		<servlet-class>com.liferay.portlet.httpbridge.servlet.HttpService</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.liferay.portlet.httpbridge.servlet.UserService</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JCVSServlet</servlet-name>
		<display-name>JCVSServlet</display-name>
		<servlet-class>com.liferay.portlet.jcvs.servlet.JCVSServlet</servlet-class>
		<init-param>
			<param-name>JCVSletConfigDirectory</param-name>
			<param-value>WEB-INF/jcvs/conf</param-value>
		</init-param>
		<init-param>
			<param-name>JCVSletTempDirectory</param-name>
			<param-value>WEB-INF/jcvs/temp</param-value>
		</init-param>
		<init-param>
			<param-name>JCVSletWorkDirectory</param-name>
			<param-value>WEB-INF/jcvs/work</param-value>
		</init-param>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<!--<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<display-name>FacesServlet</display-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>13</load-on-startup>
	</servlet>-->
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/captcha/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceProxyServlet</servlet-name>
		<url-pattern>/wsrp/resource_proxy/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlogsServlet</servlet-name>
		<url-pattern>/blogs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/chat/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpService</servlet-name>
		<url-pattern>/httpbridge/http</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JCVSServlet</servlet-name>
		<url-pattern>/jcvs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!--<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>-->
	<session-config>
		<session-timeout>[$SESSION_TIMEOUT$]</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!--<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>-->
</web-app>