@use "variables" as *;
@use "dotcms-theme/components/form/common";
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/common" as common2;
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

dot-material-icon-picker {
    @extend #form-field-extend;
    padding-right: 0;

    &.is-open {
        border: common2.$field-border-size solid colors.$color-palette-primary-400;
        @include mixins.field-focus;
    }

    &::ng-deep {
        .dot-material-icon__input,
        .dot-material-icon__button,
        .dot-material-icon__preview {
            border: 0;
            height: calc(
                common2.$field-height-md - (common2.$field-border-size * 2)
            ); // All of this is relative so it's not really taking the height of the field and we need to center the icon
        }

        .dot-material-icon__input {
            padding: spacing.$spacing-2;
            padding-right: 0;
            font-size: fonts.$font-size-md;

            &:focus {
                outline: none;
            }
        }

        .dot-material-icon__preview {
            font-size: fonts.$font-size-lg;
        }

        .dot-material-icon__button {
            @extend #field-trigger;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            mwc-icon {
                font-size: fonts.$font-size-lg;
                width: common2.$field-height-md;
            }
        }

        .dot-material-icon__list {
            border: 0;
            box-shadow:
                0 5px 5px -3px colors.$color-palette-black-op-20,
                0 8px 10px 1px colors.$color-palette-black-op-10,
                0 3px 14px 2px colors.$color-palette-black-op-10;
            color: colors.$black;

            li:hover {
                background: $bg-hover;
                color: colors.$black;
            }

            label {
                align-items: center;
                cursor: pointer;
                display: flex;
                padding: spacing.$spacing-2;
            }

            mwc-icon {
                font-size: fonts.$font-size-lmd;
            }
        }
    }
}
