dot-form {
    display: block;

    & > form {
        dot-form-column > * {
            display: block;
            margin: 1rem 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .dot-form__buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            button:last-child {
                margin-left: 1rem;
            }
        }
    }
}
