<div class="content-type" id="content-type">
    <p-tabView>
        <p-tabPanel header="{{i18nMessages['contenttypes.tab.header.fields']}}">
            <div class="content-type__fields-layout" id="content-type-form-layout">
                <div class="content-type__fields-main" id="content-type-form-main">
                    <ng-content></ng-content>
                </div>
                <div class="content-type__fields-sidebar">
                    <h4 class="content-type__fields-sidebar-title">{{i18nMessages['contenttypes.sidebar.components.title']}}</h4>
                    <content-types-fields-list></content-types-fields-list>
                    <h4 class="content-type__fields-sidebar-title">{{i18nMessages['contenttypes.sidebar.layouts.title']}}</h4>
                    <content-type-fields-row-list></content-type-fields-row-list>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{i18nMessages['contenttypes.tab.header.permissions']}}" *ngIf="contentTypeId">
            <dot-iframe [src]="permissionURL"></dot-iframe>
        </p-tabPanel>
        <p-tabPanel header="{{i18nMessages['contenttypes.tab.header.publisher.push.history']}}" *ngIf="contentTypeId">
            <dot-iframe [src]="pushHistoryURL"></dot-iframe>
        </p-tabPanel>
    </p-tabView>
</div>