@import "../../../../styles/mixins";
@import "../../../../styles/variables";
@import "../../../../styles/primeng-theme/utils/theme-variables";

.content-type {
    .ui-tabview-nav {
        box-shadow: 0 2px 2px $gray-light;
    }

    & > p-tabview {
        .ui-tabview-nav {
            position: relative;
            z-index: 1;
        }


    }

    dot-iframe {
        padding: $basic-padding * 2 0
    }
}

$top-height: ($toolbar-height + $tabview-nav-height);

.content-type__fields-layout {
    height: calc(100vh - #{$top-height});
    display: flex;
    overflow: hidden;
}

.content-type__fields-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.content-type__fields-sidebar {
    border-left: solid 1px $gray-lighter;
    width: 200px;
    display: flex;
    flex-direction: column;

    content-types-fields-list {
        overflow: auto;
    }

    content-type-fields-row-list {
        height: 200px;
    }
}

.content-type__fields-sidebar-title {
    background-color: $gray-lighter;
    font-size: $font-size-medium;
    font-weight: normal;
    margin: 0;
    padding: $basic-padding $basic-padding * 2;
}
