@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

$top-height: ($toolbar-height + $tabview-nav-height);

:host {
    ::ng-deep {
        .ui-tabview-nav {
            position: relative;
            z-index: 1;
        }
    }

    dot-iframe {
        padding: $basic-padding * 2 0;
        height: calc(100vh - #{$top-height});
    }

    .content-type__fields-layout {
        display: flex;
        height: calc(100vh - #{$top-height});
        overflow: hidden;
    }

    .content-type__fields-main {
        background-color: $gray-bg;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding: $basic-padding * 2;
    }

    .content-type__fields-sidebar {
        border-left: solid 1px $gray-bg;
        width: 200px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        dot-content-types-fields-list {
            overflow: auto;
        }

        dot-content-type-fields-row-list {
            height: 200px;
        }
    }
    .content-type__fields-sidebar-title {
        font-size: $font-size-medium;
        font-weight: normal;
        margin: 0;
        padding: $basic-padding $basic-padding * 2;
        border-bottom: 1px solid $gray-light;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        line-height: $basic-padding * 4;
        text-transform: uppercase;

        dot-icon {
            margin-right: $basic-padding * 2;
        }
    }

    .content-type-fields-row {
        background-color: $white;
    }
}
