<dot-device-selector-seo
    (selected)="changeDeviceHandler($event)"
    (changeSeoMedia)="changeSeoMedia($event)"
    (hideOverlayPanel)="tabButtons.resetDropdownById(dotPageMode.PREVIEW)"
    [apiLink]="apiLink"
    #deviceSelector
    appendTo="body"
    data-testId="dot-device-selector" />
@if (this.featureFlagEditURLContentMapIsOn) {
    <p-menu
        (onHide)="tabButtons.resetDropdownById(dotPageMode.EDIT)"
        [model]="menuItems"
        [popup]="true"
        #menu
        appendTo="body" />
}
<dot-tab-buttons
    (openMenu)="handleMenuOpen($event)"
    (clickOption)="stateSelectorHandler($event)"
    [activeId]="mode"
    [options]="options"
    #tabButtons
    data-testId="dot-tabs-buttons" />
@if (!variant) {
    <span
        [pTooltip]="
            pageState.state.lockedByAnotherUser && pageState.page.canEdit
                ? ('editpage.toolbar.page.locked.by.user' | dm: [pageState.page.lockedByName])
                : ('lock.clipboard' | dm)
        "
        tooltipPosition="bottom"
        data-testId="lock-container">
        <p-inputSwitch
            (click)="onLockerClick()"
            (onChange)="lockPageHandler()"
            [(ngModel)]="lock"
            [class.warn]="lockWarn"
            [disabled]="!pageState.page.canLock"
            #locker
            data-testId="lock-switch"
            appendTo="target" />
    </span>
}

<dot-edit-page-lock-info-seo [pageState]="pageState" #pageLockInfo data-testId="lockInfo" />
