<dot-device-selector-seo
    #deviceSelector
    [apiLink]="apiLink"
    (selected)="changeDeviceHandler($event)"
    (changeSeoMedia)="changeSeoMedia($event)"
    (hideOverlayPanel)="tabButtons.resetDropdownById(dotPageMode.PREVIEW)"
    appendTo="body"
    data-testId="dot-device-selector"></dot-device-selector-seo>
<p-menu
    #menu
    *ngIf="this.featureFlagEditURLContentMapIsOn"
    [model]="menuItems"
    [popup]="true"
    (onHide)="tabButtons.resetDropdownById(dotPageMode.EDIT)"
    appendTo="body">
</p-menu>
<dot-tab-buttons
    #tabButtons
    [activeId]="mode"
    [options]="options"
    (openMenu)="handleMenuOpen($event)"
    (clickOption)="stateSelectorHandler($event)"
    data-testId="dot-tabs-buttons"></dot-tab-buttons>
<ng-container *ngIf="!variant">
    <span
        [pTooltip]="
            pageState.state.lockedByAnotherUser && pageState.page.canEdit
                ? ('editpage.toolbar.page.locked.by.user' | dm : [pageState.page.lockedByName])
                : ('lock.clipboard' | dm)
        "
        tooltipPosition="bottom"
        data-testId="lock-container">
        <p-inputSwitch
            #locker
            [(ngModel)]="lock"
            [class.warn]="lockWarn"
            [disabled]="!pageState.page.canLock"
            (click)="onLockerClick()"
            (onChange)="lockPageHandler()"
            data-testId="lock-switch"
            appendTo="target"></p-inputSwitch>
    </span>
</ng-container>

<dot-edit-page-lock-info-seo
    #pageLockInfo
    [pageState]="pageState"
    data-testId="lockInfo"></dot-edit-page-lock-info-seo>
