<div class="field" [formGroup]="formGroup()">
    <label [for]="field().name" class="flex items-center gap-1">
        <span>{{ label() }}</span>
        @if (field().required) {
            <span class="text-red-500">*</span>
        }
    </label>

    @switch (field().type) {
        @case (DotAiProviderFieldType.NUMBER) {
            <p-inputnumber
                [inputId]="field().name"
                [formControlName]="field().name"
                [useGrouping]="false"
                [invalid]="isInvalid()"
                styleClass="w-full"
                inputStyleClass="w-full" />
        }
        @case (DotAiProviderFieldType.SECRET) {
            @if (isMaskedSecret()) {
                <input
                    pInputText
                    type="text"
                    [id]="field().name"
                    [formControlName]="field().name"
                    [invalid]="isInvalid()"
                    class="w-full" />
            } @else {
                <p-password
                    [inputId]="field().name"
                    [formControlName]="field().name"
                    [feedback]="false"
                    [toggleMask]="true"
                    [invalid]="isInvalid()"
                    styleClass="w-full"
                    inputStyleClass="w-full" />
            }
        }
        @default {
            <input
                pInputText
                [id]="field().name"
                [formControlName]="field().name"
                [invalid]="isInvalid()"
                class="w-full" />
        }
    }
    @if (field().hint) {
        <small class="p-field-hint block min-h-5">{{ field().hint }}</small>
    }
</div>
