<header>
    <h1 class="page-title">Treeable Detail</h1>
    <p>Display information for a file or folder selected.</p>
</header>

<section class="demo">
    <h4>Demo</h4>
    <treeable-detail></treeable-detail>
</section>

<section class="code">
<pre><code class="language-typescript" pCode>// Import the component and added to the declarations in your @NgModule
import &#123;DotcmsTreeableDetailModule&#125; from 'dotcms-js/components';

// Add it to the declarations in your @NgModule
@NgModule(&#123;
    imports: [DotcmsTreeableDetailModule]
&#125;)

// Use it in your template
&lt;treeable-detail&gt;&lt;/treeable-detailr&gt;
</code></pre>
</section>
