@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host ::ng-deep .p-button {
    // TODO: move this to an extend
    font-size: fonts.$font-size-sm;
    padding: spacing.$spacing-1 spacing.$spacing-2;
}

h3 {
    margin: 0 spacing.$spacing-2 0 0;
    font-size: fonts.$font-size-xl;
    line-height: 1.6; // Default 39px height
}

.dot-portlet-toolbar__actions {
    display: flex;
    margin-left: spacing.$spacing-1;
    align-items: center;

    & > * {
        margin-left: spacing.$spacing-1;
    }
}

.dot-portlet-toolbar__extra-left,
.dot-portlet-toolbar__extra-right {
    display: flex;
    align-items: center;
}

.dot-portlet-toolbar__extra-left ::ng-deep {
    & > * {
        margin-right: spacing.$spacing-3;

        &:last-child {
            margin-right: 0;
        }
    }
}
.dot-portlet-toolbar__extra-right ::ng-deep {
    & > * {
        margin-left: spacing.$spacing-3;

        &:first-child {
            margin-left: 0;
        }
    }
}
