<p-toolbar>
    <div class="p-toolbar-group-start" data-testId="leftGroup">
        @if (title) {
            <h3 data-testId="title">{{ title }}</h3>
        }
        <div class="dot-portlet-toolbar__extra-left">
            <ng-content select="[left]"></ng-content>
        </div>
    </div>

    <div class="p-toolbar-group-end" data-testId="rightGroup">
        <div class="dot-portlet-toolbar__extra-right">
            <ng-content select="[right]"></ng-content>
        </div>

        <div class="dot-portlet-toolbar__actions" data-testId="actionsWrapper">
            @if (actions?.cancel) {
                <button
                    (click)="onCancelClick($event)"
                    [label]="cancelButtonLabel || ('cancel' | dm)"
                    class="p-button-outlined"
                    data-testId="actionsCancelButton"
                    pButton></button>
            }

            @if (actions?.primary?.length) {
                @if (actions?.primary?.length === 1) {
                    <button
                        (click)="onPrimaryClick($event)"
                        [label]="actions?.primary[0]?.label || ('save' | dm)"
                        [disabled]="actions?.primary[0]?.disabled"
                        data-testId="actionsPrimaryButton"
                        pButton></button>
                } @else {
                    <button
                        (click)="menu.toggle($event)"
                        [label]="actionsButtonLabel || ('actions' | dm)"
                        data-testId="actionsMenuButton"
                        pButton
                        icon="pi pi-chevron-down"
                        iconPos="right"></button>
                    <p-menu
                        [popup]="true"
                        [model]="actions?.primary"
                        #menu
                        data-testId="actionsMenu"></p-menu>
                }
            }
        </div>
    </div>
</p-toolbar>
