<div class="dot-empty-container__notice">
    <span *ngIf="icon" class="material-icons" data-testid="material-icons">{{ icon }}</span>
    <h3 class="dot-empty-container__title" data-testid="title" *ngIf="title">{{ title }}</h3>
    <p class="dot-empty-container__content" data-testid="content" *ngIf="content">{{ content }}</p>
    <button
        pButton
        type="button"
        data-testid="button"
        (click)="handleClick($event)"
        label="{{ buttonLabel }}"
    ></button>
</div>
<table class="dot-empty-state" data-testid="dot-empty-state">
    <tbody>
        <tr *ngFor="let number of numberOfRows()">
            <td [ngStyle]="{ width: checkBoxWidth + '%' }" data-testid="checkbox">
                <div class="checkbox-dummy"></div>
            </td>
            <td
                *ngFor="let width of colsTextWidth"
                [ngStyle]="{ width: columnWidth }"
                data-testid="dummy-text-td"
            >
                <span class="dot-dummy-text" [ngStyle]="{ width: width + '%' }"></span>
            </td>
        </tr>
    </tbody>
</table>
