<dot-portlet-base [boxed]="false">
    <div class="container-create__tab-container">
        <p-tabView class="container-create__tabs">
            <p-tabPanel [header]="'message.containers.tab.properties' | dm">
                <ng-template pTemplate="content">
                    <dot-container-properties></dot-container-properties>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel *ngIf="containerId" [header]="'message.containers.tab.permissions' | dm">
                <dot-container-permissions [containerId]="containerId"></dot-container-permissions>
            </p-tabPanel>
            <p-tabPanel *ngIf="containerId" [header]="'message.containers.tab.history' | dm">
                <dot-container-history [containerId]="containerId"></dot-container-history>
            </p-tabPanel>
        </p-tabView>
    </div>
    <dot-global-message></dot-global-message>
</dot-portlet-base>
