@use "variables" as *;

p-tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p-tablist {
    flex-shrink: 0;
}

p-tabpanels {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
}
