<dot-portlet-base [boxed]="false">
    <div class="container-create__tab-container">
        <p-tabs class="container-create__tabs">
            <p-tab>
                <ng-template pTemplate="header">
                    {{ 'message.containers.tab.properties' | dm }}
                </ng-template>
                <ng-template pTemplate="content">
                    <dot-container-properties></dot-container-properties>
                </ng-template>
            </p-tab>
            @if (containerId) {
                <p-tab>
                    <ng-template pTemplate="header">
                        {{ 'message.containers.tab.permissions' | dm }}
                    </ng-template>
                    <ng-template pTemplate="content">
                        <dot-container-permissions
                            [containerId]="containerId"></dot-container-permissions>
                    </ng-template>
                </p-tab>
            }
            @if (containerId) {
                <p-tab>
                    <ng-template pTemplate="header">
                        {{ 'message.containers.tab.history' | dm }}
                    </ng-template>
                    <ng-template pTemplate="content">
                        <dot-container-history [containerId]="containerId"></dot-container-history>
                    </ng-template>
                </p-tab>
            }
        </p-tabs>
    </div>
    <dot-global-message></dot-global-message>
</dot-portlet-base>
