<dot-dialog
    [header]="'login-as' | dm"
    [(visible)]="visible"
    [actions]="dialogActions"
    (hide)="close()"
>
    <div class="login-as">
        <!--TODO: manage errors on required fields and errors messages -->
        <p class="login-as__error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        <form [formGroup]="form" (ngSubmit)="doLoginAs()" id="login-as-form" #formEl="ngForm" novalidate>
            <div class="form__group">
                <!--TODO: get rid of this let autoComplete when this is fixed: https://github.com/primefaces/primeng/issues/745-->
                <dot-searchable-dropdown #searchableDropdown
                    (change)="userSelectedHandler($event)"
                    (filterChange)="handleFilterChange($event)"
                    (pageChange)="handlePageChange($event)"
                    [data]="userCurrentPage"
                    [pageLinkSize]="paginationService.maxLinksPage"
                    [rows]="paginationService.paginationPerPage"
                    [totalRecords]="paginationService.totalRecords"
                    placeholder="{{ 'loginas.select.loginas.user' | dm }}"
                    formControlName="loginAsUser"
                    labelPropertyName="fullName"
                    width="100%">
                </dot-searchable-dropdown>
            </div>
            <div class="form__group" *ngIf="needPassword">
                <input pPassword #password [feedback]="false" formControlName="password" id="dot-login-as-password" type="password" placeholder="{{ 'loginas.input.loginas.password' | dm }}" floatingPlaceholder="false"/>
            </div>
        </form>
    </div>
</dot-dialog>
