<p-dialog
    class="page-tools-dialog"
    [(visible)]="visible"
    [position]="'right'"
    [closable]="false"
    [draggable]="false"
    header="{{ 'editpage.toolbar.nav.page.tools' | dm }}"
>
    <div class="page-tools">
        <ul class="page-tools-list">
            <li class="page-tools-list__item" *ngFor="let tool of tools$ | async">
                <a
                    class="page-tools-list__link"
                    href="{{ getRunnableLink(tool.runnableLink) }}"
                    target="_blank"
                >
                    <img
                        class="page-tools-list__logo"
                        src="{{ tool.icon }}"
                        alt="{{ tool.title }}"
                    />
                    <div class="page-tools-list__content">
                        <span class="page-tools-list__title">{{ tool.title }}</span>
                        <p class="page-tools-list__description">
                            {{ tool.description }}
                        </p>
                        <div class="page-tools-list__tags">
                            <div class="page-tools-list__tag" *ngFor="let tag of tool.tags">
                                {{ tag }}
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</p-dialog>
