@use "variables" as *;

.page-tools {
    width: $page-tools-width;
}

.page-tools-list {
    list-style: none;
    padding: 0;
}

.page-tools-list__item {
    display: flex;
    flex-direction: row;
    padding: $spacing-4;

    &:hover {
        background-color: $color-palette-gray-100;
    }
}

.page-tools-list__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $spacing-3;
}

.page-tools-list__title {
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
    line-height: $line-height;
    margin-bottom: $spacing-1;
}

.page-tools-list__tags {
    display: flex;
    gap: $spacing-1;
    margin-top: $spacing-1;
}

.page-tools-list__tag {
    background-color: $color-palette-gray-300;
    padding: $spacing-1;
    border-radius: $border-radius-sm;
    color: $color-palette-gray-700;
}

.page-tools-list__link {
    color: $black;
    text-decoration: none;
    display: flex;
}

.page-tools-list__logo {
    width: $page-tools-logo-size;
    height: $page-tools-logo-size;
}

.page-tools-list__description {
    margin: 0;
    line-height: $line-height;
}

::ng-deep {
    .page-tools-dialog {
        .p-dialog-right {
            .p-dialog {
                margin-right: $spacing-9;
            }
        }
        .p-dialog {
            .p-dialog-header {
                padding: $spacing-4;
                border-bottom: 1px solid $color-palette-gray-300;
            }

            .p-dialog-content {
                padding: 0;
            }
        }
    }
}
