@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

:host {
    display: flex;
    color: $gray;
    position: sticky;
    align-self: flex-start;
    margin-bottom: $spacing-3;
    margin-top: $spacing-3;
    top: 0;
    width: 100%;
}

.dot-palette-input-filter__back-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 $spacing-1 0 0;
    padding: 0;
}

input {
    border: 1px solid $gray-lighter;
    background: transparent;
    color: $gray;
    flex: 1;
    font-size: $font-size-x-small;
    height: 24px;
    outline: 0px;
    padding-right: $spacing-5;
    padding-left: $spacing-1;
}

.dot-palette-input-filter__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $spacing-1;
}
