<button
    *ngIf="goBackBtn"
    class="dot-palette-input-filter__back-btn"
    data-testId="goBackBtn"
    (click)="goBack.emit()"
>
    <dot-icon data-testId="goBack" name="keyboard_arrow_left" size="18"></dot-icon>
</button>

<input
    #searchInput
    data-testId="searchInput"
    [(ngModel)]="value" 
    [placeholder]="'Search' | dm | uppercase"
    pInputText
    type="text"
/>
<dot-icon
    name="search"
    class="dot-palette-input-filter__search-icon"
    data-testId="searchIcon"
    size="18"
></dot-icon>
