<dot-dialog
    #dialog
    [visible]="!!data"
    [bindEvents]="false"
    [actions]="dialogActions"
    [header]="data?.title"
    (hide)="close()"
    (keydown.escape)="close()"
    >
    <div class="dot-wizard__view" *ngIf="data?.steps?.length">
        <div class="dot-wizard__container"
             (keydown.tab)="handleTab($event)"
             (keydown.enter)="handleEnter($event)"
             [ngStyle]="{transform: transform}" >
            <div class="dot-wizard__step" *ngFor="let step of data.steps;">
                <ng-template dotContainerReference ></ng-template>
            </div>
        </div>
    </div>
</dot-dialog>
