<dot-palette-input-filter
    #inputFilter
    [goBackBtn]="true"
    (goBack)="backHandler()"
    (filter)="filterContentlets($event)"
></dot-palette-input-filter>

<div class="dot-content-palette__items" *ngIf="items?.length; else Loading">
    <div
        *ngFor="let item of items"
        draggable="true"
        data-testId="paletteItem"
        (dragstart)="dragStart(item)"
    >
        <img
            src="/dA/{{ item.inode }}/titleImage/48w"
            *ngIf="item?.hasTitleImage === true; else showIcon"
        />
        <ng-template #showIcon>
            <dot-contentlet-icon
                [icon]="
                    item?.baseType !== 'FILEASSET'
                        ? item?.contentTypeIcon || item?.icon
                        : item?.__icon__
                "
                size="45px"
            ></dot-contentlet-icon>
        </ng-template>
        <p>{{ item.title || item.name }}</p>
    </div>
    <p-paginator
        pageLinkSize="2"
        [rows]="itemsPerPage"
        [showFirstLastIcon]="false"
        [totalRecords]="totalRecords"
        (onPageChange)="onPaginate($event)"
    ></p-paginator>
</div>

<ng-template #Loading>
    <dot-spinner *ngIf="loading" [size]="'40px'" [borderSize]="'8px'"></dot-spinner>
</ng-template>

<span
    *ngIf="totalRecords < 1 && !loading"
    data-testId="emptyState"
    class="dot-content-palette__empty"
    >{{ 'No-Results' | dm }}</span
>
