@use "libs/dot-primeng-theme-styles/src/scss/variables" as *;

:host {
    width: $content-palette-width;
    min-width: $content-palette-width;
    display: flex;
    flex-direction: column;
    padding: $spacing-1;
    border-left: 1px solid $gray-lighter;
    background: $white;
    transition: all $basic-speed ease-in-out;
    text-align: center;
    height: 100%;
}

.dot-content-palette__items {
    margin-bottom: 50px;
    overflow: hidden auto;

    div {
        color: $black;
        cursor: grab;
        display: flex;
        overflow: hidden;
        padding: 0.25rem $spacing-1;
        position: relative;
        text-align: center;

        &:hover {
            background: $gray-bg;
        }

        img {
            height: 48px;
            object-fit: contain;
            width: 48px;
        }

        p {
            align-self: center;
            display: -webkit-box;
            font-size: $font-size-small;
            margin: 0 0 0 $spacing-1;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
    }

    p-paginator {
        bottom: 0;
        left: 1px;
        position: absolute;
        width: 100%;
    }
}

.dot-content-palette__empty {
    text-align: center;
    padding: $spacing-1 0;
    margin: $spacing-4;
}
