@use "variables" as *;

.form__validation-input-container {
    display: flex;
    gap: $spacing-2;

    .p-inputtext {
        flex-grow: 1;
    }

    p-dropdown {
        .p-dropdown {
            width: auto;
        }
    }
}
