<div class="field" [formGroup]="group">
    <label class="form__label">{{
        'contenttypes.field.properties.validation_regex.label' | dm
    }}</label>
    <div class="form__validation-input-container">
        <input [formControlName]="property.name" pInputText type="text" />
        <p-dropdown
            [style]="{ width: '125px' }"
            [options]="regexCheckTemplates"
            [formControlName]="property.name"
            (onChange)="templateSelect($event)"
            appendTo="body"
        >
        </p-dropdown>
    </div>
</div>
