@use "../../../../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

.form__validation-input-container {
    display: flex;
    gap: spacing.$spacing-2;

    .p-inputtext {
        flex-grow: 1;
    }

    p-dropdown {
        .p-dropdown {
            width: auto;
        }
    }
}
