<p-table [value]='data.fields' *ngIf='data'  styleClass="p-datatable-gridlines">
    <ng-template pTemplate='header'>
        <tr>
            <th style="width:12%"> </th>
            <th>
                <span class="dot-content-compare-table__title">
                    {{data.working?.title ? data.working?.title : data.working?.identifier}}
                </span>
            </th>
            <th>
               <div class="dot-content-compare-table__controls">
                   <p-dropdown [options]="data.versions" (onChange)='changeVersion.emit($event.value)' appendTo="body" >
                       <ng-template let-selected pTemplate="selectedItem">
                           {{selected.modDate}}
                       </ng-template>
                       <ng-template let-item pTemplate="item">
                           {{item.modDate}}
                       </ng-template>
                   </p-dropdown>
                   <p-selectButton
                       [options]="displayOptions"
                       [(ngModel)]="showDiff"
                       class="p-button-tabbed"
                       (onChange)="changeDiff.emit($event.value)" >
                   </p-selectButton>
               </div>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-field >
        <tr [ngSwitch]="field?.fieldType" >
           <td>{{field.variable}}</td>
            <ng-container *ngSwitchCase="'Image'">
               <td><img *ngIf="data.working[field.variable]" [alt]="data.working[field.variable]" [src]="'/dA/'+data.working[field.variable]+'/250w/20q'"></td>
               <td><img *ngIf="data.compare[field.variable]" [alt]="data.compare[field.variable]" [src]="'/dA/'+data.compare[field.variable]+'/250w/20q'"></td>
            </ng-container>
            <ng-container *ngSwitchCase="'File'" >
                <td>
                    <dot-content-compare-preview-field *ngIf="data.working[field.variable]"
                        [fileURL]="'/dA/'+data.working[field.variable]+'/fileAsset/'"
                        [label]="'/dA/'+data.working[field.variable]+'/fileAsset/'" >
                    </dot-content-compare-preview-field>
                </td>
                <td>
                    <dot-content-compare-preview-field *ngIf="data.compare[field.variable]"
                        [fileURL]="'/dA/'+data.compare[field.variable]+'/fileAsset/'"
                        [label]="'/dA/'+data.working[field.variable]+'/fileAsset/' | dotDiff:'/dA/'+data.compare[field.variable]+'/fileAsset/':showDiff" >
                    </dot-content-compare-preview-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchCase="'Binary'" >
                <td>
                    <dot-content-compare-preview-field *ngIf="data.working[field.variable]"
                                                       [fileURL]="data.working[field.variable]+'/fileAsset/'"
                                                       [label]="data.working[field.variable]+'/fileAsset/'" >
                    </dot-content-compare-preview-field>
                </td>
                <td>
                    <dot-content-compare-preview-field *ngIf="data.compare[field.variable]"
                                                       [fileURL]="data.compare[field.variable]+'/fileAsset/'"
                                                       [label]="data.working[field.variable]+'/fileAsset/' | dotDiff:data.compare[field.variable]+'/fileAsset/':showDiff" >
                    </dot-content-compare-preview-field>
                </td>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <td [innerHTML]="data.working[field.variable]"></td>
                <td [innerHTML]="(data.working[field.variable] ? data.working[field.variable] : '')  | dotDiff:(data.compare[field.variable] ? data.compare[field.variable] : '') :showDiff" >
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>
