@use "variables" as *;

.dot-content-compare-table__controls{
    display: flex;
    justify-content: space-between;
}

.dot-content-compare-table__title {
    color: $black;
    font-size: $font-size-large;
}

:host ::ng-deep .p-datatable {

    table {
        border-collapse: separate;
        border-spacing: 0;

        th {
            border-top: 1px solid $gray-lighter;
            border-bottom: 1px solid $gray-lighter;
            border-right: 1px solid $gray-lighter;
        }

        td {
            border-bottom: 1px solid $gray-lighter;
            border-right: 1px solid $gray-lighter;
        }

        th:first-child,
        td:first-child {
            border-left: 1px solid $gray-lighter;
        }

        thead th {
            position: sticky;
            top: 0;
            z-index: 1;

        }
    }
}
