@use "variables" as *;

:host {
    background-color: rgba($color-palette-primary, 0.2);
    padding: $spacing-1 $spacing-6;
    color: $brand-background;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-1;
}
