@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    background-color: colors.$color-palette-primary-op-20;
    padding: spacing.$spacing-1 spacing.$spacing-6;
    color: colors.$brand-background;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing.$spacing-1;
}
