<span> We released a new <b>Block Editor Field</b> that ease content creation. </span>

<button
    *ngIf="currentField?.id; else learnMore"
    pButton
    class="p-button-secondary p-button-sm"
    (click)="action.emit($event)"
>
    Check it out!
</button>

<ng-template #learnMore
    ><a
        [ngStyle]="{ 'text-decoration': 'none' }"
        class="p-element p-button-secondary p-button-sm p-button p-component"
        href="https://www.dotcms.com/docs/latest/block-editor"
        rel="noopener"
        target="_blank"
        >Learn More</a
    ></ng-template
>
