@use "variables" as *;

:host {
    background-color: $color-palette-primary-op-20;
    padding: $spacing-1 $spacing-6;
    color: $brand-background;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-1;
}
