.accordion-group__title {
  display: block;
}

.accordion-group__content {
  transition: max-height 0.15s ease-in;
  max-height: 0;
  overflow: hidden;
}

.accordion-group__content.is-open {
  max-height: 300px;
}
