<div class="dot-form-dialog__content">
    <ng-content pFocusTrap></ng-content>
</div>

<div class="dot-form-dialog__actions">
    <button
        data-testid="dotFormDialogCancel"
        pButton
        [label]="'cancel' | dm"
        class="p-button-secondary"
        (click)="onSecondaryClick($event)"
    ></button>
    <button
        data-testid="dotFormDialogSave"
        pButton
        [label]="'save' | dm"
        [disabled]="saveButtonDisabled"
        (click)="onPrimaryClick($event)"
    ></button>
</div>
