<div
    #dialog
    *ngIf="visible"
    [ngStyle]="{
        width: width,
        height: height
    }"
    class="dialog {{ cssClass }}"
>
    <header
        class="dialog__header"
        [class.dialog__header--shadowed]="isContentScrolled"
        [ngStyle]="headerStyle"
    >
        <h4 class="dialog__title" [textContent]="header"></h4>
        <dot-icon-button big icon="close" (click)="close($event)" *ngIf="closeable">
        </dot-icon-button>
    </header>

    <div class="dialog__content" [ngStyle]="contentStyle" (scroll)="onContentScroll($event)">
        <ng-content></ng-content>
    </div>

    <footer
        class="dialog__footer"
        *ngIf="actions"
        [class.dialog__footer--shadowed]="isContentScrolled"
    >
        <button
            *ngIf="actions.cancel"
            pButton
            class="dialog__button-cancel p-button-secondary"
            (click)="cancelAction()"
            [disabled]="actions.cancel.disabled"
            [label]="actions.cancel.label"
            [style.display]="hideButtons ? 'none' : 'block'"
        ></button>
        <button
            *ngIf="actions.accept"
            class="dialog__button-accept"
            pButton
            [disabled]="actions.accept.disabled"
            [label]="actions.accept.label"
            (click)="acceptAction()"
            [style.display]="hideButtons ? 'none' : 'block'"
        ></button>
    </footer>
</div>
