<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="DOTCMS_LOG_FILE">${sys:catalina.home}/logs/dotcms.log</Property>
        <Property name="DOTCMS_FILENAME_PATTERN">${sys:catalina.home}/logs/archive/dotcms-%i.log.gz</Property>
        <Property name="MESSAGE_PATTERN">[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}  %-5level %logger{2} - %msg%n" />
        </Console>
        <!--  Generic Logging File -->
        <RollingFile name="Generic-File"
                     fileName="${DOTCMS_LOG_FILE}"
                     filePattern="${DOTCMS_FILENAME_PATTERN}"
                     immediateFlush="false">
            <PatternLayout pattern="${MESSAGE_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Generic-File"/>
        </Root>
    </Loggers>
</Configuration> 
