<div class="container-selector">
    <div class="container-selector__header">
        <searchable-dropdown
            (change)="containerChange($event)"
            (filterChange)="handleFilterChange($event)"
            (pageChange)="handlePageChange($event)"
            [data]="currentContainers"
            [pageLinkSize]="5"
            [rows]="paginationService.paginationPerPage"
            [totalRecords]="paginationService.totalRecords"
            labelPropertyName="name"
            placeholder="{{messageService.get('editpage.container.add-container')}}"
            persistentPlaceholder="true">
        </searchable-dropdown>
        <button class="container-selector__header-remove" pButton iconButton flat icon="fa-close" (click)="remove.emit($event)"></button>
    </div>
    <ul class="container-selector__list">
        <li *ngFor="let container of selectedContainersList; let i = index" class="container-selector__list-item">
            <button pButton iconButton flat icon="fa-trash" (click)="removeContainerItem(i)"></button>     
            {{ container.name }}
        </li>
    </ul>
</div>