.buttonRow.scheme {
    position:absolute;
    bottom:0; right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
}

.portlet-toolbar__actions-secondary{padding-right: 50px;}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}
.flex-wrap{ 
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
    padding-left:10px;
    background-color: #F4F3F4;
}
.flex-item {
	position: relative;
	background: #fff;
	padding: 0;
	width: 45%;
	max-width: 420px;
	min-height: 300px;
	margin: 10px;
	box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.wfSchemeTitle {
	background-color: #fff;
	color: #666;
	margin-bottom: 0;
	padding: 16px 24px 8px 16px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #e0e0e0;
	min-height: 75px; 
}

.editRow:hover th{background:#C1D9EE;}
.editRow:hover td{background:#DBEBF9;}

ol.wfStepsList{margin:15px 15px 75px 15px;}
ol.wfStepsList li{padding:8px 16px;margin:0 10px; list-style:decimal;  list-style-position:inside;}

.wfSchemeShowSteps{
	padding:10px;
	margin:10px;
	border-radius:7px;
	margin-left:30px;
	background:#eeeeee;
	width:90%;	
}
#wfStepsBoundingBoxMain{
	margin:10px;
	padding:10px;
	border:1px solid white;
	display: block;
	position:relative;
}
.wfStepBoundingBox{
	margin-bottom:20px;
	border:1px solid silver;

	padding-bottom:10px;
	border-radius:7px;
}
.topspacing{
	margin:10px;
}
.wfStepTitle{
	padding: 8px 8px 8px 24px;
	background: #eeeeee;
	margin-bottom:20px;
	font-size: 14px;
}
.wfStepTitleDivs{
	padding-top:10px;
	padding-bottom:10px;
}

.wfActionList{
	margin-left:20px;
	margin-right:50px;
	margin-top:-1px;
	padding:10px;
	border:1px solid silver;
	font-weight: bold;
	width:95%;
}
.wfActionList td{
	padding:10px;
	border-bottom:1px solid silver;
	cursor: pointer;
}
.wfXBox{
	width:20px;text-align: center;cursor:pointer;
}

.container {
     display: block;
 }

.showPointer{
	cursor: pointer;
}

.showPointer h2 {
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wfAddActionButtonRow{
	margin:10px;
	text-align: right;
}
.wfWhoCanUseDiv{
	padding:10px;	
}

.saveButtonDivShow{
	font-weight:bold;	
}
#wacHeader{
	margin-bottom:20px;	

	
}
#wacTitle{
	float:left;
	margin-top:20px;

}
#wacMessage{
	text-align: left;
	width:250px;	
	float:right;
}
#actionClassParamsDia{
	min-width:600px;
	max-width:70%;
	min-height:400px;
	max-height:90%;
	overflow:auto;
}
.wfnoSubActions{
	text-align: center;
	padding:10px;	
}
.wfParamTextArea{
	min-height:75px;
	max-height:200px;	
	width:300px;

}

#stepEditDia .escalation-row {
	display: none;
}

#contentletWfDialog{
	width:500px;
	height:300px;
	
}

#contentletWfCP{
	width:500px;
	height:300px;
	margin:auto;
}

.schemeTitle {
    display: flex;
}

.schemeTitle div {
    margin-right: 18px;
}

.showPointer i {
    padding-top: 3px;
}

.schemeTitle .api-link {
    margin-top: 2px;
}

.portlet-toolbar {
	background-color: #fff; 
	margin: 0 0 0 0; 
	padding: 0 16px;
	border-bottom: #e3e3e3;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hangWorkflowMainHere,
#workflowSchemeMain,
.board-wrapper {
    height: 100%;
}

#workflowSchemeMain {
    overflow: auto;
}

.board-wrapper {
	bottom: 0;
	padding-top: 120px;
	background-color: #F4F3F4;
}

.board-main-content{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-right: 0;
	-webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in;
    overflow: auto;
}
.board-canvas {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding:10px;
}
.board {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	margin-bottom: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 10px;
	padding-right: 56px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.list-wrapper {
	width: 275px;
	margin: 0 8px;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	margin-bottom:20px;
}

.list-item {
	background: #Fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height: 100%;
	position: relative;
	white-space: normal;
	padding-bottom: 24px;
	min-height: 450px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.wfActionList {
	border: 0;
	margin-left:5px;
	margin-right: 5px;
	width: 265px;
	min-height: 300px;
}

.scrollbar {
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
}

.wfStepTitle {
	background-color: var(--color-main);
	color: #fff;
	margin-bottom: 0;
}

.wf-action-wrapper {
	background: #fcfcfc;
	margin: 8px 0px;
	border-bottom: 1px solid #ccc;
	padding: 12px 12px;

}
.wf-action-wrapper:hover,
.makeMeBlue{
	background-color: rgba(var(--color-main_rgb), 0.2);
}

.pull-right {
	float: right;
	margin: 0 0px 8px 8px;
}

.btn-flat-wrapper {
	position: absolute;
	bottom: 18px;
	width: 100%;
	text-align: right;
}

.btn-flat {
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 16px;
	margin: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	color: #a6a6a6;
	letter-spacing: 0.1em
}
.btn-flat:last-child{
	margin-right: 10px;
}

.btn-flat:hover{
	background: #F4F3F4;
}

.btn-primary {
	color: var(--color-main);
}

.box-wrapper:hover .ghost-box {
  opacity: 1
}
.box-wrapper:hover .title {
  opacity: 0
}

.ghostAddDiv {
    opacity: .1;
    border:2px dotted black;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.ghostAddDiv:hover  {
    opacity: 1;
    	cursor: pointer;
    	border:1px dotted silver;
}

.structure-content-type-listing{
	padding:10px;border-bottom:1px solid silver;cursor: pointer;background: white;
	
}
.structure-content-type-listing:hover {
	background:#DBEBF9;
	}
.structure-content-type-listing a{
    text-decoration:none;
    }