@use "variables" as *;

:host {
    width: 100%;
}

.container {
    background-color: $white;
    padding: $spacing-4;
    border-radius: $border-radius-xl;
    min-height: 500px;
}

@media only screen and (max-width: $screen-lg-max) {
    .container {
        width: calc(100% - $spacing-5);
    }
}
