<dot-dropdown-component
        icon="add"
        alignRight="true"
        [disabled]="!types">

    <div class="toolbar-add-contentlet__head">
        <span class="toolbar-add-contentlet__head--button"
              *ngFor="let structureTypeView of types">

            <button md-icon-button (click) = "select(structureTypeView)"
                    [class.toolbar-add-contentlet__head--selected]="selected && selected.length === 1 && selected[0] === structureTypeView">
            </button>

            <label>{{structureTypeView.label}}</label>

        </span>
    </div>

    <toolbar-add-contentlet-body
            [structureTypeViews] = "selected"
            [showMore] = "showMore"
            (select) = "close()"
            (more)="nextRecent()">

    </toolbar-add-contentlet-body>
</dot-dropdown-component>
