@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host ::ng-deep {
    .p-autocomplete-token {
        flex-direction: row-reverse;
        max-width: spacing.$spacing-10;
    }

    .p-autocomplete-loader {
        display: none;
    }
}
