@use "variables" as *;
@import "dotcms-theme/components/form/common";

:host {
    min-height: 6.85rem;
    display: flex;
    position: relative;

    .autocomplete-helper {
        font-size: $font-size-sm;
        text-transform: uppercase;
        position: absolute;
        top: $spacing-4;
        right: $spacing-1;
        color: $color-palette-gray-700;
        display: flex;
        align-items: baseline;

        dot-icon {
            border: 1px solid;
            padding: 2px;
            margin-left: $spacing-1;
            vertical-align: middle;
        }
    }

    ::ng-deep {
        p-autocomplete {
            width: 100%;
        }

        .p-autocomplete {
            display: flex;

            &.p-autocomplete-multiple {
                .p-autocomplete-multiple-container {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    right: $spacing-9;
                    overflow: visible;
                    height: 0;
                    padding: 0;
                    width: 100%;
                    border: 0;
                    outline: none;
                    display: block;

                    .p-autocomplete-input-token {
                        display: flex;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: -3rem;

                        input.p-element.ui-inputtext {
                            @extend #form-field-extend;
                            background-color: transparent;
                            width: 100%;
                            text-overflow: ellipsis;
                            border: none;
                            outline: none;
                            color: $black;

                            &:enabled:hover,
                            &:enabled:focus,
                            &:enabled:active {
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }

                .p-autocomplete-token {
                    margin: $spacing-1 $spacing-1 0 0;

                    span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span:last-child {
                        margin-right: $spacing-1;
                    }
                }
            }
        }

        .p-autocomplete-dropdown {
            margin-left: auto;
            width: $spacing-3;
            border: 0;

            .p-button-icon-left {
                right: 0;
                left: auto;
                width: 12px;
            }
        }

        .p-autocomplete-loader {
            display: none;
        }
    }
}
