@use "variables" as *;

:host ::ng-deep {
    .p-autocomplete-token {
        flex-direction: row-reverse;
        max-width: $spacing-10;
    }

    .p-autocomplete-loader {
        display: none;
    }
}
