<ng-template #defaultListTemplate let-data="data" pTemplate="list">
    @for (item of data; track $index) {
        <span
            (click)="handleClick(item)"
            [class.selected]="item[getValueLabelPropertyName()] === valueString"
            class="searchable-dropdown__data-list-item"
            data-testid="searchable-dropdown-data-list-item">
            @if (item[getValueLabelPropertyName()] === valueString) {
                <i class="pi pi-check"></i>
            }
            {{ item.label }}
        </span>
    }
</ng-template>

<ng-template #defaultFilterTemplate>
    <dot-icon class="searchable-dropdown__search-icon" name="search" />
    <input
        #searchInput
        (click)="$event.stopPropagation()"
        [placeholder]="'search' | dm"
        autofocus
        class="searchable-dropdown__search-inputfield"
        data-testid="searchInput"
        pInputText
        type="text" />
</ng-template>

<ng-template #defaultSelectTemplate let-item="item">
    @if (label) {
        <button
            #button
            (click)="searchPanel.toggle($event)"
            [disabled]="disabled"
            [label]="label"
            [ngStyle]="{ width: width }"
            class="p-button-outlined"
            icon="pi pi-chevron-down"
            iconPos="right"
            pButton
            type="button"></button>
    }
</ng-template>

<p-overlayPanel
    #searchPanel
    (onHide)="hideOverlayHandler()"
    (onShow)="showOverlayHandler()"
    [dismissable]="true"
    [styleClass]="cssClass"
    [style]="{ 'min-height': overlayPanelMinHeight + 'px', width: overlayWidth }"
    appendTo="body">
    <header class="searchable-dropdown__search">
        <div class="searchable-dropdown__search-section">
            <ng-container [ngTemplateOutlet]="externalFilterTemplate || defaultFilterTemplate" />
        </div>
        @if (action) {
            <div class="searchable-dropdown__search-action">
                <p-button (click)="action($event)"
                    icon="pi pi-plus"
                    styleClass="p-button-text p-button-rounded" />
            </div>
        }
    </header>

    <p-dataView
        #dataView
        (click)="$event.stopPropagation()"
        (onLazyLoad)="paginate($event)"
        [lazy]="true"
        [pageLinks]="pageLinkSize"
        [paginator]="totalRecords > rows"
        [rows]="rows"
        [styleClass]="cssClassDataList"
        [totalRecords]="totalRecords"
        [value]="options"
        class="searchable-dropdown__data-list">
        <ng-template let-data pTemplate="list">
            <ng-container [ngTemplateOutletContext]="{
                    data: data,
                    selectedOptionValue: selectedOptionValue
                }"
                [ngTemplateOutlet]="externalItemListTemplate || defaultListTemplate" />
        </ng-template>
    </p-dataView>
</p-overlayPanel>

<ng-container [ngTemplateOutletContext]="{ item: value }"
    [ngTemplateOutlet]="externalSelectTemplate || defaultSelectTemplate" />
