<ng-template #defaultItemListTemplate let-item="item" pTemplate="listItem">
    <span
        class="searchable-dropdown__data-list-item"
        [class.selected]="item[labelPropertyName] === valueString"
        (click)="handleClick(item)"
        data-testid="searchable-dropdown-data-list-item"
        ><i class="pi pi-check" *ngIf="item[labelPropertyName] === valueString"></i
        >{{ item.label }}</span
    >
</ng-template>

<ng-template #defaultFilterTemplate>
    <dot-icon class="searchable-dropdown__search-icon" name="search"></dot-icon>
    <input
        class="searchable-dropdown__search-inputfield"
        #searchInput
        [placeholder]="'search' | dm"
        (click)="$event.stopPropagation()"
        autofocus
        data-testid="searchInput"
        pInputText
        type="text" />
</ng-template>

<ng-template #defaultSelectTemplate let-item="item">
    <button
        class="p-button-outlined"
        #button
        *ngIf="label"
        [disabled]="disabled"
        [label]="label"
        [ngStyle]="{ width: width }"
        (click)="searchPanel.toggle($event)"
        icon="pi pi-chevron-down"
        iconPos="right"
        pButton
        type="button"></button>
</ng-template>

<p-overlayPanel
    #searchPanel
    [dismissable]="true"
    [styleClass]="cssClass"
    [style]="{ 'min-height': overlayPanelMinHeight + 'px', width: overlayWidth }"
    (onHide)="hideOverlayHandler()"
    (onShow)="showOverlayHandler()"
    appendTo="body">
    <header class="searchable-dropdown__search">
        <div class="searchable-dropdown__search-section">
            <ng-container
                [ngTemplateOutlet]="externalFilterTemplate || defaultFilterTemplate"></ng-container>
        </div>
        <div class="searchable-dropdown__search-action" *ngIf="action">
            <p-button
                (click)="action()"
                icon="pi pi-plus"
                styleClass="p-button-text p-button-rounded"></p-button>
        </div>
    </header>

    <p-dataView
        class="searchable-dropdown__data-list"
        #dataView
        [lazy]="true"
        [pageLinks]="pageLinkSize"
        [paginator]="totalRecords > rows"
        [rows]="rows"
        [styleClass]="cssClassDataList"
        [totalRecords]="totalRecords"
        [value]="options"
        (click)="$event.stopPropagation()"
        (onLazyLoad)="paginate($event)">
        <ng-template let-item pTemplate="listItem">
            <ng-container
                [ngTemplateOutletContext]="{
                    item: item,
                    selectedOptionValue: selectedOptionValue
                }"
                [ngTemplateOutlet]="
                    externalItemListTemplate || defaultItemListTemplate
                "></ng-container>
        </ng-template>
    </p-dataView>
</p-overlayPanel>

<ng-container
    [ngTemplateOutletContext]="{ item: value }"
    [ngTemplateOutlet]="externalSelectTemplate || defaultSelectTemplate"></ng-container>
