<p-card
    [ngClass]="{
        'dot-apps-card__disabled': !app.configurationsCount
    }"
    (click)="actionFired.emit(app.key)"
>
    <p-header>
        <dot-avatar
            [showDot]="!!app.configurationsCount"
            [size]="40"
            [url]="app.iconUrl"
            [label]="app.name"
        ></dot-avatar>
        <div class="dot-apps-card__label-container">
            <span class="dot-apps-card__name">
                {{ app.name }}
            </span>
            <span class="dot-apps-card__configurations"
                >{{
                    app.configurationsCount
                        ? app.configurationsCount + ' ' + messagesKey['apps.configurations']
                        : messagesKey['apps.no.configurations']
                }}
            </span>
            <dot-icon
                *ngIf="app.sitesWithWarnings"
                name="warning"
                pTooltip="{{
                    app.sitesWithWarnings + ' ' + messagesKey['apps.invalid.configurations']
                }}"
                size="18"
            ></dot-icon>
        </div>
    </p-header>
    <ngx-md>{{ app.description }}</ngx-md>
</p-card>
