@import "variables";
@import "mixins";

:host {
    box-shadow: $md-shadow-2;
    display: block;
    height: 192px;
    transition: box-shadow $basic-speed ease-in;

    &:hover {
        box-shadow: $md-shadow-3;
        cursor: pointer;
    }
}

.dot-apps-card__disabled {
    background-color: $gray-bg;
    display: block;
    height: 100%;

    &:hover {
        background-color: $white;

        ::ng-deep {
            .ui-widget-content {
                background-color: $white;
            }
            .avatar__img {
                filter: unset;
            }
        }
        .dot-apps-card__name {
            color: $black;
        }
    }

    ::ng-deep {
        .avatar__img {
            filter: grayscale(1);
        }
        .ui-widget-content {
            background-color: $gray-bg;
        }
        .dot-apps-card__name {
            color: $gray;
        }
    }
}

p-header {
    display: flex;
    padding-top: $basic-padding * 3;
}

dot-avatar {
    border-radius: 50%;
    box-shadow: $md-shadow-2;
    margin: 0 $basic-padding * 2 0;
}

.dot-apps-card__name {
    color: $black;
    display: block;
    flex: 1;
    font-size: $font-size-large;
    font-weight: bold;
    height: $basic-padding * 2;
    line-height: $basic-padding * 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dot-apps-card__label-container {
    position: relative;

    dot-icon {
        bottom: 0;
        color: $brand-primary;
        position: absolute;
        right: 0;
    }
}

.dot-apps-card__configurations {
    color: $gray;
    display: block;
    font-size: $font-size-medium;
    line-height: $basic-padding * 2;
    margin-top: $basic-padding;
    margin-right: $basic-padding * 3;
}

::ng-deep .ui-card-body {
    color: $gray;
    padding: 0;

    .ui-card-content > p {
        height: 60px;
        font-size: $font-size-large;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: $basic-padding * 3 $basic-padding * 2;
    }
}
