<dot-palette-input-filter (goBack)="backHandler()"
    (filter)="filterContentlets($event)"
    [goBackBtn]="true"
    #inputFilter />

@if (items?.length) {
    <div class="dot-content-palette__items">
        @for (item of items; track item) {
            <div (dragstart)="dragStart(item)" draggable="true" data-testId="paletteItem">
                @if (item?.hasTitleImage === true) {
                    <img src="/dA/{{ item.inode }}/titleImage/500w/50q" />
                } @else {
                    <dot-contentlet-icon [icon]="
                            item?.baseType !== 'FILEASSET'
                                ? item?.contentTypeIcon || item?.icon
                                : item?.__icon__
                        "
                        size="45px" />
                }
                <p>{{ item.title || item.name }}</p>
            </div>
        }
        <p-paginator (onPageChange)="onPaginate($event)"
            [rows]="itemsPerPage"
            [showFirstLastIcon]="false"
            [totalRecords]="totalRecords"
            pageLinkSize="2" />
    </div>
} @else {
    @if (loading) {
        <dot-spinner [size]="'40px'" [borderSize]="'8px'" />
    }
}

@if (totalRecords < 1 && !loading) {
    <span class="dot-content-palette__empty" data-testId="emptyState">
        {{ 'No-Results' | dm }}
    </span>
}
