{
  "name": "@dotcms/{{ packageName }}",
  "version": "{{ packageVersion }}{{ packageVersionSuffix }}",
  "scripts": {
    "postinstall": "node src/postinstall.js install",
    "postuninstall": "node src/postinstall.js uninstall && npm prune"
  },
  "binaries": {
    "{{ projectName }}-{{ packageVersion }}-darwin-arm64": "bin/{{ projectName }}-{{ packageVersion }}-osx-aarch_64",
    "{{ projectName }}-{{ packageVersion }}-darwin-x64": "bin/{{ projectName }}-{{ packageVersion }}-osx-x86_64",
    "{{ projectName }}-{{ packageVersion }}-linux-x64": "bin/{{ projectName }}-{{ packageVersion }}-linux-x86_64",
    "{{ projectName }}-{{ packageVersion }}-win32-x64": "bin/{{ projectName }}-{{ packageVersion }}-windows-x86_64.exe"
  },
  "project": "{{ projectName }}",
  "files": [
    "bin",
    "src"
  ],
  "description": "Official command-line tool to manage dotCMS content.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/dotCMS/core.git#master"
  },
  "keywords": [
    "dotCMS",
    "CMS",
    "Content Management",
    "CLI",
    "dotCMS CLI",
    "dotCMS command-line tool",
  ],
  "author": "dotcms <dev@dotcms.com>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/dotCMS/core/issues"
  }
}
