<p-confirmDialog
    *ngIf="dotAlertConfirmService.confirmModel"
    [closable]="false"
    [style]="{width: '400px'}"
    #cd>
    <p-footer>
        <button
            (click)="onClickConfirm('reject')"
            [label]="dotAlertConfirmService.confirmModel.footerLabel.reject"
            class="p-button-outlined"
            type="button"
            pButton
            tabindex="-1"></button>
        <button
            (click)="onClickConfirm('accept')"
            [label]="dotAlertConfirmService.confirmModel.footerLabel.accept"
            type="button"
            pButton
            #confirmBtn></button>
    </p-footer>
</p-confirmDialog>

<p-dialog
    *ngIf="dotAlertConfirmService.alertModel"
    [closable]="false"
    [draggable]="false"
    [header]="dotAlertConfirmService.alertModel.header"
    [visible]="true"
    [style]="{width: '400px'}"
    modal="modal">
    <div [innerHTML]="dotAlertConfirmService.alertModel.message"></div>
    <p-footer>
        <button
            *ngIf="dotAlertConfirmService.alertModel.footerLabel.reject"
            (click)="dotAlertConfirmService.alertReject($event)"
            [label]="dotAlertConfirmService.alertModel.footerLabel.reject"
            class="p-button-outlined"
            type="button"
            pButton></button>
        <button
            (click)="dotAlertConfirmService.alertAccept($event)"
            [label]="dotAlertConfirmService.alertModel.footerLabel.accept"
            type="button"
            pButton
            #acceptBtn></button>
    </p-footer>
</p-dialog>
