@use "variables" as *;

.experiment-goal-select__form-wrapper {
    padding: $spacing-3;

    form {
        .field {
            gap: $spacing-3;

            label {
                font-weight: $font-weight-bold;
                margin-bottom: $spacing-0;
                font-size: $font-size-md;
            }

            p {
                margin: $spacing-0;
                color: $color-palette-gray-500;
            }

            input {
                border-color: $color-palette-gray-300;
            }
        }
    }
}

::ng-deep {
    dot-field-validation-message {
        display: flex;
        margin-top: $spacing-1;
    }
}
