@use "variables" as *;

a,
a:focus,
a:active {
    text-decoration: none;
}

// This styles are the same as .p-button.p-button-text.p-button-sm in _buttons.scss,
// the problem is the :enabled pseudoclass, hyperlink tag doesn't have that pseudoclass

.p-button {
    &:hover {
        background: $color-palette-primary-100;
    }

    &:focus {
        background: white;
        box-shadow: 0px 0px 0px 2.8px $color-palette-primary-300;
    }

    &:active {
        background: $color-palette-primary-200;
        box-shadow: none;
    }
}
