@use "variables" as *;

:host {
    display: inline-flex;
}

button {
    border-radius: 4px;
    border-color: $color-gray-300 !important ;
    padding: 0.25rem $spacing-1;
    gap: 0.25rem;

    font-size: $font-size-small;

    .p-button-label {
        color: $color-gray-500 !important;
    }

    .material-icons {
        color: $color-primary-500;
    }
}
