<div class="row-header">
    <span class="row-header__drag"></span>
</div>
<div class="row-columns">
    <div
        *ngFor="let column of fieldRow.columns; let i = index"
        [class.empty]="!column.fields.length"
        [(dragulaModel)]="column.fields"
        class="row-columns__item"
        data-drag-type="target"
        dragula="fields-bag"
    >
        <dot-icon-button-tooltip
            tiny
            *ngIf="!column.fields.length"
            class="row-header__remove"
            icon="delete"
            [tooltipText]="'contenttypes.action.delete' | dm"
            (click)="remove(i)"
        >
        </dot-icon-button-tooltip>

        <dot-content-type-field-dragabble-item
            *ngFor="let field of column.fields"
            [field]="field"
            (remove)="onRemoveField($event)"
            (edit)="this.editField.emit(field)"
        >
        </dot-content-type-field-dragabble-item>
    </div>
</div>
