@use "variables" as *;
@import "mixins";

:host {
    dot-dialog ::ng-deep {
        th {
            text-align: left;
        }

        .dialog .p-dialog {
            width: 800px;

            .p-dialog-content {
                height: 665px !important;
            }
        }

        .p-paginator-bottom {
            @include paginator-bottom-absolute;
        }
    }
}
