@import "primeng-theme/utils/theme-variables";

$action-button-height: 56px;

:host(.action-button--no-label) ::ng-deep {
    display: inline-block;

    .ui-button.ui-button-icon-only {
        border-radius: 50%;
        font-size: $font-size-large;
        height: $action-button-height;
        width: $action-button-height;

        &:not([disabled]) {
            background-color: $blue;
            box-shadow: $md-shadow-1;
            opacity: 1;
        
            &:hover {
                background: darken($brand-primary, 10%);
                box-shadow: $md-shadow-3;
            }

            &:active {
                background: darken($brand-primary, 20%);
            }

            &:focus {
                background: darken($brand-primary, 10%);
            }

            [class^="ui-button-icon"],
            .ui-button-text,
            .ui-c {
                color: $white;
            }
        }
    }
}

:host ::ng-deep {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: $action-button-height;

    .ui-button.ui-button-icon-only.action-button--selected {
        background: rgba($black, $button-hover-background-opacity);
    }
}

.action-button__label {
    margin: 0;
    text-align: center;
}

.action-button__label--disabled {
    color: $field-disabled-color;
}