@import "dotcms-theme/utils/theme-variables";

$action-button-height: 48px;

:host(.action-button--no-label) ::ng-deep {
    display: inline-block;

    dot-icon-button button {
        border-radius: 50%;
        font-size: $font-size-large;
        height: $action-button-height;
        width: $action-button-height;

        .material-icons {
            font-size: $md-icon-size-big;
        }

        &:not([disabled]) {
            background-color: $brand-primary;
            box-shadow: $md-shadow-1;
            opacity: 1;

            &:hover {
                background: $brand-primary_mod;
                box-shadow: $md-shadow-3;
            }

            &:active,
            &:focus {
                background: $brand-primary_mod;
            }

            [class^="ui-button-icon"],
            .p-button-text,
            .p-c,
            i {
                color: $white;
            }
        }
    }
}

:host ::ng-deep {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: $action-button-height;

    .p-button.p-button-icon-only.action-button--selected {
        background: rgba($black, $button-hover-background-opacity);
    }
}

.action-button__label {
    margin: 0;
    text-align: center;
}

.action-button__label--disabled {
    color: $field-disabled-color;
}
