@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

$dot-secondary-toolbar-height: 3.75rem;

.edit-page-toolbar__cancel {
    margin-right: spacing.$spacing-1;
}

.dot-edit__what-changed-button {
    margin-right: spacing.$spacing-3;
}

.main-toolbar-right {
    align-items: center;
    display: flex;
}

.dot-edit__experiments-results-tag {
    cursor: pointer;
}

::ng-deep {
    .dot-favorite-page-highlight i {
        color: colors.$color-palette-primary;
    }

    .dot-secondary-toolbar__lower {
        height: $dot-secondary-toolbar-height;
        align-items: center;
    }

    .lower-toolbar-right {
        justify-content: flex-end;
    }
}

:host {
    @media only screen and (max-width: $screen-device-container-max) {
        .lower-toolbar-right {
            flex-flow: row;
        }
    }
}
