@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    position: relative;
    display: block;

    ::ng-deep {
        .p-autocomplete-panel {
            width: auto !important;
        }

        .p-autocomplete-list-item {
            white-space: nowrap;
        }
    }

    dot-field-helper {
        @include mixins.dot-field-helper-on-input;
        top: spacing.$spacing-0;
    }

    .p-info {
        margin-top: spacing.$spacing-1;
    }
}

.dot-page-selector__item {
    display: flex;
    max-width: 380px;

    span {
        @include mixins.truncate-text;
        text-align: left;
    }

    &-host,
    &-url {
        flex-basis: 50%;
    }

    &-host {
        padding-left: spacing.$spacing-1;
    }
}
