<p-autoComplete
    (completeMethod)="search($event)"
    (keydown.enter)="onKeyEnter($event)"
    (keydown.tab)="$event.preventDefault()"
    (onClear)="onClear()"
    (onSelect)="onSelect($event)"
    [minLength]="2"
    [ngModel]="val"
    [suggestions]="suggestions$ | async"
    [placeholder]="'page.selector.placeholder' | dm"
    #autoComplete
    inputStyleClass="w-full"
    appendTo="body"
    data-testId="p-autoComplete"
    field="label">
    <ng-template let-item pTemplate="item">
        <div class="dot-page-selector__item">
            @if (searchType === 'site') {
                <span>{{ item.label }}</span>
            } @else {
                <span class="dot-page-selector__item-url">
                    {{ item.payload.path }}
                </span>
                <span class="dot-page-selector__item-host">
                    {{ item.payload.hostName }}
                </span>
            }
        </div>
    </ng-template>
</p-autoComplete>
<small
    [class]="isError ? 'p-invalid' : 'p-info'"
    [textContent]="message"
    data-testId="message"></small>
<dot-field-helper
    [message]="
        (folderSearch ? 'page.selector.folder.hint' : 'page.selector.hint') | dm
    "></dot-field-helper>
