@use "variables" as *;
@import "mixins";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    ::ng-deep .p-tabview {
        margin-left: -$spacing-6;
        margin-right: -$spacing-6;
    }

    dot-content-type-fields-row {
        transition: opacity $basic-speed;
    }

    dot-add-rows {
        margin-top: $spacing-3;
    }
}

.content-type-fields-drop-zone {
    position: relative;
}

.content-type-fields-drop-zone__container {
    flex-grow: 1;
}

.content-type-fields-drop-zone__hint-icon {
    width: 15px;
    font-size: $font-size-sm;
    margin-left: 5px;
}
