<div class="flex grow flex-col relative">
    <div
        [dragulaModel]="fieldRows"
        [attr.disabled]="loading"
        class="grow flex flex-col gap-4"
        dragula="fields-row-bag">
        @for (row of fieldRows; track row; let i = $index) {
            @if (row.columns && row.columns.length) {
                <dot-content-type-fields-row
                    (editField)="editFieldHandler($event)"
                    (removeField)="removeField($event)"
                    (removeRow)="removeFieldRow($event, i)"
                    [fieldRow]="row" />
            } @else {
                <dot-content-type-fields-tab
                    (editTab)="saveFieldsHandler($event)"
                    (removeTab)="removeTab($event, i)"
                    [fieldTab]="row"
                    class="row-header__drag" />
            }
        }
        <dot-add-rows (selectColums)="addRow($event)" />
    </div>

    <dot-loading-indicator [fullscreen]="true" />
</div>

<p-dialog
    [(visible)]="displayDialog"
    [header]="currentFieldType?.label"
    [modal]="true"
    [style]="{ width: '45rem' }"
    (visibleChange)="removeFieldsWithoutId()">
    <p-tabs (onChange)="handleTabChange($event.value)" [(value)]="activeTab" class="-mx-6">
        <p-tablist>
            <p-tab [value]="0">
                {{ 'contenttypes.dropzone.tab.overview' | dm }}
            </p-tab>
            @if (!!currentField?.id && isFieldWithSettings) {
                <p-tab [value]="1" [disabled]="!currentField?.id">
                    {{ 'Settings' | dm }}
                </p-tab>
            }
            <p-tab
                [value]="!!currentField?.id && isFieldWithSettings ? 2 : 1"
                [disabled]="!currentField?.id">
                {{ 'contenttypes.dropzone.tab.variables' | dm }}
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">
                @if (
                    currentFieldType?.clazz ===
                    'com.dotcms.contenttype.model.field.ImmutableWysiwygField'
                ) {
                    <dot-convert-to-block-info
                        (action)="scrollTo($event)"
                        [currentFieldType]="currentFieldType"
                        [currentField]="currentField"></dot-convert-to-block-info>
                }
                <dot-content-type-fields-properties-form
                    (saveField)="saveFieldsHandler($event)"
                    (valid)="setDialogOkButtonState($event)"
                    [formFieldData]="currentField"
                    [contentType]="contentType"
                    #fieldPropertiesForm />
                @if (
                    !!currentField?.id &&
                    currentFieldType?.clazz ===
                        'com.dotcms.contenttype.model.field.ImmutableWysiwygField'
                ) {
                    <dot-convert-wysiwyg-to-block
                        (convert)="convertWysiwygToBlock($event)"
                        [currentFieldType]="currentFieldType" />
                }
            </p-tabpanel>
            @if (!!currentField?.id && isFieldWithSettings) {
                <p-tabpanel [value]="1">
                    @switch (this.currentFieldType?.clazz) {
                        @case ('com.dotcms.contenttype.model.field.ImmutableStoryBlockField') {
                            <dot-block-editor-settings
                                (changeControls)="changesDialogActions($event)"
                                (save)="toggleDialog()"
                                (valid)="setDialogOkButtonState($event)"
                                [field]="currentField"
                                [isVisible]="activeTab === 1"></dot-block-editor-settings>
                        }
                        @case ('com.dotcms.contenttype.model.field.ImmutableBinaryField') {
                            <dot-binary-settings
                                (save)="toggleDialog()"
                                (valid)="setDialogOkButtonState($event)"
                                (changeControls)="changesDialogActions($event)"
                                [field]="currentField"
                                [isVisible]="activeTab === 1"></dot-binary-settings>
                        }
                    }
                </p-tabpanel>
            }
            <p-tabpanel [value]="!!currentField?.id && isFieldWithSettings ? 2 : 1">
                <dot-content-type-fields-variables
                    [showTable]="activeTab === (!!currentField?.id && isFieldWithSettings ? 2 : 1)"
                    [field]="currentField"></dot-content-type-fields-variables>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
    @if (dialogActions && !hideButtons) {
        <ng-template pTemplate="footer">
            @if (dialogActions.cancel) {
                <p-button
                    [label]="dialogActions.cancel.label"
                    [disabled]="dialogActions.cancel.disabled"
                    severity="secondary"
                    (click)="dialogActions.cancel.action()"
                    data-testId="dotDialogCancelAction"></p-button>
            }
            @if (dialogActions.accept) {
                <p-button
                    [label]="dialogActions.accept.label"
                    [disabled]="dialogActions.accept.disabled"
                    (click)="dialogActions.accept.action()"
                    data-testId="dotDialogAcceptAction"></p-button>
            }
        </ng-template>
    }
</p-dialog>
