<div class="content-type-fields-drop-zone">
    <div
        [dragulaModel]="fieldRows"
        [attr.disabled]="loading"
        class="content-type-fields-drop-zone__container"
        dragula="fields-row-bag">
        @for (row of fieldRows; track row; let i = $index) {
            @if (row.columns && row.columns.length) {
                <dot-content-type-fields-row (editField)="editFieldHandler($event)"
                    (removeField)="removeField($event)"
                    (removeRow)="removeFieldRow($event, i)"
                    [fieldRow]="row" />
            } @else {
                <dot-content-type-fields-tab (editTab)="saveFieldsHandler($event)"
                    (removeTab)="removeTab($event, i)"
                    [fieldTab]="row"
                    class="row-header__drag" />
            }
        }
        <dot-add-rows (selectColums)="addRow($event)" />
    </div>

    <dot-loading-indicator [fullscreen]="true" />
</div>

<dot-dialog
    (hide)="removeFieldsWithoutId()"
    [(visible)]="displayDialog"
    [actions]="dialogActions"
    [hideButtons]="hideButtons"
    [header]="currentFieldType?.label"
    width="45rem">
    <p-tabView (onChange)="handleTabChange($event.index)" [(activeIndex)]="activeTab">
        <p-tabPanel [header]="'contenttypes.dropzone.tab.overview' | dm">
            @if (
                currentFieldType?.clazz ===
                'com.dotcms.contenttype.model.field.ImmutableWysiwygField'
            ) {
                <dot-convert-to-block-info (action)="scrollTo($event)"
                    [currentFieldType]="currentFieldType"
                    [currentField]="currentField" />
            }
            <div class="wrapper">
                <dot-content-type-fields-properties-form (saveField)="saveFieldsHandler($event)"
                    (valid)="setDialogOkButtonState($event)"
                    [formFieldData]="currentField"
                    [contentType]="contentType"
                    #fieldPropertiesForm />
                @if (
                    !!currentField?.id &&
                    currentFieldType?.clazz ===
                        'com.dotcms.contenttype.model.field.ImmutableWysiwygField'
                ) {
                    <dot-convert-wysiwyg-to-block (convert)="convertWysiwygToBlock($event)"
                        [currentFieldType]="currentFieldType" />
                }
            </div>
        </p-tabPanel>
        @if (!!currentField?.id && isFieldWithSettings) {
            <p-tabPanel [header]="'Settings'" [disabled]="!currentField?.id" #panel>
                @switch (this.currentFieldType?.clazz) {
                    @case ('com.dotcms.contenttype.model.field.ImmutableStoryBlockField') {
                        <dot-block-editor-settings (changeControls)="changesDialogActions($event)"
                            (save)="toggleDialog()"
                            (valid)="setDialogOkButtonState($event)"
                            [field]="currentField"
                            [isVisible]="panel.selected" />
                    }
                    @case ('com.dotcms.contenttype.model.field.ImmutableBinaryField') {
                        <dot-binary-settings (save)="toggleDialog()"
                            (valid)="setDialogOkButtonState($event)"
                            (changeControls)="changesDialogActions($event)"
                            [field]="currentField"
                            [isVisible]="panel.selected" />
                    }
                }
            </p-tabPanel>
        }

        <p-tabPanel
            [header]="'contenttypes.dropzone.tab.variables' | dm"
            [disabled]="!currentField?.id"
            #panel>
            <ng-template pTemplate="content">
                <dot-content-type-fields-variables [showTable]="panel.selected"
                    [field]="currentField" />
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</dot-dialog>
