@use "variables" as *;
@use "mixins";
@use "../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    ::ng-deep .p-tabview {
        margin-left: -(spacing.$spacing-6);
        margin-right: -(spacing.$spacing-6);
    }

    dot-content-type-fields-row {
        transition: opacity $basic-speed;
    }

    dot-add-rows {
        margin-top: spacing.$spacing-3;
    }
}

.content-type-fields-drop-zone {
    position: relative;
}

.content-type-fields-drop-zone__container {
    flex-grow: 1;
}

.content-type-fields-drop-zone__hint-icon {
    width: 15px;
    font-size: fonts.$font-size-sm;
    margin-left: 5px;
}
