<div class="relative flex min-h-0 grow flex-col overflow-x-hidden overflow-y-auto">
    <div
        [dragulaModel]="fieldRows"
        [attr.disabled]="loading"
        class="flex grow flex-col gap-4"
        dragula="fields-row-bag">
        @for (row of fieldRows; track row; let i = $index) {
            @if (row.columns && row.columns.length) {
                <dot-content-type-fields-row
                    (editField)="editFieldHandler($event)"
                    (removeField)="removeField($event)"
                    (removeRow)="removeFieldRow($event, i)"
                    [fieldRow]="row" />
            } @else {
                <dot-content-type-fields-tab
                    (editTab)="saveFieldsHandler($event)"
                    (removeTab)="removeTab($event, i)"
                    [fieldTab]="row"
                    class="row-header__drag" />
            }
        }
        <dot-add-rows ($selectColums)="addRow($event)" />
    </div>

    <dot-loading-indicator [fullscreen]="true" />
</div>
