@import "mixins";
@import "variables";

:host {
    background-color: $gray-lightest;
    display: block;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 750px;
    width: 100%;
}

.dot-edit-layout__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dot-edit-layout__grid-guides {
    background: repeating-linear-gradient(-90deg, transparent, transparent $basic-padding, $gray-lighter $basic-padding, $gray-lighter calc(100% / 12));
    flex-grow: 1;
    margin-right: -$basic-padding;
}

.dot-edit-layout__page-title {
    align-self: center;
    color: $body-font-color;
    margin: 0;
}

.dot-edit-layout__toolbar,
.dot-edit-layout__toolbar-actions {
    display: flex;
}

.dot-edit-layout__toolbar {
    align-items: center;
    justify-content: space-between;
    margin: $basic-padding * 2 $basic-padding * 2 $basic-padding * 3;
}

.dot-edit-layout__toolbar-actions {
    align-items: center;
    flex: 1;
    justify-content: flex-end;

    & > * {
        margin-left: $basic-padding;
    }
}

.dot-edit-layout__toolbar-add {
    margin-right: $basic-padding * 2;
 }

.dot-edit-layout__toolbar-template-name {
    width: 280px;
}

.dot-edit-layout__toolbar-save-template {
    margin-right: $basic-padding * 3;
}

.dot-edit-layout__template {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dot-edit-layout__template-main {
    display: flex;
    flex-grow: 1;
    margin: 0 $basic-padding * 2;
}

.dot-edit-layout__template-footer,
.dot-edit-layout__template-header,
[class^="dot-edit-layout__template-sidebar"] {
    align-items: center;
    background: $gray-lighter;
    color: $gray;
    display: flex;
    flex-shrink: 0;
    font-size: $font-size-x-large;
    justify-content: center;
}

[class^="dot-edit-layout__template-sidebar"] {
    width: 200px;
}

.dot-edit-layout__template-sidebar--left {
    margin-right: $basic-padding * 2;
}

.dot-edit-layout__template-sidebar--right {
    margin-left: $basic-padding * 2;
}


.dot-edit-layout__template-footer,
.dot-edit-layout__template-header {
    height: 100px;
    margin: $basic-padding $basic-padding * 2;
}