<form [formGroup]="form" class="wrapper">
    <div class="field">
        <label for="allowed-file-type">{{ 'binary-field.settings.allow.type' | dm }}</label>
        <input
            [style]="{ width: '100%' }"
            id="allowed-file-type"
            formControlName="accept"
            placeholder="ex: image/*"
            pInputText
            data-testId="setting-accept" />
        <small style="display: inline-block; margin-top: 0.5rem">
            <a
                href="https://www.dotcms.com/docs/latest/field-variables#BinaryField"
                target="_blank"
                rel="noopener">
                {{ 'binary-field-settings.system.link.to.documentation' | dm }}
            </a>
        </small>
    </div>
    @for (option of systemOptions; track option.key) {
        <p-divider
            [style]="{
                margin: '1rem 0'
            }" />
        <div class="horizontal-field" formGroupName="systemOptions">
            <p [innerHTML]="option.message | dm" class="info"></p>
            <p-inputSwitch [formControlName]="option.key" data-testId="setting-switch" />
        </div>
    }
</form>
