@use "variables" as *;

.wrapper {
    padding: $spacing-6;

    .field {
        padding: 0 $spacing-1;
    }
}

.horizontal-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-1;

    .info {
        margin: 0;
        line-height: 140%;
    }
}
