@use "variables" as *;

h2 {
    margin: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}

.variant-name dot-icon {
    display: inline;
    color: $color-palette-primary;
}

.separator {
    color: $color-palette-gray-300;
}

button {
    min-width: 55px;
}

:host ::ng-deep {
    dot-icon {
        color: $color-palette-gray-500;

        &.isDone {
            color: $success;
        }
    }

    p-card {
        .p-card p-card {
            .p-card {
                border-radius: 0;
                border-bottom: none;
            }

            &.first .p-card {
                border-top-right-radius: $border-radius-sm;
                border-top-left-radius: $border-radius-sm;
            }

            &.last .p-card {
                border-bottom-right-radius: $border-radius-sm;
                border-bottom-left-radius: $border-radius-sm;
                border: 1px solid $color-palette-gray-300;
            }
        }

        .p-card-footer .p-button-link {
            padding: $spacing-0;
        }
    }

    p-inplace .p-inplace {
        .p-inplace-display {
            padding: 0;

            i {
                margin-left: $spacing-1;
                margin-right: $spacing-1;
                font-size: 0.85rem;
            }

            &:hover {
                background: transparent;
            }
        }

        .p-inplace-content {
            display: flex;
            gap: $spacing-1;
        }
    }
}
