<div class="action-header" [ngClass]="{'selected': selected}">
    <button pButton actionButton icon="fa-plus" (click)="primaryCommand()" class="action-header__primary-button"></button>
    <div class="action-header__container" [style.overflow]="dynamicOverflow">
        <div class="action-header__global-search">
            <ng-content></ng-content>
        </div>
        <div class="action-header__group-actions" *ngIf="actionButtonItems">
            <span class="action-header__selected-items-counter">{{selectedItems.length}} {{i18nMessages['selected']}}</span>
            <p-splitButton *ngIf="actionButtonItems[0]" flat label="{{actionButtonItems[0].label}}" class="inverted primaryActions" [model]="actionButtonItems[0].model"></p-splitButton>
            <p-splitButton *ngIf="actionButtonItems[1]" flat label="{{actionButtonItems[1].label}}" class="inverted secondaryActions" [model]="actionButtonItems[1].model"></p-splitButton>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>