@import "mixins";
@import "variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: $gutter-border;
    padding: 0 $gutter-border;

    ::ng-deep .ui-tabview {
        margin-left: -$basic-padding * 4;
        margin-right: -$basic-padding * 4;
    }
}

dot-dialog ::ng-deep {
    .ui-dialog {
        width: 700px;
    }
}
.content-type-fields-drop-zone__container {
    flex-grow: 1;
    padding-bottom: $basic-padding * 2;
}

.content-type-fields-drop-zone__hint-icon {
    width: 15px;
    font-size: 14px;
    margin-left: 5px;
}
