<div
    [class.empty]="!fieldRows.length"
    [dragulaModel]="fieldRows"
    class="content-type-fields-drop-zone__container"
    data-drag-type="target"
    dragula="fields-row-bag">

    <ng-template ngFor let-row [ngForOf]="fieldRows">
        <content-type-fields-row
            *ngIf="row.columns.length"
            [fieldRow]="row"
            (editField)="editField($event)"
            (removeField)="removeField($event)"
            (removeRow)="removeFieldRow($event)">
        </content-type-fields-row>
    </ng-template>

    <div *ngIf="!fieldRows.length"
        class="content-type-fields-drop-zone__message">
        {{i18nMessages['contenttypes.dropzone.empty.message']}}
    </div>
</div>
<p-dialog 
    modal="modal"
    width="300"
    [header]="getDialogHeader()"
    [(visible)]="displayDialog"
    [responsive]="true"
    [resizable]="false"
    [draggable]="false"
    (onHide)="removeFieldsWithoutId()">
    
    <content-type-fields-properties-form 
        [formFieldData]="formData"
        (saveField)="saveFieldsHandler($event)"
        #fieldPropertiesForm>
    </content-type-fields-properties-form>
    
    <p-footer>
        <button type="button" flat pButton (click)="toggleDialog()" [label]="i18nMessages['contenttypes.dropzone.action.cancel']"></button>
        <button type="button" pButton (click)="fieldPropertiesForm.saveFieldProperties(fieldPropertiesForm.form.value, fieldPropertiesForm.form.valid)" [label]="i18nMessages['contenttypes.dropzone.action.save']"></button>
    </p-footer>
</p-dialog>
