<div
    [dragulaModel]="fieldRows"
    class="content-type-fields-drop-zone__container"
    dragula="fields-row-bag">

    <ng-template ngFor let-row [ngForOf]="fieldRows">
        <dot-content-type-fields-row
            *ngIf="row.columns && row.columns.length"
            [fieldRow]="row"
            (editField)="editField($event)"
            (removeField)="removeField($event)"
            (removeRow)="removeFieldRow($event)">
        </dot-content-type-fields-row>

        <dot-content-type-fields-tab
            *ngIf="isTab(row)"
            class="row-header__drag"
            [fieldTab]="row"
            (editTab)="saveFieldsHandler($event)"
            (removeTab)="removeTab($event)">
        </dot-content-type-fields-tab>
    </ng-template>

    <dot-add-rows (selectColums)="addRow($event)"></dot-add-rows>
</div>

<dot-dialog
    #dotDialog
    [show]="displayDialog"
    [ok]="saveDialogAction"
    [cancel]="closeDialogAction"
    (close)="removeFieldsWithoutId()"
    [header]="currentFieldType?.label">

    <p-tabView [activeIndex]="dialogActiveTab">
        <p-tabPanel [header]="i18nMessages['contenttypes.dropzone.tab.overview']">
            <dot-content-type-fields-properties-form
                [formFieldData]="formData"
                (saveField)="saveFieldsHandler($event)"
                #fieldPropertiesForm>
            </dot-content-type-fields-properties-form>
        </p-tabPanel>
        <p-tabPanel [header]="i18nMessages['contenttypes.dropzone.tab.variables']">
            <ng-template pTemplate="content">
                <dot-content-type-fields-variables [field]="currentField"></dot-content-type-fields-variables>
            </ng-template>
        </p-tabPanel>
    </p-tabView>

</dot-dialog>
