@import "mixins";
@import "variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    ::ng-deep .ui-tabview {
        margin-left: -$basic-padding * 4;
        margin-right: -$basic-padding * 4;
    }
}

.content-type-fields-drop-zone__container {
    flex-grow: 1;
}

.content-type-fields-drop-zone__hint-icon {
    width: 15px;
    font-size: 14px;
    margin-left: 5px;
}
