<dot-action-header [options]="actionHeaderOptions">
    <ng-container [ngTemplateOutlet]="beforeSearchTemplate" />
    <input
        (keydown.arrowdown)="focusFirstRow()"
        [(ngModel)]="filter"
        #gf
        (input)="dataTable.filterGlobal(gf.value, 'contains')"
        pInputText
        placeholder="{{ 'Type-to-filter' | dm }}"
        type="text" />
    <ng-content />
</dot-action-header>
<p-table
    (onContextMenuSelect)="contextMenuSelect.emit($event.data)"
    (onFilter)="handleFilter()"
    (onHeaderCheckboxToggle)="handleRowCheck()"
    (onLazyLoad)="loadDataPaginationEvent($event)"
    (onRowSelect)="handleRowCheck()"
    (onRowUnselect)="handleRowCheck()"
    [(selection)]="selected"
    [columns]="columns"
    [contextMenu]="contextMenuComponent()"
    [dataKey]="dataKey"
    [lazy]="true"
    [loading]="loading"
    [pageLinks]="maxLinksPage"
    [paginator]="true"
    [responsiveLayout]="'scroll'"
    [rows]="paginationPerPage"
    [selectionMode]="checkbox ? 'multiple' : 'single'"
    [sortOrder]="sortOrder && sortOrder.toLowerCase() === 'desc' ? -1 : 1"
    [totalRecords]="totalRecords"
    [value]="items"
    #dataTable
    loadingIcon="pi pi-spin pi-spinner">
    <ng-template let-columns pTemplate="header">
        @if (items?.length) {
            <tr data-testClass="testHeadTableRow">
                @if (checkbox) {
                    <th scope="col" style="width: 5%">
                        <p-tableHeaderCheckbox />
                    </th>
                }
                <ng-container
                    [ngTemplateOutletContext]="{ columns: columns }"
                    [ngTemplateOutlet]="headerTemplate || defaultHeaderTemplate" />
            </tr>
        }
    </ng-template>

    <ng-template let-columns="columns" let-rowData pTemplate="body">
        <tr
            (click)="handleRowClick(rowData)"
            (keyup.enter)="handleRowClick(rowData)"
            [ngClass]="{ 'disabled-row': rowData?.owner === 'system' }"
            [pSelectableRowDisabled]="rowData?.owner === 'system'"
            [pContextMenuRowDisabled]="rowData.disableInteraction"
            [attr.data-testRowId]="rowData.identifier"
            [pContextMenuRow]="rowData"
            [pSelectableRow]="rowData"
            [attr.data-testId]="rowData?.variable ? 'row-' + rowData.variable : null"
            data-testClass="testTableRow">
            @if (checkbox) {
                <td>
                    @if (!rowData.disableInteraction) {
                        <p-tableCheckbox
                            (click)="$event.stopPropagation()"
                            [value]="rowData"
                            [attr.test-id]="rowData.friendlyName" />
                    }
                </td>
            }
            <ng-container
                [ngTemplateOutletContext]="{ rowData: rowData }"
                [ngTemplateOutlet]="rowTemplate || defaultRowTemplate" />
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        @if (isContentFiltered) {
            <div class="listing-datatable__empty" data-testId="listing-datatable__empty">
                {{ 'No-Results-Found' | dm }}
            </div>
        } @else {
            <ng-content select="dot-empty-state" />
        }
    </ng-template>
</p-table>
<p-contextMenu [model]="contextMenuItems" #cm appendTo="body" />
<ng-template #defaultHeaderTemplate let-columns="columns" pTemplate="header">
    @for (col of columns; track col) {
        <th
            [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }"
            [pSortableColumnDisabled]="!col.sortable"
            [pSortableColumn]="col.fieldName">
            {{ col.header }}
            @if (col.sortable) {
                <p-sortIcon [field]="col.fieldName" />
            }
        </th>
    }
    <th style="width: 5%"></th>
</ng-template>

<ng-template #defaultRowTemplate let-rowData="rowData">
    @for (col of columns; track col) {
        <td
            [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }"
            [attr.data-testId]="col.fieldName">
            @if (col.icon) {
                <div class="listing-datatable__column-icon">
                    <dot-icon name="{{ col.icon(rowData) }}" />
                    <span>{{ col.textContent || rowData[col.fieldName] }}</span>
                </div>
            }
            @if (!col.icon && col.fieldName !== 'nEntries' && col.format !== 'date') {
                <span>
                    {{ rowData[col.fieldName] }}
                </span>
            }
            @if (!col.icon && col.fieldName !== 'nEntries' && col.format === 'date') {
                <span>
                    {{ rowData[col.fieldName] | dotRelativeDate }}
                </span>
            }
            @if (col.fieldName === 'nEntries' && !rowData?.system) {
                <a
                    (click)="$event.stopPropagation()"
                    [queryParams]="rowData.variable === 'Host' ? {} : { filter: rowData.variable }"
                    [routerLink]="rowData.variable === 'Host' ? '/c/sites' : '/c/content'">
                    {{
                        col.textContent
                            ? (col.textContent | dotStringFormat: [rowData[col.fieldName]])
                            : rowData[col.fieldName]
                    }}
                </a>
            }
        </td>
    }
    <td class="listing-datatable__action-column" style="width: 5%">
        @if (actions) {
            <dot-action-menu-button
                [actions]="actions"
                [item]="rowData"
                class="listing-datatable__action-button" />
        }
    </td>
</ng-template>
