@import 'variables';
$icon-size: $basic-padding * 3;

.content-types-fields-list {
    margin: $basic-padding 0 0;
    padding: 0;
    list-style: none;
}

.content-types-fields-list__item {
    cursor: move;
    padding: $basic-padding $basic-padding * 2;
    touch-action: none;
    display: flex;
    align-items: center;
}

dot-icon {
    margin-right: $basic-padding * 2;

    .content-types-fields-list__item:hover & {
        color: $body-font-color;
    }
}
