md-toolbar .main-toolbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

md-toolbar .user {
  flex: 1;
  text-align: right;
  font-size: 14px;
}

md-toolbar h1 {
  font-size: 20px;
  margin: 0 0 0 10px;
  align-self: center;
}

md-toolbar .host-selector {
  display: flex;
  flex: 1;
  flex-direction: row;
}

md-sidenav-layout[fullscreen] {
  top: 64px;
}
