@import "../../../../../styles/variables";

:host {
    display: inline-block;
}

.gravatar__avatar {
    border-radius: 50%;
    display: block;
}

.gravatar__placeholder {
    border-radius: 50%;
    background-color: $brand-secondary;
    color: $white;
    line-height: 1.2em;
    text-align: center;
}
