<dot-dialog
    class="p-fluid"
    *ngIf="show"
    [header]="dialogHeaderKey | dm"
    [visible]="show"
    [actions]="dialogActions"
    [appendToBody]="true"
    (hide)="closeExportDialog()"
    width="26rem"
>
    <form [formGroup]="form" [ngSwitch]="action" novalidate>
        <ng-container *ngSwitchCase="'Export'">
            <div class="p-field">
                <label class="form__label" for="export-password">{{ 'Password' | dm }}</label>
                <input
                    dotAutofocus
                    pPassword
                    id="export-password"
                    autocomplete="new-password"
                    formControlName="password"
                    name="export-password"
                    type="password"
                    class="dot-apps-export-dialog__password"
                    [placeholder]="'apps.confirmation.export.password.label' | dm"
                />
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Import'">
            <div class="p-field">
                <label class="form__label" for="import-file">{{ 'Upload-File' | dm }}</label>
                <input
                    #importFile
                    id="import-file"
                    type="file"
                    dotAutofocus
                    (change)="onFileChange($event.target.files)"
                />
            </div>
            <div class="p-field">
                <label class="form__label" for="import-password">{{ 'Password' | dm }}</label>
                <input
                    id="import-password"
                    class="dot-apps-import-dialog__password"
                    autocomplete="new-password"
                    formControlName="password"
                    name="import-password"
                    pInputText
                    type="password"
                    [placeholder]="'apps.confirmation.import.password.label' | dm"
                />
            </div>
            <input type="hidden" name="fileHidden" formControlName="importFile" />
            <!-- Validation Field -->
        </ng-container>
        <span>{{ errorMessage }}</span>
    </form>
</dot-dialog>
