<dot-listing-data-table
    (rowWasClicked)="editTemplate($event)"
    (selectedItems)="updateSelectedTemplates($event)"
    (contextMenuSelect)="setContextMenu($event)"
    [actionHeaderOptions]="actionHeaderOptions"
    [columns]="tableColumns"
    [actions]="[]"
    [checkbox]="true"
    [mapItems]="mapTableItems"
    [contextMenu]="true"
    #listing
    sortField="modDate"
    sortOrder="DESC"
    url="v1/templates"
    dataKey="inode">
    <div class="template-listing__header-options">
        <div>
            <p-checkbox (onChange)="handleArchivedFilter($event.checked)"
                [label]="'Show-Archived' | dm"
                [binary]="true"
                data-testid="archiveCheckbox" />
            <button
                (click)="actionsMenu.toggle($event)"
                [disabled]="!this.selectedTemplates?.length"
                [label]="'Actions' | dm"
                class="p-button-outlined"
                type="button"
                pButton
                icon="pi pi-ellipsis-v"
                data-testid="bulkActions"></button>
        </div>
        <p-menu [popup]="true" [model]="templateBulkActions" #actionsMenu appendTo="body" />
    </div>

    <dot-empty-state
        (buttonClick)="handleButtonClick()"
        [rows]="10"
        [colsTextWidth]="[60, 50, 60, 80]"
        [title]="'message.template.empty.title' | dm"
        [content]="'message.template.empty.content' | dm"
        [buttonLabel]="'message.template.empty.button.label' | dm"
        icon="web" />

    <ng-template #rowTemplate let-rowData="rowData">
        <td [ngStyle]="{ 'text-align': tableColumns[0].textAlign }">
            {{ rowData.name }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[1].textAlign }">
            <dot-state-icon [labels]="setStateLabels()"
                [state]="getTemplateState(rowData)"
                size="14px" />
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[2].textAlign }" data-testId="theme-cell">
            @if (rowData.themeInfo?.inode === 'SYSTEM_THEME') {
                {{ rowData.themeInfo?.title }}
            } @else {
                @if (rowData.themeInfo) {
                    <a
                        (click)="goToFolder($event, rowData.themeInfo?.path)"
                        data-testId="theme-folder-link"
                        target="_self">
                        {{ rowData.themeInfo?.title }}
                    </a>
                }
            }
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[3].textAlign }">
            {{ rowData.friendlyName }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[4].textAlign }">
            {{ rowData.modDate | dotRelativeDate }}
        </td>
        <td style="width: 5%">
            @if (!rowData.disableInteraction) {
                <dot-action-menu-button
                    [attr.data-testid]="rowData.identifier"
                    [actions]="setTemplateActions(rowData)"
                    [item]="rowData"
                    class="listing-datatable__action-button" />
            }
        </td>
    </ng-template>
</dot-listing-data-table>

@if (addToBundleIdentifier) {
    <dot-add-to-bundle
        (cancel)="addToBundleIdentifier = null"
        [assetIdentifier]="addToBundleIdentifier" />
}
