<dot-listing-data-table
    (rowWasClicked)="editTemplate($event)"
    (selectedItems)="updateSelectedTemplates($event)"
    (contextMenuSelect)="setContextMenu($event)"
    [actionHeaderOptions]="$state.actionHeaderOptions()"
    [columns]="$state.tableColumns()"
    [actions]="[]"
    [checkbox]="true"
    [mapItems]="mapTableItems"
    [paginationPerPage]="4"
    [contextMenu]="true"
    #listing
    sortField="modDate"
    sortOrder="DESC"
    url="v1/templates"
    dataKey="inode">
    <div class="template-listing__header-options">
        <div>
            <div class="flex items-center">
                <p-checkbox
                    (onChange)="handleArchivedFilter($event.checked)"
                    [inputId]="'show-archived-templates'"
                    [binary]="true"
                    data-testid="archiveCheckbox"></p-checkbox>
                <label [for]="'show-archived-templates'">
                    {{ 'Show-Archived' | dm }}
                </label>
            </div>
            <p-button
                (click)="actionsMenu.toggle($event)"
                [disabled]="!$state.selectedTemplates()?.length"
                [label]="'Actions' | dm"
                severity="secondary"
                [outlined]="true"
                icon="pi pi-ellipsis-v"
                data-testid="bulkActions"></p-button>
        </div>
        <p-menu
            [popup]="true"
            [model]="$state.templateBulkActions()"
            #actionsMenu
            appendTo="body" />
    </div>

    <dot-empty-state
        (buttonClick)="handleButtonClick()"
        [rows]="10"
        [colsTextWidth]="[60, 50, 60, 80]"
        [title]="'message.template.empty.title' | dm"
        [content]="'message.template.empty.content' | dm"
        [buttonLabel]="'message.template.empty.button.label' | dm"
        icon="web" />

    <ng-template #rowTemplate let-rowData="rowData">
        <td [ngStyle]="{ 'text-align': $state.tableColumns()[0].textAlign }">
            {{ rowData.name }}
        </td>
        <td [ngStyle]="{ 'text-align': $state.tableColumns()[1].textAlign }">
            <dot-state-icon
                [labels]="setStateLabels()"
                [state]="getTemplateState(rowData)"
                size="14px" />
        </td>
        <td
            [ngStyle]="{ 'text-align': $state.tableColumns()[2].textAlign }"
            data-testId="theme-cell">
            @if (rowData.themeInfo?.inode === 'SYSTEM_THEME') {
                {{ rowData.themeInfo?.title }}
            } @else {
                @if (rowData.themeInfo) {
                    <a
                        (click)="goToFolder($event, rowData.themeInfo?.path)"
                        data-testId="theme-folder-link"
                        target="_self">
                        {{ rowData.themeInfo?.title }}
                    </a>
                }
            }
        </td>
        <td [ngStyle]="{ 'text-align': $state.tableColumns()[3].textAlign }">
            {{ rowData.friendlyName }}
        </td>
        <td [ngStyle]="{ 'text-align': $state.tableColumns()[4].textAlign }">
            {{ rowData.modDate | dotRelativeDate }}
        </td>
        <td style="width: 5%">
            @if (!rowData.disableInteraction) {
                <dot-action-menu-button
                    [attr.data-testid]="rowData.identifier"
                    [actions]="setTemplateActions(rowData)"
                    [item]="rowData"
                    class="listing-datatable__action-button" />
            }
        </td>
    </ng-template>
</dot-listing-data-table>

@if ($state.addToBundleIdentifier()) {
    <dot-add-to-bundle
        (cancel)="clearAddToBundle()"
        [assetIdentifier]="$state.addToBundleIdentifier()" />
}
