@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: flex;
    height: 100%;
    overflow: auto;

    &::ng-deep listing-data-table tr {
        cursor: pointer;
    }
}

.template-listing__header-options {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        margin: 0 spacing.$spacing-3;
    }
}

dot-state-icon {
    margin-right: 0.25rem;
}
