@import "../../../../styles/mixins";
@import "../../../../styles/variables";

action-header {
    display: block;
    margin-top: $basic-padding * 2;
}

.listing-datatable__icon {
    text-align: center;
    width: 16px;
}