<action-header [selectedItems]="selectedItems" [options]="actionHeaderOptions">
    <input #gf pInputText type="text" placeholder="{{i18nMessages['global-search']}}" [(ngModel)]="query"/>
</action-header>

<p-dataTable [value]="items" 
             [rows]="paginatorRows" 
             [paginator]="true" 
             [pageLinks]="paginatorLinks" 
             [lazy]="true"
             [totalRecords]="totalRecords"
             (onLazyLoad)="loadDataPaginationEvent($event)"
             [(selection)]="selectedItems"
             (onRowClick)="handleRowClick($event)"
             [globalFilter]="gf"
             [sortOrder]="sortOrder === 'desc' ? -1 : 1">

    <p-column selectionMode="multiple"></p-column>

    <ng-template ngFor let-col [ngForOf]="columns">
        <p-column 
            [field]="col.fieldName" 
            [header]="col.header"
            [sortable]="col.sortable"
            [style]="{'width': col.width, 'text-align': getAlign(col)}">
            <ng-template let-item="rowData" pTemplate="body">
                <i class="fa {{col.icon(item)}}" *ngIf="col.icon"></i>
                {{item[col.fieldName]}}
            </ng-template>
        </p-column>
    </ng-template>

</p-dataTable>
