@use "variables" as *;

h2,
h3 {
    margin: $spacing-0;
}

h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: $spacing-3;
}

h3 {
    font-weight: $font-weight-regular-bold;
    font-size: $font-size-medium;
}

:host ::ng-deep {
    dot-icon {
        color: $gray-light;

        &.isDone {
            color: $success;
        }
    }

    p-card .p-card-footer .p-button-link {
        padding: $spacing-0;
    }

    button {
        .p-button-icon {
            color: $color-primary-500;
        }
    }
}
