@use "variables" as *;

h2 {
    margin: 0;
    font-size: $font-size-large;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: $font-size-large;
    font-weight: 400;
}

i {
    transition-duration: $basic-speed;

    &.delete:hover {
        color: $warn;
    }
}

:host ::ng-deep {
    dot-icon {
        color: $gray-light;

        &.isDone {
            color: $success;
        }
    }

    p-card .p-card-footer .p-button-link {
        padding: $spacing-0;
    }
}
