####Creates the Horizontal Menu based on the path

#macro(fixBreaks $stringToFix)
	${UtilMethods.fixBreaks($stringToFix)}
#end


##Contents macros
#macro( getContentDetail $inode )
	#getContentIdentifier($inode)
	#getContentByIdentifier($content_id false)
#end

#macro( getContentDetailByIdentifier $id )
	#getContentMapDetailByIdentifier($id false)
#end

#macro(getContentIdentifier $inode)
	#set($content_id = "")
	#set($content_id = $inode.identifier)

	## only hit the db if we need it
	## (we need to start saving the identifier right on the web asset)
   
	#if(!$InodeUtils.isSet($content_id))
   		#set($content_id = $webapi.getIdentifierInode("$inode"))
	#end
#end

##ContentObject macros
#macro( getContentMapDetail $inode )
	
    #getContentIdentifier($inode)
	#if($InodeUtils.isSet($content_id))
	    #getContentByIdentifier($content_id true)
	#end
#end

#macro(getContent $inode)
    #getContentIdentifier($inode)
	#getContentMapDetailByIdentifier($content_id)
#end

#macro( getContentByIdentifier $id $map)
   #set($content = "")
   #set($lang = 1)
   #if ($request.session.getAttribute("com.dotmarketing.htmlpage.language"))
      #set($lang = $request.session.getAttribute("com.dotmarketing.htmlpage.language"))
   #elseif($request.getAttribute("com.dotmarketing.htmlpage.language"))
      #set($lang = $request.getAttribute("com.dotmarketing.htmlpage.language"))
   #end
   #if($EDIT_MODE || $PREVIEW_MODE || $_show_working_)
		#if($map)
			#set($content_path="working/${id}_${lang}.contentMap")
		#else
			#set($content_path="working/${id}_${lang}.content")
		#end
   #else
		#if($map)
			#set($content_path="live/${id}_${lang}.contentMap")
		#else
			#set($content_path="live/${id}_${lang}.content")
		#end
   #end
   #set($conExists = $velutil.doesVelocityResourceExist($content_path))
   #if($conExists) 
   		#set($CONTENT_INODE = '')
   		$velutil.mergeTemplate($content_path)
   		#if($map)
			#set($content = $context.get("dotcms_content_${id}"))
   		#end   
   #elseif($conExists == false && !$InodeUtils.isSet($content.inode) && $languagewebapi.canDefaultContentToDefaultLanguage())
	   	#set($lang = $languagewebapi.getDefaultLanguage().getId())
	   	#if($EDIT_MODE || $PREVIEW_MODE)
			#if($map)
				#set($content_path="working/${id}_${lang}.contentMap")
			#else
				#set($content_path="working/${id}_${lang}.content")
			#end
	   	#else
			#if($map)
				#set($content_path="live/${id}_${lang}.contentMap")
			#else
				#set($content_path="live/${id}_${lang}.content")
			#end
	   	#end
	   	$velutil.mergeTemplate($content_path)
	   	#if($map)
			#set($content = $context.get("dotcms_content_${id}"))
   		#end
   #end
    
	#set($_noContentletMap = "")
#end

#macro( getContentMapDetailByIdentifier $id )
	#if($UtilMethods.isSet($_noContentletMap))
		#getContentByIdentifier($id false)
    #else
	    #getContentByIdentifier($id true)
    #end    
	#set($_noContentletMap = "")
#end



#macro(editContentlet $CONTENT_INODE)
	## No container inode is passed because a contentlet is edited no added to the container
	#set($_containerInode = "")
	#if($EDIT_MODE)
		#set($_hasPermission = $contents.doesUserHasPermission($CONTENT_INODE, 2, $EDIT_MODE))
		#if($_hasPermission)
			<a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.editContentlet('$_containerInode', '$CONTENT_INODE'); " class="dotEditListBox">$languagewebapi.getFromUserLanguage("modes.Edit-Content")</a>
		#end
	#end
#end

#macro(addContentlet $STRUCTURE_INODE $CONTENT_NAME)
	#if($EDIT_MODE)
	    <a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.addContentletChapter('$STRUCTURE_INODE'); "><img src="/html/images/icons/page.png" alt="" width="15" height="15" border="0">$!{CONTENT_NAME}</a>
	#end
#end

#macro(editEvent $EVENT_INODE)
	#if($EDIT_MODE)
		<a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.editEvent('$EVENT_INODE'); "><img src="/html/images/preview/btn_edit_active.gif" alt="" width="15" height="15" border="0"></a>
	#end
#end

##dotInclude
#macro(dotInclude $_dotParsePath)
  #if ($UtilMethods.isSet($list))
    #if (!$UtilMethods.isSet($_dotParseListHeap))
      #set ($_dotParseListHeap = $contents.getEmptyList())
    #end
    
    #set ($_dotParseDummyVariable = $_dotParseListHeap.add($list))
  #end

  #if ($UtilMethods.isSet($content))
    #if (!$UtilMethods.isSet($_dotParseContentHeap))
      #set ($_dotParseContentHeap = $contents.getEmptyList())
    #end
    
    #set ($_dotParseDummyVariable = $_dotParseContentHeap.add($content))
  #end


    #if ($_dotParsePath.length() > 3 && $_dotParsePath.startsWith("//"))
      ##finds first / after //
  	  #set($_dotParseIndex1 = $_dotParsePath.indexOf("/",2))
  	  ##if index1 exists
  	  #if ($_dotParseIndex1 > -1)
  		##get the host from the path
  		#set($_dotParsePathHost = $_dotParsePath.substring(2,$_dotParseIndex1))
  		##get the file path from the path
  		#set($_dotParsePath = $_dotParsePath.substring($_dotParseIndex1,$_dotParsePath.length()))
  	  #end
	  #if ($UtilMethods.isSet($_dotParsePathHost))
		  ##we found a host, we search the host by hostname
		  #set ($_dotParseHost = $webapi.resolveHostName($_dotParsePathHost))
		  #if ($_dotParseHost && $UtilMethods.isSet($_dotParseHost.identifier))
			#set($_dotParseHostId = $_dotParseHost.identifier)
		  #end
	  #end
    #end

    #if (!$UtilMethods.isSet($dontShowIcon) || !$dontShowIcon)
      #if($EDIT_MODE)
	      #if(!$_dotParseHostId)
	      	#set($_dotParseHostId = '')
	      #end
        #set($_dotParseInode = ${webapi.getAssetInode($_dotParsePath, $_dotParseHostId)})
        #if($InodeUtils.isSet($_dotParseInode)&& ${webapi.doesUserHasPermissionOverFile($_dotParseInode, 2)})
          <div  class="dot_parseIcon"> <a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.editFile('${_dotParseInode}'); " title="$_dotParsePath"><span class="editIcon"></span></a></div>
          #set ($_dotParseInode = '')
        #end
      #end
    #end

    #if($UtilMethods.isSet($_dotParseHostId))
  	  #set($_dotParseRealPath = $webapi.getAssetPath($_dotParsePath, $_dotParseHostId))
  	  #set ($_dotParseHostId = '')
    #else
  	  #set($_dotParseRealPath = $webapi.getAssetPath($_dotParsePath))
    #end

    #if($UtilMethods.isSet($_dotParseRealPath))
      #include($_dotParseRealPath)
    #else
      #if($EDIT_MODE)
        <p><b>The file you want to  ${esc.h}include ($_dotParsePath) doesn't exist, please change the path and try again.</b></p>
      #end
    #end
  
    #set ($_dotParsePath = '')
    #set ($_dotParseRealPath = '')


  #if ($UtilMethods.isSet($_dotParseListHeap) && (0 < $_dotParseListHeap.size()))
    #set ($list = $_dotParseListHeap.remove($math.sub($_dotParseListHeap.size(), 1)))
  #end

  #if ($UtilMethods.isSet($_dotParseContentHeap) && (0 < $_dotParseContentHeap.size()))
    #set ($content = $_dotParseContentHeap.remove($math.sub($_dotParseContentHeap.size(), 1)))
  #end
#end
