####Creates the Horizontal Menu based on the path

#macro(fixBreaks $stringToFix)
	${UtilMethods.fixBreaks($stringToFix)}
#end

#macro(renderMarks $content)#*

    *##if($content.marks)#*
        *##set($start = 0)#*
        *##set($end = $content.marks.length())#*
        *##set($end = $end - 1)#*
        *##set($range = [$start..$end])#*

        *##foreach($i in $range)#*
            *##set($mark = $content.marks.get($i))#*
            *##if ($mark.type == "bold")#*
                *#<strong>#*
            *##end#*
            *##if ($mark.type == "italic")#*
                *#<em>#*
            *##end#*
            *##if ($mark.type == "strike")#*
                *#<s>#*
            *##end#*
            *##if ($mark.type == "underline")#*
                *#<u>#*
            *##end#*
            *##if ($mark.type == "link")#*
                *#<a href="${mark.attrs.href}" target="${mark.attrs.target}">#*
            *##end#*
        *##end#*
    *##end#*

    *#$!{content.text}#*

    *##if($content.marks)#*
        *##set($range = [$end..$start])#*
        *##foreach($i in $range)#*
            *##set($mark = $content.marks.get($i))#*
            *##if ($mark.type == "bold")#*
                *#</strong>#*
            *##end#*
            *##if ($mark.type == "italic")#*
                *#</em>#*
            *##end#*
            *##if ($mark.type == "strike")#*
                *#</s>#*
            *##end#*
            *##if ($mark.type == "underline")#*
                *#</u>#*
            *##end#*
            *##if($mark.type == "link")#*
                *#</a>#*
            *##end#*
        *##end#*
    *##end#*

*##end




#macro(editContentlet $CONTENT_INODE)
    #set($_hasPermission = $contents.doesUserHasPermission($CONTENT_INODE, 2, $EDIT_MODE))
    #if($EDIT_MODE && $_hasPermission)
        #set($localContent = $dotcontent.find($!{CONTENT_INODE}))
        #set($jsonContent = $json.generate($localContent))
        #set($contentJson = $jsonContent.contentObject.toString())
        #set($escapedJson = $contentJson.replaceAll("'", "&#39;"))
        <button
            data-dot-identifier="$!{localContent.identifier}"
            data-dot-inode="$!{CONTENT_INODE}"
            data-dot-object="edit-content"
            onclick='window.dotUVE.editContentlet($escapedJson)'
            style="box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important; border: none !important; border-radius: 16px !important; cursor: pointer !important; font-size: 0 !important; height: 32px !important; outline: none !important; position: relative !important; width: 32px !important; z-index: 2147483646 !important;
            background: #fff url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDQ0NDQ0IiBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTMgMTcuMjVWMjFoMy43NUwxNy44MSA5Ljk0bC0zLjc1LTMuNzVMMyAxNy4yNXpNMjAuNzEgNy4wNGMuMzktLjM5LjM5LTEuMDIgMC0xLjQxbC0yLjM0LTIuMzRjLS4zOS0uMzktMS4wMi0uMzktMS40MSAwbC0xLjgzIDEuODMgMy43NSAzLjc1IDEuODMtMS44M3oiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==) no-repeat center center !important;">
        </button>
    #end
#end

#macro(addContentlet $STRUCTURE_INODE $CONTENT_NAME)
	#if($EDIT_MODE)
	    <a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.addContentletChapter('$STRUCTURE_INODE'); "><img src="/html/images/icons/page.png" alt="" width="15" height="15" border="0">$!{CONTENT_NAME}</a>
	#end
#end

#macro(editEvent $EVENT_INODE)
	#if($EDIT_MODE)
		<a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.editEvent('$EVENT_INODE'); "><img src="/html/images/preview/btn_edit_active.gif" alt="" width="15" height="15" border="0"></a>
	#end
#end

##dotInclude
#macro(dotInclude $_dotParsePath)
  #if ($UtilMethods.isSet($list))
    #if (!$UtilMethods.isSet($_dotParseListHeap))
      #set ($_dotParseListHeap = $contents.getEmptyList())
    #end

    #set ($_dotParseDummyVariable = $_dotParseListHeap.add($list))
  #end

  #if ($UtilMethods.isSet($content))
    #if (!$UtilMethods.isSet($_dotParseContentHeap))
      #set ($_dotParseContentHeap = $contents.getEmptyList())
    #end

    #set ($_dotParseDummyVariable = $_dotParseContentHeap.add($content))
  #end


    #if ($_dotParsePath.length() > 3 && $_dotParsePath.startsWith("//"))
      ##finds first / after //
  	  #set($_dotParseIndex1 = $_dotParsePath.indexOf("/",2))
  	  ##if index1 exists
  	  #if ($_dotParseIndex1 > -1)
  		##get the host from the path
  		#set($_dotParsePathHost = $_dotParsePath.substring(2,$_dotParseIndex1))
  		##get the file path from the path
  		#set($_dotParsePath = $_dotParsePath.substring($_dotParseIndex1,$_dotParsePath.length()))
  	  #end
	  #if ($UtilMethods.isSet($_dotParsePathHost))
		  ##we found a host, we search the host by hostname
		  #set ($_dotParseHost = $webapi.resolveHostName($_dotParsePathHost))
		  #if ($_dotParseHost && $UtilMethods.isSet($_dotParseHost.identifier))
			#set($_dotParseHostId = $_dotParseHost.identifier)
		  #end
	  #end
    #end

    #if (!$UtilMethods.isSet($dontShowIcon) || !$dontShowIcon)
      #if($EDIT_MODE)
	      #if(!$_dotParseHostId)
	      	#set($_dotParseHostId = '')
	      #end
        #set($_dotParseInode = ${webapi.getAssetInode($_dotParsePath, $_dotParseHostId)})
        #if($InodeUtils.isSet($_dotParseInode)&& ${webapi.doesUserHasPermissionOverFile($_dotParseInode, 2)})
          <div  class="dot_parseIcon"> <a href="javascript:window.top.document.getElementById('detailFrame').contentWindow.editFile('${_dotParseInode}'); " title="$_dotParsePath"><span class="editIcon"></span></a></div>
          #set ($_dotParseInode = '')
        #end
      #end
    #end

    #if($UtilMethods.isSet($_dotParseHostId))
  	  #set($_dotParseRealPath = $webapi.getAssetPath($_dotParsePath, $_dotParseHostId))
  	  #set ($_dotParseHostId = '')
    #else
  	  #set($_dotParseRealPath = $webapi.getAssetPath($_dotParsePath))
    #end

    #if($UtilMethods.isSet($_dotParseRealPath))
      #include($_dotParseRealPath)
    #else
      #if($EDIT_MODE)
        <p><b>The file you want to  ${esc.h}include ($_dotParsePath) doesn't exist, please change the path and try again.</b></p>
      #end
    #end

    #set ($_dotParsePath = '')
    #set ($_dotParseRealPath = '')


  #if ($UtilMethods.isSet($_dotParseListHeap) && (0 < $_dotParseListHeap.size()))
    #set ($list = $_dotParseListHeap.remove($math.sub($_dotParseListHeap.size(), 1)))
  #end

  #if ($UtilMethods.isSet($_dotParseContentHeap) && (0 < $_dotParseContentHeap.size()))
    #set ($content = $_dotParseContentHeap.remove($math.sub($_dotParseContentHeap.size(), 1)))
  #end
#end

#macro(orderMenu)
    #if ($EDIT_MODE && $PUBLISH_HTMLPAGE_PERMISSION)
        #set($menuLevel = $VTLSERVLET_URI.split('/').size() - 1)

        <a href="#" onclick="openReorderDialog(event)" class="btn btn-primary btn-xs normaltip" data-original-title="Reorder Menu">
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down"></i>
        </a>

        <script>
            function openReorderDialog(event) {
                event.preventDefault();
                if(window.dotUVE){
                  window.dotUVE.reorderMenu({startLevel: $menuLevel, depth: 2})
                  return;
                }
                var reorderUrl = "${directorURL}&startLevel=${menuLevel}&depth=2&pagePath=${VTLSERVLET_URI}&hostId=${host.identifier}";
                var customEvent = window.top.document.createEvent("CustomEvent");
                customEvent.initCustomEvent("ng-event", false, false,  {
                    name: "reorder-menu",
                    data: reorderUrl
                });
                window.top.document.dispatchEvent(customEvent);
            }
        </script>
    #end
#end

#macro(sortNavigation)
    #if ($EDIT_MODE && $PUBLISH_HTMLPAGE_PERMISSION)
      #set($menuLevel = $VTLSERVLET_URI.split('/').size() - 1)
      <button
    onclick='openReorderDialog(event)'
    style="
        background-color: #426BF0;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        border: none;
    "
    data-original-title="Reorder Menu">
    <span
        style="
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0xIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZD0ibTE0LjgzLDMwLjgzbDkuMTcsLTkuMTdsOS4xNyw5LjE3bDIuODMsLTIuODNsLTEyLC0xMmwtMTIsMTJsMi44MywyLjgzeiIvPgogIDxwYXRoIGlkPSJzdmdfMiIgZmlsbD0ibm9uZSIgZD0ibS0zMC42OTQ1NTcsOS40MjU4ODdsNDgsMGwwLDQ4bC00OCwwbDAsLTQ4eiIvPgogPC9nPgo8L3N2Zz4=);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 36px;
            width: 36px;
        "></span>
    <span
        style="
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI0MDIiIHdpZHRoPSI1ODIiIHk9Ii0xIiB4PSItMSIvPgogPC9nPgogPGc+CiAgPHRpdGxlPkxheWVyIDE8L3RpdGxlPgogIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGlkPSJzdmdfMSIgZD0ibTE0LjgzLDE2LjQybDkuMTcsOS4xN2w5LjE3LC05LjE3bDIuODMsMi44M2wtMTIsMTJsLTEyLC0xMmwyLjgzLC0yLjgzeiIvPgogIDxwYXRoIGlkPSJzdmdfMiIgZmlsbD0ibm9uZSIgZD0ibS0xOC4zOTk4OTksMTcuMDc4NDczbDQ4LDBsMCw0OGwtNDgsMGwwLC00OHoiLz4KIDwvZz4KPC9zdmc+);
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 36px;
            width: 36px;
        "></span>
</button>
        <script>
            function openReorderDialog(event) {
                event.preventDefault();
                if(window.dotUVE){
                  window.dotUVE.reorderMenu({startLevel: $menuLevel, depth: 2})
                  return;
                }
                var reorderUrl = "${directorURL}&startLevel=${menuLevel}&depth=2&pagePath=${VTLSERVLET_URI}&hostId=${host.identifier}";
                var customEvent = window.top.document.createEvent("CustomEvent");
                customEvent.initCustomEvent("ng-event", false, false,  {
                    name: "reorder-menu",
                    data: reorderUrl
                });
                window.top.document.dispatchEvent(customEvent);
            }
        </script>

    #end
#end


