<div class="dot-nav__title">
    <div
        (click)="clickHandler($event, data)"
        (mouseenter)="setSubMenuPosition()"
        [class.dot-nav__item--active]="data.active"
        appendTo="target"
        class="dot-nav__item"
    >
        <dot-nav-icon [icon]="data.tabIcon" aria-hidden="true"></dot-nav-icon>
        <span class="dot-nav__item-label">{{ data.tabName }}</span>
        <dot-icon
            aria-hidden="true"
            class="dot-nav__item-arrow"
            name="{{ data.isOpen ? 'arrow_drop_down' : 'arrow_drop_up' }}"
        >
        </dot-icon>
    </div>
</div>
<dot-sub-nav
    #subnav
    [ngStyle]="customStyles"
    [data]="data"
    [collapsed]="collapsed"
    (itemClick)="handleItemClick($event)"
>
</dot-sub-nav>
