.ui-autocomplete {
    @extend #inputtext-normal-border;
    
    .ui-button.ui-button-icon-only:not([disabled]),
    .ui-button {
        background: none;
        border-radius: 0;
        height: $autocomplete-height;

        &:hover,
        &:active,
        &:focus {
            background: none;
        }
    }

    .ui-inputtext {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }

        &::-ms-clear {
            display: none;
        }
    }
}

.ui-inputwrapper-focus .ui-autocomplete {
    @extend #inputtext-active-border;
}

.ui-autocomplete-panel {
    // TODO: get rid of this z-index when this is fixed: https://github.com/primefaces/primeng/issues/745
    z-index: 1;

    .ui-autocomplete-list {
        padding: 0;
    }

    .ui-autocomplete-list-item {
        margin: 0;
        overflow-wrap: break-word;
        padding: $basic-padding;
        word-wrap: break-word;

        &.ui-corner-all {
            border-radius: 0;
        }
    }
}
