.ui-datatable {
    .ui-datatable-thead > tr > th,
    .ui-datatable-tfoot > tr > td,
    .ui-datatable-data > tr > td {
        border-width: 0px;
        padding: $datatable-cell-padding;

        &.ui-selection-column {
            padding-right: 0;
            width: 55px;

            & + td,
            & + th {
                padding-left: 0;
            }
        }

        &:first-child {
            padding-left: $basic-padding * 3;
        }

        &:last-child {
            padding-right: $basic-padding * 3;
        }
    }

    .ui-datatable-thead > tr > th {
        color: $datatable-head-color;
        font-size: $font-size-small;
        border-bottom: $datatable-cell-border;
        padding: $datatable-header-cell-padding;

        a:focus {
            outline: 0;
        }
    }

    .ui-datatable-data > tr > td {
        border-bottom: $datatable-cell-border;
    }

    .ui-datatable-loading {
        background-color: $black;
        opacity: 0.075;
    }

    .ui-datatable-loading-content {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;

        .fa {
            opacity: 0.5;
        }
    }

    .ui-sortable-column {
        .pi-sort:before {
            content: "";
        }
        .pi-sort-asc:before {
            content: "\f063";
        }
        .pi-sort-desc:before {
            content: "\f062";
        }
    }

    .ui-widget-content .ui-state-highlight {
        background: $datatable-highlight-row-bgcolor;
        color: $datatable-row-color;
    }

    .ui-datatable-odd {
        background: $datatable-row-bgcolor;
    }

    .ui-paginator {
        padding-top: $basic-padding * 2;
        padding-bottom: $basic-padding * 2;
    }
}
