#warn {
    color: $dialog-message-warning-color;
}

.ui-dialog {
    overflow: inherit;

    &.ui-shadow {
        box-shadow: $md-shadow-3;
    }

    .ui-dialog-buttonpane,
    .ui-dialog-footer {
        margin: 0;
        padding: 0;
        text-align: right;

        .ui-button {
            @extend #button-flat;

            &.cancel {
                .ui-button-text {
                    color: $gray;
                }
        
                &:hover {
                    background-color: rgba($gray, 0.1);
        
                    .ui-button-text {
                        color: $gray-darker;
                    }
                }
            }
        }
    }

    .ui-dialog-footer {
        border-top: solid 1px $gray-lighter;
        padding: $dialog-padding-footer;
    }

    .ui-dialog-content,
    &.ui-confirmdialog .ui-dialog-content {
        margin: 0;
        padding: 0 $dialog-padding $dialog-padding;
    }

    .ui-dialog-content {

        & > .fa {
            display: none;
        }

        .warn {
            @extend #warn;
        }

        .ui-confirmdialog-message {
            line-height: $dialog-message-line-height;

            span {
                @extend #warn;
            }
        }
    }

    .ui-dialog-title {
        font-size: $dialog-title-font-size;
        font-weight: normal;
        margin: 0;
    }

    .ui-dialog-titlebar {
        padding: $dialog-padding;
    }

    .ui-dialog-titlebar-close,
    .ui-dialog-titlebar-minimize,
    .ui-dialog-titlebar-maximize {
        color: $dialog-close-button-normal-color;
        margin-top: 0;
        padding: 0;

        &:hover {
            color: $dialog-close-button-hover-color;
            background: none;
        }
    }

    &.ui-confirmdialog .ui-dialog-content {
        .fa {
            margin-right: 0;
        }
    }
}