#warn {
    color: $dialog-message-warning-color;
}

.ui-dialog {
    overflow: inherit;

    &.ui-shadow {
        box-shadow: $md-shadow-3;
    }

    .ui-dialog-buttonpane,
    .ui-dialog-footer {
        margin: 0;
        padding: 0;
        text-align: right;

        .ui-button {
            @extend #button-flat;

            &[disabled] {
                @extend #button-flat-disabled;
            }
        }
    }

    .ui-dialog-footer {
        padding: $dialog-padding-footer;
    }

    .ui-dialog-content,
    .ui-dialog-titlebar,
    &.ui-confirmdialog .ui-dialog-content {
        margin: 0;
        padding: $dialog-padding;
    }

    .ui-dialog-content {
        overflow: inherit;

        & > .fa {
            display: none;
        }

        .warn {
            @extend #warn;
        }

        .ui-confirmdialog-message {
            line-height: $dialog-message-line-height;

            span {
                @extend #warn;
            }
        }
    }

    .ui-dialog-title {
        font-size: $dialog-title-font-size;
        font-weight: normal;
        margin: 0;
    }

    .ui-dialog-titlebar {
        padding-bottom: 0;
    }

    .ui-dialog-titlebar-close,
    .ui-dialog-titlebar-minimize,
    .ui-dialog-titlebar-maximize {
        color: $dialog-close-button-normal-color;
        margin-top: 0;
        padding: 0;

        &:hover {
            color: $dialog-close-button-hover-color;
            background: none;
        }
    }

    &.ui-confirmdialog .ui-dialog-content {
        .fa {
            margin-right: 0;
        }
    }
}