#dropdown-item {
    margin: 0;
    padding: $basic-padding;

    &:hover {
        @extend #ui-hover-state;
    }
}

.ui-dropdown {

    &:not(.ui-state-disabled) {
        &:hover,
        &:active {
            @extend #field-hover-state;
        }

        &:active {
            .fa {
                color: $dropdown-active-color;
            }

            .ui-dropdown-trigger {
                border-color: $dropdown-active-color;
            }
        }
    }

    &.ui-state-disabled {
        .ui-dropdown-trigger {
            color: $dropdown-disabled-color;
        }

        .ui-dropdown-label {
            &:hover {
                color: $dropdown-disabled-color;
            }
        }
    }

    .ui-dropdown-trigger {
        align-items: center;
        display: flex;
        justify-content: center;
        width: $dropdown-height;

        .fa {
            margin: 0;
        }
    }

    .ui-dropdown-label {
        border: 0;
        line-height: $dropdown-height;
        padding-right: $dropdown-height + $basic-padding;
    }
}

.ui-dropdown-panel {
    .ui-dropdown-filter-container .fa {
        top: 14px;
    }

    .ui-dropdown-list {
        padding: 0;
    }

    .ui-dropdown-item {
        @extend #dropdown-item;

        &.ui-corner-all {
            border-radius: 0;
        }
    }
}