textarea.ui-inputtext {
    padding: $basic-padding 0;
    height: auto;
}

.ui-inputtext {
    @extend #inputtext-normal-border;
    @include placeholder($field-placeholder-color);
    border-radius: 0;
    height: $field-height;
    padding: 0;
    transition: box-shadow $field-animation-speed ease-in;
    -webkit-appearance: none;

    &:hover {
        @extend #field-hover-state;
        @extend #inputtext-hover-border;
    }

    &:focus,
    &:active {
        @extend #field-active-state;
        @extend #inputtext-active-border;
    }

    &:disabled,
    .ui-state-disabled & {
        @include placeholder($field-disabled-color);
        @extend #field-disabled-state;
        @extend #inputtext-disabled-border;
        background: none;
    }

    &.ui-state-filled {
        @extend #field-active-state;
        @extend #inputtext-active-border;
    }
}

.ui-messages-error {
    background: none;
    color: $red;
    font-size: $font-size-small;
    margin-top: $basic-padding;
}

// Validation
.ui-inputtext {
    &.ng-dirty.ng-invalid,
    &.ng-invalid.ng-touched {
        @extend #inputtext-error-border;
    }
}