@import "variables";

.ui-inputswitch {
    display: flex;
    align-items: center;

    &.ui-state-disabled {
        background-color: transparent;
    }
}



.ui-inputswitch-slider {
    background-color: $inputswitch-normal-track-color;
    border-radius: 7px;
    height: 10px;
    overflow: visible;
    position: static;
    transition: background-color $field-animation-speed ease-in;
    width: 100%;

    &:before {
        background-color: $inputswitch-normal-thumb-color;
        border-radius: 50%;
        bottom: 2px;
        box-shadow: $md-shadow-1;
        height: 22px;
        left: 0;
        transition: background-color $field-animation-speed ease-in,
                    transform $field-animation-speed ease-in;
        width: 22px;
    }

    .ui-inputswitch-checked & {
        background-color: $inputswitch-checked-track-color;

        &:before {
            background-color: $inputswitch-checked-thumb-color;
            transform: translateX(1.5em);
        }
    }

    .ui-state-disabled & {
        background-color: $inputswitch-normal-track-color;

        &:before {
            background-color: $inputswitch-normal-track-color;
        }
    }
}

.warn {
    .ui-inputswitch-slider {
        background-color: $inputswitch-warn-normal-track-color;
    }

    .ui-inputswitch-checked .ui-inputswitch-slider {
        background-color: $inputswitch-warn-checked-track-color;

        &:before {
            background-color: $inputswitch-warn-hecked-thumb-color;
        }
    }
}
