.ui-menu {
    background: $white;
    padding: 0;
    
    &.ui-menu-dynamic {
        z-index: 1003; // Same as dropdown default
    }
    
    .ui-menuitem {
        margin: 0;
    }

    .ui-menuitem-link {
        @extend #dropdown-item;
        color: $menu-link-color;
    }
}