.ui-multiselect {
    @extend #inputtext-normal-border;
    border-radius: 0;

    &.ui-state-focus {
        @extend #inputtext-active-border;
    }

    &:not(.ui-state-disabled) {
        &:hover,
        &:active {
            @extend #field-hover-state;
        }

        &.ui-state-focus {
            .ui-multiselect-trigger {
                border-color: $multiselect-active-color;
            }
        }
    }

    &.ui-state-disabled {
        background: none;

        .ui-multiselect-trigger {
            color: $multiselect-disabled-color;
        }

        .ui-multiselect-label {
            &:hover {
                color: $multiselect-disabled-color;
            }
        }
    }

    .ui-multiselect-trigger {
        align-items: center;
        display: flex;
        justify-content: center;
        width: $multiselect-height;

        .fa {
            margin: 0;
        }
    }

    .ui-multiselect-label {
        border: 0;
        line-height: $multiselect-height;
        padding: 0 $multiselect-height + $basic-padding 0 0;
        max-height: $multiselect-height;
    }
}

p-multiselect {
    outline-width: 0;

    &.ng-dirty.ng-invalid.ng-touched,
    &.ng-invalid.ng-touched {
        .ui-multiselect:not(.ui-multiselect-open) {
            .ui-inputtext {
                @extend #inputtext-error-border;
            }

            .ui-multiselect-label,
            .ui-inputtext,
            .ui-multiselect-trigger {
                color: $red;
            }
        }
    }
}

.ui-multiselect-panel {
    padding: $basic-padding * 2;
    min-width: 300px;

    .ui-widget-content {
        .ui-state-highlight {
            background: none;
            color: $multiselect-active-color;
        }
    }

    .ui-widget-header {
        padding: 0;

        .ui-chkbox {
            position: absolute;
            top: 10px;
            left: $basic-padding / 2;
            z-index: 1;
        }

        .ui-multiselect-close {
            display: none;
        }

        .ui-inputtext {
            padding: 0 $basic-padding * 2 0 0;
        }
    }

    .ui-multiselect-filter-container {
        width: 100%;
        padding-left: 25px;

        .fa {
            top: 9px;
            right: 0;
            color: $gray-light;
            left: inherit;
        }
    }

    .ui-multiselect-list {
        padding: 0;
    }

    .ui-multiselect-item {
        padding: $basic-padding / 2;
        margin: 0;

        &:hover {
            @extend #ui-hover-state;
        }

        label {
            cursor: inherit
        }

        &.ui-corner-all {
            border-radius: 0;
        }
    }
}
