.ui-paginator {
    padding: 0;

    .ui-paginator-element {
        align-items: center;
        display: inline-flex;
        height: $paginator-page-size;
        justify-content: center;
        min-width: $paginator-page-size;
    }

    .ui-paginator-page.ui-state-active {
        background: $paginator-page-selected-bgcolor;
        border-color: $paginator-page-selected-border-color;
        border-radius: $paginator-page-border-radius;
    }

    .ui-paginator-pages a:not(.ui-state-active):hover {
        background: $paginator-page-hover-bgcolor;
        border-radius: $paginator-page-border-radius;
    }

    .ui-paginator-next .fa-forward:before {
        content: "\f054";
    }

    .ui-paginator-prev .fa-backward:before {
        content: "\f053";
    }
}