@import "variables";
@import "mixins";
@import "primeng-theme/components/button";

[border] {
    .ui-selectbutton {
        height: auto;
        border: 1px solid $gray-light;

        &:hover {
            border: 1px solid $gray-light;
        }
    }
}

.ui-selectbutton {
    @extend #button-basic;
    @extend #button-main;
    @include button-base(
        $selectbutton-normal-bgcolor,
        $selectbutton-normal-border,
        $selectbutton-normal-shadow
    );
    height: 48px;
    white-space: nowrap;
    box-shadow: none;

    &:hover {
        background: none;
    }

    .ui-button {
        box-shadow: none;
        line-height: $tabview-nav-height;
        height: $tabview-nav-height;
        transition: background-color $field-animation-speed ease-in;
        background-color: $selectbutton-button-active-bgcolor;
        border: none;
        border-bottom: solid 4px transparent;

        &:hover {
            background-color: $selectbutton-button-hover-bgcolor;
        }

        .ui-button-text {
            color: $select-button-color;
        }

        &.ui-state-active {
            border-bottom: solid 5px $brand-primary;

            .ui-button-text {
                color: $selectbutton-button-active-color;
            }
        }

        &.ui-state-disabled,
        &.ui-state-disabled:hover {
            background: none;
            pointer-events: none;

            .ui-button-text {
                color: $gray-light;
            }
        }

        .ui-button-text {
            display: inline;
            padding: 0 $basic-padding * 3;
        }
    }

    [secondary] & {
        .ui-button {
            &.ui-state-active {
                border-bottom: solid 5px $brand-secondary;
            }
        }
    }
}
