@import "variables";
@import "mixins";
@import "primeng-theme/components/button";

.ui-selectbutton {
    @extend #button-basic;
    @extend #button-main;
    @include button-base($selectbutton-normal-bgcolor, $selectbutton-normal-border, $selectbutton-normal-shadow);

    [secondary] & {
        box-shadow: none;

        &:hover {
            background: none;
        }

        .ui-button {
            border: none;
            background-color: transparent;
            border-bottom: solid 4px transparent;

            &:hover {
                background-color: rgba($brand-secondary_rgb, 0.1);
            }

            .ui-button-text {
                color: $brand-secondary;
            }

            &.ui-state-active {
                background: none;
                border-bottom: solid 4px $brand-secondary;

                .ui-button-text {
                    color: $brand-secondary;
                }
            }
        }
    }

    .ui-button {
        box-shadow: none;
        line-height: $button-height;
        transition: background-color $field-animation-speed ease-in;

        &:hover {
            background-color: $selectbutton-button-hover-bgcolor;
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &.ui-state-active {
            background: $selectbutton-button-active-bgcolor;

            .ui-button-text {
                color: $selectbutton-button-active-color;
            }
        }

        .ui-button-text {
            display: inline;
        }
    }
}
