p-splitbutton {
    .ui-splitbutton {
        @extend #button-raised;
        display: inline-block;
        border-radius: $button-radius;

        &.ui-state-disabled {
            @extend #button-raised-disabled;
        }

        // SplitButton component have 2 regular buttons inside, we don't want to style those.
        .ui-button {
            background: none;
            box-shadow: none;
            border: none;
            vertical-align: middle;

            // Reset the styles coming from the icon button
            &.ui-button-icon-only:hover {
                background: none;
            }
        }

        .ui-button-text-only,
        .ui-button-text-icon-left {
            .ui-button-text {
                padding-right: 0;
            }
        }
    }

    &[flat] .ui-splitbutton {
        @extend #button-flat;

        &.ui-state-disabled {
            @extend #button-flat-disabled;
        }
    }
}