.ui-splitbutton {
    .ui-button {
        background: none;
        box-shadow: none;
        border: none;
        vertical-align: middle;
    }

    .ui-button-text-only,
    .ui-button-text-icon-left {
        .ui-button-text {
            padding-right: 0;
        }
    }
}

p-splitbutton {
    display: inline-block;
    border-radius: $button-radius;
    @extend #buttons;

    &[flat].inverted,
    &[flat].inverted:hover {
        .ui-button-text,
        .ui-c {
            color: $button-inverted-color;
        }
    }

    .ui-state-disabled {
        background: none;
    }

    &[iconButton] {
        border: none;
        box-shadow: none;
        background: none;

        .ui-splitbutton {
            .ui-corner-left {
                display: none;
            }

            .ui-splitbutton-menubutton {
                width: $field-height;
                border-radius: 50%;
                background: $white;
                box-shadow: $md-shadow-1;
                transition: background-color $basic-speed ease-in, box-shadow $basic-speed ease-in;

                .fa-caret-down:before {
                    content: "\F142";
                }

                &:not([disabled]) {
                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: $md-shadow-2;
                    }

                    &:hover {
                        box-shadow: $md-shadow-2;
                    }

                    &:active {
                        box-shadow: $md-shadow-2;
                    }

                    &:focus {
                        box-shadow: $md-shadow-2;
                    }
                }
            }
        }
    }
}
