@import "variables";

.ui-table {
    .ui-table-thead tr th,
    .ui-table-tbody tr td {
        border-width: 0px;
        padding: $datatable-cell-padding;

        &.ui-selection-column {
            padding-right: 0;
            width: 55px;

            & + td,
            & + th {
                padding-left: 0;
            }
        }

        &:first-child {
            padding-left: $basic-padding * 3;
        }

        &:last-child {
            padding-right: $basic-padding * 3;
        }
    }

    .ui-table-thead tr th {
        color: $datatable-head-color;
        font-size: $font-size-small;
        font-weight: normal;
        border-bottom: $datatable-cell-border;
        padding: $datatable-header-cell-padding;

        a:focus {
            outline: 0;
        }
    }

    .ui-table-tbody tr td {
        border-bottom: $datatable-cell-border;
    }

    .ui-table-tbody tr {
        transition: background-color $field-animation-speed ease-in;

        &:hover {
            background-color: $gray-bg;
        }
    }

    .ui-widget-content .ui-state-highlight {
        background: $datatable-highlight-row-bgcolor;
        color: $datatable-row-color;
    }

    .ui-paginator {
        padding-top: $basic-padding * 2;
        padding-bottom: $basic-padding * 2;
    }

    .ui-table-sort-icon {
        display: none;
    }

    .ui-sortable-column .ui-table-sort-icon {
        display: inline-block;
    }
}
