#reset-border-radius {
    border-radius: 0;
}

.ui-tabview {
    padding: 0;

    &.ui-tabview-top {
        .ui-tabview-nav li {
            top: 0;
            font-size: $font-size-small;
            font-weight: 500;
            outline: none;

            a {
                border-bottom: $tabview-item-border;
                transition: background-color $basic-speed ease-in;

                &:hover {
                    background-color: $tabview-item-hover-bgcolor;
                    border-bottom: 0;
                }
            }
        }

        & > .ui-tabview-nav {
            padding: 0;
        }
    }

    &.ui-corner-all {
        @extend #reset-border-radius;
    }

    .ui-tabview-nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &.ui-corner-all {
            @extend #reset-border-radius;
        }

        li {
            margin: 0;

            &.ui-tabview-selected a {
                color: $tabview-item-selected-color;
                border-bottom: $tabview-item-selected-border;
            }

            &.ui-state-default a {
                color: $tabview-item-color;
                padding: $tabview-item-padding;
                height: $tabview-nav-height;
                text-transform: uppercase;
            }

            &.ui-state-disabled {
                background: none;

                a {
                    &:hover {
                        background: none;
                    }

                    .ui-tabview-title {
                        color: $tabview-item-disabled-color;
                    }
                }
            }

            .ui-tabview-close {
                color: $tabview-item-color;
                margin: 0;
                right: 0;
                top: 0;
                position: absolute;
            }
        }

    }

    .ui-tabview-panel {
        padding: 0;
    }
}
