@import "variables";

.ui-table {
    min-height: 100%;

    .ui-table-thead tr th,
    .ui-table-tbody tr td {
        border-width: 0px;
        padding: $table-cell-padding;

        &.ui-selection-column {
            padding-right: 0;
            width: 55px;

            & + td,
            & + th {
                padding-left: 0;
            }
        }

        &:first-child {
            padding-left: $basic-padding * 3;
        }

        &:last-child {
            padding-right: $basic-padding * 3;
        }
    }

    .ui-table-thead tr th {
        border-bottom: $table-cell-border;
        color: $table-head-color;
        font-size: $font-size-small;
        font-weight: normal;
        overflow: hidden;
        padding: $table-header-cell-padding;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        a:focus {
            outline: 0;
        }

        p-sorticon {
            position: absolute;
            right: 0;
        }
    }

    .ui-table-tbody tr td {
        border-bottom: $table-cell-border;
    }

    .ui-table-tbody tr {
        transition: background-color $field-animation-speed ease-in;

        &:hover {
            background-color: $gray-bg;
        }
    }

    .ui-table-loading {
        background-color: $black;
        opacity: 0.075;
    }

    .ui-table-loading-content {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;

        .fa {
            opacity: 0.5;
        }
    }

    .ui-widget-content .ui-state-highlight {
        background: $table-highlight-row-bgcolor;
        color: $table-row-color;
    }

    .ui-paginator {
        padding-top: $basic-padding * 2;
        padding-bottom: $basic-padding * 2;
    }

    .ui-table-sort-icon {
        display: none;
    }

    .ui-sortable-column .ui-table-sort-icon {
        display: inline-block;
    }
}
