.ui-toolbar {
  align-items: center;
  background-color: $brand-primary;
  color: $white;
  display: flex;
  height: $toolbar-height;
  padding: 0 $basic-padding * 2;

  &.ui-corner-all {
    border-radius: 0;
  }

  .btn {
    color: $white;
  }
}