.ui-toolbar {
    display: flex;
    padding: 0 $basic-padding * 2;

    &.ui-corner-all {
        border-radius: 0;
    }
}


.ui-toolbar-group-left,
.ui-toolbar-group-right {
    align-items: center;
    display: flex;
    flex: 1;
}

.ui-toolbar-group-left {
    justify-content: flex-start;
}

.ui-toolbar-group-right {
    justify-content: flex-end;
}