@use "variables" as *;

.p-component {
    font-family: $body-text;
  font-size: $font-size-medium;
  font-weight: normal;
  line-height: normal;
}

.p-component-overlay {
  background-color: rgba($brand-secondary_rgb, 0.12);
  transition-duration: 0.2s;
}

.p-disabled, .p-component:disabled {
  opacity: 0.38;
}


.p-text-secondary {
  color: $black;
}

.pi {
  font-size: $font-size-medium;
}

.p-link {
  font-size: $font-size-medium;
  font-family: $body-text;
  border-radius: 4px;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-fluid .p-inputgroup .p-button {
  width: auto;
}
.p-fluid .p-inputgroup .p-button.p-button-icon-only {
  width: $spacing-6;
}

.p-blockui.p-component-overlay {
  background: rgba(0, 0, 0, 0.32);
}

.p-field > label {
    font-size: $font-size-small;
}

.p-formgroup-inline {
    .p-field-radiobutton,
    .p-field-checkbox {
        margin-bottom: 0;
    }
}
