<dot-language-selector (selected)="changeLanguageHandler($event)"  [value]="pageState.viewAs.language" ></dot-language-selector>

<ng-template [ngIf]="isEnterpriseLicense$ | async">
    <dot-device-selector (selected)="changeDeviceHandler($event)" [value]="pageState.viewAs.device"></dot-device-selector>
    <dot-persona-selector (selected)="changePersonaHandler($event)"  [value]="pageState.viewAs.persona"></dot-persona-selector>
    <p-checkbox class="invert" [label]="whatsChangedMessage$ | async" *ngIf="isPreview" (onChange)="whatschange.emit($event)"></p-checkbox>
</ng-template>