@use "variables" as *;
@import "dotcms-theme/utils/theme-variables";
@import "dotcms-theme/utils/mixins";
@import "mixins";

#icon-button-tiny {
    height: 24px;
    width: 24px;

    ::ng-deep i {
        font-size: $md-icon-size-tiny;
    }
}

[tiny] :host {
    button {
        @extend #icon-button-tiny;
    }
}

:host {
    display: inline-block;

    &[float] {
        button {
            background-color: $brand-primary;
            border-radius: 50%;
            box-shadow: $md-shadow-1;

            &:hover {
                background-color: $brand-primary_mod;
            }
        }

        dot-icon {
            color: $white;
        }
    }

    &[big] button {
        ::ng-deep i {
            font-size: $md-icon-size-big;
        }
    }

    &[tiny] button {
        @extend #icon-button-tiny;
    }

    &[inverted] button {
        background-color: transparent;

        &:hover {
            background-color: rgba($white_rgb, 0.3);
        }

        ::ng-deep i {
            @include dot_icon_inverted;
        }
    }

    &[secondary] {
        button {
            @each $label, $props in $button-sec {
                @include button-properties($label, $props);
            }

            &:active ::ng-deep i {
                color: $brand-primary;
            }

            &:hover ::ng-deep i {
                color: $brand-primary;
            }

            ::ng-deep i {
                font-size: $md-icon-size-big;
            }
        }

        &[disabled="true"] {
            button {
                border-color: $field-disabled-bgcolor;

                ::ng-deep i {
                    color: $field-disabled-bgcolor;
                }
            }
        }
    }

    &[square] button {
        border-radius: $border-radius;
    }

    &[disabled="true"] {
        pointer-events: none;

        button {
            pointer-events: none;
            background-color: transparent;

            &:hover {
                background-color: transparent;
                cursor: not-allowed;
            }

            ::ng-deep i {
                color: $field-disabled-bgcolor;
            }
        }
    }

    button {
        align-items: center;
        background: transparent;
        border-radius: 50%;
        border: none;
        color: $gray;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        padding: 0.608rem; // 39x39 the defauld field height
        transition: background-color $field-animation-speed ease-in,
            box-shadow $field-animation-speed ease-in;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: rgba($black, 0.07);
        }
    }
}
