<div class="form__group relationship__type" *ngIf="!editing">
    <p-radioButton
        [label]="'contenttypes.field.properties.relationship.new.label' | dm"
        [value]="STATUS_NEW"
        [(ngModel)]="status"
        (click)="clean()"
    >
    </p-radioButton>

    <p-radioButton
        [label]="'contenttypes.field.properties.relationship.existing.label' | dm"
        [value]="STATUS_EXISTING"
        [(ngModel)]="status"
        (click)="clean()"
    >
    </p-radioButton>
</div>

<div class="relationship__config">
    <dot-new-relationships
        *ngIf="status === STATUS_NEW; else: existing"
        class="relationships__new"
        [velocityVar]="group.get(property.name).value.velocityVar"
        [cardinality]="group.get(property.name).value.cardinality"
        [editing]="editing"
        (change)="handleChange($event)"
    >
    </dot-new-relationships>

    <ng-template #existing>
        <div class="form__group">
            <label for="" class="form__label">Relationship</label>
            <dot-edit-relationships class="relationships__existing" (change)="handleChange($event)">
            </dot-edit-relationships>
        </div>
    </ng-template>

    <dot-field-validation-message
        [message]="getValidationErrorMessage()"
        [field]="group.controls[property.name]"
    >
    </dot-field-validation-message>
</div>
