<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %c - %m%n"/>
        </Console>

        <Async name="ASYNC">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>

        <Async name="ASYNC-TEST">
            <AppenderRef ref="TEST"/>
        </Async>

        <Async name="ASYNC-SECURITY">
            <AppenderRef ref="SECURITY"/>
        </Async>

        <Async name="ASYNC-SITESEARCH">
            <AppenderRef ref="SITESEARCH"/>
        </Async>

        <Async name="ASYNC-ADMINAUDIT">
            <AppenderRef ref="ADMINAUDIT"/>
        </Async>

        <Async name="ASYNC-USERACTIVITY">
            <AppenderRef ref="USERS_ACTIVITY"/>
        </Async>

        <Async name="ASYNC-VELOCITY">
            <AppenderRef ref="VELOCITY"/>
        </Async>

        <Async name="ASYNC-PUSHPUBLISH">
            <AppenderRef ref="PUSHPUBLISH"/>
        </Async>

        <RollingFile name="FILE" fileName="${DOTCMS_LOGGING_HOME}/dotcms.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="TEST" fileName="${DOTCMS_LOGGING_HOME}/dotcms-testing.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-testing-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="SECURITY" fileName="${DOTCMS_LOGGING_HOME}/dotcms-security.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-security-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="SITESEARCH" fileName="${DOTCMS_LOGGING_HOME}/dotcms-sitesearch.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-sitesearch-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ADMINAUDIT" fileName="${DOTCMS_LOGGING_HOME}/dotcms-adminaudit.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-adminaudit-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="USERS_ACTIVITY" fileName="${DOTCMS_LOGGING_HOME}/dotcms-userActivity.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-userActivity-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="VELOCITY" fileName="${DOTCMS_LOGGING_HOME}/dotcms-velocity.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-velocity-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="PUSHPUBLISH" fileName="${DOTCMS_LOGGING_HOME}/dotcms-pushpublish.log"
                     filePattern="${DOTCMS_LOGGING_HOME}/$${date:yyyy-MM}/dotcms-pushpublish-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd/MM/yy HH:mm:ss:SSS z}] %5p %c{2}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="com.dotcms.repackage.org.directwebremoting" level="warn">
            <level value="warn"/>
        </Logger>
        <Logger name="com.dotmarketing.portlets.contentlet.business.ReindexThread" level="debug">
            <level value="debug"/>
        </Logger>
        <Logger name="com.dotcms.repackage.com.bradmcevoy.http" level="info">
            <level value="info"/>
        </Logger>
        <Logger name="org.apache.tomcat.util.http.Parameters" level="fatal">
            <level value="fatal"/>
        </Logger>
        <Logger name="com.dotcms.repackage.org.directwebremoting.impl.DefaultConverterManager" level="fatal">
            <level value="fatal"/>
        </Logger>
        <Logger name="com.liferay.portal.action.LoginAction" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SECURITY"/>
        </Logger>

        <Logger name="com.liferay.portal.action.LogoutAction" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SECURITY"/>
        </Logger>

        <Logger name="com.liferay.portal.action.LoginAsAction" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SECURITY"/>
        </Logger>

        <Logger name="com.liferay.portal.action.LogoutAsAction" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SECURITY"/>
        </Logger>

        <Logger name="org.apache.nutch" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SITESEARCH"/>
        </Logger>

        <Logger name="com.dotcms.repackage.org.apache.hadoop" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SITESEARCH"/>
        </Logger>

        <Logger name="com.dotmarketing.util.SecurityLogger" additivity="false" level="info">
            <AppenderRef ref="ASYNC-SECURITY"/>
        </Logger>

        <Logger name="com.dotmarketing.util.AdminLogger	" additivity="false" level="info">
            <AppenderRef ref="ASYNC-ADMINAUDIT"/>
        </Logger>

        <Logger name="com.dotmarketing.util.ActivityLogger" additivity="false" level="info">
            <AppenderRef ref="ASYNC-USERACTIVITY"/>
        </Logger>

        <Logger name="com.dotmarketing.util.PushPublishLogger" additivity="false" level="info">
            <AppenderRef ref="ASYNC-PUSHPUBLISH"/>
        </Logger>

        <Logger name="com.dotmarketing.servlets.test.ServletTestRunner" additivity="false" level="info">
            <AppenderRef ref="ASYNC-TEST"/>
        </Logger>

        <Logger name="com.dotmarketing.velocity.VelocityServlet" additivity="false" level="info">
            <AppenderRef ref="ASYNC-VELOCITY"/>
        </Logger>

        <Logger name="com.dotmarketing.viewtools" additivity="false" level="info">
            <AppenderRef ref="ASYNC-VELOCITY"/>
        </Logger>

        <Logger name="org.apache.velocity" additivity="false" level="warn">
            <AppenderRef ref="ASYNC-VELOCITY"/>
        </Logger>

        <!-- make Jersey less noisy -->
        <Logger name="com.dotcms.repackage.com.sun.jersey.spi.container.servlet.WebComponent" additivity="false"
                level="error">
            <AppenderRef ref="ASYNC"/>
        </Logger>

        <ROOT level="info">
            <AppenderRef ref="ASYNC"/>
        </ROOT>

    </Loggers>

</Configuration>
