<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>dotCMS</display-name>
<!-- Don't ever delete the following comment tags, it will break the build -->
<!-- BEGIN JSPS --> <!-- END JSPS -->
	<context-param>
		<param-name>company_id</param-name>
		<param-value>dotcms.org</param-value>
	</context-param>
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN CONTEXT-PARAMS -->
    <!-- END CONTEXT-PARAMS -->
	<!-- DOTMARKETING FILTERS -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>com.dotmarketing.filters.CharsetEncodingFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>TimeMachineFilter</filter-name>
		<filter-class>com.dotmarketing.filters.TimeMachineFilter</filter-class>		
	</filter>
	<filter>
		<filter-name>FixCmisFilter</filter-name>
		<filter-class>com.dotmarketing.filters.FixCmis.FixCmisFilter</filter-class>
	</filter>
	<filter>
		<filter-name>URLMapFilter</filter-name>
		<filter-class>com.dotmarketing.cms.urlmap.filters.URLMapFilter</filter-class>
	</filter>
<!--
	<filter>
    	<filter-name>Compress</filter-name>
    	<filter-class>com.dotmarketing.filters.compression.GZIPFilter</filter-class>
    </filter>
-->
	 <filter>
		<filter-name>CacheImagesFilter</filter-name>
		<filter-class>com.dotmarketing.filters.CacheImagesFilter</filter-class>
	</filter>
<filter>
		<filter-name>CMSFilter</filter-name>
		<filter-class>com.dotmarketing.filters.CMSFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.dotmarketing.filters.AutoLoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LoginRequiredFilter</filter-name>
		<filter-class>com.dotmarketing.filters.LoginRequiredFilter</filter-class>
	</filter>
	<!--
	<filter>
		<filter-name>JBossRulesFilter</filter-name>
		<filter-class>com.dotmarketing.filters.JBossRulesFilter</filter-class>
	</filter>
	 -->
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>com.dotmarketing.filters.NoCacheFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Secure MainServlet Filter</filter-name>
		<filter-class>com.liferay.filters.secure.SecureFilter</filter-class>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>main.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<filter-class>com.liferay.filters.secure.SecureFilter</filter-class>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>axis.servlet.</param-value>
		</init-param>
	</filter>
	<!--END DOTMARKETING FILTERS-->
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN FILTERS -->
 <!-- END FILTERS -->
		<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN FILTER-MAPPINGS -->
 <!-- END FILTER-MAPPINGS -->
	<!--DOTMARKETING FILTER-MAPPINGS-->
	<!-- compression Mappings -->
<!--
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  -->
  <filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <filter-mapping>
		<filter-name>TimeMachineFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <filter-mapping>
		<filter-name>FixCmisFilter</filter-name>
		<url-pattern>/cmis/*</url-pattern>
	</filter-mapping>
<!--
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Compress</filter-name>
    <url-pattern>*.dwr</url-pattern>
  </filter-mapping>
-->
	<filter-mapping>
		<filter-name>URLMapFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>*.PNG</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>/image/company_logo</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>/icon</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>/titleServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>*.swf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheImagesFilter</filter-name>
		<url-pattern>/thumbnail</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--
	<filter-mapping>
		<filter-name>JBossRulesFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JBossRulesFilter</filter-name>
		<url-pattern>/dotCMS/*</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/dotCMS/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CMSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--
	<filter>
  		<filter-name>Compression Filter</filter-name>
  		<filter-class>com.liferay.filters.compression.CompressionFilter</filter-class>
 	</filter>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>/c/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>Secure MainServlet Filter</filter-name>
		<url-pattern>/c/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<url-pattern>/webxservices/*</url-pattern>
	</filter-mapping>
	<!--END DOTMARKETING FILTER-MAPPINGS-->
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN LISTENERS -->
    <!-- END LISTENERS -->
	<!-- DOTMARKETING LISTENERS -->
	<listener>
		<listener-class>com.dotmarketing.listeners.ContextLifecycleListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.servlet.PortalSessionListener</listener-class>
	</listener>
	<listener>
	    <listener-class>com.dotmarketing.listeners.ClickstreamListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.dotmarketing.listeners.OsgiFelixListener</listener-class>
	</listener>
    <listener>
        <listener-class>org.apache.felix.http.proxy.ProxyListener</listener-class>
    </listener>
    <listener>
    	<listener-class>com.dotcms.listeners.SessionMonitor</listener-class>
    </listener>
	<!-- this must be the last listener -->
	<listener>
	  <listener-class>com.dotmarketing.listeners.HibernateSessionsListener</listener-class>
	</listener>
	<!-- END DOTMARKETING LISTENERS -->
	<!-- DOTMARKETING SERVLETS -->
	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>com.dotmarketing.servlets.Log4JInitializationServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSONContentServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.JSONContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HTMLPDFServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.HTMLPDFServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JRImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XlsServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.XlsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JExcelApiServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RtfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JasperPrintServlet</servlet-name>
		<servlet-class>servlets.JasperPrintServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResizeImageServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.image.ResizeImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>
			UpdateQuartzCronJobs
		</servlet-name>
		<servlet-class>
			com.dotmarketing.servlets.UpdateQuartzCronJobsServlet
		</servlet-class>
		<load-on-startup>
			98
		</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>com.dotmarketing.servlets.InitServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VelocityServlet</servlet-name>
		<servlet-class>com.dotmarketing.velocity.ClientVelocityServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.FileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SpeedyAssetServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.SpeedyAssetServlet</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>AjaxFileUploadServlet</servlet-name>
    	<servlet-class>com.dotmarketing.servlets.AjaxFileUploadServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>PermalinkServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.PermalinkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>icon</servlet-name>
		<servlet-class>com.dotmarketing.servlets.IconServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CampaignReportingServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.CampaignReportingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminControlServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.AdminControlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectURLServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.RedirectURLServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecreateTreeServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.RecreateTreeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TitleServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.image.TitleImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoriesServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.JSONCategoriesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThumbnailServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.image.ThumbnailImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XSPFServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.XSPFServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SlideShowServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.SlideShowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>login_edit_mode</servlet-name>
		<servlet-class>com.dotmarketing.servlets.LoginEditModeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TailLogServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.taillog.TailLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PHPServlet</servlet-name>
		<servlet-class>com.dotmarketing.scripting.servlet.PHPServlet</servlet-class>
		<init-param>
				<param-name>compile</param-name>
				<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
	  <servlet-name>dwr-invoker</servlet-name>
	  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
      <init-param>
	      <param-name>debug</param-name>
    	  <param-value>false</param-value>
	  </init-param>
	  <init-param>
	      <param-name>compressor</param-name>
    	  <param-value>none</param-value>
	  </init-param>
	</servlet>
	<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
				<!--border around captcha. Legal values are yes or no. Defaults to yes Other values will be ignored-->
		<init-param>
			<param-name>cap.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<!--color of the border. Legal values are r,g,b(and optional alpaha) or white,black,etc. Other values will be ignored-->
		<init-param>
			<param-name>cap.border.c</param-name>
			<param-value>black</param-value>
		</init-param>
		<!--thickness of the border around captcha. Legal values are > 0 other values will be ignored. Defaults to one-->
		<init-param>
			<param-name>cap.border.th</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>cap.obscurificator</param-name>
			<!--<param-value>nl.captcha.obscurity.imp.ShadowGimpyImp</param-value>-->
			<!--<param-value>nl.captcha.obscurity.imp.WaterRiple</param-value>-->
			<param-value>nl.captcha.sandbox.TestGimpyImp</param-value>
		</init-param>
		<init-param>
			<param-name>cap.cap.producer</param-name>
			<param-value>nl.captcha.obscurity.DefaultCaptchaIml</param-value>
		</init-param>
		<init-param>
			<param-name>cap.word.imp</param-name>
			<param-value>nl.captcha.text.imp.DefaultWordRenderer</param-value>
		</init-param>
		<init-param>
			<param-name>cap.text.producer</param-name>
			<!--<param-value>nl.captcha.sandbox.ChineseTextProducer</param-value>-->
			<param-value>nl.captcha.text.imp.FiveLetterFirstNameTextCreator</param-value>
		</init-param>
		<init-param>
			<param-name>cap.char.arr</param-name>
			<param-value>2,3,4,6,7,8,a,b,c,d,e,f,g,h,k,o,r,s,t,x,y</param-value>
		</init-param>
		<!--if default captcha producer is slelected this value represents the amount of chars that are supplied in the captcha. values below 2 are not exepted when omitted defaults to 5-->
		<init-param>
			<param-name>cap.char.arr.l</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<param-name>cap.font.arr</param-name>
			<param-value>Arial,Helvetica,Courier,TimesRoman</param-value>
		</init-param>
		<init-param>
			<param-name>cap.font.size</param-name>
			<param-value>40</param-value>
		</init-param>
		<init-param>
			<param-name>cap.font.color</param-name>
			<param-value>black</param-value>
		</init-param>
		<init-param>
			<param-name>cap.bg.imp</param-name>
			<param-value>nl.captcha.obscurity.imp.DefaultBackgroundImp</param-value>
		</init-param>
		<!--values can be either red,yellow,blue,cya etc or r,g,b,alpha value-->
		<init-param>
			<param-name>cap.background.c.to</param-name>
			<param-value>255,255,255</param-value>
		</init-param>
		<init-param>
			<param-name>cap.background.c.from</param-name>
			<param-value>154,154,154</param-value>
		</init-param>
		<init-param>
			<param-name>cap.noise.imp</param-name>
			<param-value>nl.captcha.obscurity.imp.DefaultNoiseImp</param-value>
		</init-param>
		<init-param>
			<param-name>cap.noise.c</param-name>
			<param-value>20,61,85</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageToolAjaxServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.image.ImageToolAjaxServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>ctx_path</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-ext.xml,/WEB-INF/struts-cms.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>stxxInit</param-name>
			<param-value>/stxx.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.ImageServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WebDav</servlet-name>
		<servlet-class>com.bradmcevoy.http.MiltonServlet</servlet-class>
		<init-param>
				<param-name>resource.factory.class</param-name>
				<param-value>com.dotmarketing.webdav.ResourceFactorytImpl</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CMIS</servlet-name>
		<servlet-class>com.dotcms.enterprise.cmis.CMISServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScheduledJobs</servlet-name>
		<servlet-class>com.dotmarketing.servlets.RunScheduledJobServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AudioCaptcha</servlet-name>
        <servlet-class>com.dotmarketing.servlets.AudioCaptchaServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>ChainsServlet</servlet-name>
		<servlet-class>com.dotmarketing.portlets.chains.ChainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BinaryExporterServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.BinaryExporterServlet</servlet-class>
	    <load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AjaxDirector</servlet-name>
		<servlet-class>com.dotmarketing.servlets.ajax.AjaxDirectorServlet</servlet-class>
	</servlet>
	 <servlet>
		<servlet-name>JSONTagsServlet</servlet-name>
		<servlet-class>com.dotmarketing.servlets.JSONTagsServlet</servlet-class>
	</servlet>
	<!--JMySpell SpellChecker-->
    <servlet>
        <description>A spell checking servlet that accepts JSON requests and processes them using JMySpell</description>
        <servlet-name>jmyspell-spellchecker</servlet-name>
        <servlet-class>org.tinymce.spellchecker.JMySpellCheckerServlet</servlet-class>
        <init-param>
          <param-name>preloadedLanguages</param-name>
          <param-value>en_US;es_ES</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet>
       <servlet-name>springmvc</servlet-name>
       <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <!-- REST -->
    <servlet>
		<servlet-name>RESTAPI</servlet-name>
		<servlet-class>
		  com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<init-param>
		  <param-name>com.sun.jersey.config.property.packages</param-name>
		  <param-value>com.dotcms.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>org.apache.felix.http.proxy.ProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	<!--END DOTMARKETING SERVLETS-->
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN SERVLETS -->
 <!-- END SERVLETS -->
    <!-- TEST FRAMEWORK SERVLETS
       <servlet>
         <servlet-name>ServletTestRunner</servlet-name>
         <servlet-class>com.dotmarketing.servlets.test.ServletTestRunner</servlet-class>
       </servlet>
       <servlet-mapping>
         <servlet-name>ServletTestRunner</servlet-name>
         <url-pattern>/servlet/test</url-pattern>
      </servlet-mapping>
	END OF TEST FRAMEWORK SERVLETS -->
	<!-- BEGIN GRAZIANO issue-12-dnd-template -->
    <servlet>
    	<description>Provides the drawed template preview functionality</description>
    	<display-name>PreviewDesignTemplateServlet</display-name>
    	<servlet-name>PreviewDesignTemplateServlet</servlet-name>
    	<servlet-class>com.dotmarketing.portlets.templates.design.servlets.PreviewDesignTemplateServlet</servlet-class>
    </servlet>
    <!-- END GRAZIANO issue-12-dnd-template -->
    <!-- DOTCMS SERVLET-MAPPINGS -->
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDirector</servlet-name>
        <url-pattern>/DotAjaxDirector/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>jmyspell-spellchecker</servlet-name>
        <url-pattern>/servlets/jmyspell-spellchecker</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>login_edit_mode</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ImageToolAjaxServlet</servlet-name>
        <url-pattern>/servlet/dotImageToolAjax</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ImageToolAjaxServlet</servlet-name>
        <url-pattern>/servlet/dotImageToolAjax/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>login_edit_mode</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_edit_mode</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>login_edit_mode</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduledJobs</servlet-name>
		<url-pattern>/dotScheduledJobs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TailLogServlet</servlet-name>
		<url-pattern>/dotTailLogServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PHPServlet</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CMIS</servlet-name>
		<url-pattern>/cmis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduledJobs</servlet-name>
		<url-pattern>/dotScheduledJobs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONContentServlet</servlet-name>
		<url-pattern>/JSONContent/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebDav</servlet-name>
		<url-pattern>/webdav/autopub/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebDav</servlet-name>
		<url-pattern>/webdav/nonpub/*</url-pattern>
	</servlet-mapping>
	<!--
	<servlet-mapping>
		<servlet-name>Webdav1</servlet-name>
		<url-pattern>/webdav/*</url-pattern>
	</servlet-mapping>
	 -->
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/servlets/pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLPDFServlet</servlet-name>
		<url-pattern>/servlets/htmlpdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JRImageServlet</servlet-name>
		<url-pattern>/servlets/jrimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/servlets/xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JExcelApiServlet</servlet-name>
		<url-pattern>/servlets/jxl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtfServlet</servlet-name>
		<url-pattern>/servlets/rtf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JasperPrintServlet</servlet-name>
		<url-pattern>/servlets/jasperprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ResizeImageServlet</servlet-name>
	    <url-pattern>/resize_image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JRImageServlet</servlet-name>
		<url-pattern>/servlets/jrimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/servlets/xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JExcelApiServlet</servlet-name>
		<url-pattern>/servlets/jxl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtfServlet</servlet-name>
		<url-pattern>/servlets/rtf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JasperPrintServlet</servlet-name>
		<url-pattern>/servlets/jasperprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ResizeImageServlet</servlet-name>
	    <url-pattern>/resize_image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JRImageServlet</servlet-name>
		<url-pattern>/servlets/jrimage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/servlets/xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JExcelApiServlet</servlet-name>
		<url-pattern>/servlets/jxl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtfServlet</servlet-name>
		<url-pattern>/servlets/rtf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JasperPrintServlet</servlet-name>
		<url-pattern>/servlets/jasperprint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ResizeImageServlet</servlet-name>
	    <url-pattern>/resize_image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>AjaxFileUploadServlet</servlet-name>
    	<url-pattern>/servlets/ajax_file_upload</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>icon</servlet-name>
		<url-pattern>/icon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SlideShowServlet</servlet-name>
		<url-pattern>/dot_slideshow</url-pattern>
	</servlet-mapping>
<servlet-mapping>
		<servlet-name>VelocityServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/dot/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpeedyAssetServlet</servlet-name>
		<url-pattern>/dotAsset/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermalinkServlet</servlet-name>
		<url-pattern>/permalink/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CampaignReportingServlet</servlet-name>
		<url-pattern>/imageShim</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminControlServlet</servlet-name>
		<url-pattern>/controlGif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectURLServlet</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecreateTreeServlet</servlet-name>
		<url-pattern>/RecreateTreeServlet</url-pattern>
	</servlet-mapping>
	<!-- title Servlet -->
	<servlet-mapping>
		<servlet-name>TitleServlet</servlet-name>
		<url-pattern>/titleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TitleServlet</servlet-name>
		<url-pattern>/TitleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThumbnailServlet</servlet-name>
		<url-pattern>/thumbnail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/dotCMS/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>dwr-invoker</servlet-name>
	  <url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/Captcha.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>AudioCaptcha</servlet-name>
        <url-pattern>/audioCaptcha.wav</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ChainsServlet</servlet-name>
        <url-pattern>/servlets/chains/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
	    <servlet-name>BinaryExporterServlet</servlet-name>
	    <url-pattern>/contentAsset/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/categoriesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONTagsServlet</servlet-name>
		<url-pattern>/JSONTags/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RESTAPI</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<!-- BEGIN GRAZIANO issue-12-dnd-template -->
	<servlet-mapping>
		<servlet-name>PreviewDesignTemplateServlet</servlet-name>
		<url-pattern>/servlets/template/design/preview</url-pattern>
	</servlet-mapping>
	<!-- END GRAZIANO issue-12-dnd-template -->	

	<!--END DOTMARKETING SERVLET-MAPPING-->
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN SERVLET-MAPPINGS -->
 <!-- END SERVLET-MAPPINGS -->
	<!-- TEST FRAMEWORK SERVLETS-MAPPING -->
<!--
	<servlet-mapping>
	    <servlet-name>ServletRedirector</servlet-name>
	    <url-pattern>/servlets/ServletRedirector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ServletTestRunner</servlet-name>
	    <url-pattern>/servlets/ServletTestRunner</url-pattern>
	</servlet-mapping>
-->
	<!-- END OF TEST FRAMEWORK SERVLETS-MAPPING -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>vtl</extension>
		<mime-type>text/velocity</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsl</extension>
		<mime-type>application/xml</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
	   <error-code>404</error-code>
	   <location>/portal/404.jsp</location>
	</error-page>
	<error-page>
	   <error-code>401</error-code>
	   <location>/portal/401.jsp</location>
	</error-page>
	<error-page>
	   <error-code>403</error-code>
	   <location>/portal/403.jsp</location>
	</error-page>
	<error-page>
	   <error-code>500</error-code>
	   <location>/portal/500.jsp</location>
	</error-page>
	<error-page>
	   <error-code>503</error-code>
	   <location>/portal/503.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/x-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://displaytag.sourceforge.net</taglib-uri>
			<taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
	<resource-ref>
		<res-ref-name>jdbc/dotCMSPool</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>mail/MailSession</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	 <!-- Prevent access to /dot_secure area.  Here we place files that are too numerous to be stored in WEB-INF, since Tomcat will scan all files in WEB-INF at startup -->
	<security-constraint>
		<display-name>Secure area</display-name>
		<web-resource-collection>
			<web-resource-name>/dotsecure/*</web-resource-name>
			<url-pattern>/dotsecure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
		</auth-constraint>
	</security-constraint>
	<!-- Don't ever delete the following comment tags, it will break the plugin system -->
	<!-- BEGIN SECURITY-CONSTRAINTS -->
    <!-- END SECURITY-CONSTRAINTS -->
</web-app>
