<form [formGroup]="form" class="content-type__form" id="content-type-form" novalidate (keyup.enter)="submitForm()">
    <div class="form__group">
        <span dotMdInputtext [label]="nameFieldLabel | async">
            <input pInputText type="text" id="content-type-form-name" name="name" formControlName="name" tabindex="1" #name dotAutofocus />
        </span>
        <dot-field-validation-message [message]="dotMessageService.get('dot.common.message.field.required', nameFieldLabel | async)" [field]="form.get('name')"></dot-field-validation-message>
    </div>
    <div class="form__group">
        <span dotMdInputtext [label]="dotMessageService.get('contenttypes.form.label.description')">
            <input pInputText type="text" id="content-type-form-description" name="description" formControlName="description" tabindex="2" />
        </span>
    </div>
    <div class="form__group">
        <label for="content-type-form-host" class="form__label">{{ dotMessageService.get('contenttypes.form.field.host_folder.label') }}</label>
        <dot-site-selector-field id="content-type-form-host" formControlName="host" [system]="true" tabindex="3"></dot-site-selector-field>
    </div>
    <div class="form__group">
        <label for="content-type-form-workflow" class="form__label">{{ dotMessageService.get('contenttypes.form.label.workflow') }}</label>
        <dot-workflows-selector-field id="content-type-form-workflow" formControlName="workflow"></dot-workflows-selector-field>
    </div>
    <span id="field-workflow-hint" class="form__group-hint" *ngIf="form.get('workflow').disabled">{{ dotMessageService.get('contenttypes.form.hint.error.only.default.scheme.available.in.Community') }}</span>
    <div class="form__group">
        <div class="ui-g-6">
            <label for="content-type-form-publish-date-field" class="form__label">{{ dotMessageService.get('contenttypes.form.label.publish.date.field') }}</label>
            <p-dropdown appendTo="body" [options]="dateVarOptions" id="content-type-form-publish-date-field" name="publishDateVar" formControlName="publishDateVar" (onChange)="handleDateVarChange($event, 'publishDateVar')" [style]="{'min-width':'90px'}" tabindex="5"></p-dropdown>
        </div>
        <div class="ui-g-6">
            <label for="content-type-form-expire-date-field" class="form__label">{{ dotMessageService.get('contenttypes.form.field.expire.date.field') }}</label>
            <p-dropdown appendTo="body" [options]="dateVarOptions" id="content-type-form-expire-date-field" name="expireDateVar" formControlName="expireDateVar" (onChange)="handleDateVarChange($event, 'expireDateVar')" [style]="{'min-width':'90px'}" tabindex="6"></p-dropdown>
        </div>
    </div>
    <span class="form__group-hint" *ngIf="!dateVarOptions.length" id="field-dates-hint">{{ dotMessageService.get('contenttypes.form.message.no.date.fields.defined') }}</span>
    <div class="form__group" *ngIf="form.get('detailPage')">
        <dot-page-selector id="content-type-form-detail-page" formControlName="detailPage" [floatingLabel]="true" [hostIdentifier]="form.get('host').value" tabindex="7" [style]="{'width': '100%'}" label="{{ dotMessageService.get('contenttypes.form.field.detail.page') }}"></dot-page-selector>
    </div>
    <div class="form__group" *ngIf="form.get('urlMapPattern')">
        <dot-icon-button class="content-type-form-url-pattern" icon="help_outline" (click)="hint.toggle($event)"></dot-icon-button>
        <span dotMdInputtext [label]="dotMessageService.get('contenttypes.form.label.URL.pattern')">
            <input pInputText type="text" id="content-type-form-url-map-pattern" name="urlMapPattern" formControlName="urlMapPattern" tabindex="8" />
        </span>
    </div>
</form>

<p-overlayPanel [dismissable]="true" appendTo="body" #hint [style]="{'width':'350px'}">
    <div [innerHTML]="dotMessageService.get('contenttypes.hint.URL.map.pattern.hint1')"></div>
</p-overlayPanel>
