<div [formGroup]="group" class="field">
    <label dotFieldRequired for="categories">{{ 'categories' | dm }}</label>
    <dot-searchable-dropdown
        (filterChange)="handleFilterChange($event)"
        (pageChange)="handlePageChange($event)"
        [data]="categoriesCurrentPage"
        [formControlName]="property.name"
        [pageLinkSize]="paginationService.maxLinksPage"
        [rows]="paginationService.paginationPerPage"
        [totalRecords]="paginationService.totalRecords"
        id="categories"
        #searchableDropdown
        labelPropertyName="categoryName"
        [placeholder]="placeholder"
        width="100%" />

    <dot-field-validation-message
        [field]="group.controls[property.name]"
        [message]="'contenttypes.field.properties.category.error.required' | dm" />
</div>
