<dot-dialog
    [header]="i18nMessages['my-account']"
    [(visible)]="visible"
    [actions]="dialogActions"
    (hide)="close.emit()"
>

    <div class="error-message" [innerHTML]="message" *ngIf="message" id="dot-my-account-general-error-message"></div>

    <form #myAccountForm="ngForm" class="my-account">
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['First-Name'] }}">
                <input pInputText id="dot-my-account-first-name-input"
                    #firstNameInput="ngModel"
                    name="givenName"
                    [(ngModel)]="accountUser.givenName"
                    (keyup)="message=''"
                    required/>
            </span>
        </div>
        <p class="error-message" id="dot-my-account-first-name-error-message" [hidden]="firstNameInput.valid || firstNameInput.pristine">{{ getRequiredMessage(i18nMessages['First-Name']) }}</p>
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['Last-Name'] }}">
                <input pInputText id="dot-my-account-last-name-input"
                    #lastNameInput="ngModel"
                    name="surname"
                    [(ngModel)]="accountUser.surname"
                    (keyup)="message=''"
                    required/>
            </span>
        </div>
        <p class="error-message" id="dot-my-account-last-name-error-message" [hidden]="lastNameInput.valid || lastNameInput.pristine">{{ getRequiredMessage(i18nMessages['Last-Name']) }}</p>
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['email-address'] }}">
                <input pInputText id="dot-my-account-email-input"
                    #emailInput="ngModel"
                    name="email"
                    [(ngModel)]="accountUser.email"
                    type="email"
                    required
                    (keyup)="message=''"
                    [pattern]="emailRegex"/>
            </span>
        </div>
        <div class="error-message" [hidden]="emailInput.valid || emailInput.pristine">
            <p *ngIf="emailInput.errors && emailInput.errors.required" id="dot-my-account-email-required-error-message">{{ getRequiredMessage(i18nMessages['email-address']) }}</p>
            <p *ngIf="emailInput.errors && emailInput.errors.pattern" id="dot-my-account-email-invalid-error-message">{{ stringFormat.formatMessage(i18nMessages['errors.email'], i18nMessages['email-address']) }}</p>
        </div>
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['current-password'] }}">
                <input pPassword id="dot-my-account-current-password-input"
                    #currentPasswordInput="ngModel"
                    name="password"
                    [feedback]="false"
                    [(ngModel)]="accountUser.currentPassword"
                    type="password"
                    (keyup)="message=''"
                    required/>
            </span>
        </div>
        <div class="form__group">
            <p-checkbox (click)="toggleChangePasswordOption()" binary="true"
                         id="dot-my-account-change-password-option" label="{{ i18nMessages['change-password'] }}">
            </p-checkbox>
        </div>
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['new-password'] }}">
                <input pPassword id="dot-my-account-new-password-input"
                    #passwordInput="ngModel"
                    name="newPassword"
                    [(ngModel)]="accountUser.newPassword"
                    (keyup)="checkPasswords()"
                    type="password"
                    [disabled]="!changePasswordOption"/>
            </span>
        </div>
        <div class="form__group">
            <span dotMdInputtext label="{{ i18nMessages['re-enter-new-password'] }}">
                <input pPassword id="dot-my-account-confirm-new-password-input"
                    #confirmPasswordInput="ngModel"
                    name="confirmPassword"
                    [(ngModel)]="passwordConfirm"
                    (keyup)="checkPasswords()"
                    [feedback]="false"
                    type="password"
                    [disabled]="!changePasswordOption"/>
            </span>
        </div>
        <p class="error-message" [hidden]="!(passwordInput.dirty && confirmPasswordInput.dirty) || passwordMatch">{{ i18nMessages['error.forgot.password.passwords.dont.match'] }}</p>
    </form>
</dot-dialog>
