:host {
  display: block;
  position: relative;

  iframe {
    border: none;
    margin: 0;
    padding: 0;
  }

  .iframe-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}