:host {
  display: block;
  position: relative;
}

:host iframe {
  border: none;
  margin: 0;
  padding: 0;
}

:host .iframe-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
