@use "variables" as *;

.dot-secondary-toolbar__main,
.dot-secondary-toolbar__lower:empty {
    display: none;
}

.dot-secondary-toolbar__main {
    background-color: $white;
    border-bottom: solid 1px $color-palette-gray-300;
    display: flex;
    padding: 0 $spacing-4 0 $spacing-4;
    height: $dot-secondary-toolbar-main-height;
}

.dot-secondary-toolbar__lower {
    display: flex;
    padding: 0 87px 0 $spacing-4;
    flex-wrap: wrap;
    background-color: $white;
    border-bottom: solid 1px $color-palette-gray-300;
    height: 60px;
    align-items: center;
}

::ng-deep {
    .main-toolbar-left,
    .lower-toolbar-left {
        display: flex;
        flex-grow: 1;
    }

    .main-toolbar-right,
    .lower-toolbar-right {
        align-items: center;
        display: flex;
    }

    .lower-toolbar-left,
    .lower-toolbar-right {
        height: $dot-secondary-toolbar-height;
    }

    @media only screen and (max-width: $screen-device-container-max) {
        .lower-toolbar-right {
            flex-flow: row-reverse;
        }
    }

    .toolbar__sep {
        border-left: solid 1px $color-palette-gray-200;
        margin: 0 $spacing-3 0 $spacing-2;
        display: block;
        height: 40px;
    }

    .dot-secondary-toolbar__main.edit-page-variant-mode {
        background-color: $color-palette-primary;

        dot-icon-button {
            button.dot-icon-button {
                background-color: $white;
            }
        }

        .main-toolbar-right {
            h2 {
                margin: 0;
                font-size: $font-size-lg;
            }
        }

        h2 {
            color: $white;
            font-size: $font-size-xxl;
            font-weight: normal;
        }

        .p-button {
            &.p-button-text {
                &:hover .pi {
                    color: $color-palette-primary;
                }

                .pi {
                    color: $white;
                }
            }
        }

        button.p-button-text.p-button-vertical {
            color: $white;
        }

        dot-copy-button,
        dot-api-link {
            a,
            button {
                color: $white;
                border: 1px solid $white;
            }
        }

        i {
            color: $white;
        }
    }
}
