@use "../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/shadows";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";
@use "variables" as *;

:host {
    background: colors.$color-palette-gray-200;
    box-shadow: shadows.$shadow-m;
    display: flex;
    height: 100%;
    padding: spacing.$spacing-4;
}

.dot-apps-configuration__body {
    align-content: flex-start;
    flex-wrap: wrap;
    padding: spacing.$spacing-3;
}

.dot-apps-configuration__action_header {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.$spacing-1;
    justify-content: space-between;
    width: 100%;

    input {
        flex-grow: 1;
    }

    button {
        &:first-child {
            margin-right: spacing.$spacing-1;
        }
    }
}

.dot-apps-configuration__add-configurations {
    margin-top: 10rem;
    text-align: center;
    width: 100%;
}

.dot-apps-configuration__add-configurations-title {
    font-size: fonts.$font-size-xl;
    font-weight: bold;
}

.dot-apps-configuration__add-configurations-description {
    font-size: fonts.$font-size-lmd;
    margin-bottom: spacing.$spacing-9;
    margin-top: spacing.$spacing-4;
}

.dot-apps-configuration__container {
    background-color: colors.$white;
    box-shadow: shadows.$shadow-m;
    overflow-y: auto;
    width: 100%;
    font-size: fonts.$font-size-md;
}
