<div class="dot-apps-configuration__container">
    @if (apps) {
        <dot-apps-configuration-header [app]="apps" />
    }
    <div class="dot-apps-configuration__body">
        <div>
            <div class="dot-apps-configuration__action_header">
                <input
                    [placeholder]="'apps.search.placeholder' | dm"
                    pInputText
                    #searchInput
                    type="text" />
                <div>
                    <button
                        (click)="openExportDialog()"
                        [label]="'apps.confirmation.export.all.button' | dm"
                        [disabled]="!apps.configurationsCount"
                        pButton
                        link
                        icon="pi pi-download"
                        class="dot-apps-configuration__action_export_button"></button>
                    <button
                        (click)="deleteAllConfigurations()"
                        [label]="'apps.confirmation.delete.all.button' | dm"
                        [disabled]="!apps.configurationsCount"
                        pButton
                        link
                        icon="pi pi-trash"></button>
                </div>
            </div>
            <dot-apps-configuration-list
                (loadData)="loadData($event)"
                (edit)="gotoConfiguration($event)"
                (export)="openExportDialog($event)"
                (delete)="deleteConfiguration($event)"
                [siteConfigurations]="apps.sites"
                [hideLoadDataButton]="hideLoadDataButton"
                [itemsPerPage]="paginationPerPage" />
        </div>
    </div>
</div>
