<div [formGroup]="group">
    <label class="form__label">{{ 'categories' | dm }}</label>
    <dot-searchable-dropdown #searchableDropdown
        [data]="categoriesCurrentPage"
        [formControlName]="property.name"
        [pageLinkSize]="paginationService.maxLinksPage"
        [rows]="paginationService.paginationPerPage"
        [totalRecords]="paginationService.totalRecords"
        (filterChange)="handleFilterChange($event)"
        (pageChange)="handlePageChange($event)"
        labelPropertyName="categoryName"
        placeholder="{{ placeholder }}">
    </dot-searchable-dropdown>*

    <dot-field-validation-message
        [field]="group.controls[property.name]"
        [message]="'contenttypes.field.properties.category.error.required' | dm">
    </dot-field-validation-message>
</div>
