<div id="${fieldAux.velocityVarName}Div">
<input type="hidden" name="$fieldAux.velocityVarName" id="$fieldAux.velocityVarName" value="$!fieldDefaultValue">
$render.eval($fieldAux.values)
<a id="customAlert${fieldAux.velocityVarName}" href="#"></a><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
</div>