#*
<input dojoType="dijit.form.TextBox" type="file" id="${fieldAux.velocityVarName}" name="${fieldAux.velocityVarName}" value="Browse" class="imageField" /><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
*#

<input type="file" id="${fieldAux.velocityVarName}" name="${fieldAux.velocityVarName}" value="Browse" class="imageField" /><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>