#*
<input type="text" class="text" name="$fieldAux.velocityVarName" id="$fieldAux.velocityVarName" maxlength="255" class="textField" value="$!fieldDefaultValue" /><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>
*#

<input dojoType="dijit.form.TextBox" class="text" name="$fieldAux.velocityVarName" id="$fieldAux.velocityVarName" maxlength="255" class="textField" value="$!fieldDefaultValue" /><span id="alert${fieldAux.velocityVarName}" class="errorMessages"></span>