@use "variables" as *;

p-fileupload {
    margin-top: $basic-padding;
    display: block;
}

.form__file-detail {
    margin-top: $basic-padding;
    display: flex;
    align-items: center;

    span {
        margin: 0px $basic-padding 0px $basic-padding * 2;
    }
    img {
        border: 1px solid $gray;
        width: 100px;
    }
}
