@import "variables";

p-fileupload {
    margin-top: $basic-padding;
    display: block;
}

.form__file-detail {
    margin-top: $basic-padding;
    span {
        margin-right: $basic-padding;
    }
}
