<dot-action-header [options]="actionHeaderOptions">
    <input
        #gf
        pInputText
        type="text"
        (input)="dataTable.filterGlobal($event.target.value, 'contains')"
        placeholder="{{ 'global-search' | dm }}"
        [(ngModel)]="filter"
        (keydown.arrowdown)="focusFirstRow()"
    />
    <ng-content></ng-content>
</dot-action-header>
<p-table
    #dataTable
    [contextMenu]="cm"
    (onLazyLoad)="loadDataPaginationEvent($event)"
    (onRowSelect)="handleRowCheck()"
    (onRowUnselect)="handleRowCheck()"
    (onHeaderCheckboxToggle)="handleRowCheck()"
    (onContextMenuSelect)="onContextMenuSelect.emit($event.data)"
    [columns]="columns"
    [lazy]="true"
    [loading]="loading"
    loadingIcon="fa fa-circle-o-notch fa-spin"
    [pageLinks]="maxLinksPage"
    [paginator]="true"
    [rows]="paginationPerPage"
    [sortOrder]="sortOrder && sortOrder.toLowerCase() === 'desc' ? -1 : 1"
    [totalRecords]="totalRecords"
    [value]="items"
    [(selection)]="selected"
    [dataKey]="dataKey"
    [selectionMode]="checkbox ? 'multiple' : 'single'"
>
    <ng-template pTemplate="header" let-columns>
        <tr *ngIf="items?.length">
            <th *ngIf="checkbox" style="width: 5%">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <ng-container
                [ngTemplateOutlet]="headerTemplate || defaultHeaderTemplate"
                [ngTemplateOutletContext]="{ columns: columns }"
            ></ng-container>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr
            (click)="handleRowClick(rowData)"
            (keyup.enter)="handleRowClick(rowData)"
            [pSelectableRow]="rowData"
            [pContextMenuRow]="rowData"
        >
            <td *ngIf="checkbox">
                <p-tableCheckbox
                    (click)="$event.stopPropagation()"
                    [value]="rowData"
                ></p-tableCheckbox>
            </td>
            <ng-container
                [ngTemplateOutlet]="rowTemplate || defaultRowTemplate"
                [ngTemplateOutletContext]="{ rowData: rowData }"
            ></ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <ng-content select="dot-empty-state"></ng-content>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>
<ng-template pTemplate="header" let-columns="columns" #defaultHeaderTemplate>
    <th
        *ngFor="let col of columns"
        [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }"
        [pSortableColumn]="col.fieldName"
        [pSortableColumnDisabled]="!col.sortable"
    >
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.fieldName"></p-sortIcon>
    </th>
    <th style="width: 5%"></th>
</ng-template>

<ng-template let-rowData="rowData" #defaultRowTemplate>
    <td *ngFor="let col of columns" [ngStyle]="{ width: col.width, 'text-align': getAlign(col) }">
        <div class="listing-datatable__column-icon" *ngIf="col.icon">
            <dot-icon name="{{ col.icon(rowData) }}"></dot-icon>
            <span>{{ col.textContent || rowData[col.fieldName] }}</span>
        </div>
        <span *ngIf="!col.icon && col.fieldName !== 'nEntries'">
            {{ rowData[col.fieldName] }}
        </span>
        <a
            (click)="$event.stopPropagation()"
            *ngIf="col.fieldName === 'nEntries'"
            [routerLink]="rowData.variable === 'Host' ? '/c/sites' : '/c/content'"
            [queryParams]="rowData.variable === 'Host' ? {} : { filter: rowData.variable }"
        >
            {{
                col.textContent
                    ? (col.textContent | dotStringFormat: [rowData[col.fieldName]])
                    : rowData[col.fieldName]
            }}
        </a>
    </td>
    <td class="listing-datatable__action-column" style="width: 5%">
        <dot-action-menu-button
            class="listing-datatable__action-button"
            [actions]="actions"
            [item]="rowData"
        >
        </dot-action-menu-button>
    </td>
</ng-template>
