@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    p-table {
        flex-grow: 1;
    }

    ::ng-deep {
        .p-datatable,
        .p-table {
            display: flex;
            flex-direction: column;
        }

        .p-datatable-tablewrapper,
        .p-table-wrapper {
            flex-grow: 1;
            background: $white;

            table tbody.p-datatable-data tr,
            table tbody.p-table-tbody tr {
                td {
                    cursor: pointer;

                    span {
                        word-break: break-word;
                    }
                }
            }
        }

        .p-datatable-data,
        .p-table-tbody {
            & > tr > .listing-datatable__action-column {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        .listing-datatable__column-icon {
            display: flex;
            align-items: center;

            dot-icon {
                margin-right: 8px;
            }
        }

        dot-action-header {
            background: $white;
        }
    }
}

p-dataTable {
    display: flex;
    flex-grow: 1;
}
