@if (form) {
    <form
        (ngSubmit)="emitValues()"
        (keyup.enter)="emitValues()"
        [formGroup]="form"
        class="p-fluid"
        novalidate>
        @if (data['assignable']) {
            <div class="field">
                <label for="dotRoles">{{ 'assignee.form.assignee' | dm }}</label>
                <p-dropdown
                    [options]="dotRoles"
                    [style]="{ width: '100%' }"
                    id="dotRoles"
                    formControlName="assign"
                    appendTo="body" />
            </div>
        }
        @if (data['commentable']) {
            <div class="field">
                <label for="comment">{{ 'comment.form.comments' | dm }}</label>
                <textarea
                    (keydown.enter)="$event.stopPropagation()"
                    [style]="{ width: '100%' }"
                    id="comment"
                    pInputTextarea
                    formControlName="comments"></textarea>
            </div>
        }
        @if (data['moveable']) {
            <div class="field">
                <label dotFieldRequired for="move">{{ 'Move' | dm }}</label>
                <dot-page-selector [folderSearch]="true" id="move" formControlName="pathToMove" />
            </div>
        }
    </form>
}
