<form
    class="p-fluid"
    *ngIf="form"
    [formGroup]="form"
    (ngSubmit)="emitValues()"
    (keyup.enter)="emitValues()"
    novalidate
>
    <div class="field" *ngIf="data['assignable']">
        <label for="dotRoles">{{ 'assignee.form.assignee' | dm }}</label>
        <p-dropdown
            id="dotRoles"
            [options]="dotRoles"
            [style]="{ width: '100%' }"
            formControlName="assign"
            appendTo="body"
        >
        </p-dropdown>
    </div>
    <div class="field" *ngIf="data['commentable']">
        <label for="comment">{{ 'comment.form.comments' | dm }}</label>
        <textarea
            id="comment"
            [style]="{ width: '100%' }"
            (keydown.enter)="$event.stopPropagation()"
            pInputTextarea
            formControlName="comments"
        >
        </textarea>
    </div>

    <div class="field" *ngIf="data['moveable']">
        <label dotFieldRequired for="move">{{ 'Move' | dm }}</label>
        <dot-page-selector
            id="move"
            [folderSearch]="true"
            formControlName="pathToMove"
        ></dot-page-selector>
    </div>
</form>
