@if (form) {
    <form
        (ngSubmit)="emitValues()"
        (keyup.enter)="emitValues()"
        [formGroup]="form"
        class="form"
        novalidate>
        @if (data['assignable']) {
            <div class="field">
                <label for="dotRoles">{{ 'assignee.form.assignee' | dm }}</label>
                <p-select
                    [options]="dotRoles"
                    id="dotRoles"
                    formControlName="assign"
                    appendTo="body"></p-select>
            </div>
        }
        @if (data['commentable']) {
            <div class="field">
                <label for="comment">{{ 'comment.form.comments' | dm }}</label>
                <textarea
                    (keydown.enter)="$event.stopPropagation()"
                    id="comment"
                    pInputTextarea
                    formControlName="comments"></textarea>
            </div>
        }
        @if (data['moveable']) {
            <div class="field">
                <label dotFieldRequired for="move">{{ 'Move' | dm }}</label>
                <dot-page-selector
                    [folderSearch]="true"
                    id="move"
                    formControlName="pathToMove"></dot-page-selector>
            </div>
        }
    </form>
}
