<dot-dialog
    [(visible)]="visible"
    [actions]="dialogActions"
    (hide)="hideDialog()"
    [cssClass]="paginatorService.totalRecords > paginatorService.paginationPerPage ? 'paginator' : ''"
    [header]="'editpage.layout.theme.header' | dm">

    <dot-site-selector #siteSelector (change)="siteChange($event)" [archive]="false"></dot-site-selector>
    <div class="dot-theme-search-box">
        <dot-icon class="searchable-dropdown__search-icon" name="search"></dot-icon>
        <input #searchInput pInputText placeholder="{{ 'editpage.layout.theme.search' | dm}}" type="text" class="searchable-dropdown__search-field"
        />
    </div>
    <div class="dot-theme-container">
        <p-dataGrid
            #dataGrid
            [value]="themes | async"
            [paginator]="paginatorService.totalRecords > paginatorService.paginationPerPage"
            [rows]="paginatorService?.paginationPerPage"
            [totalRecords]="paginatorService?.totalRecords"
            [lazy]="true" (onLazyLoad)="paginate($event)"
            [emptyMessage]="'editpage.layout.theme.no.records.found' | dm"
            [alwaysShowPaginator]="false">

            <ng-template let-theme pTemplate="item">
                <div class="dot-theme-item ui-g-3" (click)="selectTheme(theme)" [ngClass]="{'active': theme.inode === current?.inode}">
                    <svg *ngIf="!theme?.themeThumbnail" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M130 121.56V7.5045C130 -0.439943 129.445 0.00450051 121.514 0.00450051H6.19998C-1.73165 0.00450051 0.209671 0.00450039 0.209671 7.5045V121.56C0.209671 129.505 -1.73165 130.005 6.19998 130.005H121.514C129.445 130.005 130 129.505 130 121.56ZM39.8678 75.8378L57.8943 97.5767L83.1313 65.0045L115.579 108.338H14.6308L39.8678 75.8378Z"
                            transform="translate(0.789978 0.995499)" />

                    </svg>
                    <img *ngIf="theme?.themeThumbnail" class="dot-theme-iteme__image" src="/dA/{{theme.themeThumbnail}}/130w/130h/thumbnail.png">
                    <h5 class="dot-theme-item__name">{{ theme.name }}</h5>
                </div>
            </ng-template>
        </p-dataGrid>
    </div>
</dot-dialog>
