@use "variables" as *;
@import "dotcms-theme/utils/theme-variables";

$theme-item-dimension: 240px;

:host ::ng-deep {
    dot-site-selector {
        margin-left: $spacing-2;

        dot-searchable-dropdown .p-button,
        .site-selector__title {
            font-size: $font-size-large;
            min-width: 200px;
        }
    }

    .dialog__content {
        min-width: 77.85rem;
        padding: $spacing-3 $spacing-4 $dialog-padding;
    }

    @media (max-width: 1100px) {
        .dialog__content {
            min-width: calc(100vw - 5vw) !important;
        }
    }

    .p-dataview-emptymessage {
        text-align: center;
        padding-top: $spacing-7 * 2;
    }

    .p-dataview-content {
        min-height: $theme-item-dimension * 2;
        .p-g {
            margin: 0;
        }
    }

    .p-dataview-content .p-widget-content.p-g-12 {
        text-align: center;
        font-size: $font-size-large;
        margin-top: $spacing-7;
    }

    .paginator .dot-theme-container {
        .p-dataView {
            padding-bottom: 56px;
            position: relative;
        }
    }
}

.dot-theme-container {
    margin-top: $spacing-1;
}

.dot-theme-search-box {
    display: inline-block;
    width: 200px;
    margin-left: $spacing-4;
    position: relative;

    input {
        font-size: $font-size-large;
    }

    dot-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
    }
}

.dot-theme-item {
    align-items: center;
    background: $gray-bg;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $theme-item-dimension;
    margin: $spacing-3 $spacing-1 0;
    padding: $spacing-4 $spacing-3;
    transition: background-color $field-animation-speed ease-in;
    width: $theme-item-dimension;

    svg {
        fill: $gray;
        border-radius: 6px;
    }

    &:hover,
    &.active {
        box-shadow: $md-shadow-3;
        background: $white;
    }
}

.dot-theme-iteme__image {
    border-radius: 6px;
}
