<dot-searchable-dropdown
    (change)="containerChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [data]="currentContainers"
    [pageLinkSize]="5"
    [rows]="paginationService.paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    [labelPropertyName]="['name', 'parentPermissionable.hostname']"
    placeholder="{{ 'editpage.container.add.label' | dm }}"
    persistentPlaceholder="true"
    width="172px"
    overlayWidth="300px"
    class="d-secondary"
    [multiple]="multiple"
>
</dot-searchable-dropdown>
