@import "variables";
@import "mixins";

:host {
    display: block;
}

.container-selector__list {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.container-selector__list-item {
    @include naked-list;
    border-top: 1px solid $gray-bg;
    color: $black;
    font-size: $font-size-medium;
    overflow: hidden;
    padding: $basic-padding / 2 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
        border-top: none;
    }
}
