<dot-searchable-dropdown
    (change)="containerChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [data]="currentContainers"
    [pageLinkSize]="5"
    [rows]="paginationService.paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    [labelPropertyName]="['name', 'parentPermissionable.hostname']"
    placeholder="{{ 'editpage.container.add.label' | dm }}"
    persistentPlaceholder="true"
    class="d-secondary"
    [multiple]="multiple"
>
</dot-searchable-dropdown>
<ul class="container-selector__list">
    <li
        *ngFor="let dotContainerColumnBox of data; let i = index"
        class="container-selector__list-item"
    >
        <dot-icon-button icon="delete" (click)="removeContainerItem(i)"></dot-icon-button>
        <span class="container-selector__list-item-text"
            >{{ dotContainerColumnBox.container?.name }} ({{
                dotContainerColumnBox.container?.parentPermissionable.hostname
            }})</span
        >
    </li>
</ul>
