<dot-searchable-dropdown
    (change)="containerChange($event)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [data]="currentContainers"
    [pageLinkSize]="5"
    [rows]="paginationService.paginationPerPage"
    [totalRecords]="paginationService.totalRecords"
    [labelPropertyName]="['name', 'parentPermissionable.hostname']"
    placeholder="{{ 'editpage.container.add.label' | dm }}"
    persistentPlaceholder="true"
    [multiple]="multiple">
</dot-searchable-dropdown>
<ul class="container-selector__list">
    <li *ngFor="let dotContainerColumnBox of data; let i = index" class="container-selector__list-item">
        <button pButton icon="fa fa-trash" type="button" (click)="removeContainerItem(i)"></button>
        {{ dotContainerColumnBox.container?.name }}
    </li>
</ul>
