@import "variables";
@import "mixins";

.container-selector {
    height: 206px;
    border: 1px solid $gray-light;
    background-color: $white;

    .ui-button[iconButton] {

        [class^="ui-button-icon"] {
            color: $body-font-color;
        }
    }
}

.container-selector__header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $basic-padding $basic-padding * 2;
    background-color: $gray-lightest-x;
}

.container-selector__list {
    height: 140px;
    margin: $basic-padding 0;
    overflow-y: scroll;
    padding: 0 $basic-padding;
}

.container-selector__list-item {
    @include naked-list;
    border-top: 1px solid $gray-lighter;
    padding: $basic-padding / 2 0;

    &:first-child {
        border-top: none;
    }
}
