@use "variables" as *;

:host {
    dot-portlet-base {
        overflow: scroll;
    }
    ::ng-deep {
        .action-header__global-search {
            flex-wrap: wrap;
        }
        .link-button {
            color: var(--color-sec);
            :hover {
                color: var(--color-sec);
            }
            :enabled {
                color: var(--color-sec);
            }
        }
        .link-button:enabled:hover {
            color: var(--color-sec);
        }
        .container-listing__header-options,
        .line-break {
            width: 100%;
        }
    }
}

dot-base-type-selector {
    margin-right: $spacing-3;
}
