<dot-portlet-base *ngIf="vm$ | async as vm">
    <dot-listing-data-table
        *ngIf="vm.tableColumns"
        #listing
        [columns]="vm.tableColumns"
        [paginationPerPage]="vm.paginationPerPage"
        url="v1/categories"
        [actions]="[]"
        [checkbox]="true"
        (selectedItems)="updateSelectedCategories($event)"
        dataKey="inode"
    >
        <div class="categories-listing__header-options">
            <div class="categories-listing__filter-controls ml-2">
                <div>
                    <button
                        type="button"
                        class="p-button-secondary p-button mr-2"
                        pButton
                        (click)="clearState()"
                        [label]="'CLEAR' | dm"
                    ></button>
                    <button
                        type="button"
                        pButton
                        class="p-button-secondary p-button"
                        icon="pi pi-ellipsis-v"
                        [label]="'Actions' | dm"
                        (click)="actionsMenu.toggle($event)"
                        attr.data-testid="bulkActions"
                    ></button>
                    <p-menu
                        #actionsMenu
                        [popup]="true"
                        [model]="vm.categoriesBulkActions"
                        appendTo="body"
                    ></p-menu>
                </div>
            </div>
        </div>
        <div class="line-break"></div>
        <div class="p-2 pt-4">
            <p-breadcrumb
                [home]="vm.breadCrumbStarterIcon"
                [model]="vm.categoryBreadCrumb"
            ></p-breadcrumb>
        </div>
        <dot-empty-state
            [rows]="10"
            [colsTextWidth]="[60, 50, 60, 80]"
            icon="web"
            [title]="'message.categories.empty.title' | dm"
            [content]="'message.categories.empty.content' | dm"
            [buttonLabel]="'message.categories.empty.button.label' | dm"
        >
        </dot-empty-state>

        <ng-template #beforeSearchTemplate>
            <dot-base-type-selector></dot-base-type-selector>
        </ng-template>

        <ng-template #rowTemplate let-rowData="rowData" *ngIf="vm.tableColumns as tableColumns">
            <td
                [ngStyle]="{
                    'text-align': tableColumns[0].textAlign,
                    width: tableColumns[0].width
                }"
            >
                {{ rowData.categoryName }}
            </td>
            <td
                [ngStyle]="{
                    'text-align': tableColumns[1].textAlign,
                    width: tableColumns[1].width
                }"
            >
                {{ rowData.key }}
            </td>
            <td
                [ngStyle]="{
                    'text-align': tableColumns[2].textAlign,
                    width: tableColumns[2].width
                }"
            >
                {{ rowData.variable }}
            </td>
            <td
                [ngStyle]="{
                    'text-align': tableColumns[3].textAlign,
                    width: tableColumns[3].width
                }"
            >
                <p-inputNumber [(ngModel)]="rowData.sortOrder"></p-inputNumber>
            </td>
        </ng-template>
    </dot-listing-data-table>
</dot-portlet-base>
