@if (vm$ | async; as vm) {
    <div>
        @if (!vm.isPortletLoading) {
            <div class="flex flex-col gap-4">
                <dot-page-favorites-panel
                    (goToUrl)="goToUrl($event)"
                    [favoritePages]="dotCMSPagesStore.favoritePages()"
                    (showContextMenu)="showContextMenu($event)" />
                <p-menu
                    (onHide)="closedActionsMenu($event)"
                    [popup]="true"
                    [model]="vm.pages.menuActions"
                    #menu />
                <dot-pages-table
                    [pages]="dotCMSPagesStore.pages()"
                    [languages]="globalStore.systemConfig().languages"
                    [totalRecords]="dotCMSPagesStore.$totalRecords()"
                    (goToUrl)="goToUrl($event)"
                    (showContextMenu)="showContextMenu($event)"
                    (pageChange)="scrollToTop()"
                    (createPage)="dialogVisible.set(true)"
                    (search)="onSearch($event)"
                    (languageChange)="onLanguageChange($event)"
                    (archivedChange)="onArchivedChange($event)"
                    (lazyLoad)="onLazyLoad($event)"
                    data-testId="pages-listing-panel" />
                @if (vm.pages.addToBundleCTId) {
                    <dot-add-to-bundle
                        (cancel)="vm.pages.addToBundleCTId = null"
                        [assetIdentifier]="vm.pages.addToBundleCTId" />
                }
            </div>
        } @else {
            <div class="dot-pages__spinner-container">
                <div class="dot-pages__spinner-container dot-pages__spinner-overlay">
                    <p-progressSpinner styleClass="p-progress-spinner-custom" />
                </div>
            </div>
        }
    </div>
}

<dot-create-page-dialog
    [visibility]="dialogVisible()"
    (visibilityChange)="dialogVisible.set($event)" />

<router-outlet (deactivate)="loadPagesOnDeactivation()" />
