<div class="dot-pages__container" *ngIf="vm$ | async as vm">
    <dot-pages-favorite-panel
        (goToUrl)="goToUrl($event)"
        (showActionsMenu)="showActionsMenu($event)"
    ></dot-pages-favorite-panel>

    <p-menu
        #menu
        [popup]="true"
        [model]="vm.pages.menuActions"
        (onHide)="closedActionsMenu($event)"
    ></p-menu>

    <dot-pages-listing-panel
        (goToUrl)="goToUrl($event)"
        (showActionsMenu)="showActionsMenu($event)"
    ></dot-pages-listing-panel>

    <dot-add-to-bundle
        *ngIf="vm.pages.addToBundleCTId"
        [assetIdentifier]="vm.pages.addToBundleCTId"
        (cancel)="vm.pages.addToBundleCTId = null"
    ></dot-add-to-bundle>
</div>

<router-outlet></router-outlet>
