<div class="dot-pages__container" *ngIf="vm$ | async as vm">
    <p-panel
        [ngClass]="{
            'dot-pages-panel__expanded': vm.favoritePages.total === vm.favoritePages.items.length,
            'dot-pages-panel__hide-panel-actions': !vm.favoritePages.showLoadMoreButton,
            'dot-pages-panel__empty-state': vm.favoritePages?.items?.length === 0
        }"
        [toggleable]="true"
        [header]="'favorites' | dm"
        iconPos="start"
        expandIcon="pi pi-angle-down"
        collapseIcon="pi pi-angle-up"
    >
        <ng-template *ngIf="vm.favoritePages.showLoadMoreButton" pTemplate="icons">
            <button
                class="p-button-secondary dot-pages-panel-action__button"
                [label]="
                    vm.favoritePages.total > vm.favoritePages.items.length
                        ? ('see.all' | dm)
                        : ('see.less' | dm)
                "
                (click)="
                    toggleFavoritePagesData(
                        vm.favoritePages.total === vm.favoritePages.items.length,
                        vm.favoritePages.total
                    )
                "
                pButton
                type="button"
                data-testid="seeAllBtn"
            ></button>
        </ng-template>

        <ng-template [ngIf]="vm.favoritePages?.items?.length !== 0" [ngIfElse]="emptyState">
            <dot-pages-card
                *ngFor="let item of vm.favoritePages.items; let i = index"
                [actionButtonId]="'favoritePageActionButton-' + i"
                [imageUri]="item.screenshot + '?' + timeStamp"
                [title]="item.title"
                [url]="item.url"
                [ownerPage]="item.owner === vm.loggedUser.id"
                (edit)="editFavoritePage(item)"
                (goTo)="goToUrl(item.url)"
                (showActionMenu)="showActionsMenu($event, 'favoritePageActionButton-' + i, item)"
            ></dot-pages-card>
        </ng-template>

        <ng-template #emptyState>
            <dot-pages-card-empty *ngFor="let item of [1, 2, 3, 4, 5]"></dot-pages-card-empty>

            <div class="dot-pages-empty__container">
                <dot-icon name="library_add" size="40"></dot-icon>
                <div class="dot-pages-empty__header">
                    {{ 'favoritePage.listing.empty.header' | dm }}
                </div>
                <p>
                    {{ 'favoritePage.listing.empty.content' | dm }}
                </p>
            </div>
        </ng-template>
    </p-panel>
    <div>{{ vm.pages.addToBundleCTId | json }}</div>
    <p-menu
        #menu
        [popup]="true"
        [model]="vm.pages.menuActions"
        (onHide)="closedActionsMenu($event)"
    ></p-menu>
    <p-table
        [value]="vm.pages.items"
        [scrollable]="true"
        [virtualScroll]="true"
        [virtualScrollItemSize]="26"
        [lazy]="true"
        (onLazyLoad)="loadPagesLazy($event)"
        (onRowSelect)="onRowSelect($event)"
        selectionMode="single"
        scrollHeight="600px"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between dot-pages-listing-header">
                <div class="dot-pages-listing-header__inputs">
                    <input
                        [placeholder]="'Type-To-Search' | dm"
                        (input)="filterData($event.target.value)"
                        type="text"
                        pInputText
                        dotAutofocus
                    />
                    <p-dropdown
                        [options]="vm.languageOptions"
                        (onChange)="setPagesLanguage($event.value)"
                    ></p-dropdown>
                    <p-checkbox
                        [binary]="true"
                        [label]="'Show-Archived' | dm"
                        (onChange)="setPagesArchived($event.checked)"
                    ></p-checkbox>
                </div>
                <button
                    class="p-button-primary"
                    [label]="'create.page' | dm"
                    routerLink="/c/content/new/htmlpageasset"
                    data-testid="createPageButton"
                    pButton
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="title" style="width: 25%">
                    {{ 'title' | dm }}<p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="urlMap" style="width: 20%">
                    {{ 'url' | dm }}<p-sortIcon field="urlMap"></p-sortIcon>
                </th>
                <th pSortableColumn="contentType" style="width: 12%">
                    {{ 'type' | dm }}<p-sortIcon field="contentType"></p-sortIcon>
                </th>
                <th pSortableColumn="languageId" style="text-align: center; width: 12%">
                    {{ 'status' | dm }}<p-sortIcon field="languageId"></p-sortIcon>
                </th>
                <th style="width: 13%">
                    {{ 'Last-Editor' | dm }}
                </th>
                <th pSortableColumn="modDate" style="width: 13%">
                    {{ 'last.edited' | dm }}<p-sortIcon field="modDate"></p-sortIcon>
                </th>
                <th style="width: 5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" style="height: 26px">
                <td>
                    {{ rowData['title'] }}
                </td>
                <td [pTooltip]="rowData['urlMap'] || rowData['url']" tooltipPosition="bottom">
                    {{ rowData['urlMap'] || rowData['url'] }}
                </td>
                <td>
                    {{ rowData['contentType'] }}
                </td>
                <td>
                    <div class="dot-pages-table__status-field">
                        <dot-state-icon
                            [labels]="dotStateLabels"
                            [state]="rowData"
                            size="14px"
                        ></dot-state-icon>
                        <dot-badge bordered="{true}">{{
                            vm.languageLabels[rowData['languageId']]
                        }}</dot-badge>
                        <dot-contentlet-lock-icon
                            locked="{{ rowData['locked'] }}"
                        ></dot-contentlet-lock-icon>
                    </div>
                </td>
                <td>
                    {{ rowData['modUserName'] }}
                </td>
                <td>
                    {{ rowData['modDate'] }}
                </td>
                <td>
                    <dot-icon-button
                        id="pageActionButton-{{ rowIndex }}"
                        (click)="showActionsMenu($event, 'pageActionButton-' + rowIndex, rowData)"
                        icon="more_vert"
                        size="32"
                    ></dot-icon-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr style="height: 26px">
                <td><p-skeleton [ngStyle]="{ width: '25%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '20%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '12%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '12%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '13%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '13%' }"></p-skeleton></td>
                <td><p-skeleton [ngStyle]="{ width: '5%' }"></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>

    <dot-add-to-bundle
        *ngIf="vm.pages.addToBundleCTId"
        [assetIdentifier]="vm.pages.addToBundleCTId"
        (cancel)="vm.pages.addToBundleCTId = null"
    ></dot-add-to-bundle>
</div>
<router-outlet></router-outlet>
