@use "variables" as *;

:host {
    display: flex;
    min-width: 940px;
    height: 100%;
}

.dot-pages__container {
    background-color: $white;
    box-shadow: $md-shadow-4;
    overflow-y: auto;
    padding: $spacing-4 $spacing-5 0;
    width: 100%;
}
