@if (vm$ | async; as vm) {
    <p-contextMenu
        (onHide)="closedActionsContextMenu()"
        [model]="vm.pages.menuActions"
        #cm></p-contextMenu>
    <p-table
        (onLazyLoad)="loadPagesLazy($event)"
        (onRowSelect)="onRowSelect($event)"
        (onPage)="pageChange.emit()"
        [contextMenu]="cm"
        [value]="vm.pages.items"
        [totalRecords]="vm.pages.total"
        [loading]="vm.isPagesLoading"
        [lazy]="true"
        [paginator]="true"
        [rows]="40"
        [sortOrder]="-1"
        [showPageLinks]="false"
        [showCurrentPageReport]="true"
        [showFirstLastIcon]="false"
        #table
        selectionMode="single"
        sortField="modDate">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between dot-pages-listing-header">
                <div class="dot-pages-listing-header__inputs">
                    <div class="p-input-icon-right">
                        <input
                            [placeholder]="'Type-To-Search' | dm"
                            [value]="vm.keywordValue"
                            class="dot-pages-listing-header__filter-input"
                            #input
                            (input)="filterData(input.value)"
                            data-testid="dot-pages-listing-header__keyword-input"
                            type="text"
                            pInputText
                            dotAutofocus />
                        @if (input.value.length) {
                            <i
                                (click)="filterData('')"
                                class="pi pi-times"
                                data-testid="dot-pages-listing-header__keyword-input-clear"
                                role="button"></i>
                        }
                    </div>
                    <p-dropdown
                        (onChange)="setPagesLanguage($event.value)"
                        [(ngModel)]="vm.languageIdValue"
                        [options]="vm.languageOptions"
                        class="dot-pages-listing-header__language-input"></p-dropdown>
                    <p-checkbox
                        (onChange)="setPagesArchived($event.checked)"
                        [(ngModel)]="vm.showArchivedValue"
                        [binary]="true"
                        [label]="'Show-Archived' | dm"></p-checkbox>
                </div>
                <button
                    (click)="store.getPageTypes()"
                    [label]="'create.page' | dm"
                    class="p-button-primary"
                    data-testid="createPageButton"
                    pButton></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            @if (vm.pages.items.length !== 0) {
                <tr>
                    <th pSortableColumn="title" style="width: 25%">
                        {{ 'title' | dm }}
                        <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th pSortableColumn="urlMap" style="width: 20%">
                        {{ 'url' | dm }}
                        <p-sortIcon field="urlMap"></p-sortIcon>
                    </th>
                    <th pSortableColumn="contentType" style="width: 12%">
                        {{ 'type' | dm }}
                        <p-sortIcon field="contentType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="languageId" style="width: 12%">
                        {{ 'status' | dm }}
                        <p-sortIcon field="languageId"></p-sortIcon>
                    </th>
                    <th style="width: 12%">
                        {{ 'Last-Editor' | dm }}
                    </th>
                    <th pSortableColumn="modDate" style="width: 14%">
                        {{ 'Last-Edited' | dm }}
                        <p-sortIcon field="modDate"></p-sortIcon>
                    </th>
                    <th style="width: 5%"></th>
                </tr>
            }
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr
                (contextmenu)="
                    showActionsContextMenu({
                        event: $event,
                        actionMenuDomId: 'tableRow-' + rowIndex,
                        item: rowData
                    })
                "
                [pSelectableRow]="rowData"
                id="tableRow-{{ rowIndex }}"
                pContextMenuRow>
                <td>{{ rowData['title'] }}</td>
                <td [pTooltip]="rowData['urlMap'] || rowData['url']" tooltipPosition="bottom">
                    {{ rowData['urlMap'] || rowData['url'] }}
                </td>
                <td>
                    {{ rowData['contentType'] }}
                </td>
                <td>
                    <div class="dot-pages-table__status-field">
                        <dot-state-icon
                            [labels]="dotStateLabels"
                            [state]="rowData"
                            size="14px"></dot-state-icon>
                        <dot-badge bordered="{true}">
                            {{ vm.languageLabels[rowData['languageId']] }}
                        </dot-badge>
                        <dot-contentlet-lock-icon
                            locked="{{ rowData['locked'] }}"></dot-contentlet-lock-icon>
                    </div>
                </td>
                <td>
                    {{ rowData['modUserName'] }}
                </td>
                <td>{{ rowData['modDate'] | dotRelativeDate }}</td>
                <td>
                    <p-button
                        (click)="
                            showActionsMenu.emit({
                                event: $event,
                                actionMenuDomId: 'pageActionButton-' + rowIndex,
                                item: rowData
                            })
                        "
                        id="pageActionButton-{{ rowIndex }}"
                        icon="pi pi-ellipsis-v"
                        styleClass="p-button-rounded p-button-sm p-button-text"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="7" class="dot-pages-listing__empty-content">
                    {{ 'favoritePage.listing.empty.table' | dm }}
                </td>
            </tr>
        </ng-template>
    </p-table>
}
