@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    margin-bottom: spacing.$spacing-4;

    ::ng-deep {
        .p-datatable .p-datatable-tbody tr td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 0;
            padding: 0 spacing.$spacing-2;

            &:last-child {
                padding-right: spacing.$spacing-2;
                text-align: right;
                text-overflow: unset;
            }
        }

        .p-datatable .p-datatable-header {
            background-color: colors.$color-palette-gray-200;
            padding: spacing.$spacing-3;
        }

        .dot-pages-listing-header__language-input .p-dropdown-label.p-inputtext {
            min-width: 115px;
        }

        .p-datatable .p-datatable-tbody tr td.dot-pages-listing__empty-content {
            text-align: center;
        }

        .p-autocomplete-loader {
            margin-right: spacing.$spacing-5;
        }
    }
}

.dot-pages-listing-header__inputs {
    display: flex;
    align-items: center;

    p-dropdown,
    p-checkbox {
        font-weight: fonts.$font-weight-regular-bold;
        margin-left: spacing.$spacing-3;
    }
}

.dot-pages-listing-header__filter-input {
    width: 250px;
}

.dot-pages-table__status-field {
    align-items: center;
    display: flex;

    dot-badge,
    dot-contentlet-lock-icon {
        margin-left: spacing.$spacing-1;
    }
}

.pi.pi-times {
    cursor: pointer;
}
