@if (vm$ | async; as vm) {
    <p-table
        (onLazyLoad)="loadPagesLazy($event)"
        (onRowSelect)="onRowSelect($event)"
        (onPage)="pageChange.emit()"
        [contextMenu]="cm"
        [value]="vm.pages.items"
        [totalRecords]="vm.pages.total"
        [loading]="vm.isPagesLoading"
        [lazy]="true"
        [paginator]="true"
        [rows]="40"
        [sortOrder]="-1"
        [showPageLinks]="false"
        [showCurrentPageReport]="true"
        [showFirstLastIcon]="false"
        #table
        selectionMode="single"
        sortField="modDate">
        <ng-template #caption>
            <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex flex-wrap items-center gap-4 min-w-0">
                    <div class="p-input-icon-right w-64 min-w-0">
                        <input
                            #input
                            [placeholder]="'Type-To-Search' | dm"
                            [value]="vm.keywordValue"
                            class="w-full"
                            (input)="filterData(input.value)"
                            data-testid="dot-pages-listing-header__keyword-input"
                            type="text"
                            pInputText
                            dotAutofocus />
                        @if (input.value.length) {
                            <i
                                (click)="filterData('')"
                                class="pi pi-times"
                                data-testid="dot-pages-listing-header__keyword-input-clear"
                                role="button"></i>
                        }
                    </div>
                    <p-select
                        (onChange)="setPagesLanguage($event.value)"
                        [(ngModel)]="vm.languageIdValue"
                        [options]="vm.languageOptions"
                        class="w-56" />
                    <div class="flex items-center gap-2 whitespace-nowrap">
                        <p-checkbox
                            (onChange)="setPagesArchived($event.checked)"
                            [(ngModel)]="vm.showArchivedValue"
                            [inputId]="'show-archived'"
                            [binary]="true" />
                        <label [for]="'show-archived'">
                            {{ 'Show-Archived' | dm }}
                        </label>
                    </div>
                </div>
                <p-button
                    (click)="store.getPageTypes()"
                    [label]="'create.page' | dm"
                    data-testid="createPageButton"
                    styleClass="p-button-sm shrink-0" />
            </div>
        </ng-template>
        <ng-template #header>
            @if (vm.pages.items.length !== 0) {
                <tr>
                    <th pSortableColumn="title" style="width: 25%">
                        {{ 'title' | dm }}
                        <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th pSortableColumn="urlMap" style="width: 20%">
                        {{ 'url' | dm }}
                        <p-sortIcon field="urlMap"></p-sortIcon>
                    </th>
                    <th pSortableColumn="contentType" style="width: 12%">
                        {{ 'type' | dm }}
                        <p-sortIcon field="contentType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="languageId" style="width: 12%">
                        {{ 'status' | dm }}
                        <p-sortIcon field="languageId"></p-sortIcon>
                    </th>
                    <th style="width: 12%">
                        {{ 'Last-Editor' | dm }}
                    </th>
                    <th pSortableColumn="modDate" style="width: 14%">
                        {{ 'Last-Edited' | dm }}
                        <p-sortIcon field="modDate"></p-sortIcon>
                    </th>
                    <th style="width: 5%"></th>
                </tr>
            }
        </ng-template>
        <ng-template #body let-rowData let-rowIndex="rowIndex">
            <tr [id]="'tableRow-' + rowIndex" [pSelectableRow]="rowData" pContextMenuRow>
                <td>{{ rowData['title'] }}</td>
                <td [pTooltip]="rowData['urlMap'] || rowData['url']" tooltipPosition="bottom">
                    {{ rowData['urlMap'] || rowData['url'] }}
                </td>
                <td>
                    {{ rowData['contentType'] }}
                </td>
                <td>
                    <div class="flex items-center gap-2 whitespace-nowrap">
                        <dot-state-icon [labels]="dotStateLabels" [state]="rowData" size="14px" />
                        <dot-badge [bordered]="true">
                            {{ vm.languageLabels[rowData['languageId']] }}
                        </dot-badge>
                        <dot-contentlet-lock-icon [locked]="rowData['locked']" />
                    </div>
                </td>
                <td>
                    {{ rowData['modUserName'] }}
                </td>
                <td>{{ rowData['modDate'] | dotRelativeDate }}</td>
                <td>
                    <p-button
                        (click)="
                            showActionsMenu.emit({
                                event: $event,
                                actionMenuDomId: 'pageActionButton-' + rowIndex,
                                item: rowData
                            })
                        "
                        id="pageActionButton-{{ rowIndex }}"
                        icon="pi pi-ellipsis-v"
                        styleClass="p-button-rounded p-button-sm p-button-text" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td [attr.colspan]="7">
                    {{ 'favoritePage.listing.empty.table' | dm }}
                </td>
            </tr>
        </ng-template>
    </p-table>
}

<!-- <p-contextMenu
(onHide)="closedActionsContextMenu()"
[model]="vm?.pages?.menuActions"
#cm /> -->
