@if (!editing) {
    <div class="field relationship__type">
        <div class="flex items-center">
            <p-radioButton
                (click)="clean()"
                [(ngModel)]="status"
                [inputId]="'relationship-new'"
                [value]="STATUS_NEW" />
            <label [for]="'relationship-new'">
                {{ 'contenttypes.field.properties.relationship.new.label' | dm }}
            </label>
        </div>
        <div class="flex items-center">
            <p-radioButton
                (click)="clean()"
                [(ngModel)]="status"
                [inputId]="'relationship-existing'"
                [value]="STATUS_EXISTING" />
            <label [for]="'relationship-existing'">
                {{ 'contenttypes.field.properties.relationship.existing.label' | dm }}
            </label>
        </div>
    </div>
}

<div class="relationship__config">
    @if (status === STATUS_NEW) {
        <dot-new-relationships
            (switch)="handleChange($event)"
            [velocityVar]="group.get(property.name).value.velocityVar"
            [cardinality]="group.get(property.name).value.cardinality"
            [editing]="editing"
            class="relationships__new" />
    } @else {
        <div class="field">
            <label [for]="property.name" [checkIsRequiredControl]="property.name" dotFieldRequired>
                Relationship
            </label>
            <dot-edit-relationships
                (switch)="handleChange($event)"
                [id]="property.name"
                class="relationships__existing" />
        </div>
    }

    <dot-field-validation-message
        [message]="getValidationErrorMessage()"
        [field]="group.controls[property.name]" />
</div>
