<div class="field relationship__type" *ngIf="!editing">
    <p-radioButton
        [(ngModel)]="status"
        [label]="'contenttypes.field.properties.relationship.new.label' | dm"
        [value]="STATUS_NEW"
        (click)="clean()"
    >
    </p-radioButton>

    <p-radioButton
        [(ngModel)]="status"
        [label]="'contenttypes.field.properties.relationship.existing.label' | dm"
        [value]="STATUS_EXISTING"
        (click)="clean()"
    >
    </p-radioButton>
</div>

<div class="relationship__config">
    <dot-new-relationships
        class="relationships__new"
        *ngIf="status === STATUS_NEW; else existing"
        [velocityVar]="group.get(property.name).value.velocityVar"
        [cardinality]="group.get(property.name).value.cardinality"
        [editing]="editing"
        (switch)="handleChange($event)"
    >
    </dot-new-relationships>

    <ng-template #existing>
        <div class="field">
            <label class="form__label" for="">Relationship</label>
            <dot-edit-relationships class="relationships__existing" (switch)="handleChange($event)">
            </dot-edit-relationships>
        </div>
    </ng-template>

    <dot-field-validation-message
        [message]="getValidationErrorMessage()"
        [field]="group.controls[property.name]"
    >
    </dot-field-validation-message>
</div>
