@use "variables" as *;

p {
    margin: $spacing-0;
}

.detail {
    gap: $spacing-1;

    &__title {
        margin: $spacing-0;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
    }

    &__headers {
        padding: $spacing-1 $spacing-3;
        gap: $spacing-3;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        color: $color-palette-gray-600;
        background-color: $color-palette-gray-100;
        border-radius: $border-radius-sm;
    }

    &__conditions {
        background-color: $color-palette-gray-100;
        border-radius: $border-radius-sm;
        font-weight: $font-weight-bold;
    }

    &__condition-row {
        padding: $spacing-1 $spacing-3;
        gap: $spacing-3;
        font-weight: $font-weight-regular-bold;
    }
}
