@use "variables" as *;

:host {
    ::ng-deep {
        .p-toast-message-content {
            display: flex;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: $font-size-lmd;
                font-weight: bold;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                margin: 0;
            }
        }

        .p-toast.p-component {
            z-index: 1100;
        }
    }

    dot-icon {
        margin-right: $spacing-1;

        &.info {
            color: $info;
        }

        &.error {
            color: $error;
        }

        &.warning {
            color: $warn;
        }

        &.success {
            color: $success;
        }

        ::ng-deep i {
            font-size: $font-size-xxxl;
        }
    }
}
