<div (drop)="handleDrop($event, p-column)" (dragover)="handleDragOver($event)">
    <p-dataTable [value]="treeables" selectionMode="single"
                 (onRowDblclick)="doubleClick($event)" (onRowSelect)="selectTreeable($event)">
        <p-column class="browser-dropzone" field="title" header="Name" [sortable]="true">
            <template let-col let-treeable="rowData" pTemplate type="body">
                <span [ngSwitch]="treeable.type">
                    <span *ngSwitchCase="'folder'" class="{{treeable.type=='folder' ? 'fa fa-folder aria-hidden=true':''}}"></span>
                    <span *ngSwitchCase="'file_asset'">
                        <img *ngIf="treeable.isImage() && treeable.extension!='ico'" src="{{dotCMSURL}}/contentAsset/image/{{treeable.identifier}}/fileAsset/filter/Thumbnail/thumbnail_w/25/thumbnail_h/25">
                        <span *ngIf="!treeable.isImage() || treeable.extension=='ico'" class="fa fa-file" aria-hidden="true"></span>
                    </span>
                </span>
                <span>{{treeable.title}}</span>
            </template>
        </p-column>
        <p-column field="type" header="Type" [sortable]="true" [style]="{'width':'100px'}">
            <template let-col let-treeable="rowData" pTemplate type="body">
                <span>{{treeable.displayType}}</span>
            </template>
        </p-column>
        <p-column field="live" header="Status" [style]="{'width':'70px'}">
            <template let-col let-treeable="rowData" pTemplate type="body">
                <div *ngIf="treeable.type=='file_asset'">
                    <span *ngIf="treeable.live" class="liveIcon"></span>
                    <span *ngIf="!treeable.live" class="workingIcon"></span>
                </div>
            </template>
        </p-column>
        <p-column field="modUserName" header="Editor" [sortable]="true" [style]="{'width':'150px'}"></p-column>
        <p-column field="modDate" header="Modified" [sortable]="true" [style]="{'width':'200px'}">
            <template let-col let-treeable="rowData" pTemplate type="body">
                <span>{{treeable.modDate | date: 'MM/dd/yy hh:mm:ss a'}}</span>
            </template>
        </p-column>

    </p-dataTable>
</div>
