<div *ngIf="!editing">    
    <p-radioButton [label]="i18nMessages['contenttypes.field.properties.relationship.new.label']"
                value="STATUS.NEW"
                [(ngModel)]="status"
                (click)="clean()">
    </p-radioButton>

    <p-radioButton [label]="i18nMessages['contenttypes.field.properties.relationship.existing.label']"
                value="STATUS.EXISTING" 
                [(ngModel)]="status"
                (click)="clean()">
    </p-radioButton>
</div>

<dot-new-relationships *ngIf="isNew();else existing"
                        [velocityVar]="group.get(property.name).value.velocityVar"
                        [cardinalityIndex]="group.get(property.name).value.cardinalityIndex"
                        [editing]="editing"
                        (change)="handleChange($event)">
</dot-new-relationships>

<ng-template #existing>
    <dot-edit-relationships (change)="handleChange($event)">
    </dot-edit-relationships>
</ng-template>

<dot-field-validation-message
    [message]="getValidationMessage()"
    [field]="group.controls[property.name]">
</dot-field-validation-message>
 