<div class="panel panel-default clause">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <select class="form-control clause-selector" [value]="actionModel.actionConfig?.actionTypeId"
                (change)="setActionlet($event.target.value)">
          <option value="{{actionTypeModel.id}}" *ng-for="var actionTypeModel of actionTypes">{{actionTypeModel.name}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <h4 class="separator"></h4>
      </div>

      <cw-set-session-value-action class="col-sm-7"
                                      [session-key]="actionModel.actionConfig?.sessionKey"
                                      [session-value]="actionModel.actionConfig?.sessionValue"
                                      (change)="actionConfigChanged($event)">

      </cw-set-session-value-action>

      <div class="col-sm-1">
        <div class="operations">
          <button type="button" class="btn btn-default btn-md btn-danger" aria-label="Delete Action"
                  (click)="removeRuleAction()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="removeRuleAction()"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>