    <div class="row">
      <div class="col-sm-12">
        <p *ng-if="groupIndex !== 0" class="alert alert-info">
          Or when the following condition(s) are met?
        </p>
      </div>
    </div>
  <div class="panel-body">
    <rule-condition *ng-for="var meta of conditions; var i=index" [condition-meta]="meta" [index]="i"> </rule-condition>
    <button type="button" class="btn btn-default btn-md" aria-label="Add Condition" (click)="addCondition()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addCondition()"></span>
    </button>
  </div>