<div class="panel panel-default rule">
  <div class="panel-heading" (click)="collapsed = !collapsed">
    <div class="container">
      <div class="row" (click)="collapsed = !collapsed">
        <div class="col-xs-1 collapse-icon">
          <span class="glyphicon glyphicon-triangle-right collapse-icon" [class.glyphicon-triangle-bottom]="!collapsed" aria-hidden="true" (click)="collapsed = !collapsed"></span>
        </div>
        <div class="col-xs-5">
          <input type="text" class="form-control  rule-title"
          placeholder="Describe the rule"
          [value]="rule.name"
          (change)="setRuleName($event.target.value)"
          (focus)="collapsed = false">
        </div>

        <div class="col-xs-3">
          <div class="operations rule-operations">
            <label>Fire on:</label>

            <div class="btn-group">
              <button type="button" class="btn btn-default" (click)="fireOnDropDownExpanded = !fireOnDropDownExpanded">{{fireOnLabel(rule.fireOn)}}</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" (click)="fireOnDropDownExpanded = !fireOnDropDownExpanded">
                <span class="caret" (click)="fireOnDropDownExpanded = !fireOnDropDownExpanded"></span>
                <span class="sr-only" (click)="fireOnDropDownExpanded = !fireOnDropDownExpanded">Toggle Drop Down</span>
              </button>
              <ul class="dropdown-menu collapse" role="menu" [class.in]="fireOnDropDownExpanded">
                <li (click)="setFireOn('EVERY_PAGE')"><a href="#" (click)="setFireOn('EVERY_PAGE')">{{fireOnLabel('EVERY_PAGE')}}</a></li>
                <li (click)="setFireOn('ONCE_PER_VISIT')"><a href="#" (click)="setFireOn('ONCE_PER_VISIT')">{{fireOnLabel('ONCE_PER_VISIT')}}</a></li>
                <li (click)="setFireOn('ONCE_PER_VISITOR')"><a href="#" (click)="setFireOn('ONCE_PER_VISITOR')">{{fireOnLabel('ONCE_PER_VISITOR')}}</a></li>
                <li (click)="setFireOn('EVERY_REQUEST')"><a href="#" (click)="setFireOn('EVERY_REQUEST')">{{fireOnLabel('EVERY_REQUEST')}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="operations">
          <button type="button" class="btn btn-default btn-md" [class.btn-danger]="rule.enabled" aria-label="Enable/Disable Rule"
          (click)="toggleEnabled()">
          <span class="glyphicon glyphicon-off" (click)="toggleEnabled()"></span>
        </button>
        <button type="button" class="btn btn-default btn-md" aria-label="Delete Rule"
        (click)="removeRule()">
        <span class="glyphicon glyphicon-trash" (click)="removeRule()"></span>
      </button>
      <button type="button" class="btn btn-default btn-md" arial-label="Add Group" (click)="addGroup()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addGroup()"></span>
      </button>
    </div>
    </div>
  </div>
</div>
</div>
<div class="panel-body collapse" [class.in]="!collapsed">
  <div class="section-separator alert alert-info">
    This rule <strong>fires when</strong> the following condition(s) are met?
  </div>
  <condition-group *ng-for="var groupSnap of ruleGroups; var i=index"
  [rule]="rule"
  [group-snap]="groupSnap"
  [group-index]="i"></condition-group>

  <div class="alert alert-success">
    This rule sets the following <strong>action(s)</strong>
  </div>
  <rule-action *ng-for="var actionMeta of ruleActions; var i=index" [action-meta]="actionMeta"></rule-action>
  <div class="col-md-2">
      <button type="button" class="btn btn-default btn-md add-button" aria-label="Add Action" (click)="addRuleAction()">
      <span class="glyphicon glyphicon-plus add-icon" aria-hidden="true" (click)="addRuleAction()"></span>
    </button>
  </div>
</div>
</div>
