<div class="panel panel-default clause conditions">
    <div class="row">
      <div class="col-sm-1">
        <button *ng-if="index !== 0" type="button" class="btn btn-default" (click)="toggleOperator()">
          {{condition.operator}}
        </button>
      </div>
          <div class="col-sm-3">
            <select class="form-control clause-selector" [value]="conditionType?.id" (change)="setConditionlet($event.target.value)">
              <option value="{{conditionType.id}}" *ng-for="var conditionType of conditionTypes; var i=index">
                {{conditionType.name}}
              </option>
            </select>
          </div>
          <cw-request-header-conditionlet
              *ng-if="conditionType?.id == 'UsersBrowserHeaderConditionlet'"
              [comparator-value]="condition?.comparison"
              [comparison-values]="conditionValue"
              (change)="conditionChanged($event)"
          >
          </cw-request-header-conditionlet>
          <cw-browser-conditionlet *ng-if="conditionType?.id == 'UsersBrowserConditionlet'"></cw-browser-conditionlet>
          <cw-country-condition *ng-if="conditionType?.id == 'UsersCountryConditionlet'"
                                [comparator-value]="condition?.comparison"
                                [comparison-values]="conditionValue"
                                (change)="conditionChanged($event)"
          ></cw-country-condition>

          <div class="col-sm-1">
              <button type="button" class="btn btn-default btn-md remove-button" aria-label="Delete Clause"
                      (click)="removeCondition()">
                <span class="glyphicon glyphicon-trash remove-icon" aria-hidden="true" (click)="removeCondition()"></span>
              </button>
          </div>
    </div>
</div>