<div class="panel panel-default clause">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-1">
        <button *ng-if="index !== 0" type="button"class="btn btn-default" (click)="toggleOperator()">
          {{condition.operator}}
        </button>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="col-sm-3">
            <select class="form-control clause-selector" [value]="condition.conditionlet" (change)="setConditionlet($event.target.value)">
              <option value="{{conditionType.id}}"  *ng-for="var conditionType of conditionTypes; var i=index">{{conditionType.name}}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <h4 class="separator"></h4>
          </div>

          <cw-request-header-conditionlet *ng-if="conditionType.id == 'UsersBrowserHeaderConditionlet'" ></cw-request-header-conditionlet>
          <cw-browser-conditionlet *ng-if="conditionType.id == 'UsersBrowserConditionlet'"></cw-browser-conditionlet>

          <div class="col-sm-1">
            <div class="operations">
              <button type="button" class="btn btn-default btn-md btn-danger" aria-label="Delete Clause" (click)="removeCondition()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="removeCondition()"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>