   <div class="row"> 
    <div class="col-sm-12">
      <div class="alert alert-info" *ng-if="groupIndex !== 0">
        <p class="pull-left">
          <a class="btn btn-default add-button-alert" (click)="toggleGroupOperator()">
            {{group.operator}}
          </a>
        </p>
        when the following condition(s) are met?
      </div>
    </div>
  </div>
  <div class="panel-body">
    <rule-condition *ng-for="var meta of conditions; var i=index" [condition-meta]="meta" [index]="i"> </rule-condition>
    <button type="button" class="btn btn-default btn-md" aria-label="Add Condition" (click)="addCondition()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addCondition()"></span>
    </button>
  </div>