<div class="panel panel-default clause">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <select class="form-control clause-selector" [value]="actionlet.id"
                (change)="setActionlet($event.target.value)">
          <option value="{{actionlet.id}}" *ng-for="var actionlet of actionlets">{{actionlet.name}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <h4 class="separator"></h4>
      </div>

      <cw-set-session-value-actionlet class="col-sm-7"
                                      [session-key-value]="100"
                                      [session-value]="lksdjf"
                                      (change)="updateActionlet($event)">

      </cw-set-session-value-actionlet>

      <div class="col-sm-1">
        <div class="operations">
          <button type="button" class="btn btn-default btn-md btn-danger" aria-label="Delete Action"
                  (click)="removeRuleAction()">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="removeRuleAction()"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>