<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row page-title-search">
        <div class="col-sm-5">
          <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Start typing to filter rules..." [value]="filterText"
              (keyup)="filterText = $event.target.value">
              <span class="glyphicon glyphicon-search form-control-feedback" style="text-align: left"></span>
          </div>
        </div>
        <div class="col-sm-7">
          <button type="button" class="btn btn-warning btn-md pull-right" aria-label="Create a new Rule" (click)="addRule()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Rule
          </button>
        </div>
      </div>
      <div *ng-for="var r of rules">
        <rule class="row" [rule-snap]="r"
        *ng-if="filterText == '' || r.val().name.toLowerCase().includes(filterText.toLowerCase())"></rule>
      </div>
    </div>
  </div>
</div>