@import "variables";

:host {
    background: $gray-bg;
    box-shadow: $md-shadow-4;
    display: flex;
    height: 100%;
    min-width: 1053px;
    padding: $basic-padding * 3;
}

.dot-apps-configuration__body {
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $basic-padding * 2;
}

.dot-apps-configuration__action_header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        width: 440px;
    }
}

.dot-apps-configuration__add-configurations {
    margin-top: 140px;
    text-align: center;
    width: 100%;
}

.dot-apps-configuration__add-configurations-title {
    font-size: $font-size-xx-large;
    font-weight: bold;
}

.dot-apps-configuration__add-configurations-description {
    font-size: $font-size-large;
    margin-bottom: $basic-padding * 4;
    margin-top: $basic-padding * 3;
}

.dot-apps-configuration__container {
    background-color: $white;
    box-shadow: $md-shadow-4;
    overflow-y: auto;
    width: 100%;
}
