<div class="dot-apps-configuration__container">
    <dot-apps-configuration-header *ngIf="apps" [app]="apps"></dot-apps-configuration-header>
    <div class="dot-apps-configuration__body">
        <div>
            <div class="dot-apps-configuration__action_header">
                <input
                    pInputText
                    #searchInput
                    type="text"
                    [placeholder]="messagesKey['apps.search.placeholder']"
                />
                <button
                    pButton
                    link
                    icon="fa fa-trash-o"
                    [label]="messagesKey['apps.confirmation.delete.all.button']"
                    [disabled]="!apps.configurationsCount"
                    (click)="deleteAllConfigurations()"
                ></button>
            </div>
            <dot-apps-configuration-list
                [siteConfigurations]="apps.sites"
                [hideLoadDataButton]="hideLoadDataButton"
                [itemsPerPage]="paginationPerPage"
                (loadData)="loadData($event)"
                (edit)="gotoConfiguration($event)"
                (delete)="deleteConfiguration($event)"
            ></dot-apps-configuration-list>
        </div>
    </div>
</div>
