<div class="dot-nav__item"
     (click)="clickHandler($event, data)"
     [class.dot-nav__item--active]="data.active"
     [pTooltip]="contextmenu ? null : data.tabName"
     tooltipStyleClass="dot-nav__tooltip"
     appendTo="target"
     [tooltipDisabled]="contextmenu || !collapsed"
>
    <dot-nav-icon [icon]="data.tabIcon" aria-hidden="true"></dot-nav-icon>
    <span class="dot-nav__item-label">{{data.tabName}}</span>
    <dot-icon
        class="dot-nav__item-arrow"
        name="{{data.isOpen ? 'arrow_drop_down' : 'arrow_drop_up'}}"
        aria-hidden="true">
    </dot-icon>
</div>
<dot-sub-nav [data]="data"
             [contextmenu]="contextmenu"
             (itemClick)="handleItemClick($event)">
</dot-sub-nav>
