@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

:host {
    display: block;

    ::ng-deep {
        .ui-tooltip {
            &.dot-nav__tooltip {
                margin-left: $basic-padding + $navigation-width-collased - $navigation-width;

                .ui-tooltip-text {
                    overflow-wrap: break-word;
                    min-width: 100px;
                    max-width: 150px;
                    text-align: center;
                }
            }
        }
    }

    &.collapsed {
        dot-icon,
        .dot-nav__item-label {
            opacity: 0;
        }

        .dot-nav__item {
            max-height: $navigation-item-height;

            &:hover {
                &:not(.dot-nav__item--active) {
                    background-color: rgba(var(--color-white_rgb), 0.1);
                }
            }
        }

        .dot-nav__item--active {
            background-color: $brand-primary;
        }

        &.contextmenu {
            .dot-nav__item {
                &:not(.dot-nav__item--active) {
                    background-color: rgba(var(--color-white_rgb), 0.1);
                }
            }
        }

        &:not(.contextmenu) {
            ::ng-deep dot-sub-nav {
                opacity: 0;
                width: $navigation-width-collased;

                .dot-nav-sub__link {
                    background-color: $gray-bg;
                }
            }
        }
    }
}

dot-sub-nav {
    opacity: 1;
    transition: opacity $basic-speed ease, width $basic-speed ease;
    width: $navigation-width;
}

.dot-nav {
    &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        min-height: $navigation-item-height;
        padding: 14px $basic-padding 13px 23px; // top and bottom padding to get min 48px height
        transition: background-color $basic-speed ease $basic-speed;
        width: $navigation-width;
        justify-content: space-between;

        &-label {
            margin-left: $basic-padding * 2;
            word-break: break-word;
            flex: 1;
        }
    }

    dot-icon,
    &__item-label {
        transition: opacity $basic-speed ease;
    }
}
