<div class="dot-container-add-variable">
    <h4 class="px-4">{{ 'Add-Variables' | dm }}</h4>
    <p-dataView *ngIf="vm$ | async as vm" [value]="vm.variables" layout="list">
        <ng-template let-variable pTemplate="listItem">
            <div class="col-12">
                <div class="dot-add-variable-list__item flex align-items-center py-3 px-4">
                    <div class="dot-add-variable-list__detail flex-1">
                        <div class="dot-add-variable-name">{{ variable?.name }}</div>
                        <div class="dot-add-variable-description text-black-alpha-50">
                            {{ variable?.fieldTypeLabel }}
                        </div>
                    </div>
                    <div class="dot-add-variable-list__action">
                        <button
                            class="p-button-outlined p-button-secondary p-button-sm"
                            [attr.data-testId]="variable.variable"
                            [label]="'Add' | dm"
                            (click)="onSave(variable.variable)"
                            pButton
                        ></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
