@use "variables" as *;

:host ::ng-deep {
    .p-dataview-content {
        padding: 0;
        margin-bottom: $spacing-4;
    }
}

.dot-add-variable-list__item {
    display: flex;
    flex-basis: 100%;
    padding: $spacing-2 $spacing-6;
    justify-content: space-between;
    align-items: center;

    .item__info {
        .info__title {
            font-size: $font-size-md;
            margin: 0;
        }

        .info__label {
            margin: 0;
            color: $color-palette-gray-700;
        }
    }

    .item__action {
        display: flex;
        align-items: center;
    }
}
