@if (vm$ | async; as vm) {
    <div class="mb-8">
        @for (field of vm.fields; track field.variable) {
            <div class="flex w-full py-2 px-6 justify-between items-center">
                <div>
                    <h3 [attr.data-testId]="'h3' + field.variable" class="text-base m-0">
                        {{ field?.name }}
                    </h3>
                    <small class="m-0 text-gray-700">
                        {{ field?.fieldTypeLabel }}
                    </small>
                </div>
                <div class="flex items-center">
                    <button
                        (click)="addCustomCode(field)"
                        [attr.data-testId]="field.variable"
                        [label]="'Add' | dm"
                        class="p-button-outlined p-button-primary p-button-sm"
                        pButton></button>
                </div>
            </div>
        }
    </div>
}
