#parse( "static/storyblock/paragraph.vtl" )
<blockquote style="text-align: $!item.attrs.textAlign">
    #set($start = 0)
    #set($end = $item.content.length())
    #set($end = $end - 1)
    #set($range = [$start..$end])
    #foreach($i in $range)
        #set($content = $item.content.get($i))
        #renderParagraph($content)
    #end
</blockquote>
