#set($allowedAligns = ["left", "center", "right", "justify"])

## Link target set on the dotImage node. Checked against both "" and "null":
## $! renders an unset reference as empty, but the value also reaches this
## template as the literal string "null" (same idiom as the href check below).
#set($imageTarget = "$!item.attrs.target")

#if($item.attrs.textWrap == "left")
    #set($figureStyle = "float: left; width: 50%; margin: 0 1rem 1rem 0;")
#elseif($item.attrs.textWrap == "right")
    #set($figureStyle = "float: right; width: 50%; margin: 0 0 1rem 1rem;")
#elseif($allowedAligns.contains($item.attrs.textAlign))
    #set($figureStyle = "text-align: $item.attrs.textAlign;")
#end

<figure#if($figureStyle) style="$figureStyle"#end>

    #if ($!item.attrs.href != "null")
    <a href="$!item.attrs.href"#if($imageTarget != "null" && $imageTarget != "") target="$imageTarget"#end#if($imageTarget == "_blank") rel="noopener noreferrer"#end>
    #end

    <img
        src="#if($!item.attrs.src && $!item.attrs.src != "null")$!item.attrs.src#{else}$!item.attrs.data.asset#end"
        alt="#if($!item.attrs.alt && $!item.attrs.alt != "null")$!item.attrs.alt#{else}$!item.attrs.data.title#end"
        title="#if($!item.attrs.title && $!item.attrs.title != "null")$!item.attrs.title#{else}$!item.attrs.data.title#end"
    />

    #if ($!item.attrs.href != "null")
    </a>
    #end

</figure>
