#parse( "static/storyblock/render.vtl" )

## Needed to parse JSON into a Java object so we can iterate over it
#set($objectMap = '#set( $objectMap = ' + $item + ' )')
#evaluate ($objectMap)

<h1 style="text-align: $!objectMap.attrs.textAlign">
   #renderNode($!objectMap.content)
</h1>
