#parse( "marks-macro.vtl" )
<ol>
    #foreach($listItem in $item.content)
        #if ($listItem.type == "listItem")
            <li>
                #foreach($listItemContent in $listItem.content)
                    #foreach($listItemContentContent in $listItemContent.content)
                        #renderText($listItemContentContent.text)
                    #end
                #end
            </li>
        #end

    #end
</ol>
