#parse( "static/storyblock/render.vtl" )

## Needed to parse JSON into an object
#set($objectMap = '#set( $objectMap = ' + $item + ' )')
#evaluate ($objectMap)

<ol style="text-align: $!objectMap.attrs.textAlign">
    #renderNode($!objectMap.content)
</ol>
