<dot-portlet-base>
    <dot-portlet-toolbar *ngIf="actions" [actions]="actions">
        <dot-global-message right></dot-global-message>
    </dot-portlet-toolbar>

    <form [formGroup]="form">
        <dot-container-selector (swap)="containerChange($event)"></dot-container-selector>
        <dot-textarea-content
            (monacoInit)="initEditor($event)"
            [show]="['code']"
            formControlName="body"
            #value
            height="100%"
            formControlName="body"
            language="html"></dot-textarea-content>
    </form>
</dot-portlet-base>
