<dot-portlet-base>
    @if (actions) {
        <dot-portlet-toolbar [actions]="actions">
            <dot-global-message right />
        </dot-portlet-toolbar>
    }

    <form [formGroup]="form">
        <dot-container-selector (swap)="containerChange($event)" />
        <dot-textarea-content
            (monacoInit)="initEditor($event)"
            [show]="['code']"
            formControlName="body"
            #value
            height="100%"
            formControlName="body"
            language="html" />
    </form>
</dot-portlet-base>
