<div class="dot-empty-container__notice">
    @if (icon) {
        <span class="material-icons" data-testid="material-icons">{{ icon }}</span>
    }
    @if (title) {
        <h3 class="dot-empty-container__title" data-testid="title">{{ title }}</h3>
    }
    @if (content) {
        <p class="dot-empty-container__content" data-testid="content">{{ content }}</p>
    }
    <button
        (click)="handleClick($event)"
        pButton
        type="button"
        data-testid="button"
        label="{{ buttonLabel }}"></button>
</div>
<table class="dot-empty-state" data-testid="dot-empty-state">
    <tbody>
        @for (number of numberOfRows(); track $index) {
            <tr>
                <td [style.width]="checkBoxWidth + '%'" data-testid="checkbox">
                    <div class="checkbox-dummy"></div>
                </td>
                @for (width of colsTextWidth; track $index) {
                    <td [style.width]="columnWidth" data-testid="dummy-text-td">
                        <span [style.width]="width + '%'" class="dot-dummy-text"></span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
