<div class="dot-empty-container__notice">
    <span *ngIf="icon" class="material-icons" data-testid="material-icons">{{ icon }}</span>
    <h3 *ngIf="title" class="dot-empty-container__title" data-testid="title">{{ title }}</h3>
    <p *ngIf="content" class="dot-empty-container__content" data-testid="content">{{ content }}</p>
    <button
        (click)="handleClick($event)"
        pButton
        type="button"
        data-testid="button"
        label="{{ buttonLabel }}"></button>
</div>
<table class="dot-empty-state" data-testid="dot-empty-state">
    <tbody>
        <tr *ngFor="let number of numberOfRows()">
            <td [ngStyle]="{ width: checkBoxWidth + '%' }" data-testid="checkbox">
                <div class="checkbox-dummy"></div>
            </td>
            <td
                *ngFor="let width of colsTextWidth"
                [ngStyle]="{ width: columnWidth }"
                data-testid="dummy-text-td">
                <span [ngStyle]="{ width: width + '%' }" class="dot-dummy-text"></span>
            </td>
        </tr>
    </tbody>
</table>
