@use "variables" as *;

$iframe-margin: $basic-padding * 3;

:host {
    background-color: $gray-bg;
    display: block;
    padding: $iframe-margin;
    height: 100%;
}

dot-iframe {
    background-color: $white;
    box-shadow: $md-shadow-4;
}
