<dot-avatar
    [label]="persona.name"
    [showDot]="persona.personalized"
    [size]="24"
    [url]="persona.photo"
></dot-avatar>

<span
    class="dot-persona-selector-option__label"
    [ngClass]="{ 'dot-persona-selector-option__personalized': persona.personalized }"
    >{{ persona.name }}
</span>

<button
    pButton
    secondary
    tiny
    *ngIf="persona.personalized"
    (click)="deletePersonalized($event)"
    label="{{ messagesKey['modes.persona.personalized'] }}"
    iconPos="right"
    icon="fa fa-times"
></button>
