@use "variables" as *;

::ng-deep {
    .dot-language-selector__dialog,
    .dot-device-selector__dialog {
        display: none !important;
    }

    @media only screen and (max-width: $screen-device-container-max) {
        .dot-language-selector__dialog,
        .dot-device-selector__dialog {
            display: inline-block !important;
        }
    }
}

:host {
    display: flex;

    & > * {
        margin-left: 3.5rem;

        &:first-child {
            margin-left: 0;
        }
    }

    @media only screen and (max-width: $screen-device-container-max) {
        dot-language-selector,
        dot-device-selector,
        dot-persona-selector {
            margin-left: $spacing-3;
        }
    }

    ::ng-deep {
        .p-dropdown {
            &:not(.p-state-disabled) {
                .p-dropdown-label,
                .p-dropdown-trigger {
                    color: $gray;
                }
            }
        }

        .p-chkbox:not(.p-state-disabled) {
            .p-chkbox-box.p-state-default {
                border-color: $gray;
            }
        }

        .p-chkbox-label {
            color: $gray;
        }
    }
}
