@use "../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../libs/dotcms-scss/shared/shadows";
@use "../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    align-items: center;
    background-color: colors.$white;
    box-shadow: shadows.$shadow-m;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px - #{$toolbar-height});
    justify-content: center;
    margin: spacing.$spacing-4;
    padding: spacing.$spacing-9;
}

h4 {
    margin: 0;
}

dot-icon::ng-deep .material-icons,
h4 {
    color: colors.$color-palette-gray-500;
}
