@use "variables" as *;

:host {
    padding: $spacing-4;
    color: $color-gray-600;
    line-height: 140%;

    i {
        font-size: $md-icon-size-big;
        color: $color-primary-500;

        &.pi-ban {
            color: $color-alert-red;
        }
    }
}
