@use "variables" as *;

:host {
    display: block;

    dot-action-button {
        display: flex;
        float: right;
        position: relative;
        right: $spacing-3;
        top: -$spacing-4;
        z-index: 1;
    }

    ::ng-deep .p-table .p-table-thead tr th {
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            padding-left: $spacing-4;
        }
    }

    .dot-key-value__header-keyValue-label {
        text-align: left;
    }

    .dot-key-value__header-hidden-label {
        text-align: center;
    }

    p-table .dot-key-value__header-actions-label {
        padding-right: $spacing-9;
        text-align: right;
        width: 185px;
    }
}
