<p-card
    [ngClass]="{
        'dot-service-integration-card__disabled': !serviceIntegration.configurationsCount
    }"
    (click)="actionFired.emit(serviceIntegration.key)"
>
    <p-header>
        <dot-avatar
            [showDot]="!!serviceIntegration.configurationsCount"
            [size]="40"
            [url]="serviceIntegration.iconUrl"
            [label]="serviceIntegration.name"
        ></dot-avatar>
        <div class="dot-service-integration-card__label-container">
            <span class="dot-service-integration-card__name">
                {{ serviceIntegration.name }}
            </span>
            <span class="dot-service-integration-card__configurations"
                >{{
                    serviceIntegration.configurationsCount
                        ? serviceIntegration.configurationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
        </div>
    </p-header>
    {{ serviceIntegration.description }}
</p-card>
