@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
    display: inline-block;
    position: relative;

    .is-active {
        .dot-select__icon {
            color: $secondary;
        }
    }

    .is-disabled {
        cursor: not-allowed;
        
        .dot-select__text,
        .dot-select__icon {
            color: $gray-light;
        }
    }

    .dot-select__options {
        @include box_shadow(1);
        background-color: $white;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: all $basic-speed;
        z-index: 1;
        z-index: 2;
    }

    .dot-select__options--is-open {
        max-height: 1000px;
    }

    .dot-select__wrapper {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

