<dot-container-selector (swap)="containerChange($event)" innerClass="d-secondary">
</dot-container-selector>
<ul class="container-selector__list">
    @for (dotContainerColumnBox of data; track dotContainerColumnBox; let i = $index) {
        <li class="container-selector__list-item">
            <p-button
                (click)="removeContainerItem(i)"
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-text p-button-danger">
            </p-button>
            <span class="container-selector__list-item-text"
                >{{ dotContainerColumnBox.container?.name }} ({{
                    dotContainerColumnBox.container?.parentPermissionable.hostname
                }})</span
            >
        </li>
    }
</ul>
