@use "variables" as *;
@use "dotcms-theme/components/form/common";
@use "dotcms-theme/components/buttons/common" as common2;
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/common" as common3;
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

dot-binary-file {
    display: block;

    & ::ng-deep {
        .dot-binary__container {
            display: flex;

            input {
                @extend #form-field-extend;
                width: 100%;
            }
        }

        dot-binary-text-field {
            flex-grow: 1;
        }

        button {
            all: unset;
            @extend #main-primary-severity;
            background-color: colors.$color-palette-primary;
            display: block;
            height: common3.$field-height-md;
            font-size: fonts.$font-size-md;
            color: colors.$white;
            border-radius: common3.$border-radius-md;
            padding: 0 spacing.$spacing-3;
            text-transform: capitalize;
            margin-left: spacing.$spacing-0;
        }

        .dot-file-preview__info {
            border-radius: common3.$border-radius-xs;
        }
    }
}
