@use "variables" as *;
@import "dotcms-theme/components/form/common";
@import "dotcms-theme/components/buttons/common";

dot-binary-file {
    display: block;

    & ::ng-deep {
        .dot-binary__container {
            display: flex;

            input {
                @extend #form-field-extend;
                width: 100%;
            }
        }

        dot-binary-text-field {
            flex-grow: 1;
        }

        button {
            all: unset;
            @extend #main-primary-severity;
            background-color: $color-palette-primary;
            display: block;
            height: $field-height-md;
            font-size: $font-size-md;
            color: $white;
            border-radius: $border-radius-md;
            padding: 0 $spacing-3;
            text-transform: capitalize;
            margin-left: $spacing-0;
        }

        .dot-file-preview__info {
            border-radius: $border-radius-xs;
        }
    }
}
