@use "variables" as *;

:host {
    .dot-experiment-list-table {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        margin-bottom: $spacing-5;
        overflow: auto;
    }

    //ng-table overwritte
    ::ng-deep .p-datatable {
        border-collapse: separate;
        border-spacing: 0;

        tr:last-child td:first-child {
            border-bottom-left-radius: $border-radius-md;
        }

        td:last-child {
            border-bottom-right-radius: $border-radius-md;
        }

        th,
        td {
            font-size: $font-size-medium;
            font-weight: normal;
        }

        .p-datatable-thead > tr > th,
        .p-datatable-tbody > tr > td {
            background: transparent;
        }

        .p-datatable-thead {
            tr > th {
                height: 40px;
                padding: 0;
                color: $gray;
                font-size: $font-size-medium;
                font-weight: normal;
                border: 1px solid $gray-lighter;
                border-width: 0 0 1px 0;
                font-weight: 500;

                &:first-child {
                    padding-left: $spacing-3;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .p-datatable-header {
            border: none;
            color: $gray;
            background: transparent;
        }

        .p-datatable-wrapper {
            border-radius: $border-radius-md;
            border: 1px solid $gray-lighter;

            .p-datatable-tbody {
                tr {
                    height: 40px;
                    border: 1px solid $gray-lighter;
                    transition: background-color $basic-speed ease;
                    background: transparent;

                    &:last-child {
                        border-width: 0 0 0 0;
                    }

                    &:hover {
                        background-color: $tr-hover-color;
                    }

                    td {
                        height: 40px;
                        padding: 0;

                        &:first-child {
                            padding-left: $spacing-3;
                        }

                        &:last-child {
                            justify-content: flex-end;
                            display: flex;
                            padding-right: $spacing-3;
                        }
                    }
                }
            }
        }
    }
}
