@use "variables" as *;

.template-listing__header-options {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        margin: 0 $spacing-3;
    }
}

dot-state-icon {
    margin-right: 0.25rem;
}
