<dot-listing-data-table
    #listing
    (rowWasClicked)="editTemplate($event)"
    (selectedItems)="updateSelectedTemplates($event)"
    [actionHeaderOptions]="actionHeaderOptions"
    [columns]="tableColumns"
    sortField="modDate"
    sortOrder="DESC"
    url="v1/templates"
    [actions]="[]"
    [checkbox]="true"
    dataKey="inode"
    [firstPageData]="firstPage"
>
    <div class="template-listing__header-options">
        <div>
            <p-checkbox
                [label]="'Show-Archived' | dm"
                (onChange)="handleArchivedFilter($event.checked)"
            ></p-checkbox>
            <button
                type="button"
                pButton
                [disabled]="!this.selectedTemplates?.length"
                class="p-button-secondary p-button-sm"
                icon="pi pi-ellipsis-v"
                [label]="'Actions' | dm"
                (click)="actionsMenu.toggle($event)"
                attr.data-testid="bulkActions"
            ></button>
        </div>
        <p-menu #actionsMenu [popup]="true" [model]="templateBulkActions" appendTo="body"></p-menu>
    </div>

    <dot-empty-state
        [rows]="10"
        [colsTextWidth]="[60, 50, 60, 80]"
        icon="web"
        [title]="'message.template.empty.title' | dm"
        [content]="'message.template.empty.content' | dm"
        [buttonLabel]="'message.template.empty.button.label' | dm"
        (buttonClick)="handleButtonClick()"
    >
    </dot-empty-state>

    <ng-template #rowTemplate let-rowData="rowData">
        <td [ngStyle]="{ 'text-align': tableColumns[0].textAlign }">
            {{ rowData.name }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[1].textAlign }">
            <dot-state-icon
                [labels]="setStateLabels()"
                [state]="getTemplateState(rowData)"
                size="14px"
            >
            </dot-state-icon>
            <dot-icon *ngIf="rowData.locked" name="lock" size="14"></dot-icon>
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[2].textAlign }">
            {{ rowData.friendlyName }}
        </td>
        <td [ngStyle]="{ 'text-align': tableColumns[3].textAlign }">
            {{ rowData.modDate }}
        </td>
        <td style="width: 5%">
            <dot-action-menu-button
                [attr.data-testid]="rowData.identifier"
                class="listing-datatable__action-button"
                [actions]="setTemplateActions(rowData)"
                [item]="rowData"
            >
            </dot-action-menu-button>
        </td>
    </ng-template>
</dot-listing-data-table>

<dot-add-to-bundle
    *ngIf="addToBundleIdentifier"
    [assetIdentifier]="addToBundleIdentifier"
    (cancel)="addToBundleIdentifier = null"
></dot-add-to-bundle>
