<dot-content-type-layout
    *ngIf="isEditMode()"
    (openEditDialog)="startFormDialog()"
    (changeContentTypeName)="editContentTypeName($event)"
    [contentType]="data">
    <dot-content-type-fields-drop-zone
        *ngIf="data.id"
        (saveFields)="saveFields($event)"
        (removeFields)="removeFields($event)"
        (editField)="editField($event)"
        [layout]="layout"
        [loading]="loadingFields"
        [contentType]="data"
        #fieldsDropZone></dot-content-type-fields-drop-zone>
</dot-content-type-layout>

<dot-dialog
    (hide)="onDialogHide()"
    [(visible)]="show"
    [actions]="dialogActions"
    [closeable]="dialogCloseable"
    [header]="templateInfo.header">
    <dot-content-types-form
        *ngIf="show"
        (valid)="setDialogOkButtonState($event)"
        (send)="handleFormSubmit($event)"
        [layout]="layout"
        [data]="data"
        #form></dot-content-types-form>
</dot-dialog>
