@if (isEditMode()) {
    <dot-content-type-layout
        (openEditDialog)="startFormDialog()"
        (changeContentTypeName)="editContentTypeName($event)"
        [contentType]="data">
        @if (data.id) {
            <dot-content-type-fields-drop-zone
                (saveFields)="saveFields($event)"
                (removeFields)="removeFields($event)"
                (editField)="editField($event)"
                [layout]="layout"
                [loading]="loadingFields"
                [contentType]="data"
                #fieldsDropZone />
        }
    </dot-content-type-layout>
}

<p-dialog
    [(visible)]="show"
    [header]="templateInfo.header"
    [modal]="true"
    [closable]="dialogCloseable"
    [style]="{ width: '50rem' }"
    (visibleChange)="onDialogHide()">
    @if (show) {
        <dot-content-types-form
            (valid)="setDialogOkButtonState($event)"
            (send)="handleFormSubmit($event)"
            [contentType]="data"
            #form />
    }
    <ng-template pTemplate="footer">
        @if (dialogActions?.cancel) {
            <p-button
                [label]="dialogActions.cancel.label"
                [disabled]="dialogActions.cancel.disabled"
                severity="secondary"
                (click)="dialogActions.cancel.action?.()"
                data-testId="dotDialogCancelAction"></p-button>
        }
        @if (dialogActions?.accept) {
            <p-button
                [label]="dialogActions.accept.label"
                [disabled]="dialogActions.accept.disabled"
                (click)="dialogActions.accept.action?.()"
                data-testId="dotDialogAcceptAction"></p-button>
        }
    </ng-template>
</p-dialog>
