@if (isEditMode()) {
    <dot-content-type-layout
        (openEditDialog)="startFormDialog()"
        (changeContentTypeName)="editContentTypeName($event)"
        [contentType]="data">
        @if (data.id) {
            <dot-content-type-fields-drop-zone
                (saveFields)="saveFields($event)"
                (removeFields)="removeFields($event)"
                (editField)="editField($event)"
                [layout]="layout"
                [loading]="loadingFields"
                [contentType]="data"
                #fieldsDropZone />
        }
    </dot-content-type-layout>
}

<dot-dialog
    (hide)="onDialogHide()"
    [(visible)]="show"
    [actions]="dialogActions"
    [closeable]="dialogCloseable"
    [header]="templateInfo.header">
    @if (show) {
        <dot-content-types-form
            (valid)="setDialogOkButtonState($event)"
            (send)="handleFormSubmit($event)"
            [layout]="layout"
            [data]="data"
            #form />
    }
</dot-dialog>
