<div
    *ngIf="showDiff; else compareValue"
    [innerHTML]="htmlWorkingValue$ | async | dotDiff : (htmlCompareValue$ | async) : showDiff"
    data-testId="div-working"
></div>

<ng-template #compareValue>
    <div [innerHTML]="htmlWorkingValue$ | async" data-testId="div-compare"></div>
</ng-template>

<dot-block-editor
    id="blockEditor"
    #blockEditor
    [value]="data.working[field]"
    [ngStyle]="{ display: 'none' }"
>
</dot-block-editor>
<dot-block-editor
    id="blockEditorCompare"
    #blockEditorCompare
    [value]="data.compare[field]"
    [ngStyle]="{ display: 'none' }"
>
</dot-block-editor>
