<div class="row-header">
    <dot-icon class="row-header__drag" name="drag_handle"></dot-icon>
</div>
<div class="row-columns">
    <div
        class="row-columns__item"
        *ngFor="let column of fieldRow.columns; let i = index"
        [(dragulaModel)]="column.fields"
        [class.empty]="!column.fields.length"
        data-drag-type="target"
        dragula="fields-bag">
        <p-button
            class="row-header__remove"
            *ngIf="!column.fields.length"
            [pTooltip]="'contenttypes.action.delete' | dm"
            (click)="remove(i)"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"></p-button>

        <dot-content-type-field-dragabble-item
            *ngFor="let field of column.fields"
            [field]="field"
            [isSmall]="fieldRow.columns.length > 1"
            (remove)="onRemoveField($event)"
            (edit)="this.editField.emit(field)">
        </dot-content-type-field-dragabble-item>
    </div>
</div>
