@use "../../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../../libs/dotcms-scss/shared/common";
@use "../../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../../libs/dotcms-scss/shared/spacing";

@use "variables" as *;

:host {
    display: block;
    margin-bottom: spacing.$spacing-1;
    position: relative;
    transition: box-shadow $basic-speed;

    &:last-child {
        margin-bottom: 0;
    }
}

.row-columns {
    display: flex;
    background: colors.$white;
    padding: spacing.$spacing-1;
    border-radius: 0 0 common.$border-radius-xl common.$border-radius-xl;
}

.row-columns__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 spacing.$spacing-1;
    padding-bottom: 0;
    position: relative;
    // we need to make the width: 0 to give every item the same start point to grow.
    width: 0;

    &:after {
        background: colors.$white;
        border: dashed 1px colors.$color-palette-gray-600;
        bottom: 0;
        color: colors.$color-palette-gray-600;
        content: var(--empty-message);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-size: fonts.$font-size-xs;
        justify-content: center;
        min-height: $content-type-field-height;
        pointer-events: none;
        text-align: center;
        border-radius: common.$border-radius-md;
    }

    &::ng-deep {
        li {
            background-color: colors.$white;
            height: $content-type-field-height;
            margin: 0;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &.empty {
        background: colors.$color-palette-gray-200;
        min-height: $content-type-field-height * 2;

        dot-content-type-field-dragabble-item {
            margin-bottom: 0;
        }

        &:after {
            min-height: 100%;
            margin-top: 0;
        }
    }

    &--over {
        &:after {
            display: none;
        }
    }
}

.row-header {
    background: #ffffff;
    border-radius: common.$border-radius-xl common.$border-radius-xl 0 0;
    display: flex;
    justify-content: center;
}

.row-header__drag {
    cursor: move;
    display: block;
    color: colors.$color-palette-gray-400;
}

.row-header__remove {
    cursor: pointer;
    position: absolute;
    right: spacing.$spacing-1;
    top: spacing.$spacing-1;
}
