<div class="row-header">
    <dot-icon class="row-header__drag" name="drag_handle" />
</div>
<div class="row-columns">
    @for (column of fieldRow.columns; track column; let i = $index) {
        <div
            [(dragulaModel)]="column.fields"
            [class.empty]="!column.fields.length"
            class="row-columns__item"
            [attr.data-testid]="'fields-bag-' + i"
            data-drag-type="target"
            dragula="fields-bag">
            @if (!column.fields.length) {
                <p-button
                    (click)="remove(i)"
                    [pTooltip]="'contenttypes.action.delete' | dm"
                    class="row-header__remove"
                    icon="pi pi-trash"
                    styleClass="p-button-rounded p-button-text p-button-sm p-button-danger" />
            }
            @for (field of column.fields; track field) {
                <dot-content-type-field-dragabble-item
                    (remove)="onRemoveField($event)"
                    (edit)="this.editField.emit(field)"
                    [field]="field"
                    [isSmall]="fieldRow.columns.length > 1" />
            }
        </div>
    }
</div>
