<p-tabView>
    <p-tabPanel
        data-testId="builder"
        [header]="item.type === 'advanced' ? ('code' | dm) : ('design' | dm)"
    >
        <ng-container *ngIf="item.type === 'advanced'; else elseBlock">
            <dot-template-advanced
                (save)="save.emit($event)"
                (cancel)="cancel.emit()"
            ></dot-template-advanced>
        </ng-container>
        <ng-template #elseBlock>
            <dot-edit-layout-designer
                [theme]="item.theme"
                [layout]="item.layout"
                (save)="save.emit($event)"
                (cancel)="cancel.emit()"
            ></dot-edit-layout-designer>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Permissions">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe data-testId="permissionsIframe" [src]="permissionsUrl"></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="History">
        <ng-template pTemplate="content">
            <dot-portlet-box>
                <dot-iframe
                    #historyIframe
                    (custom)="custom.emit($event)"
                    data-testId="historyIframe"
                    [src]="historyUrl"
                ></dot-iframe>
            </dot-portlet-box>
        </ng-template>
    </p-tabPanel>
</p-tabView>
