<accordion>
    <nav #menuElement>
        <ng-template ngFor let-menu [ngForOf]="menuItems" >

            <accordion-group [heading]="menu.tabName" [icon]="menu.tabIcon" [open]="menu.isOpen">
                <div class="main-nav__submenu">
                    <ng-template ngFor let-menuItem [ngForOf]="menu.menuItems">
                        <a ripple (click)="gotToPage($event, menuItem.menuLink)" [routerLink]="[menuItem.menuLink]"
                           *ngIf="menuItem.url && !menuItem.angular && !menuItem.ajax"
                           [class.main-nav__submenu--active]="menuItemIdActive === menuItem.id">

                            {{menuItem.name}}
                        </a>
                        <a ripple [routerLink]="[menuItem.url]" *ngIf="menuItem.angular && !menuItem.ajax"
                           [class.main-nav__submenu--active]="menuItemIdActive === menuItem.id">

                            {{menuItem.name}}
                        </a>
                        <a ripple (click)="gotToPage($event, menuItem.menuLink)" [routerLink]="[menuItem.menuLink]" *ngIf="menuItem.url && menuItem.ajax"
                            [class.main-nav__submenu--active]="menuItemIdActive === menuItem.id">

                            {{menuItem.name}}
                        </a>
                    </ng-template>
                </div>
            </accordion-group>
        </ng-template>
    </nav>
</accordion>
