<ng-container *dotShowHideFeature="featureFlagAnnouncements">
    <p-button
        (click)="onActiveAnnouncements($event)"
        [class.dot-toolbar-notifications__button-active]="activeAnnouncements"
        icon="pi pi-megaphone"
        styleClass="p-button-rounded p-button-text"></p-button>
    @if (showUnreadAnnouncement()) {
        <span class="dot-toolbar__badge" id="dot-toolbar-notifications-badge"></span>
    }

    <dot-toolbar-announcements
        (hideMenu)="markAnnocumentsAsRead()"
        [showUnreadAnnouncement]="showUnreadAnnouncement()"
        #toolbarAnnouncements />
</ng-container>
<div class="toolbar-notifications__container">
    @if (notificationsUnreadCount) {
        <span class="dot-toolbar__badge" id="dot-toolbar-notifications-badge"></span>
    }
    <dot-dropdown-component
        (shutdown)="iframeOverlayService.hide()"
        (wasOpen)="iframeOverlayService.show()"
        (toggle)="toggleNotifications()"
        id="dot-toolbar-notifications"
        data-testId="dot-toolbar-notifications"
        icon="pi pi-bell"
        position="right">
        <div class="toolbar-notifications">
            <div class="toolbar-notifications__heading">
                <h3 class="toolbar-notifications__title" id="dot-toolbar-notifications-title">
                    {{ 'notifications_title' | dm }}
                </h3>
                @if (notifications.length) {
                    <p-button
                        (click)="dismissAllNotifications()"
                        id="dot-toolbar-notifications-button-dismiss-all"
                        label="{{ 'notifications_clear_all' | dm }}"
                        icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-text p-button-sm p-button-primary"></p-button>
                }
            </div>
            @if (!notifications.length) {
                <div class="dot-toolbar-notifications__empty">
                    <span class="dot-toolbar-notifications__empty-title">
                        {{ 'notifications_no_notifications_title' | dm }}
                    </span>
                    <span class="dot-toolbar-notifications__empty-info">
                        {{ 'notifications_no_notifications' | dm }}
                    </span>
                </div>
            }
            <div class="toolbar-notifications__content" id="dot-toolbar-notifications-content">
                <dot-notifications-list
                    (dismissNotification)="onDismissNotification($event)"
                    [notifications]="notifications"
                    id="dot-notifications-list"></dot-notifications-list>
            </div>
            <div class="toolbar-notifications__footer" id="dot-toolbar-notifications-footer">
                @if (existsMoreToLoad) {
                    <button
                        (click)="loadMore()"
                        class="p-button-outlined"
                        id="dot-toolbar-notifications-button-load-more"
                        ripple
                        pButton
                        label="{{ 'notifications_load_more' | dm }}"></button>
                }
            </div>
        </div>
    </dot-dropdown-component>
</div>
