<span class="badge" id="dot-toolbar-notifications-badge" *ngIf="notificationsUnreadCount">{{
    notificationsUnreadCount
}}</span>

<dot-dropdown-component
    id="dot-toolbar-notifications"
    [disabled]="!notifications.length"
    (shutdown)="iframeOverlayService.hide()"
    (wasOpen)="iframeOverlayService.show()"
    (toggle)="toggleNotifications()"
    icon="notifications"
    position="right"
>
    <div class="toolbar-notifications">
        <div class="toolbar-notifications__heading">
            <h3 class="toolbar-notifications__title" id="dot-toolbar-notifications-title">
                {{ 'notifications_title' | dm }}
            </h3>
            <dot-icon-button
                id="dot-toolbar-notifications-button-dismiss-all"
                (click)="dismissAllNotifications()"
                icon="delete"
            ></dot-icon-button>
        </div>
        <div class="toolbar-notifications__content" id="dot-toolbar-notifications-content">
            <dot-notifications-list
                id="dot-notifications-list"
                [notifications]="notifications"
                (dismissNotification)="onDismissNotification($event)"
            ></dot-notifications-list>
        </div>
        <div class="toolbar-notifications__footer" id="dot-toolbar-notifications-footer">
            <button
                class="p-button-outlined"
                id="dot-toolbar-notifications-button-load-more"
                *ngIf="existsMoreToLoad"
                (click)="loadMore()"
                riple
                pButton
                label="{{ 'notifications_load_more' | dm }}"
            ></button>
        </div>
    </div>
</dot-dropdown-component>
