@use "variables" as *;

$notification-padding: $spacing-3;

.dot-notifications {
    width: 21rem;
}

.dot-notifications__button-active {
    background-color: $color-palette-primary-op-20;
    border-radius: 50%;
}

.dot-notifications__title {
    font-size: $font-size-lmd;
    margin: 0;
}

.dot-notifications__footer {
    text-align: center;
}

.dot-notifications__footer button {
    margin: auto;
}

.dot-notifications__empty {
    display: flex;
    border-top: solid 1px $color-palette-gray-200;
    flex-direction: column;
    align-items: center;
    padding: $spacing-4 0;
}

.dot-notifications__empty-title {
    font-size: $font-size-default;
    font-weight: $font-weight-semi-bold;
}

.dot-notifications__empty-info {
    font-size: $font-size-sm;
    color: $color-palette-gray-800;
}

.dot-notifications-list {
    list-style: none;
    margin: 0;
    max-height: 600px;
    overflow-x: hidden;
}
