:host {
  position: relative;
}

:host .dropdown-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FFF;
  color: #444444;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.76923rem 1.53846rem;
  position: absolute;
  top: 25px;
  z-index: 100;
}

:host .dropdown-content_align-left {
  left: 0;
}

:host .dropdown-content_align-right {
  right: 0;
}
