<p-selectButton
    *ngIf="selectOptions.length > 1"
    class="textarea-content__select-field"
    [options]="selectOptions"
    [(ngModel)]="selected">
</p-selectButton>
<textarea
    *ngIf="selected === 'plain'"
    (keydown.enter)="onKeyEnter($event)"
    (ngModelChange)="onModelChange($event)"
    [ngModel]="value"
    [ngStyle]="styles"
    class="textarea-content__plain-field">
</textarea>
<ace-editor
    #ace
    *ngIf="selected === 'code'"
    (keydown.enter)="onKeyEnter($event)"
    (textChanged)="onModelChange($event)"
    [autoUpdateContent]="true"
    [durationBeforeCallback]="500"
    [mode]="code.mode"
    [ngStyle]="styles"
    [options]="code.options"
    [readOnly]="false"
    [text]="value"
    class="textarea-content__code-field"
    theme="textmate">
</ace-editor>
<app-tinymce
    #wysiwyg
    *ngIf="selected === 'wysiwyg'"
    (keydown.enter)="onKeyEnter($event)"
    (ngModelChange)="onModelChange($event)"
    [ngModel]="value"
    class="textarea-content__wysiwyg-field">
</app-tinymce>
