<p-selectButton
    *ngIf="selectOptions.length > 1"
    class="textarea-content__select-field"
    [options]="selectOptions"
    [(ngModel)]="selected"
>
</p-selectButton>
<textarea
    *ngIf="selected === 'plain'"
    (keydown.enter)="onKeyEnter($event)"
    (ngModelChange)="onModelChange($event)"
    [ngModel]="value"
    [ngStyle]="styles"
    class="textarea-content__plain-field"
></textarea>
{{ value }}

<ngx-monaco-editor
    [ngStyle]="styles"
    *ngIf="selected === 'code'"
    class="textarea-content__code-field"
    [options]="editorOptions"
    [(ngModel)]="value"
    (ngModelChange)="onModelChange($event)"
    (keydown.enter)="onKeyEnter($event)"
></ngx-monaco-editor>
