@use "variables" as *;
@import "mixins";

:host ::ng-deep .p-selectbutton {
    box-shadow: none;
    border-bottom: 0;

    .p-button {
        &:first-child {
            border-bottom-left-radius: 0;
        }

        &:last-child {
            border-bottom-right-radius: 0;
        }
    }
}

.textarea-content__code-field,
.textarea-content__plain-field {
    border: solid 1px $gray;
}

.textarea-content__plain-field {
    display: block;
    height: 300px;
    outline: none;
    padding: $basic-padding;
    resize: none;
    width: 100%;
}
