<div [formGroup]="group" class="field">
    <label [for]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.name.label' | dm }}
    </label>
    <input
        [formControlName]="property.name"
        [id]="property.name"
        class="name__input"
        dotAutofocus
        pInputText
        type="text"
        maxlength="255" />
    <dot-field-validation-message [message]="'contenttypes.field.properties.name.error.required' | dm"
        [field]="group.controls[property.name]" />
    @if (property.field.variable) {
        <div class="form__field-variable">
            <b>{{ 'contenttypes.field.properties.name.variable' | dm }}:</b>
            <dot-copy-link [label]="property.field.variable"
                [copy]="property.field.variable" />
        </div>
    }
</div>
