<dot-searchable-dropdown 
    [data]="contentTypeCurrentPage | async"
    [pageLinkSize]="paginatorService.maxLinksPage"
    [rows]="paginatorService.paginationPerPage"
    [totalRecords]="paginatorService.totalRecords"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    labelPropertyName="name"
    [placeholder]="i18nMessages['contenttypes.field.properties.relationship.new.content_type.placeholder']"
    [ngModel]="contentType"
    [disabled]="editing"
    (change)="triggerChanged()">
</dot-searchable-dropdown>*

<dot-cardinality-selector [cardinalityIndex]="cardinalityIndex"
                          [disabled]="editing"
                          (change)="cardinalityChanged($event)">

</dot-cardinality-selector>
 