@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

:host {
    display: block;
}

ul {
    @include naked-list;
}

a {
    color: $white;
    text-decoration: none;
}

.dot-nav-sub {
    &__link {
        padding: 14px $basic-padding 13px 56px; // top and bottom padding to get min 48px height
        align-items: center;
        display: flex;
        min-height: $navigation-item-height;

        &--active {
            background-color: $brand-primary;
        }
    }
}
