@import "mixins";
@import "variables";
@import "primeng-theme/utils/theme-variables";

:host {
    display: block;
}

ul {
    @include naked-list;

    &.contextmenu {
        opacity: 1;
        position: absolute;
        left: $navigation-width-collased;
        width: auto;
        margin-top: -$navigation-item-height;
        z-index: 1001;
        background: $white;
        box-shadow: $md-shadow-1;
        // component animation adds inline styles.
        height: auto !important;
        overflow: visible !important;

        .dot-nav-sub__link {
            color: $black;
            padding: $basic-padding $basic-padding * 2;

            &--active,
            &:hover {
                background-color: $gray-bg;
            }
        }
    }
}

a {
    color: $white;
    text-decoration: none;
}

.dot-nav-sub__link {
    display: block;
    padding: $basic-padding $basic-padding $basic-padding 56px;
    transition: background-color $basic-speed ease;

    &:hover {
        background-color: rgba(var(--color-white_rgb), 0.1);
    }

    &--active,
    &--active:hover {
        background-color: $brand-primary;
    }
}
