@use "variables" as *;

:host {
    position: relative;
    display: block;
}

.dot-toolbar__badge {
    background-color: $color-accessible-text-fuchsia;
    border-radius: $notification-dot-badge-size;
    color: $white;
    width: $notification-dot-badge-size;
    height: $notification-dot-badge-size;
    position: absolute;
    left: 28px;
    top: 2px;
}

.overlay-btn.p-button-text {
    &:hover {
        background-color: $color-palette-primary-op-10;
    }
    &:focus {
        outline: none;
    }
    &:enabled {
        outline: none;
    }
    &.isActive {
        background-color: $color-palette-primary-op-20;
    }
}
