@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/common";

@use "variables" as *;

:host {
    position: relative;
    display: block;
}

.dot-toolbar__badge {
    background-color: colors.$color-accessible-text-fuchsia;
    border-radius: common.$notification-dot-badge-size;
    color: colors.$white;
    width: common.$notification-dot-badge-size;
    height: common.$notification-dot-badge-size;
    position: absolute;
    left: 28px;
    top: 2px;
}

.overlay-btn.p-button-text {
    &:hover {
        background-color: colors.$color-palette-primary-op-10;
    }
    &:focus {
        outline: none;
    }
    &:enabled {
        outline: none;
    }
    &.isActive {
        background-color: colors.$color-palette-primary-op-20;
    }
}
