dot-binary-file {
    &.dot-dragover {
        input {
            background-color: #f1f1f1;
        }
    }

    .dot-binary__container {
        input,
        button {
            display: inline-flex;
            border: 1px solid lightgray;
            padding: 15px;
            border-radius: 0;
        }

        input[type="file"] {
            display: none;
        }

        input {
            min-width: 245px;
            text-overflow: ellipsis;
        }

        button {
            background-color: lightgray;
        }
    }
}
