.md-underline {
    border-top: 1px solid $gray;
    height: 1px;
    margin-top: 4px;
    position: relative;
    width: 100%;

    .is-disabled & {
        border-top: 1px solid $gray-light;
    }
}

.md-underline-ripple {
    background-color: $brand-secondary;
    height: 2px;
    opacity: 0;
    position: absolute;
    top: -2px;
    transition: opacity $basic-speed;
    width: 100%;
    z-index: 1;

    &.md-focused {
        opacity: 1;

        .is-disabled & {
            opacity: 0;
        }
    }
}