// COLORS
$primary: #03AAD5;
$black: #444444; // 100%
$gray: #A1A1A1; // 50%
$gray-dark: #737373; // 75%
$gray-light: #D0D0D0; //  25%
$white: #FFF;

// TYPOGRAPHY
$base-font-family: Roboto, 'Helvetica Neue', sans-serif;
$body-font-size-base: 16px;
$body-font-color: $black;