@import "variables";
@import "mixins";
@import "grids";
@import "typography";
@import "material-design";
@import "./deeppurple-amber.css";

// PRIME NG
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "./primeng.min.css";
@import "primeng-theme/base";

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    color: $black;
    font-family: $body-text;
    font-size: $body-font-size-base;
    height: 100%;
    margin: 0;
    padding: 0;
}

// For the login component user photo background
body {
    background-repeat: no-repeat;
    background-position: top center;
}

p {
    line-height: 1.5em;
}

a {
    color: $brand-primary;

    &:hover {
        text-decoration: none;
    }

    &.link-secondary {
        color: $brand-secondary;
    }
}

// This is legacy code, needs to once we refactor rule-engine component and remove semantic-ui
@font-face {
    font-family: 'Icons';
    src: url("../view/components/rule-engine/fonts/icons.eot");
    src: url("../view/components/rule-engine/fonts/icons.eot?#iefix") format('embedded-opentype'), url("../view/components/rule-engine/fonts/icons.woff2") format('woff2'), url("../view/components/rule-engine/fonts/icons.woff") format('woff'), url("../view/components/rule-engine/fonts/icons.ttf") format('truetype'), url("../view/components/rule-engine/fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

// TODO: this have to gon once we have our select component
select {
    -webkit-appearance: none;
    outline: none;
    background: $white url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSI1cHgiIHZpZXdCb3g9IjAgMCAxMCA1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgICAgICAgPHRpdGxlPlNsaWNlIDE8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoIEJldGEuPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPHBvbHlnb24gaWQ9IlRyaWFuZ2xlLTEiIGZpbGw9IiMwMDAwMDAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUuMDAwMDAwLCAyLjUwMDAwMCkgc2NhbGUoMSwgLTEpIHRyYW5zbGF0ZSgtNS4wMDAwMDAsIC0yLjUwMDAwMCkgIiBwb2ludHM9IjEwIDUgMCA1IDUgMCI+PC9wb2x5Z29uPiAgICA8L2c+PC9zdmc+) no-repeat center right;
    border: none;
    border-bottom: solid 1px $gray-light;
    border-radius: 0;
    font-family: $body-text;
    font-size: $body-font-size-base;
    padding: rem-cal(5px) rem-cal(50px) rem-cal(5px) 0;
    position: relative;
}

// TODO: we need a file for this classes
.form-group {
    margin: $basic-padding 0;

    .ui-dialog-content &:first-child {
        margin-top: 0;
    }

    .ui-dialog-content &:last-child {
        margin-bottom: 0;
    }
}