@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(./primeng.min.css);
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 910px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 910px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #0E80CB;
  font-weight: normal;
}

h1 {
  font-size: 2.76923rem;
}

h2 {
  font-size: 2.30769rem;
}

h3 {
  font-size: 1.84615rem;
}

h4 {
  font-size: 1.38462rem;
}

h5 {
  font-size: 1.07692rem;
}

h6 {
  font-size: 0.92308rem;
}

.md-underline {
  border-top: 1px solid #8A8A8A;
  height: 1px;
  margin-top: 4px;
  position: relative;
  width: 100%;
}

.is-disabled .md-underline {
  border-top: 1px solid #C5C5C5;
}

.md-underline-ripple {
  background-color: #CB3927;
  height: 2px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: opacity 250ms;
  width: 100%;
  z-index: 1;
}

.md-underline-ripple.md-focused {
  opacity: 1;
}

.is-disabled .md-underline-ripple.md-focused {
  opacity: 0;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -khtml-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -khtml-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Shadows */
.ui-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("images/ui-icons_222222_256x240.png");
}

.ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url("images/ui-icons_222222_256x240.png");
}

.ui-state-default .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
  background-image: url("images/ui-icons_454545_256x240.png");
}

.ui-state-highlight .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url("images/ui-icons_cd0a0a_256x240.png");
}

/* positioning */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-off {
  background-position: -96px -144px;
}

.ui-icon-radio-on {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start, .ui-icon-seek-first {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

input, select, textarea, button {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}

/* Component containers
----------------------------------*/
.ui-widget-content {
  background: #fff;
  color: #161616;
}

.ui-widget-content a {
  color: #161616;
}

/* Interaction states
----------------------------------*/
#field-default-state, .ui-state-default {
  border: solid 1px #C5C5C5;
  background: #fff;
  font-weight: normal;
  color: #161616;
}

#field-hover-state, .ui-dropdown:not(.ui-state-disabled):hover, .ui-dropdown:not(.ui-state-disabled):active, .ui-inputtext:hover, .ui-inputtext:focus {
  border: solid 1px #0E80CB;
  background: #fff;
  color: #161616;
}

#field-disabled-state, .ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled, .ui-inputtext:disabled {
  background-image: none;
  border: solid 1px #E3E4E6;
  background: #fff;
  color: #C5C5C5;
}

#ui-hover-state, .ui-state-hover,
.ui-state-focus, .ui-dropdown-panel .ui-dropdown-item:hover {
  background: #ECEDEE;
  color: #161616;
}

.ui-state-default a {
  color: #161616;
  text-decoration: none;
}

.ui-state-default a:link, .ui-state-default a:visited {
  color: #161616;
  text-decoration: none;
}

.ui-state-hover a {
  color: #212121;
  text-decoration: none;
}

.ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active .ui-widget-header .ui-state-active {
  border: solid 1px #0E80CB;
  background: #0E80CB;
  color: #161616;
}

.ui-state-active a {
  color: #161616;
  text-decoration: none;
}

.ui-state-active a:link, .ui-state-active a:visited {
  color: #161616;
  text-decoration: none;
}

.ui-widget :active {
  outline: none;
}

/* Interaction Cues
----------------------------------*/
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #0E80CB;
  color: #fff;
}

.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #fff;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #f44336;
  background: #f5554a;
  color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* Overlays */
.ui-widget-overlay {
  background: #1f2226;
  opacity: .60;
  filter: Alpha(Opacity=60);
}

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #1f2226;
  opacity: .60;
  filter: Alpha(Opacity=60);
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/*
* jQuery UI Resizable 1.8.16
*
* Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Resizable#theming
*/
.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/*
* jQuery UI Selectable 1.8.16
*
* Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Selectable#theming
*/
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/*
 * jQuery UI Accordion 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
.ui-accordion .ui-accordion-header {
  background: #f6f7f9;
  border-top: 1px solid #d9d9d9;
}

.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em .7em;
  font-weight: bold;
}

.ui-accordion .ui-accordion-header.ui-state-hover {
  background: #ededf0;
}

.ui-accordion .ui-accordion-header.ui-state-active {
  background: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.ui-accordion .ui-accordion-content.ui-widget-content {
  border: 0 none;
}

/* Tabview */
.ui-tabview.ui-widget-content {
  border: 0px none;
}

.ui-tabview:not(.ui-ribbon) .ui-tabview-nav {
  background: transparent;
}

.ui-tabview .ui-tabview-nav > li.ui-state-default {
  background: #f6f7f9;
}

.ui-tabview .ui-tabview-nav > li.ui-state-default.ui-state-hover {
  background: #ededf0;
}

.ui-tabview .ui-tabview-nav > li.ui-state-default.ui-state-active {
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}

/*
 * jQuery UI Button 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
  position: relative;
  text-align: left;
  background: #838688;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px !important;
  height: 21px  !important;
  cursor: default;
  background: url("images/slider_handles.png") 0 0 no-repeat;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #14a4ff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.ui-slider .ui-slider-handle.ui-state-active {
  background-position: -17px 0;
}

.ui-slider-horizontal {
  height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -3px !important;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.2em !important;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.ui-progressbar .ui-progressbar-value {
  border: 1px solid #3f94e9;
  background: #8ec5fc;
}

.ui-progressbar .ui-progressbar-label {
  color: #222222;
}

/* InputSwitch */
.ui-inputswitch-on {
  background: #186ba0 !important;
  color: #ffffff !important;
}

.ui-paginator .ui-paginator-page.ui-state-active {
  background: #186ba0;
  color: #ffffff;
  border-color: #156090;
}

/* DataTable  */
.ui-datatable th {
  font-weight: bold;
}

.ui-datatable th.ui-state-default {
  background: #ebedf0;
  border-color: #d9d9d9;
}

.ui-datatable th.ui-state-hover {
  background: #d3d5d8;
  border-color: #d9d9d9;
}

.ui-datatable th.ui-state-active {
  background: #186ba0;
  color: #ffffff;
}

.ui-datatable-odd {
  background-color: #fafafb;
}

.ui-datatable-rowordering.ui-state-active {
  background: #14a4ff none repeat scroll 0 0;
}

.ui-datatable tbody > tr.ui-widget-content {
  border-color: #d9d9d9;
}

/* Panel */
.ui-panel.ui-widget {
  padding: 0;
}

.ui-panel.ui-widget .ui-panel-titlebar {
  border-width: 0 0 1px 0;
}

.ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
  -moz-border-radius-bottom-left: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottom-right: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui-panel.ui-widget .ui-panel-titlebar-icon span {
  position: relative;
  top: 1px;
}

/* TreeTable */
.ui-treetable th {
  font-weight: bold;
}

.ui-treetable th.ui-state-default {
  background: #ebedf0;
  border-color: #d9d9d9;
}

.ui-treetable th.ui-state-hover {
  background: #d3d5d8;
  border-color: #d9d9d9;
}

.ui-treetable th.ui-state-active {
  background: #186ba0;
  color: #ffffff;
}

.ui-treetable .ui-treetable-toggler {
  margin-top: 2px;
}

/* ButtonSet */
.ui-togglebutton.ui-button.ui-state-default, .ui-selectbutton .ui-button.ui-state-default {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}

.ui-togglebutton.ui-button.ui-state-hover, .ui-togglebutton.ui-button.ui-state-focus {
  border: 1px solid #c0c0c0;
  background: #eeeeee;
  font-weight: normal;
  color: #212121;
}

.ui-selectbutton .ui-button.ui-state-hover, .ui-selectbutton .ui-button.ui-state-focus {
  border: 1px solid #c0c0c0;
  background: #eeeeee;
  font-weight: normal;
  color: #212121;
}

.ui-togglebutton.ui-button.ui-state-active, .ui-selectbutton .ui-button.ui-state-active {
  border: 1px solid #156090;
  background: #186ba0;
  color: #FFFFFF;
}

/* Growl */
.ui-growl-item-container.ui-state-highlight.ui-growl-message-info {
  background-color: #2196f3;
  border-color: #2196f3;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
  background-color: #f44336;
  border-color: #f44336;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-warn {
  background-color: #FFB300;
  border-color: #FFB300;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* TabMenu */
.ui-tabmenu {
  border: 0 none;
}

.ui-tabmenu .ui-tabmenu-nav {
  background: none;
}

.ui-tabmenu .ui-tabmenu-nav > li.ui-state-default {
  background: #f6f7f9;
}

.ui-tabmenu .ui-tabmenu-nav > li.ui-state-default.ui-state-hover {
  background: #ededf0;
}

.ui-tabmenu .ui-tabmenu-nav > li.ui-state-default.ui-state-active {
  background: #ffffff;
  font-weight: normal;
  color: #555555;
}

/* Menus */
.ui-menu {
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
  background: #f6f7f9 0 0 repeat-x;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  /* W3C */
}

.ui-menu .ui-menu-child {
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
  background: #f6f7f9 0 0 repeat-x;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9), color-stop(100%, #ebedf0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  /* W3C */
}

.ui-menu a.ui-state-hover {
  background-color: #a6a6a6;
  color: #ffffff;
}

/* PanelMenu */
.ui-panelmenu .ui-panelmenu-header.ui-state-active {
  border-color: #156090;
  background: #186ba0;
  color: #FFFFFF;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  border-color: #156090;
  background: #186ba0;
  color: #FFFFFF;
}

/* DatePicker */
.ui-datepicker.ui-widget {
  padding: 0;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.ui-datepicker.ui-widget table {
  margin: 0;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td {
  border-bottom: 1px solid rgba(213, 213, 213, 0.5);
  padding: 0;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar tr:last-child td {
  border-bottom: 0 none;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
  background-color: #f6f8fa;
  padding: 8px;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a {
  border: 0 none;
  text-align: center;
  padding: 8px;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
  background-color: #d6d6d6;
  color: #212121;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background-color: #186ba0;
  color: #ffffff;
}

.ui-datepicker.ui-widget .ui-timepicker {
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

/* Steps */
.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
  color: #ffffff;
}

.ui-autocomplete {
  background-color: #fff;
  border: solid 1px #C5C5C5;
  border-radius: 2px;
}

.ui-autocomplete:hover {
  border: solid 1px #0E80CB;
}

.ui-autocomplete:hover .fa {
  color: #0E80CB;
}

.ui-inputwrapper-focus .ui-autocomplete {
  border: solid 1px #0E80CB;
}

.ui-autocomplete .ui-button.ui-autocomplete-dropdown {
  height: 32px;
}

.ui-autocomplete .ui-button.ui-autocomplete-dropdown.ui-state-default {
  box-shadow: none;
  background: none;
}

.ui-autocomplete .ui-inputtext {
  border: none;
}

.ui-autocomplete .ui-inputtext::-ms-clear {
  display: none;
}

.ui-autocomplete .ui-inputtext .ui-corner-all {
  border-radius: 2px;
}

.ui-autocomplete-panel {
  z-index: 1;
}

.ui-autocomplete-panel .ui-autocomplete-list {
  padding: 0;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
  margin: 0;
  overflow-wrap: break-word;
  padding: 8px;
  word-wrap: break-word;
}

.ui-autocomplete-panel .ui-autocomplete-list-item.ui-corner-all {
  border-radius: 0;
}

.ui-button {
  height: 32px;
  margin-right: 0;
  outline: none;
}

.ui-button:not(.ui-state-disabled).ui-state-default {
  background: #fff;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button:not(.ui-state-disabled):hover {
  background: #fff;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button:not(.ui-state-disabled).ui-state-focus {
  background: #fff;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button:not(.ui-state-disabled):active {
  background: #fff;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button:not(.ui-state-disabled):disabled {
  background: #ECEDEE;
  color: #C5C5C5;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[flat].ui-state-default {
  background: transparent;
  color: #0E80CB;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[flat]:hover {
  background: #ECEDEE;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[flat].ui-state-focus {
  background: #ECEDEE;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[flat]:active {
  background: transparent;
  color: #161616;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[flat]:disabled {
  background: transparent;
  color: #C5C5C5;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[primary].ui-state-default {
  background: #0E80CB;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button[primary]:hover {
  background: #0b629b;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button[primary].ui-state-focus {
  background: #0b629b;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button[primary]:active {
  background: #07446c;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button[primary]:disabled {
  background: #dbeffd;
  color: #7cc6f6;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[secondary].ui-state-default {
  background: #CB3927;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button[secondary]:hover {
  background: #a02d1f;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button[secondary].ui-state-focus {
  background: #a02d1f;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-button[secondary]:active {
  background: #752117;
  color: #fff;
  border: solid 1px transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-button[secondary]:disabled {
  background: #fdf5f4;
  color: #eca79f;
  border: solid 1px transparent;
  box-shadow: none;
}

.ui-button[iconButton] {
  border-radius: 16px;
  border: none;
  transition: background-color 250ms;
  width: 32px;
}

.ui-button[iconButton].inverse {
  color: #fff;
}

.ui-button[iconButton].ui-state-default {
  background: none;
  box-shadow: none;
}

.ui-button[iconButton]:not([disabled]):hover {
  background: rgba(22, 22, 22, 0.1);
}

.ui-button[iconButton][disabled] {
  color: #161616;
  opacity: 0.25;
}

.ui-button-text-only .ui-button-text {
  padding: 0 16px;
}

.ui-button-text-icon-left .ui-button-text {
  padding: 0 16px 0 28px;
}

.ui-button-text-icon-right .ui-button-text {
  padding: 0 28px 0 16px;
}

/* Checkbox and Radio */
#check-icon, .ui-chkbox .ui-chkbox-icon, .ui-radiobutton .ui-radiobutton-icon {
  align-items: center;
  display: flex;
  height: 12px;
  justify-content: center;
  margin: 0;
  width: 12px;
}

.ui-chkbox .ui-chkbox-icon {
  color: #fff;
  font-size: 12px;
}

.ui-chkbox .ui-chkbox-box {
  border-radius: 2px;
  height: 14px;
  width: 14px;
}

.ui-chkbox .ui-chkbox-box.ui-state-default {
  background: #fff;
  border: solid 1px #161616;
}

.ui-chkbox .ui-chkbox-box.ui-state-active {
  border: solid 1px #161616;
  background: #0E80CB;
}

.ui-chkbox .ui-chkbox-box.ui-state-disabled {
  border: solid 1px #C5C5C5;
  background: #ECEDEE;
}

.ui-chkbox .ui-chkbox-box.ui-state-disabled .ui-chkbox-icon {
  color: #C5C5C5;
}

.ui-chkbox .ui-chkbox-box:not(.ui-state-active):not(.ui-state-disabled):hover {
  background: #fff;
  border: solid 1px #161616;
}

p-checkbox[disabled="true"] .ui-chkbox-label {
  color: #C5C5C5;
}

.ui-radiobutton .ui-radiobutton-icon {
  color: #0E80CB;
  font-size: 8px;
}

.ui-radiobutton .ui-radiobutton-box {
  height: 14px;
  width: 14px;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-default {
  background: #fff;
  border: solid 1px #161616;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background: #fff;
  border: solid 1px #0E80CB;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-disabled {
  background: #ECEDEE;
  border: solid 1px #C5C5C5;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-disabled .ui-radiobutton-icon {
  color: #C5C5C5;
}

.ui-radiobutton .ui-radiobutton-box:not(.ui-state-active):not(.ui-state-disabled):hover {
  background: #fff;
  border: solid 1px #161616;
}

.ui-radiobutton-label {
  margin-left: 0;
}

p-radiobutton[disabled="true"] .ui-radiobutton-label {
  color: #C5C5C5;
}

/*
 * jQuery UI Dialog 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog {
  overflow: inherit;
}

.ui-dialog.ui-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
  padding: 16px;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
  float: none;
}

.ui-dialog .ui-dialog-content {
  overflow: inherit;
}

.ui-dialog .ui-dialog-title {
  font-weight: bold;
  margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-titlebar-minimize,
.ui-dialog .ui-dialog-titlebar-maximize {
  margin-top: 0;
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover,
.ui-dialog .ui-dialog-titlebar-minimize.ui-state-hover,
.ui-dialog .ui-dialog-titlebar-maximize.ui-state-hover {
  background: none;
}

/* DropDown */
.ui-dropdown:not(.ui-state-disabled):hover .fa, .ui-dropdown:not(.ui-state-disabled):active .fa {
  color: #0E80CB;
}

.ui-dropdown:not(.ui-state-disabled):hover .ui-dropdown-trigger, .ui-dropdown:not(.ui-state-disabled):active .ui-dropdown-trigger {
  border-color: #0E80CB;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger {
  border-left: solid 1px #E3E4E6;
  color: #C5C5C5;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-label:hover {
  color: #C5C5C5;
}

.ui-dropdown .ui-dropdown-trigger {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 32px;
}

.ui-dropdown .ui-dropdown-trigger .fa {
  margin: 0;
}

.ui-dropdown .ui-dropdown-trigger:hover, .ui-dropdown .ui-dropdown-trigger:focus {
  background-color: #fff;
  border-color: #0E80CB;
}

.ui-dropdown .ui-dropdown-trigger:hover .fa, .ui-dropdown .ui-dropdown-trigger:focus .fa {
  color: #0E80CB;
}

.ui-dropdown .ui-dropdown-label {
  border: 0;
  line-height: 32px;
  padding-right: 40px;
}

.ui-dropdown-panel .ui-dropdown-filter-container .fa {
  top: 14px;
}

.ui-dropdown-panel .ui-dropdown-list {
  padding: 0;
}

.ui-dropdown-panel .ui-dropdown-item {
  margin: 0;
  padding: 8px;
}

.ui-dropdown-panel .ui-dropdown-item.ui-corner-all {
  border-radius: 0;
}

/* Inputs */
.ui-inputtext {
  height: 32px;
  padding: 0 8px;
  transition: 0.1s;
}

.ui-inputtext::-webkit-input-placeholder {
  color: rgba(91, 91, 91, 0.4);
}

.ui-inputtext:-moz-placeholder {
  color: rgba(91, 91, 91, 0.4);
}

.ui-inputtext::-moz-placeholder {
  color: rgba(91, 91, 91, 0.4);
}

.ui-inputtext:-ms-input-placeholder {
  color: rgba(91, 91, 91, 0.4);
}

/* Validation */
.ui-inputtext.ng-dirty.ng-invalid,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border-color: #CB3927;
}

.ui-toolbar {
  align-items: center;
  background-color: #0E80CB;
  color: #fff;
  display: flex;
  height: 60px;
  padding: 0 16px;
}

.ui-toolbar.ui-corner-all {
  border-radius: 0;
}

.ui-toolbar .btn {
  color: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  color: #161616;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  line-height: 1.5em;
}

a {
  color: #0E80CB;
}

a:hover {
  text-decoration: none;
}

a.link-secondary {
  color: #CB3927;
}

@font-face {
  font-family: 'Icons';
  src: url("../view/components/rule-engine/fonts/icons.eot");
  src: url("../view/components/rule-engine/fonts/icons.eot?#iefix") format("embedded-opentype"), url("../view/components/rule-engine/fonts/icons.woff2") format("woff2"), url("../view/components/rule-engine/fonts/icons.woff") format("woff"), url("../view/components/rule-engine/fonts/icons.ttf") format("truetype"), url("../view/components/rule-engine/fonts/icons.svg#icons") format("svg");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

.form-group {
  margin: 8px 0;
}

.form-group:last-child {
  margin-bottom: 0;
}

.ui-dialog-content .form-group:first-child {
  margin-top: 0;
}

.ui-dialog-content .form-group:last-child {
  margin-bottom: 0;
}

.form-group__two-cols > *:first-child {
  display: inline-block;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .form-group__two-cols {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .form-group__two-cols > *:first-child {
    margin-bottom: 0;
  }
}
