@import "variables";
@import "mixins";
@import "grids";
@import "typography";
@import "material-design";

// PRIME NG
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./primeng.min.css";
@import "primeng-theme/base";

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    color: $black;
    font-family: $body-text;
    font-size: $body-font-size-base;
    height: 100%;
    margin: 0;
    padding: 0;
}

// For the login component user photo background
body {
    background-repeat: no-repeat;
    background-position: top center;
}

p {
    line-height: 1.5em;
}

a {
    color: $brand-primary;

    &:hover {
        text-decoration: none;
    }

    &.link-secondary {
        color: $brand-secondary;
    }
}

// This is legacy code, needs to once we refactor rule-engine component and remove semantic-ui
@font-face {
    font-family: 'Icons';
    src: url("../view/components/rule-engine/fonts/icons.eot");
    src: url("../view/components/rule-engine/fonts/icons.eot?#iefix") format('embedded-opentype'), url("../view/components/rule-engine/fonts/icons.woff2") format('woff2'), url("../view/components/rule-engine/fonts/icons.woff") format('woff'), url("../view/components/rule-engine/fonts/icons.ttf") format('truetype'), url("../view/components/rule-engine/fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

// TODO: we need a file for this classes
.form-group {
    margin: $basic-padding 0;

    .ui-dialog-content &:first-child {
        margin-top: 0;
    }

    .ui-dialog-content &:last-child {
        margin-bottom: 0;
    }
}

.form-group__two-cols {
    align-items: center;
    display: flex;
    justify-content: space-between;
}