@use "variables" as *;

:host {
    background: $white;
    display: flex;
    height: 100%;
    overflow: auto;
    padding: $spacing-4;

    .dot-experiment {
        display: flex;
        gap: $spacing-3;
        flex-direction: column;
        width: 100%;

        .dot-experiment__actions {
            justify-content: space-between;
            display: flex;
        }
    }
}
