@use "variables" as *;

:host {
    background: $white;
    display: flex;
    height: 100%;
    overflow: auto;
    padding: $spacing-4;

    .dot-experiment {
        &__wrapper {
            display: flex;
            gap: 15px;
            flex-direction: column;
            width: 100%;
        }

        &__actions {
            justify-content: space-between;
            display: flex;
        }
    }
}
