<div class="field">
    <label dotFieldRequired for="contentType">
        {{ 'contenttypes.field.properties.relationships.contentType.label' | dm }}
    </label>
    <dot-workflow
        [(ngModel)]="contentType"
        [disabled]="editing"
        [placeholder]="'contenttypes.field.properties.relationship.new.content_type.placeholder' | dm"
        (onChange)="onContentTypeChange($event)"
        id="contentType"
        class="w-full" />
</div>
<div class="field">
    <label for="cardinality">{{ 'contenttypes.field.properties.relationships.label' | dm }}</label>
    <dot-cardinality-selector
        (switch)="cardinalityChanged($event)"
        [value]="cardinality"
        [disabled]="editing"
        id="cardinality" />
</div>
