<div class="field">
    <label dotFieldRequired for="contentType">
        {{ 'contenttypes.field.properties.relationships.contentType.label' | dm }}
    </label>
    <p-select
        [appendTo]="'body'"
        (onChange)="triggerChanged()"
        [(ngModel)]="contentType"
        [disabled]="editing"
        [filter]="true"
        [loading]="loading"
        [options]="contentTypes"
        [placeholder]="
            'contenttypes.field.properties.relationship.new.content_type.placeholder' | dm
        "
        filterBy="name"
        id="contentType"
        optionLabel="name"
        styleClass="w-full" />
</div>
<div class="field">
    <label for="cardinality">{{ 'contenttypes.field.properties.relationships.label' | dm }}</label>
    <dot-cardinality-selector
        (switch)="cardinalityChanged($event)"
        [value]="cardinality"
        [disabled]="editing"
        id="cardinality" />
</div>
