<div class="field">
    <label dotFieldRequired for="contentType">
        {{ 'contenttypes.field.properties.relationships.contentType.label' | dm }}
    </label>
    <dot-searchable-dropdown
        (switch)="triggerChanged()"
        (filterChange)="getContentTypeList($event)"
        (pageChange)="getContentTypeList($event.filter, $event.first)"
        [(ngModel)]="contentType"
        [data]="contentTypeCurrentPage | async"
        [disabled]="editing"
        [pageLinkSize]="paginatorService.maxLinksPage"
        [placeholder]="
            'contenttypes.field.properties.relationship.new.content_type.placeholder' | dm
        "
        [rows]="paginatorService.paginationPerPage"
        [totalRecords]="paginatorService.totalRecords"
        id="contentType"
        labelPropertyName="name"
        width="100%" />
</div>
<div class="field">
    <label for="cardinality">{{ 'contenttypes.field.properties.relationships.label' | dm }}</label>
    <dot-cardinality-selector
        (switch)="cardinalityChanged($event)"
        [value]="cardinality"
        [disabled]="editing"
        id="cardinality" />
</div>
