@if (fieldTab) {
    <div
        (blur)="changeLabel($event)"
        (keydown.enter)="changeLabel($event)"
        [textContent]="label"
        class="no-drag z-10 mr-18 h-8 min-w-25 cursor-text overflow-hidden rounded-t-[5px] border border-gray-700 border-b-gray-200 px-2 text-center text-sm leading-8 wrap-break-word uppercase focus:outline-none"
        [dotMaxlength]="255"
        contenteditable="true"></div>

    <p-button
        (click)="removeItem($event)"
        [pTooltip]="'contenttypes.action.delete' | dm"
        class="absolute top-0 right-0"
        icon="pi pi-trash"
        severity="danger"
        [text]="true"
        [rounded]="true"
        size="small" />
    <hr class="absolute bottom-0 m-0 h-px w-full border-0 bg-gray-700" />
}
