<dot-searchable-dropdown
    (switch)="triggerChanged($event.relationship)"
    (filterChange)="handleFilterChange($event)"
    (pageChange)="handlePageChange($event)"
    [data]="currentPage | async"
    [pageLinkSize]="dotPaginatorService.maxLinksPage"
    [rows]="dotPaginatorService.paginationPerPage"
    [totalRecords]="dotPaginatorService.totalRecords"
    [placeholder]="'contenttypes.field.properties.relationship.existing.placeholder' | dm"
    width="100%"
    labelPropertyName="label" />
