@use "variables" as *;

:host {
    display: flex;
    flex-direction: row;
    min-height: $navigation-item-height;
    align-items: center;
    background-color: $white;
    color: $color-gray-500;
    font-size: $font-size-medium;
    column-gap: $spacing-3;
    border-bottom: 1px solid $color-gray-300;

    a {
        color: $color-gray-500;
        font-weight: $font-weight-regular-bold;

        &:hover {
            background-color: $color-gray-200;
        }
    }
}
