@use "variables" as *;

.wrapper {
    padding: 0 $spacing-5 0 $spacing-5;
    min-height: $experiment-header-height;
    background-color: $white;
    color: $black;
    font-size: $font-size-x-large;
    border-bottom: 1px solid $gray-lighter;

    a {
        color: $gray;
        font-weight: $font-weight-regular-bold;

        i {
            font-size: $md-icon-size-extra-big;
        }
    }
}
