@import "variables";

:host {
    ::ng-deep {
        .ui-autocomplete-panel {
            width: auto !important;
        }

        .ui-autocomplete-list-item {
            white-space: nowrap;
        }
    }

    dot-field-helper {
        position: absolute;
        right: 0;
        top: $basic-padding * 3;
        z-index: 1;
    }

}

.dot-page-selector__item {
    display: grid;
    grid-column-gap: $basic-padding;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-url {
        grid-column: 1;
        width: 190px;
    }

    &-host {
        grid-column: 2;
        width: 190px;
        text-align: right;
    }
}
