@import "variables";

:host {
    ::ng-deep {
        .ui-autocomplete-panel {
            width: auto !important;
        }

        .ui-autocomplete-list-item {
            white-space: nowrap;
        }
    }

    .dot-page-selector__hint{
        position: absolute;
        right: 0;
        top: $basic-padding * 3;
        z-index: 1;
    }
}
