.main-container {
    background: linear-gradient(135deg, #eff6ff 0%, #fff 50%, #faf5ff 100%), #fff;
}

.p-card-body {
    padding: 0 !important;
}

.card {
    width: 324px;
    display: flex;
    flex-direction: column;
    height: 220px;
    padding: 34px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;

    border-radius: 16px;
    background: var(--Color-Neutrals-White, #fff);
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.check-circle {
    position: absolute;
    top: 15px;
    right: 15px;
    visibility: hidden;
}

.card:hover {
    border: 1px solid #426bf0;
    border-radius: 16px;

    .check-circle {
        visibility: visible;
    }
}

.heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: -0.31px;
    text-align: center;
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.44px;
    text-align: center;
}

.card-heading {
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -0.31px;
    text-align: center;
}
