@use "variables" as *;

:host {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
}

:host,
markdown {
    font-size: 1em;
    line-height: 1.5em;

    &::ng-deep {
        h1,
        .h1 {
            font-size: 4.21428571em;
            line-height: 1.06779661em;
            margin-top: 0.3559322em;
            margin-bottom: 0.7118644em;
        }
        h2,
        .h2 {
            font-size: 2.64285714em;
            line-height: 1.13513514em;
            margin-top: 0.56756757em;
            margin-bottom: 0.56756757em;
        }
        h3,
        .h3 {
            font-size: 1.64285714em;
            line-height: 1.82608696em;
            margin-top: 0.91304348em;
            margin-bottom: 0em;
        }
        h4,
        .h4 {
            font-size: 1em;
            line-height: 1.5em;
            margin-top: 1.5em;
            margin-bottom: 0em;
        }
        h5,
        .h5 {
            font-size: 1em;
            line-height: 1.5em;
            margin-top: 1.5em;
            margin-bottom: 0em;
        }
        p,
        ul,
        ol,
        pre,
        table,
        blockquote {
            margin-top: 0em;
            margin-bottom: 1.5em;

            // markdown component render a <p> inside the <li> tags
            &::ng-deep markdown p {
                margin: 0;
                padding: 0;
            }
        }
        ul ul,
        ol ol,
        ul ol,
        ol ul {
            margin-top: 0em;
            margin-bottom: 0em;
        }

        /* Let's make sure all's aligned */
        hr,
        .hr {
            border: 1px solid;
            margin: -1px 0;
        }
        a,
        b,
        i,
        strong,
        em,
        small,
        code {
            line-height: 0;
        }
        sub,
        sup {
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }
        sup {
            top: -0.5em;
        }
        sub {
            bottom: -0.25em;
        }
    }
}

.dot-onboarding {
    flex: 1;
    overflow: auto;

    &__content {
        max-width: 80rem;
        margin: 0 auto;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        gap: $spacing-3;
    }

    &__title {
    }

    &__description {
    }

    &__section-title {
    }

    &__prerequisites {
    }

    &__prerequisites-list {
    }

    &__progress {
        background-color: $white;
        border-top: 1px solid $color-palette-gray-200;
        z-index: 5;
        flex-shrink: 0;
    }

    &__progress-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
    }

    &__progress-ring {
        display: flex;
        gap: $spacing-1;
        align-items: center;
    }
}

.dot-step {
    display: flex;
    gap: $spacing-4;

    &__video {
        width: 640px;
        height: 360px;
        background-color: $color-palette-gray-200;
        flex-shrink: 0;
    }

    &__progress-count {
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }

    &__progress-ring {
        display: flex;
        flex-direction: column;
        gap: $spacing-2;
    }

    &__body {
    }

    &__section {
    }

    &__command {
    }

    &__command-description {
    }

    &__troubleshooting {
    }

    &__problem {
    }
}
