<div class="dot-onboarding">
    <div class="dot-onboarding__content">
        <section class="dot-onboarding__intro">
            <h1 class="dot-onboarding__title">{{ content.title }}</h1>
            <p class="dot-onboarding__description">{{ content.description }}</p>

            <!-- <div class="dot-onboarding__prerequisites" *ngIf="content.prerequisites.length">
            <h2 class="dot-onboarding__section-title">Prerequisites</h2>

            <ul class="dot-onboarding__prerequisites-list">
                <li *ngFor="let item of content.prerequisites">
                    <i class="pi pi-check-circle"></i>
                    <span>{{ item }}</span>
                </li>
            </ul>
        </div> -->
        </section>

        <section class="dot-onboarding__steps">
            <p-accordion [multiple]="false">
                <p-accordionTab *ngFor="let step of content.steps">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center w-full">
                            <span class="font-bold white-space-nowrap">
                                {{ step.number + '. ' + step.title }}
                            </span>

                            <div class="flex align-items-center gap-2">
                                <p-tag
                                    [class]="
                                        isStepCompleted(step.id)
                                            ? 'sm p-tag-success'
                                            : 'sm p-tag-info'
                                    "
                                    [icon]="
                                        isStepCompleted(step.id)
                                            ? 'pi pi-check-circle'
                                            : 'pi pi-spinner'
                                    "
                                    [value]="
                                        isStepCompleted(step.id) ? 'Completed' : 'In Progress'
                                    "></p-tag>
                                <button
                                    type="button"
                                    pButton
                                    size="small"
                                    [outlined]="true"
                                    [icon]="isStepCompleted(step.id) ? 'pi pi-undo' : 'pi pi-check'"
                                    [label]="
                                        isStepCompleted(step.id)
                                            ? 'Mark as Incomplete'
                                            : 'Mark as Complete'
                                    "
                                    (click)="toggleStepCompletion(step.id)"></button>
                            </div>
                        </div>
                    </ng-template>
                    <div class="dot-step">
                        <div class="dot-step__video"></div>
                        <div class="dot-step__body">
                            <markdown *ngIf="step.description" [data]="step.description"></markdown>

                            <ng-container *ngIf="step.notes?.length">
                                <h3>Notes</h3>
                                <ul>
                                    <li *ngFor="let note of step.notes">
                                        <markdown [data]="note"></markdown>
                                    </li>
                                </ul>
                            </ng-container>

                            <div class="dot-step__section" *ngIf="step.commands?.length">
                                <h3>Commands</h3>
                                <div
                                    class="dot-step__command"
                                    *ngFor="let command of step.commands">
                                    <p class="dot-step__command-description">
                                        {{ command.description }}
                                    </p>

                                    <ng-template #buttonTemplate>
                                        <!-- <p-button size="small" icon="pi pi-copy" [text]="true" /> -->
                                        <dot-button-copy />
                                    </ng-template>
                                    <markdown
                                        clipboard
                                        [data]="formatCommand(command)"
                                        [clipboardButtonTemplate]="buttonTemplate"></markdown>
                                </div>
                            </div>

                            <div class="dot-step__section" *ngIf="step.explanation">
                                <h3>Explanation</h3>
                                <markdown [data]="step.explanation"></markdown>
                            </div>

                            <div class="dot-step__section" *ngIf="step.verification?.length">
                                <h3>Verification</h3>
                                <ul>
                                    <li *ngFor="let item of step.verification">
                                        <markdown [data]="item"></markdown>
                                    </li>
                                </ul>
                            </div>

                            <div class="dot-step__section" *ngIf="step.troubleshooting?.length">
                                <h3>Troubleshooting</h3>
                                <div
                                    class="dot-step__troubleshooting"
                                    *ngFor="let item of step.troubleshooting">
                                    <p class="dot-step__problem">{{ item.problem }}</p>
                                    <ul>
                                        <li *ngFor="let solution of item.solutions">
                                            <markdown [data]="solution"></markdown>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </section>
    </div>
</div>

<section class="dot-onboarding__progress" aria-label="Progress tracker">
    <div class="dot-onboarding__progress-container">
        <div class="dot-onboarding__progress-left">
            <p class="dot-onboarding__current-title">
                <span class="dot-onboarding__progress-counter">
                    {{ currentStepPosition }}/{{ totalSteps }}
                </span>
                {{ currentStepLabel }}
            </p>
            <!-- <button type="button" pButton icon="pi pi-refresh" label="Reset Progress" (click)="resetProgress()"
                [disabled]="!hasProgress"></button> -->
        </div>

        <div class="dot-onboarding__progress-ring">
            <span class="dot-onboarding__progress-percentage">
                {{ progress | number: '1.0-0' }}%
            </span>
            <p-knob
                [(ngModel)]="progress"
                [readonly]="true"
                [size]="24"
                [strokeWidth]="4"
                valueTemplate=" "></p-knob>
        </div>
    </div>
</section>
