<div class="dot-onboarding">
    <div class="dot-onboarding__content">
        <section class="dot-onboarding__intro">
            <!-- <h1 class="dot-onboarding__title">{{ content.title }}</h1>
            <p class="dot-onboarding__description">{{ content.description }}</p> -->

            <!-- @if (content.prerequisites.length) {
            <div class="dot-onboarding__prerequisites">
                <h2 class="dot-onboarding__section-title">Prerequisites</h2>

                <ul class="dot-onboarding__prerequisites-list">
                    @for (item of content.prerequisites; track item) {
                    <li>
                        <i class="pi pi-check-circle"></i>
                        <span>{{ item }}</span>
                    </li>
                    }
                </ul>
            </div>
            } -->
        </section>

        <section class="dot-onboarding__steps">
            <p-accordion [activeIndex]="0" [multiple]="false">
                @for (step of content.steps; track step) {
                <p-accordionTab>
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center w-full">
                            <h2>{{ step.number + '. ' + step.title }}</h2>

                            <!-- <div class="flex align-items-center gap-2">
                                <p-tag
                                    [class]="
                                        isStepCompleted(step.id)
                                            ? 'sm p-tag-success'
                                            : 'sm p-tag-info'
                                    "
                                    [icon]="
                                        isStepCompleted(step.id)
                                            ? 'pi pi-check-circle'
                                            : 'pi pi-spinner'
                                    "
                                    [value]="
                                        isStepCompleted(step.id) ? 'Completed' : 'In Progress'
                                    "></p-tag>
                                <button
                                    type="button"
                                    pButton
                                    size="small"
                                    [outlined]="true"
                                    [icon]="isStepCompleted(step.id) ? 'pi pi-undo' : 'pi pi-check'"
                                    [label]="
                                        isStepCompleted(step.id)
                                            ? 'Mark as Incomplete'
                                            : 'Mark as Complete'
                                    "
                                    (click)="toggleStepCompletion(step.id)"></button>
                            </div> -->
                        </div>
                    </ng-template>
                    <div class="dot-step">
                        <div class="dot-step__video"></div>
                        @if (step.description) {
                            <markdown class="dot-step__description" [data]="step.description" />
                        }

                        @if (step.substeps?.length) {
                            <hr />
                        }

                        <div class="dot-step__substeps">
                            @if (step.substeps?.length) {
                                @for (substep of step.substeps; track substep) {
                                <div class="dot-step__substep">
                                    <div>
                                        <h3>{{ substep.explanation.title }}</h3>
                                        <markdown class="dot-step__substep-description"
                                            [data]="substep.explanation.description"></markdown>
                                    </div>
                                    <div>
                                        @if (substep.filePath) {
                                        <div class="dot-step__file-path">{{ substep.filePath }}</div>
                                        } @else if (substep.type === 'command') {
                                        <div class="dot-step__file-path">terminal</div>
                                        }
                                        <ng-template #buttonTemplate>
                                            <dot-button-copy />
                                        </ng-template>
                                        <markdown clipboard [data]="formatSubstep(substep)"
                                            [clipboardButtonTemplate]="buttonTemplate"></markdown>
                                    </div>
                                </div>
                                }
                            }
                        </div>

                    </div>
                </p-accordionTab>
                }
            </p-accordion>
        </section>
    </div>
</div>

<section class="dot-onboarding__progress" aria-label="Progress tracker">
    <div class="dot-onboarding__progress-container">
        <div class="dot-onboarding__progress-left">
            <p class="dot-onboarding__current-title">
                {{ currentStepLabel }}
            </p>
            <!-- <button type="button" pButton icon="pi pi-refresh" label="Reset Progress" (click)="resetProgress()"
                [disabled]="!hasProgress"></button> -->
        </div>

        <div class="dot-onboarding__progress-ring">
            <span class="dot-onboarding__progress-percentage">
                {{ progress | number: '1.0-0' }}%
            </span>
            <p-knob [(ngModel)]="progress" [readonly]="true" [size]="24" [strokeWidth]="4" valueTemplate=" "></p-knob>
        </div>
    </div>
</section>
