@import "../../../../scss/mixins";
@import "../../../../scss/variables";

md-sidenav-layout[fullscreen] {
  &.layout {
    top: 64px
  }
}

md-toolbar {
  font-family: $base-font-family !important;
  position: relative;
  z-index: 1;

  md-toolbar-row {
    justify-content: space-between;
  }

}



.toolbar__actions,
.toolbar__host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar__host {
  .md-underline {
    display: none;
  }

  // TODO: should we add a param for not hover state in the dot-select?
  .dot-select.is-active .dot-select__icon {
    color: $white;
  }
}