<md-toolbar color="primary">
    <div class="main-toolbar">
        <div class="host-selector">
            <button md-icon-button (click)="sideNav.toggle()">
                <md-icon class="md-24">menu</md-icon>
            </button>
            <h1>DotCMS</h1>
        </div>
        <dot-global-search></dot-global-search>
        <div class="user">freddy@dotcms.com</div>
        <div class='user'><a (click)='logout()'>{{logoutLabel}}</a></div>
    </div>
</md-toolbar>
<md-sidenav-layout fullscreen>
    <md-sidenav #sideNav mode="side" opened="true">
        <dot-main-nav></dot-main-nav>
    </md-sidenav>
    <route-view></route-view>
</md-sidenav-layout>