@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
  dot-toolbar-notifications {
    margin-right: 20px;
  }

  md-sidenav-layout[fullscreen] {
    top: 64px
  }

  md-toolbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    z-index: 1;

    .md-toolbar-layout {
      width: 100%;
    }
  }

  .toolbar__actions,
  .toolbar__host {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }

  .toolbar__logout {
    color: $white;
    cursor: pointer;
    font-size: rem-cal(14px);
  }

  .toolbar__title {
    font-size: 20px;
    margin: 0 0 0 10px;
    align-self: center;
  }
}