@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
  md-sidenav-layout[fullscreen] {
    top: 64px
  }

  md-toolbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    z-index: 1;

    .md-toolbar-layout {
      width: 100%;
    }
  }

  .toolbar__actions,
  .toolbar__host {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
  }

  .toolbar__host {
    .md-underline {
      display: none;
    }

    // TODO: should we add a param for not hover state in the dot-select?
    .dot-select.is-active .dot-select__icon {
      color: $white;
    }
  }
}