<!--TODO: make this md-toolbar a dot-component-->
<md-toolbar color="primary">
    <div class="toolbar__host">
        <button md-icon-button (click)="sideNav.toggle()">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <dot-site-selector-component></dot-site-selector-component>
    </div>
    <dot-global-search></dot-global-search>
    <div class="toolbar__actions">
        <dot-toolbar-notifications></dot-toolbar-notifications>
        <toolbar-user></toolbar-user>
        <toolbar-add-contentlet></toolbar-add-contentlet>
    </div>
</md-toolbar>
<md-sidenav-layout class="layout" fullscreen>
    <md-sidenav #sideNav mode="side" opened="true">
        <dot-main-nav></dot-main-nav>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-layout>
