@use "variables" as *;
@use "mixins";
@use "../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    align-items: center;
    display: flex;
}

h2 {
    margin: 0 spacing.$spacing-3 0 0;
    align-self: center;
    color: fonts.$font-color-base;
    font-size: fonts.$font-size-xl;
    font-weight: normal;
}
