@use "variables" as *;
@import "mixins";

:host {
    align-items: center;
    display: flex;
}

h2 {
    margin: 0 $spacing-3 0 0;
    align-self: center;
    color: $body-font-color;
    font-size: $font-size-xx-large;
    font-weight: normal;
}
