<div class="dot-service-integration-configuration__container">
    <div class="dot-service-integration-configuration__header">
        <dot-avatar
            [size]="112"
            [url]="serviceIntegration.iconUrl"
            [label]="serviceIntegration.name"
        ></dot-avatar>
        <div class="dot-service-integration-configuration__data">
            <span class="dot-service-integration-configuration__service-name">
                {{ serviceIntegration.name }}
            </span>
            <div class="dot-service-integration-configuration__service-key">
                {{ messagesKey['service.integration.key'] }}
                <dot-copy-button
                    [copy]="serviceIntegration.key"
                    [label]="serviceIntegration.key"
                ></dot-copy-button>
            </div>
            <span class="dot-service-integration-configuration__configurations"
                >{{
                    serviceIntegration.configurationsCount
                        ? serviceIntegration.configurationsCount +
                          ' ' +
                          messagesKey['service.integration.configurations']
                        : messagesKey['service.integration.no.configurations']
                }}
            </span>
            <div class="dot-service-integration-configuration__description">
                {{ serviceIntegration.description }}
            </div>
        </div>
        <dot-action-button
            class="action-header__primary-button"
            (click)="createConfiguration()"
        ></dot-action-button>
    </div>
    <div class="dot-service-integration-configuration__body">
        <div *ngIf="serviceIntegration.sites && serviceIntegration.sites.length; else noConfigurations">
            <div class="dot-service-integration-configuration__delete_all">
                <button
                    pButton
                    link
                    [label]="messagesKey['service.integration.confirmation.delete.all.button']"
                    icon="fa fa-trash-o"
                    (click)="deleteAllConfigurations()"
                ></button>
            </div>
            <div
                class="dot-service-integration-configuration__item"
                *ngFor="let site of serviceIntegration.sites"
                (click)="editConfiguration($event, site.id)"
            >
                <div class="dot-service-integration-configuration__name">
                    {{ site.name }}
                </div>
                <div class="dot-service-integration-configuration__host-key">
                    {{ messagesKey['service.integration.key'] }} {{ site.id }}
                </div>
                <dot-icon-button
                    icon="delete_outline"
                    (click)="deleteConfiguration($event, site)"
                ></dot-icon-button>
                <dot-icon-button
                    icon="edit"
                    (click)="editConfiguration($event, site.id)"
                ></dot-icon-button>
            </div>
        </div>

        <ng-template #noConfigurations>
            <div class="dot-service-integration-configuration__add-configurations">
                <div class="dot-service-integration-configuration__add-configurations-title">
                    {{ messagesKey['service.integration.add.configurations'] }}
                </div>
                <p class="dot-service-integration-configuration__add-configurations-description">
                    {{ messagesKey['service.integration.no.configurations.message'] }}
                </p>
                <button
                    pButton
                    secondary
                    [label]="messagesKey['service.integration.add.configurations.button']"
                    (click)="createConfiguration()"
                ></button>
            </div>
        </ng-template>
    </div>
</div>
