@use "variables" as *;

:host {
    font-size: 0.75rem;
    display: inline-flex;
}

a {
    align-items: center;
    border-radius: 2px;
    border: solid 1px $brand-secondary;
    color: $brand-secondary;
    display: inline-flex;
    line-height: 1em;
    padding: 0.25rem 6px 0.25rem $spacing-1;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $basic-speed ease, color $basic-speed ease;

    &:hover {
        background-color: $brand-secondary;
        color: $white;

        dot-icon {
            color: $white;
        }
    }
}

dot-icon {
    color: $brand-secondary;
    margin-right: $spacing-1;
    transition: color $basic-speed ease;
}
