@import "mixins";
@import "variables";

:host {
    cursor: move;
    display: flex;
    margin: 0 0 $basic-padding 0;
    padding: $basic-padding * 2;
    transition: border-left-color $basic-speed, box-shadow $basic-speed;
    background: $white;

    &:hover {
        box-shadow: $md-shadow-5;
        z-index: 1;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.field__icon {
    display: flex;
}

.field__properties {
    flex-grow: 1;
}

.field__name {
    color: black;
    line-height: $basic-padding * 3;
}

.field__name-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.field__attribute,
.field__variable {
    color: gray;
    font-size: $font-size-small;
    line-height: $font-size-small;
}

.field__attribute {
    margin-left: 26px;
    min-height: $font-size-small;
}

.field__actions {
    opacity: 0.25;
    transition: opacity $basic-speed;

    & > * {
        margin: 0 $basic-padding / 4;
    }

    :host:hover & {
        opacity: 1;
    }
}

dot-icon {
    margin-right: $basic-padding;
}
