@import "mixins";
@import "variables";

:host {
    border-left: solid 3px $gray-lighter;
    cursor: move;
    display: flex;
    margin: $basic-padding 0;
    padding: $basic-padding * 2;
    transition: border-left-color $basic-speed, box-shadow $basic-speed;

    &:hover {
        border-left-color: $brand-primary;
        box-shadow: $md-shadow-2;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.field__properties {
    flex-grow: 1;
}

.field__name {
    color: black;
}

.field__variable {
    color: gray;
    font-size: 11px;
}

.field__actions {
    opacity: 0.25;
    transition: opacity $basic-speed;
    
    & > * {
        margin: 0 $basic-padding / 2;
    }

    :host:hover & {
        opacity: 1;
    }
}

.field__icon {
    color: $gray;
    font-size: $basic-padding * 2;
    margin-right: $basic-padding * 2;
    text-align: center;
    width: $icon-size;
}