@import 'mixins';
@import 'variables';

::ng-deep .basetype-content.ui-dialog .ui-dialog-content .ui-autocomplete-panel {
    bottom: 36px !important;
    top: auto !important;
}

.content-type__edit-header {
    margin: $basic-padding * 3 0;
    display: flex;
    flex-shrink: 0;
}

.content-type__form-header-left {
    flex-grow: 1;
}

.content-type__edit-title-icon {
    width: 30px;
    float: left;
    padding-top: $basic-padding;

    .fa {
        font-size: $icon-size;
    }
}

.content-type__edit-title {
    font-size: $font-size-large;
    display: flex;
    flex-flow: column wrap;
    h4 {
        margin: 0;
        color: $black;
        font-weight: normal;
    }
}

.content-type__edit-dot-separator {
    font-size: $font-size-x-large;
    margin: 0 4px;
    vertical-align: middle;
}

.content-type__edit-subtitle {
    font-size: $font-size-small;
    color: $gray;
}

.content-type__edit-actions {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
