<content-type-layout [contentTypeId]="data ? data.id : null">
    <content-types-form
        #form
        [data]="data"
        [type]="contentTypeType"
        [name]="contentTypeName | async"
        [icon]="contentTypeIcon"
        (onSubmit)="handleFormSubmit($event)"
        (onDelete)="deleteContentType($event)">
    </content-types-form>

    <content-type-fields-drop-zone *ngIf="data && data.fields"
        [fields]="data.fields"
        (saveFields)="saveFields($event)"
        (removeFields)="removeFields($event)">
    </content-type-fields-drop-zone>
</content-type-layout>
<p-confirmDialog width="425" #cd>
    <p-footer>
        <button type="button" pButton [label]="i18nMessages['contenttypes.action.no']" (click)="cd.reject()"></button>
        <button type="button" pButton [label]="i18nMessages['contenttypes.action.yes']" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
