@use "variables" as *;

p-fileupload {
    margin-top: $spacing-1;
    display: block;
}

.form__file-detail {
    margin-top: $spacing-1;
    display: flex;
    align-items: center;

    span {
        margin: 0px $spacing-1 0px $spacing-3;
    }
    img {
        border: 1px solid $gray;
        width: 100px;
    }
}
