<div class="reset-password__container" *ngIf="loginInfo$ | async as loginInfo">
    <h3>{{ loginInfo.i18nMessagesMap['reset-password'] }}</h3>
    <div class="error-message" [innerHTML]="message"></div>
    <form [formGroup]="resetPasswordForm" class="p-fluid">
        <div class="p-field form__group--validation">
            <label >{{ loginInfo.i18nMessagesMap['enter-password'] }}</label>
            <input
                pInputText
                type="password"
                dotAutofocus
                formControlName="password"
                autocomplete="new-password"
            />
            <dot-field-validation-message
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['enter-password']
                    )
                "
                [field]="resetPasswordForm.get('password')"
            >
            </dot-field-validation-message>
        </div>
        <div class="p-field form__group--validation">
            <label >{{ loginInfo.i18nMessagesMap['re-enter-password'] }}</label>
            <input
                pInputText
                type="password"
                formControlName="confirmPassword"
                autocomplete="new-password"
                (keypress)="cleanMessage()"
            />
            <dot-field-validation-message
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['re-enter-password']
                    )
                "
                [field]="resetPasswordForm.get('confirmPassword')"
            >
            </dot-field-validation-message>
        </div>
        <div class="p-field">
            <button
                type="submit"
                pButton
                [label]="loginInfo.i18nMessagesMap['change-password']"
                (click)="submit()"
                [disabled]="!resetPasswordForm.valid"
            ></button>
        </div>
    </form>
</div>
