<ng-container *ngFor="let message of messages">
    <dot-dialog
        (hide)="close(message)"
        [visible]="!!message.title"
        [header]="message.title"
        [width]="message.width || '500px'"
        [height]="message.height || '400px'">
        <div *ngIf="message.body" class="dialog-message__body"></div>

        <div *ngIf="message.code">
            <pre class="dialog-message__code">
                    {{ message.code.content }}
                </pre
            >
        </div>
    </dot-dialog>
</ng-container>
