@for (message of messages; track message) {
    <dot-dialog
        (hide)="close(message)"
        [visible]="!!message.title"
        [header]="message.title"
        [width]="message.width || '500px'"
        [height]="message.height || '400px'">
        @if (message.body) {
            <div class="dialog-message__body"></div>
        }
        @if (message.code) {
            <div>
                <pre class="dialog-message__code">
          {{ message.code.content }}
          </pre
                >
            </div>
        }
    </dot-dialog>
}
