@for (message of messages; track message) {
    <p-dialog
        [visible]="getMessageVisibility(message)"
        [header]="message.title"
        [modal]="true"
        [style]="{ width: message.width || '500px', height: message.height || '400px' }"
        (visibleChange)="onVisibilityChange(message, $event)"
        #dialog>
        @if (message.body) {
            <div class="dialog-message__body"></div>
        }
        @if (message.code) {
            <div>
                <pre class="dialog-message__code">
          {{ message.code.content }}
          </pre
                >
            </div>
        }
    </p-dialog>
}
