<div [formGroup]="group" class="field">
    <dot-field-helper
        *ngIf="helpText && isValidHelperClass()"
        [message]="helpText"></dot-field-helper>
    <label [for]="property.name" [checkIsRequiredControl]="property.name" dotFieldRequired>
        {{ 'contenttypes.field.properties.value.label' | dm }}
    </label>
    <dot-textarea-content
        [id]="property.name"
        [formControlName]="property.name"
        [show]="['code']"
        #value
        height="15.7rem"></dot-textarea-content>
    <dot-field-validation-message
        [field]="group.controls[property.name]"
        message="{{
            'contenttypes.field.properties.value.message' | dm
        }}"></dot-field-validation-message>
</div>
