<div [formGroup]="group" class="flex flex-column">
    <div class="flex align-items-center flex-wrap">
        <label [for]="property.name" [checkIsRequiredControl]="property.name" dotFieldRequired>
            {{ 'contenttypes.field.properties.value.label' | dm }}
        </label>
        @if (helpText && isValidHelperClass()) {
            <dot-field-helper [message]="helpText"></dot-field-helper>
        }
    </div>
    <dot-textarea-content
        [id]="property.name"
        [formControlName]="property.name"
        [show]="['code']"
        #value
        height="15.7rem"></dot-textarea-content>
    <dot-field-validation-message
        [field]="group.controls[property.name]"
        message="{{
            'contenttypes.field.properties.value.message' | dm
        }}"></dot-field-validation-message>
</div>
