@import "../../../../scss/mixins";
@import "../../../../scss/variables";

:host {
    display: block;

    dot-select {
        display: block;
    }

    .login-as {
        color: $black;
        display: block;
        padding: 0px 10px;

        input {
            with: 100%;
        }
    }

}

