<p-overlayPanel #overlay appendTo="body">
    <div class="dot-sidebar-properties__radio-buttons-container">
        <div class="field-checkbox">
            <p-radioButton
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.small' | dm"
                (click)="changeSidebarSize()"
                name="sidebarWidth"
                value="small"
            ></p-radioButton>
        </div>
        <div class="field-checkbox">
            <p-radioButton
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.medium' | dm"
                (click)="changeSidebarSize()"
                name="sidebarWidth"
                value="medium"
            ></p-radioButton>
        </div>
        <div class="field-checkbox">
            <p-radioButton
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.large' | dm"
                (click)="changeSidebarSize()"
                name="sidebarWidth"
                value="large"
            ></p-radioButton>
        </div>
    </div>
</p-overlayPanel>

<button
    class="p-button-sm p-button-outlined"
    (click)="overlay.toggle($event)"
    pButton
    type="button"
    label="{{ 'open' | dm }}"
    icon="pi pi-ellipsis-v"
></button>
