<p-overlayPanel #overlay appendTo="body">
    <div class="dot-sidebar-properties__radio-buttons-container">
        <div class="field-checkbox">
            <p-radioButton
                (click)="changeSidebarSize()"
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.small' | dm"
                name="sidebarWidth"
                value="small"></p-radioButton>
        </div>
        <div class="field-checkbox">
            <p-radioButton
                (click)="changeSidebarSize()"
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.medium' | dm"
                name="sidebarWidth"
                value="medium"></p-radioButton>
        </div>
        <div class="field-checkbox">
            <p-radioButton
                (click)="changeSidebarSize()"
                [(ngModel)]="value.width"
                [label]="'editpage.layout.sidebar.width.large' | dm"
                name="sidebarWidth"
                value="large"></p-radioButton>
        </div>
    </div>
</p-overlayPanel>

<button
    (click)="overlay.toggle($event)"
    class="p-button-sm p-button-outlined"
    pButton
    type="button"
    label="{{ 'open' | dm }}"
    icon="pi pi-ellipsis-v"></button>
