<div class="reset-password__container" *ngIf="loginInfo$ | async as loginInfo">
    <h3 data-testId="header">{{ loginInfo.i18nMessagesMap['reset-password'] }}</h3>
    <p class="error-message p-invalid" [innerHTML]="message" data-testid="errorMessage"></p>
    <form class="p-fluid" [formGroup]="resetPasswordForm">
        <div class="field form__group--validation">
            <label data-testId="enterLabel">{{
                loginInfo.i18nMessagesMap['enter-password']
            }}</label>
            <input
                autocomplete="new-password"
                dotAutofocus
                formControlName="password"
                pInputText
                type="password"
            />
            <dot-field-validation-message
                [field]="resetPasswordForm.get('password')"
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['enter-password']
                    )
                "
            >
            </dot-field-validation-message>
        </div>
        <div class="field form__group--validation">
            <label data-testId="confirmLabel">{{
                loginInfo.i18nMessagesMap['re-enter-password']
            }}</label>
            <input
                (keypress)="cleanMessage()"
                autocomplete="new-password"
                formControlName="confirmPassword"
                pInputText
                type="password"
            />
            <dot-field-validation-message
                [field]="resetPasswordForm.get('confirmPassword')"
                [message]="
                    loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                        '{0}',
                        loginInfo.i18nMessagesMap['re-enter-password']
                    )
                "
            >
            </dot-field-validation-message>
        </div>
        <div class="field">
            <button
                [disabled]="!resetPasswordForm.valid"
                [label]="loginInfo.i18nMessagesMap['change-password']"
                (click)="submit()"
                data-testId="submitButton"
                pButton
                type="submit"
            ></button>
        </div>
    </form>
</div>
