@if (loginInfo$ | async; as loginInfo) {
    <div class="reset-password__container">
        <h3 data-testId="header">{{ loginInfo.i18nMessagesMap['reset-password'] }}</h3>
        <p [innerHTML]="message" class="error-message p-invalid" data-testid="errorMessage"></p>
        <form [formGroup]="resetPasswordForm" class="p-fluid">
            <div class="field form__group--validation">
                <label dotFieldRequired for="password" data-testId="enterLabel">
                    {{ loginInfo.i18nMessagesMap['enter-password'] }}
                </label>
                <input
                    id="password"
                    autocomplete="new-password"
                    dotAutofocus
                    formControlName="password"
                    pInputText
                    type="password" />
                <dot-field-validation-message
                    [field]="resetPasswordForm.get('password')"
                    [message]="
                        loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                            '{0}',
                            loginInfo.i18nMessagesMap['enter-password']
                        )
                    "></dot-field-validation-message>
            </div>
            <div class="field form__group--validation">
                <label dotFieldRequired for="confirmPassword" data-testId="confirmLabel">
                    {{ loginInfo.i18nMessagesMap['re-enter-password'] }}
                </label>
                <input
                    (keypress)="cleanMessage()"
                    id="confirmPassword"
                    autocomplete="new-password"
                    formControlName="confirmPassword"
                    pInputText
                    type="password" />
                <dot-field-validation-message
                    [field]="resetPasswordForm.get('confirmPassword')"
                    [message]="
                        loginInfo.i18nMessagesMap['error.form.mandatory'].replace(
                            '{0}',
                            loginInfo.i18nMessagesMap['re-enter-password']
                        )
                    "></dot-field-validation-message>
            </div>
            <div class="field">
                <button
                    (click)="submit()"
                    [disabled]="!resetPasswordForm.valid"
                    [label]="loginInfo.i18nMessagesMap['change-password']"
                    data-testId="submitButton"
                    pButton
                    type="submit"></button>
            </div>
        </form>
    </div>
}
