@use "variables" as *;

:host ::ng-deep {
    .dot-container-properties__title-container {
        padding: $spacing-4 0;
    }

    .dot-container-properties__code-container-outer {
        background: $white;
        display: flex;
        height: 100%;
        flex-direction: column;

        .dot-container-properties__pre-post-loop {
            .dot-container-properties__pre-post-loop-inplace {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: $spacing-6;
                background: #e9ebfc;
            }

            dot-textarea-content {
                height: 20vh !important;
            }
        }

        form {
            margin: $spacing-3;
        }
        dot-textarea-content {
            height: 40vh !important;
        }
    }

    .tab-panel-btn {
        background: #1b3359;

        a {
            padding: 0 !important;
        }

        i {
            color: $white;
            padding: 1.2rem 2.5rem 1.35rem;
        }
    }

    .p-tabview-panel {
        padding: 0 !important;
        padding-top: 1.5rem !important;
    }

    .dot-container-properties__content-tab-container {
        padding: $spacing-4 0;
    }
}
