<ng-container *ngIf="vm$ | async as vm">
    <div class="dot-container-properties__title-container">
        <p-inplace #editText>
            <ng-template pTemplate="content">
                <span class="p-input-icon-right">
                    <i class="pi pi-times" (click)="editText.deactivate()"></i>
                    <input type="text" pInputText />
                </span>
            </ng-template>
            <ng-template pTemplate="display">
                Click to Edit
                <i class="pi pi-pencil"></i>
            </ng-template>
        </p-inplace>
    </div>
    <div class="field">
        <label for="description" class="block">Description</label>
        <input id="description" type="text" pInputText />
    </div>
    <div class="field">
        <label for="max-contents" class="block">Max Contents</label>
        <input id="max-contents" type="text" pInputText />
        <button pButton class="p-button-secondary" type="button" label="Clear"></button>
        <button pButton type="button" label="content type code"></button>
    </div>

    <div class="dot-container-properties__code-container-outer">
        <form [formGroup]="form">
            <div class="dot-container-properties__pre-post-loop">
                <div
                    class="dot-container-properties__pre-post-loop-inplace"
                    *ngIf="!vm.showPrePostLoopInput"
                >
                    <button
                        pButton
                        class="p-button-outlined p-button-secondary"
                        type="button"
                        label="ADD PRE AND POST LOOP CODE"
                        (click)="showLoopInput()"
                    ></button>
                </div>
                <div *ngIf="vm.showPrePostLoopInput">
                    <label>Pre-loop</label>
                    <dot-textarea-content
                        formControlName="body"
                        #value
                        height="100%"
                        formControlName="body"
                        [show]="['code']"
                        language="html"
                        (monacoInit)="initEditor($event)"
                    ></dot-textarea-content>
                </div>
            </div>
            <div class="dot-container-properties__content-tab-container">
                <label>Content Type and Code</label>
                <p-tabView
                    [scrollable]="true"
                    (onChange)="handleChange($event)"
                    [activeIndex]="vm.activeTabIndex"
                >
                    <p-tabPanel headerStyleClass="tab-panel-btn">
                        <ng-template pTemplate="header">
                            <i
                                class="pi pi-plus"
                                (click)="handleChange($event); actionsMenu.toggle($event)"
                            ></i>
                            <p-menu
                                #actionsMenu
                                [popup]="true"
                                [model]="vm.contentTypes"
                                appendTo="body"
                            ></p-menu>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel closable="true" header="Content (Generic)">
                        <dot-textarea-content
                            formControlName="body"
                            #value
                            height="100%"
                            formControlName="body"
                            [show]="['code']"
                            language="html"
                            (monacoInit)="initEditor($event)"
                        ></dot-textarea-content>
                    </p-tabPanel>
                </p-tabView>
            </div>
            <div class="dot-container-properties__pre-post-loop">
                <div
                    class="dot-container-properties__pre-post-loop-inplace"
                    *ngIf="!vm.showPrePostLoopInput"
                >
                    <button
                        pButton
                        class="p-button-outlined p-button-secondary"
                        type="button"
                        label="ADD PRE AND POST LOOP CODE"
                    ></button>
                </div>
                <div *ngIf="vm.showPrePostLoopInput">
                    <label>Post-loop</label>
                    <dot-textarea-content
                        formControlName="body"
                        #value
                        height="100%"
                        formControlName="body"
                        [show]="['code']"
                        language="html"
                        (monacoInit)="initEditor($event)"
                    ></dot-textarea-content>
                </div>
            </div>
        </form>
    </div>
</ng-container>
