@import "variables";
@import "mixins";

:host {
    background: $white;
    cursor: move;
    display: flex;
    height: $content-type-field-height;
    padding: $basic-padding * 2;
    transition: box-shadow $basic-speed;

    &:hover {
        box-shadow: $md-shadow-5;
        z-index: 1;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

dot-icon-button-tooltip ::ng-deep .material-icons,
dot-icon {
    color: $gray;
}

dot-icon {
    margin-right: $basic-padding;
}


.field__properties,
.field__icon {
    display: flex;
}

.field__properties {
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.field__name {
    margin-right: $basic-padding / 2;
    @include truncate-text;
}

.field__name-inner {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.field__name-wrapper {
    display: flex;
    align-items: center;
}

.field__attribute,
.field__variable {
    color: gray;
    font-size: $font-size-small;
    overflow: hidden;
    display: flex;
}

.field__attribute {
    min-height: $font-size-small;
    margin-left: 26px;
}

.field__actions {
    flex-shrink: 0;
    margin-left: $basic-padding;

    & > * {
        margin: 0 $basic-padding / 4;
    }
}
