<accordion>
    <nav>
        <template ngFor let-menu [ngForOf]="menuItems">
            <accordion-group [heading]="menu.tabName" [icon]="menu.tabIcon">
                <div class="main-nav__submenu">
                    <template ngFor let-menuItem [ngForOf]="menu.menuItems">
                        <a (click)="gotToPage(menuItem.menuLink)" [routerLink]="[menuItem.menuLink]" *ngIf="menuItem.url && !menuItem.angular && !menuItem.ajax">
                            {{menuItem.name}}
                        </a>
                        <a [routerLink]="[menuItem.url]" *ngIf="menuItem.angular && !menuItem.ajax">
                            {{menuItem.name}}
                        </a>
                        <a (click)="gotToPage(menuItem.menuLink)" [routerLink]="[menuItem.menuLink]" *ngIf="menuItem.url && menuItem.ajax">
                            {{menuItem.name}}
                        </a>
                    </template>
                </div>
            </accordion-group>
        </template>
    </nav>
</accordion>