<server description="dotcms server">

    <jvmEntries
            verboseModeClass="false"
            verboseModeGarbageCollection="true"
            verboseModeJNI="false"
            runHProf="false"
            hprofArguments=""
            debugMode="false"
            debugArgs=""
            genericJvmArguments="-Xmx4GB"/>

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>jsp-2.2</feature>
        <feature>jndi-1.0</feature>
        <feature>sessionDatabase-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="8080" httpsPort="9443"/>

    <httpOptions maxKeepAliveRequests="-1"/>
    <application name="dotcms" context-root="/" type="war" id="dotcms" location="dotcms.war" autoStart="true"/>
    <applicationMonitor dropinsEnabled="false" updateTrigger="disabled"/>
    <config updateTrigger="disabled"/>

    <connectionManager maxPoolSize="100"/>

    <!-- +++++++++++++++++++++++++++++++++++++++++ -->
    <!-- H2 db -->
    <dataSource id="h2DS" jndiName="jdbc/dotCMSPool" type="javax.sql.DataSource">

        <jdbcDriver javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" libraryRef="h2-lib" id="h2Driver"/>

        <!--
        ERROR com.dotmarketing.db.DbConnectionFactory - - DBConnectionFactory: error : java.sql.SQLException:
        A file path that is implicitly relative to the current working directory is not allowed in the database URL "jdbc:h2:h2_dotcms_data;MVCC=TRUE".
        Use an absolute path, ~/name, ./name, or the baseDir setting instead. [90011-178] DSRA0010E: SQL State = 90011, Error Code = 90,011
        <properties user="sa" password="sa" url="jdbc:h2:h2_dotcms_data;MVCC=TRUE"/>
        -->

        <properties user="sa" password="sa" url="jdbc:h2:/opt/dotcms/dotsecure/h2_dotcms_data;MVCC=TRUE"/>

    </dataSource>
    <library id="h2-lib" name="h2 JDBC Driver">
        <!--
        ERROR com.dotmarketing.db.DbConnectionFactory - - DBConnectionFactory: error :
        java.sql.SQLClientInfoException: null DSRA0010E: SQL State = null, Error Code = 0
        <fileset dir="/opt/IBM/WebSphere/Liberty/lib" includes="h2-1.3.169.jar"/>
        -->

        <fileset dir="/opt/IBM/WebSphere/Liberty/usr/servers/dotcms/apps/dotcms.war/WEB-INF/lib" includes="h2-1.3.176.jar"/>
    </library>
    <!-- H2 db -->
    <!-- +++++++++++++++++++++++++++++++++++++++++ -->

    <!-- +++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Postgres
    <dataSource id="postgresDS" jndiName="jdbc/dotCMSPool" type="javax.sql.XADataSource">
        <jdbcDriver javax.sql.XADataSource="org.postgresql.xa.PGXADataSource" libraryRef="postgres-lib"/>
        <properties databaseName="dotcms" serverName="localhost" portNumber="5432" url="jdbc:postgresql://localhost/dotcms" user="postgres" password="postgres" />
    </dataSource>
    <library id="postgres-lib">
        <fileset dir="/opt/IBM/WebSphere/Liberty/lib" includes="postgresql-9.0-801.jdbc3.jar"/>
    </library>
    -->
    <!-- Postgres -->
    <!-- +++++++++++++++++++++++++++++++++++++++++ -->

</server>