<dot-edit-page-toolbar
    (changeState)="statePageHandler($event)"
    (save)="saveContent()"
    [mode]="pageMode"
    [page]="page"
    [canSave]="isModelUpdated"
    [pageWorkflows]="pageWorkFlows | async"
    class="dot-edit__toolbar"
    #toolbar>
</dot-edit-page-toolbar>

<div class="dot-edit__page-wrapper">
    <dot-loading-indicator fullscreen="true"></dot-loading-indicator>
    <iframe #iframe width="100%" height="100%" frameborder="0" class="dot-edit__iframe" (load)="onLoad($event)"></iframe>

    <p-dialog class="dot-edit__page-dialog"
        (onHide)="onHideDialog($event)"
        [closable]="true"
        [closeOnEscape]="true"
        [dismissableMask]="true"
        [header]="dialogTitle"
        [height]="dialogSize.height"
        [modal]="true"
        [visible]="!!dialogTitle"
        [width]="dialogSize.width">
        <iframe class="dot-edit__contentlet-iframe" *ngIf="contentletActionsUrl" #contentletActionsIframe [src]="contentletActionsUrl" frameborder="0"></iframe>
    </p-dialog>
</div>
