@use "../../../../../../../../../libs/dotcms-scss/shared/colors";

@use "variables" as *;

.loader__overlay {
    background: colors.$color-palette-white-op-70;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;

    dot-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
