<dot-portlet-base *ngIf="vm$ | async as vm">
    <div class="flex justify-content-between p-3">
        <div>
            <button
                class="p-button-secondary p-button"
                [label]="'Actions' | dm"
                (click)="actionsMenu.toggle($event)"
                type="button"
                pButton
                icon="pi pi-ellipsis-v"
                attr.data-testid="actions"
            ></button>
            <p-menu
                #actionsMenu
                [popup]="true"
                [model]="vm.categoriesBulkActions"
                appendTo="body"
            ></p-menu>
        </div>
        <div class="w-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input
                    (input)="onChange($event)"
                    type="text"
                    pInputText
                    placeholder="Type to filter"
                />
            </div>
        </div>
        <div>
            <button
                class="p-button-outlined"
                pButton
                pRipple
                type="button"
                label="IMPORT"
                icon="pi pi-upload"
            ></button>
            <button
                class="p-button-outlined mx-2"
                pButton
                pRipple
                type="button"
                label="EXPORT"
                icon="pi pi-download"
            ></button>
            <button
                class="p-button-raised p-button-rounded text-white"
                pButton
                pRipple
                type="button"
                icon="pi pi-plus"
            ></button>
        </div>
    </div>
    <div class="p-3">
        <p-table
            [(selection)]="selectedCategories"
            [value]="vm.categories"
            [metaKeySelection]="true"
            [reorderableColumns]="true"
            [columns]="vm.tableColumns"
            selectionMode="multiple"
            dataKey="categoryId"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem"></th>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category let-index="rowIndex" let-columns="columns">
                <tr [pReorderableRow]="index" [pSelectableRow]="category">
                    <td>
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td style="width: 3rem">
                        <p-tableCheckbox [value]="category"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.fieldName === 'sortOrder'; else Actions">
                            <p-inplace #editText styleClass="listing__categories__sortOrder">
                                <ng-template pTemplate="content">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-times" (click)="editText.deactivate()"></i>
                                        <p-inputNumber [value]="category.sortOrder"></p-inputNumber>
                                    </span>
                                </ng-template>
                                <ng-template pTemplate="display">
                                    {{ category.sortOrder }}
                                    <i class="pi pi-pencil"></i>
                                </ng-template>
                            </p-inplace>
                        </ng-container>
                        <ng-template #Actions>
                            <ng-container *ngIf="col.fieldName === 'Actions'; else third">
                                <dot-action-menu-button
                                    class="listing-categories__action-button"
                                    [attr.data-testid]="category.categoryId"
                                    [actions]="vm.categoriesActions"
                                    [item]="category"
                                >
                                </dot-action-menu-button>
                            </ng-container>
                        </ng-template>
                        <ng-template #third>
                            {{ category[col.fieldName] }}
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator
            [rows]="vm.paginationPerPage"
            [totalRecords]="vm.totalRecords"
            (onPageChange)="paginate($event)"
        ></p-paginator>
    </div>
</dot-portlet-base>
