@if (vm$ | async; as vm) {
    <dot-portlet-base>
        <div class="px-4 py-2">
            <p-breadcrumb
                (onItemClick)="updateBreadCrumb($event)"
                [model]="vm.categoryBreadCrumbs"
                [home]="breadCrumbHome" />
        </div>
        <div class="category_listing">
            <p-table
                (onLazyLoad)="loadCategories($event)"
                (onRowSelect)="handleRowCheck()"
                (onRowUnselect)="handleRowCheck()"
                (onHeaderCheckboxToggle)="handleRowCheck()"
                (onFilter)="handleFilter()"
                [(selection)]="selectedCategories"
                [value]="vm.categories"
                [lazy]="true"
                [rows]="vm.paginationPerPage"
                [totalRecords]="vm.totalRecords"
                [paginator]="true"
                [reorderableColumns]="true"
                [columns]="vm.tableColumns"
                #dataTable
                selectionMode="checkbox"
                loadingIcon="pi pi-spin pi-spinner"
                dataKey="categoryId">
                <ng-template pTemplate="caption">
                    <div class="flex justify-between p-4">
                        <div>
                            <button
                                (click)="actionsMenu.toggle($event)"
                                [disabled]="vm.selectedCategories.length === 0"
                                [label]="'Actions' | dm"
                                class="p-button-outlined p-button"
                                type="button"
                                pButton
                                icon="pi pi-ellipsis-v"
                                data-testId="actions"></button>
                            <p-menu
                                [popup]="true"
                                [model]="vm.categoriesBulkActions"
                                #actionsMenu
                                appendTo="body" />
                        </div>
                        <div class="w-2/12">
                            <div class="p-inputgroup">
                                <span class="border-r-0 p-inputgroup-addon">
                                    <i class="pi pi-search"></i>
                                </span>
                                <input
                                    [placeholder]="'message.category.search' | dm"
                                    class="border-l-0"
                                    #gf
                                    (input)="dataTable.filterGlobal(gf.value, 'contains')"
                                    type="text"
                                    pInputText />
                            </div>
                        </div>
                        <div>
                            <button
                                [label]="'message.category.import' | dm"
                                class="p-button-outlined"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-upload"></button>
                            <button
                                [label]="'message.category.export' | dm"
                                class="p-button-outlined mx-6"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-download"></button>
                            <button
                                class="p-button-raised p-button-rounded text-white"
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-plus"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr data-testId="testHeadTableRow">
                        <th class="tableHeader" style="width: 3rem"></th>
                        <th class="tableHeader" style="width: 3rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        @for (col of columns; track col) {
                            <th
                                [ngStyle]="{ width: col.width }"
                                [pSortableColumn]="col.fieldName"
                                class="tableHeader">
                                {{ col.header }}
                                @if (col.sortable) {
                                    <p-sortIcon [field]="col.fieldName" />
                                }
                            </th>
                        }
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-category
                    let-index="rowIndex"
                    let-columns="columns">
                    <tr
                        (click)="addBreadCrumb(category)"
                        [pReorderableRow]="index"
                        [pSelectableRow]="category"
                        data-testId="testTableRow">
                        <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                        </td>
                        <td (click)="$event.stopPropagation()" style="width: 3rem">
                            <p-tableCheckbox [value]="category" />
                        </td>
                        @for (col of columns; track col) {
                            <td [ngStyle]="{ width: col.width }">
                                @if (col.fieldName === 'sortOrder') {
                                    <p-inplace
                                        (click)="$event.stopPropagation()"
                                        #editText
                                        styleClass="category_listing__sortOrder">
                                        <ng-template pTemplate="content">
                                            <span class="p-input-icon-right">
                                                <i
                                                    (click)="editText.deactivate()"
                                                    class="pi pi-times"></i>
                                                <p-inputNumber
                                                    [ngModel]="category.sortOrder"
                                                    inputStyleClass="category_listing__sortOrder__field" />
                                            </span>
                                        </ng-template>
                                        <ng-template pTemplate="display">
                                            {{ category.sortOrder }}
                                            <i class="pi pi-pencil"></i>
                                        </ng-template>
                                    </p-inplace>
                                } @else {
                                    @if (col.fieldName === 'Actions') {
                                        <dot-action-menu-button
                                            (click)="$event.stopPropagation()"
                                            [attr.data-testId]="category.categoryId"
                                            [actions]="vm.categoriesActions"
                                            [item]="category"
                                            class="listing-categories__action-button" />
                                    } @else {
                                        {{ category[col.fieldName] }}
                                    }
                                }
                            </td>
                        }
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length + 3" class="p-0">
                            @if (isContentFiltered) {
                                <div
                                    class="category_listing-datatable__empty"
                                    data-testId="category_listing-datatable__empty">
                                    {{ 'No-Results-Found' | dm }}
                                </div>
                            } @else {
                                <dot-empty-state
                                    [rows]="10"
                                    [colsTextWidth]="[60, 50, 60, 80]"
                                    [title]="'message.category.empty.title' | dm"
                                    [content]="'message.category.empty.content' | dm"
                                    [buttonLabel]="'message.category.empty.button.label' | dm"
                                    icon="web" />
                            }
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </dot-portlet-base>
}
