<dot-icon-button *ngIf="icon" big [icon]="icon" (click)="onToggle()" [attr.disabled]="disabled">
    <ng-content select=".badge"></ng-content>
</dot-icon-button>

<button
    pButton
    *ngIf="title"
    icon="fa fa-chevron-down"
    iconPos="right"
    [label]="title"
    (click)="onToggle()"
    [disabled]="disabled"
></button>

<dot-gravatar
    class="dropdown-component__gravatar"
    *ngIf="gravatar"
    size="32"
    [email]="gravatar"
    (click)="onToggle()"
></dot-gravatar>

<div
    class="dropdown-content"
    *ngIf="show"
    [@enterAnimation]="show"
    [ngStyle]="!position || position === 'left' ? { left: 0 } : { right: 0 }"
>
    <ng-content></ng-content>
</div>
