@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  input.ui-inputtext {
    display: block;
    width: 100%;
  }

  md-input {
    overflow: inherit;
    width: 100%;
  }

  .cms-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cms-info__message {
    color: $gray-dark;
    font-size: rem-cal(12px);
  }

  .cms-info__logo {
    width: 200px;
  }

  .login__container {
    @include box_shadow(5);
    border-radius: $border-radius;
    background-color: $white;
    display: flex;
    padding: $basic-padding * 4;

    &.forgot-password__container {
      display: block;
      margin: 0 auto;
      padding: 30px;
      width: 500px;
    }
  }

  .login__title {
    color: $brand-primary;
    font-size: rem-cal(24px);
    font-weight: normal;
    margin: 0 0 rem-cal($basic-padding * 2);
  }

  .signin {
    border-left: solid 1px $gray-light;
    padding-left: 60px;
    position: relative;

    &:before {
      background-color: $white;
      border: solid $gray-light;
      border-width: 1px 1px 0 0;
      content: '';
      height: 14px;
      left: -7px;
      margin-top: -7px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 14px;
    }

  }
}