@if (themeDialogVisibility) {
    <dot-theme-selector
        (selected)="changeThemeHandler($event)"
        (shutdown)="closeThemeDialog()"
        [value]="currentTheme">
    </dot-theme-selector>
}
<dot-secondary-toolbar>
    <div class="main-toolbar-left">
        <dot-edit-page-info
            [apiLink]="apiLink"
            [title]="title"
            [url]="url"
            class="flex align-items-center gap-2"></dot-edit-page-info>
    </div>

    <div class="main-toolbar-right flex align-items-center gap-3">
        <dot-global-message></dot-global-message>
        @if (!currentTheme) {
            <button
                (click)="themeDialogVisibility = !themeDialogVisibility"
                [label]="'editpage.layout.theme.button.label' | dm"
                [pTooltip]="'org.dotcms.frontend.content.submission.not.proper.permissions' | dm"
                class="dot-edit-layout__toolbar-action-themes p-button-text p-button-vertical"
                disabled="false"
                pButton
                tooltipPosition="left"
                type="button">
                <span class="p-button-icon material-icons">brush</span>
            </button>
        } @else {
            <button
                (click)="themeDialogVisibility = !themeDialogVisibility"
                [label]="currentTheme?.name || 'Themes'"
                class="dot-edit-layout__toolbar-action-themes p-button-text p-button-vertical"
                pButton
                type="button">
                <span class="p-button-icon material-icons">brush</span>
            </button>
        }
        <dot-layout-properties [group]="form.get('layout')"></dot-layout-properties>
        <p-button (click)="addGridBox()" icon="pi pi-plus" styleClass="p-button-rounded"></p-button>
        @if (!apiLink || saveAsTemplate) {
            <span class="toolbar__sep"></span>
        }
        @if (!apiLink) {
            <button
                (click)="onSaveAndPublish()"
                [disabled]="disablePublish"
                [label]="'Publish' | dm"
                class="p-button-outlined"
                data-testid="publishBtn"
                pButton
                type="button"></button>
        }
        @if (saveAsTemplate) {
            <input
                class="dot-edit-layout__toolbar-template-name"
                #templateName
                formControlName="title"
                pInputText
                placeholder="{{ 'editpage.layout.toolbar.template.name' | dm }} *"
                type="text" />
        }
    </div>
</dot-secondary-toolbar>
<form (ngSubmit)="onSave()" [formGroup]="form" novalidate>
    <dot-layout-designer formGroupName="layout"></dot-layout-designer>
</form>
