@use "variables" as *;
@use "mixins";
@use "dotcms-theme/utils/_mixins.scss" as mixins2;
@use "../../../../../../../libs/dotcms-scss/shared/colors";

.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.layout__navigation {
    background-color: colors.$brand-background;
    flex-shrink: 0;
}

.layout__main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.layout__branding-bar {
    flex-shrink: 0;
}

.layout__viewport {
    overflow: hidden;
    height: 100%;
    width: 100%;
    flex: 1;
}
