<!-- TODO: Move this to iframe-portlet-legacy -->
<dot-create-contentlet (custom)="onCustomEvent($event)" />
<dot-message-display />

<div class="layout">
    <div class="layout__content">
        <aside class="layout__sidebar">
            <dot-main-nav />
        </aside>
        <main class="layout__main">
            <header class="layout__header">
                <dot-toolbar />
            </header>
            <router-outlet />
        </main>
    </div>
</div>

<!-- After the router-outlet to make sure always shows up on top of any other dialog in the system -->
<dot-large-message-display />
<dot-alert-confirm />
<dot-push-publish-dialog />
<dot-download-bundle-dialog />
<dot-wizard />
<dot-generate-secure-password />
<dot-content-compare-dialog />
