@use "variables" as *;
@use "dotcms-theme/utils/theme-variables" as *;
@use "mixins";
@use "../../../../../../../../../libs/dotcms-scss/shared/colors";
@use "../../../../../../../../../libs/dotcms-scss/shared/fonts";
@use "../../../../../../../../../libs/dotcms-scss/shared/spacing";

:host {
    display: block;
}

.banner {
    background: colors.$color-palette-primary-200;
    color: colors.$color-palette-primary-900;
    padding: spacing.$spacing-2 spacing.$spacing-4;
    font-size: fonts.$font-size-sm;
    position: absolute;
    width: 100%;
    margin-left: -(spacing.$spacing-5);
    top: 5.5rem;
    left: spacing.$spacing-5;
    display: flex;
    align-items: center;
    gap: spacing.$spacing-1;

    a {
        color: colors.$color-palette-primary-900;
    }

    /* Adjust the size of the checkbox */
    ::ng-deep .ui-chkbox-box {
        width: 10px;
        height: 10px;
    }

    /* Adjust the size of the check icon inside the checkbox */
    ::ng-deep .ui-chkbox-icon {
        width: 10px;
        height: 10px;
    }
}
