<form class="content-type__form p-fluid" id="content-type-form" [formGroup]="form" novalidate>
    <div class="field form__group--validation">
        <label dotFieldRequired for="content-type-form-name">{{ nameFieldLabel }}</label>
        <input
            id="content-type-form-name"
            #name
            [tabindex]="1"
            pInputText
            type="text"
            name="name"
            formControlName="name"
            dotAutofocus
        />
        <dot-field-validation-message
            [message]="'dot.common.message.field.required' | dm : [nameFieldLabel]"
            [field]="form.get('name')"
        ></dot-field-validation-message>
    </div>
    <div class="field">
        <label for="content-type-form-description">{{ 'contenttypes.form.label.icon' | dm }}</label>
        <dot-md-icon-selector
            id="content-type-form-icon"
            [tabindex]="2"
            formControlName="icon"
        ></dot-md-icon-selector>
    </div>

    <div class="field">
        <label for="content-type-form-description">{{
            'contenttypes.form.label.description' | dm
        }}</label>
        <input
            id="content-type-form-description"
            [tabindex]="3"
            pInputText
            type="text"
            name="description"
            formControlName="description"
        />
    </div>
    <div class="field">
        <label for="content-type-form-host">{{
            'contenttypes.form.field.host_folder.label' | dm
        }}</label>
        <dot-site-selector-field
            id="content-type-form-host"
            [system]="true"
            [tabindex]="4"
            formControlName="host"
        ></dot-site-selector-field>
    </div>
    <div class="field">
        <label for="content-type-form-workflow">{{
            'contenttypes.form.label.workflow' | dm
        }}</label>
        <dot-workflows-selector-field
            id="content-type-form-workflow"
            [tabindex]="5"
            formControlName="workflows"
        ></dot-workflows-selector-field>
    </div>
    <div class="field" formGroupName="systemActionMappings">
        <label for="content-type-form-workflow">{{
            'contenttypes.form.label.workflow.actions' | dm
        }}</label>
        <dot-workflows-actions-selector-field
            [tabindex]="6"
            [workflows]="workflowsSelected$ | async"
            formControlName="NEW"
        ></dot-workflows-actions-selector-field>
    </div>
    <span
        class="p-field-hint form-workflow-community-message"
        id="field-workflow-hint"
        *ngIf="form.get('workflows').disabled"
        >{{ 'contenttypes.form.hint.error.only.default.scheme.available.in.Community' | dm }}</span
    >
    <div class="p-formgrid grid">
        <div class="field col">
            <label for="content-type-form-publish-date-field">{{
                'contenttypes.form.label.publish.date.field' | dm
            }}</label>
            <p-dropdown
                id="content-type-form-publish-date-field"
                [options]="dateVarOptions"
                [style]="{ 'min-width': '90px' }"
                [tabindex]="7"
                (onChange)="handleDateVarChange($event, 'publishDateVar')"
                appendTo="body"
                name="publishDateVar"
                formControlName="publishDateVar"
            ></p-dropdown>
        </div>
        <div class="field col">
            <label for="content-type-form-expire-date-field">{{
                'contenttypes.form.field.expire.date.field' | dm
            }}</label>
            <p-dropdown
                id="content-type-form-expire-date-field"
                [options]="dateVarOptions"
                [style]="{ 'min-width': '90px' }"
                [tabindex]="8"
                (onChange)="handleDateVarChange($event, 'expireDateVar')"
                appendTo="body"
                name="expireDateVar"
                formControlName="expireDateVar"
            ></p-dropdown>
        </div>
    </div>

    <div class="field" *ngIf="!dateVarOptions.length">
        <small class="p-field-hint field__date-hint" id="field-dates-hint">{{
            'contenttypes.form.message.no.date.fields.defined' | dm
        }}</small>
    </div>

    <div class="field" *ngIf="form.get('detailPage')">
        <label for="content-type-form-detail-page">
            {{ 'contenttypes.form.field.detail.page' | dm }}
        </label>
        <dot-page-selector
            id="content-type-form-detail-page"
            [tabindex]="9"
            formControlName="detailPage"
        ></dot-page-selector>
    </div>
    <div class="field form__group--helper" *ngIf="form.get('urlMapPattern')">
        <dot-field-helper
            [message]="'contenttypes.hint.URL.map.pattern.hint1' | dm"
        ></dot-field-helper>
        <label for="content-type-form-url-map-pattern">{{
            'contenttypes.form.label.URL.pattern' | dm
        }}</label>
        <input
            id="content-type-form-url-map-pattern"
            [tabindex]="10"
            pInputText
            type="text"
            name="urlMapPattern"
            formControlName="urlMapPattern"
        />
    </div>
</form>
