<div [formGroup]="group">
    <label class="form__label">{{i18nMessages['categories']}}</label>
    <searchable-dropdown #searchableDropdown (filterChange)="handleFilterChange($event)" (pageChange)="handlePageChange($event)"
        [data]="categoriesCurrentPage" [pageLinkSize]="paginationService.maxLinksPage" [rows]="paginationService.paginationPerPage"
        [totalRecords]="paginationService.totalRecords" placeholder="{{i18nMessages['contenttypes.field.properties.category.label']}}" 
        [formControlName]="property.name" labelPropertyName="categoryName" valuePropertyName="inode">
    </searchable-dropdown>

    <field-validation-message 
        [field]="group.controls[property.name]"
        [message]="i18nMessages['contenttypes.field.properties.category.error.required']">
    </field-validation-message>
</div>
