@import "dotcms-theme/utils/theme-variables";

.md-inputtext {
    display: inline-block;
    position: relative;
    padding-top: $basic-padding * 2;

    label {
        color: $label-color;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: $basic-padding * 3;
        transition: color $field-animation-speed ease-in, font-size $field-animation-speed ease-in, top $field-animation-speed ease-in;
    }

    input,
    textarea,
    p-autocomplete {
        width: 100%;

        &.p-inputwrapper-filled,
        &:focus {
            & ~ label {
                top: 0;
                font-size: $label-font-size;
                color: $brand-primary;
            }
        }

        &.p-state-filled,
        &.p-inputwrapper-focus,
        &:focus {
            & ~ label {
                top: 0;
                font-size: $font-size-small;
            }
        }

        &:focus {
            & ~ label {
                color: $brand-primary;
            }
        }

        &.ng-dirty.ng-invalid.ng-dirty,
        &.ng-invalid.ng-dirty {
            & ~ label {
                color: $red;
            }
        }
    }
}
